[2020-06-22 12:20] alanconway commented on #19301
Cool! On a separate note - I'd like to generate some local docs in the logging repo to reflect the state of our current development - not intended for release, just our own convenience.  I'm considering  https://github.com/elastic/crd-ref-docs - any other suggestions?

[2020-06-22 14:24] christianh814 opened #23165 "[enterprise-4.4] Issue in file builds/understanding-buildconfigs.adoc"
### Which section(s) is the issue in?

https://docs.openshift.com/container-platform/4.4/builds/understanding-buildconfigs.html

### What needs fixing?

There is no example on how to specify  a branch under `spec.source.git`

[2020-06-22 16:51] jboxman commented on #19301
@alanconway, you could look at what Prometheus Operator uses, but it might be the same tool. I'm not sure. Given the enormous size of the OpenAPI file, I rolled my own tool, so I'm not familiar with the available choices.

[2020-06-23 05:31] SaravanaStorageNetwork commented on #22970
I want to see a terminology link accessible from index page which contains different terms used in OpenShift - for example CRD, image streams, Projects(namespace), etc.,

One example for reference (in some other product):
https://access.redhat.com/documentation/en-us/red_hat_certificate_system/9/html/planning_installation_and_deployment_guide/Glossary

[2020-06-23 09:58] lbohnsac opened #23198 "[enterprise-4.4] Issue in file networking/configuring_ingress_cluster_traffic/configuring-ingress-cluster-traffic-service-external-ip.adoc"
### Which section(s) is the issue in?

https://docs.openshift.com/container-platform/4.4/networking/configuring_ingress_cluster_traffic/configuring-ingress-cluster-traffic-service-external-ip.html#nw-service-external-ip_configuring-ingress-cluster-traffic-service-external-ip

### What needs fixing?
important steps are missing!
1. how to define the IP/IP range to use for ingress traffic on the node

[2020-06-23 10:00] lbohnsac opened #23199 "[enterprise-4.4] Issue in file networking/openshift_sdn/assigning-egress-ips.adoc unfortune example in step 2"
### Which section(s) is the issue in?
https://docs.openshift.com/container-platform/4.4/networking/openshift_sdn/assigning-egress-ips.html#nw-egress-ips-automatic_egress-ips

### What needs fixing?
The example in step 2 does not fit to the explanation!
Add also an example with one command as explained in the example directly above not only with two commands ...

[2020-06-23 11:10] sjug commented on #23009
Hey there @trexx, you should use the same credentials you used (your pull-secret) to install the cluster initially.

[2020-06-23 11:42] trexx commented on #23009
So in my pull secrets, I see credentials for `cloud.openshift.com, quay.io, registry.connect.redhat.com, registry.redhat.io` but the documentation asks for me to pull from `registry.svc.ci.openshift.org` as far as I can tell, my pull secret doesn't authenticate me against the domain the documentation is asking me to pull from.

[2020-06-23 14:12] sjug commented on #23009
@trexx the registries have been in flux so you're entirely correct. I'm looking into this further.

[2020-06-23 14:17] chuckersjp opened #23216 "[enterprise-4.2] Issue in file storage/persistent_storage/persistent-storage-nfs.adoc"
### Which section(s) is the issue in?
https://docs.openshift.com/container-platform/4.2/storage/persistent_storage/persistent-storage-nfs.html#nfs-selinux_persistent-storage-nfs

### What needs fixing?
The procedure documented only applies to RHEL worker nodes.  The setting in question is already present RHCOS machines.  This can lead to confusion for the user and should be made more clear.
This c

[2020-06-23 19:56] peterclauterbach opened #23236 "[enterprise-4.4] Issue in file backup_and_restore/replacing-unhealthy-etcd-member.adoc"
### Which section(s) is the issue in?

https://docs.openshift.com/container-platform/4.4/backup_and_restore/replacing-unhealthy-etcd-member.html#restore-replace-stopped-etcd-member_replacing-unhealthy-etcd-member

### What needs fixing?

This should have a link to the section about how to take an etcd backup somewhere in here.

https://docs.openshift.com/container-platform/4.4/backup_and_restore/b

[2020-06-23 20:58] jboxman commented on #15945
This will ultimately get resolved by https://github.com/openshift/openshift-docs/pull/20076.

[2020-06-23 20:59] jboxman commented on #20630
This will be resolved by https://github.com/openshift/openshift-docs/pull/23057.

[2020-06-23 23:48] michaelgugino opened #23244 "[enterprise-4.4] Issue in file nodes/nodes/nodes-nodes-rebooting.adoc"
### Which section(s) is the issue in?

Need a new section

### What needs fixing?

In OpenShift 4, there is no direct way to reboot a node from within the cluster.  We should add this information specifically to this document.  The document currently reads as if it's going to instruct you 'how' to reboot a node or 'why' to reboot a node, but it really talks about other details.

This section also

[2020-06-24 02:39] jboxman commented on #22914
@Koma-Andrea, thanks!

[2020-06-24 02:39] #22914 closed

[2020-06-24 02:41] vikram-redhat commented on #23236
Hey @peterclauterbach unfortunately, due to modular docs requirements, we are not allowed to add links from within procedures to other docs.

That said the prereq for this section does provide the link to taking a backup.

@bergerhoffer

[2020-06-24 02:41] #23236 closed

[2020-06-24 06:29] trexx commented on #23009
Thanks. I've also come across this BZ too: [[doc] a different registry for the Cluster Loader [NEEDINFO]](https://bugzilla.redhat.com/show_bug.cgi?id=1817620)

[2020-06-24 13:32] yrro opened #23253 "[enterprise-4.4] Use of LoadBalancer services with OCP on OpenStack"
### Which section(s) is the issue in?
[Creating a LoadBalancer service](https://docs.openshift.com/container-platform/4.4/networking/configuring_ingress_cluster_traffic/configuring-ingress-cluster-traffic-load-balancer.html#nw-create-load-balancer-service_configuring-ingress-cluster-traffic-load-balancer)

### What needs fixing?
"The service has an external IP address automatically assigned if the

[2020-06-24 14:29] mburke5678 commented on #23244
@michaelgugino thank you for your comments.
I made a quick first cut at reworking the rebooting topic with the goal of making it clear that the topic is about things to consider when rebooting a node and not about *how* to reboot a node.
Do these changes start to address your concerns? We can certainly do more work on these file. Just want to make sure I am moving in the right direction. Please fe

[2020-06-24 14:43] maxwelldb opened #23257 "Style tweak to installation config value descriptions"
### Which section(s) is the issue in?

The installation configuration parameters module.

### What needs fixing?

This construction:

Should become:

FYI @kalexand-rh

[2020-06-24 18:15] maxwelldb opened #23269 "[3.11] Verify RHOSP branding compliance across docs"
### Which section(s) is the issue in?

All over the docs, including the Welcome page.

### What needs fixing?

Where possible*, replace occurrences of "OpenStack" with {rh-openstack-first} or {rh-openstack}.

\* Excludes linked external pages, scripts, CLI output, etc. where replacements could result in confusion or breakage.

3.11 sibling to #22975

[2020-06-25 09:14] radudd opened #23287 "[enterprise-4.4] Issue in file machine_management/creating-infrastructure-machinesets.adoc"
### Which section(s) is the issue in?
https://docs.openshift.com/container-platform/4.4/machine_management/creating-infrastructure-machinesets.html#infrastructure-moving-monitoring_creating-infrastructure-machinesets

### What needs fixing?
The configuration options for moving both the Prometheus operator and the Prometheus instances used for user workload monitoring(prometheusOperatorUserWorkload

[2020-06-25 16:22] yrro commented on #23253
After a bit of research I stumbled upon https://access.redhat.com/solutions/4722521 which explains that Octavia is not supported with OpenShiftSDN. Can this information be incorporated into the manual?

[2020-06-26 03:28] lamek commented on #22095
Thanks for spotting this. I created a PR to pull the current aws topic down and added a note to track the work of creating a new ARO specific topic.
https://github.com/openshift/openshift-docs/pull/23312

[2020-06-26 13:36] KedarS05 opened #23314 "[enterprise-4.5] Issue in file release_notes/ocp-4-5-release-notes.adoc"
### Which section(s) is the issue in?
The issue lies in the following documentation section
- https://docs.openshift.com/container-platform/4.5/release_notes/ocp-4-5-release-notes.html#rhba-2020-1234

### What needs fixing?
In the documentation section :
- https://docs.openshift.com/container-platform/4.5/release_notes/ocp-4-5-release-notes.html#rhba-2020-1234

The following link is showing 404 er

[2020-06-26 14:55] codyhoag commented on #23314
@KedarS05 the 4.5 release notes are a work in progress. The link for the container image list is a placeholder at this time, since the final image list has not been finalized. This will be updated before the official 4.5 GA and publishing of the supported 4.5 docs.

[2020-06-26 14:55] #23314 closed

[2020-06-26 17:58] mattd72 opened #23319 "[enterprise-4.3] Issue in file cli_reference/openshift_developer_cli/creating-an-application-with-a-database.adoc"
### Which section(s) is the issue in?
Deploying the front end component

### What needs fixing?
Must be the wrong git repo.  Instructions don't match the directories.

[2020-06-28 20:19] yrro commented on #23098
Docs will look nicer if unnecessary fields are skipped:

[code]

[2020-06-29 14:37] enxebre commented on #19847
Machine API:
- AWS/Azure/GCP Support autoscaling from/to zero now.
- AWS supports spot instances now.
- A Machine Health check with an empty selector will monitor all machines now.

[2020-06-29 15:46] jatanmalde commented on #19847
Hello Team,

We moved the Logging stack from ES5 to ES6, Should we be including it in the product release notes?
Logforwarder is GA as well if I am not wrong? are we including it?

Thanks..

[2020-06-29 16:13] peterclauterbach commented on #19847
OpenShift virtualization (formerly CNV) is GA in OCP 4.5. As a feature of It should appear as a separate item under "New features and enhancements" as Virtualization.
It should also appear as an item in the Technology Preview Tracker table as moving from TP to GA in this release.

[2020-06-29 19:33] codyhoag commented on #19847
@jatanmalde The ES6 upgrade release note is being worked on in #23277. Log forwarding will be released as GA in a z-stream; therefore, we're listing it as `TP` in the table until it is officially GA.

[2020-06-29 23:30] wking opened #23378 "Clarify: Cluster resources must adjust to the new pull secret, which can temporarily limit the usability of the cluster."
In #16955, [discussion][1] between @mburke5678, @bergerhoffer, @radekvokal, and @iNecas landed:

I think that's still too threatening ;). What usability limits do we expect? It will take a bit to get the new secret rolled out, and we currently have some hiccups around availability during reboots ([rhbz#1845411][2] and [rhbz#1809665][3]). If that's the expected usability impact, I'd rather call it

[2020-06-30 12:00] LalatenduMohanty commented on #23378
I see below text in [1] and I am assuming node drain would impact availability. Is that right?
[code]
[1] https://docs.openshift.com/container-platform/4.4/openshift_images/managing_images/using-image-pull-secrets.html#images-update-global-pull-secret_using-image-pull-secrets

[2020-06-30 13:13] vikram-redhat commented on #19847
Hey @peterclauterbach - CNV is not actually releasing till the 29th July while OCP GAs on the 9th. It might make most sense to not mark it as GA with OCP 4.5 GA since we won't be releasing the docs for CNV till then (otherwise this is likely to cause confusion). We should probably mark it as GA only when CNV GAs.

Let me know if you disagree and/or if we should discuss this at the PgM level.

@asp

[2020-06-30 13:25] peterclauterbach commented on #19847
@vikram-redhat Agreed.  As long as we can update the main OCP release notes in the appropriate OCP 4.5.z stream, concurrent with the planned OpenShift virtualization updates.

[2020-06-30 13:31] codyhoag commented on #19847
@peterclauterbach @vikram-redhat what we can do is draft a new feature release note and TP table entry, and hide it in the doc for now. Once Virtualization goes GA, we can uncomment the text for a quick add.

[2020-06-30 14:46] wking commented on #23378
It shouldn't impact availability (once we fix the bugs I linked in the opening comment).  And if we are calling the rolling reboots out there, can we drop the warning?  And link to docs about monitoring node rebooting so users can judge completion?

[2020-07-01 14:53] flozanorht opened #23407 "[enterprise-4.4] Unworkable example in file networking/configuring_ingress_cluster_traffic/configuring-ingress-cluster-traffic-service-external-ip.adoc"
### Which section(s) is the issue in?

Headings "Creating a project and service" and "Exposing the service by creating a route" of "Configuring ingress cluster traffic using a service external IP"

### What needs fixing?

The example of exposing a mysql server using a route does not work. OpenShift routes support only HTTP, TLS with SNI, and WebSockets protocols. None of these are supported my nei

[2020-07-01 18:29] jboxman commented on #23407
@flozanorht, yes, this content is incorrect in its entirety. And as a prerequisite, external IPs must be configured for the cluster. [Work on that is inflight](https://github.com/openshift/openshift-docs/pull/21388). Once that is complete, this content will be updated.

[2020-07-02 14:56] wabouhamad commented on #19847
@codyhoag I need to add this comment to the OCP 4.5 release notes under known issues:

[2020-07-02 19:28] sjug commented on #23009
Hey @trexx, we have a PR here to change the registry: https://github.com/openshift/openshift-docs/pull/23321.
Can you see if it works for you?

[2020-07-03 06:46] trexx commented on #23009
Hi @sjug. Yep that registry change works for me, I've been using it since I discovered PR18293 however I've had issues with some of the examples on that page. For example,

[code]

Results in "error: no test exists with that name"

Should I open another issue?

[2020-07-03 11:44] yrro opened #23454 "[enterprise-4.4] No mention of how to configure/view request logs"
### Which section(s) is the issue in?
networking/routes/route-configuration.adoc (maybe)

### What needs fixing?
There's no documented way to enable router request logging. In 3.x I seem to remember you could set environment variables to enable request logging to a syslog server.

[2020-07-03 12:10] ifekxp opened #23455 "[enterprise-3.11] Issue in file day_two_guide/docker_tasks.adoc"
### Which section(s) is the issue in?

https://docs.openshift.com/container-platform/3.11/day_two_guide/docker_tasks.html#increasing-storage

### What needs fixing?

The section should have two sub-sections - increasing the disk and extending the disk. However "increasing the disk" title was repeated twice even though the later sub-section was relevant to extending the disk

[2020-07-05 03:47] nak3 opened #23465 "gcr.io/hello-minikube-zero-install/hello-node image does not exist"
# Which section(s) is the issue in?

https://docs.openshift.com/container-platform/4.4/serverless/knative_eventing/serverless-apiserversource.html

### What needs fixing?

- The image `gcr.io/hello-minikube-zero-install/hello-node` does not exist in [Using ApiServerSource](https://docs.openshift.com/container-platform/4.4/serverless/knative_eventing/serverless-apiserversource.html).
- It is not a

[2020-07-06 16:54] adambkaplan commented on #19847
@codyhoag the release note for the "Node Pull Secrets" feature is misleading and vague. I propose the following to be added under "Developer Experience" rather than "Node":

[code]
fyi @dmage @ricardomaraschini @bmcelvee

[2020-07-06 16:56] adambkaplan commented on #19847
@codyhoag @dmage I do not see anything for the image registry supporting Virtual Hosted buckets with custom S3 endpoints [1]. This is an important fix for customers who are trying to deploy in AWS GovCloud and newer AWS regions.

[1] https://issues.redhat.com/browse/DEVEXP-566 -

[2020-07-06 17:30] bmcelvee commented on #19847
@adambkaplan I have a WIP PR to update DevEx release notes: https://github.com/openshift/openshift-docs/pull/23326/files and can update the Pull Secrets content there too.

[2020-07-06 20:37] cblecker opened #23496 "[dedicated] Issue in file logging/dedicated-cluster-deploying.adoc"
### Which section(s) is the issue in?

`4. Create and deploy a cluster logging instance`

### What needs fixing?

In the YAML that the directions say to copy and paste, there is one variable in there that needs to be modified:
`storageClassName: "<storage-class-name>"`

On AWS, this should be `storageClassName: "gp2"` and on GCP this should be `storageClassName: "standard"`

I'm not sure if it is

[2020-07-06 21:04] gyucegok opened #23498 "[enterprise-4.4] Issue in file installing/installing_bare_metal/installing-bare-metal.adoc"
### Which section(s) is the issue in?
Configuring a three-node cluster, exactly here;

- compute:
    name: worker
    platform: {}
    replicas: 0

### What needs fixing?

The list item is under compute, something like this exactly;

compute:
- name: worker
  platform: {}
  replicas: 0

[2020-07-07 12:32] novacain1 opened #23511 "[enterprise-4.3] Issue in file cli_reference/openshift_cli/getting-started-cli.adoc"
### Which section(s) is the issue in?
Installing the CLI by using an RPM

### What needs fixing?
We have no reference how to install the openshift-clients RPM in a RHEL8 system.  RHEL8 has been out more than a year.  The repo specifically is rhocp-4.4-for-rhel-8-x86_64-rpms, and this section should really address how to install the openshift-clients on RHEL8.

[2020-07-07 19:34] hupiper opened #23524 "[enterprise-4.5] Issue in file release_notes/ocp-4-5-release-notes.adoc"
### Which section(s) is the issue in?
https://redhat:redhat@docs.openshift.com/container-platform/4.5/release_notes/ocp-4-5-release-notes.html#ocp-4-5-encrypt-ebs-instance-volumes-with-kms-key

### What needs fixing?
Are we going to describe how to do this via machineconfig if it is not done during installation?

[2020-07-07 20:08] codyhoag commented on #23524
@abhinavdahiya can you advise on whether we should describe the machineconfig case in the release notes?

[2020-07-07 20:19] jewzaam commented on #23496
cc @lamek

[2020-07-07 20:29] abhinavdahiya commented on #23524
Can you explain why machineconfigs would come into picture? The installer generates machine objects either correct default volumes encrypted with the provided key

[2020-07-07 21:32] chuckersjp opened #23529 "[enterprise-4.2] Issue in file machine_management/adding-rhel-compute.adoc"
### Which section(s) is the issue in?
https://docs.openshift.com/container-platform/4.2/machine_management/adding-rhel-compute.html#rhel-adding-node_adding-rhel-compute

### What needs fixing?
In the inset, it has the following:

[code]
And footnote 3 states:
[code]
Which refers to the line `openshift_kubeconfig_path="~/.kube/config"`

While the variable name is correct, it does NOT refer to the P

[2020-07-08 11:17] esimim opened #23537 "[enterprise-4.4] Issue in file applications/deployments/what-deployments-are.adoc"
### Which section(s) is the issue in?

Building blocks of a deployment
Deployments and DeploymentConfigs are enabled by the use of native Kubernetes API objects ReplicationControllers and ReplicaSets, respectively, as their building blocks.

### What needs fixing?

Deployments use ReplicaSet and DeploymentConfigs use ReplicationController. When you said respectively, by the order in which the argu

[2020-07-08 12:50] 2s1ddhant opened #23538 "[enterprise-3.11] Issue in file admin_guide/image_signatures.adoc"
### Which section(s) is the issue in?
Importing Image Signatures Automatically from Signature Stores

### What needs fixing?
The link in the last line "For more details about the registries configuration directory, see [Registries Configuration Directory](https://github.com/containers/image/blob/master/docs/registries.d.md)"  redirects to an invalid page.

[2020-07-08 14:14] codyhoag commented on #23538
Fix has been merged. It will be available live soon. Thanks for reporting!

[2020-07-08 14:14] #23538 closed

[2020-07-08 19:41] davivcgarcia opened #23558 "[enterprise-4.4] Include post-install docs for Registry on RHV and OpenStack"
### Which section(s) is the issue in?

The docs are mentioning that IPI-based installs don't require configuring Registry manually, but that's not true in newer versions. For example, IPI for RHV and RHOSP does require manual configuration of Registry storage after install.

Also, there aren't sessions about what configurations should be done for RHV and OpenStack, like there is bare-metal or vSph

[2020-07-09 08:09] wjiangjay commented on #19847
For OCP on OSP, we have a known issue, https://bugzilla.redhat.com/show_bug.cgi?id=1848945 - Bug 1848945 - [OpenShift on OpenStack] Routes failed to access once ingress port VIP is on RHEL worker

[2020-07-09 08:21] anpingli commented on #19847
Logging forward not GA in 4.5.

[2020-07-09 08:27] lihongan commented on #19847
For Azure platform, we have a known issue https://bugzilla.redhat.com/show_bug.cgi?id=1854383, it might occur when upgrade cluster from 4.4.x to 4.5.

[2020-07-09 08:39] zhaozhanqi commented on #19847
For Azure platform. we have a know issue https://bugzilla.redhat.com/show_bug.cgi?id=1851549
sometimes the oc commands fail intermittently with TLS Handshake timeout Errors

[2020-07-09 09:52] zhaozhanqi commented on #19847
Sometimes the pods in one node maybe lose the network communication. means these pods cannot be working well (crashed).
there is a known issue https://bugzilla.redhat.com/show_bug.cgi?id=1855118 this issue maybe happen after upgrade.
There is workaround is "delete the crashed pods and make it re-created" the new created pod can work well.

[2020-07-09 13:11] mffiedler commented on #19847
Log indexing performance is degraded compared to OCP 4.4:  https://bugzilla.redhat.com/show_bug.cgi?id=1833486  @jcantrill can probably provide additional info if needed.

[2020-07-09 13:51] peterducai opened #23588 "[enterprise-4.3] Issue in file scalability_and_performance/using-node-tuning-operator.adoc"
### Which section(s) is the issue in?
https://docs.openshift.com/container-platform/4.3/scalability_and_performance/using-node-tuning-operator.html doesn't contain how to validate setup

### What needs fixing?
could we get 'how to check if profile was set' from https://access.redhat.com/solutions/4448351 to official docs?

[2020-07-09 14:12] ahardin-rh commented on #23588
@peterducai Thank you!
@jmencak What are your thoughts on this suggestion? Thanks!

[2020-07-09 14:19] jmencak commented on #23588
I agree that adding something like this to the documentation would be useful.  Happy to review!

[2020-07-10 05:56] jomeier opened #23620 "[OKD] Change installation example to Ignition Spec 3"
Hi,

this exmple on https://docs.openshift.com/container-platform/4.4/installing/installing_vsphere/installing-vsphere.html won't work:
[code]

It must be changed to this:

[code]

append -> merge
version: 2.1.0 -> 3.0.0

Greetings,

Josef

[2020-07-10 06:53] ChetHosey opened #23621 "[enterprise-4.4] Issue in file networking/multiple_networks/configuring-ptp.adoc"
### Which section(s) is the issue in?
Configuring PTP (entire page)

### What needs fixing?
This page is nested within "Multiple Networks". It doesn't seem relevant to running multiple networks. It should be a top-level item, or go in another section.

[2020-07-10 07:47] lbohnsac opened #23622 "[enterprise-4.4] Issue in file openshift_images/samples-operator-alt-registry.adoc"
### Which section(s) is the issue in?
https://docs.openshift.com/container-platform/4.4/openshift_images/samples-operator-alt-registry.html#installation-restricted-network-samples_samples-operator-alt-registry

### What needs fixing?
In step 4 replace the command line (oc get configs.samples.operator.openshift.io -n openshift-cluster-samples-operator) with a oc patch command line that will explain

[2020-07-10 08:10] jomeier opened #23624 "[enterprise 4.5] No documentation for vSphere MachineSet configs"
Hi,

in the latest docs there is no clue about how to configure MachineSets for vSphere.

We had to reverse engineering the source code to get it up and running ...

Thanks and greetings,

Josef

[2020-07-10 09:21] FilipB opened #23625 "[enterprise-4.4] Issue in file service_mesh/service_mesh_install/removing-ossm.adoc"
### Which section(s) is the issue in?
Clean up Operator resources

### What needs fixing?
Typo in (mutatingwebhoookconfigurations contains three letters 'o'):
oc delete mutatingwebhoookconfigurations/<operator-project>.servicemesh-resources.maistra.io
it should be:
oc delete mutatingwebhookconfigurations/<operator-project>.servicemesh-resources.maistra.io

[2020-07-10 10:02] jinyunma commented on #19847
For ipi on vsphere, we have an known issue: https://bugzilla.redhat.com/show_bug.cgi?id=1852545:
Bug 1852545 - VSphere IPI fails to bootstrap workers: default resource pool resolves to multiple instances, please specify

[2020-07-10 12:32] lbohnsac opened #23626 "[enterprise-4.2] Issue in file updating"
### Which section(s) is the issue in?
One Topic is completely missing!

### What needs fixing?
How to upgrade a cluster in a disconnected environment!

[2020-07-10 14:19] maxwelldb opened #23632 "Rectify MachineSet creation docs across platforms"
### Which section(s) is the issue in?

https://docs.openshift.com/container-platform/4.4/machine_management/creating_machinesets/creating-machineset-azure.html

### What needs fixing?

There are a number of inconsistencies between MachineSet creation docs. There are also some additions and improvements to be made.

See discussion here: https://github.com/openshift/openshift-docs/pull/21896#issueco

[2020-07-10 14:27] jboxman commented on #23621
@ChetHosey, agreed. Not sure how that happened; I've been planning on moving it for several weeks now, probably under hardware networks.

[2020-07-10 15:08] vrutkovs opened #23633 "[OKD only]"
Replace `append` in all Ignition samples with `merge` required by Ignition.

This currently affects OKD only, but would be required by OCP 4.6 soon

[2020-07-10 19:47] ahardin-rh commented on #23588
@jmencak @peterducai Please review: https://github.com/openshift/openshift-docs/pull/23659

[2020-07-11 06:58] MohdIzhar opened #23681 "Documenation command issue"
### Which section(s) is the issue in?

minishift --profile profile-demo minishift start
Error: unknown command "minishift" for "minishift"
Run 'minishift --help' for usage.
unknown command "minishift" for "minishift"
The command mentioned in documentation https://docs.okd.io/3.11/minishift/using/profiles.html

### What needs fixing?
command update needs to be fixed

[2020-07-12 12:07] aelgendy opened #23692 "[enterprise-4.2] Issue in file applications/quotas/quotas-setting-per-project.adoc"
### Which section(s) is the issue in?

Cluster Administration or Application section

### What needs fixing?
The 4.x doc is missing the `Setting Limit Ranges` section,  similar to 3.11 docs: https://docs.openshift.com/container-platform/3.11/admin_guide/limits.html

[2020-07-12 12:11] aelgendy commented on #23692
@maxwelldb Could you please check the missing docs belongs to which section and assign the labels/issue accordingly?  Thanks

[2020-07-12 22:04] maxwelldb commented on #23692
@aelgendy The 3 -> 4 transition is before my time, but some investigation makes me believe that content similar to what's contained on Setting Limit Ranges has been worked into the 4.x docs in different ways. For example:

- https://docs.openshift.com/container-platform/4.4/rest_api/schedule_and_quota_apis/limitrange-core-v1.html
- https://docs.openshift.com/container-platform/4.4/nodes/clusters/n

[2020-07-13 06:57] jomeier commented on #23624
The docs for OpenShift 4.5 are live. And the documentation for MachineSets on vSphere is still completely missing.

[2020-07-13 07:00] aelgendy commented on #23692
Thanks Max, I went through the links provided above and unfortunately this doesn't address my point, so on a project you can /or rather/ you should (_as a best practice_) specify a Project quota (act on project level) and limit range (for the compute resources in the project like, pods,containers,imagestream ...etc.)

In v4.2 which I'm using there's no "oc create" command specifically for limit ra

[2020-07-13 09:17] jomeier commented on #23624
@maxwelldb

[2020-07-13 13:14] gyucegok opened #23709 "[enterprise-4.5] Issue in file installing/installing_bare_metal/installing-bare-metal.adoc"
### Which section(s) is the issue in?
Configuring a three-node cluster, exactly here;

"- compute:
    name: worker
    platform: {}
    replicas: 0"

### What needs fixing?

The list item is under compute, applies to objects of the compute object;

"compute:
    - name: worker
      platform: {}
      replicas: 0"

[2020-07-13 13:16] maxwelldb opened #23711 "[enterprise-4.5] Update Kuryr and Octavia compatibility statements in OSP installation docs"
### Which section(s) is the issue in?

From @luis5tb:

### What needs fixing?

These limitations are no longer true for the latest release. They should be removed.

[2020-07-13 13:55] maxwelldb commented on #23624
@jomeier Thanks for looking!

@kalexand-rh I think this is related to some changes you merged in over the last few days. Am I right?

[2020-07-13 13:57] maxwelldb commented on #23692
Thanks for the thoughtfulness! I'm going to investigate this a bit more and then get back to you.

[2020-07-13 14:07] maxwelldb commented on #23692
Also, would this be more like what you're looking for? @aelgendy

https://docs.openshift.com/container-platform/4.5/applications/quotas/quotas-setting-per-project.html

[2020-07-13 14:50] 2s1ddhant opened #23721 "[enterprise-4.5] Issue in file virt/about-virt.adoc"
### Which section(s) is the issue in?
All the links in OpenShift Virtualization section redirect to the same URL ie _https://docs.openshift.com/container-platform/4.5/virt/about-virt.html_

### What needs fixing?
Expected redirection of sections to their correct links.

[2020-07-13 15:10] SeanClosson opened #23722 "[online] Issue in file getting_started/basic_walkthrough.adoc"
### Which section(s) is the issue in?
Creating a New Application

### What needs fixing?
Skipped steps between 2 and 3.  In Step 2, after creating a new project and naming it, the walkthrough skips navigating to Workloads from the Overview page and clicking "add other content" then selecting "From Git" or whichever option is desired.

[2020-07-13 16:06] aelgendy commented on #23692
Thanks @maxwelldb for investigating this further, the example of the quota settings above is good, and we should have similar explanation (YAML examples) for the limit range after that section indeed.

I understand that 4.2 is now EOL, but wouldn't it make sense (_as this is a working feature still in 4.2 for customers still using 4.2.x_) to have the docs consistent accord different versions? Not

[2020-07-13 16:26] 2s1ddhant opened #23729 "[enterprise-3.11] Issue in file install/host_preparation.adoc"
### Which section(s) is the issue in?
Enabling image signature support

### What needs fixing?
The URL in "Container Image Signing Integration Guide" redirects to a retired KB article.
`You can manage trust configuration directly on each node or manage the files on a separate host distribute them to the appropriate nodes using Ansible, for example. See the [Container Image Signing Integration Guid

[2020-07-14 05:19] vikram-redhat commented on #23721
This is expected. It will redirect to the correct docs once OpenShift Virtualization is GA.

[2020-07-14 05:19] #23721 closed

[2020-07-14 05:20] vikram-redhat commented on #23681
@gbraad can you take a look at this?

[2020-07-14 05:20] #23633 closed

[2020-07-14 08:54] gbraad commented on #23681
That is not what the documentation states. The user might have added an erronoeus "minishift" between the profile option and start.
The command reads:

[code]

[2020-07-14 08:55] gbraad commented on #23681
![Screenshot_20200714-165520_Firefox.jpg](https://user-images.githubusercontent.com/1894/87406065-d1c00000-c5f2-11ea-95dd-47d4cdd6d517.jpg)

[2020-07-14 10:45] gbraad commented on #23681
Took another look, it is in another section: https://docs.okd.io/3.11/minishift/using/profiles.html#example-workflow-profile-config

[2020-07-14 10:45] gbraad commented on #23681
![Screenshot_20200714-184535_Firefox](https://user-images.githubusercontent.com/1894/87417087-3f275d00-c602-11ea-86fc-5b543898377a.jpg)

[2020-07-14 10:46] gbraad commented on #23681
@kowen can you have a look at this?

[2020-07-14 11:37] vikram-redhat commented on #23722
@sfortner-RH @lamek ^

[2020-07-14 17:18] codyhoag commented on #19847
OCP 4.5 docs are now live. Thanks all!

OCP 4.6 release notes tracker is here: #22406

[2020-07-14 17:18] #19847 closed

[2020-07-14 19:02] bgaydosrh commented on #23079
This request has been satisfied by https://github.com/openshift/openshift-docs/pull/23748 (in progress)

The associated Jira story is:
https://issues.redhat.com/browse/CNV-4363

cc: @vikram-redhat @peterclauterbach @jboxman @lmandavi

[2020-07-15 02:57] jboxman commented on #23064
Updated to use `oc` instead of `curl`.

[2020-07-15 02:57] #23064 closed

[2020-07-15 04:13] gbraad commented on #23681
Resolved in both upstream and downstream. Thanks @kowen

[2020-07-15 12:27] madhusudanupadhyay opened #23809 "[dedicated] Issue in file administering_a_cluster/dedicated-admin-role.adoc"
### Which section(s) is the issue in?

[Logging in and verifying permissions
](https://docs.openshift.com/dedicated/4/administering_a_cluster/dedicated-admin-role.html#dedicated-admin-logging-in-verifying-permissions_dedicated-administrator)

### What needs fixing?
Just a typo it seems:
`You can log in as an OpenShift Dedicated cluster administration via the web console or CLI, just as you would i

[2020-07-15 12:32] talk2shashank09 opened #23810 "[enterprise-4.3] Issue in file applications/projects/configuring-project-creation.adoc"
### Which section(s) is the issue in?

https://docs.openshift.com/container-platform/4.3/applications/projects/configuring-project-creation.html
https://docs.openshift.com/container-platform/4.3/authentication/using-service-accounts-in-applications.html

### What needs fixing?

Please mention about how to 'Enabling and Limiting Self-Provisioned Projects Per Service Account'

[2020-07-15 14:30] wgordon17 commented on #23809
@lamek FYI

[2020-07-15 16:07] ahardin-rh commented on #23588
@peterducai Thanks again for your suggestion! The pull request is merged, so I am closing this issue.
@jmencak Thanks for your guidance on the docs!

[2020-07-15 16:07] #23588 closed

[2020-07-15 19:55] jboxman commented on #19301
@alanconway, I've completed my latest iteration. I'm not familiar with a ClusterLogging API; What API group is that part of? The current APIs in an ordinary installation of OCP are here under _API reference_:

https://docs.openshift.com/container-platform/4.5/rest_api/objects/index.html

[2020-07-15 19:57] jboxman commented on #23199
@lbohnsac, how doesn't it fit? What would make it fit?

Thanks.

[2020-07-15 19:57] JStickler commented on #22866
Added a note to the docs.

[2020-07-15 19:57] #22866 closed

[2020-07-15 20:18] JStickler commented on #22876
Added ior_enabled to the parameters table.

[2020-07-15 20:18] #22876 closed

[2020-07-15 21:34] JStickler commented on #23625
@FilipB , I can't find this misspelling in either the source files or in the published output.

https://docs.openshift.com/container-platform/4.4/service_mesh/service_mesh_install/removing-ossm.html#ossm-remove-cleanup_removing-ossm

[2020-07-15 21:34] #23625 closed

[2020-07-15 23:46] esimim opened #23855 "[enterprise-4.4] Issue in file applications/deployments/route-based-deployment-strategies.adoc"
### Which section(s) is the issue in?

Building blocks of a deployment
Deployments and DeploymentConfigs are enabled by the use of native Kubernetes API objects ReplicationControllers and ReplicaSets, respectively, as their building blocks.

### What needs fixing?

Deployments use ReplicaSet and DeploymentConfigs use ReplicationController. When you said respectively, by the order in which the argu

[2020-07-15 23:47] esimim opened #23856 "[enterprise-4.4] Issue in file applications/deployments/route-based-deployment-strategies.adoc"
### Which section(s) is the issue in?

Building blocks of a deployment
Deployments and DeploymentConfigs are enabled by the use of native Kubernetes API objects ReplicationControllers and ReplicaSets, respectively, as their building blocks.

### What needs fixing?

Deployments use ReplicaSet and DeploymentConfigs use ReplicationController. When you said respectively, by the order in which the argu

[2020-07-15 23:50] esimim opened #23857 "[enterprise-4.4] Issue in file applications/deployments/route-based-deployment-strategies.adoc"
### Which section(s) is the issue in?
One service, multiple DeploymentConfigs

### What needs fixing?
On step one, you say:

Create a new application, adding a label ab-example=true that will be common to all shards:
$ oc new-app openshift/deployment-example --name=ab-example-a

You actually don't add the label to the command, which should be there: --labels=ab-example=true

[2020-07-16 15:51] #23711 closed

[2020-07-16 23:23] jboxman commented on #23080
This will be resolved with https://github.com/openshift/openshift-docs/pull/23802.

[2020-07-17 10:32] yrro opened #23903 "Document \A template parameter generator expression modifier (ASCII symbols)"
### Which section(s) is the issue in?
https://docs.openshift.com/container-platform/4.5/openshift_images/using-templates.html#templates-writing-parameters_using-templates

### What needs fixing?
The `\A` modifier expands to ACSII symbols:

https://github.com/openshift/library-go/blame/master/pkg/template/generator/expressionvalue.go#L98

It's not documented.

It is mentioned in https://access.redh

[2020-07-17 14:44] lautou opened #23910 "[enterprise-4.5] Issue in file scalability_and_performance/optimizing-storage.adoc"
### Which section(s) is the issue in?

Scaled Registry

### What needs fixing?
The following section is redundant and should be removed:
"All NAS storage are not recommended for OpenShift Container Platform Registry cluster deployment with production workloads."

Because on the paragraph before it is said:
"File storage and block storage are not recommended for a scaled....".
NAS storage is file s

[2020-07-17 15:52] lautou opened #23918 "[enterprise-4.5] Issue in file scalability_and_performance/optimizing-storage.adoc"
### Which section(s) is the issue in?

Recommended configurable storage technology

### What needs fixing?
Replace the following statement:
"A scaled registry is an OpenShift Container Platform registry where three or more pod replicas are running."
by:
"A scaled registry is an OpenShift Container Platform registry where two or more pod replicas are running."
(Because two pods suffice at least to

[2020-07-17 16:23] lautou opened #23919 "[enterprise-4.5] Issue in file scalability_and_performance/optimizing-storage.adoc"
### Which section(s) is the issue in?

Specific applications storage recommendations

### What needs fixing?

Replace:
"Testing shows issues with using the NFS server on RHEL as storage backend for the container image registry."
by:
"Testing shows issues with using the NFS server on RHEL as storage backend for core services."

Also replace:
"Therefore, using NFS to back PVs used by core services i

[2020-07-17 17:37] mallmen opened #23921 "[enterprise-4.5] Issue in file installing/installing_vsphere/installing-vsphere-installer-provisioned.adoc"
### Which section(s) is the issue in?
DNS requirements

### What needs fixing?
Need to clarify what the requirements are.  The table implies that api and *.apps need to resolve to an existing load balancer.  For an IPI install, there is no requirement to have an external load balancer.  The doc should clearly state that the IPs for api and *.apps are just DNS entries for an IP with no connection t

[2020-07-17 17:49] itewk commented on #23921
i think it would be helpful to have some details on how the IPs will float around using keapplived and etc. maybe some step about how to verify the A/AAAA is configured correctly. that it resolves, to an IP, but that IP isn't assigned anywhere.

[2020-07-18 00:16] jboxman commented on #21027
@jxadro, I've rewritten the content for the page. If that doesn't help, please open an issue. Thanks!

[2020-07-18 00:16] #21027 closed

[2020-07-18 00:17] jboxman commented on #20694
@shortsteps, I've rewritten the procedure. If that doesn't help, open a new issue. Thanks!

[2020-07-18 00:17] #20694 closed

[2020-07-18 00:17] jboxman commented on #18173
@fmeulenk, I've rewritten the procedure. Thanks!

[2020-07-18 00:17] #18173 closed

[2020-07-18 00:18] jboxman commented on #18172
@fmeulenk, I've rewritten the procedure. Thanks!

[2020-07-18 00:18] #18172 closed

[2020-07-18 03:53] jboxman commented on #23198
@lbohnsac, I've updated the documentation with the correct procedure for this.

[2020-07-18 03:53] #23198 closed

[2020-07-18 04:18] kwkoo opened #23937 "[enterprise-4.5] Issue in file installing/install_config/installing-restricted-networks-preparations.adoc"
### Which section(s) is the issue in?

Creating a mirror registry for installation in a restricted network
https://docs.openshift.com/container-platform/4.5/installing/install_config/installing-restricted-networks-preparations.html#installing-restricted-networks-preparations

### What needs fixing?

The section where it says:
ii. Review the images and configuration manifests to mirror:

[code]

Th

[2020-07-18 18:02] lautou commented on #23921
Should be great to explain how load balancing is implemented in IPI. We are talking about keepalived. Is this keepalived created by the IPI installer?

[2020-07-18 18:09] mallmen commented on #23921
Yes, the IPI installer installs and configured haproxy and keepalived

[2020-07-20 11:59] itewk commented on #23921
@lautou ideally making the entry in the table more clear that only the `A`/`AAAA` record needs to be created (it mentions `cname` as option too, probably should explain what the use case there would be cuz I don't get that one. And then also like some sort of appendix or something with a pritty picture of what haproxy and keepalived are doing moveing the floating VIP around.

[2020-07-20 12:54] kanekoh commented on #22607
I found the document which is mentioned encryption key.

[2020-07-20 12:54] #22607 closed

[2020-07-20 13:46] pamoedom commented on #22309
Hi all, any update here?

[2020-07-20 15:50] jomeier commented on #23624
Any news?

[2020-07-20 19:19] #16900 closed

[2020-07-20 19:20] jboxman commented on #16991
@gnu300, thanks for reporting this! I've updated the procedure.

[2020-07-20 19:20] #16991 closed

[2020-07-20 19:21] jboxman commented on #23407
I've updated the procedure with proper steps. Thanks!

[2020-07-20 19:21] #23407 closed

[2020-07-21 06:44] gyliu513 opened #23977 "No HA related document for OCP"
### Which section(s) is the issue in?

I found most of the operands running in OCP cluster are with replica as 1.

[code]

And there is no document mentioning how can I enable a HA deployment for OCP, like how can I set all operators with multiple instance of operands for OCP?

### What needs fixing?

[2020-07-21 08:39] sudarshan-uc opened #23979 "[enterprise-4.5] Issue in file nodes/scheduling/nodes-scheduler-node-selectors.adoc"
Bugzilla:
https://bugzilla.redhat.com/show_bug.cgi?id=1859050

### Which section(s) is the issue in?

Point 2. last command. Need Modification to the following section:

Procedure:
2. Edit a node or MachineSet to add labels:

To label a MachineSet:
[code]

### Fix:

Procedure:
2. Edit a node or MachineSet to add labels:

To label the node managed by a MachineSet:
[code]

### Additional information

[2020-07-21 16:38] PriyankaKanthale opened #24001 "[dedicated] Issue in file nodes/jobs/nodes-nodes-jobs.adoc"
### Which section(s) is the issue in?

[Using Jobs and DaemonSet ](https://docs.openshift.com/dedicated/4/nodes/jobs/nodes-nodes-jobs.html)

### What needs fixing?

Section missing:
- Overview of DaemonSet
- How to create a DaemonSet

Example : As given in[OSD 3 documentation](https://docs.openshift.com/dedicated/3/dev_guide/daemonsets.html)

[2020-07-21 17:01] PriyankaKanthale opened #24002 "[dedicated] Issue in file dev_guide/pod_autoscaling.adoc"
### Which section(s) is the issue in?

[Pod Autoscaling](https://docs.openshift.com/dedicated/3/dev_guide/pod_autoscaling.html)

### What needs fixing?

Using REST API, HPA  creation is mentioned. However, pod autoscaling section missing details:

- Understanding horizontal pod autoscalers
- Supported metrics
- Creating a horizontal pod autoscaler for CPU utilization
- Creating a horizontal pod au

[2020-07-22 01:14] vikram-redhat commented on #23979
Since we are now tracking this in the BZ as well, I am going to close this issue. Thanks for filing this @sudarshan-uc

[2020-07-22 01:14] #23979 closed

[2020-07-22 10:51] rbaumgar opened #24059 "[enterprise-4.5] Issue in file monitoring/monitoring-your-own-services.adoc"
### Which section(s) is the issue in?
Accessing the metrics of your service as a developer

### What needs fixing?
In the developer perspective Advanced → Metrics is no longer available in 4.5. Only Metrics is available...

[2020-07-22 12:17] lautou commented on #23921
By the way. How haproxy and keepalived installation is implemented? Does the IPI installer create a dedicated VM for these two components (how many)? The documentation is mute on that aspect.
Also what about api-int VIP load-balacing? I don't see if a VIP is created for this internal API traffic url.

[2020-07-22 13:43] maxwelldb commented on #23624
@jomeier Hi! This is still in Kathryn's queue. She should be able to take a look soon.

[2020-07-22 13:54] maxwelldb commented on #23692
Thanks! We're still looking into this.

[2020-07-22 14:27] rbaumgar commented on #24059
due to a bug in 4.5 metrics will only be displayed in 4.5.3+

[2020-07-22 15:22] alanconway commented on #19301
Group is  logging.openshift.io, the YAML source is at https://github.com/openshift/cluster-logging-operator/tree/master/manifests/4.6
Let me know if you need more info.

[2020-07-22 15:26] alanconway commented on #19301
FYI @mburke5678

[2020-07-22 15:35] jboxman commented on #19301
@alanconway, if it isn't in the OpenAPI spec for the standard build of OCP, I can't generate docs for it. Is this only in 4.6? This is what is exposed in 4.5:

[code]

[2020-07-22 15:36] jboxman commented on #19301
@alanconway, this also probably means it isn't visible with `oc explain`; Can you run `oc explain` for this custom resource and get output for it?

[2020-07-22 15:54] mallmen commented on #23921
haproxy and keepalived are implemented as system containers, not full vms.  Some of the details can be found here.  https://github.com/openshift/installer/blob/master/docs/design/baremetal/networking-infrastructure.md

[2020-07-22 21:18] jboxman commented on #23080
@JuozasA, I've updated the docs. Thanks!

[2020-07-22 21:18] #23080 closed

[2020-07-22 22:40] christianh814 opened #24106 "[enterprise-4.5] Issue in file monitoring/monitoring-your-own-services.adoc"
### Which section(s) is the issue in?

https://docs.openshift.com/container-platform/4.5/monitoring/monitoring-your-own-services.html#enabling-monitoring-of-your-own-services_monitoring-your-own-services

### What needs fixing?

The verbiage on the doc makes it seem like the `cluster-monitoring-config` should already be there. It's not

[code]

^ this is a fresh 4.5.2 install. If the user needs to

[2020-07-23 13:37] hyagi-git commented on #17750
Fixed b9cce3b155b8528f427ba0c760a8b2f801e0e571

[2020-07-23 13:37] #17750 closed

[2020-07-23 14:13] npoyant opened #24119 "[enterprise-4.5] Issue in file installing/installing_vsphere/installing-vsphere.adoc"
### Which section(s) is the issue in?

https://docs.openshift.com/container-platform/4.5/installing/installing_vsphere/installing-vsphere-network-customizations.html#installation-vsphere-machines_installing-vsphere-network-customizations

Step 5, sub-step d:   It references "...The folder name must match the cluster name that you specified in the install-config.yaml file.",  what it does not menti

[2020-07-23 15:55] germanparente opened #24129 "[enterprise-4.5] Issue in file machine_management/creating-infrastructure-machinesets.adoc"
### Which section(s) is the issue in?

https://docs.openshift.com/container-platform/4.5/machine_management/creating-infrastructure-machinesets.html#infrastructure-moving-registry_creating-infrastructure-machinesets

### What needs fixing?

it seems that the object to get/edit is not:

oc get config/cluster -o yaml
oc edit config/cluster

But instead

oc get configs.imageregistry.operator.openshif

[2020-07-23 17:47] ITD27M01 opened #24131 "[enterprise-4.5] Issue in file applications/quotas/quotas-setting-per-project.adoc"
### Which section(s) is the issue in?

This description is not clear:

ephemeral-storage | The sum of local ephemeral storage requests across all pods in a non-terminal state cannot exceed this value. ephemeral-storage and requests.ephemeral-storage are the same value and can be used interchangeably. This resource is available only if you enabled the ephemeral storage technology preview. This feat

[2020-07-24 01:18] PriyankaKanthale opened #24149 "[dedicated] Issue in file nodes/pods/nodes-pods-using.adoc"
### Which section(s) is the issue in?

Managing Security Context Constraints in OSD 4

### What needs fixing?

In the documentation of OSD4 the entire Security Context Constraints (SCC) is missing.

As provided in [OSD 3](https://docs.openshift.com/dedicated/3/admin_guide/manage_scc.html)

[2020-07-24 01:27] PriyankaKanthale opened #24150 "[dedicated] Issue in file admin_guide/managing_projects.adoc"
### Which section(s) is the issue in?

[Managing Limits and Quota on Project Resources](https://docs.openshift.com/dedicated/3/admin_guide/managing_projects.html#managing-limits-and-quota-on-project-resources) under Modifying the Template for New Projects

### What needs fixing?

`Edit the project template as defined above to have default limits and quotas applied to all newly created projects.`

[2020-07-24 02:19] jboxman commented on #23149
@lautou, right now HA is outside the scope of what we're documenting.

[2020-07-24 02:22] jboxman commented on #21757
@jarielpa, this is specific to AWS right now. Thanks.

[2020-07-24 02:22] #21757 closed

[2020-07-24 02:23] jboxman commented on #21286
@rmkraus, I've updated the content so that it is now correct: https://docs.openshift.com/container-platform/4.5/networking/configuring_ingress_cluster_traffic/configuring-ingress-cluster-traffic-service-external-ip.html

Thanks!

[2020-07-24 02:23] #21286 closed

[2020-07-24 02:24] jboxman commented on #20801
Hi @kavithakatepalli, I've updated the content for this: https://docs.openshift.com/container-platform/4.5/networking/configuring_ingress_cluster_traffic/configuring-ingress-cluster-traffic-service-external-ip.html

Thanks!

[2020-07-24 02:24] #20801 closed

[2020-07-24 02:26] jboxman commented on #20630
@s1061123, I've completed the work for this. Thanks!

[2020-07-24 02:26] #20630 closed

[2020-07-24 02:28] jboxman commented on #20483
@janehojy, I've updated the content to include the missing network policy: https://docs.openshift.com/container-platform/4.5/networking/network_policy/multitenant-network-policy.html

Thanks!

[2020-07-24 02:28] #20483 closed

[2020-07-24 02:36] jboxman commented on #21848
@vikram-redhat, these breadcrumbs are all broken at this depth; Maybe the extra TOC depth?

[2020-07-24 02:39] jboxman commented on #23681
@gbraad, if this is fixed, I'll close this. Thanks.

[2020-07-24 02:46] jboxman commented on #22258
@vanallp, this is now fixed, thanks!

[2020-07-24 02:46] #22258 closed

[2020-07-24 04:08] gbraad commented on #23681
Done

[2020-07-24 05:49] #23681 closed

[2020-07-24 07:48] lautou commented on #23149
@jboxman "HA is outside the scope" --> This apply for the complete doc or only for this page?

[2020-07-24 15:52] jboxman commented on #23149
@lautou, for [Configuring ingress cluster traffic using a service external IP](https://docs.openshift.com/container-platform/4.5/networking/configuring_ingress_cluster_traffic/configuring-ingress-cluster-traffic-service-external-ip.html), there aren't any current plans to describe how to configure your network infrastructure for HA for external IPs.

[2020-07-24 19:08] jboxman commented on #23149
@lautou, there's an RFE open to bring back _ipfailover_ or similar functionality from OCP 3.x.

I'm going to close this, and if that gets implemented, I will update the documentation accordingly. Thanks!

[2020-07-24 19:08] #23149 closed

[2020-07-27 16:40] alberttwong opened #24207 "[enterprise-4.5] Issue in file welcome/index.adoc. Missing article on Integrating External Services"
OCP 3.x used to have a article on "Integrating External Services".  This page is missing in OCP 4.x.

[2020-07-27 17:00] lbohnsac opened #24209 "[enterprise-4.4] Issue in file networking/openshift_sdn/assigning-egress-ips.adoc"
### Which section(s) is the issue in?
https://docs.openshift.com/container-platform/4.4/networking/openshift_sdn/assigning-egress-ips.html#nw-egress-ips-static_egress-ips

### What needs fixing?
In Step2 the explanation of the red mark1 reads "Specify the name of the project" ... that's wrong!
It should read "Specify the name of the node"!

This has to be fixed in ALL versions 4.1 - 4.5!

[2020-07-27 17:02] varungur opened #24210 "[enterprise-4.5] Issue in file release_notes/ocp-4-5-release-notes.adoc"
### Which section(s) is the issue in?
Release Notes --> New Features and Enhancements --> Three-node bare metal deployments

### What needs fixing?
This statement "This provides smaller, more resource-efficient clusters for deployment, development, and testing." needs to be updated to mention that this feature is ready for "Production" since it's been GAd in this release.

[2020-07-27 17:04] varungur opened #24211 "[enterprise-4.5] Issue in file installing/installing_bare_metal/installing-bare-metal.adoc"
### Which section(s) is the issue in?
Installing a cluster on bare metal --> Configuring a three-node cluster

### What needs fixing?
This statement "This provides smaller, more resource efficient clusters for cluster administrators and developers to use for deployment, development, and testing." needs to be updated to include the word "Production" since this feature is GAd with 4.5 release.

[2020-07-27 20:53] jboxman commented on #24207
This is: https://docs.openshift.com/container-platform/3.11/dev_guide/integrating_external_services.html

[2020-07-27 20:59] jboxman commented on #24210
@bmcelvee fyi

[2020-07-27 20:59] jboxman commented on #24211
@bmcelvee fyi

[2020-07-28 04:47] jboxman commented on #24209
@lbohnsac, fixed.

[2020-07-28 04:47] #24209 closed

[2020-07-28 12:05] madhusudanupadhyay opened #24239 "[dedicated] Issue in file openshift_images/images-understand.adoc"
### Which section(s) is the issue in?
[Using Images section](https://docs.openshift.com/dedicated/4/openshift_images/images-understand.html)

### What needs fixing?
[Setting Up a Nexus Mirror for Maven](https://docs.openshift.com/dedicated/3/dev_guide/dev_tutorials/maven_tutorial.html) section was available for OSD3 but is missing in OSD4

Please disregard in case this was intentional.

[2020-07-28 12:11] madhusudanupadhyay commented on #24239
@lamek , just an fyi. Thanks.

[2020-07-28 18:03] #22480 closed

[2020-07-28 18:21] adellape commented on #22480
Corrected `csv_upgrade_count` typo and caught the downstream branches up with `master`, which already had the other parameters (missed a cherry-pick when it was originally added).

Fixed for 4.5 and 4.6 via https://github.com/openshift/openshift-docs/pull/24261 (new file location).

Fixed for 4.3 and 4.4 in the old location via https://github.com/openshift/openshift-docs/pull/24264 and https://git

[2020-07-28 19:50] alberttwong commented on #24207
There isn't a 4.x version of that page.

[2020-07-28 20:33] jboxman commented on #24207
@alberttwong, yes, I pasted that there so it's clear what content this issue refers to.

[2020-07-28 21:58] huddlesj opened #24291 "[enterprise-4.5] Issue in file nodes/containers/nodes-containers-sysctls.adoc"
### Which section(s) is the issue in?

https://docs.openshift.com/container-platform/4.5/nodes/containers/nodes-containers-sysctls.html#safe-vs-unsafe-sysclts

### What needs fixing?

Please change whitelists to allowlists.

[2020-07-29 01:14] jboxman commented on #17227
@eitchugo, thanks!

[2020-07-29 01:14] #17227 closed

[2020-07-29 11:41] InfoSec812 opened #24302 "Jenkins Pipeline Docs should be showing the new/supported declarative pipeline syntax"
### Which section(s) is the issue in?

[builds-strategy-pipeline-providing-jenkinsfile](https://github.com/openshift/openshift-docs/blame/e31e86ef4dc83355717f00f9230344741ea2eae4/modules/builds-strategy-pipeline-providing-jenkinsfile.adoc#L49)

### What needs fixing?

The example shown is using the deprecated Groovy syntax for the Jenkinsfile. It should instead use the [declarative pipeline syntax

[2020-07-29 11:42] InfoSec812 commented on #24302
Also, the same is true [here](https://github.com/openshift/openshift-docs/blame/e31e86ef4dc83355717f00f9230344741ea2eae4/modules/images-other-jenkins-kubernetes-plugin.adoc#L53)

[2020-07-29 14:15] garbagego commented on #24129
Indeed it's always good practice to access CR using group FQDN
[PR](https://github.com/openshift/openshift-docs/pull/24305)

[2020-07-29 15:15] InfoSec812 opened #24308 "Add section explaining resources, limits, requests in the Deployment/DeploymentConfig docs"
### Which section(s) is the issue in?

https://docs.openshift.com/container-platform/4.5/applications/deployments/what-deployments-are.html#deployments-and-deploymentconfigs_what-deployments-are

### What needs fixing?

We should have a link to the details of the embedded pod template or more detailed documentation explaining how to create the pod template and configuration settings which are allo

[2020-07-29 22:49] peterclauterbach opened #24329 "[enterprise-4.5] Issue in file virt/install/preparing-cluster-for-virt.adoc"
### Which section(s) is the issue in?

Configuring your cluster for OpenShift Virtualization

### What needs fixing?

The current text states bare metal is _recommended_, when it is in fact, **required**.

Monitoring can stay "recommended".  I'd pop the bare metal statement out, and replace with:

The OpenShift Container Platform cluster is required to be installed on bare metal. Manage your Compu

[2020-07-30 06:36] garbagego commented on #23165
spec.source.git.ref

   **ref	<string>
     ref is the branch/tag/ref to build.**

[2020-07-30 13:43] peterducai opened #24334 "[enterprise-4.5] Issue in file virt/install/preparing-cluster-for-virt.adoc"
### Which section(s) is the issue in?

The OpenShift Container Platform cluster is installed on bare metal.

### What needs fixing?

I would specify more clearly that  WE SUPPORT ONLY baremetal and not other platforms (due to lot of customers with vmware and low visibility of this) and ideally if you can put it in frame with the exclamation mark :)

[2020-07-30 14:01] peterducai opened #24335 "[enterprise-4.5] Issue in file virt/virtual_machines/virt-create-vms.adoc"
### Which section(s) is the issue in?

all disk/storage related sections

### What needs fixing?

it's not clear what type of disk you can import. It should be clear that you can import only RHV/qcow2 and maybe we could put example for VMWare users how to convert vmdk with 'qemu-img convert -f vmdk imported-disk.vmdk -O qcow2 exported-disk.qcow2'

[2020-07-30 14:04] madhusudanupadhyay opened #24336 "[dedicated] Issue in file web_console/odc-about-developer-perspective.adoc"
### Which section(s) is the issue in?

OSD4 [Developer Guide](https://docs.openshift.com/dedicated/4/web_console/odc-about-developer-perspective.html)

### What needs fixing?

OSD3 had the mention of [Integrating External Services](https://docs.openshift.com/dedicated/3/dev_guide/integrating_external_services.html) which is missing from OSD4 as above.

PTAL and let me know in case I am missing or

[2020-07-30 14:11] peterducai commented on #24335
I found vmware stuff, but still...  I would definitely mention VMware and others in storage section and put link to (for example https://docs.openshift.com/container-platform/4.5/virt/virtual_machines/importing_vms/virt-importing-vmware-vm.html )

[2020-07-30 14:33] madhusudanupadhyay opened #24337 "[dedicated] Issue in file authentication/using-service-accounts-in-applications.adoc"
### Which section(s) is the issue in?

[Using Service accounts in Applications in OSD4
](https://docs.openshift.com/dedicated/4/authentication/using-service-accounts-in-applications.html)

### What needs fixing?

OSD3 had [Managing Allowed Secrets](https://docs.openshift.com/dedicated/3/dev_guide/service_accounts.html#managing-allowed-secrets)
and [Using Service account's credentials inside a cont

[2020-07-30 14:37] wgordon17 opened #24338 "[dedicated] Issue in file support/getting-support.adoc"
Could we get some of the 4.5 Getting Support details (https://docs.openshift.com/container-platform/4.5/support/getting-support.html) backported to 4.4, and OSD docs?

The _entire_ document applies equally to OSD as it does to OCP. The only differences being that in "Submitting a support case", we require `dedicated-admin` as opposed to `cluster-admin`, and the step 9 (`oc adm must-gather`) isn't

[2020-07-30 14:38] wgordon17 commented on #24338
cc: @lamek

[2020-07-30 23:11] zanoniluiz opened #24347 "Namespace Error and Scale down option error"
### Which section(s) is the issue in?

https://github.com/openshift/openshift-docs/blob/enterprise-3.11/upgrading/automated_upgrades.adoc
On section(s): Upgrading if fields have dots in field names  and Upgrading if fields do not have dots

### What needs fixing?

Item 5.a refers to Daemonset, the correct one being DeploymentConfig and item 2.a refers to the Namespace openshift-sdn, the correct on

[2020-07-31 01:07] bergerhoffer commented on #22701
PR to add the etcd cluster operator to the list of operators doc: https://github.com/openshift/openshift-docs/pull/24348

[2020-07-31 02:39] huddlesj commented on #24291
Duplicate of https://github.com/openshift/openshift-docs/issues/22854

[2020-07-31 02:39] #24291 closed

[2020-07-31 08:46] aburdenthehand commented on #24329
Thanks @peterclauterbach
#24351 merged to master and CP'd to enterprise-4.5 and 4.6

[2020-07-31 08:46] #24329 closed

[2020-07-31 16:47] tale-toul opened #24367 "[enterprise-4.5] Issue in file backup_and_restore/disaster_recovery/scenario-2-restoring-cluster-state.adoc"
### Which section(s) is the issue in?

Point 9.b

### What needs fixing?
Running the oc commands directly from the RHCOS node as shown in the example  will fail with the error:

error: Missing or incomplete configuration info.  Please point to an existing, complete config file:

the example oc command should point to a valid kubeconfig file, for example:

--kubeconfig /var/lib/kubelet/kubeconfig

[2020-07-31 21:02] #22838 closed

[2020-07-31 21:03] ahardin-rh commented on #22838
Looks like this was addressed in https://github.com/openshift/openshift-docs/pull/22844

[2020-07-31 21:06] ahardin-rh commented on #23009
@trexx @JaredBurck @sjug What's the way forward on this?

[2020-08-03 14:39] LucianoRed opened #24410 "[enterprise-4.5] Issue in file installing/install_config/configuring-firewall.adoc"
### Which section(s) is the issue in?
Session 4.

### What needs fixing?
Openshift, when using Vsphere, needs access to vcenter API in order to properly install and operate things like Machine Operators and StorageClasses. There is no indication on documentation for this rule. Usually, they need to create firewall rule to access vcenter API URL.

[2020-08-03 21:15] VeerMuchandi commented on #24106
Documentation is incorrect. The configmap cluster-monitoring-config should be created as it doesnt exist by default.

[2020-08-04 09:50] klenkes74 opened #24440 "[enterprise-3.11] Issue in file admin_guide/cluster-autoscaler.adoc"
### Which section(s) is the issue in?

Creating the launch configuration and Auto Scaling group

### What needs fixing?

We write that the asg may use min 0 nodes - but the autoscaler provided by Red Hat needs at least 1 node as template to function. So step5 should NOT be:

[code]

but

[code]
instead. The --min-size needs to be 1 and not 0.

[2020-08-04 11:08] zanoniluiz commented on #24347
PR #24354
Issue closed

[2020-08-04 11:08] #24347 closed

[2020-08-04 11:56] sjug commented on #23009
@trexx Hey there, the name of the test to run has changed to:
[code]

[2020-08-04 13:04] arizon-dread opened #24441 "[enterprise-4.3] Issue in file authentication/understanding-and-creating-service-accounts.adoc"
### Which section(s) is the issue in?

I tried using the search bar to find "service accounts", the result yielded nothing. I proceeded to google "openshift 4.3 service accounts" to find it.

### What needs fixing?

The search function doesn't seem to find parts of the documentation that's actually there.

[2020-08-04 13:25] walidshaari opened #24442 "Add Bahrain to supported AWS regions"
### Which section(s) is the issue in?

https://docs.okd.io/latest/installing/installing_aws/installing-aws-account.html#installation-aws-regions_installing-aws-account
docs.okd.io lates, installing aws account/ supported aws regions(installation-aws-regions_installing-aws-account)
### What needs fixing?

Add Middle-East-South-1 Bahrain to the supported regions

I was able to install with no quota

[2020-08-04 13:27] ahardin-rh commented on #24442
@walidshaari Thank you! We will work to get this added.

[2020-08-04 13:35] walidshaari commented on #24442
I saw it is already added 3 months ago, sorry, false issue

[2020-08-04 13:47] ahardin-rh commented on #24442
@walidshaari Well, thanks for contacting us!

[2020-08-04 13:47] #24442 closed

[2020-08-04 20:03] ahardin-rh commented on #23009
@trexx @sjug Thanks! I opened https://github.com/openshift/openshift-docs/pull/24453 to update the test names

[2020-08-04 20:29] mffiedler commented on #23009
@RH-ematysek Please take a look and provide a QE review.  Thanks.   /cc: @cpmeadors if you have a chance to look since I know you were looking at cluster-loader semi-recently.

[2020-08-05 06:36] trexx commented on #23009
@sjug @ahardin-rh

Thanks for the updates, I've been able to successfully run the load cluster tests now.

[2020-08-05 13:34] GrooveCS opened #24484 "[enterprise-4.5] [Feature] OpenShift-Docs Site to default Latest rather than a specific version"
### Which section(s) is the issue in?
Permalink URL to access the latest resource rather then the specific version.

![odo architecture - Developer CLI (odo) _ CLI tools _ OpenShift Container Platform 4 5](https://user-images.githubusercontent.com/1635152/89417494-c1380c80-d6fc-11ea-955e-d88e424d43dc.jpg)

### What needs fixing?

1. The default permalink should be the latest version
1. The user ha

[2020-08-05 15:41] newgoliath opened #24496 "[enterprise-4.4] Issue in file applications/application_life_cycle_management/odc-viewing-application-composition-using-topology-view.adoc"
### Which section(s) is the issue in?

Grouping multiple components within an application

### What needs fixing?

"select the mongodb Pod and drag" MUST include "hold SHIFT KEY and drag" in both paragraphs.  Also examine docs for any other uses of click and drag.

q.v.:

To add the MongoDB service to the existing application group, select the mongodb Pod and drag it to the application; the MongoD

[2020-08-07 12:57] noefence opened #24574 "[enterprise-4.5] Issue in file machine_management/creating-infrastructure-machinesets.adoc"
### Which section(s) is the issue in?

#infrastructure-moving-registry_creating-infrastructure-machinesets

### What needs fixing?

registry config object is config.imageregistry/cluster and not just config/cluster

[2020-08-07 16:57] LucianoRed opened #24587 "[enterprise-4.5] Issue in file installing/installing_vsphere/installing-vsphere-installer-provisioned.adoc"
### Which section(s) is the issue in?

https://docs.openshift.com/container-platform/4.5/installing/installing_vsphere/installing-vsphere-installer-provisioned.html#installation-vsphere-installer-infra-requirements_installing-vsphere-installer-provisioned

### What needs fixing?
The instructions do not include the  Datastore.FileManagement (Low level file operations) permission, so, in order to dy

[2020-08-08 11:16] akostadinov opened #24625 "[enterprise-4.4] Issue in file builds/running-entitled-builds.adoc"
### Which section(s) is the issue in?

Short overview/explanation missing and missing critical information in "Adding subscription entitlements as a build secret".

### What needs fixing?

I have spend several hours trying to achieve such build and below changes I believe would make the experience much easier.

First thing is that there is no short overview what is needed to perform a subscription

[2020-08-09 23:47] vikram-redhat commented on #24484
@GrooveCS

Hey there,

We do have the 'latest' tag.

So, you can use: https://docs.openshift.com/container-platform/latest/welcome/index.html and that will take you to the latest version, which right now, is 4.5. So it will go to: https://docs.openshift.com/container-platform/4.5/welcome/index.html.

IF I am understanding what you are asking for.

[2020-08-09 23:47] #24484 closed

[2020-08-10 12:16] jomeier commented on #23624
This would be nice because this important new OpenShift 4.5 feature is not documented at all.

[2020-08-10 14:29] garethahealy opened #24646 "[enterprise-4.5] Issue in file nodes/pods/nodes-pods-autoscaling.adoc"
### Which section(s) is the issue in?
The first v2 HPA yaml mixes metric types:

[code]

### What needs fixing?
k8s docs (https://kubernetes.io/docs/tasks/run-application/horizontal-pod-autoscale-walkthrough/#autoscaling-on-multiple-metrics-and-custom-metrics) says its:

[code]

So the above, needs to be changed to:

[code]

[2020-08-10 14:34] garethahealy commented on #24646
Issue exists in 4.4/4.3 and probably 4.2/.4.1 (not checked)

[2020-08-10 14:40] garethahealy commented on #24646
The provided example doesnt create a `Utilization` based HPA, it creates a `AverageValue`

[2020-08-10 15:23] ahardin-rh commented on #23919
Addressed in https://github.com/openshift/openshift-docs/pull/24392

[2020-08-10 15:23] #23919 closed

[2020-08-10 15:24] ahardin-rh commented on #23918
Addressed in https://github.com/openshift/openshift-docs/pull/24392

@lautou Thank you!

[2020-08-10 15:24] #23918 closed

[2020-08-10 15:25] ahardin-rh commented on #23910
Addressed in https://github.com/openshift/openshift-docs/pull/24392

@lautou Thank you!

[2020-08-10 15:25] #23910 closed

[2020-08-10 15:26] ahardin-rh commented on #23009
Thanks, all! The updates are all merged, so I am closing this issue out. Please let me know if you have any questions or concerns.

[2020-08-10 15:26] #23009 closed

[2020-08-10 15:29] ahardin-rh commented on #19406
Resolved via https://github.com/openshift/openshift-docs/pull/24578

[2020-08-10 15:29] #19406 closed

[2020-08-10 15:30] ahardin-rh commented on #20133
Resolved in https://github.com/openshift/openshift-docs/pull/24578

[2020-08-10 15:30] #20133 closed

[2020-08-10 15:40] kris234 opened #24653 "[enterprise-4.5] Issue in file installing/installing_aws/installing-aws-private.adoc"
### Which section(s) is the issue in?
The issue is in the section on Required VPC components. It  refers to a public VPC, and states a public subnet is required.

### What needs fixing?
The subject is "Installing a private cluster on AWS" which requires a private VPC.  Listing out all the requirements for a public VPC is confusing. Please list the Required components for a private VPC, and change

[2020-08-10 19:35] danwinship opened #24676 ""Configuring kube-proxy" is inaccurate / out of date"
### Which section(s) is the issue in?
"Configuring kube-proxy", eg, https://docs.openshift.com/container-platform/4.5/networking/openshift_sdn/configuring-kube-proxy.html

### What needs fixing?

1. There is no reason anyone should ever change `iptablesSyncPeriod` any more in 4.3 or later. It used to be the case that setting this to a larger-than-default-value would improve performance on large cl

[2020-08-11 07:55] lautou opened #24699 "[enterprise-4.5] Issue in file scalability_and_performance/optimizing-storage.adoc"
### Which section(s) is the issue in?

Specific application storage recommendations / Scaled registry

### What needs fixing?
Replace
"File storage and block storage are not recommended for a scaled/HA OpenShift Container Platform registry cluster deployment with production workloads" by:

- File storage is not recommended for a scaled/HA OpenShift Container Platform registry cluster deployment wi

[2020-08-11 08:17] lautou opened #24700 "[enterprise-4.5] Issue in file scalability_and_performance/optimizing-storage.adoc"
### Which section(s) is the issue in?

Specific application storage recommendations / Registry

### What needs fixing?
"The storage technology must ensure read-after-write consistency. All NAS storage are not recommended for OpenShift Container Platform Registry cluster deployment with production workloads."

should be replaced:
"The storage technology must ensure read-after-write consistency. Fil

[2020-08-11 08:44] lautou opened #24701 "[enterprise-4.5] Issue in file scalability_and_performance/optimizing-storage.adoc"
### Which section(s) is the issue in?
Specific application storage recommendations / Registry

### What needs fixing?

Move the sentences about RWX access mode and read-after-write consistency at the beginning of this paragraph:
"
- The storage technology does not have to support RWX access mode.
- The storage technology must ensure read-after-write consistency.
- The preferred storage technology

[2020-08-11 08:46] lautou opened #24702 "[enterprise-4.5] Issue in file scalability_and_performance/optimizing-storage.adoc"
### Which section(s) is the issue in?
Specific application storage recommendations / Scaled Registry

### What needs fixing?

Move the sentences about RWX access mode and read-after-write consistency at the beginning of this paragraph:
"
- The storage technology must support RWX access mode.
- The storage technology must ensure read-after-write consistency.
- The preferred storage technology is ob

[2020-08-11 08:50] lautou opened #24703 "[enterprise-4.5] Issue in file scalability_and_performance/optimizing-storage.adoc"
### Which section(s) is the issue in?

Specific application storage recommendations / Metrics
Specific application storage recommendations / Logging

### What needs fixing?
Add the following sentence on these two sections:

- Object storage is not configurable

(Because it is not possible to configure object stoage for both metrics and logging)

[2020-08-11 09:01] lautou opened #24704 "[enterprise-4.5] Issue in file scalability_and_performance/optimizing-storage.adoc"
### Which section(s) is the issue in?

Specific application storage recommendations / Metrics

### What needs fixing?

Add this sentence:
It is not recommended to use file storage for a hosted metrics cluster deployment with production workloads.

Remove this sentence:

There are file storage implementations in the marketplace that might not have these issues. Contact the individual storage vendor

[2020-08-11 15:15] syedriko opened #24712 "[enterprise-4.5] Issue in file logging/cluster-logging-deploying.adoc"
### Which section(s) is the issue in?
https://docs.openshift.com/container-platform/4.5/logging/cluster-logging-deploying.html#cluster-logging-deploy-console_cluster-logging-deploying
2. Install the Cluster Logging Operator

### What needs fixing?
The namespace in  "You must select this option to ensure that cluster monitoring scrapes the openshift-operators-redhat namespace." should be openshift-

[2020-08-11 17:04] walidshaari opened #24715 "Nightly builds site wrongly referenced url in https://docs.okd.io/latest/updating/updating-cluster-cli.html"
### Which section(s) is the issue in?
it is in the **candidate-Latest channel** informational paragraph  in https://docs.okd.io/latest/updating/updating-cluster-cli.html

### What needs fixing?
Link referenced  in the line:
   "Release candidates differ from the nightly builds found on the https://www.openshift.com/try site."
should read as:
    "Release candidates differ from the nightly builds f

[2020-08-11 19:58] ehashman opened #24726 "[enterprise-4.4] Issue in file nodes/nodes/nodes-nodes-managing.adoc"
### Which section(s) is the issue in?

Bad link in file nodes/nodes/nodes-nodes-managing.adoc

### What needs fixing?

Link to "KubeletConfig options" hardcodes Kubernetes branch 1.11, which is many major releases behind OpenShift 4.4.

[2020-08-12 09:02] SirTediousOfFoo opened #24733 "[enterprise-4.5] Issue in file rest_api/project_apis/projectrequest-project-openshift-io-v1.adoc"
### Which section(s) is the issue in?

First word of the **Description** paragraph.

### What needs fixing?

Typo in the first word says "ProjecRequest" should be fixed to "ProjectRequest"

[2020-08-12 12:02] peterclauterbach opened #24735 "[enterprise-4.6] Issue in file installing/installing_rhv/installing-rhv-default.adoc"
### Which section(s) is the issue in?

### What needs fixing?
We are not supporting OCP 4.6 and later on RHV 4.3, we need to update this install requirement ASAP.

should be:
The RHV version is 4.4.1 or later.

[2020-08-12 15:46] bergerhoffer commented on #22701
Closing as this update is live: https://docs.openshift.com/container-platform/4.5/operators/operator-reference.html#etcd-cluster-operator_red-hat-operators

[2020-08-12 15:46] #22701 closed

[2020-08-12 21:42] davivcgarcia opened #24777 "[enterprise-4.5] Issue in file nodes/nodes/nodes-nodes-working.adoc"
### Which section(s) is the issue in?

This [part](https://docs.openshift.com/container-platform/4.5/nodes/nodes/nodes-nodes-working.html#nodes-nodes-working-master-schedulable_nodes-nodes-working):

"In version 4.5, the ability to create a cluster that does not have worker nodes is available to only clusters that are deployed on bare metal as a technology preview. For all other cluster types, you

[2020-08-13 19:55] ahardin-rh commented on #24704
https://github.com/openshift/openshift-docs/pull/24443

[2020-08-13 19:56] ahardin-rh commented on #24703
https://github.com/openshift/openshift-docs/pull/24443

[2020-08-13 19:56] ahardin-rh commented on #24700
https://github.com/openshift/openshift-docs/pull/24443

[2020-08-13 19:56] ahardin-rh commented on #24699
https://github.com/openshift/openshift-docs/pull/24443

[2020-08-14 13:01] pdfruth opened #24809 "[enterprise-4.4] Issue in file updating/updating-restricted-network-cluster.adoc"
### Which section(s) is the issue in?
https://docs.openshift.com/container-platform/4.4/updating/updating-restricted-network-cluster.html#installation-adding-registry-pull-secret_updating-restricted-network-cluster

### What needs fixing?
The following text block is repeated twice, once preceded by a "Warning" symbol and another preceded by an "Important" symbol.

The redundant text should be remo

[2020-08-14 13:11] pdfruth opened #24810 "[enterprise-4.4] Issue in file updating/updating-restricted-network-cluster.adoc"
### Which section(s) is the issue in?
https://docs.openshift.com/container-platform/4.4/updating/updating-restricted-network-cluster.html#update-mirror-repository_updating-restricted-network-cluster

### What needs fixing?
This step in the instructions;

Is followed by this example command;
`oc image mirror  -a ${LOCAL_SECRET_JSON} --from-dir=${REMOVABLE_MEDIA_PATH}/mirror 'file://openshift/releas

[2020-08-14 13:23] pdfruth opened #24811 "[enterprise-4.4] Issue in file updating/updating-restricted-network-cluster.adoc"
### Which section(s) is the issue in?
https://docs.openshift.com/container-platform/4.4/updating/updating-restricted-network-cluster.html#update-mirror-repository_updating-restricted-network-cluster

The same also applies to the equivalent page in the Openshift 4.5 documentation at;
https://docs.openshift.com/container-platform/4.5/updating/updating-restricted-network-cluster.html#update-mirror-re

[2020-08-14 13:38] pdfruth opened #24812 "[enterprise-4.4] Issue in file updating/updating-restricted-network-cluster.adoc"
### Which section(s) is the issue in?
https://docs.openshift.com/container-platform/4.4/updating/updating-restricted-network-cluster.html#update-oc-configmap-signature-verification_updating-restricted-network-cluster

The same also applies to the equivalent page in the Openshift 4.5 documentation at;
https://docs.openshift.com/container-platform/4.5/updating/updating-restricted-network-cluster.htm

[2020-08-14 13:46] pdfruth opened #24813 "[enterprise-4.4] Issue in file updating/updating-restricted-network-cluster.adoc"
### Which section(s) is the issue in?
https://docs.openshift.com/container-platform/4.4/updating/updating-restricted-network-cluster.html#update-configuring-image-signature

The same also applies to the equivalent page in the Openshift 4.5 documentation at;
https://docs.openshift.com/container-platform/4.5/updating/updating-restricted-network-cluster.html#update-configuring-image-signature

### Wh

[2020-08-14 15:52] pdfruth opened #24814 "[enterprise-4.4] Issue in file updating/updating-restricted-network-cluster.adoc"
### Which section(s) is the issue in?
https://docs.openshift.com/container-platform/4.4/updating/updating-restricted-network-cluster.html#update-mirror-repository_updating-restricted-network-cluster

The same also applies to the equivalent page in the Openshift 4.5 documentation at;
https://docs.openshift.com/container-platform/4.5/updating/updating-restricted-network-cluster.html#update-mirror-re

[2020-08-17 04:31] garbagego commented on #24574
@noefence [24319](https://github.com/openshift/openshift-docs/pull/24319)

[2020-08-17 04:32] garbagego commented on #24574
Duplicate of #24129

[2020-08-17 18:45] maxwelldb opened #24847 "[enterprise-3.11] Style tweaks to ocp_osp_provisioning.adoc"
### Which section(s) is the issue in?
https://github.com/openshift/openshift-docs/pull/24698

### What needs fixing?

Changed content in #24698 + everything around it needs some syntax and readability fixes.

[2020-08-17 18:58] maxwelldb commented on #24847
Started here: https://github.com/maxwelldb/openshift-docs/tree/osp-provisioning-improvements-24847

[2020-08-18 00:11] gaurav-nelson commented on #22854
This one should get some :eyes:

[2020-08-18 01:50] jboxman commented on #21632
@dhellmann, the fix for this landed some time ago for 4.4 and 4.5:

https://docs.openshift.com/container-platform/4.5/rest_api/index.html

[2020-08-18 01:50] #21632 closed

[2020-08-18 01:54] jboxman commented on #19589
@kalexand-rh @luciddreamz so on the latest OS X I have to re-approve `oc` every day if it came from cloud.redhat.com. It's unpleasant. I'd expect users are having a similar experience.

[2020-08-18 01:57] jboxman commented on #24676
@danwinship, I can certainly try to push for the removal of `iptablesSyncPeriod` through our change control process, but it'll need sign-offs from support and other places.

[2020-08-18 04:07] luckylittle opened #24851 "[enterprise-4.5] Issue in file installing/install_config/configuring-firewall.adoc"
### Which section(s) is the issue in?
When installing OpenShift 4.5 on VMware vSphere, it requires access to download RHCOS from e.g. https://releases-art-rhcos.svc.ci.openshift.org/art/storage/releases/rhcos-4.5/45.82.202008010929-0/x86_64/rhcos-45.82.202008010929-0-vmware.x86_64.ova?sha256=e7fc00902051d3933bde11fe5e25fa6d252f5388a6d6daa54107a756aadcf899

### What needs fixing?
Add `openshift.org

[2020-08-18 12:53] luciddreamz commented on #19589
We don't point at the access.redhat.com version because it requires an active OpenShift subscription to access. OpenShift is free to install without an active subscription, so the content is hosted on mirror.openshift.com without the paywall.

[2020-08-18 14:29] sheriff-rh commented on #24574
Hello,
As @garbagego  pointed out, this is a duplicate issue, which I have merged changes in  #24319.

These changes are now live on the Red Hat Customer Portal and on docs.openshift.com:
https://access.redhat.com/documentation/en-us/openshift_container_platform/4.5/html-single/machine_management/index#infrastructure-moving-registry_creating-infrastructure-machinesets
https://docs.openshift.com/co

[2020-08-18 14:29] #24574 closed

[2020-08-18 14:31] sheriff-rh commented on #24129
@garbagego and @germanparente  ,

Thanks for filing this issue and the pull request; it made my job easy :)

I've merged and confirmed these changes are now live on the Customer Portal and on docs.openshift.com:
https://access.redhat.com/documentation/en-us/openshift_container_platform/4.5/html-single/machine_management/index#infrastructure-moving-registry_creating-infrastructure-machinesets
https

[2020-08-18 14:31] #24129 closed

[2020-08-18 15:12] jboxman commented on #19589
@luciddreamz, when I filed a bug, the reason given is it's not easily done to sign binaries also on `mirror.openshift.com`. Given this new information, that OS X nags daily instead of just once, I'll try to re-open the issue. But I'm not optimistic.

[2020-08-18 15:16] jboxman commented on #19589
Given this, is there something useful we can say so that for those with a subscription, their experience on OS X isn't extremely frustrating?

[2020-08-18 15:27] luciddreamz commented on #19589
How do you even manage to get a message about unsigned binaries on the Mac? I'm a Mac user and I can download the installer from the mirrors, unpack it, and run it from the CLI without warning.

Users shouldn't be double clicking on the binary after downloading it. That won't do anything productive. Here's what happens if you double click it (after bypassing the warning):
![Screen Shot 2020-08-18

[2020-08-18 16:01] jboxman commented on #19589
@luciddreamz, I copy the binary into my `PATH`, and then run it as normal. Every day when I run it anew, I am prompted to approve it as an unsigned binary. It doesn't matter how the binary is run, OS X prompts that it is unsigned with only options to delete or abort. Once approved in _Security & Privacy_, it prompts again, but allows me to bypass the warning. This happens every day since upgrading

[2020-08-18 16:34] luciddreamz commented on #19589
Weird - I can't find a way to have it prompt me on Mac OS X 10.15.6 and I never saw it on older versions either. The only way it prompts is if I double click.

My Gatekeeper settings:
![Screen Shot 2020-08-18 at 12 33 59 PM](https://user-images.githubusercontent.com/928421/90540405-2fde8680-e14f-11ea-96b7-b491950313e7.png)

[2020-08-18 22:09] jboxman commented on #24733
@SirTediousOfFoo, thanks for filing this. The docs are auto-generated, so probably needs to be fixed elsewhere, maybe in OCP api repo.

[2020-08-19 08:29] lautou opened #24874 "[enterprise-4.5] Issue in file installing/installing_bare_metal/installing-bare-metal.adoc"
### Which section(s) is the issue in?

Creating Red Hat Enterprise Linux CoreOS (RHCOS) machines by PXE or iPXE booting

### What needs fixing?
1/ Replace this line:
Obtain the RHCOS ISO image, compressed metal RAW image, kernel and initramfs files from the Product Downloads page on the Red Hat customer portal or the RHCOS image mirror page.

by this:
Obtain the compressed metal RAW image, kernel

[2020-08-19 12:49] #24704 closed

[2020-08-19 12:49] #24703 closed

[2020-08-19 12:49] #24700 closed

[2020-08-19 12:49] #24699 closed

[2020-08-19 12:51] #23529 closed

[2020-08-20 07:22] lautou opened #24916 "[enterprise-4.5] Issue in file scalability_and_performance/optimizing-storage.adoc"
### Which section(s) is the issue in?
Specific application storage recommendations / Registry

### What needs fixing?
Remove "While hostPath volumes are configurable for a non-scaled/HA OpenShift Container Platform registry, they are not recommended for cluster deployment."

(Because hostPath is file storage technology since we don't recommend file storage in the previous sentence, this sentence a

[2020-08-20 07:30] lautou opened #24917 "[enterprise-4.5] Issue in file scalability_and_performance/optimizing-storage.adoc"
### Which section(s) is the issue in?

Specific application storage recommendations / Scaled Registry

### What needs fixing?

Replace:
"File storage is not recommended for a scaled/HA OpenShift Container Platform registry cluster deployment with production workloads."

by:

"For others non cloud platform (bare-metal, vSphere...), the only configurable technology is file storage."

(Because there

[2020-08-20 07:36] lautou opened #24918 "[enterprise-4.5] Issue in file scalability_and_performance/optimizing-storage.adoc"
### Which section(s) is the issue in?

Specific application storage recommendations / Registry

### What needs fixing?

Split the following sentences:
"The preferred storage technology is object storage followed by block storage.
The storage technology must ensure read-after-write consistency. File storage is not recommended for OpenShift Container Platform registry cluster deployment with product

[2020-08-20 08:39] lautou opened #24920 "([enterprise-4.5] Issue in file installing/installing_bare_metal/installing-bare-metal.adoc"
### Which section(s) is the issue in?

Sample install-config.yaml file for bare metal

### What needs fixing?

Complete the following sentences:
"Whether to enable or disable simultaneous multithreading, or hyperthreading.
By default, simultaneous multithreading is enabled to increase the performance of your machines' cores.
You can disable it by setting the parameter value to Disabled.
If you dis

[2020-08-20 08:56] lautou opened #24921 "[enterprise-4.5] Issue in file installing/installing_bare_metal/installing-bare-metal.adoc"
### Which section(s) is the issue in?

Minimum resource requirements

### What needs fixing?
Add the following sentence after the chart:

**1 vCPU is equivalent to 1 core for non-hyperthreaded CPUs.
2 vCPU are equivalent to 1 core for hyperthreaded CPUs.**

[2020-08-20 08:58] lautou commented on #24851
***.openshift.org** to be more precise.

[2020-08-21 12:44] michaelshire opened #24947 "[online] Issue in file welcome/index.adoc"
### Which section(s) is the issue in?

In the ARO Docs version 4 documentation, there is missing (or at least not searchable) documentation on updating the cluster minor version and patch version.

### What needs fixing?
Include a section on updating the cluster minor version and patch version.
The OCP set of documentation has some reference material
https://docs.openshift.com/container-platform/4

[2020-08-24 03:26] squirrd opened #24981 "[dedicated] Issue in file logging/dedicated-cluster-deploying.adoc"
### Which section(s) is the issue in?
There a few issues in a few sections on this page.

### What needs fixing?

- You have an info bubble that states `When you deploy an instance of the Cluster Logging Operator, it also deploys an instance of the Elasticsearch Operator.`.   But then the documentation starts by deploying elasticsearch.  I think the quoted buble is incorrect, as you DO need to ins

[2020-08-24 21:08] #24676 closed

[2020-08-25 11:30] mmurphy opened #25003 "[dedicated] Issue in file support/getting-support.adoc"
### Which section(s) is the issue in?
Getting Support (https://docs.openshift.com/dedicated/4/support/getting-support.html)

### What needs fixing?
* The `Page History` navigation, at the top, links to (https://github.com/openshift/openshift-docs/commits/enterprise-3.11/support/getting-support.adoc), which does not exist.
* The `Open an issue` navigation links to GitHub new issue, however the text

[2020-08-25 15:30] jboxman commented on #25003
fyi @sheriff-rh

[2020-08-25 16:36] therevoman opened #25015 "[enterprise-4.5] Issue in file installing/installing_vsphere/installing-vsphere-installer-provisioned.adoc"
### Which section(s) is the issue in?
VSphere service account permissions section.

### What needs fixing?
While provisioning with a barebones service account my client ran across an issue with permissions.
Seems a clarification is needed regarding this error:

Error: error reconfiguring virtual machine: error processing disk changes post-clone: disk.0: ServerFaultCode: NoPermission: RESOURCE (vm-

[2020-08-25 16:39] therevoman commented on #25015
Client used this link to fix their service-account
https://github.com/hashicorp/terraform-provider-vsphere/issues/966

[2020-08-25 21:54] pucher1983 opened #25028 "[enterprise-4.5] Issue in file logging/config/cluster-logging-log-store.adoc"
### Which section(s) is the issue in?

A code template in paragraf 7 of the section 'Performing an Elasticsearch rolling cluster restart',

### What needs fixing?

I guess it should be

$ oc exec <any_es_pod_in_the_cluster> -c elasticsearch -- es_util --query=_cluster/settings -XPUT 'https://localhost:9200/_cluster/settings' -d '{ "transient": { "cluster.routing.allocation.enable" : "all" } }'

in

[2020-08-26 00:16] jboxman commented on #25028
@mburke5678 fyi

[2020-08-26 08:48] pamoedom opened #25034 "[enterprise-4.5] Issue in file installing/installing_gcp/installing-gcp-network-customizations.adoc"
### Which section(s) is the issue in?

[Modifying advanced network configuration parameters](https://docs.openshift.com/container-platform/4.5/installing/installing_gcp/installing-gcp-network-customizations.html#modifying-nwoperator-config-startup_installing-gcp-network-customizations)

### What needs fixing?

As agreed with Networking team via [BZ#1857883](https://bugzilla.redhat.com/show_bug.cgi

[2020-08-26 12:17] nickcmaynard opened #25036 "[enterprise-4.5] Issue in file installing/install_config/configuring-firewall.adoc"
### Which section(s) is the issue in?
Hosts that need whitelisting in firewall rules.

### What needs fixing?
These need to include the default NTP hosts used by OpenShift, as otherwise the cluster nodes will slowly drift.

[2020-08-26 18:59] sjstout commented on #22406
If https://bugzilla.redhat.com/show_bug.cgi?id=1848695 is deferred to 4.7, we may need to add something to the RNs as a Known Issue. I've asked Eng to update the doc text in the BZ if a note is needed. Thanks!

[2020-08-26 19:22] mburke5678 commented on #25028
@pucher1983
I am working on updating this topic in https://github.com/openshift/openshift-docs/pull/22465.
Does this address your concerns?

[2020-08-26 19:46] mburke5678 commented on #24777
@davivcgarcia Thanks for pointing this out. Please see my changes in https://github.com/openshift/openshift-docs/pull/25050

[2020-08-26 19:46] #24777 closed

[2020-08-26 21:43] mburke5678 commented on #24712
https://github.com/openshift/openshift-docs/pull/25053

[2020-08-26 21:43] #24712 closed

[2020-08-26 22:02] mburke5678 commented on #24726
@ehashman Thanks for your comment. Making the change: https://github.com/openshift/openshift-docs/pull/25055
Let me know if you think the new link makes sense.

[2020-08-27 08:44] rhatbob opened #25065 "[enterprise-4.5] Issue in file installing/installing_bare_metal/installing-bare-metal.adoc"
### Which section(s) is the issue in?
[Network topology requirements](https://docs.openshift.com/container-platform/4.5/installing/installing_bare_metal/installing-bare-metal.html#network-topology-requirements)

### What needs fixing?
The `API load balancer` and `Application Ingress load balancer` sections outline that an L4 load balancer is required:

For SSL Bridge (a.k.a SSL Re-Encryption) to w

[2020-08-27 13:53] rhdojun opened #25070 "[enterprise-4.5] Issue in file machine_management/adding-rhel-compute.adoc"
### Which section(s) is the issue in?
https://docs.openshift.com/container-platform/4.5/machine_management/adding-rhel-compute.html#installation-approve-csrs_adding-rhel-compute

### What needs fixing?
It would be good if the approval step first shows how to review a CSR before approving it and maybe link to an external explanation about how CSR approval works in general for people who care about

[2020-08-27 15:49] mrVectorz opened #25075 "[enterprise-4.5][typo] Issue in file modules/installation-preparing-restricted-cluster-to-gather-support-data.adoc"
This is a simple typo fix.
file: `modules/installation-preparing-restricted-cluster-to-gather-support-data.adoc`

### Which section(s) is the issue in?
Section: "Preparing your cluster to gather support data"

### What needs fixing?
The sentence contains a typo: "imporat" instead of "import".

[2020-08-27 17:09] mburke5678 commented on #23496
@cblecker @jewzaam @lamek This has been fixed and the docs are updated. Thank you for pointing this out.

https://docs.openshift.com/dedicated/4/logging/dedicated-cluster-deploying.html#dedicated-cluster-install-deploy

[2020-08-27 17:15] mburke5678 commented on #21715
https://github.com/openshift/openshift-docs/pull/24063

[2020-08-27 17:15] #21715 closed

[2020-08-27 17:16] #21689 closed

[2020-08-27 17:17] mburke5678 commented on #21602
I am working on improving this entire topic via #[22465](https://github.com/openshift/openshift-docs/pull/22465)

[2020-08-27 17:17] #21602 closed

[2020-08-27 17:23] mburke5678 commented on #20748
@aelicieguo We have a log forwarding feature that can use a new API (currently tech preview) or fluentd or syslog protocols to forward logs to external systems. Does this address your concern?
https://docs.openshift.com/container-platform/4.4/logging/config/cluster-logging-external.html
https://docs.openshift.com/container-platform/4.5/logging/cluster-logging-external.html

[2020-08-27 17:27] #25075 closed

[2020-08-27 17:31] #25028 closed

[2020-08-27 17:35] mburke5678 commented on #24981
@lamek Is this still in your purview?

[2020-08-27 17:37] mburke5678 commented on #21956
Closing as a duplicate of https://github.com/openshift/openshift-docs/issues/21957. Both procedures should be the same (or similar enough) to CP and tweak should we want to add this information,

[2020-08-27 17:37] #21956 closed

[2020-08-28 02:40] svenstaro commented on #12498
/remove-lifecycle stale

[2020-08-28 06:24] mikishapiro opened #25094 "[enterprise-4.5] Issue in file installing/installing_bare_metal/installing-bare-metal.adoc"
### Which section(s) is the issue in?

User-provisioned DNS requirements

### What needs fixing?

PTR (reverse DNS) records are required for successful cluster builds, as this is the mechanism that RHCOS uses to name masters. If this isn't done, all the masters will be called "localhost", and machines with the same hostname cannot be joined as masters to the newly formed cluster.

[2020-08-28 06:32] mikishapiro opened #25095 "[enterprise-4.5] Issue in file installing/installing_bare_metal/installing-bare-metal.adoc"
### Which section(s) is the issue in?
Creating Red Hat Enterprise Linux CoreOS (RHCOS) machines by PXE or iPXE booting

### What needs fixing?
The example suggests using a kernel and initramfs using http:// URLs from a web server.
This cannot work, because when booting via PXE & tftp, URLs in KERNEL and in APPEND initrd= are not parsed, and the entire string (including http://) is sought as a file

[2020-08-28 23:26] ghyde opened #25130 "[enterprise-3.11] Broken scripts for syncing RPM repos for disconnected install"
### Which section(s) is the issue in?

Enterprise 3.11 > Install > Disconnected Install > [Obtaining {product-title} packages](https://github.com/openshift/openshift-docs/blob/8f84681682a4a967250ade757e48b38efff3ccbd/install/disconnected_install.adoc#obtaining-product-title-packages)

### What needs fixing?

The scripts for enabling repos and syncing packages have an extra `\` after the last repo

[2020-08-29 20:22] #25130 closed

[2020-08-29 22:40] chuckersjp commented on #12851
Looks like this may have been fixed.  Not exactly per my suggestion but it it does look improved.

/close

[2020-08-29 22:40] #12851 closed

[2020-08-31 00:38] hupiper opened #25135 "[enterprise-4.5] Issue in file security/container_security/security-network.adoc"
### Which section(s) is the issue in?
First paragraph

### What needs fixing?
It looks like you are missing a letter. Third sentence, allowing an rejecting should probably be allowing and rejecting.

Network security can be managed at several levels. At the pod level, network namespaces can prevent containers from seeing other pods or the host system by restricting network access. Network policies

[2020-08-31 20:24] mburke5678 opened #25150 "Add all of the Kubernetes node conditions to docs"
Add all of the Kubernetes node conditions to docs.
https://kubernetes.io/docs/concepts/architecture/nodes/#condition

Add to:
https://docs.openshift.com/container-platform/4.5/nodes/scheduling/nodes-scheduler-taints-tolerations.html#nodes-scheduler-taints-tolerations-about-taintNodesByCondition_nodes-scheduler-taints-tolerations

See: https://coreos.slack.com/archives/C2ZA5QGMV/p1598426833026600

[2020-08-31 20:25] mburke5678 commented on #25150
cc. @vikram-redhat

[2020-08-31 22:54] mburke5678 commented on #25150
Close in favor of https://issues.redhat.com/browse/OSDOCS-1458

[2020-08-31 22:54] #25150 closed

[2020-09-01 00:51] matmille opened #25153 "[enterprise-4.5] Issue in file installing/install_config/installing-restricted-networks-preparations.adoc"
### Which section(s) is the issue in?
In "Configuring credentials that allow images to be mirrored", the use of the command "oc registry login" fails unless a ~/.kube/config file or KUBECONFIG environment variable exists.

Unless the user has a kubeconfig; which would be provided by a login - they receive the following error:
error: Missing or incomplete configuration info.  Please login or point

[2020-09-01 11:43] madhusudanupadhyay opened #25155 "[dedicated] Issue in file welcome/index.adoc"
### Which section(s) is the issue in?

Missing information on Service Mesh Supportability

### What needs fixing?

We need to update the OpenShift Dedicated 4 docs to highlight that [OpenShift Online and OpenShift Dedicated are not supported for Red Hat OpenShift Service Mesh 1.1.7](https://docs.openshift.com/container-platform/4.5/service_mesh/servicemesh-release-notes.html#ossm-supported-configu

[2020-09-01 15:01] abrennan89 commented on #23465
This link has now moved to https://docs.openshift.com/container-platform/4.4/serverless/event_sources/serverless-apiserversource.html

I've requested a redirect as per https://docs.google.com/spreadsheets/d/1KH2_p54Fr2KRFTUGzQdpqExox7iL9RM4_yiPNQpArjk/edit#gid=0 but not sure when these will be updated. @vikram-redhat is there an ETA for when the links get updated?

I see the line you're talking ab

[2020-09-02 00:07] nak3 commented on #23465
@abrennan89 I think it is similar to https://issues.redhat.com/browse/SRVKS-611. Serverless does not publish an official sample image so we have to do it first.
Until we published the official sample image, using `quay.io/openshift-knative/knative-eventing-sources-event-display:v0.13.2` is fine for me, but need to ask eventing or QE's (@matzew  or @maschmid ) opinion.

[2020-09-02 07:44] matzew commented on #23465
please use :latest

On Wed 2. Sep 2020 at 02:07, Kenjiro Nakayama <notifications@github.com>
wrote:

--
Sent from Gmail Mobile

[2020-09-02 10:09] masayag opened #25195 "[enterprise-4.5] Issue with supported values of no_proxy for cluster-proxy on installation"
### Which section(s) is the issue in?
In https://github.com/openshift/openshift-docs/blob/master/modules/installation-configure-proxy.adoc
The description of 'noProxy' field contains 'Use * to bypass proxy for all destinations'
However, when setting noProxy to '*' and trying to generate ignition files, action fails with:
[code]

Also on the installer side, '*' isn't mentioned as a supported value:

[2020-09-02 10:27] masayag commented on #25195
Issue seems to exist on 4.6 as well.

[2020-09-02 14:36] bergerhoffer commented on #23511
PRs have been merged, closing this issue.

[2020-09-02 14:37] #23511 closed

[2020-09-02 15:15] IronicBadger opened #25207 "[enterprise-4.5] Issue in file registry/configuring_registry_storage/configuring-registry-storage-vsphere.adoc"
### Which section(s) is the issue in?

https://docs.openshift.com/container-platform/4.5/registry/configuring_registry_storage/configuring-registry-storage-vsphere.html#registry-removed_configuring-registry-storage-vsphere

### What needs fixing?

`ManagementState` does not exist instead it is `managementState`.

[2020-09-02 16:08] michaelshire opened #25211 "[online] Issue in file welcome/index.adoc"
### Which section(s) is the issue in?
<Search>

### What needs fixing?
The search function seems to be broken.  Returns no results for a generic term like "openshift".

[2020-09-02 16:55] jboxman commented on #25211
@michaelshire, is it still broken? It is working for me with _openshift_:

<img width="1184" alt="Screen Shot 2020-09-02 at 12 55 03 PM" src="https://user-images.githubusercontent.com/354496/92013323-994bc100-ed1b-11ea-961c-52aa30f16ef6.png">

[2020-09-02 22:28] jmtejal opened #25230 "[enterprise-4.5] Issue in file networking/enable-cluster-wide-proxy.adoc"
### Which section(s) is the issue in?

The cluster-wide proxy is only supported if you used a user-provisioned infrastructure installation for a supported provider.
--

### What needs fixing?
Need some clarification on the above statement RE supportability of IPI installation on VMware using a proxy.
This article tells us it is possible: https://access.redhat.com/solutions/5312791

[2020-09-03 13:10] michaelshire commented on #25211
The issue I found is specific to the ARO4 docs:
https://docs.openshift.com/aro/4/welcome/index.html

[2020-09-03 13:27] jboxman commented on #25211
@vikram-redhat, is search intended to work for ARO4 docs? It returns empty results right now.

[2020-09-04 00:18] mikishapiro opened #25277 "[enterprise-4.5] Issue in file installing/installing_vsphere/installing-vsphere-installer-provisioned.adoc"
### Which section(s) is the issue in?

The vSphere IPI install guide.

### What needs fixing?

It does not state the RAM and CPU requirements of the VMs it will install.

These are available in the sister UPI guide here:
https://docs.openshift.com/container-platform/4.5/installing/installing_vsphere/installing-vsphere-network-customizations.html#minimum-resource-requirements_installing-vsphere-net

[2020-09-04 04:37] PriyankaKanthale opened #25278 "[dedicated] Issue in file applications/projects/working-with-projects.adoc"
### Which section(s) is the issue in?

[Working with the Projects](https://docs.openshift.com/dedicated/4/applications/projects/working-with-projects.html)

### What needs fixing?

OSD 4 documentation does not contain application back up steps as it is provided in https://docs.openshift.com/dedicated/3/admin_guide/assembly_backing-up-restoring-project-application.html

[2020-09-04 08:58] soltysh commented on #22406
Kubernetes 1.19 added warnings in deprecated APIs which are now surfaced in client-go and oc/kubectl on every invocation against deprecated API, see https://github.com/kubernetes/kubernetes/pull/73032 for more details. Example looks like this:
[code]

[2020-09-04 09:25] ggore-rh opened #25283 "[enterprise-4.5] Issue in file migration/migrating_3_4/deploying-cam-3-4.adoc"
### Incorrect full form of OLM mentioned as "Operation Lifecycle Manager" in following files:
[code]

### Which section(s) is the issue in?
https://docs.openshift.com/container-platform/4.5/migration/migrating_3_4/deploying-cam-3-4.html
[code]

https://docs.openshift.com/container-platform/4.5/migration/migrating_4_1_4/deploying-cam-4-1-4.html
[code]

https://docs.openshift.com/container-platform/

[2020-09-04 13:24] madhusudanupadhyay opened #25291 "[dedicated] Issue in file logging/cluster-logging.adoc"
### Which section(s) is the issue in?

Information about the level of access for the logging stack.

### What needs fixing?

It would be worth while to add in the docs:
- dedicated admins do not have access to cluster level logs.
- dedicated admins can view logs of *all* the customer workload project in the cluster
- searchguard plugin in ES leverages the user's rbac in-cluster to determine what p

[2020-09-04 14:31] lamek commented on #25291
Thanks for spotting this. We carded this work in Jira here - https://issues.redhat.com/browse/OSDOCS-1473

[2020-09-04 14:31] #25291 closed

[2020-09-05 04:53] bysnupy commented on #14359
It's too stale, so I close this.

[2020-09-05 04:53] #14359 closed

[2020-09-07 14:25] ralvares opened #25308 "[enterprise-4.5] Issue in file installing/installing_vsphere/installing-vsphere-installer-provisioned-customizations.adoc"
### Which section(s) is the issue in?

Table 5. Additional VMware vSphere cluster parameters

There is not mention about resourcePool which is common on vsphere enterprise deployments.

### What needs fixing?

Add platform.vsphere.resourcePool description to the documentation.

Parameter: platform.vsphere.resourcePool
Description: Optional. The path of an existing ResourcePool where the installati

[2020-09-07 15:02] ptrnull opened #25309 "[enterprise-4.5] Issue in file nodes/nodes/nodes-nodes-working.adoc - oc adm delete node is wrong"
### Which section(s) is the issue in?
Deleting nodes from a bare metal cluster

### What needs fixing?
The command "oc adm delete node <node_name>" doesn't exists and gives an error:

$ oc adm delete node worker-1.mycluster
error: unknown command "delete node worker-1.mycluster"

The right command is "oc delete node <node_name>", for example:
$ oc delete node worker-1.mycluster
node "worker-1..myc

[2020-09-07 15:33] #25308 closed

[2020-09-08 16:05] codyhoag commented on #25309
@sunilcio using the `oc adm` command to delete nodes was recommended in [BZ#1846520](https://bugzilla.redhat.com/show_bug.cgi?id=1846520). I see that `delete` is considered a Developer command [here](https://docs.openshift.com/container-platform/4.5/cli_reference/openshift_cli/developer-cli-commands.html#delete), instead of being listed as an admin command [here](https://docs.openshift.com/contain

[2020-09-08 19:12] #24726 closed

[2020-09-09 03:06] hashnao commented on #14584
/close

[2020-09-09 03:06] #14584 closed

[2020-09-09 14:36] sunilcio commented on #25309
@codyhoag yes, correct. It should be `oc delete node <node_name>`. Thanks for correcting.

[2020-09-09 15:21] #25309 closed

[2020-09-10 09:07] pwright commented on #14628
/remove-lifecycle stale

[2020-09-10 09:08] pwright commented on #14628
This doc seems to be OCP specific https://docs.openshift.com/dedicated/3/admin_guide/service_accounts.html#enabling-service-account-authentication

[2020-09-10 20:54] vpagar1 opened #25393 "[enterprise-4.6] Issue in file installing/installing_rhv/installing-rhv-customizations.adoc"
### Which section(s) is the issue in?
Add a section on customization of resources with the IPI installation method by modifying the install-config file before running a create a cluster.

Because of the RHV bug [1863615](https://bugzilla.redhat.com/show_bug.cgi?id=1863615), the only workaround is to use the vmType as server in install-config, so we need to have details in our document on customizi

[2020-09-10 20:55] ahardin-rh commented on #24701
Addressed in https://github.com/openshift/openshift-docs/pull/25394

[2020-09-10 20:55] #24701 closed

[2020-09-10 20:56] ahardin-rh commented on #24918
Addressed in https://github.com/openshift/openshift-docs/pull/25394

[2020-09-10 20:56] #24918 closed

[2020-09-10 20:56] ahardin-rh commented on #24917
Addressed in https://github.com/openshift/openshift-docs/pull/25394

[2020-09-10 20:56] #24917 closed

[2020-09-10 21:07] eponafyrefly opened #25395 "[enterprise-4.5] Edit suggested in file installing/installing_aws/installing-aws-default.adoc"
### Which section(s) is the issue in?
Installing a cluster quickly on AWS.
https://docs.openshift.com/container-platform/4.5/installing/installing_aws/installing-aws-default.html#installing-aws-default

### What needs fixing?
This line under Prerequisites has a typo:
"If you do not allow the system to manage identity and access management (IAM), then a cluster administrator can **can** manually cr

[2020-09-10 23:45] jboxman commented on #25395
@eponafyrefly, thanks!

[2020-09-11 15:28] amelie1979 opened #25403 "[enterprise-4.5] Issue in file installing/installing_vsphere/installing-vsphere.adoc"
### Which section(s) is the issue in?

https://docs.openshift.com/container-platform/4.3/installing/installing_vsphere/installing-vsphere.html#registry-configuring-storage-vsphere_installing-vsphere

https://docs.openshift.com/container-platform/4.5/post_installation_configuration/storage-configuration.html#vsphere-definition_post-install-storage-configuration

https://docs.openshift.com/container

[2020-09-11 16:40] #25395 closed

[2020-09-11 18:56] #24735 closed

[2020-09-12 02:53] matttarwater opened #25439 "Explain when workers are deployed"
### Which section(s) is the issue in?
Deploying the cluster

### What needs fixing?
A note needs to be added stating that the workers are deployed AFTER the boot node is deleted and installation is successful.

[2020-09-13 15:43] daveolker commented on #15797
/remove-lifecycle stale

[2020-09-14 01:00] hashnao commented on #15376
/remove-lifecycle stale

[2020-09-14 08:20] vikram-redhat commented on #23809
@sfortner-RH No QE required.

[2020-09-14 08:25] vikram-redhat commented on #24001
@lamek was this deliberately removed from OSD 4 docs? IF not, could you add them back?

[2020-09-14 08:27] vikram-redhat commented on #24002
@wgordon17 are those missing sections correct for Dedicated docs?

@lamek

[2020-09-14 08:45] vikram-redhat commented on #24149
@wgordon17 if you could confirm it applies in dedicated, @sfortner-RH can add it in.

[2020-09-14 08:49] vikram-redhat commented on #24239
I believe this is intentional. @wgordon17 can you confirm? If no, @lamek can we add it?

[2020-09-14 08:50] vikram-redhat commented on #24336
@wgordon17 I am pretty sure this is removed intentionally. Let me know if you disagree.

@sfortner-RH

[2020-09-14 08:51] vikram-redhat commented on #24337
@wgordon17 again, I am pretty sure this is intentional, but if not, @sfortner-RH if you can conditionally add it back.

[2020-09-14 08:52] vikram-redhat commented on #25278
@bergerhoffer this would not apply to a Dedicated cluster? @wgordon17

[2020-09-14 13:03] madhusudanupadhyay opened #25441 "[dedicated] Issue in file networking/openshift_sdn/configuring-egress-firewall.adoc"
### Which section(s) is the issue in?

https://docs.openshift.com/dedicated/4/networking/openshift_sdn/configuring-egress-firewall.html

### What needs fixing?

The docs mention that cluster admin is required to make changes and create egress network policy. On the contrary:

$ oc adm policy who-can create egressnetworkpolicy -n dedicated-admin | grep -A100 ^Group
Groups: dedicated-admins

[2020-09-14 21:10] maxwelldb opened #25463 "[OSP] Add API endpoint accessibility note"
### Which section(s) is the issue in?
https://github.com/openshift/openshift-docs/pull/22392#pullrequestreview-448497396

### What needs fixing?
Add something that communicates this where relevant:

http://api.cluster.domain.name:22623. This maybe tested by using a tool like curl,
`curl --insecure https://api.clustername.basedomain.name:22623`, and verifying it does not time out.

[2020-09-15 07:45] pamoedom opened #25471 "[enterprise-4.5] Issue in file updating/updating-restricted-network-cluster.adoc"
### Which section(s) is the issue in?

https://docs.openshift.com/container-platform/4.5/updating/updating-restricted-network-cluster.html#update-oc-configmap-signature-verification_updating-restricted-network-cluster

### What needs fixing?

[Google Cloud Storage (GCS)](https://storage.googleapis.com/openshift-release/official/signatures) link is broken, please review.

[2020-09-15 07:53] Koma-Andrea opened #25472 "[enterprise-4.5] Issue in file machine_management/creating-infrastructure-machinesets.adoc"
### Which section(s) is the issue in?
The components identified to be scheduled on infra nodes should also contain the accessory product that the customer could already have a subscription on.
Or else RH is selling double subscriptions on components which normally  shouldn't happen.

### What needs fixing?
The list should (IMHO) comprehend

- Quay (that maybe nominating it in the docs could spark

[2020-09-15 10:23] Koma-Andrea commented on #25472
*edited: added info per project

[2020-09-15 12:59] kanekoh opened #25475 "[enterprise-4.5] Issue in file nodes/pods/nodes-pods-secrets.adoc"
### Which section(s) is the issue in?

There are different versions of service serving certificate annotation on the OCP 4.4 and 4.5 documentation. I believed that "service.beta.openshift.io/serving-cert-secret-name" is the correct version on OCP 4.4 and 4.5.

\As the section "Generating signed certificates for use with secrets", the annotation name for Service Serving Certificate is "service.alph

[2020-09-15 13:22] bergerhoffer commented on #25278
@vikram-redhat If I'm remembering correctly, I believe that this was a known gap. As in, we didn't convert the day 2 operations content from 3 -> 4. However, I know that @ahardin-rh just added in that post-install section to 4.x, but as far as I'm aware, it's mostly a collection of existing documentation into one place. And less of converting what was in the day 2 guide from 3.x to 4.x (though ple

[2020-09-15 13:32] #25065 closed

[2020-09-15 16:29] pwright opened #25493 "[enterprise-4.5] Issue in file updating/updating-cluster-between-minor.adoc"
### Which section(s) is the issue in?

https://docs.openshift.com/container-platform/4.5/updating/updating-cluster-between-minor.html#understanding-upgrade-channels_updating-cluster-between-minor

### What needs fixing?

I'm having trouble understanding the documentation

![image](https://user-images.githubusercontent.com/5154224/93238094-e21e6380-f778-11ea-91cd-4df1257837bf.png)

The doc says:
"U

[2020-09-15 16:47] codyhoag commented on #25493
@pwright thanks for pointing this out. It's currently being worked on in #25307 and should be fixed soon.

[2020-09-15 20:02] sfortner-RH commented on #24337
@wgordon17 I'll wait for you to ack this. I'm not clear on the history of this content or why it was removed. Let me know if I need to add it back. Thanks!

[2020-09-15 20:31] wgordon17 commented on #24002
I would leave out the "Requirements for Using Horizontal Pod Autoscalers" and "Autoscaling for Memory Utilization" sections, but otherwise LGTM to include 👍🏻

[2020-09-15 20:33] wgordon17 commented on #24149
From: https://docs.openshift.com/container-platform/4.4/authentication/managing-security-context-constraints.html

Leave off the "Creating Security Context Constraints" section, but otherwise LGTM 👍🏻

[2020-09-15 20:35] wgordon17 commented on #24239
Yes, intentional. @madhusudanupadhyay Is there a customer attempting to do this on v4?

[2020-09-15 20:36] wgordon17 commented on #24336
This is a valid thing to include in v4 OSD docs 👍🏻

[2020-09-15 20:38] wgordon17 commented on #25278
Yeah, this is actually a _great_ doc to include in OSD docs 👍🏻

[2020-09-15 20:39] wgordon17 commented on #24337
Yes, this should be added in, thanks 👍🏻

[2020-09-15 20:48] vikram-redhat commented on #25278
@sfortner-RH can you work with @bergerhoffer and @ahardin-rh on this? If the content in the new post-install section can now apply for a version 4 dedicated cluster, we should be able to use it.

[2020-09-15 23:03] IronicBadger commented on #25207
This issue is present here:

Procedure
Change ManagementState Image Registry Operator configuration from Removed to Managed

[2020-09-16 00:05] IronicBadger commented on #25207
Submitted a PR #25503

[2020-09-16 01:12] IronicBadger commented on #25207
#25504

[2020-09-16 01:12] #25207 closed

[2020-09-17 07:38] zene22 opened #25538 "[enterprise-4.5] Issue in file logging/config/cluster-logging-log-store.adoc"
### Which section(s) is the issue in?

The yaml that is provided in https://docs.openshift.com/container-platform/4.5/logging/config/cluster-logging-log-store.html#cluster-logging-elasticsearch-audit_cluster-logging-store (Forward audit logs to the log store) contains a wrong address for the elastic search cluster.

### What needs fixing?

The endpoint parameter points to the internal Elasticsearc

[2020-09-17 12:07] squirrd opened #25539 "[enterprise-4.5] Issue in file logging/cluster-logging-deploying.adoc"
### Which section(s) is the issue in?
In both
Procedure -> 1. Install the Elasticsearch Operator:->  Click Subscribe.
Procedure -> 2.Install the Cluster Logging Operator: -> Click Subscribe.

### What needs fixing?

The button is now `Install` not `Subscribe`

[2020-09-17 12:36] DustinTrap opened #25540 "Issue in file /installing/installing_vsphere"
### Which section(s) is the issue in?

Section "Required vCenter account privileges" on https://docs.openshift.com/container-platform/4.5/installing/installing_vsphere/installing-vsphere-installer-provisioned.html#installation-vsphere-installer-infra-requirements_installing-vsphere-installer-provisioned

### What needs fixing?

Required vCenter account privileges is incomplete based on customer te

[2020-09-17 12:49] DustinTrap commented on #25540
Also tracking here: https://bugzilla.redhat.com/show_bug.cgi?id=1879959

[2020-09-17 14:47] mburke5678 opened #25546 "Documenting how to reindex from remote to recover old PVC data"
to document how a customer can recover old PVC data from a past cluster if they were impacted by https://bugzilla.redhat.com/show_bug.cgi?id=1868300

https://github.com/openshift/elasticsearch-operator/pull/489

[2020-09-17 17:46] bergerhoffer commented on #25278
@vikram-redhat Just to be clear, we're talking about two different versions here. 3.11 has steps for project and application backups, but 4.x does not at all (not OCP and not dedicated). @ahardin-rh can confirm, but I don't believe that the post-install content that was recently added added in anything for this.

So this isn't necessarily a dedicated-only issue. Perhaps the new post-install sectio

[2020-09-17 18:27] kstephen314159 opened #25559 "[enterprise-4.5] Issue in file pipelines/creating-applications-with-cicd-pipelines.adoc"
### Which section(s) is the issue in?
https://docs.openshift.com/container-platform/4.5/pipelines/creating-applications-with-cicd-pipelines.html

### What needs fixing?
The instructions do not work with the latest (downloaded today - 2020-09-17) codeready containers install (which is openshift 4.5). In particular, the Running a pipeline section fails because the pipeline won't even pass validation

[2020-09-17 18:36] jboxman commented on #25538
@mburke5678 FYI

[2020-09-17 18:37] jboxman commented on #25539
@mburke5678 FYI

[2020-09-17 20:11] mburke5678 commented on #25539
https://github.com/openshift/openshift-docs/pull/25567

[2020-09-17 20:11] #25539 closed

[2020-09-17 20:12] mburke5678 commented on #25539
@squirrd Thanks for catching this!!

[2020-09-18 00:53] mburke5678 commented on #25538
Thanks for catching this! This is possibly an endpoint used by QE, as I got the code sample from a QE engineer.

[2020-09-18 00:53] #25538 closed

[2020-09-18 01:20] funixz opened #25579 "[enterprise-4.5] Issue in file installing/installing_rhv/installing-rhv-customizations.adoc -- dns_vip missing"
### Which section(s) is the issue in?
In the sample configs and in the requirements, the dns_vip is missing.
https://docs.openshift.com/container-platform/4.5/installing/installing_rhv/installing-rhv-customizations.html#installing-rhv-installation-configuration-parameters_installing-rhv-customizations

### What needs fixing?
dns_vip is a required string and IP according to the upstream documentati

[2020-09-18 07:49] jomeier commented on #23624
@kalexand-rh
Any chance that this will be documented anytime soon?

[2020-09-18 09:04] werkins opened #25581 "[enterprise-4.5] Issue in file serverless/serverless-release-notes.adoc"
### Which section(s) is the issue in?
Introduction

### What needs fixing?
There is a note saying Openshift Serverless is still in Tech Preview; however, it was announced some months ago that it went GA: https://www.openshift.com/blog/openshift-serverless-now-ga

[2020-09-18 10:23] vikram-redhat commented on #25278
@bergerhoffer ok, I misread when you said that "However, I know that @ahardin-rh just added in that post-install section to 4.x" that we did add some of the project backup and restore content in. :)

Let me work with Stephanie to see if we can schedule this in.

@PriyankaKanthale this will take a little while.

[2020-09-18 13:29] #25493 closed

[2020-09-18 13:45] codyhoag commented on #23624
@jomeier I've got this on my radar. We'll try to prioritize this since it's a clear doc gap.

[2020-09-18 14:03] chuckersjp commented on #17036
/remove-lifecycle stale

[2020-09-18 15:03] maxwelldb opened #25589 "Duplicated install-config.yaml parameter"
### Which section(s) is the issue in?

https://docs.openshift.com/container-platform/4.6/installing/installing_openstack/installing-openstack-installer-custom.html#installation-configuration-parameters_installing-openstack-installer-custom

### What needs fixing?

`pullSecret` appears in both the "Required parameters" table and the "Optional RHOSP parameters" tables. It is a required parameter and

[2020-09-18 15:33] #25589 closed

[2020-09-18 15:51] jboxman commented on #25581
@abrennan89 FYI

[2020-09-18 17:02] rolfedh commented on #17130
/remove-lifecycle stale

[2020-09-18 17:03] rolfedh commented on #17130
Is there any reason to use grey when black is more readable?

[2020-09-18 19:50] abrennan89 commented on #25581
@werkins can you please provide a link to where you are seeing this note?
There is still a note specifically for the Knative Eventing component here: https://docs.openshift.com/container-platform/4.5/serverless/serverless-getting-started.html#serverless-getting-started-supported-configs

which is still valid since only Knative Serving is GA, Eventing is still Technology Preview.

[2020-09-18 19:53] abrennan89 commented on #25581
@werkins @jboxman
I think the note you mean is here: https://docs.openshift.com/container-platform/4.5/serverless/serverless-release-notes.html

but this note is specific to the Knative Eventing component, it does not say that Openshift Serverless is still in Tech Preview.
Knative Serving is GA, but the Knative Eventing component remains Tech Preview until later this year.

Hopefully this helps.

[2020-09-18 20:23] leethomasrh opened #25610 "Configuring block registry storage for VMware vSphere"
Please expand this section to include examples for the pvc creation and also include steps necessary to set the registry to a Managed state.

The order of these steps is very important when configuring block storage for the registry in vSphere because the customer doesn't see the difference and sees the NFS examples above and tries to use that PVC yaml example which doesn't work with the thin stor

[2020-09-19 18:30] git001 opened #25612 "ca-bundler.crt should be ca-bundle.crt in secret for logging forward api"
### Which section(s) is the issue in?

Understanding the Log Forwarding API
https://github.com/openshift/openshift-docs/blob/master/modules/cluster-logging-log-forwarding-about.adoc

### What needs fixing?

The secret key does not match the template in the code.

Code: https://github.com/openshift/cluster-logging-operator/blob/release-4.6/pkg/generators/forwarding/fluentd/templates.go#L596
`tls_ce

[2020-09-20 00:17] jboxman commented on #19301
@alanconway, I don't see a `logging.openshift.io` in 4.6 either? Does it come from a day 2 operator?

[2020-09-20 18:53] sbuvaneshkumar opened #25613 "[enterprise-3.11] Issue in file admin_guide/node_problem_detector.adoc"
### Which section(s) is the issue in?

Customizing Detected Conditions

### What needs fixing?
"4. To display Node Problem Detector output to standard output (stdout) and standard error (stderr) add the following to the **configuration map**:"
It should be daemonset, not the configmap.
Even the example provided following the line describes the content of daemonset, not cnfigmap.

[2020-09-20 19:17] bergerhoffer commented on #25278
@vikram-redhat Yes I could definitely have worded that better sorry :)

[2020-09-20 21:26] jboxman commented on #25471
@LalatenduMohanty, do you know what the correct link is for this now or who to ask?

Thanks!

[2020-09-20 21:47] cblecker commented on #23496
/reopen

@mburke5678 This does not appear to be addressed. The docs only handle the AWS use case, and don't speak to the GCP use case above.

[2020-09-21 01:31] jboxman commented on #25441
@sheriff-rh, do I need to add a conditional for OSD for this? It's probably true for `NetworkPolicy` as well.

[2020-09-21 02:53] clarenceb opened #25618 "[online] Issue in file machine_management/creating-infrastructure-machinesets.adoc"
### Which section(s) is the issue in?

You apply specific Kubernetes labels to these Machines and then update the infrastructure components to run on only those Machines. These infrastructure nodes are not counted toward the total number of subscriptions that are required to run the environment.

### What needs fixing?

In ARO, there are no infra nodes.  There are only app nodes and these are alwa

[2020-09-21 05:18] werkins commented on #25581
@abrennan89 You're right, sorry about the confusion

El vie., 18 sept. 2020 a las 21:53, Ashleigh Brennan (<
notifications@github.com>) escribió:

[2020-09-21 06:48] rhatbob opened #25619 "[enterprise-4.5] Issue in file logging/cluster-logging-deploying.adoc"
### Which section(s) is the issue in?
[Installing cluster logging using the CLI](https://docs.openshift.com/container-platform/4.5/logging/cluster-logging-deploying.html#cluster-logging-deploy-cli_cluster-logging-deploying)

### What needs fixing?
Step 5 @ "Procedure" should highlight in the ClusterLogging object that omission of the `.spec.logStore.elasticsearch.storage` block will result in a de

[2020-09-21 06:55] vikram-redhat commented on #22406
Known issue for BM installs - https://bugzilla.redhat.com/show_bug.cgi?id=1880104

[2020-09-21 11:54] abrennan89 commented on #25581
@jboxman could you close this one please?

[2020-09-21 12:27] mburke5678 commented on #23496
@lamek Do you want to take this one?

[2020-09-21 12:31] mburke5678 commented on #23496
@cblecker While we are looking at the Dedicated install, can you confirm the namespace to install the Elasticsearch Operator into? The Dedicated docs suggest the `openshift-logging` namespace. For OCP logging, the Elasticsearch Operator must be installed into openshift-operators-redhat` with the note:
_You must specify the openshift-operators-redhat Namespace. To prevent possible conflicts with me

[2020-09-21 17:20] miabbott commented on #22406
`OpenShift Container Platform 4.6 is supported on Red Hat Enterprise Linux 7.7 or later, as well as Red Hat Enterprise Linux CoreOS (RHCOS) 4.5.`

That should state `Red Hat Enterprise Linux CoreOS (RHCOS) 4.6`

[2020-09-21 19:05] jewzaam commented on #23496
@mburke5678 we have successfully run with ES and cluster-logging in `openshift-logging` since OSD GA.  Is there a technical reason this is not going to work?  Because it does work... @igor-karpukhin is working on an add-on for logging that is following the same pattern.

[2020-09-22 02:12] shellyyang1989 commented on #22406
Known issue for GCP destroy: https://bugzilla.redhat.com/show_bug.cgi?id=1801968. To workaround this issue, use infra-id as machine prefix. If users are facing it, they can manually delete the firewall rules in gcp web console.

[2020-09-22 06:25] bysnupy opened #25663 "[enterprise-4.5] Add "startupProbe" description to "Monitoring application health" section"
### Which section(s) is the issue in?

* Section name: [Monitoring application health](https://docs.openshift.com/container-platform/4.5/applications/application-health.html)

### What needs fixing?

As of Kubernetes 1.18, `startupProbe` feature has been Beta and it's available by default. Even the feature already introduced on upstream documentation here: [Configure Liveness, Readiness and Startu

[2020-09-22 08:25] anpingli commented on #22406
@mburke5678  Shall we add some notes about LogFoward in release notes?

[2020-09-22 09:28] rbo commented on #22406
We added with BZ 1785122 [1] static IP configuration for vSphere & OVA.

[1] https://bugzilla.redhat.com/show_bug.cgi?id=1785122

[2020-09-22 09:42] zhaozhanqi commented on #22406
hi, SDN component changed:
1. Sriov suport IB. see https://issues.redhat.com/browse/SDN-896
2. OVS from container switch to system ovs , see https://issues.redhat.com/browse/SDN-655
3. OVN GA and some new feature added from 4.6 including (egressip , egressfirewall)
https://issues.redhat.com/browse/SDN-911
https://issues.redhat.com/browse/SDN-682

[2020-09-22 10:56] kasturinarra commented on #22406
Hi,
   In section "About this Release" the document says  This release uses Kubernetes 1.18 , but 4.6 uses Kubernetes 1.19. Can we update this ? Thanks !!

[2020-09-22 12:14] sheriff-rh commented on #25441
@jboxman a conditional seems likely, but you may want to confirm with @lamek since that's his wheelhouse.

[2020-09-22 15:39] syedriko opened #25677 "[enterprise-3.11] Issue in file upgrading/automated_upgrades.adoc"
### Which section(s) is the issue in?
https://docs.openshift.com/container-platform/3.11/upgrading/automated_upgrades.html#upgrading-efk-logging-stack-dots
https://docs.openshift.com/container-platform/3.11/upgrading/automated_upgrades.html#upgrading-efk-logging-stack-nodots

### What needs fixing?
Prior to patching the fluentd DS, take a note of the value of its nodeSelector.
The fluentd DS patch

[2020-09-22 17:46] miabbott commented on #22406
The RHCOS team has some suggestions that can be added as a new section under "New features and enhancements"

[code]

[2020-09-22 17:54] LalatenduMohanty commented on #25471
The link is correct, how ever GCS does not support directory listing , refer https://github.com/openshift/openshift-docs/pull/21993#discussion_r424696542

[2020-09-22 18:46] mburke5678 commented on #25677
Closing in favor of https://issues.redhat.com/browse/OSDOCS-1514

[2020-09-22 18:46] #25677 closed

[2020-09-23 01:12] e-desouza opened #25710 "[enterprise-4.5] Extracting openshift-install If the mirror host does not have internet access"
### Which section(s) is the issue in?

The "Creating a mirror registry for installation in a restricted network"

Specifically, this link : https://docs.openshift.com/container-platform/4.5/installing/install_config/installing-restricted-networks-preparations.html#installation-mirror-repository_installing-restricted-networks-preparations

### What needs fixing?

3. Mirror the version images to the

[2020-09-23 04:58] jboxman commented on #24441
@vikram-redhat FYI

[2020-09-23 05:01] jboxman commented on #23855
Closing as a dup of https://github.com/openshift/openshift-docs/issues/23856.

[2020-09-23 05:01] #23855 closed

[2020-09-23 05:04] jboxman commented on #23078
@peterclauterbach, it looks like we removed the TP language?

[2020-09-23 05:05] jboxman commented on #23077
@peterclauterbach, this looks resolved, I think?

[2020-09-23 05:07] #22435 closed

[2020-09-23 05:08] jboxman commented on #22398
@TinyExplosions, thanks for reporting this. It is now resolved.

[2020-09-23 05:08] #22398 closed

[2020-09-23 05:10] #22133 closed

[2020-09-23 05:12] jboxman commented on #21307
This has been added, thanks!

[2020-09-23 05:12] #21307 closed

[2020-09-23 05:15] jboxman commented on #17130
@openshift/team-documentation, FYI

[2020-09-23 05:18] arizon-dread commented on #24441
This works now, it was a temporary problem. Closing the issue.

[2020-09-23 05:18] #24441 closed

[2020-09-23 05:18] jboxman commented on #20185
@vikram-redhat, did we ever resolve this? I thought we had?

[2020-09-23 05:20] jboxman commented on #19185
@adellape, is this still valid?

[2020-09-23 05:21] #16931 closed

[2020-09-23 05:22] #16654 closed

[2020-09-23 05:22] #16653 closed

[2020-09-23 05:28] vikram-redhat commented on #20185
We did.

[2020-09-23 05:28] #20185 closed

[2020-09-23 05:30] vikram-redhat commented on #17130
Let's have a chat in the next team meeting.

[2020-09-23 06:32] jianzhangbjz commented on #22406
Hi, for the [Deprecated and removed features](https://docs.openshift.com/container-platform/4.6/release_notes/ocp-4-6-release-notes.html#ocp-4-6-deprecated-removed-features) part, the `OperatorSources` are **removed** from 4.6. As for the `Operator Framework’s Package Manifest Format` and `v1beta1 CRDs`, I guess they are **deprecated**. @ecordell @kevinrizza correct me if I'm wrong, thanks!

[2020-09-23 10:11] thekoma opened #25716 "[enterprise-4.5] Issue in file monitoring/cluster_monitoring/configuring-the-monitoring-stack.adoc"
### Which section(s) is the issue in?
the creation/replacement of alertmanager.yaml secret

### What needs fixing?
The option `--dry-run`  is deprecated

[code]

should became
[code]

[2020-09-23 10:37] yapei commented on #22406
https://docs.openshift.com/container-platform/4.6/release_notes/ocp-4-6-release-notes.html#ocp-4-6-web-console-warning-messages-when-editing-managed-resources
[code]
I don't think we have this feature implemented in 4.6, it would be good to confirm again with Devs

[2020-09-23 19:41] sjstout commented on #22406
Hi All,
Mohan Shesh in the interoperability team asked that we include this issue in the Known Issues section:https://bugzilla.redhat.com/show_bug.cgi?id=1868104

[2020-09-23 23:23] peterclauterbach commented on #23077
ack, closing.

[2020-09-23 23:23] #23077 closed

[2020-09-24 04:50] quarterpin commented on #22406
There are the following features that have been introduced in the ingresscontroller and the network route/ingress resources with v4.6 which imo, should be mentioned in the release docs under the `Networking` section:

**Ingresscontroller**
- Haproxy version bumped to `2.0.16`.
- Newly introduced `httpCaptureHeaders` and  `httpCaptureCookies` parameters can be used to configure the haproxy router t

[2020-09-24 08:21] lihongan commented on #22406
And the 4.6 feature "Enable use of NLB in AWS for app IngressController" should be added to `Networking` section as well.
For details please refer to https://issues.redhat.com/browse/NE-138 and https://issues.redhat.com/browse/OSDOCS-1346

[2020-09-24 09:51] vikram-redhat commented on #25540
Closing in favor of the bug.

[2020-09-24 09:51] #25540 closed

[2020-09-24 15:32] vanallp opened #25780 "[enterprise-4.5] Issue in file rest_api/operator_apis/operator-apis-index.adoc"
### Which section(s) is the issue in?

https://docs.openshift.com/container-platform/4.5/rest_api/operator_apis/operator-apis-index.html

Description
Etcd provides information to configure an operator to manage kube-apiserver.

### What needs fixing?

That is wrong.
Etcd provides information to configure an operator to manage etcd operator Not the kube-apiserver

[2020-09-24 15:37] vanallp opened #25781 "[enterprise-4.7] Issue in file rest_api/operator_apis/etcd-operator-openshift-io-v1.adoc"
### Which section(s) is the issue in?

Description
Etcd provides information to configure an operator to manage kube-apiserver.

### What needs fixing?

Etcd provides information to configure an operator to manage etcd

[2020-09-24 16:31] bergerhoffer opened #25783 "Openshift -> OpenShift typos"
### Which section(s) is the issue in?

[code]

### What needs fixing?

All of the files listed above have instances of "Openshift". These should be updated to be "OpenShift".

These are just the hits in the master branch as of 24 Sept 2020. The fixes should also be applied to all supported 4.x branches (currently 4.3-4.6).

Marking this as a good issue for a Hacktoberfest contribution!

[2020-09-24 17:54] kalexand-rh commented on #25710
@e-desouza, I'm not seeing an instance of `${OCP_RELEASE}` in step 3a that does not also include either `-${ARCHITECTURE` or `*`. Can you please tag the line that's causing the problem: https://github.com/openshift/openshift-docs/blame/enterprise-4.5/modules/installation-mirror-repository.adoc

[2020-09-24 19:06] bergerhoffer opened #25785 "Fix typos"
### What needs fixing?

The typos in this list of files:

| File  | Typo |
| ------------- | ------------- |
|storage/container_storage_interface/persistent-storage-csi-manila.adoc |installled
|modules/installation-gcp-user-infra-shared-vpc-config-yaml.adoc |the the
|modules/olm-installing-from-operatorhub-using-cli.adoc | the the
|modules/update-oc-configmap-signature-verification.adoc |the the
|

[2020-09-24 19:16] lmalivert commented on #25785
I'll work on the issue for Hacktoberfest.

[2020-09-24 20:28] kcclemo commented on #25783
@bergerhoffer I'd like to work on this, please!

[2020-09-24 21:17] bergerhoffer commented on #25783
Thanks @kcclemo! Let me know if you have any questions on contributing!

[2020-09-25 01:41] huiran0826 commented on #22406
Known issue for OVN EgressIP https://bugzilla.redhat.com/show_bug.cgi?id=1877273

[2020-09-25 03:11] yselkowitz commented on #22406
There is a mention of Kubernetes 1.18 with a link to it's release notes, that should be 1.19.

@crawford should the RHEL 8 migration be mentioned here, and how?

The builder imagestreams have a new naming scheme which allow for a choice of both component and underlying RHEL/UBI versions, with RHEL/UBI 8 imagestreams are made available by default for the first time, and are used by default in templ

[2020-09-26 01:30] syedriko opened #25814 "[enterprise-4.5] Issue in file logging/cluster-logging.adoc"
### Which section(s) is the issue in?
https://docs.openshift.com/container-platform/4.5/logging/cluster-logging.html#cluster-logging-about-components_cluster-logging

### What needs fixing?
In this document, this document might refer

[2020-09-26 01:50] syedriko opened #25815 "[enterprise-4.5] Issue in file logging/cluster-logging.adoc"
### Which section(s) is the issue in?
https://docs.openshift.com/container-platform/4.5/logging/cluster-logging.html#cluster-logging-about-logstore_cluster-logging

### What needs fixing?
syslsog

[2020-09-26 10:09] vikram-redhat commented on #25815
Not enough information. Closing.

[2020-09-26 10:09] vikram-redhat commented on #25814
Not enough information. Closing.

[2020-09-26 12:24] dpkshetty opened #25816 "[enterprise-4.5] Issue in file applications/deployments/what-deployments-are.adoc"
### Which section(s) is the issue in?
Applications/Deployments /Understanding Deployments and DeploymentConfigs

### What needs fixing?
**Section - "DeploymentConfigs-specific features"**

Expectation is to get more details on DC specific features like automatic rollbacks, triggers, lifecycle hooks and custom strategies
Currently it only details what deployment has.. but doesn't say anything about

[2020-09-26 14:58] jboxman commented on #25816
@dpkshetty, we'd like to encourage usage of `Deployment` as it is the upstream implementation.

[2020-09-26 16:09] syedriko commented on #25814
It's a suggestion to remove duplicate "this document".

[2020-09-26 16:10] syedriko commented on #25815
"syslsog" is a typo, it's supposed to be syslog.

[2020-09-27 02:03] sunzhaohua2 commented on #22406
The Cloud team has some new features should be mentioned under "New features and enhancements"

- Azure MachineSets support spot instances, please refer to https://issues.redhat.com/browse/OCPCLOUD-850
- GCP MachineSets support spot instances, please refer to https://issues.redhat.com/browse/OCPCLOUD-849
- AWS Machine API Support of more than one block device, please refer to https://issues.redhat

[2020-09-27 05:08] richdougherty commented on #15895
Still needs adding to the 4.x docs: https://docs.openshift.com/container-platform/4.5/openshift_images/using-templates.html

/remove-lifecycle stale

[2020-09-27 06:36] wangke19 commented on #22406
From we need add customize audit config https://issues.redhat.com/browse/MSTR-990 to OCP 4.6 Release Notes, this is new in this release.

[2020-09-27 17:38] dariodsa commented on #25439
I can work on this issue.

[2020-09-27 20:36] vikram-redhat commented on #25814
Fix in master, and CP to 4.5/4.6.

[2020-09-27 20:37] vikram-redhat commented on #25815
Fix in master, CP to 4.5/4.6.

[2020-09-27 21:36] ehvs opened #25822 "[enterprise-3.11] Issue in file install/prerequisites.adoc"
### Which section(s) is the issue in?
The URL says 'envirornment'
https://docs.openshift.com/container-platform/3.11/install/prerequisites.html#envirornment-requirements

### What needs fixing?
The spelling in the URL should be 'environment-requirements'

[2020-09-28 01:09] anuragthehatter commented on #22406
Few points about Local gateway to shared Gateway in OVN would be nice as well https://issues.redhat.com/browse/SDN-1030

[2020-09-28 02:59] jboxman commented on #22406
@anuragthehatter, I included an entry for OVS and OVN GA; I'm going to merge a PR for SR-IOV as well.

I don't have anything for shared gateway OVN yet; I didn't realize that was worth a mention.

[2020-09-28 12:19] xiaojiey commented on #22406
There is no doc for two new operators: Compliance operator(https://issues.redhat.com/browse/CMP-3) and File integrity operator(https://issues.redhat.com/browse/CMP-1)

[2020-09-28 12:20] rbaumgar commented on #19115
@retroflexer do we have somewhere the documentation?

[2020-09-28 12:48] hexfusion commented on #19115
This feature was never added to 4.4.

[2020-09-28 13:24] hexfusion commented on #19115
4.2 is EOL we are creating a bug to track.

[2020-09-28 13:36] retroflexer commented on #19115
We are tracking this using this bug:
https://bugzilla.redhat.com/show_bug.cgi?id=1882405

We will get it into 4.6.

[2020-09-28 13:58] codyhoag commented on #22406
RHV is not a supported platform for upgrade/install on 4.6. Temporary BZ: [BZ#1862586](https://bugzilla.redhat.com/show_bug.cgi?id=1862586). Another may come later.

Due to a known issue, if you're running RHV version 4.3 and have already installed OCP versions 4.4 or 4.5 on RHV, do not upgrade to OCP version 4.6. Red Hat has not tested this upgrade yet and, therefore, does not support it.

[2020-09-28 18:11] #19702 closed

[2020-09-28 18:16] bergerhoffer opened #25828 "Typos in 3.11"
### What needs fixing?

The typos in this list of files in the `enterprise-3.11` branch:

| File  | Typo |
| ------------- | ------------- |
|release_notes/ocp_3_6_release_notes.adoc |Kublet (should be Kubelet)
|architecture/infrastructure_components/kubernetes_infrastructure.adoc |kublet (should be kubelet)
|dev_guide/topics/about_device_manager.adoc |Manger
|install_config/topics/ocp_osp_provisi

[2020-09-28 18:20] amycruz97 commented on #25828
can i take this

[2020-09-28 18:38] amycruz97 commented on #25828
i will work on it for hacktoberfest

[2020-09-28 19:39] bergerhoffer commented on #25828
Thanks @amycruz97! This needs to be opened against the `enterprise-3.11` branch. Let me know if you have any questions along the way!

[2020-09-28 20:04] Nitin2702 commented on #25828
Can I do this for my hacktoberfest?

[2020-09-28 22:03] KrisJohnstone commented on #18819
/remove-lifecycle stale

Still the same in 4.5.

[2020-09-29 00:19] amycruz97 commented on #25828
I have forked and cloned the page
is this what i need for the setup [https://github.com/amycruz97/openshift-docs/blob/master/contributing_to_docs/tools_and_setup.adoc](url)

[2020-09-29 01:05] SammyC4IBM opened #25845 "[enterprise-4.3] Issue in file authentication/using-rbac.adoc"
### Which section(s) is the issue in?

### What needs fixing?

[2020-09-29 01:08] SammyC4IBM commented on #25845
Direct link:  https://docs.openshift.com/container-platform/4.3/authentication/using-rbac.html#cluster-role-aggregations_using-rbac

Section = Cluster Role Aggregation

First sentence refers to "cluster-reader" cluster role (believe it should say "cluster-admin")

[2020-09-29 01:08] #25845 closed

[2020-09-29 01:12] amej commented on #15875
The issue no longer exists. Closing the issue.

[2020-09-29 01:12] #15875 closed

[2020-09-29 04:10] Rohitkrops commented on #25815
I would like to work on this. Let me know if I can pick it.

[2020-09-29 04:11] Rohitkrops commented on #25814
I would like to work on this. Let me know if I can pick it.

[2020-09-29 12:07] michaelshire commented on #25211
bump

[2020-09-29 12:58] vikram-redhat commented on #25211
Sorry, I missed this.

@jiri-fiala - could we include ARO distributions for search?

[2020-09-29 15:20] maxwelldb commented on #25822
@ehvs Thanks!

[2020-09-29 15:20] maxwelldb commented on #25822
@vikram-redhat Do we need to get redirects for anchor link changes?

[2020-09-29 15:40] maxwelldb commented on #25828
@amycruz97 You're able to run asciibinder on macOS--I do it myself, sometimes.

Are you able to `gem install ascii_binder`?

(You may want a Ruby environment manager like RVM or rbenv for working with this and other gems.)

[2020-09-29 16:10] crawford commented on #22406
We need to announce the deprecation of bring-your-own RHEL 7 workers in these release notes. OpenShift 4.9 will be dropping support for them entirely.

[2020-09-29 16:47] rbo commented on #22406
Do you have any RH Ticket/Issue for that? (Internal is fine for me rbohne@redhat.com)

[2020-09-29 18:21] crawford commented on #22406
@rbo I'm not aware of any, but I haven't looked either. This is coming from our product director though, and is documented here: https://docs.google.com/document/d/1-dwxz_IT97vR4RGsBFDBoc1aGfIAbeMgHu71a1OxNKY.

[2020-09-29 18:25] crawford commented on #22406
As @yselkowitz pointed out above, we have migrated the version of the universal base image used by all of the images running within the cluster. We are now using UBI 8 across the board. We don't anticipate any issues, but if customers or layered products are using our images as their base, they might notice (e.g. Python 2 vs 3).

[2020-09-29 21:48] amycruz97 commented on #25828
How do i install asciibinder on mac os that's where i got stocked

[2020-09-29 22:41] yashgiri opened #25883 "[enterprise-4.5] Issue in file operators/operator_sdk/osdk-leader-election.adoc"
### Which section(s) is the issue in?

"Using Leader-for-life election"

### What needs fixing?
The code example given in this section might not have been updated as the packages 'leader' and 'status' have been removed in a previous version and moved to operator-lib which is supposed to be used over here with its corresponding functions.
Reference: https://github.com/operator-framework/operator-sd

[2020-09-29 22:54] jboxman commented on #25883
@adellape fyi

[2020-09-29 23:29] vikram-redhat commented on #25822
Hey @maxwelldb - redirects don't work at anchor levels so nothing we can do here.

[2020-09-30 00:09] jboxman commented on #18892
/remove-lifecycle stale

[2020-09-30 07:19] rbaumgar commented on #19823
can someone take care of this issue?

[2020-09-30 07:26] lautou opened #25884 "[enterprise-4.5] Issue in file installing/installing_vsphere/installing-vsphere-installer-provisioned.adoc"
### Which section(s) is the issue in?
VMware vSphere infrastructure requirements

### What needs fixing?
NSX Operator is certified : https://catalog.redhat.com/software/operators/detail/5ef0f362701a9cb8c147cf4b
Remove these sentence :
"Because previous versions of vSphere with NSX-T are not currently compatible with OpenShift Container Platform, NSX-T is not supported. NSX-T certification is in pr

[2020-09-30 12:07] maxwelldb commented on #25822
@vikram-redhat Yeah, I didn't think we attempted anything clientside. Thanks!

[2020-09-30 12:07] maxwelldb commented on #25822
@openshift/team-documentation PTAL. Not urgent, but really quick. Thanks!

[2020-09-30 12:12] maxwelldb commented on #25828
@amycruz97 If you have Ruby and RubyGems installed, you should be able to install it from the terminal as shown here: https://rubygems.org/gems/ascii_binder

[2020-09-30 13:28] bergerhoffer commented on #22703
There is now a brief overview of it here: https://docs.openshift.com/container-platform/4.5/operators/operator-reference.html#etcd-cluster-operator_red-hat-operators

I am closing this issue now, but feel free to open a new issue if you're looking for any additional information.

[2020-09-30 13:28] #22703 closed

[2020-09-30 13:29] maxwelldb commented on #19625
Resolved by #25837. Because there are other issues + tickets to track this deficit, I'm closing this issue as a duplicate.

[2020-09-30 13:29] #19625 closed

[2020-09-30 13:32] bobfuru commented on #19743
This was fixed in https://github.com/openshift/openshift-docs/pull/23007. Closing issue.

[2020-09-30 13:32] #19743 closed

[2020-09-30 13:35] bergerhoffer commented on #22482
@rahmed-rh Can you be more specific about what the issue is? The command you have there is what I see in the docs.

[2020-09-30 13:39] kalexand-rh commented on #25471
The user doesn't have enough information to use the curl statement in https://github.com/openshift/openshift-docs/pull/21993#discussion_r424696542 without getting it from mirror.openshift.com, so I'm going to remove the link. @LalatenduMohanty, @wking, if you think that this is a mistake or have a better way to do it, please let me know.

[2020-09-30 13:41] jonquilwilliams commented on #25475
I did a search for "service.alpha.openshift.io" in the 4.4 and 4.5 versions of the documentation and am not finding "alpha". I see only Beta. I believe this is no longer an issue because it got fixed somehow, perhaps by a duplicate issue.

[2020-09-30 13:41] jboxman commented on #25613
This is now fixed, thanks!

[2020-09-30 13:41] #25613 closed

[2020-09-30 13:42] mburke5678 commented on #25612
@git001 Thanks for catching this!

4.6 changes: https://github.com/openshift/openshift-docs/issues/25612
4.5 changes: https://github.com/openshift/openshift-docs/pull/25900

[2020-09-30 13:42] lbarbeevargas commented on #25155
@madhusudanupadhyay Can you please confirm if the docs update needs to reflect that OpenShift Online and OpenShift Dedicated are not supported for _both_ Service Mesh 1.1.7 and 1.1.8? Or that the current documentation is incorrect and the note should be `1.1.7` and not `1.1.8`, thank you. Current note:

[2020-09-30 13:42] #25612 closed

[2020-09-30 13:43] maxwelldb commented on #21906
@pamoedom Thanks!

[2020-09-30 13:48] jboxman commented on #25475
@jonquilwilliams, I just happened to have left this in my inbox. I did find _alpha_ in the _master_ branch locally:

[code]

[2020-09-30 13:55] mburke5678 commented on #25619
@rhatbob Thanks for the tip!
https://github.com/openshift/openshift-docs/pull/25903

[2020-09-30 13:55] #25619 closed

[2020-09-30 13:56] bmcelvee commented on #16020
Those are separate topics built on the same page. It's a bit awkward in flow, but could be detrimental if the introductory content is removed from one of the topics if they are used in separate contexts. I'm going ahead and closing this issue for now. Thank you for pointing this out so we can look into restructuring this file in the future.

[2020-09-30 13:56] #16020 closed

[2020-09-30 14:00] maxwelldb commented on #21465
@fgiloux Thanks!

[2020-09-30 14:01] jboxman commented on #25441
@madhusudanupadhyay, thanks for reporting this!

[2020-09-30 14:02] kalexand-rh commented on #25403
I'm adding the note to these topics:

https://docs.openshift.com/container-platform/4.3/installing/installing_vsphere/installing-vsphere.html#registry-configuring-storage-vsphere_installing-vsphere

https://docs.openshift.com/container-platform/4.5/registry/configuring_registry_storage/configuring-registry-storage-vsphere.html#registry-configuring-storage-vsphere_configuring-registry-storage-vsphe

[2020-09-30 14:03] #24702 closed

[2020-09-30 14:04] jboxman commented on #25441
I'll need to apply this fix to the entirety of networking, I think, in _4.3_+.

[2020-09-30 14:05] kalexand-rh commented on #25153
@matmille, thanks for pointing this out! We've fixed this here: https://github.com/openshift/openshift-docs/pull/25833

Please reopen the issue with more information if you're still having this issue. Thanks!

[2020-09-30 14:05] #25153 closed

[2020-09-30 14:06] #25403 closed

[2020-09-30 14:06] mburke5678 commented on #20748
@aelicieguo How does this look? Feel free to re-open this issue if this doesn't meet your expectations.
**Forward audit logs to the log store**
https://docs.openshift.com/container-platform/4.5/logging/config/cluster-logging-log-store.html#cluster-logging-elasticsearch-audit_cluster-logging-store

[2020-09-30 14:06] #20748 closed

[2020-09-30 14:10] bobfuru commented on #16511
This was addressed in https://github.com/openshift/openshift-docs/pull/17078. vSphere is mentioned in the dynamic provisioning plug-ins now and there is also a vSphere object definition example. Closing issue.

[2020-09-30 14:10] #16511 closed

[2020-09-30 14:17] sheriff-rh commented on #22270
Pedro and I discussed this issue on Red Hat IRC. I describe how our docs are built and published, and that we cannot cross reference other sections of documentation within modules, or subsections. The Setting A Custom Default Certificate section mentions what to do if Custom PKIs are in use, and the end of the page has an Additional Resources section with the link to the Custom PKI page. We have a

[2020-09-30 14:17] #22270 closed

[2020-09-30 14:21] #21906 closed

[2020-09-30 14:24] pamoedom commented on #25471
Then the removal of that link makes sense, thanks.

[2020-09-30 14:30] mburke5678 commented on #23626
Closing. We are no longer updating 4.2 docs. Issue has been addressed in 4.3+.
https://docs.openshift.com/container-platform/4.3/updating/updating-restricted-network-cluster.html

[2020-09-30 14:30] #23626 closed

[2020-09-30 14:33] bobfuru commented on #16753
Fixed in https://github.com/openshift/openshift-docs/pull/25928. Thank you @r2d2rnd!

[2020-09-30 14:33] #16753 closed

[2020-09-30 14:33] adellape commented on #25283
This was fixed via https://github.com/openshift/openshift-docs/pull/25288.

[2020-09-30 14:33] #25283 closed

[2020-09-30 14:35] mburke5678 commented on #22259
@joelsmith Can you comment on this issue?

[2020-09-30 14:35] #24916 closed

[2020-09-30 14:36] KyWa commented on #22259
This issue didn't get updated, but I did see that the doc itself did which is good. Closing the issue.

[2020-09-30 14:36] #22259 closed

[2020-09-30 14:39] bergerhoffer commented on #17008
Closing as this F5 section is no longer in the 3.11 docs.

[2020-09-30 14:39] #17008 closed

[2020-09-30 14:40] #17002 closed

[2020-09-30 14:44] #25822 closed

[2020-09-30 14:46] bmcelvee commented on #23558
@davivcgarcia thank you for pointing this out. Since this is a larger RFE, I opened an issue on the OSDOC Jira board to track this work: https://issues.redhat.com/browse/OSDOCS-1536.

Since it will be tracked elsewhere, I am going to go ahead and close this issue. Please let me know if you have any questions. Thanks again!

[2020-09-30 14:46] #23558 closed

[2020-09-30 14:47] adellape commented on #25780
This needs to be updated upstream at https://github.com/openshift/api/blob/master/operator/v1/types_etcd.go#L11

Something like: "Etcd configures the etcd-operator which manages the cluster's etcd service."

Then the CRD config can be regenerated from those changes, and the API docs can be regenerated to reflect the changes as well. I'll make a PR against upstream to address. It will probably take

[2020-09-30 14:51] #21465 closed

[2020-09-30 14:54] kalexand-rh commented on #25015
@therevoman, the docs currently say that you must grant all privileges for Profile-driven storage: https://docs.openshift.com/container-platform/4.5/installing/installing_vsphere/installing-vsphere-installer-provisioned.html#installation-vsphere-installer-infra-requirements_installing-vsphere-installer-provisioned

I don't see a mention of the Storage view on that page, so I'm closing this issue.

[2020-09-30 14:54] #25015 closed

[2020-09-30 14:54] bergerhoffer commented on #16122
Closing as we don't update 3.0 version anymore, and the typo "Kuberbetes" does not exist in 3.11.

[2020-09-30 14:54] #16122 closed

[2020-09-30 15:02] jboxman commented on #24809
@pdfruth, thanks for opening this. It is now resolved.

[2020-09-30 15:02] #24809 closed

[2020-09-30 15:03] bobfuru commented on #25610
Thanks, @leethomasrh! I've created https://github.com/openshift/openshift-docs/pull/25941 if you would like to have a look.

[2020-09-30 15:04] bergerhoffer commented on #21159
These procedures have been updated to use sudo: https://docs.openshift.com/container-platform/4.3/backup_and_restore/disaster_recovery/scenario-1-infra-recovery.html

Closing this issue.

[2020-09-30 15:04] #21159 closed

[2020-09-30 15:07] codyhoag commented on #23620
This appears to have been fixed in #23627. Closing...

[2020-09-30 15:07] #23620 closed

[2020-09-30 15:07] bmcelvee commented on #22563
Hi @williamcaban, we have those documented here: https://docs.openshift.com/container-platform/4.4/networking/routes/route-configuration.html#nw-route-specific-annotations_route-configuration.

Hope this helps!

[2020-09-30 15:07] bergerhoffer commented on #21434
Closing as this was resolved by #21433

[2020-09-30 15:07] #21434 closed

[2020-09-30 15:09] bergerhoffer commented on #21471
We try to provide output for CLI commands when it is helpful. Closing as we are not going to do a sweep of every CLI command to add example output.

Please feel free to open a new issue if you have specific sections/commands that you think would benefit from adding example output.

[2020-09-30 15:09] #21471 closed

[2020-09-30 15:13] lautou commented on #24920
any update?

[2020-09-30 15:13] jeana-redhat commented on #24874
There is also a note after the step that mentions the RHCOS ISO:

Is this incorrect?

[2020-09-30 15:15] codyhoag commented on #23498
This was fixed in #24463. Thanks!

[2020-09-30 15:15] #23498 closed

[2020-09-30 15:16] bobfuru commented on #19217
Thank you, @kasturinarra This was addressed in your bug in https://bugzilla.redhat.com/show_bug.cgi?id=1794729. It was fixed in 4.5, 4.6 with https://github.com/openshift/openshift-docs/pull/25348, fixed in 4.4 with https://github.com/openshift/openshift-docs/pull/25411, and fixed in 4.3 with https://github.com/openshift/openshift-docs/pull/25413. (`enterprise-4.2` branch is no longer supported).

[2020-09-30 15:16] #19217 closed

[2020-09-30 15:17] bmcelvee commented on #20547
This content is actually being removed in https://github.com/openshift/openshift-docs/pull/25826/files. Closing this issue and related PR accordingly.

[2020-09-30 15:17] #20547 closed

[2020-09-30 15:17] bergerhoffer commented on #20860
Open against the master branch.

[2020-09-30 15:19] bergerhoffer commented on #20889
Closing - there is now a banner at the top that warns that you're looking at an old version.

[2020-09-30 15:19] #20889 closed

[2020-09-30 15:21] kalexand-rh commented on #24812
@wking, will you remind me what the best way to get the SHA for a particular release is?

[2020-09-30 15:21] bergerhoffer commented on #20979
Closing as PR #20991 addressed this.

[2020-09-30 15:21] #20979 closed

[2020-09-30 15:22] mburke5678 commented on #24646
@garethahealy Thanks for catching this. Can you take a look at the change: https://github.com/openshift/openshift-docs/pull/25951

[2020-09-30 15:22] #24646 closed

[2020-09-30 15:26] kalexand-rh commented on #24810
@pdfruth, thanks for pointing this out! It looks like this issue was fixed on https://github.com/openshift/openshift-docs/pull/25575, so I'm going to close this issue.

[2020-09-30 15:26] #24810 closed

[2020-09-30 15:27] bergerhoffer commented on #13820
Closing as the playbook paths have been corrected.

[2020-09-30 15:27] #13820 closed

[2020-09-30 15:28] jboxman commented on #22342
@janehojy thanks for opening this!

[2020-09-30 15:29] bobfuru commented on #19678
Thank you, @shortsteps
OpenShift docs 4.3+ now have the correct command string. For example: https://docs.openshift.com/container-platform/4.5/metering/configuring_metering/metering-configure-persistent-storage.html#metering-store-data-in-azure_metering-configure-persistent-storage shows the following command:

Closing issue.

[2020-09-30 15:29] #19678 closed

[2020-09-30 15:29] #22309 closed

[2020-09-30 15:30] lbarbeevargas commented on #25070
@rhdojun  Thank you for submitting this issue. After conversing with the engineers for our OCP Cloud team, it looks like Step #2 covers the key things to look out for when reviewing a CSR before approval:

Specifically, review that the status for each machine is `Pending` or `Approved`. I am adding a link to the Kubernetes (upstream) documentation with more information on CSRs. The OCP 4.2 documen

[2020-09-30 15:32] #25070 closed

[2020-09-30 15:33] bergerhoffer commented on #15854
Closing as we don't maintain the 3.0 version, and 3.11 does not have this dead link.

[2020-09-30 15:33] #15854 closed

[2020-09-30 15:33] #24813 closed

[2020-09-30 15:41] mburke5678 commented on #25815
@syedriko Thanks!

[2020-09-30 15:41] #25815 closed

[2020-09-30 15:42] mburke5678 commented on #25815
https://github.com/openshift/openshift-docs/pull/25955

[2020-09-30 15:59] knrc commented on #25155
No version of Service Mesh supports Dedicated/Online at this time, we will be qualifying a version on those platforms post-2.0 release.

[2020-09-30 16:00] jboxman commented on #22344
The optionality was removed in _4.5_: https://docs.openshift.com/container-platform/4.5/networking/hardware_networks/configuring-sriov-net-attach.html

I'll look at _4.4_.

[2020-09-30 16:05] jboxman commented on #22344
This appears related to this BZ: https://bugzilla.redhat.com/show_bug.cgi?id=1843374

[2020-09-30 16:19] mburke5678 commented on #20956
@aelicieguo Thanks for pointing this out.
https://github.com/openshift/openshift-docs/pull/25973

[2020-09-30 16:19] #20956 closed

[2020-09-30 16:20] #21754 closed

[2020-09-30 16:35] lautou commented on #24874
Replace this sentence in that paragraph:
"Only use ISO images for this procedure."
By this:
"Only use RAW images for this procedure."

[2020-09-30 17:57] bergerhoffer commented on #16897
Updates are live: https://docs.openshift.com/container-platform/3.11/day_two_guide/environment_health_checks.html#day-two-guide-creating-alerts-using-prometheus

Closing this issue.

[2020-09-30 17:57] #16897 closed

[2020-09-30 17:58] bergerhoffer commented on #16535
Closing, updates are live: https://docs.openshift.com/container-platform/3.11/install_config/master_node_configuration.html#master-node-config-audit-config

[2020-09-30 17:58] #16535 closed

[2020-09-30 18:14] #20539 closed

[2020-09-30 18:14] #12978 closed

[2020-09-30 18:26] ahardin-rh commented on #16115
Addressed in https://github.com/openshift/openshift-docs/pull/25983

[2020-09-30 18:26] #16115 closed

[2020-09-30 18:59] lbarbeevargas commented on #25155
@knrc Would this update apply to the 4.3 and later versions of the OCP docs?

[2020-09-30 19:41] jeana-redhat commented on #23012
Actually it appears this is already covered earlier in the docs. See step 2 here: https://docs.openshift.com/container-platform/4.4/installing/installing_bare_metal/installing-bare-metal.html#installation-installing-bare-metal_installing-bare-metal

[2020-09-30 19:41] #23012 closed

[2020-09-30 19:44] ahardin-rh commented on #24210
Fixed in https://github.com/openshift/openshift-docs/pull/25999. Thank you!

[2020-09-30 19:44] #24210 closed

[2020-09-30 19:52] ahardin-rh commented on #22406
@yapei Thanks for bringing this to our attention! I confirmed with the dev team that the annotation didn't make it into 4.6. The updates are addressed in https://github.com/openshift/openshift-docs/pull/26001. Thank you!

[2020-09-30 19:58] rahmed-rh commented on #22482
Yes it was fixed

[2020-09-30 19:58] #22482 closed

[2020-09-30 20:16] #25581 closed

[2020-09-30 20:35] kalexand-rh commented on #25393
@rolfedh, PTAL?

[2020-09-30 20:36] kalexand-rh commented on #25579
@rolfedh, PTAL?

[2020-09-30 20:56] jonquilwilliams commented on #25475
Opened PR: https://github.com/openshift/openshift-docs/pull/26009 to fix this. After QE, please merge to master and CP to 4.4.and 4.5. Thanks!

[2020-09-30 22:10] rolfedh commented on #25393
@kalexand-rh  Sure thing. This is a duplicate of https://issues.redhat.com/browse/OCPRHV-374 which is documented in enterprise-4.6 and closed. The changes are shown here: https://github.com/openshift/openshift-docs/commit/5bed104c844c38f646d176936ef5e92ed6178d8d

[2020-09-30 23:18] hashnao commented on #12760
/close

[2020-09-30 23:18] #12760 closed

[2020-09-30 23:55] rolfedh commented on #25579
Support for the dns_vip was removed in OCP 4.5 per https://bugzilla.redhat.com/show_bug.cgi?id=1842280
The upstream developer's notes (e.g., this topic) should to be updated to reflect this change. @rgolangh

[2020-09-30 23:59] rolfedh commented on #25579
@kalexand-rh This issue does not affect openshift/openshift-docs. It should be migrated to openshift/installer.

[2020-10-01 00:41] wking commented on #24812
openshift/openshift-docs#19266 covers getting a digest for a given release.

[2020-10-01 04:08] hashnao commented on #16425
/close Reboot comment is already included. https://docs.openshift.com/container-platform/4.5/updating/updating-cluster.html

[2020-10-01 04:08] #16425 closed

[2020-10-01 12:05] kalexand-rh commented on #25393
Thanks, @rolfedh! I'll close this issue.

[2020-10-01 12:05] #25393 closed

[2020-10-01 12:54] #25579 closed

[2020-10-01 13:43] nak3 opened #26032 "ServiceMesh: "Determining the ingress IP and ports" section does not work always as istio-ingressgateway is type ClusterIP"
# Which section(s) is the issue in?

* Determining the ingress IP and ports
https://docs.openshift.com/container-platform/4.5/service_mesh/service_mesh_user_guide/ossm-traffic-manage.html#ossm-routing-determine-ingress_routing-traffic

### What needs fixing?

Although my env provides an external LB:

e.g.
[code]

The istio-ingressgateway does not have `EXTERNAL-IP` because the type is `ClusterIP`

[2020-10-01 13:59] #23937 closed

[2020-10-01 15:53] #22342 closed

[2020-10-01 18:51] #24874 closed

[2020-10-01 20:08] lautou commented on #23148
hi any update

[2020-10-02 07:40] chikaldirick commented on #25785
Since previous MRs were either closed or contained only partial changes, I've created [this one](https://github.com/openshift/openshift-docs/pull/26073) containing all changes in one place.

[2020-10-02 20:06] lbarbeevargas commented on #25155
PR #25990 closes this issue.

[2020-10-02 20:06] #25155 closed

[2020-10-02 22:02] amycruz97 commented on #25828
alright Thanks i am working on it

[2020-10-03 01:56] chuckersjp commented on #20360
/remove-lifecycle stale

[2020-10-03 18:00] bderiso commented on #20486
/remove-lifecycle stale

[2020-10-04 06:05] vikram-redhat commented on #26032
@JStickler I can't see Vidya's GH account here, so tagging you.

[2020-10-04 14:42] mburke5678 commented on #20183
@vikram-redhat Do we need to do anything with this? OKD and OCP now both carry the _OpenShift documentation is licensed under the Apache License 2.0 (https://www.apache.org/licenses/LICENSE-2.0)._ wording.

[2020-10-04 21:12] vikram-redhat commented on #20183
Nope nothing else needs doing.

[2020-10-04 21:12] #20183 closed

[2020-10-04 21:32] #19523 closed

[2020-10-05 04:07] amycruz97 commented on #25828
i have made a pull request

[2020-10-05 15:40] e-desouza opened #26122 "[enterprise-4.5] Installation for IBM Z is missing "architecture: s390x""
### Which section(s) is the issue in?

Installation on IBM Z, specifically the install yaml: https://docs.openshift.com/container-platform/4.5/installing/installing_ibm_z/installing-ibm-z.html#installation-bare-metal-config-yaml_installing-ibm-z

This leads to clients pulling amd64 binaries for z and installation failing with "binary exec errors" from Go.

### What needs fixing?

[code]

[2020-10-05 17:15] jboxman commented on #26122
@e-desouza, what about for IBM Power? The same or different? Thanks!

[2020-10-05 18:43] vidya-iyengar commented on #26032
@vikram-redhat my Github account: vidya-iyengar

[2020-10-05 19:10] e-desouza commented on #26122
@jboxman I just checked and Power is missing it too. I believe it's `ppc64le` for Power.

[2020-10-05 19:50] codyhoag commented on #22406
Document that CNs are deprecated when signing x.509 certificates: https://golang.google.cn/doc/go1.15#commonname. SANs should be used instead. https://bugzilla.redhat.com/show_bug.cgi?id=1882191

[2020-10-05 20:30] bergerhoffer commented on #25785
Closing this issue as the related PR was merged. Thanks!

[2020-10-05 20:30] #25785 closed

[2020-10-06 11:27] lbohnsac opened #26146 "[enterprise-4.5] Issue in file authentication/using-rbac.adoc"
### Which section(s) is the issue in?
Creating a local role and creating a cluster roie

### What needs fixing?
Link to a list where all verbs and resources are described!

[2020-10-06 18:36] bergerhoffer commented on #25828
Closing this issue as the PR was merged.

[2020-10-06 18:36] #25828 closed

[2020-10-06 20:28] annelson-rh opened #26169 "[enterprise-4.5] Issue in file architecture/architecture-rhcos.adoc"
### Which section(s) is the issue in?
Changing Ignition Configs after installation

### What needs fixing?

remove:" If you wanted to change a setting in one of those files, for example to change pids_limit to 1500 (pids_limit = 1500) inside the crio.conf file, you could create a new machineconfig containing only the file you want to change."

ContainerRuntimeConfig is the way to change crio.conf.

[2020-10-07 11:41] rhatbob opened #26188 "[enterprise-4.5] Issue in file networking/ingress-operator.adoc"
### Which section(s) is the issue in?
Ingress controller configuration parameters @ https://docs.openshift.com/container-platform/4.5/networking/ingress-operator.html#nw-ingress-controller-configuration-parameters_configuring-ingress

### What needs fixing?
Table header highlights column [#1](https://docs.openshift.com/container-platform/4.5/networking/ingress-operator.html#nw-ingress-controller-c

[2020-10-07 15:00] sheriff-rh commented on #22406
@ahardin-rh  and myself will be adding Compliance Operator and File Integrity Operator topics under the Security (and compliance) heading. Relevant PRs #26192 // #25740

[2020-10-07 18:58] #25783 closed

[2020-10-07 19:43] jboxman commented on #14353
@Setheck, we've since replaced these with tables.

[2020-10-07 19:43] #14353 closed

[2020-10-08 08:09] gyucegok opened #26222 "[enterprise-4.5] Issue in file installing/install_config/configuring-firewall.adoc"
### Which section(s) is the issue in?
Whitelist URLs

### What needs fixing?
IPI needs openshift.org access, the OVA template is downloaded from there

[2020-10-08 12:07] vrutkovs commented on #21293
This has been resolved by multiple PRs (see above). Please re-open if more tweaks are required
/close

[2020-10-08 12:09] #21293 closed

[2020-10-08 16:56] nathanbrophy opened #26244 "OpenShift Add Documentation for CSV Patches on Cluster"
### Which section(s) is the issue in?

This issue is in the Operators Section, and more specifically, the `OLM` portion of the information.

### What needs fixing?

Today the process flow for installing an `OLM` Operator might look like the following:

1. Apply a `CatalogSource` resource to the cluster that contains an index image with your Operator bundles in the registry
1. Either through the UI

[2020-10-08 16:59] jboxman commented on #26244
@adellape FYI

[2020-10-08 17:09] rarguello commented on #23148
Fixed in #25846

[2020-10-08 20:44] stevenewsted opened #26264 "[enterprise-4.3] Issue in file release_notes/ocp-4-3-release-notes.adoc"
### Which section(s) is the issue in?
When using the version pulldown menu from a higher version to a lower one, the link fails because there is no corresponding release notes for the newer version in the older docs.

eg, on the 4.4 release notes, using the pulldown to change to the 4.3 ones, it tries to point to a "4-4" page in the "4.3" directory.

### What needs fixing?
Either update those link

[2020-10-08 21:04] jonquilwilliams commented on #26169
@annelson-rh I understand about the crio.conf. But what about the other files listed in the doc, like storage.conf - would the doc hold true for the other files? Please let me know so I can update the doc correctly. Thanks.

[2020-10-08 21:23] jboxman commented on #26264
@vikram-redhat FYI

[2020-10-08 21:25] annelson-rh commented on #26169
storage.conf is also controlled by containerruntimeconfig, registries.conf looks like its controlled by image.config.openshift.io/cluster

[2020-10-08 21:32] jonquilwilliams commented on #26169
So is it best to remove the paragraph altogether as you suggested?

Or keep the prargraph but remove the example and add a note that any containers that are controlled by containerruntimeconfig, like storage.conf and crio.conf, should only be changed using ContainerRuntimeConfig?

Thanks for taking with with this.

[2020-10-08 21:45] annelson-rh commented on #26169
imo: removing the paragraph would be best.
might be worthwhile to have a separate section in the docs regarding adding/updating files on the nodes via machineconfig.

[2020-10-09 03:25] hawkowl opened #26278 "[enterprise-4.4] Issue in file authentication/identity_providers/configuring-gitlab-identity-provider.adoc"
### Which section(s) is the issue in?

authentication/identity_providers/configuring-gitlab-identity-provider.adoc

### What needs fixing?

The GitLab identity provider does not support plain OAuth2, only OIDC, in 4.0+ (see https://github.com/openshift/cluster-authentication-operator/blob/release-4.0/pkg/operator2/idp.go#L114 ).

[2020-10-09 12:30] chuckersjp commented on #21803
/remove-lifecycle stale

[2020-10-09 17:18] maxwelldb opened #26299 "Dangling heading in ShiftStack installation docs"
### Which section(s) is the issue in?

https://docs.openshift.com/container-platform/4.5/installing/installing_openstack/installing-openstack-user.html#installation-user-infra-generate_installing-openstack-user

(Kuryr, too)

### What needs fixing?

Dangling heading

[2020-10-09 17:36] maxwelldb commented on #26299
FYI @jboxman

[2020-10-09 18:28] kalexand-rh commented on #21820
I no longer see this file in the repository, so I'm closing this issue.

[2020-10-09 18:28] #21820 closed

[2020-10-10 06:27] yuhui-12 commented on #22406
In the doc https://docs.openshift.com/container-platform/4.6/operators/operator_sdk/osdk-helm.html, the section, **Installing the Operator SDK CLI**, can put a link, no need to write such detailed procedure since the point is how to create helm operator, not operator-sdk.

[2020-10-10 11:51] vikram-redhat commented on #26264
Fixed for 4.x release.

[2020-10-10 11:51] #26264 closed

[2020-10-11 03:03] jboxman commented on #26188
So this is https://docs.openshift.com/container-platform/4.5/rest_api/operator_apis/ingresscontroller-operator-openshift-io-v1.html#ingresscontroller-operator-openshift-io-v1.

[2020-10-11 16:17] jboxman commented on #22014
@mburke5678 I think we do this for install topics now? So this is now technically possible.

[2020-10-11 20:26] maxwelldb commented on #22018
/remove-lifecycle stale

[2020-10-12 01:59] bergerhoffer commented on #21085
@pneedle-rh Any chance this is something you know anything about?

[2020-10-12 09:30] Bengrunt commented on #14136
As of today, this is still an issue.

I guess people have moved or will move to OKD4 now, but I imagine plenty of others still have running 3.11 clusters that might have to do this quite critical operation.

[2020-10-12 09:30] Bengrunt commented on #14136
/remove-lifecycle rotten

[2020-10-12 11:19] pneedle-rh commented on #21085
@bergerhoffer I have looked into this issue this morning.

In OCP 4.3 and later, three of the five system metrics documented in `modules/authentication-prometheus-system-metrics.adoc` are available the OCP web console and in the Prometheus UI. The available metrics are:

* `openshift_auth_form_password_count`
* `openshift_auth_form_password_count_result`
* `openshift_auth_password_total`

Here are

[2020-10-12 11:23] pneedle-rh commented on #21085
@ericavonb hi! I was just reading [BZ 1684407](https://bugzilla.redhat.com/show_bug.cgi?id=1684407), which relates to this docs issue to some degree.

Can you please advise as to whether the `openshift_auth_basic_password_count` and `openshift_auth_basic_password_count_result` metrics are intended to be in OCP 4? They are [referenced in our documentation](https://docs.openshift.com/container-platf

[2020-10-12 14:22] adellape commented on #22406
@yuhui-12 Thank you. This will be addressed in a planned revamp of the OSDK docs for OSDK v1 targeting OCP 4.7.

cc @tlwu2013 per recent discussion.

[2020-10-12 14:28] #26299 closed

[2020-10-12 14:42] dmage commented on #22406
@bmcelvee should we mention that the image pruner [tolerates invalid image references](https://issues.redhat.com/browse/IR-119) by default on fresh installations?

[2020-10-12 14:56] SNiemann15 commented on #26122
Working on this with @tkapoor@redhat.com we have added the two architectures in the PR https://github.com/openshift/openshift-docs/pull/26184

[2020-10-12 14:57] #22310 closed

[2020-10-12 15:37] adambkaplan commented on #22406
@bmcelvee we need an item for the Samples operator - if samples do not import, OpenShift will fire an alert instead of going Degraded [1]

[1] https://issues.redhat.com/browse/BUILD-92

[2020-10-12 15:39] adambkaplan commented on #22406
@bmcelvee Builds will now support git clones behind an HTTPS proxy [1]. Note that this is still under QE review, but engineering at this point cannot reproduce the BZ.

[1] https://issues.redhat.com/browse/BUILD-68

[2020-10-12 15:56] #24715 closed

[2020-10-12 16:02] bmcelvee commented on #22406
Thanks, @adambkaplan! I'll add these.

[2020-10-12 20:33] yuvalk commented on #22406
I believe the dropping of NET_RAW worth mentioning
https://bugzilla.redhat.com/show_bug.cgi?id=1874671
incl. explanation of the difference between upgrade and new installation

[2020-10-12 20:46] #22380 closed

[2020-10-12 20:56] #15481 closed

[2020-10-12 23:02] johnwilkins commented on #22406
Telco docs has a spreadsheet for CNF and KNIDEPLOY release notes. Please update them as needed.
https://docs.google.com/spreadsheets/d/1M27ZtL5GC5Wlf47SOaNrCGoiVzEQJaaiDVkbG2ZqHYI/edit#gid=484306265

[2020-10-13 01:14] rbbratta commented on #22406
host OVS is used for OpenShiftSDN as well as OVN.  The section

should also indicate the change is for OpenShiftSDN.

It looks like there wasn't a specific Jira for switching OpenShiftSDN, we just changed OVN and OpenShiftSDN to host OVS at the same time.

Under _Table 2. Technology Preview tracker_  we should  also indicate that "OVN-Kubernetes Pod network provider" is GA.

[2020-10-13 02:21] rbbratta commented on #22406
We should probably remove the "default" adjective after OVN-Kubernetes since a few lines after we indicate that OpenShiftSDN is still the default

...

[2020-10-13 03:45] jianzhangbjz commented on #22406
For the [ocp-4-6-technology-preview](https://docs.openshift.com/container-platform/4.6/release_notes/ocp-4-6-release-notes.html#ocp-4-6-technology-preview), the [opm](https://docs.openshift.com/container-platform/4.6/operators/admin/olm-managing-custom-catalogs.html#olm-managing-custom-catalogs-bundle-format) should be `GA` for 4.6. Like below:
**Feature** | OCP 4.4 | OCP 4.5 | OCP 4.6
-- | -- | -

[2020-10-13 07:03] pamoedom commented on #22268
/remove-lifecycle stale

[2020-10-13 08:10] xiuwang commented on #22406
@bmcelvee Need add new features for image registry
-Allow to change pruner's loglevel - https://issues.redhat.com/browse/IR-139
-Support Azure Government in Image Registry - https://issues.redhat.com/browse/IR-91
-Add metrics and deprecation notice for Registry v1 API - https://issues.redhat.com/browse/IR-99

[2020-10-13 12:25] kasturinarra commented on #22406
@codyhoag  Descheduler should be TP for 4.6 , can some please help add that, currently nothing added there !! @damemi FYI, also please correct me if i am wrong !!

[2020-10-13 12:27] kasturinarra commented on #22406
@soltysh should we add about audit-logs not being collected by default and user will have to run --audit-logs option for collecting the same in Release Notes here ?

[2020-10-13 13:01] damemi commented on #22406
The descheduler is already in tech preview before 4.6, so do we need to add a note for that?

[2020-10-13 13:22] codyhoag commented on #22406
Thanks @kasturinarra. Will update the table with that today!

[2020-10-13 14:02] apoorvajagtap commented on #21002
Hello @leethomasrh @kalexand-rh, were we able to get this documented?
Actually, I have a customer who is observing similar scenario, and I would like to understand why the image pull is re-directed to https://*oso-rhc4tp-docker-registry.s3-us-west-2.amazonaws.com/*. Also is there any possibility that the region for docker-registry would change at any point of time? Any document which explains this

[2020-10-13 14:28] codyhoag commented on #24587
This was resolved in #25782

[2020-10-13 14:28] #24587 closed

[2020-10-13 14:34] MohamedElMahdi opened #26389 "[enterprise-4.5] Issue in file virt/about-virt.adoc"
### Which section(s) is the issue in?

### What needs fixing?

[2020-10-13 14:39] #24851 closed

[2020-10-13 16:47] reestr commented on #22406
We need to add in an entry outlining that OpenShift 4.6 will be an EUS release.  I'm still drafting the public facing details, however I've got a url placeholder for the page on the customer portal, the friendly link is [here](https://access.redhat.com/support/policy/updates/openshift-eus).

Suggested text to be appended in the 'About this release' section of release notes:

[2020-10-13 17:27] sbarre-esit commented on #15234
/remove-lifecycle rotten

[2020-10-13 18:07] adellape commented on #22406
@jianzhangbjz When we added opm to the 4.5 docs, it was just GA; we didn't say it was Tech Preview. In 4.4, technically it was Developer Preview, but we don't document Dev Preview features, so the 4.4 release notes just generally referred to Bundle Format/opm as an upcoming feature, with a link to the OKD docs for more info:

https://docs.openshift.com/container-platform/4.4/release_notes/ocp-4-4-

[2020-10-13 19:30] #26389 closed

[2020-10-14 06:07] zhouying7780 commented on #22406
@soltysh , for "oc CLI Plug-ins"  currently nothing is set on table: https://docs.openshift.com/container-platform/4.6/release_notes/ocp-4-6-release-notes.html#ocp-4-6-technology-preview, could you help set it ? thanks.

[2020-10-14 06:16] jinyunma commented on #22406
There is a known issue https://bugzilla.redhat.com/show_bug.cgi?id=1883521 when upgrading from 4.5 on ipi on vsphere. Details can be seen from https://bugzilla.redhat.com/show_bug.cgi?id=1883521#c22.

[2020-10-14 13:35] maxwelldb opened #26447 "Increment Ansible version to 2.9 in OSP UPI"
### Which section(s) is the issue in?

OSP UPI

### What needs fixing?

Do this: https://github.com/openshift/installer/pull/4261

4.7+

[2020-10-14 13:36] maxwelldb commented on #26447
FYI @pierreprinetti

[2020-10-14 13:58] soltysh commented on #22406
Yeah, I think it's reasonable, good point @kasturinarra

[2020-10-14 13:58] soltysh commented on #22406
@zhouying7780 yes TP still for 4.6

[2020-10-14 14:43] lbarbeevargas commented on #22406
@sunzhaohua2 The remaining release notes for OCPCLOUD-869/817 were taken care of in [PR-26258](https://github.com/openshift/openshift-docs/pull/26258). Thank you!

[2020-10-14 15:18] miabbott commented on #22406
For Tech Preview features, we've had "Adding kernel modules to nodes" in TP since 4.3 but it is missing from the table.

https://docs.openshift.com/container-platform/4.5/installing/install_config/installing-customizing.html#installation-special-config-kmod_installing-customizing

It remains in TP for 4.6

[2020-10-14 16:25] peterclauterbach opened #26453 "[enterprise-4.5] Issue in file machine_management/creating_machinesets/creating-machineset-aws.adoc"
### Which section(s) is the issue in?
Creating MachineSets

### What needs fixing?
Minor nit, inconsistent use in navigation menu and section title.
In the navigation bar on the left,
this section is titled "Creating a MachineSet **on** AWS",
but the section heading is "Creating a MachineSet **in** AWS".
All of the platforms (AWS, Azure, GCP) have this inconsistent preposition, except **OpenStack*

[2020-10-14 16:38] tsze-redhat commented on #22406
Bug 1887007 is causing clusters with Realtime kernel on masters to not work properly.

[2020-10-14 17:52] jtaleric commented on #22406
OVNKube lacks the ability to support large scale loads. https://bugzilla.redhat.com/show_bug.cgi?id=1887585

[2020-10-14 18:14] #22077 closed

[2020-10-14 18:46] mffiedler commented on #22406
Possible wording for this:  RHEL real time (RT) kernels are currently only supported on worker nodes, not master node.  Compact clusters are not supported with RT kernels in OCP 4.6.

[2020-10-15 00:42] ChetHosey commented on #22441
/remove-lifecycle stale

[2020-10-15 08:47] yunjiang29 commented on #22406
Hello @codyhoag ,
In [Handling credential requests for cloud API access on AWS, Azure, and GCP](https://docs.openshift.com/container-platform/4.6/release_notes/ocp-4-6-release-notes.html#ocp-4-6-handling-credential-requests) section:
Per [BZ#1884691](https://bugzilla.redhat.com/show_bug.cgi?id=1884691#c0),  Azure and GCP does not support `Manual` value.
cc @dgoodwin

[2020-10-15 13:19] #25663 closed

[2020-10-15 16:19] maxwelldb opened #26505 "[enterprise-4.6] ShiftStack floating IP config divergence"
### Which section(s) is the issue in?

https://docs.openshift.com/container-platform/4.6/installing/installing_openstack/installing-openstack-installer-custom.html#installation-osp-accessing-api_installing-openstack-installer-custom

https://docs.openshift.com/container-platform/4.6/installing/installing_openstack/installing-openstack-user.html#installation-osp-accessing-api_installing-openstack-u

[2020-10-15 16:20] maxwelldb commented on #26505
Issue caused by https://github.com/openshift/openshift-docs/pull/25216

[2020-10-15 16:21] maxwelldb commented on #26505
Hold work on this issue until FIPless installation UX changes are implemented.

[2020-10-15 20:27] #24211 closed

[2020-10-16 09:24] pierreprinetti commented on #22552
/remove-lifecycle stale

[2020-10-16 17:00] akostadinov commented on #22601
/lifecycle frozen

[2020-10-17 21:22] chuckersjp commented on #22666
/remove-lifecycle stale

[2020-10-18 22:47] MichaelWasher opened #26529 "[enterprise-4.4] Issue in file installing/installing_aws/installing-aws-private.adoc"
### Which section(s) is the issue in?
Installing AWS Private -> Private Clusters
https://docs.openshift.com/container-platform/4.4/installing/installing_aws/installing-aws-private.html#private-clusters-default_installing-aws-private

### What needs fixing?
I think the first line is misleading, however I can understand how it should be read.

`If your environment does not require an external intern

[2020-10-19 10:31] madhusudanupadhyay opened #26532 "[dedicated] Issue in file logging/cluster-logging.adoc"
### Which section(s) is the issue in?

The logging stack is missing the details of retention period

### What needs fixing?

The logging stack is missing the details of retention period.

Needs additional information from:
[+] https://www.openshift.com/products/dedicated/service-definition

Snippet:
`Application logs sent to STDOUT will be collected by Fluentd and made available through the cluste

[2020-10-19 12:35] madhusudanupadhyay commented on #26532
Cancelling this one.

[2020-10-19 12:35] #26532 closed

[2020-10-19 13:54] bergerhoffer opened #26536 "Fix kubectl docs redirect link"
### Which section(s) is the issue in?

https://github.com/openshift/openshift-docs/blob/master/cli_reference/openshift_cli/usage-oc-kubectl.adoc

### What needs fixing?

The link to the kubectl docs uses Google to redirect:

[code]
This shouldn't use Google to redirect, it should go directly to the kubernetes docs page:

[code]

Marking as a good issue for Hacktoberfest. Apply the fix to the maste

[2020-10-19 13:55] bergerhoffer commented on #25814
@Rohitkrops Sorry for the delay in responding - yes please go ahead and submit the fix for this if you're able!

Make the change against master, and we'll take care of applying it to other versions.

[2020-10-19 13:59] #22311 closed

[2020-10-19 18:39] ahardin-rh commented on #22726
@chaitanyaenr @aakarshg Can we sync up about what exactly is needed here? Thanks!

[2020-10-20 07:36] pamoedom commented on #22779
/remove-lifecycle stale

[2020-10-20 11:24] chris-short opened #26573 "[enterprise-4.5] Issue in file storage/persistent_storage/persistent-storage-local.adoc"
### Which section(s) is the issue in?
Installing the Local Storage Operator

### What needs fixing?
The YAML example has bad spacing here's what I used to create everything
[code]

But, this still did not end up with a local-storage pod running in 4.6.

[2020-10-20 12:28] pamoedom opened #26574 "[enterprise-4.5] Issue in file installing/installing_vsphere/installing-restricted-networks-vsphere.adoc"
### Which section(s) is the issue in?

https://docs.openshift.com/container-platform/4.5/installing/installing_vsphere/installing-restricted-networks-vsphere.html#installation-vsphere-machines_installing-restricted-networks-vsphere

### What needs fixing?

"append-bootstrap.ign" example mentions version: "2.1.0" but I think it should be "version": "2.2.0" like the rest of ignition files, example f

[2020-10-20 13:40] pamoedom opened #26582 "[enterprise-4.5] Issue in file installing/installing_vsphere/installing-restricted-networks-vsphere.adoc"
### Which section(s) is the issue in?

https://docs.openshift.com/container-platform/4.5/installing/installing_vsphere/installing-restricted-networks-vsphere.html#installation-vsphere-config-yaml_installing-restricted-networks-vsphere

### What needs fixing?

The sample "install-config.yaml" file contains an incorrect mirror URL "registry.svc.ci.openshift.org" that most probably belongs to interna

[2020-10-20 13:52] jboxman commented on #26573
@bobfuru FYI

[2020-10-20 13:53] jboxman commented on #26574
@codyhoag FYI

[2020-10-20 15:57] oarribas commented on #26582
There are other references to the same internal registry, at least the ones in https://github.com/openshift/openshift-docs/issues/20133#issuecomment-593469049

[2020-10-20 22:32] #13321 closed

[2020-10-20 23:45] TiloGit opened #26611 "[enterprise-4.5] Issue in file installing/installing_azure/installing-azure-account.adoc"
### Which section(s) is the issue in?
- Azure account limits

### What needs fixing?
Default of worker VM seems to be not Standard_D4s_v3  but  Standard **D2s** v3 .
Also for default disk for worker node is 128 GB Premium SSD and not 512 as the Sample customized install-config.yaml suggest.

[2020-10-21 05:03] Rohitkrops commented on #25814
Sure, will open PR today

[2020-10-21 07:05] sunzhaohua2 commented on #22406
@lbarbeevargas sorry, I missed two new features which should be mentioned under "Machine API", thanks.

- AWS: Support for custom endpoints and air-gapped regions, please refer to https://issues.redhat.com/browse/OCPCLOUD-844
- Azure: Support for GovCloud, please refer to https://issues.redhat.com/browse/OCPCLOUD-843

[2020-10-21 14:59] lbarbeevargas commented on #22406
@sunzhaohua2 Thank you mentioning these two JIRAs! And no worries, they were being tracked already. The information was rolled into [release notes in the Installation and upgrade section](https://docs.openshift.com/container-platform/4.6/release_notes/ocp-4-6-release-notes.html#ocp-4-6-installation-and-upgrade) because of overlap with installation work.

[2020-10-21 15:57] hupiper opened #26617 "[enterprise-4.5] Issue in file networking/configuring_ingress_cluster_traffic/configuring-ingress-cluster-traffic-service-external-ip.adoc"
### Which section(s) is the issue in?

Attaching an ExternalIP to a Service

### What needs fixing?
You can attach an ExternalIP to a service. If your cluster is configured to allocate an ExternalIP automatically, you might not need to manually attach an ExternalIP to the Service.

We should never have the word "might" in our docs. You either need to do it or you don't, and here is when and why. I

[2020-10-21 19:50] riontel opened #26628 "[enterprise-4.5] Issue in file virt/live_migration/virt-live-migration.adoc"
### Which section(s) is the issue in?

OpenShift Virtualization > Live migration  > Virtual machine live migration

### What needs fixing?

Note needs to be added to warn that live migration is not supported for instances with SR-IOV-based network interfaces

[2020-10-21 20:41] #17478 closed

[2020-10-22 01:08] jboxman commented on #16954
/remove-lifecycle rotten

[2020-10-22 01:10] jboxman commented on #16954
@nccurry, I've created a PR to rescue this content: https://github.com/openshift/openshift-docs/pull/26631.

[2020-10-22 01:17] jboxman commented on #17103
@flaviopv, thanks for reporting this! We've fixed this in an update.

[2020-10-22 01:17] #17103 closed

[2020-10-22 10:17] xcoulon opened #26639 "[enterprise-4.6] Issue in file monitoring/enabling-monitoring-for-user-defined-projects.adoc"
### Which section(s) is the issue in?

Enabling monitoring for user-defined projects

### What needs fixing?

It's a minor remark, but with OCP 4.6 rc4, the number of containers in the `prometheus-user-workload-*` pods is slightly different than what's mentioned in the docs:

(doc)
[code]

vs (actual)
[code]

[2020-10-22 10:20] xcoulon commented on #26639
see https://github.com/openshift/openshift-docs/pull/26640

[2020-10-22 13:08] jarcher opened #26643 "[enterprise-4.5] Issue in file architecture/architecture-installation.adoc"
### Which section(s) is the issue in?

Supported Platforms

### What needs fixing?
Is there a reason IBM Cloud is missing from this list of supported platforms?

[2020-10-22 13:49] kasturinarra commented on #22406
@codyhoag can we have the above point added to release notes as this is important ? Thanks !!
oc adm must-gather does not collect audit logs by default now, cu / user needs to run -- /usr/bin/gather_audit_logs