[2017-12-15 10:58] sallyom opened #6806 "Example quickstart URL should not be a link"
@ahardin-rh

At the bottome of this file:
https://github.com/openshift/openshift-docs/blob/master/dev_guide/migrating_applications/quickstart_examples.adoc
There's an example quickstart link that should not be active:

`If no SOURCE_REPOSITORY_URL is specified, the template will use the template URL (https://github.com/openshift/<quickstart>-ex) listed above as the source repository, and a hello-w

[2017-12-15 11:29] sallyom opened #6807 "Broken link on dev_tutorials/ruby_on_rails.html"
https://docs.openshift.com/online/dev_guide/dev_tutorials/ruby_on_rails.html
The link for `Creating the Database Service` in the section: https://docs.openshift.com/online/dev_guide/dev_tutorials/ruby_on_rails.html#creating-the-frontend-service
is broken.  `app_tutorials` should be `dev_tutorials`

@ahardin-rh

[2017-12-15 11:35] sallyom opened #6808 "Broken links in dev_tutorials/maven_tutorial.html"
The link in this section:
https://docs.openshift.com/online/dev_guide/dev_tutorials/maven_tutorial.html#nexus-introduction
for `edit the pod template` is broken.

The links in this section:
https://docs.openshift.com/online/dev_guide/dev_tutorials/maven_tutorial.html#nexus-connecting-to-nexus should not be active links?
`http://<Nexus ` and `http://nexus:8081`

@ahardin-rh

[2017-12-15 14:28] ahardin-rh commented on #6779
Fixed in https://github.com/openshift/openshift-docs/pull/6785

[2017-12-15 14:28] #6779 closed

[2017-12-15 15:29] ahardin-rh commented on #6703
@thrasher-redhat Thanks! Those targets are the IDs at the top of the page, so these are actually pointing to the correct place. The way our docs are structured, we can't have internal links with naked IDs so when we're pointing to whole topics, we point to the top-of-page ID.

[2017-12-15 15:29] #6703 closed

[2017-12-15 16:51] jamiejackson commented on #6786
Now that I understand a little bit more about things, I think the documentation makes sense (except for the `Stater` typo :-)

If you were to want to make it crystal clear, though, it could change from:

to:

[2017-12-15 16:56] jamiejackson opened #6810 "Basic Walkthrough Service Name Discrepancy"
It's possible that I did something wrong in the walkthrough, but I end up with `nodejs-mongo-persistent`, whereas the text/images read `nodejs-mongodb-example`.

https://docs.openshift.com/online/getting_started/basic_walkthrough.html

[2017-12-15 21:44] ahardin-rh commented on #6781
@damemi What sections specifically?

[2017-12-15 21:59] damemi commented on #6781
@ahardin-rh
In Overview:

and

(that sentence is also missing a period)

In Roles:

There is also a section on the differences between cluster policy and local policy.

All of this information *could* be helpful for online users to understand the difference between local and cluster access, and help with the information flow of the doc, but I don't think an online user will ever be a cluster admin

[2017-12-18 18:15] #6701 closed

[2017-12-18 20:22] ahardin-rh commented on #6724
Addressed in https://github.com/openshift/openshift-docs/pull/6822

[2017-12-18 20:22] #6724 closed

[2017-12-18 20:29] ahardin-rh commented on #6754
Issue addressed in https://github.com/openshift/openshift-docs/pull/6822

[2017-12-18 20:29] #6754 closed

[2017-12-18 20:30] ahardin-rh commented on #6761
Issues addressed in https://github.com/openshift/openshift-docs/pull/6822

[2017-12-18 20:30] #6761 closed

[2017-12-18 20:31] ahardin-rh commented on #6764
Addressed in https://github.com/openshift/openshift-docs/pull/6822

[2017-12-18 20:31] #6764 closed

[2017-12-18 20:32] ahardin-rh commented on #6765
Addressed in https://github.com/openshift/openshift-docs/pull/6822

[2017-12-18 20:32] #6765 closed

[2017-12-18 20:33] ahardin-rh commented on #6775
Addressed in https://github.com/openshift/openshift-docs/pull/6822

[2017-12-18 20:33] #6775 closed

[2017-12-18 20:34] ahardin-rh commented on #6783
Note to self: This does not seem to exist on master, so will have to fix directly in the Online branch 🔍

[2017-12-18 20:36] ahardin-rh commented on #6784
Note to self: This does not seem to exist on master, so will have to fix directly in the Online branch

[2017-12-18 20:36] ahardin-rh commented on #6806
Addressed in https://github.com/openshift/openshift-docs/pull/6822

[2017-12-18 20:36] #6806 closed

[2017-12-18 20:38] ahardin-rh commented on #6807
Addressed in https://github.com/openshift/openshift-docs/pull/6822

[2017-12-18 20:38] #6807 closed

[2017-12-18 20:39] ahardin-rh commented on #6808
Addressed in https://github.com/openshift/openshift-docs/pull/6822

[2017-12-18 20:39] #6808 closed

[2017-12-18 21:18] ahardin-rh commented on #6781
@damemi Thanks! This is now addressed in https://github.com/openshift/openshift-docs/pull/6851

[2017-12-18 21:18] #6781 closed

[2017-12-18 22:27] ahardin-rh commented on #6783
Addressed in https://github.com/openshift/openshift-docs/pull/6865

[2017-12-18 22:27] #6783 closed

[2017-12-18 22:34] ahardin-rh commented on #6786
@jamiejackson Thank you! This is now addressed in https://github.com/openshift/openshift-docs/pull/6866

[2017-12-18 22:34] #6786 closed

[2017-12-19 15:49] mhrivnak opened #6891 "install doc states wrong default identity provider"
The origin docs rendered here: https://docs.openshift.org/latest/install_config/configuring_authentication.html#install-config-configuring-authentication

... state "If you installed OpenShift Origin using the Advanced Installation method, the Allow All identity provider is used by default, which allows access for all user names and passwords.", which I believe is incorrect. Multiple other places

[2017-12-19 22:12] #6086 closed

[2017-12-20 03:42] yasun1 opened #6910 "The link for 'replication controller' is broken in pods_and_services"
The link for 'replication controller' is broken in pods_and_services.adoc. Now the link is https://docs.openshift.org/latest/architecture/architecture/core_concepts/deployments.html#replication-controllers. A rich string '**architecture**' exists in current link.

For origin, the link should be https://docs.openshift.org/latest/architecture/core_concepts/deployments.html#replication-controllers.
F

[2017-12-20 16:05] dcaldwel opened #6911 "Process to manually recreate router pem file is missing key file input and hence will not work"
Hi,

In [3.6 docs](https://docs.openshift.com/container-platform/3.6/install_config/router/default_haproxy_router.html#manually-redeploy-certs)
the command line to create the customer router pem file as part of the process to manually redeploy the router cert are missing a key file. Currently, the command line looks like:

`$ cat custom-router.crt custom-ca.crt > custom-router.pem`

It should be:

[2017-12-21 20:32] #6910 closed

[2017-12-28 13:04] jaseemabid commented on #6392
Related to #1845

[2018-01-02 16:14] micah opened #6969 "Disabling router port does not work"
The [documentation for disabling the router port
](https://docs.openshift.com/container-platform/latest/admin_guide/router.html#disabling-statistics-view) does not actually disable the port. The documentation says to do this:

[code]

This actually *creates* a router called 'hap':

[code]

Which then must be removed. I tried a few different things that I found, but they didn't work either:
[code]

[2018-01-02 21:09] lpsantil opened #6979 "Misrendering of doc"
It looks like some carriage returns got introduced into some of the lists, starting at Scaled Registry.

See
https://docs.openshift.com/container-platform/3.6/scaling_performance/optimizing_storage.html#application-storage-recommendations
https://docs.openshift.com/container-platform/3.7/scaling_performance/optimizing_storage.html#application-storage-recommendations
https://docs.openshift.com/cont

[2018-01-02 21:20] ahardin-rh commented on #6979
@lpsantil Thanks!

@tmorriso-rh I think you were creating the PRs to address this? If not, let me know and I will create the fixes.

[2018-01-04 15:25] tomassedovic commented on #5730
FYI this patch let's us specify the Block Storage API version with openshift-ansible as well: https://github.com/openshift/openshift-ansible/pull/6607

[2018-01-04 16:49] tmorriso-rh commented on #6979
@ahardin-rh Yes, this is the email that I sent you. Here is the PR that I created:

https://github.com/openshift/openshift-docs/pull/6747

PTAL. Thanks!

[2018-01-07 17:32] DanyC97 opened #7021 "Improve doc around built-in DNS provided by SkyDNS"
Unfortunately there is a lot of confusion around how OpenShift is using NetworkManger & dnsmasq and skyDNS to provide same functionality like `kube-dns`

@sdodson i know you've been on top of all this subject and so i'm seeking guidance as to where you think this info might fit into the docs - happy to get a PR in as i spent 2 days sorting the whole puzzle.

My suggestions are:

* we should add th

[2018-01-07 17:34] DanyC97 commented on #7021
in addition to the above will be nice to explain the difference between kubernetes (`kube-dns`) and openshift (skyDNS + dnsmasq + NetworkManager)

[2018-01-09 18:49] #1845 closed

[2018-01-10 15:17] michaelgugino commented on #6458
In an effort to provide greater flexibility for users, we have removed several instances of 'become: no' on certain tasks and playbooks inside of openshift-anisble.  These statements were primarily applied on 'local_action' and 'delegate_to: localhost' commands for creating temporary files on the host running ansible.

If a user is running ansible from a host that does not allow passwordless sudo,

[2018-01-11 18:07] spadgett opened #7105 "Should not have `kubernetesMasterConfig` in cluster resource override example"
The overcommitment topic should not have the CRO config under `kubernetesMasterConfig`. It should be under a top-level `admissionConfig` property.

https://docs.openshift.org/latest/admin_guide/overcommit.html#configuring-masters-for-overcommitment

[code]

should instead be

[code]

cc @deads2k @jwforres @ahardin-rh

[2018-01-11 18:09] deads2k commented on #7105
Correct.

[2018-01-11 18:24] ahardin-rh commented on #7105
@spadgett Thanks for bringing this to our attention!  Here's my PR to fix this:
https://github.com/openshift/openshift-docs/pull/7106

[2018-01-12 12:43] fgiloux opened #7118 "Aggregating container logs - incomplete command"
Hi

since there are now (3.7, not sure for 3.6) 2 containers in the elasticsearch pod the command:
$ oc exec <$espod> -- es_load_kibana_ui_objects <user-name>
should read:
$  oc exec <$espod> -c elasticsearch -- es_load_kibana_ui_objects <user-name>
in
https://github.com/openshift/openshift-docs/blob/master/install_config/aggregate_logging.adoc

Also in the release notes:
https://docs.openshift.co

[2018-01-12 16:08] #7105 closed

[2018-01-12 17:07] bparees opened #7123 "AllowedRegistriesForImport format is undocumented"
It's mentioned here:
https://docs.openshift.org/latest/install_config/master_node_configuration.html#master-config-image-policy-config

But no example or discussion is provided to help people understand how to actually craft a proper definition of allowed registries.  They have to go to the api to understand it:
https://github.com/openshift/origin/blob/00c65897e60f396b716b68011d691f5c0675a4c0/pkg/

[2018-01-14 18:22] Neikius commented on #6080
As a beginner I see no way of installing logging. The documentation also claims you can install without storage, but if you don't specify storage nothing is installed. How do you install logging using ansible scripts when there is a directly mounted physical volume on a node? There are some manual steps provided but how do you get that far when the installation fails?

[2018-01-15 09:27] pennpeng commented on #4223
@juanluisvaladas Hi, would you share your docs，how to integration openshift and F5？

[2018-01-15 09:39] juanluisvaladas commented on #4223
@pennpeng If you work at Red Hat email me (you can see my email on my github profile). If not I'm sorry, but the docs I have contain confidential customer information and I cannot share them.

[2018-01-15 15:08] juanluisvaladas commented on #6141
Also affects 3.7 and beyond

[2018-01-16 09:34] themidnightfox opened #7162 "Routes in the core concepts gives me a 404"
The 'Routes' link in the following page gives me a 404:

Found here: https://docs.openshift.com/container-platform/3.7/architecture/core_concepts/index.html

This gives a 404: https://docs.openshift.com/container-platform/3.7/architecture/core_concepts/routes.html#architecture-core-concepts-routes

[2018-01-16 09:47] tdudgeon commented on #6080
That's not really related to this topic, but assuming you are using the ansible installer you probably need to add this to your inventory file:
openshift_logging_install_logging=true
The docs state that logging is now installed by default, but in my experience this is not the case and you still need to set this flag to true for it to be installed.

[2018-01-18 10:01] vrutkovs commented on #6458
Default values for `template_service_broker_prefix` and `template_service_broker_image_name` in installer have been updated to be consistent with other settings.

Previous value:
 - `template_service_broker_prefix="registry.example.com/"`
 - `template_service_broker_image_name="origin-template-service-broker"` or `template_service_broker_image_name="ose-template-service-broker"`
New value:
- `temp

[2018-01-19 19:46] spadgett opened #7254 "Web console walkthrough out of date"
This topic was not updated for the new experience in 3.7.

https://docs.openshift.org/latest/getting_started/developers_console.html

cc @jwforres @ahardin-rh

[2018-01-19 23:11] ahardin-rh commented on #7254
WIP PR: https://github.com/openshift/openshift-docs/pull/7255

[2018-01-20 07:12] DanyC97 commented on #7021
and to add even more https://access.redhat.com/solutions/2529411 is exactly what should be referenced in the docs

Ideally it should be public available in the troubleshooting docs section

[2018-01-23 16:13] tmorriso-rh commented on #6979
https://github.com/openshift/openshift-docs/pull/7030

Changes made, waiting for the weekly released to be published.

[2018-01-24 15:39] miminar opened #7294 "keytool not mentioned as prerequisite for deploying metrics"
While deploying OCP 3.7 on AWS with metrics enabled, I get:

[code]

It looks like `java-1.8.0-openjdk-headless` needs to be listed as a prerequisite for the metrics enablement.

I used the following inventory file:

<details><p>

[code]

</p></details>

Versions:
[code]

[2018-01-24 17:00] ahardin-rh commented on #6458
openshift/origin#18093 deprecated several oc secrets sub commands. This PR changes our docs not to use them, but instead use the supported versions.

This will require also release notes, something along the lines:

OpenShfit 3.9 deprecates following oc secrets sub commands:   new, new-basicauth, new-dockercfg, new-sshauth in favor of oc create secret.

Per https://github.com/openshift/openshift-d

[2018-01-30 01:53] vikram-redhat commented on #6141
@adellape - are your updates covering this?

cc: @aheslin

[2018-01-30 19:36] tmorriso-rh commented on #6113
Following up with aos-storage team on this issue.

[2018-01-30 20:01] tmorriso-rh commented on #6979
These changes are now available.

[2018-01-30 20:01] #6979 closed

[2018-01-30 20:12] tmorriso-rh commented on #6491
Related issue opened here: https://github.com/openshift/openshift-docs/issues/7162

[2018-01-30 20:14] tmorriso-rh commented on #7162
Duplicate of https://github.com/openshift/openshift-docs/issues/6491.

[2018-01-30 20:14] #7162 closed

[2018-01-30 20:17] tmorriso-rh commented on #6491
The correct link is https://docs.openshift.com/container-platform/3.7/architecture/networking/routes.html. I will create a PR to change the link.

[2018-01-30 20:39] tmorriso-rh commented on #6491
Work in progress: https://github.com/openshift/openshift-docs/pull/7420

[2018-01-30 20:47] tmorriso-rh commented on #6022
Notes to TW:

https://access.redhat.com/documentation/en-us/red_hat_gluster_storage/3.3/html/container-native_storage_for_openshift_container_platform/

[2018-02-01 13:33] jsafrane commented on #6113
There is not much from storage perspective, it's related to logging. @rflorenc is author of the page and could shed some light into the numbers there and @bmcelvee was recommended to me by our log team as the current logging point of contact.

[2018-02-01 16:28] #6491 closed

[2018-02-01 16:45] danwinship opened #7488 "EgressNetworkPolicy is available with ovs-networkpolicy"
admin_guide/managing_networking.adoc, in the section "Using an Egress Firewall to Limit Access to External Resources" says:

But egress policy works with ovs-networkpolicy too. So either it should say "you must have ovs-multitenant or ovs-networkpolicy enabled", or it should say "it doesn't work with ovs-subnet".

[2018-02-02 11:42] ikke-t opened #7495 "Instructions on SSL management using intermediate certs"
Hi,

we are having customer stuck with SSL certificates. Our manual is not providing enough details to set that up. Use case would be "How do I set custom certificates into OCP cluster?" That then would divide into two different use cases: "How do I configure custom certs for API and Router" and "How do I configure custom certs using intermediate cert for API and Router".

In this case there is a

[2018-02-02 11:53] vikram-redhat commented on #7495
@ikke-t - brilliant. Thanks!

[2018-02-02 11:54] vikram-redhat commented on #7495
@mburke5678 - can you please take a look at this today?

[2018-02-02 13:47] pilhuhn opened #7496 "apb: cli-tooling guide uses wrong container image name"
https://docs.openshift.org/latest/apb_devel/cli_tooling.html

says

which fails:

[code]

Using `abp-tools` works

[code]

[2018-02-02 18:00] yeplaa opened #7527 "Problem with RBAC when i deploy with Template Catalog"
Hello,

I need to create a role, cluster role and service account in my Openshift Template.
My config is Openshift 3.6.
Below a part of my config template :

  apiVersion: v1
  kind: Template
  metadata:
    name: prometheus
    annotations:
     description: "Prometheus"
     tags: "essai"
  labels:
    template: "prometheus"
  parameters:
  - description: Set your Namespace
    name: NAMESPACE

[2018-02-03 17:15] ikke-t commented on #7495
Hi, I update this issue as I did quite a lot of learning and experiment on the issue. I try to summarise the use case of:

# How do I configure custom certs using intermediate cert for API and Router

The use case is for organisations who are buying intermediate certificate from their certificate authority. The intermediate certificate allows organisation to create themselves valid SSL certs for t

[2018-02-03 17:57] pweil- opened #7553 "Redeploying Router Certs"
@knobunc is this still valid? https://docs.openshift.com/container-platform/3.7/install_config/redeploying_certificates.html#redeploying-router-certificates-manually (and latest)?

I just did a fresh ansible install and it looks like the service is not actually annotated to get a service signing cert and instead uses a secret volume that is mounted into the defaultCertificatePath.

[code]

[2018-02-04 01:16] vikram-redhat commented on #7495
@sdodson - is @ikke-t summary of this issue correct from eng point of view?

[2018-02-05 02:56] xltian commented on #7495
@gpei  from QE will provide feedback here.

[2018-02-05 10:25] gpei commented on #7495
hi @ikke-t thanks for the detailed article about openshift_master_named_certificates and openshift_hosted_router_certificate usage. The ansible parameters setting and playbooks used looks good to me.
One thing I want to say is in upcoming ocp release - ocp-3.9, there will be a big change of the playbooks entry.
I list them here in case needed:

Thanks
Gaoyun Pei  | OpenShift Cluster-Lifecycle QE

[2018-02-05 13:50] sdodson commented on #7495
I'm not sure that's accurate. @abutcher to confirm? I believe it should be cafile = intermediate CA + Root CA, certfile = openshift master host certificate, keyfile = openshift master key.

After reviewing the following documentation I'd say the main things that aren't covered are 1) The appropriate steps to retrofit a named certificate into an environment post install. Then 2) How to handle inter

[2018-02-05 13:55] ikke-t commented on #7495
After my experiments, I don't see the ansible doing anything with the cafile contents while post-installing the certs. That's why I mentioned it not needed. Am I mistaken?

[2018-02-05 14:28] abutcher commented on #7495
@ikke-t is correct, the CA chain is not necessary in this case for named certificates so cafile can be omitted.

The named serving certificate or certfile must contain the intermediate CA certificate and may also contain the root CA certificate.

We also would want to use the OpenShift CA certificate as the -CAfile parameter when verifying the master's serving certificate. The OpenShift CA certifi

[2018-02-05 15:05] dcaldwel opened #7576 "References to emptyDir as an Ansible variable value should be all lowercase"
In https://docs.openshift.com/container-platform/3.7/install_config/cluster_metrics.html#metrics-non-persistent-storage there is reference to 'emptyDir' for the Ansible metrics installation. However, if the value 'emptyDir' is actually used (eg: 'openshift_metrics_cassandra_storage_type=emptyDir'), the Ansible metrics installation fails:

fatal: [<ip_address>]: FAILED! => {
    "changed": false,

[2018-02-06 07:19] ikke-t commented on #7495
Now it's time to hunt the internal services who have set the old certs in the pod secrets. I just started fresh Jenkins pod with pipeline, and it can not connect to kube:

An exception occurred invoking a REST operation against the OpenShift master.  The operation will be retried.  Exception message "Exception trying to GET https://172.30.0.1/apis/servicecatalog.k8s.io/v1beta1 response code: 503".

[2018-02-06 10:46] vikram-redhat commented on #7495
Thanks @ikke-t . Are we in a state that we can now update the docs with you earlier feedback or is there still some issues that need resolving?

cc: @aheslin @mburke5678

[2018-02-06 11:50] ikke-t commented on #7495
We should create an ansible or update easy-mode.yml that finds all cert secrets for all pods, and also prints out the subject line from those into report

And then either add new ansible or exist the redeploy-certificates.yml ansible to also change the required secrets from running deployments.

But as we don't have this yet, we could just add info to user to need to do this manually.

[2018-02-06 14:10] ikke-t commented on #7495
I've been building different pipelines and builds today into cluster, and it seems to work with no problems after the service-catalog cert change. I'd go with it.

[2018-02-06 14:14] ikke-t commented on #7495
I updated that into last chapter of the guide

[2018-02-06 15:10] mburke5678 commented on #7495
@ikke-t The plan is to take your content above, titled _How do I configure custom certs using intermediate cert for API and Router_ and import this into the OpenShift docs?
Which version of OpenShift is this material intended for? I see @gpei comment that the Ansible playbooks are different for 3.9. Is this the only difference between versions?

[2018-02-06 16:44] ikke-t commented on #7495
This is now tested on 3.7.

[2018-02-06 18:42] mburke5678 commented on #7495
@vikram-redhat This BZ seems related.
https://bugzilla.redhat.com/show_bug.cgi?id=1485824

[2018-02-06 18:45] mburke5678 commented on #7495
WIP PR:
https://github.com/openshift/openshift-docs/pull/7607

[2018-02-08 10:32] pilhuhn opened #7661 "apb: there is no option --openshift to push"
https://github.com/openshift/openshift-docs/blob/master/apb_devel/cli_tooling.adoc#apb-devel-cli-workflows-local-registry

says `apb push --openshift`  but there is no option `--openshift` available.

later there is `apb push -o --namespace <namespace>` but there is also no option `-o`.

[2018-02-08 10:36] e-minguez opened #7662 "Missing some namespaced objects in the project backup"
The export misses some other objects such as `configmaps`, `hpas`, `oauthtokens` and other namespaced objects.

https://github.com/openshift/openshift-docs/blob/master/day_two_guide/topics/project_backup.adoc

[2018-02-08 10:40] e-minguez commented on #7662
I've created a trello board card to incorporate this in the docs.
https://trello.com/c/9LFvfG02/1248-add-more-objects-to-the-project-backup-in-day-2-ops-guide

[2018-02-09 02:52] sdodson commented on #7495
In order to retrofit custom certificates into an existing cluster it's necessary to set `openshift_master_overwrite_named_certificates=true` and `openshift_master_named_certificates` as described by Ilkka. Then run `playbooks/byo/openshift-cluster/redeploy-master-certificates.yml`

In order to retrofit custom router certificates into an existing cluster it's necessary to set `openshift_hosted_rout

[2018-02-09 04:19] phemmer opened #7669 "Documentation on BuildConfig.spec.runPolicy missing values"
The documentation for the BuildConfig.spec.runPolicy parameter only mentions the value `Serial`, and not any other possible values.

https://docs.openshift.com/container-platform/3.7/rest_api/oapi/v1.BuildConfig.html#object-schema
![image](https://user-images.githubusercontent.com/1826947/36011536-05935766-0d26-11e8-8296-a26fef1388be.png)

https://docs.openshift.com/container-platform/3.7/dev_guid

[2018-02-09 16:48] gun1x opened #7689 "Link for dnsIP not working"
On this page: https://docs.openshift.org/3.6/install_config/install/prerequisites.html

There is a link to dnsIP:  https://docs.openshift.org/3.6/admin_solutions/master_node_config.html#node-config-options

But the page returns

[2018-02-12 23:35] bparees opened #7753 "missing docs for redis image"
we ship an imagestream for redis but there are no docs for it:
https://docs.openshift.org/latest/using_images/db_images/index.html

please work the the SCL team (@hhorak) to get some added so users are aware of the availability of the image.

[2018-02-13 19:11] tmorriso-rh commented on #6022
Fixed: https://github.com/openshift/openshift-docs/pull/7442

[2018-02-13 19:11] #6022 closed

[2018-02-15 15:00] bmcelvee commented on #6458
Add depreciation announcement for Hawkular. Trello card: to be added.

[2018-02-19 15:14] miminar commented on #7123
Will be resolved by #7788

[2018-02-21 15:07] bmcelvee opened #7882 "[logging] Track Logging and Metrics Documentation Audit"
We will use this issue to track our findings and link to PRs related to updating our logging and metrics documentation.
FYI: @jcantrill, @vikram-redhat, @aheslin

- [ ] [Document Log Throttling](https://github.com/openshift/origin-aggregated-logging/blob/master/docs/log-drivers-and-throttling.md#log-throttling)

[2018-02-21 15:58] php-coder commented on #7527
@enj

[2018-02-21 22:26] sdodson commented on #6458
Starting in OCP 3.9 ansible needs to be installed via the rhel-7-server-ansible-2.4-rpms channel which is included in RHEL subscriptions. #7890

[2018-02-22 16:05] cordeta opened #7900 "Filipino Localization"
I would like to know if your documents are open for translation . I would glady help for tagalog localization

[2018-02-22 17:08] myniva opened #7902 "Add note about supported OpenID token endpoint authentication methods"
As discussed in https://github.com/openshift/origin/issues/18675, the OpenIDIdentityProvider only seems to support the `client_secret_post` [Client Authentication method](https://openid.net/specs/openid-connect-core-1_0.html#ClientAuthentication). This limitation should be covered in the documentation as well.

[2018-02-22 18:18] enj commented on #7527
This is a side effect of how the authorization policy code worked pre 3.7.  You will need to add a delay in between the steps or have some form of retry logic.  In 3.7+ it will work as expected without any changes (as the entire authz code was replaced).

/close

[2018-02-22 18:18] #7527 closed

[2018-02-27 11:56] mfojtik commented on #6458
The core workloads API, which is composed of the DaemonSet, Deployment, ReplicaSet, and StatefulSet kinds, has been promoted to GA stability in the apps/v1 group version. As such, the apps/v1beta2 group version is deprecated, and all new code should use the kinds in the apps/v1 group version. For OpenShift this means the StatefulSets, DaemonSet and Deployments are now stable and supported and no l

[2018-02-27 15:30] samiaben88 commented on #7294
do u have any updates on this issue?

[2018-02-28 13:32] sspeiche opened #7960 "'oc debug' missing from documentation"
I couldn't find it in Admin or [Developer CLI](https://docs.openshift.org/latest/cli_reference/basic_cli_operations.html) sections

[code]

[2018-03-05 14:31] bmcelvee commented on #7882
Should the 'Recommendations for OpenShift Container Platform Version 3.x' section be removed from versions following 3.5?
https://docs.openshift.com/container-platform/3.7/install_config/cluster_metrics.html#capacity-planning-for-openshift-metrics

[2018-03-05 15:10] jcantrill commented on #7882
@tkatarki Can you address https://github.com/openshift/openshift-docs/issues/7882#issuecomment-370436713

[2018-03-06 18:22] tdudgeon opened #8026 "Wrong info for openshift_facts playbook"
The docs [here](https://docs.openshift.com/container-platform/3.7/install_config/install/prerequisites.html#prereq-cloud-provider-considerations) are not correct. It states:
[code]
The file referenced is a python script not a playbook.
I think the correct file is `openshift-ansible/playbooks/byo/openshift_facts.yml`.

[2018-03-06 18:38] mhausenblas commented on #8026
Thanks a bunch @tdudgeon and CC: @e-minguez for visibility …

[2018-03-09 17:55] spadgett opened #8088 ""Running in a Container" install topic out of date"
This topic is no longer accurate now that the console is a separate component, but it seems like it's generally out of date.

https://docs.openshift.org/latest/getting_started/administrators.html#running-in-a-docker-container

Related to #8009 and #8074
/assign

[2018-03-09 18:16] spadgett commented on #8088
cc @openshift/sig-master

This looks pretty out of date. It seems like we should be recommending cluster up.

[2018-03-12 13:21] cdancy commented on #8088
I'd also push back on recommending "cluster up" for the reasons noted in the prior issue. If anything give users a choice as to what they want as some, like myself, would rather not install another dependency just to start a docker container.

Can we also update the docs to say HOW to bring up the web console as this is no longer baked in? Thanks AOT!

[2018-03-12 13:49] spadgett commented on #8088
@cdancy It's not just the web console. You're missing a lot of basic components like the registry, router, service catalog, example image streams and templates. cluster up is doing a lot more than running a container.

I'm not sure what impact the changes coming in 3.10 will have on these steps either. cc @deads2k

[2018-03-12 13:52] cdancy commented on #8088
@spadgett that's fair but for local development, and just general playing around and getting your feet wet, you typically don't care about such things. If you're just writing code to work against origin/kubernetes, and you're trying to wire up some automated process, you just want something stupid-simple up and running quick that you can play around with on your desktop whilst leaving the "bigger"

[2018-03-12 14:05] deads2k commented on #8088
That is where `oc cluster up` is going.  We are moving away from a monolithic process into separate ones.  Once you choose to do that, you have to decide how to easily wire them up together.  One option is a bash script like `hack/local-up-cluster.sh` in kube, but as you start working with that you end up hitting numerous sharp edges that have produced a mega-bash script with dozens of env vars.

[2018-03-12 14:15] cdancy commented on #8088
@deads2k yeah that all makes sense and aligns with what kubernetes does today with some 10+ containers required to get things off the ground. But if this is the case then remove that all-in-one solution from the documentation! ;)

[2018-03-12 15:03] soltysh commented on #8088
Yeah, removing this entirely from 3.9 docs onward does make sense. We will have to write the new one once the new `oc cluster up` is ready. I'll open a PR shortly.

[2018-03-13 11:37] jtudelag opened #8110 "Document new route annotation pod-concurrent-connections."
Document this, as this was finally merged:
https://github.com/openshift/origin/pull/15559

[2018-03-13 18:33] #7123 closed

[2018-03-16 14:47] scholzj opened #8162 "Outdated list of operation types in the cli reference"
The CLI reference contains a table with object types which are supposed to be supported by the `oc` tool. This page can be found [here](https://docs.openshift.org/latest/cli_reference/basic_cli_operations.html#object-types) and the source seems to be [here](https://github.com/openshift/openshift-docs/blob/783ed759e45b09bf8e74cb1400df7bf46eb532d9/cli_reference/basic_cli_operations.adoc). It seems t

[2018-03-19 15:22] lichyc opened #8196 "day-2 ops guide should contain suggestion on cert-management"
In OCP the self-generated are valid for 2-year only and support have seen plenty of cases due unexpected expired certs.
Therefore I like to suggest to add recommendations to run the cert-check playbook frequently to avoid surprises and suggest to have a tested plan on how/when to re-deploy certs?

[2018-03-19 15:48] dmoessne commented on #8196
+1

[2018-03-20 22:16] #8088 closed

[2018-03-21 00:58] bfallonf commented on #8196
@lichyc @dmoessne I agree with this. I'm planning on moving the certificate content from the Admin Solutions guide to the Day two guide.

Does the information in this topic fulfill the requests? It's currently in the install and config guide:

https://docs.openshift.com/container-platform/3.7/install_config/redeploying_certificates.html

(There's a Configuring Custom Certs topic as well)

[2018-03-21 14:54] jeremyeder opened #8306 "update pre-requisites for masters"
### Which section(s) is the issue in?
https://docs.openshift.org/latest/install_config/install/prerequisites.html

### What needs fixing?
* We state 2 cores for masters.  This needs to be bumped to 4, and we need to be absolutely clear that this is a minimum and we strongly advise more than 4.

* Same goes for memory..16g is the minimum and for larger clusters, particularly when etcd is co-located

[2018-03-21 14:57] ahardin-rh commented on #8306
@jeremyeder Thanks! Does this change apply to 3.9 docs, or other versions as well?

[2018-03-21 14:57] jeremyeder commented on #8306
@smarterclayton @mffiedler

[2018-03-21 21:07] ahardin-rh commented on #8306
Addressed in https://github.com/openshift/openshift-docs/pull/8331
Closing this issue and moving the discussion there.

[2018-03-21 21:07] #8306 closed

[2018-03-22 15:03] warmchang opened #8355 "Hyper link typo and wrong version tag in ocp_3_9_release_notes"
### Which section(s) is the issue in?
1. Hyper link typo of "experimental-qos-reserved".
2. Wrong version tag of 3.9 release.

### What needs fixing?
1. The xref should be "xref:../admin_guide/overcommit.adoc#configuring-reserve-resources".
2. There is no v3.9.0-rc.0 tag, should be v3.9.0.

[2018-03-22 20:47] bparees opened #8375 "need doc for adding certs to registry"
### Which section(s) is the issue in?
https://docs.openshift.org/latest/install_config/registry/extended_registry_configuration.html#middleware-repository-pullthrough

### What needs fixing?
Need to discuss the problem of ensuring your registry has appropriate certs to trust any external registries you may end up doing a pullthrough against.  The certs need to be placed in the /etc/pki/tls/certs d

[2018-03-23 00:53] vikram-redhat commented on #8375
@bparees is any of this solved by this PR that @mburke5678 has been working on? https://github.com/openshift/openshift-docs/pull/7607

Or can that be merged with that work?

[2018-03-23 01:53] bparees commented on #8375
@vikram-redhat totally unrelated.

[2018-03-23 03:34] vikram-redhat commented on #8375
@bparees - thanks. @mburke5678 - can you still work on this with @dmage

[2018-03-23 14:46] #8355 closed

[2018-03-23 18:44] ncameronbritt opened #8408 "layout broken for Storage Resources Managed by Quota table"
### Which section(s) is the issue in?
https://docs.openshift.org/latest/dev_guide/compute_resources.html#dev-managed-by-quota

### What needs fixing?
Last two items in table are unreadable.
![screen shot 2018-03-23 at 2 41 35 pm](https://user-images.githubusercontent.com/8974593/37847775-55a5d5e6-2ea8-11e8-90c9-ab354c02ca79.png)

[2018-03-23 19:58] mburke5678 commented on #7495
Making edits via https://github.com/openshift/openshift-docs/pull/7607

[2018-03-24 04:31] vikram-redhat commented on #8408
@gaurav-nelson - this must be to do with the new stylesheet issue. Can you look at it ASAP on Monday?

[2018-03-26 00:42] #8408 closed

[2018-03-26 09:42] vikram-redhat commented on #7960
Tracking via: https://trello.com/c/V1ieNYBR/837-document-oc-debug-in-either-the-admin-cli-or-developer-cli

[2018-03-26 09:42] #7960 closed

[2018-03-26 21:06] mzanini commented on #707
+1 for documentation, I am trying to figure out how to obtain a token without the need to use `oc` command line tool. Using `--loglevel=10` I can see the API calls that are made by `oc` but it is still difficult for me to make sense of the parameters and reverse engineer this. Any suggestion/links I can look at in the meantime?

[2018-03-26 21:26] akostadinov commented on #707
@mzanini, read issue description. It's all there.

[2018-03-26 21:56] mzanini commented on #707
You are right that works! Guess I was tricked by the fact that `oc login` makes so many HTTP calls!

[2018-03-27 08:23] jaimed-olx opened #8428 "[enterprise-3.7] Edit suggested in file day_two_guide/run_once_tasks.adoc"
### Which section(s) is the issue in?

NTP Synchronization

### What needs fixing?

It says *Kuberbetes* instead of *Kubernetes*

[2018-03-28 00:27] #8428 closed

[2018-03-28 00:28] gaurav-nelson commented on #8428
Thanks @jaimed-olx this is now fixed.

[2018-03-28 12:17] ksemaev opened #8495 "Update to minor releases"
Have searched lots of manuals, but cannot find - how to update from 3.7.0 to 3.7.2 for example? It is a simple task, but what is the way of doing it?

[2018-03-29 12:19] geek182 opened #8524 "[enterprise-3.6] Edit suggested in file install_config/configuring_aws.adoc"
### Which section(s) is the issue in?

IAM rules for the master. [https://docs.openshift.com/container-platform/3.6/install_config/configuring_aws.html#configuring-aws-permissions](url)

### What needs fixing?
IAM rules for the master is missing RevokeSecurityGroupIngress which is needed when deleting SG build from openshift/kubernetes.
I get this error when deleting a service in openshift which h

[2018-03-30 03:44] alnhk opened #8530 "openshift & clustered kubernetes"
I am looking for the info on how to install openshift on existing clustered kubernetes (1 master & 2 nodes as an example). I couldnt find the information.

Yes, i am sorry - i am new to openshift and i am evaluating this.

[2018-03-30 05:28] marekjelen opened #8531 "REST API doc for Pod/Exec"
### Which section(s) is the issue in?
https://docs.openshift.org/latest/rest_api/api/v1.Pod.html#Post-api-v1-namespaces-namespace-pods-name-exec

### What needs fixing?

The example shows this `Accept` header

[code]

but should be

[code]

---

`Connection: close` should not be there

---

The description should mention that upgrade to `SPDY` or `Websocket` is required; and that `Websocket` is pr

[2018-03-30 05:34] vikram-redhat commented on #8524
Tracking via: https://bugzilla.redhat.com/show_bug.cgi?id=1562309

[2018-03-30 05:34] #8524 closed

[2018-04-02 08:14] YasharF opened #8532 "[online] Edit suggested in file cli_reference/index.adoc"
### Which section(s) is the issue in?
It is insufficient to state "The CLI is available using the oc command" on many of the pages

### What needs fixing?
Add a statement on how to install the CLI so the oc command would be available, on any page that you are stating the CLI is available via the oc command.

[2018-04-02 08:16] YasharF opened #8533 "[online] Edit suggested in file cli_reference/get_started_cli.adoc"
### Which section(s) is the issue in?
"The CLI for Linux is provided as a tar.gz archive; you can download it from the Command Line Tools page on the web console." does not provide a link to the download page.

### What needs fixing?
Instead of just stating that you can download the CLI from the Command Line Tools page on the web console, also provide a URL link that the reader with one click can

[2018-04-02 14:04] etsauer opened #8534 "3.7 advanced_install guide should include a section on enabling Gluster Block storage"
### Which section(s) is the issue in?

The [Configuring Ansible](https://docs.openshift.com/container-platform/3.7/install_config/install/advanced_install.html#configuring-ansible) section of the 3.7 and later install guides.

### What needs fixing?

We need to add a section instructing on the options for configuring Gluster Block storage. Probably a section below [Configuring GlusterFS Persistent

[2018-04-03 00:46] oybed opened #8546 ""SchedueldJob" typo in v3.9 release notes"
### Which section(s) is the issue in?
OpenShift v3.9 Release notes / notable technical changes:
https://docs.openshift.com/container-platform/3.9/release_notes/ocp_3_9_release_notes.html#ocp-39-notable-technical-changes

### What needs fixing?
Typo twice `SchedueldJob` --> `ScheduledJob`

[2018-04-03 00:58] vikram-redhat commented on #8546
@bfallonf - PTAL.

[2018-04-03 01:06] vikram-redhat commented on #8533
@YasharF - Hey there. The link to the download is available from the web console of the OpenShift instance you are running and contains instructions specific to your instance. Even though the download link is generic, the follow on instructions are specific.

In any case, the Web Console section explains this in more details: https://docs.openshift.com/online/architecture/infrastructure_components

[2018-04-03 01:06] #8533 closed

[2018-04-03 01:07] vikram-redhat commented on #8532
@ahardin-rh - related to #8533. I am not closing this one, but feel free to close or follow up.

[2018-04-03 02:07] YasharF commented on #8532
Some background here, it took me more than 15 min from the first point when I realized there is this `oc` command until when I was finally able to figure out how to get the related files to install.

It took me longer to realize it wasn't an easy to maintain installation like an apt-get install and I had to do bunch of untarring and fixing permissions, etc.  After about half an hour, I gave up on

[2018-04-03 02:23] YasharF commented on #8532
More on the background, I am one of the maintainers of Hackathon Starter project (https://github.com/sahat/hackathon-starter ) and we have instructions on how new developers can deploy their code to various platforms as part of Hackathons or in general.  Our existing instructions seemed to be out of date for OpenShift (https://github.com/sahat/hackathon-starter#deployment ) which is the reason I w

[2018-04-03 03:35] bfallonf commented on #8546
Thanks @oybed . I've created a PR for this:

https://github.com/openshift/openshift-docs/pull/8547

And I've cherrypicked this into the 3.9 docs.

If there's anything else, please let us know. Closing this issue.

[2018-04-03 03:35] #8546 closed

[2018-04-03 04:03] jtudelag opened #8549 "Document new nodes upgrade pre/mid/post hooks."
Document this new PR: https://github.com/openshift/openshift-ansible/pull/6816

### Which section(s) is the issue in?

https://docs.openshift.com/container-platform/3.9/upgrading/automated_upgrades.html#upgrade-hooks

### What needs fixing?

Node hooks has to be added to the docs.

[2018-04-03 08:17] jtudelag commented on #8110
Duplicated: https://github.com/openshift/openshift-docs/pull/8363

Closing it.

[2018-04-03 08:18] #8110 closed

[2018-04-03 10:54] vikram-redhat commented on #8549
Since a PR has been created, I am going to close this issue.

[2018-04-03 10:54] #8549 closed

[2018-04-03 20:33] mccormickt12 opened #8571 "[enterprise-3.9] Edit suggested in file architecture/infrastructure_components/kubernetes_infrastructure.adoc"
### Which section(s) is the issue in?
Overview

### What needs fixing?
The version of kubernetes and docker associated with this openshift version. The versions (openshift 3.9 with kubernetes 1.7 and docker 1.12) seems old and is contradictory to this document put out by redhat last week. https://access.redhat.com/articles/2176281

[2018-04-03 21:48] vikram-redhat commented on #8534
@jarrpa do your recent changes solve this?

[2018-04-03 22:09] jarrpa commented on #8534
The changes made to the enterprise-3.9 branch go into some detail about the glusterblock related variables, and provide a pointer to the full list of variables for controlling GlusterFS behavior. If this issue is specific for 3.7, then this does not solve the problem. That problem will be solved once the OCP 3.7 release of openshift-ansible has all recent changes backported, at which time the open

[2018-04-04 04:31] vikram-redhat commented on #8571
@ahardin-rh please close this issue when fixed.

[2018-04-04 04:38] vikram-redhat commented on #8534
Thanks @jarrpa . I will then close this issue and if the problem persists when the backport is finished we can revisit.

[2018-04-04 04:38] #8534 closed

[2018-04-04 04:41] vikram-redhat commented on #8196
@lichyc and @dmoessne I am going to close this issue based on Brice's response. If you think the problem is still not solved, can you please reopen and let us know why?

[2018-04-04 04:41] #8196 closed

[2018-04-04 14:18] kalexand-rh commented on #5765
The documentation will be updated on https://bugzilla.redhat.com/show_bug.cgi?id=1485824

[2018-04-04 14:18] #5765 closed

[2018-04-04 15:06] heshengbang opened #8593 "[origin] asciibinder build has some warning"
### Which section(s) is the issue in?
asciibinder build

### What needs fixing?

when i run `asciibinder build` , there is some warning like below:
`
asciidoctor: WARNING: image to embed not found or not readable: /home/heshengbang/Develop/github/openshift-docs/architecture/networking/images/nuageopenshift_mapping.png

asciidoctor: WARNING: image to embed not found or not readable: /home/heshengba

[2018-04-04 17:50] #8571 closed

[2018-04-04 21:21] mwitzenm opened #8601 "example text in many of the day 2 operations has asterix around the text which I believe was transposed from the intended BOLD that ascii uses"
### Which section(s) is the issue in?
https://docs.openshift.com/container-platform/3.9/day_two_guide/host_level_tasks.html

### What needs fixing?
It appears references like the one listed below intend to be in bold when it gets transposed to just *master-0.example.com*.  There are many of them in the day to operations.  When people are copy and pasting this type of content they adjust for hostna

[2018-04-05 01:54] gaurav-nelson opened #8605 "[enterprise-3.9] Edit suggested in file install_config/install/advanced_install.adoc"
### Which section(s) is the issue in?
All tables,

### What needs fixing?
On mobile screens the content is flowing out of table cells, making it hard to read.
![image](https://user-images.githubusercontent.com/23069445/38343546-e9728606-38c7-11e8-963d-19251f120314.png)

[2018-04-05 11:37] akostadinov opened #8610 "deployment config has unclear API doc for triggers"
There is unclear behavior on [deployment config object schema API docs](https://docs.openshift.org/latest/rest_api/oapi/v1.DeploymentConfig.html#object-schema).

If one clicks on `triggers` then:

- `type` has strange indentation
- no list of possible values for `type`
- there is also little to no information about `imageChangeParams` properties

[2018-04-05 13:13] leoluk opened #8611 "Origin docs for 3.7 and 3.9 missing from docs.openshift.org"
Documentation for the latest releases is missing:

![image](https://user-images.githubusercontent.com/859697/38367708-bc54195c-38e3-11e8-91ce-7d39f939b437.png)

[2018-04-06 07:29] bortek opened #8621 "[enterprise-3.7] Edit suggested in file release_notes/ocp_3_7_release_notes.adoc"
### Which section(s) is the issue in?
3.7.42 has been released but release notes are not updated(yet) . Can you please update ?

### What needs fixing?

[2018-04-07 14:43] heshengbang opened #8632 "sed: can't read .git/config: No such file or directory"
### Which section(s) is the issue in?
When I run below command
`s2i build https://github.com/openshift/openshift-docs.git openshift/asciibinder-018-centos7 openshift-docs`
 , here is a error occured:

[code]
The truth is .git directory is exist, and the config file is also exist.

I found it where the error happened in  [assemble](https://github.com/openshift/openshift-docs/blob/master/.s2i/bin/as

[2018-04-08 11:24] ayusho commented on #707
When i run this command, it says something like this

* Protocol "'https" not supported or disabled in libcurl
* Closing connection -1
curl: (1) Protocol "'https" not supported or disabled in libcurl
'response_type' is not recognized as an internal or external command,
operable program or batch file.

but when oc login --loglevel=9, it makes a couple of curl commands, one of the is what you @akost

[2018-04-09 07:03] bortek opened #8639 "[enterprise-3.7] Edit suggested in file release_notes/ocp_3_7_release_notes.adoc"
### Which section(s) is the issue in?
This image called openshift3/ose-base does not seem to exist but still it is present in every new image advisory like this one
https://access.redhat.com/errata/RHBA-2018:0637

Can you please review and remove it?

### What needs fixing?

[2018-04-09 13:06] vikram-redhat commented on #8639
@ahardin-rh we can't republish errata, but we can perhaps make a note in the release notes?

[2018-04-09 13:08] vikram-redhat commented on #8632
Hey @heshengbang - I am going to close this as this is not a docs issue. To build the docs locally, just use

.

[2018-04-09 13:08] #8632 closed

[2018-04-09 13:11] vikram-redhat commented on #8621
This was updated on the 7th: https://docs.openshift.com/container-platform/3.7/release_notes/ocp_3_7_release_notes.html#ocp-3-7-42-2

[2018-04-09 13:11] #8621 closed

[2018-04-09 13:13] vikram-redhat commented on #8593
Thanks @heshengbang - this is not a docs issue, but how asciibinder builds. I suggest reading the asciibinder docs.

[2018-04-09 13:13] #8593 closed

[2018-04-09 15:56] bortek commented on #8639
That should do for this release but please make sure this is removed from the future erratas and release notes. Thanks.

[2018-04-09 17:31] liggitt commented on #4906
@openshift/team-documentation can this be closed now?

[2018-04-09 17:33] liggitt commented on #6458
@openshift/team-documentation can this be closed now?

[2018-04-09 17:33] liggitt opened #8651 "OpenShift 3.10 Release Notes Tracker"

[2018-04-09 17:33] liggitt commented on #8651
cc @openshift/team-documentation

[2018-04-09 17:41] liggitt commented on #8651
Upstream changes part of 1.10 (https://github.com/openshift/origin/pull/19137)

* The deprecated `-p <POD>` flag to `oc port-forward` is removed. Use `oc port-forward pod/<POD>` instead
* When enabling or disabling API groups with the `--runtime-config` flag in `kubernetesMasterConfig.apiServerArguments`, omit the `apis/` prefix. For example:
[code]
* The output format of `-o name` now includes th

[2018-04-10 03:58] bfallonf commented on #8601
Thanks @mwitzenm

I've had this feedback from another source, and I'm fixing it with #8620 . I'll close this issue, and reference this from there. If you have any more suggestions, please let us know.

[2018-04-10 03:58] #8601 closed

[2018-04-10 10:40] vikram-redhat commented on #6458
@liggitt I believe so, but will wait for @ahardin-rh to confirm today.

[2018-04-10 20:12] akostadinov opened #8670 "local persistent storage docs fix"
Hi, this is a copy of https://github.com/openshift/origin/issues/19212

Basically there is a missing step for creating storage classes in the [docs](https://docs.openshift.com/container-platform/3.7/install_config/configuring_local.html). After one goes through the steps in the document, local storage is sitll not working as expected until the necessary storage classes are created. The necessary s

[2018-04-10 20:18] akostadinov commented on #707
@ayusho , you must be using some strange `curl` distribution. That's why you see this. `oc` is not using curl internally, just outputs curl-like info. wrt it setting more parameters, I trust you that it does. What I listed above is the minimum parameters required. More of them may or may not hurt. It still works for me.

[2018-04-10 20:40] mburke5678 commented on #8375
Documentation started in https://github.com/openshift/openshift-docs/pull/8671

@dmage Any help with this would be greatly appreciated.

[2018-04-10 21:16] mburke5678 opened #8674 "Set Namespace Annotation to an Empty String for Daemonset in 3.7 Also"
Per email from [Jorge Luis Tudela Gonzalez de Riancho](https://mojo.redhat.com/people/jtudelag)

In 3.9 a very helpful note has been added to the DS docs:

Daemonset scheduling is incompatible with project’s default node selector. If you fail to disable it, the daemonset gets restricted by merging with the default node selector. This results in frequent pod recreates on the nodes that got unselect

[2018-04-10 21:26] mburke5678 commented on #8674
@tnozicka @geliu2016
Should this go into 3.7 also? Or any other OpenShift versions?

Related to https://github.com/openshift/openshift-docs/pull/8125

[2018-04-11 07:03] vikram-redhat commented on #8670
@tmorriso-rh - PTAL.

[2018-04-11 14:17] ahardin-rh commented on #6458
@liggitt @vikram-redhat Yes, closing now. Thanks for the reminder!

[2018-04-11 14:17] #6458 closed

[2018-04-11 16:39] #4906 closed

[2018-04-12 04:56] vikram-redhat commented on #8611
Fixed via: https://github.com/openshift/openshift-docs/pull/8686 and https://github.com/openshift/openshift-docs/pull/8687. Closing this issue.

[2018-04-12 04:56] #8611 closed

[2018-04-12 19:01] tmorriso-rh commented on #8670
jhou@ | lxia@
@jhou1 @liangxia Please provide the QE review for this PR.

[2018-04-13 01:37] jhou1 commented on #8670
@qinpingli PTAL.

[2018-04-13 02:36] qinpingli commented on #8670
The issue is when the openshift users tried to use local volume, they can not select select storageclass for local volume, right?

Yes, now we have this issue.
1) When local storage provisioner creates local PV, it will tag PVs with storageclass name defined in configmap(e.g. this PV is a hdd storage or ssd storage).
2) Openshift users can request storage they needed by storageclassname.
3) But th

[2018-04-13 03:30] liangxia commented on #8670
This sounds like a bug.

[2018-04-13 10:42] dmesser opened #8731 "[enterprise-3.9] Edit suggested in file install_config/persistent_storage/persistent_storage_glusterfs.adoc"
### Which section(s) is the issue in?

Example: CONTAINER-NATIVE STORAGE FOR OPENSHIFT LOGGING AND METRICS
Point 6:

### What needs fixing?

Currently it is advised to use
openshift_metrics_storage_kind=dynamic

This will result in the following error if you do not have `openshift_cloudprovider_kind` configured:

[code]

I do not agree with this behavior, see https://github.com/openshift/openshift

[2018-04-13 11:55] vikram-redhat commented on #8731
@jarrpa - can you take a look?

cc: @tmorriso-rh

[2018-04-16 01:44] gaurav-nelson commented on #8495
Thank you @ksemaev for creating this issue. I have created a bug for adding this in the docs. Please see https://bugzilla.redhat.com/show_bug.cgi?id=1567690 for more details. Because we are now tracking it in the bug, I am closing this one here.

[2018-04-16 01:44] #8495 closed

[2018-04-16 12:48] jsafrane commented on #8670
That's not a bug, it's intention. You can set `pv.spec.storageClassName` without creating a StorageClass object for it. Either you don't need a StorageClass (they're required for dynamic provisioning, otherwise they're optional) or you'll create one later.

I admit it's confusing to users and we should update our docs with creation of StorageClasses.

[2018-04-16 14:10] akostadinov commented on #8670
Also original bug describes a SELinux labeling issue. Any `chcon` needs to be documented unless this is no longer needed with 3.9+.

[2018-04-16 16:25] e-minguez opened #8745 "[enterprise-3.9] Edit suggested in file install_config/configuring_gce.adoc"
### Which section(s) is the issue in?
Configuring GCE

### What needs fixing?
There are some ansible variables that can be used, for instance [openshift_gcp_multizone](https://github.com/openshift/openshift-ansible/blob/release-3.9/roles/openshift_cloud_provider/tasks/gce.yml#L33) can be used and there is a [PR](https://github.com/openshift/openshift-ansible/pull/7980/files) for `openshift_gcp_nod

[2018-04-17 00:57] mburke5678 commented on #8674
@tnozicka @geliu2016 BUMP

[2018-04-17 01:55] qinpingli commented on #8670
@akostadinov this was fixed in OCP 3.9 doc.
https://docs.openshift.com/container-platform/3.9/install_config/configuring_local.html

[2018-04-17 07:03] tnozicka commented on #8674
Feel free to backport it as far as we support DaemonSet as this has been the issue since the beginning.

[2018-04-17 09:21] siamaksade opened #8769 "Incorrect service account group names"
The OCP 3.9 docs incorrectly state the service account group names as:

`system:serviceaccount`
Includes all service accounts in the system.

`system:serviceaccount:<project>`
Includes all service accounts in the specified project.

On both admin and dev guides:
https://docs.openshift.com/container-platform/3.9/dev_guide/service_accounts.html
https://docs.openshift.com/container-platform/3.9/admin

[2018-04-17 13:39] tmorriso-rh commented on #8731
Bump. @jarrpa Can you take a look at this PR? Thanks.

[2018-04-17 17:15] mburke5678 commented on #8674
@openshift/team-documentation PTAL. Backported DaemonSet note that was added to 3.9 back to 3.2, when the _Using Daemonsets_ topic was added.
3.2: https://github.com/openshift/openshift-docs/pull/8770
3.3: https://github.com/openshift/openshift-docs/pull/8771
3.4: https://github.com/openshift/openshift-docs/pull/8772
3.5: https://github.com/openshift/openshift-docs/pull/8773
3.6: https://github.co

[2018-04-17 18:17] tmorriso-rh commented on #8670
@qinpingli @jsafrane Does this require an update to the docs, or can I close the PR? Thanks.

Cc: @vikram-redhat

[2018-04-18 01:47] qinpingli commented on #8670
I think it still needs an update in the doc for storageclasses creation.

[2018-04-18 02:35] jarrpa commented on #8731
Apologies for the delay!

There is currently no problem with the documentation. We only tell users to add the relevant parameters for running the Logging and Metrics playbooks, not the main config playbook.

Also, note, that you don't NEED to set cloudprovider_kind, you can also simply use a variable to enable dynamic provisioning in general.

[2018-04-18 14:05] bortek opened #8782 "[enterprise-3.7] Edit suggested in file upgrading/automated_upgrades.adoc"
Guys,

there are no RPM  packages with version 3.7.42-2 but there is 3.7.42-1. Please confirm and correct if possible.

https://docs.openshift.com/container-platform/3.7/release_notes/ocp_3_7_release_notes.html#ocp-3-7-42-2

Thanks!

### What needs fixing?

[2018-04-18 22:51] vikram-redhat commented on #8782
@ahardin-rh - can you have a look?

[2018-04-18 22:53] vikram-redhat commented on #8731
Thanks @jarrpa . I will close this issue in that case.

[2018-04-18 22:53] #8731 closed

[2018-04-18 22:54] vikram-redhat commented on #8610
@jim-minter - are you still working on the API docs?

[2018-04-20 13:30] falencastro opened #8828 "[enterprise-3.9] Edit suggested in file dev_guide/pod_autoscaling.adoc"
### Which section(s) is the issue in?
https://docs.openshift.com/container-platform/3.9/dev_guide/pod_autoscaling.html#pod-autoscaling-memory

Place the following in a file, such as hpa.yaml:

[code]

### What needs fixing?

The sample api versions on hpa.yml don't work on 3.9.

I had to replace apiVersion and scaleTargetRef->apiVersion to be like this:

[code]

[2018-04-20 17:59] jim-minter commented on #8610
@vikram-redhat no, I'm on a different team at this point.  But AFAICS the majority of fixing @akostadinov's issues should be a straightforward case of improving the struct documentation in origin.

[2018-04-20 20:46] rearden-steel opened #8851 "[enterprise-3.9] Edit suggested in file admin_guide/out_of_resource_handling.adoc"
### Which section(s) is the issue in?
Example Scenario

### What needs fixing?

[code]
Should be replaced with:

[code]

[2018-04-22 21:34] scollier opened #8857 "unrecognized apb argument listed"
### Which section(s) is the issue in?

https://access.redhat.com/documentation/en-us/openshift_container_platform/3.9/html-single/ansible_playbook_bundle_development_guide/#writing-apbs

section 2.3.1

### What needs fixing?

When running apb push following the docs, you get:

[code]

stating that the ```-o``` is not recognized.

[2018-04-22 21:39] scollier opened #8858 "apb builds need sudo"
### Which section(s) is the issue in?

https://access.redhat.com/documentation/en-us/openshift_container_platform/3.9/html-single/ansible_playbook_bundle_development_guide/#writing-apbs

Section 2.3.1

### What needs fixing?

The docs show:

[code]

implying that you can run these commands as a non-root user by default on a RHEL 7.5 host.  When I run the build, I get:

[code]
That can be worked ar

[2018-04-22 21:50] scollier commented on #8858
I should add my apb version:

[code]

[2018-04-22 21:51] scollier commented on #8857
adding my apb version:

[code]

[2018-04-25 12:53] ge0ffrey opened #8901 "Deployment resources: explain difference between "limits" and "requests""
The section here:
  https://docs.openshift.com/online/dev_guide/deployments/basic_deployment_operations.html#deployment-resources
doesn't explain the difference between "limits" and "requests" decently.

Does it make sense to use both at the same time? What's the difference? What's the impact/behaviour? What will determine the amount of memory a pod actually gets?

[2018-04-25 23:41] fanminshi opened #8907 "Typos in Minishift architecture doc"
### Which section(s) is the issue in?

https://docs.openshift.org/latest/minishift/using/basic-usage.html

### What needs fixing?

`Failed to generate image: Could not find Java executable` appears in the Minishift architecture
 diagram. I don't think it is intentional.

[2018-05-01 20:30] ahardin-rh commented on #8651
We're going to deprecate web console support for IE 11 in 3.10, to be removed in 3.12. Edge browser will still be supported.

[2018-05-02 12:13] jiri-fiala opened #9000 "[enterprise-3.3] "opensfhit" typo in install_config/configuring_routing.adoc"
### Which section(s) is the issue in?
Configuring route timeouts -> [`myroute` example](https://docs.openshift.com/container-platform/3.3/install_config/configuring_routing.html#install-config-configuring-route-timeouts) - (only the OCP 3.3 branch, this was already addressed in 3.4+ [before](https://github.com/openshift/openshift-docs/commit/3111f52478c619554b570bcb8e63a0a69d3e947b))

### What nee

[2018-05-02 13:13] dmesser commented on #8731
This does not address the issue. The instructions need to be self-contained. As explained in the linked GitHub there is an undocumented dependency on the openshift_cloudprovider_kind variable in the processing of Metrics playbook with the openshift_metrics_storage_kind=dynamic in conjunction with GlusterFS (or any dynamically provisioned storage). This dependency is not explained in the docs and w

[2018-05-02 13:33] jarrpa commented on #8731
And this happens when you run the main playbook without these variables set and then run the logging and metrics playbooks with the variables set? If so then I can just change the metrics_storage_kind to casasandra_storage_type.

[2018-05-02 14:13] #8674 closed

[2018-05-02 15:12] tmorriso-rh commented on #8651
Add information on changes to the local provisioner configuration:

"Adding a new device is semi-automatic. The provisioner periodically checks for new mounts in the configured directories. The administrator needs to create a new subdirectory there, mount a device there, and allow the pods to use the device by applying the SELinux label."

PR: https://github.com/openshift/openshift-docs/pull/8899

[2018-05-02 18:14] c0rmichels opened #9005 "[enterprise-3.7] Edit suggested in file dev_guide/expose_service/expose_internal_ip_nodeport.adoc"
### Which section(s) is the issue in?
*Defining the Public IP Range*.

### What needs fixing?
The entire section seems out of place for nodeport configurations as it is not necessary (at least not in my experience). I suggest removing this section from this part of the guide (obviously not from the part that explains how to use **External IP** configurations). Here, it only confuses the reader, si

[2018-05-02 23:42] bfallonf commented on #7488
Because there's a PR open for this, I'll close this issue. Thanks @danwinship

[2018-05-02 23:42] #7488 closed

[2018-05-08 00:40] gaurav-nelson commented on #8745
Thanks @e-minguez Trackin this in #9089 I will wait for the PR to merge before adding `openshift_gcp_node_tags` variable to the docs.

[2018-05-08 18:47] slmagus opened #9106 "include yum-utils as base package"
### Which section(s) is the issue in?

Hostprep

2.3.4. Installing Base Packages Step 1.

### What needs fixing?

Need to include yum-utils for RH7 host system as a required package.
Not having the package generates errors when running the playbook, and as it isn't universally installed on a base RHEL system

[2018-05-09 10:40] vikram-redhat commented on #9106
@kalexand-rh - can you take a look. I thought we did include this.

[2018-05-09 10:41] vikram-redhat commented on #9005
@bfallonf - if you have bandwidth in this release, PTAL.

[2018-05-09 10:44] vikram-redhat commented on #8907
@fanminshi - could you raise this issue with the MiniShift team? https://github.com/minishift/minishift#community

[2018-05-09 10:44] #8907 closed

[2018-05-09 10:44] vikram-redhat commented on #8901
Hey @ge0ffrey ! Long time since working on the BxMS docs!

@ahardin-rh - PTAL.

[2018-05-09 10:45] vikram-redhat commented on #8858
@adellape - is this something you can look at?

[2018-05-09 10:49] vikram-redhat commented on #8670
@tmorriso-rh - was a PR created to fix?

[2018-05-09 10:50] vikram-redhat commented on #8530
I am closing this issue as there has been no response for some time. Please reopen if this is still an issue.

[2018-05-09 10:50] #8530 closed

[2018-05-09 12:41] sdodson commented on #8651
When configuring the OpenStack cloud provider the node's hostname must match the instance name in OpenStack in order ensure that the registered name conforms to DNS-1123 spec. https://bugzilla.redhat.com/show_bug.cgi?id=1566455#c10

[2018-05-09 15:06] kalexand-rh commented on #9106
@vikram-redhat, that command lists several utils packages, but not yum-utils. I opened a PR to add it: https://github.com/openshift/openshift-docs/pull/9121.

[2018-05-09 15:06] #9106 closed

[2018-05-09 17:13] ahardin-rh commented on #8901
@pecameron Can you please help me tighten up the content here, or point me in the right direction?

[2018-05-09 17:43] pecameron commented on #8901
@ahardin-rh In my reading of this, liimits: is optional and is used for general resource limits. However when a quota is specified (don't know where that is done), requests: is required to set a limit. Maybe pointing to the general discussions of limits and quotas, if they exist, would be helpful. If they don't exist the sections should be written. Depending on the limits, and quotas discussions,

[2018-05-10 00:16] gaurav-nelson commented on #9000
Fixed by #9141

[2018-05-10 00:16] #9000 closed

[2018-05-10 08:31] alonkashtan opened #9145 "[enterprise-3.0] Edit suggested in file dev_guide/application_health.adoc"
### Which section(s) is the issue in?
Under **HTTP Checks** subsection it is stated:

### What needs fixing?
According to the [Kubernetes documentation](https://kubernetes.io/docs/tasks/configure-pod-container/configure-liveness-readiness-probes/#define-a-liveness-http-request) it should say:

[2018-05-10 16:23] uriux-andrewd opened #9164 "[online] Update OpenShift Online Docs to Remove References to HA Configuration"
Edit suggested in file architecture/infrastructure_components/kubernetes_infrastructure.adoc

### Which section(s) is the issue in?

[Kubernetes Infrastructure https://docs.openshift.com/online/architecture/infrastructure_components/kubernetes_infrastructure.html](https://docs.openshift.com/online/architecture/infrastructure_components/kubernetes_infrastructure.html)

Overview & High Availability

[2018-05-10 17:15] uriux-andrewd opened #9165 "[online] Edit suggested in file dev_guide/projects.adoc"
https://docs.openshift.com/online/dev_guide/projects.html#project-collaboration-in-online-pro

### Which section(s) is the issue in?

### What needs fixing?

[2018-05-10 19:07] ahardin-rh commented on #8901
@pecameron Thanks! I opened https://github.com/openshift/openshift-docs/pull/9182 to add a pointer to the appropriate docs. I will work with others to see if the information presented there needs to be expanded to fully answer the questions posed here. :beers:

[2018-05-10 19:27] ahardin-rh commented on #4218
Closing this, since we now point to https://access.redhat.com/articles/2176281 as the source of truth

[2018-05-10 19:27] #4218 closed

[2018-05-10 19:30] ahardin-rh commented on #8782
We call the release whatever the image tag version is. That is was other sections of our documentation that use that number are using it for.

[2018-05-10 19:30] #8782 closed

[2018-05-11 00:49] vikram-redhat commented on #9164
@ahardin-rh - PTAL

[2018-05-11 00:49] vikram-redhat commented on #9165
@ahardin-rh this might be a bug so follow up with @aveshagarwal

[2018-05-11 01:02] gaurav-nelson commented on #8745
@e-minguez I see that https://github.com/openshift/openshift-ansible/pull/7980 is closed.
Do you want to include any information related to that in docs?

[2018-05-11 01:46] gaurav-nelson commented on #9145
fixed by #9197

[2018-05-11 01:46] #9145 closed

[2018-05-11 14:29] e-minguez commented on #8745
Well... I'd say to add a note that in order to properly have loadbalancer services using google compute platform, the nodes should be tagged with "{{ openshift_gcp_prefix }}ocp"

[2018-05-11 18:18] Jooho opened #9214 "Ansible variable (openshift_metrics_hawkular_hostname ) format is vague."
### Which section(s) is the issue in?
Advanced installation - Configuring Cluster Metrics

### What needs fixing?
./install_config/install/advanced_install.adoc#1476
[code]
This part sound like we can specify `openshift_metrics_hawkular_hostname` with this format:
[code]
However, in the reality, the protocol must be removed  and also `/hawkular/metrics` as well so the actual value for default woul

[2018-05-14 09:52] vikram-redhat commented on #9214
Thanks @Jooho - I am closing this issue now that your PR has merged.

[2018-05-14 09:52] #9214 closed

[2018-05-14 18:17] ahardin-rh commented on #9165
Addressed in https://github.com/openshift/openshift-docs/pull/9246

[2018-05-15 01:43] gaurav-nelson commented on #8769
@siamaksade Can you please check this and confirm. I am afraid I have to close this if I do not get any response till 20th May 2018.

[2018-05-15 09:39] jmaerki opened #9257 "[enterprise-3.9] Edit suggested in file admin_guide/scheduling/pod_placement.adoc"
### Which section(s) is the issue in?

https://docs.openshift.com/container-platform/3.9/admin_guide/scheduling/pod_placement.html#controlling-pod-placement-projects
Point 3 under "Control Pod Placement to Projects"

### What needs fixing?

Section still mentions "scheduler.alpha.kubernetes.io/node-selector" but should probably be "openshift.io/node-selector" as mentioned in https://docs.openshift

[2018-05-15 13:46] ahardin-rh commented on #9164
Addressed in https://github.com/openshift/openshift-docs/pull/9250

[2018-05-15 13:46] #9164 closed

[2018-05-16 18:01] #8901 closed

[2018-05-17 01:46] gaurav-nelson commented on #8769
Thanks @siamaksade for your response. As I said in my previous comments, the changes were made because of https://bugzilla.redhat.com/show_bug.cgi?id=1498147. It was with an (s) before that change. I also checked the commands in OCP 3.9 and it works for both of them:
[code]

I am closing this one, as the documentation list correct commands and they are working.

[2018-05-17 01:46] #8769 closed

[2018-05-17 01:53] gaurav-nelson commented on #8769
Please feel free to reopen this, if you think I misinterpreted something. Thanks again for submitting this.

[2018-05-17 09:57] siamaksade commented on #8769
`oc get` command is not sensitive to the singular and plural form of object types (`pod/pods`, `route/routes`, etc) and is not the right test for this scenario.

Try this instead:
[code]

You would see the default generated role bindings. Notice the last one which is `system:serviceaccounts:test` which refers to all service accounts in the specified project:

[code]

[2018-05-17 14:31] tmorriso-rh commented on #8670
@akostadinov I am working on this request. Does this apply to all version of OpenShift?

[2018-05-17 20:11] mburke5678 opened #9389 "Various edits discovered when working with translators"
When I was answering issues posed by translators on the Development Guide, I found issues that can be fixed in the source docs. Each issue is a separate comment below.

[2018-05-17 20:12] mburke5678 commented on #9389
This sentence missing an "is"
The load balancer a single edge router IP

Should be:
The load balancer is a single edge router IP

Also, awaiting clarification on the sentence from Phil Cameron for translators:
"Could you help clarify the sentences? What is still a single machine for initial load balancing and what doe the load balancer do to a single edge router IP?"

https://docs.openshift.com/co

[2018-05-17 20:13] mburke5678 commented on #9389
Could this be clearer?

"From the project to which the service account belongs, use the <literal>-z</literal> flag and specify the <literal>&lt;serviceaccount_name&gt;</literal>. This is highly recommended, as it helps prevent typos and ensures that access is granted only to the specified service account."
Translator: "I wonder why it helps prevent typos."

Me:
About the "prevent typos", there was

[2018-05-17 20:13] mburke5678 commented on #9389
"then the version of secret will be used for the pod will not be defined"
Needs to be clarified.

https://docs.openshift.com/container-platform/3.9/dev_guide/secrets.html#secrets-and-the-pod-lifecycle

[2018-05-17 23:43] gaurav-nelson commented on #8769
Thanks @siamaksade , I checked those commands and it does report `system:serviceaccounts:test1`. I tried following as well and and got `system:serviceaccount:test1`

I also ran this (on OCP):
[code]

I think both of them are getting used inconsistently though.

[2018-05-18 06:37] GrahamDumpleton opened #9403 "Missing value for ImagePolicy.resolutionRules.policy."
### Which section(s) is the issue in?

https://docs.openshift.com/container-platform/3.9/admin_guide/image_policy.html#image-policy-configuring-the-image-policy-admission-plug-in

### What needs fixing?

If you use the example ``ImagePolicy`` config example it will fail.

[code]

The error suggests example is missing:

[code]

entries.

Looks like needs to have:

[code]

entry as policy to avoid e

[2018-05-18 08:15] siamaksade commented on #8769
Could you check with engineering?

I don’t know how else to explain this.

system:serviceaccount:<project>:default is correct and refers to a *single*
serviceaccount with the name “default”. That’s what your commands are
showing.

system:serviceaccount:<project> is incorrect for referring to *all* service
accounts in the project. The correct form is
system:serviceaccounts:<project>

On Fri, 18 May

[2018-05-18 15:29] mburke5678 commented on #9257
@aveshagarwal
The Scheduling Guide _Controlling Pod Placement_ section uses the Pod Node Selector admission controller, which uses the `scheduler.alpha.kubernetes.io/node-selector` annotation.
The _Setting the Project-wide Node Selector_ uses the `oc adm new-project` with the `--node-selector` option. This uses the `openshift.io/node-selector` annotation.
Do we have this right?
We have these steps

[2018-05-18 15:37] aveshagarwal commented on #9257
@mburke5678 there are 2 admission plugins doing same thing: PodNodeSelector and "NodeEnv" . NodeEnv (part of origin) uses `openshift.io/node-selector` and that means if someone is setting project node selector using  `oc adm new-project`, should use NodeEnv. PodNodeSelector (upstream one) uses scheduler.alpha.kubernetes.io/node-selector, so if someone wants to use `PodNodeSelector`, would have to

[2018-05-18 17:12] aveshagarwal commented on #9257
commented directly on https://github.com/openshift/openshift-docs/pull/9417.

[2018-05-18 20:17] GrahamDumpleton commented on #9403
@bparees suggests this may be a code issue with inheritance of value from outer scope. Separate issue created for it at https://github.com/openshift/origin/issues/19775 for confirmation.

[2018-05-18 20:20] mburke5678 commented on #9389
"An image tag always points to the latest image built. "
https://docs.openshift.com/container-platform/3.9/dev_guide/managing_images.html#tag-naming
BenP: An image tag always points to a single image, normally the latest version of the image that was built.  The tag also tracks the history of image versions it previously pointed to.

[2018-05-19 17:38] viper0131 commented on #1533
What is the current status of this? I ran into the same example errors.

What is the best alternative to use instead of nginx?

[2018-05-20 02:56] vikram-redhat commented on #9403
@GrahamDumpleton closing this since https://github.com/openshift/origin/issues/19775 is lodged. If examples still need updating, please reopen.

[2018-05-20 16:05] bparees commented on #9403
i think the docs should be updated to show an explicit policy value regardless.  i've opened a PR to do that here: https://github.com/openshift/openshift-docs/pull/9438

[2018-05-21 01:45] qinpingli commented on #8670
@tmorriso-rh you mean the PR "Add necessary storage classes"? It's worked from openshift 3.7.

[2018-05-21 04:30] bfallonf commented on #9005
Thanks @c0rmichels . I've received a few comments about this section recently, so I've started #9439 to gather them together and get the sections fixed up.

Because a PR exists, I'll close this issue, but please comment here or in the PR if you have any more notes.

[2018-05-21 04:30] #9005 closed

[2018-05-21 07:28] jsafrane commented on #8670
Local storage was tech preview also in 3.7. IMO, the best would be to merge https://github.com/openshift/openshift-docs/commit/92cc919d13cafc9383235a6f2d2f293d3f1cc66d into 3.7 to add note about SELinux + add note about StorageClass into 3.7 - 3.10.

[2018-05-21 13:34] bortek opened #9452 "[enterprise-3.7] Edit suggested in file upgrading/automated_upgrades.adoc"
### Which section(s) is the issue in?

I think this line under upgrade of Metrics

"When you have finished updating your inventory file, follow the instructions in Deploying the Metrics Deployment to run the openshift_metrics.yml playbook and complete the metrics deployment upgrade."

should point not to openshift_metrics.yml but to openshift-metrics.yml which is under the byo directory structure

[2018-05-21 13:35] mburke5678 commented on #1533
@sjenning Is this something you can help us with?

[2018-05-22 12:32] briantward opened #9481 "[enterprise-3.7] Edit suggested in file dev_guide/builds/triggering_builds.adoc"
### Which section(s) is the issue in?
https://docs.openshift.com/container-platform/3.7/dev_guide/builds/triggering_builds.html#github-webhooks
"Follow the GitHub setup instructions to paste the webhook URL into your GitHub repository settings."

### What needs fixing?

I suggest informing that the default GitHub content type on setting up a WebHook is currently "application/x-www-form-urlencoded"

[2018-05-22 16:01] mrogers950 commented on #8651
Removals: The deprecated `openshift-namespace` flag has been removed from the `oc adm create-bootstrap-policy-file` command.
Issue: https://github.com/openshift/origin/issues/15825

[2018-05-22 21:38] mikemowgli opened #9502 "Configuring the DNS wilcard when there are multiple routers"
Hello,
This section (https://docs.openshift.org/latest/install_config/install/prerequisites.html#wildcard-dns-prereq) describes how to configure an external DNS to point to an openshift router to resolve applications running in the cluster.

However, on my cluster, I have 3 router pods, deployed on all 3 infra-nodes.
If I configure 3 wildcard DNS records, to bind with all 3 infra nodes, then a req

[2018-05-22 22:44] vikram-redhat commented on #9502
@sdodson @knobunc is this something the docs should cover? Or is this an edge case?

cc: @aheslin @bfallonf @adellape

[2018-05-23 13:27] #9403 closed

[2018-05-23 16:38] logandonley opened #9552 "[enterprise-3.9] Edit suggested in file dev_guide/pod_autoscaling.adoc"
### Which section(s) is the issue in?

Starting at 'Autoscaling for CPU Utilization' and beyond.

### What needs fixing?

The apiVersions set in the examples do not align with what is available in the REST API Reference docs.

[2018-05-23 19:17] rjgrange opened #9555 "Getting Started Guide: Container-Native Storage 3.9 Container-Native Storage for OpenShift Container Platform"
### Which section(s) is the issue in?
4.1/4.2

### What needs fixing?
4.2 appears to be a duplicate of section 4.1

[2018-05-24 14:24] jeremyeder opened #9572 "Update docs to reflect change to pods-per-core default (no more out of the box limit)"
@ahardin-rh this change https://github.com/openshift/origin/pull/19190/files#diff-34104ca6d09d05f3cfea899724059869L73

needs to be reflected in https://docs.openshift.org/latest/scaling_performance/cluster_limits.html

@openshift/svt fyi

https://github.com/openshift/origin/pull/19190

[2018-05-24 14:40] jeremyeder opened #9573 "table formatting broken"
In the Number of deployments per namespace section.

https://docs.openshift.org/latest/scaling_performance/cluster_limits.html

@ahardin-rh

[2018-05-24 16:33] ahardin-rh commented on #9573
Thanks! Addressed in https://github.com/openshift/openshift-docs/pull/9575

[2018-05-24 16:33] #9573 closed

[2018-05-24 20:58] sjenning commented on #1533
If I do a search for `image: nginx`, `image: "nginx"`, and `"image": "nginx"`, I get 5 occurrences

How to limit bandwidth
https://github.com/openshift/openshift-docs/blob/master/admin_guide/managing_pods.adoc#L107

How to use PVC as volumes in pods
https://github.com/openshift/openshift-docs/blob/master/dev_guide/persistent_volumes.adoc#L121

How to limit compute resources for a pod
https://githu

[2018-05-24 23:15] mburke5678 commented on #1533
@sjenning  I got rid of those references.

Do we want to to anything with these:

**Pods and services**
[code]
https://github.com/openshift/openshift-docs/blob/master/architecture/core_concepts/pods_and_services.adoc

**Quotas and Limit Ranges**
https://github.com/openshift/openshift-docs/blob/master/dev_guide/compute_resources.adoc
Contains numerous nginx references

https://github.com/openshift/

[2018-05-25 15:53] jtudelag opened #9598 "Scheduler configurable precidates section is not accurate"
Predicates are boolean functions, they return true or false, so It does not make any sense to assign them a weigh, as it is stated in the configurable predicates section with ServiceAffinity and LabelsPresence predicates

### Which section(s) is the issue in?

[**Configurable Predicates**](https://docs.openshift.com/container-platform/3.9/admin_guide/scheduling/scheduler.html#configurable-predicat

[2018-05-28 10:41] born4new opened #9621 "[enterprise-3.9] Edit suggested in file dev_guide/secrets.adoc"
### Which section(s) is the issue in?

Using Secrets / YAML Secret Object Definition

### What needs fixing?

`hostname` "red number" should be **5** instead of **4**.

[code]

should become

[code]

[2018-05-28 22:10] akostadinov opened #9623 "daemonset editing actually updated pods"
### Which section(s) is the issue in?
Issue with last section of Daemon Set config:
https://docs.openshift.org/latest/dev_guide/daemonsets.html

### What needs fixing?

This section is incorrect. I am editing daemon set template `nodeSelector` element. After the edit pods are removed/created according to the change I'm doing. If some changes take effect and some not, then it needs to be clarified

[2018-05-29 04:43] #9621 closed

[2018-05-30 01:47] vikram-redhat commented on #9623
@akostadinov 3.10 is not released officially. Are you able to test with 3.9 and report back?

[2018-05-30 04:44] kanekoh opened #9655 "[enterprise-3.9] Edit suggested in file install_config/install/disconnected_install.adoc"
### Which section(s) is the issue in?

Section: Syncing images

### What needs fixing?

Missing required docker images as follows:

2. Pull all of the required OpenShift Container Platform containerized components. ...

[code]

3. Pull all of the required OpenShift Container Platform containerized components for ...

[code]

[2018-05-30 18:13] tmorriso-rh commented on #8670
Fixed via the following PRs:

https://github.com/openshift/openshift-docs/pull/9540
https://github.com/openshift/openshift-docs/pull/9541

[2018-05-30 18:13] #8670 closed

[2018-05-30 19:21] mburke5678 commented on #9623
@akostadinov Thank you for your input.

I am not clear on what you are suggesting.
1. You create a daemonset, which creates pods.
2. You edit the daemonset and delete the existing pods.
3. The new pods are not picking up the change?

[2018-05-30 21:33] akostadinov commented on #9623
@mburke5678 , what I observe is:
1. set `nodeSelector` in DC
2. pods automatically start/stop

Have to check with 3.9

[2018-05-30 21:42] akostadinov commented on #9623
Just tested on 3.9 also:
[code]
Sounds like at least changes to `nodeSelector` are automatically applied. Don't know about anything else.

[2018-05-30 22:03] mburke5678 commented on #9623
@akostadinov OK. Thank you. Your finding mirror what the upstream Kubernetes docs suggest:

_If node labels are changed, the DaemonSet will promptly add Pods to newly matching nodes and delete Pods from newly not-matching nodes._
https://kubernetes.io/docs/concepts/workloads/controllers/daemonset/#updating-a-daemonset

[2018-05-31 10:10] damienb-opt opened #9687 "[enterprise-3.1] Edit suggested in file rest_api/kubernetes_v1.adoc"
### Which section(s) is the issue in?
The whole page

### What needs fixing?
All links towards http://releases.k8s.io should be replaced: the resources under this domain have no reliable URIs (let's say they are typical github.com URIs, and that is 404).

[2018-05-31 15:20] sdodson commented on #9502
You should configure your wildcard as a round robin pointing at your three router pods rather than creating three wildcard hostnames. Alternatively you could configure the wildcard to point at a Virtual IP or load balancer that routes traffic to all of your routers instead.

I'm not sure whether this requires documentation clarification or not.

[2018-05-31 17:06] ahardin-rh commented on #8651
https://github.com/openshift/openshift-docs/pull/9702 per https://bugzilla.redhat.com/show_bug.cgi?id=1584486

[2018-06-01 14:03] tmorriso-rh commented on #9555
@jarrpa Hi Jose, can you take a look at this issue?

The issue is that this section:
https://access.redhat.com/documentation/en-us/container-native_storage/3.9/html/container-native_storage_for_openshift_container_platform/chap-documentation-install_upgrade_matrix_red_hat_gluster_storage_container_native_with_openshift_platform-introduction_containerized_rhgs#idm140266797624096

Seems exactly like

[2018-06-01 14:15] khartsoe commented on #9555
Hi Traci...thank you for inquiring about this. The difference between Section for 4.1 and 4.2 is that 4.1 is the workflow for deploying Container-Native Storage (CNS=shared file storage/converged infrastructure (compute and storage instances scheduled/run from same hardware), and 4.2 is the workflow for deploying Container-Ready Storage (CRS=provision storage from a dedicated Gluster cluster exter

[2018-06-01 14:43] jarrpa commented on #9555
What Ken said. :)

[2018-06-01 14:51] tmorriso-rh commented on #9555
Thanks. I will close this issue.

[2018-06-01 14:51] #9555 closed

[2018-06-04 04:16] vikram-redhat commented on #9687
Sorry @damienb-opt - we are not updating 3.1 docs at the moment. I am going to close this issue.

[2018-06-04 04:16] #9687 closed

[2018-06-05 00:18] gaurav-nelson commented on #8745
@e-minguez
What does 'node must be tagged' means?

OR

[2018-06-05 08:37] e-minguez commented on #8745
For running loadbalancer services using the Google compute platform:

* the openshift_gcp_prefix must be declared in the Ansible inventory file
* the nodes must be tagged in Google Cloud with '{{ openshift_gcp_prefix }}ocp' annotation

As an example:

If using openshift_gcp_prefix='mycluster' in the inventory file, the node must be tagged in Google Cloud as: 'myclusterocp'

![screenshot from 2018-

[2018-06-05 16:16] #2068 closed

[2018-06-05 16:55] #1793 closed

[2018-06-05 17:03] #3433 closed

[2018-06-05 17:03] #3434 closed

[2018-06-06 01:28] vikram-redhat commented on #9655
Fixed via: https://github.com/openshift/openshift-docs/pull/9656. Closing this issue.

[2018-06-06 01:28] #9655 closed

[2018-06-06 01:46] gaurav-nelson commented on #8745
Thanks @e-minguez I have updated this in PR #9863. Please review.
![image](https://user-images.githubusercontent.com/23069445/41011236-38a03420-697f-11e8-950f-67a7b683db23.png)

[2018-06-06 08:22] hashnao opened #9867 "[enterprise-3.9] Edit suggested in file admin_guide/scheduling/pod_placement.adoc"
### Which section(s) is the issue in?
In the **Constraining Pod Placement Using Node Name** section, `PodNodeConstraints` should not be placed in two places at `master-config.yaml` but only in the `admissionConfig.pluginConfig` field because separate admission chains are no longer allowed anymore and atomic-openshift-master-api fails in running.

I tested the instruction of Pod Node Constraints ad

[2018-06-06 12:47] sdodson commented on #8651
https://github.com/openshift/openshift-docs/pull/9875 It's no longer possible to configure the dnsIP value of the node which could previously have been set via openshift_dns_ip.

[2018-06-07 03:10] etoews opened #9889 "[enterprise-3.9] Edit suggested in file install_config/install/advanced_install.adoc"
### Which section(s) is the issue in?

Configuring the OpenShift Ansible Broker

### What needs fixing?

The `ansible_service_broker_remove` option should be documented. See [this comment](https://github.com/openshift/openshift-ansible/issues/7305#issuecomment-395045769) from @jocelynthode.

[2018-06-07 20:03] mburke5678 commented on #9623
@akostadinov Changed the sentence to:
If node labels are changed, the DaemonSet adds pods to nodes matching the new labels and delete pods from nodes that do not match the new lablels.

[2018-06-08 07:55] CoaxVex opened #9921 "[enterprise-3.9] Edit suggested in file install_config/persistent_storage/persistent_storage_flex_volume.adoc"
### Which section(s) is the issue in?

Consuming Storage using FlexVolume

### What needs fixing?

The callout number 7 indicates that the "options" field takes a "free-form dictionary of parameters", however this is untrue. It only accepts a number of flags (keys pointing to strings).
A dictionairy would be able to contain other types such as arrays. The following does not work:

[code]

The oc c

[2018-06-11 12:22] pmacko1 opened #9979 "[enterprise-3.0] Edit suggested in file architecture/core_concepts/pods_and_services.adoc"
### Which section(s) is the issue in?
https://docs.openshift.com/enterprise/3.0/architecture/core_concepts/pods_and_services.html#services

### What needs fixing?
404 Kubernetes documentation link

https://github.com/kubernetes/kubernetes/blob/master/docs/user-guide/services.md

[2018-06-12 03:26] liggitt opened #10015 "include storage migration requirements in manual upgrade doc"
https://github.com/openshift/openshift-docs/blob/master/upgrading/manual_upgrades.adoc

before performing a manual upgrade, `oc adm migrate storage --confirm` should be run to ensure that all persisted objects are using a storage version that will be supported on the next level of openshift

additionally, unless otherwise noted, apiservers should be upgraded one version at a time, and `oc adm migr

[2018-06-12 03:54] vikram-redhat commented on #10015
@liggitt I am guessing the same steps would apply for upgrade to 3.10

[2018-06-12 03:56] vikram-redhat commented on #9867
@mburke5678 - PTAL.

[2018-06-12 03:57] vikram-redhat commented on #9552
@logandonley. Unfortunately, the REST API docs are currently out of sync and we are trying to figure out a way to keep those docs updated. For the moment, I am going to close this issue as something we don't have the bandwidth to fix.

[2018-06-12 03:57] #9552 closed

[2018-06-12 03:58] vikram-redhat commented on #9502
@bfallonf - can you please take a look and assess if it requires clarification?

[2018-06-12 03:58] liggitt commented on #10015
Yes, they apply at every upgrade.

Additional migrations are available at some levels. For example, at 3.9 and up, `oc adm migrate legacy-hpa` should be run to convert legacy scale references in HPA objects. cc @DirectXMan12

[2018-06-12 09:02] scoulomb opened #10022 "[online] Edit suggested in file getting_started/basic_walkthrough.adoc"
### Which section(s) is the issue in?

Setup

### What needs fixing?

`$ git clone https://github.com/<your_github_username>/nodejs-ex`
Should be replaced by
`$ git clone https://github.com/<your_github_username>/nodejs-ex.git`
(`.git` at the end)

[2018-06-12 09:11] scoulomb commented on #10022
PR created : https://github.com/openshift/openshift-docs/pull/10023

[2018-06-12 10:07] nickcmaynard opened #10024 "[enterprise-3.9] Edit suggested in file install_config/install/advanced_install.adoc"
### Which section(s) is the issue in?

https://docs.openshift.com/container-platform/3.9/install_config/install/advanced_install.html#advanced-installation-logging-storage

### What needs fixing?
The documentation here states:

The openshift_logging_es_pvc_dynamic variable must be set in order to use persistent storage for logging. If openshift_logging_es_pvc_dynamic is not set, then cluster loggi

[2018-06-12 13:18] deads2k commented on #8651
The "openshift-infra" namespace is reserved for system components.  It does not run openshift admission plugins for kubernetes resources.  SCC admission will not run for pods in the "openshift-infra" namespace.  This can cause pods to fail.

Per @liggitt's comment in https://github.com/openshift/origin/pull/19889#issuecomment-395463344

[2018-06-12 13:21] soltysh commented on #8651
1. Groups pruning: https://github.com/openshift/openshift-docs/pull/9453
2. `oc edit` now respects `KUBE_EDITOR`.  `OC_EDITOR` support will be removed in a future release, switch to `KUBE_EDITOR`.

[2018-06-13 00:33] gaurav-nelson commented on #8651
Service Catalog CLI #9653

The Service Catalog command-line interface (CLI) utility called svcat is available for easier interaction with Service Catalog resources. `svcat` communicates with the Service Catalog API by using the aggregated API endpoint on an OpenShift cluster.

[2018-06-13 10:23] akesterton opened #10073 "[enterprise-3.9] Edit suggested in file install_config/persistent_storage/persistent_storage_vsphere.adoc"
### Which section(s) is the issue in?
Persistent Storage Using VMWare vSphere Volume
Provisioning
2nd sentence

### What needs fixing?
Typo on link to VMware vSphere - name and capitalisation

[2018-06-13 11:00] nickcmaynard opened #10074 "[enterprise-3.9] Edit suggested in file dev_guide/pod_autoscaling.adoc"
### Which section(s) is the issue in?

Pod autoscaling definition.

### What needs fixing?

The HPA definition sample is out of date.
3.9 uses `apiVersion: autoscaling/v1` with different specification entries.

A valid example:

[code]

The pod autoscaling document needs technical oversight and updating for 3.9 validity.

[2018-06-13 17:38] mburke5678 commented on #9867
@hashnao Please see changes in https://github.com/openshift/openshift-docs/pull/10080

[2018-06-14 04:50] BenSturmfels opened #10094 "[enterprise-3.0] Edit suggested in file dev_guide/service_accounts.adoc"
### Which section(s) is the issue in?

"Usernames and groups"

### What needs fixing?

The commands refer to "serviceaccounts" which should be "serviceaccount". The plural version will succeed, but won't have the intended effect.

See the admin docs: https://docs.openshift.org/3.6/admin_guide/service_accounts.html

[2018-06-14 05:01] BenSturmfels commented on #10094
Ah, it looks as though the copy of the docs I found through a search engine is out of date:

https://docs.openshift.com/enterprise/3.0/dev_guide/service_accounts.html

This has been fixed in this copy:

https://docs.openshift.org/3.6/dev_guide/service_accounts.html

It would be nice if the web docs provided a link to other versions, similar to how Django does it (version selector in bottom right):

[2018-06-14 05:52] hashnao commented on #9867
@mburke5678 That's fine.  Thx!

[2018-06-14 13:42] liggitt commented on #8651
The `batch/v2alpha1` API version is no longer served by default. If required, it can be re-enabled with this config:

[code]

[2018-06-14 13:47] smarterclayton opened #10097 "[enterprise-3.9] Edit suggested in file admin_guide/ipsec.adoc"
### Which section(s) is the issue in?

Title

### What needs fixing?

Title is unclear.  Should be "Encrypting traffic between nodes with IPSec".  It is not about encrypting hosts.

[2018-06-14 13:51] smarterclayton opened #10100 "[enterprise-3.9] Edit suggested in file dev_guide/secrets.adoc"
### Which section(s) is the issue in?

Serving Service Certificates

### What needs fixing?

This section is really its own topic.  It should be a new, task focused topic like "Securing application traffic with TLS" with a general description of why you should use TLS, then an example of how to use service serving certs.  Also we should describe that a "Reencrypt" route will automatically be verif

[2018-06-14 18:09] tmorriso-rh commented on #9921
@CoaxVex Hi, can you please provide the link to the upstream docs you are viewing? Specifically, where in the upstream docs is the term flags used?

[2018-06-14 18:59] tmorriso-rh commented on #9979
Fix in progress: https://github.com/openshift/openshift-docs/pull/10109

[2018-06-14 20:36] kalexand-rh commented on #8651
https://bugzilla.redhat.com/show_bug.cgi?id=1535585 added the `openshift_additional_ca` parameter, but I don't see it covered in the docs.

[2018-06-14 21:31] bparees commented on #6430
we're now tracking adding this as a feature here:
https://trello.com/c/ybOIFAOE/1573-registry-allow-admins-to-customize-registry-trusted-cas

so it's probably not worth documenting a workaround.  The workaround would be to create a configmap w/ your certs and update the registry DC to mount it.

[2018-06-14 21:31] #6430 closed

[2018-06-15 06:57] CoaxVex commented on #9921
https://github.com/kubernetes/community/blob/master/contributors/devel/flexvolume.md#default-json-options

[2018-06-15 14:50] pmacko1 opened #10123 "[oc cluster up docs] update prerequisites for docker on linux"
https://github.com/openshift/origin/blob/master/docs/cluster_up_down.md#prerequisites
### Which section(s) is the issue in?
oc cluster up linux prereqs

### What needs fixing?
Docker versioning system is for non experienced users not clear.
CE version is now ~v18.
Docker Engine is a Superseded product
https://docs.docker.com/cs-engine/1.13/

[2018-06-18 00:58] timabell opened #10161 "[enterprise-3.7] Edit suggested in file using_images/index.adoc"
### Which section(s) is the issue in?

"Overview"

### What needs fixing?

The "openshift3 repository" link is broken - redirects to root page

[2018-06-19 14:21] php-coder opened #10225 "3.11: pod with sysctl example needs to be updated"
### Which section is the issue in?
https://docs.openshift.org/latest/admin_guide/sysctls.html#setting-sysctls-for-a-pod

### What needs fixing?
OpenShift 3.11 that will be on top of Kubernetes 1.11 won't work with the old sysctl annotations that are present in our example. The example will require an update, like Kubernetes did: https://github.com/kubernetes/website/pull/8804/files#diff-bbdf255eeb

[2018-06-19 14:37] ingvagabund commented on #10225
@php-coder should be basically copy-paste with slight modifications to accommodate the OpenShift docs style

[2018-06-19 14:37] ingvagabund commented on #10225
so anyone can do that, we can do the review

[2018-06-20 17:09] tmorriso-rh commented on #9921
@jhou1 @liangxia Please provide QE review for this issue. Here is the URL for the document in question: https://docs.openshift.com/container-platform/3.9/install_config/persistent_storage/persistent_storage_flex_volume.html#flex-volume-usage

[2018-06-21 08:35] tongpu opened #10296 "Document required structure of openshift_master_identity_providers"
### Which section(s) is the issue in?

Advanced Installation
Configuring authentication and user agent

### What needs fixing?

Document how the YAML structure in `master-config.yaml` maps to the JSON string passed to Ansible in the
 variable `openshift_master_identity_providers`. Currently only `HTPasswdPasswordIdentityProvider` is provided as an example and other identity providers have differen

[2018-06-21 08:36] tongpu commented on #10296
I might be able to pick this up in the future, because I figured out the structure yesterday, but won't find time to update the documentation within the next few weeks.

[2018-06-21 09:58] vikram-redhat commented on #10296
Thanks @tongpu - ping us when you have the bandwidth.

[2018-06-21 09:58] #10296 closed

[2018-06-21 09:58] vikram-redhat commented on #10161
@tmorriso-rh - PTAL.

[2018-06-21 10:00] vikram-redhat commented on #10123
Hey @pmacko1 - please open this issue in OpenShift Origin here: https://github.com/openshift/origin/issues

[2018-06-21 10:00] #10123 closed

[2018-06-21 10:01] vikram-redhat commented on #10100
@kalexand-rh - do you have the bandwidth to take this one?

[2018-06-21 10:02] vikram-redhat commented on #10097
@tmorriso-rh PTAL.

[2018-06-21 10:02] vikram-redhat commented on #10094
Thanks @BenSturmfels - this is on the cards to do soon.

[2018-06-21 10:02] #10094 closed

[2018-06-21 10:03] vikram-redhat commented on #10074
@mburke5678 PTAL.

[2018-06-21 10:03] vikram-redhat commented on #10073
@tmorriso-rh PTAL

[2018-06-21 10:04] vikram-redhat commented on #10024
@bmcelvee PTAL

[2018-06-21 10:04] vikram-redhat commented on #10022
@ahardin-rh PTAL

[2018-06-21 19:41] mburke5678 commented on #8651
**Node Problem Detector (Tech Preview)**
The Node Problem Detector monitors the health of your nodes by finding certain problems and reporting these problems to the API server, where external controllers could take action.

**Descheduler**
The descheduler moves pods from _less deisrable_ nodes to new nodes for various reasons, such as:
* Node utilization
* Scheduling decision changed, as taints or

[2018-06-22 19:30] kalexand-rh commented on #10225
I made a PR for this change here: https://github.com/openshift/openshift-docs/pull/10361

[2018-06-25 13:48] kalexand-rh commented on #10100
Simo agrees with this request and says that @mrogers950 will be the best contact on the security team.

[2018-06-25 15:13] sdodson commented on #8651
https://github.com/openshift/openshift-ansible/pull/8955
We should be discouraging reliance on openshift_docker_additional_registries

[2018-06-25 19:04] bmcelvee commented on #8651
Prometheus was updated, so we can update the following from previous release notes:

**Prometheus (Technology Preview)**
Prometheus remains in Technology Preview and is not for production workloads. Prometheus, AlertManager, and AlertBuffer versions are now updated and node-exporter is now included:

    prometheus 2.2.1

    Alertmanager 0.14.0

    AlertBuffer 0.2

    node_exporter 0.15.2

You

[2018-06-25 19:52] wabouhamad opened #10408 "Add note to scaling_performance/cluster_limits.adoc, Cluster Limits Table, Number of pods per node row"
### Which section(s) is the issue in?
 openshift-docs/scaling_performance/cluster_limits.adoc
Cluster Limits Table, Number of pods per node row

### What needs fixing?
Add a note that on OCP 3.10 there are OCP pods running on compute nodes, such as prometheus-0, node exporter, sync, sdn, ovs, etc, and the effective max pods per node is 250 minus the OCP pods, which give you about ~ 245 "user" pods

[2018-06-25 20:01] benjaminhiggins commented on #8670
I've tried the new and the old document but I must be missing something. When I add a pvc with the storage class I get the following error:

3:56:33 PM | Warning | Provisioning Failed | no volume plugin matched

Any ideas?

[2018-06-25 23:42] tmorriso-rh commented on #10161
Starting with 3.7, users are directed to the index page. There is a note on the page that ask users to browse or search for the image they need.

Cc: @vikram-redhat

[2018-06-26 03:57] sjenning commented on #1533
might as well change them all, except this one since it is not part of a spec example

[2018-06-26 06:39] vikram-redhat commented on #10161
@tmorriso-rh Hey. I think we should update the page to point to the Container Catalog instead of the registry. Red Hat registry now redirects to the Red Hat Container catalog.

The openshift3 registry link should now point to: https://access.redhat.com/containers/?tab=security&start=10#/product/RedHatOpenshiftContainerPlatform and that whole paragraph should probably be rewritten with links to reg

[2018-06-26 16:21] cdrage opened #10426 "Documentation on how to list Source-to-Image image versions (CLI)"
Not too sure where to list this (as well as following the given GitHub issue template).

However.

Is there a way to correctly list all Source-2-Image images available with their versions (through CLI or API or otherwise?) I looked through the documentation (https://docs.openshift.com/container-platform/3.6/architecture/service_catalog/index.html) but was unable to find anything related. I tried C

[2018-06-26 16:34] cdrage commented on #10426
Closing! Managed to find an API call to get the tags!

[2018-06-26 20:26] akesterton opened #10436 "[enterprise-3.9] Edit suggested in file apb_devel/cli_tooling.adoc"
### Which section(s) is the issue in?
CLI installation - Prerequsites

### What needs fixing?
APB requires Ansible 2.5 for the openshift_raw module.  Default installation for OpenShift 3.9 is Ansible 2.4.

Please add this requirements, and pointer to instructions to upgrade the Ansible 2.4 installation.

[2018-06-26 21:09] ahardin-rh commented on #10022
Closing per https://github.com/openshift/openshift-docs/pull/10023#issuecomment-398046015

[2018-06-26 21:09] #10022 closed

[2018-06-27 11:56] rkratky commented on #7496
Why hasn't the PR been merged for so long? It's an easy fix, and the mistake in docs is very confusing for users.

Also, the same bug has long been fixed in https://github.com/ansibleplaybookbundle/ansible-playbook-bundle/blob/master/docs/apb_cli.md#running-from-a-container (reported in https://github.com/ansibleplaybookbundle/ansible-playbook-bundle/issues/172).

[2018-06-27 12:56] deads2k commented on #8651
`subjectaccessreviews.authorization.openshift.io` and `resourceaccessreviews.authorization.openshift.io` will be cluster-scoped only in a future release.  Use `localsubjectaccessreviews.authorization.openshift.io` and `localresourceaccessreviews.authorization.openshift.io` if you need namespace scoped requests

[2018-06-27 14:08] liggitt opened #10458 "OpenShift 3.11 Release Notes Tracker"
cc @openshift/team-documentation

[2018-06-27 14:10] liggitt commented on #10458
`subjectaccessreviews.authorization.openshift.io` and `resourceaccessreviews.authorization.openshift.io` are now cluster-scoped only.  Use `localsubjectaccessreviews.authorization.openshift.io` and `localresourceaccessreviews.authorization.openshift.io` if you need namespace-scoped requests

[2018-06-27 17:54] hrishin opened #10460 "[enterprise-3.7] Edit suggested in file dev_guide/routes.adoc"
### Which section(s) is the issue in?
Creating Routes

### What needs fixing?
You can create unsecured and secured routes routes using the web console or the CLI.

'routes' word has repeated twice.

[2018-06-27 19:20] #10460 closed

[2018-06-27 20:46] mburke5678 commented on #10074
@sjenning PTAL

[2018-06-28 05:15] hashnao opened #10488 "[enterprise-3.9] Edit suggested in file install_config/master_node_configuration.adoc"
### Which section(s) is the issue in?
The event ttl is set on 15 mins but there's no mention about the default value.

[code]

### What needs fixing?
The default value for ttl should be added.
According to the source code [1], the value is 2 hours.

.master_config_test.go
[code]

[1] <https://github.com/openshift/origin/blob/release-3.9/pkg/cmd/server/kubernetes/master/master_config.go#L119>

[2018-06-28 13:30] vikram-redhat commented on #7496
@ahardin-rh - can you take a look at this today? Tagging you on another one and a related BZ. These should be simple fixes, but confirm with @adellape

[2018-06-28 13:31] vikram-redhat commented on #7661
@ahardin-rh - confirm with @adellape on this one as well. Related bug: https://bugzilla.redhat.com/show_bug.cgi?id=1595695

[2018-06-28 16:56] sjenning commented on #10074
fyi @DirectXMan12

This is correct.  All references to "autoscaling/v2beta1" should be updated to "autoscaling/v1" for 3.9 and later.

https://docs.openshift.com/container-platform/3.9/dev_guide/pod_autoscaling.html

[2018-06-28 18:11] nickcmaynard commented on #10074
It was a few weeks ago, but IIRC, I couldn't get the old version to work.  I needed to update it as indicated.  It might be worth testing that @sjenning 's assertion.

[2018-06-28 18:14] adellape commented on #7496
Sorry, the PR wasn't originally submitted to our repo. I've grabbed it and submitted it via https://github.com/openshift/openshift-docs/pull/10511.

[2018-06-28 18:14] #7496 closed

[2018-06-28 18:50] mburke5678 commented on #10074
Closing issue. See PR https://github.com/openshift/openshift-docs/pull/10515

[2018-06-28 18:50] #10074 closed

[2018-06-28 22:07] bparees commented on #8651
The default imagestreams now use pullthrough.  This means that the internal registry will pull these images on behalf of the user.  If you modify the upstream location of the images in the imagestream, the registry will pull from that location.  This means the registry must be able to trust the upstream location.  If your upstream location uses a certificate that is not part of the standard system

[2018-06-29 00:39] vikram-redhat commented on #10488
@Brice - PTAL.

[2018-06-29 00:39] vikram-redhat commented on #10436
@gaurav-nelson - PTAL.

[2018-06-29 00:40] #10426 closed

[2018-06-29 01:32] gaurav-nelson commented on #10436
@akesterton

- https://github.com/ansibleplaybookbundle/ansible-playbook-bundle/blob/master/docs/apb_cli.md does not mention such a requirement?
-  Is mentioned somewhere else?

[2018-06-29 13:19] soltysh commented on #8651
This release notes has to be for 3.10 to announce future changes:
In 3.11 when invoking `oc` commands against a local file you will **have to use a `--local` flag** when you don't want the client to contact with the server.

[2018-06-29 13:43] enj commented on #8651
The use of self hosted versions of [GitLab](https://docs.openshift.org/latest/install_config/configuring_authentication.html#GitLab) with a version less than `v11.1.0` is deprecated as of OCP `v3.10`.  Users of self hosted versions should upgrade their GitLab installation as soon as possible.  No action is required if the hosted version at `gitlab.com` is used as that environment is always running

[2018-06-29 13:56] gnufied commented on #8651
When using flexvolume for performing attach/detach - the flex binary must not have external dependencies  and should be self contained. Flexvolume plugin path on atomic hosts has been changed to `/etc/origin/kubelet-plugins` which applies to both master and compute nodes.

[2018-06-29 21:02] sferich888 commented on #8651
Did we push an update for 3.4+ to denote this? How is this a 3.10 release note item, unless this is purly related to 3.10?

[2018-06-29 21:13] sferich888 commented on #8651
http://file.rdu.redhat.com/~ahardin/06272018/3-10-release-notes/release_notes/ocp_3_10_release_notes.html#ocp-310-tenant-driven-storage-snapshotting

We should keep the example name in sync.
You create and example with `name: snapshot-demo` but then have a restore example with `  name: snapshot-pv-provisioning-demo`. If my assumptions are correct, the name here needs to be the same for the saved,

[2018-06-29 21:19] sferich888 commented on #8651
@jeremyeder http://file.rdu.redhat.com/~ahardin/06272018/3-10-release-notes/release_notes/ocp_3_10_release_notes.html#ocp-310-scale-cluster-limits sneakaly hids the fact that from 3.9 to 3.10 we move decreas the number of pods per namespace from 15,000 to 3,000, however http://file.rdu.redhat.com/~ahardin/06272018/3-10-release-notes/scaling_performance/cluster_limits.html#scaling-performance-curre

[2018-06-29 21:23] sferich888 commented on #8651
Format issue:

http://file.rdu.redhat.com/~ahardin/06272018/3-10-release-notes/release_notes/ocp_3_10_release_notes.html#ocp-310-IP-failover-management-limited-to-254-groups

[2018-06-29 21:28] sferich888 commented on #8651
http://file.rdu.redhat.com/~ahardin/06272018/3-10-release-notes/release_notes/ocp_3_10_release_notes.html#ocp-310-group-pruning

Can we change the title of this to LDAP Group Pruning?

[2018-06-29 21:58] sferich888 commented on #8651
All Feedback is from section:
http://file.rdu.redhat.com/~ahardin/06272018/3-10-release-notes/release_notes/ocp_3_10_release_notes.html#ocp-310-important-installation-changes

---

Provide a link to http://file.rdu.redhat.com/~ahardin/06272018/3-10-release-notes/release_notes/ocp_3_10_release_notes.html#ocp-310-system-services-now-hosted-on-pods

---

These statements are confusing!
 - With the fi

[2018-06-29 22:14] sferich888 commented on #8651
All Feedback is from section:

http://file.rdu.redhat.com/~ahardin/06272018/3-10-release-notes/release_notes/ocp_3_10_release_notes.html#ocp-310-notable-technical-changes

---

This should read:

---

This should read:

Key here is we call out what system_container is still supported/used.

---

[2018-06-29 22:14] sferich888 commented on #8651
The TP table needs to be reviewed:

oc CLI Plug-ins was TP in 3.7 as well

^^ makes me wonder if the table was moved properly.

[2018-06-29 22:15] sferich888 commented on #8651
http://file.rdu.redhat.com/~ahardin/06272018/3-10-release-notes/release_notes/ocp_3_10_release_notes.html#ocp-310-known-issues

Should list:

From an above install section.

[2018-07-03 00:17] gaurav-nelson commented on #4992
This is already addressed via https://github.com/openshift/openshift-docs/pull/4853 and available at https://docs.openshift.com/container-platform/3.9/install_config/configuring_vsphere.html#vsphere-enabling

Closing this now.

[2018-07-03 00:19] gaurav-nelson commented on #10436
@akesterton Can I get some more information around this?
I am afraid, I will have to close this one if I do not get a response by Friday, 6th July 2018.

[2018-07-03 01:01] #8026 closed

[2018-07-03 01:08] gaurav-nelson commented on #7576
Closing this one, tracking this in PR #10584

[2018-07-03 01:08] #7576 closed

[2018-07-03 01:15] bfallonf commented on #10488
Thanks @hashnao . I've created a PR for this:

https://github.com/openshift/openshift-docs/pull/10590

If there's anything more, please let me know. I'll close this issue.

[2018-07-03 01:15] #10488 closed

[2018-07-03 04:12] vikram-redhat commented on #2812
Closing this as there are no plans to do this at the moment.

[2018-07-03 04:12] #2812 closed

[2018-07-03 08:15] akesterton commented on #10436
Hi

The bundle requires Ansible 2.5 or greater - not the 2.4 shipped with OpenShift 3.9.  Ansible 2.5 breaks the OpenShift installer.  There is no mention of the required version of Ansible in the documentation.  I think this should be explicit if this is required by APB.

Does that help?

regards

anthony

Anthony Kesterton, Senior Solution Architect, Red Hat
akesterton@redhat.com, +44 7971 78075

[2018-07-03 12:12] reestr commented on #8651
We've stated that quick installation is deprecated in the release notes and I can see where there is a docs update to [remove references to quick installer](https://github.com/openshift/openshift-docs/commit/5416fe0aff36c9b229a1074546fc18e78e6d2c6c).  However, the [getting started guide](https://github.com/openshift/openshift-docs/blob/5416fe0aff36c9b229a1074546fc18e78e6d2c6c/getting_started/insta

[2018-07-03 13:38] tmorriso-rh commented on #10097
Work in progress: https://github.com/openshift/openshift-docs/pull/10597

[2018-07-03 16:44] tmorriso-rh commented on #10161
Work in progress: https://github.com/openshift/openshift-docs/pull/10605

[2018-07-03 16:56] jsafrane commented on #8670
@benjaminapetersen, that looks like a different issue. Your PVC did not match any PV and there is no dynamic provisioning for local storage.

Please double check that local storage provisioner created PVs for your volumes and open a new issue and provide:

- `oc get sc -o yaml`
- `oc get pvc -o yaml <your PVC>`
- `oc describe pvc <your PVC>` (to get the events
- `oc get pv` (to get existing local

[2018-07-03 17:35] tmorriso-rh commented on #9979
https://github.com/openshift/openshift-docs/pull/10109 merged to 3.0 and CP to 3.1 - 3.3. Closing this issue.

[2018-07-03 17:35] #9979 closed

[2018-07-03 17:42] akostadinov commented on #8670
The question is whether PV creation is in the document. The original issue was that local storage didn't contain all necessary information to get user started. So if PV creation info is not there, then we need to get it there.

[2018-07-03 18:04] tmorriso-rh commented on #9921
@jhou1 @liangxia Can you provide QE review for this issue? Thanks.

[2018-07-03 20:14] mburke5678 commented on #1533
I manually did a find/replace. Is there someone on your teams who could take a close look to make sure I didn't create any bad references?
@sjenning PTAL
@mdshuai PTAL

[2018-07-03 20:20] mburke5678 commented on #9623
Closing. Changes via https://github.com/openshift/openshift-docs/pull/9897

[2018-07-03 20:20] #9623 closed

[2018-07-03 22:00] Fedosin opened #10619 "Describe the usage of "useKeystoneIdentity" option for Keystone auth provider"
PR https://github.com/openshift/origin/pull/18775 added a new feature allowing to use Keystone user id instead of user names for authentication.
This feature should be described in the related document https://github.com/openshift/openshift-docs/blob/master/install_config/configuring_authentication.adoc

[2018-07-03 23:36] gaurav-nelson commented on #10436
Thank you @akesterton for responding.

I will put together a PR to rectify this.

[2018-07-04 05:33] vikram-redhat commented on #10619
I think @Fedosin meant to create a PR instead of opening an issue. I know this is already on your radar @kalexand-rh .

[2018-07-04 08:57] liangxia commented on #9921
QE reproduced the issue on OCP v3.10.12, tried the options in 3.9 docs and the one in the first comment, both show error.

[2018-07-05 15:32] soltysh commented on #8651
In 3.10 `oc rollout latest ... --output=revision` will be deprecated, use `oc rollout latest ... --output jsonpath={.status.latestVersion}` or `oc rollout latest ... --output go-template={{.status.latestVersion}` instead.

[2018-07-05 17:58] tmorriso-rh commented on #10073
CP via:

3.6: https://github.com/openshift/openshift-docs/pull/10649
3.7: https://github.com/openshift/openshift-docs/pull/10650
3.9: https://github.com/openshift/openshift-docs/pull/10651
3.10: https://github.com/openshift/openshift-docs/pull/10652

[2018-07-05 17:58] #10073 closed

[2018-07-05 18:20] tmorriso-rh commented on #10161
CP via:

3.7: https://github.com/openshift/openshift-docs/pull/10614
3.9: https://github.com/openshift/openshift-docs/pull/10615
3.10: https://github.com/openshift/openshift-docs/pull/10616

[2018-07-05 18:20] #10161 closed

[2018-07-05 19:33] tmorriso-rh commented on #9921
Work in progress: https://github.com/openshift/openshift-docs/pull/10656

[2018-07-05 19:57] jeremyeder commented on #8651
@sferich888 we're doing more concentrated testing on these limits.  Long story short, they were never really tested upstream or down.  So far the new numbers are low, but the original numbers are high if you have services in your deployments.

[2018-07-09 00:14] gaurav-nelson commented on #10436
@akesterton Can you please check https://github.com/ansibleplaybookbundle/ansible-playbook-bundle/issues/313 and contribute to the related discussion there?

[2018-07-09 15:54] ron1 commented on #4992
Hello Guarav,

The vSphere Cloud Provider Prerequisites documentation available here: https://vmware.github.io/vsphere-storage-for-kubernetes/documentation/prerequisites.html includes the following clause:

VMware Tools needs to be installed on the guest operating system on each Node VM. Please refer this link for instruction on installing VMware tools.

I could not find the above clause in the Op

[2018-07-09 21:59] etoews opened #10722 "[enterprise-3.9] Edit suggested in file using_images/other_images/jenkins.adoc"
### Which section(s) is the issue in?

[Creating a Jenkins Service from a Template](https://docs.openshift.com/container-platform/3.9/using_images/other_images/jenkins.html#jenkins-creating-jenkins-service-from-template)

### What needs fixing?

The section is missing important details. Compare it to the [same section from the 3.7 docs](https://docs.openshift.com/container-platform/3.7/using_image

[2018-07-09 23:45] gaurav-nelson commented on #4992
Thanks @ron1 I will create a PR to address this.

[2018-07-10 12:46] sergioperez opened #10737 "[enterprise-3.9] Edit suggested in file dev_guide/pod_autoscaling.adoc"
### Which section(s) is the issue in?
https://docs.openshift.com/container-platform/3.9/dev_guide/pod_autoscaling.html

### What needs fixing?

I've tried to create an Autoscaler object using the first definition, and I just get the error:
error: unable to recognize "create_tasksapp_autoscaler.yaml": no matches for extensions/, Kind=HorizontalPodAutoscaler

If I use oc autoscale, the created objec

[2018-07-10 20:22] kalexand-rh commented on #10619
@Fedosin, I have a draft [here](https://github.com/openshift/openshift-docs/pull/10743), but I feel like I'm missing some information.
- How does this sound to you?
- Is this valid in 3.10 or 3.11?
- What would Keystone users who are upgrading OCP need to do to take advantage of this new capability?
Will you PTAL?

[2018-07-11 14:40] simo5 commented on #10458
SCC has new options: AllowPrivilegeEscalation and DefaultAllowPrivilegeEscalation

[2018-07-11 16:00] tmorriso-rh commented on #10097
Fixed via:

https://github.com/openshift/openshift-docs/pull/10597
https://github.com/openshift/openshift-docs/pull/10754
https://github.com/openshift/openshift-docs/pull/10755

[2018-07-11 16:00] #10097 closed

[2018-07-11 21:52] ravisantoshgudimetla opened #10761 "Create a section for Priority and Preemption in 3.11"
### Which section(s) is the issue in?
Scheduling.

### What needs fixing?
We are planning to enable priority and preemption in OpenShift 3.1(https://kubernetes.io/docs/concepts/configuration/pod-priority-preemption/), so we need to update scheduler documentation for it.

/cc @sjenning @derekwaynecarr @aveshagarwal @mburke5678

[2018-07-12 22:03] Miciah opened #10794 ""Available router plug-ins" has a superfluous heading and introductory text from included topics"
### Which section(s) is the issue in?

`architecture/networking/assembly_available_router_plugins.adoc`, which includes `architecture/topics/haproxy_template_router.adoc` and `architecture/topics/f5_big_ip.adoc` and can be found under Architecture / Networking / Available router plug-ins or the URL <https://docs.openshift.com/container-platform/3.9/architecture/networking/assembly_available_router

[2018-07-13 02:51] vikram-redhat commented on #9921
This has been merged. I will close this issue.

https://docs.openshift.com/container-platform/3.9/install_config/persistent_storage/persistent_storage_flex_volume.html#flex-volume-usage

[2018-07-13 02:51] #9921 closed

[2018-07-13 21:56] vikram-redhat commented on #10737
@mburke5678 - PTAL.

[2018-07-14 10:12] vikram-redhat commented on #10722
@bmcelvee - assigning this to you. There were some edits made to this file via this PR that might have caused this. https://github.com/openshift/openshift-docs/pull/7128

[2018-07-14 10:51] vikram-redhat commented on #10794
@Miciah - thanks for this. Yes, we have been experimenting with modular docs recently and will be updating the guidelines shortly. For this particular issue, I will request that @bfallonf fix it.

[2018-07-16 01:02] gaurav-nelson commented on #10436
Thanks @akesterton for providing details in the ansible-playbook-bundle issue.

I think the problem here is that in our docs (https://docs.openshift.com/container-platform/3.9/apb_devel/cli_tooling.html#apb-devel-cli-install-prereqs-access-permissions)  we have the following instruction:
![image](https://user-images.githubusercontent.com/23069445/42740190-fca235f4-88e6-11e8-9cdc-cebf0a5b70ef.png)

[2018-07-16 02:15] bfallonf commented on #10794
Thanks @Miciah . Yes, as Vikram notes, this came out of some screwey modularization I tired to do. I must've missed this one. I've created #10830 , and it should fix the issue.

[2018-07-16 02:15] #10794 closed

[2018-07-16 18:18] mburke5678 commented on #10737
Related? https://github.com/openshift/openshift-docs/pull/10515

[2018-07-16 20:38] mburke5678 commented on #10761
Closing this issue. Following via https://github.com/openshift/openshift-docs/pull/10772

[2018-07-16 20:38] #10761 closed

[2018-07-17 20:34] adamboesch opened #10865 "OpenShift Getting Started Tutorial not loading"
Hi, I don't know if this is the correct place for this, but I'm trying to run through the `Getting Started` scenario at https://learn.openshift.com/introduction/getting-started/ and the web Dashboard is coming back with a 502.

### Which section(s) is the issue in?
https://learn.openshift.com/introduction/getting-started/

### What needs fixing?
The Dashboard tab is supposed to load the web dashbo

[2018-07-17 23:45] vikram-redhat commented on #10865
Hey @adamboesch - it is not the right place as we maintain the docs for OpenShift and not the learning environment. If you have a subscription, you may reach out to Red Hat support for help on this.

Having said that, I loaded it right now and it worked, and it may have been a temporary glitch. Could you try again and reach out to support if it doesn't?

[2018-07-17 23:45] #10865 closed

[2018-07-17 23:47] vikram-redhat commented on #698
A lot has changed in the docs since this was first requested. I am closing it, if need be please file a new issue.

[2018-07-17 23:48] #910 closed

[2018-07-17 23:51] #3354 closed

[2018-07-18 02:58] vikram-redhat commented on #5704
This has been covered via the install docs: https://docs.openshift.org/latest/install_config/cluster_metrics.html#metrics-data-storage. Closing this issue.

[2018-07-18 02:58] #5704 closed

[2018-07-18 03:05] vikram-redhat commented on #5095
This was fixed via this: https://github.com/openshift/openshift-docs/commit/b1117dbf22492da880af3f521370badf6bab9c3e#diff-2c29d4a206a2640eb896810bc42468e1. Closing this issue.

[2018-07-18 03:05] #5095 closed

[2018-07-18 05:09] vikram-redhat commented on #3453
Closing this based on Ben's response.

[2018-07-18 05:09] #3453 closed

[2018-07-18 05:10] vikram-redhat commented on #5240
Closing this #5271 fixed it.

[2018-07-18 05:10] #5240 closed

[2018-07-18 05:13] vikram-redhat commented on #5734
I am unable to reproduce this. I am going to close this issue, please create a new issue if this still occurs for you.

[2018-07-18 05:13] #5734 closed

[2018-07-18 05:16] vikram-redhat commented on #1030
Fixed via: https://github.com/openshift/openshift-docs/commit/4051fd6a526efe1010d1f7c5f6ecc9e03b3aa3f4. Closing this issue.

[2018-07-18 05:16] #1030 closed

[2018-07-18 05:21] vikram-redhat commented on #5520
This has now been merged via #5524. Sorry that it got missed. Closing this issue.

[2018-07-18 05:21] #5520 closed

[2018-07-18 05:31] vikram-redhat commented on #6333
Fixed via: https://github.com/openshift/openshift-docs/pull/10321

[2018-07-18 05:31] #6333 closed

[2018-07-18 05:31] vikram-redhat commented on #4893
@sferich888 - do you remember which support guide you wanted this link in?

[2018-07-18 06:02] vikram-redhat commented on #4886
Fixed via multiple commits: https://github.com/openshift/openshift-docs/commit/c5f313431a7ae61ffe264b2843a793de3714f56e and
https://github.com/openshift/openshift-docs/commit/c3a7022dd0b64844267500431f361aa06606aa0e

Closing this issue.

[2018-07-18 06:02] #4886 closed

[2018-07-18 06:04] vikram-redhat commented on #7900
Have replied about this in another thread. Closing this issue.

[2018-07-18 06:04] #7900 closed

[2018-07-18 10:48] rearden-steel opened #10876 "[enterprise-3.9] Edit suggested in file install_config/routing_from_edge_lb.adoc"
### Which section(s) is the issue in?

On the ramp node:

Set the following variables:

[code]
### What needs fixing?

`# CLUSTER_NETWORK=10.128.0.0/1
`
->

`# CLUSTER_NETWORK=10.128.0.0/14
`

[2018-07-18 20:22] kalexand-rh commented on #10619
@Fedosin, will you PTAL at this  "useKeystoneIdentity" draft?

[2018-07-18 21:53] Fedosin commented on #10619
@kalexand-rh here it is -> https://github.com/openshift/openshift-docs/pull/10887

[2018-07-18 22:53] vikram-redhat commented on #5599
@bfallonf - can you PTAL and the associated PR?

[2018-07-19 00:45] vikram-redhat commented on #10876
@bmeng - is this correct?

Doc: https://docs.openshift.com/container-platform/3.9/install_config/routing_from_edge_lb.html

@bfallonf - PTAL and based on @bmeng's response either fix and close or close this issue.

[2018-07-19 00:57] vikram-redhat commented on #4573
I am going to close this issue as this documentation has changed a fair bit and I am not sure if the original issue stands. Please open a new issue if you think otherwise.

[2018-07-19 00:57] #4573 closed

[2018-07-19 05:31] vikram-redhat commented on #7661
Closing this issue as the related BZ has been merged and content pushed live.

[2018-07-19 05:31] #7661 closed

[2018-07-19 05:43] bmeng commented on #10876
@lihongan Can you help review this issue? The cluster network is incorrect indeed, but I think the whole paragraph of the ramp node needs to be fixed.

[2018-07-19 06:50] lihongan commented on #10876
Yes, it should be `# CLUSTER_NETWORK=10.128.0.0/14`.
Here it takes F5 as example to tell how to configure ramp node with ipip tunnel, but it is just demo and cannot be deployed to production since all settings will gone after ramp node (or openvswitch service) restarting. You can add a "Note" before the paragraph if needed.

[2018-07-19 23:09] vikram-redhat commented on #5230
@kalexand-rh - old issue but I don't see any reason why it wouldn't still be valid. The trick will be how far we go back :)

[2018-07-19 23:11] vikram-redhat commented on #5209
@kalexand-rh - PTAL.

[2018-07-20 01:14] #4992 closed

[2018-07-20 11:48] jhutar opened #10945 "adding insecure registry to /etc/containers/registries.conf is not sufficient"
### Which section(s) is the issue in?
https://github.com/openshift/origin/blob/master/docs/cluster_up_down.md#linux

### What needs fixing?
I was following the part with `/etc/containers/registries.conf` and there are two issues there:

 * IMO docs should mention that the file only exists when package skopeo-containers (RHEL 7) or containers-common (Fedora 28) is installed - it is installable with

[2018-07-20 11:56] jhutar commented on #10945
And when I attempt the other possibility with `/etc/docker/daemon.json`, docker then fails to start:

[code]

[2018-07-20 19:17] donovanmuller opened #10975 "[enterprise-3.7] Edit suggested in file dev_guide/integrating_external_services.adoc"
### Which section(s) is the issue in?

https://docs.openshift.com/container-platform/3.7/dev_guide/integrating_external_services.html

### What needs fixing?

There is mention of credentials throughout this page, like:

[code]

however, there is no examples of how you actually set those credentials. Are they defined in a Secret? Where these credentials come from should be explained and possibly an

[2018-07-20 20:54] vikram-redhat commented on #10975
@bfallonf - PTAL

[2018-07-20 20:55] vikram-redhat commented on #10945
Hey @jhutar - please open this issue here: https://github.com/openshift/origin/issues

[2018-07-20 20:55] #10945 closed

[2018-07-23 18:08] kalexand-rh commented on #5230
@enj, when would a user need to know their UID?

[2018-07-23 18:22] kalexand-rh commented on #5209
@enj, do you still want this documented?

It sounds like we need to say that a member of the `system:masters` group has permission to modify all settings in the cluster, but I'm not sure how someone with the `sudoers` role would impersonate that group instead of the `system:admin` group.

If the clarification of how to access the two different groups is all we need, I think the information would g

[2018-07-23 18:33] enj commented on #5209
Yes.

`system:masters` never receives a deny from any authorization logic even if all RBAC data in the cluster is deleted.

`oc ... --as=<any_user> --as-group=system:masters`

`system:admin` is a user, not a group.

I do not think any changes are needed to that doc.

[2018-07-23 20:04] mburke5678 opened #11006 "Make DaemonSets capitalization consistent across docs"
In PR openshift/openshift-docs#9897, we tried to make the capitalization of DaemonSet consistent across all docs. We found 3 different spellings: DaemonSet (correct), Daemonset, and daemonset.

But, the PR created too many merge errors, especially in the earlier branches (incl. files added that would need to be removed). I reverted the PR. Changes will likely need to be made per-branch as there ar

[2018-07-24 07:54] whitingjr opened #11017 "[enterprise-3.9] Edit suggested in file install_config/configuring_local.adoc"
### Which section(s) is the issue in?
Enable Local Volumes

### What needs fixing?
Indenting in item 1 and 2 differs for the attribute named PersistentLocalVolumes.

[2018-07-24 13:37] b-mchugh opened #11023 "[enterprise-3.9] Edit suggested in file admin_guide/manage_nodes.adoc"
### Which section(s) is the issue in?
https://docs.openshift.com/container-platform/3.9/admin_guide/manage_nodes.html#configuring-node-resources

### What needs fixing?
[code]

These seem to be older instructions from 3.7, there is no longer a kubelet binary in 3.9.
The following produces equivalent output as "kubelet -h" did in previous release.

[code]

[2018-07-24 13:39] codrinbucur opened #11024 "Clarify the usage of ingressIPNetworkCIDR and externalIPNetworkCIDR parameters"
### Which section(s) is the issue in?

1. In the "OCP 3.9 - Assigning Unique External IPs for Ingress Traffic docs" [1], you can find these statements:

_One approach to getting external traffic into the cluster is by using ExternalIP or IngressIP addresses.

This feature is only supported in non-cloud deployments. For cloud (GCE, AWS, and OpenStack) deployments, use the Load Balancer services for

[2018-07-24 17:05] kalexand-rh commented on #11017
Fixing here: https://github.com/openshift/openshift-docs/pull/11032

[2018-07-24 17:05] #11017 closed

[2018-07-24 23:55] bit4man commented on #8857
Replicated, RHEL 7.5

[2018-07-25 02:47] vikram-redhat commented on #11024
Thanks @codrinbucur. @bfallonf - can you look at this?

[2018-07-25 12:00] whitingjr opened #11064 "[enterprise-3.9] Edit suggested in file install_config/configuring_local.adoc"
### Which section(s) is the issue in?
Configure Local Provision-er

### What needs fixing?
The documentation could do with an edit to indicate where the deployment instructions need executing. Is it run on master and all nodes or only master ?

[2018-07-25 14:11] mburke5678 commented on #11023
@sjenning Can you confirm if we need to change `kubelet -h` to hyperkube kubelet -h` in 3.9+

[2018-07-25 14:16] mburke5678 opened #11066 "References to Heapster should be replaced with metrics server"
Capturing this request that came via 3.10 PR. We can close if this is addressed through more "official" means.

@DirectXMan12 says:

### Which section(s) is the issue in?
dev_guide/pod_autoscaling.adoc

### What needs fixing?
While we're at it, for 3.11, references to Heapster should be replaced with metrics server, and we should update the link about setting up cluster metrics to mention that you

[2018-07-25 15:14] mburke5678 commented on #9598
Closing. Changes made via https://github.com/openshift/openshift-docs/pull/10742

[2018-07-25 15:14] #9598 closed

[2018-07-25 15:59] mburke5678 commented on #11023
Closing. Proposed changes in https://github.com/openshift/openshift-docs/pull/11070

[2018-07-25 15:59] #11023 closed

[2018-07-26 15:50] stlaz commented on #10458
SCC has new options: forbiddenSysctls and allowedUnsafeSysctls

[2018-07-27 04:47] bfallonf commented on #6494
Thanks @dstockdreher

Looks like this was submitted (and QE'd) via #6127 and the change never made it to the 3.6 docs. It is in all other versions 3.6 ->.

I've fixed this directly in the 3.6 branch and you can see the change here:

https://github.com/openshift/openshift-docs/blame/enterprise-3.6/admin_guide/managing_networking.adoc#L1062

[2018-07-27 04:47] #6494 closed

[2018-07-27 17:34] kalexand-rh opened #11144 "Remove note about GitLab tokens"
per @enj, https://docs.openshift.org/latest/install_config/configuring_authentication.html#GitLab is wrong, the `Using GitLab as an identity provider requires users to get a token using <master>/oauth/token/request to use with command-line tools.` bit does not apply to gitlab

[2018-07-27 21:00] ahardin-rh opened #11158 "Podman (Technology Preview)"
### Which section(s) is the issue in?
3.10 Release Notes
https://github.com/openshift/openshift-docs/pull/11010

### What needs fixing?

Comments from @dmoessne:

Podman (Technology Preview)

  This seems to be confusing as we are also having cri-o. Customers will wonder why we introduce yet another runtime, therefore I'd feel it would be beneficial if we could explain a bit more around why we hav

[2018-07-27 21:04] ahardin-rh commented on #11158
@mheon Can you please help me address this feedback?

[2018-07-27 21:10] ahardin-rh opened #11159 "Arbiter Volume Support by OCS"
### Which section(s) is the issue in?
3.10 Release Notes
https://github.com/openshift/openshift-docs/pull/11010

### What needs fixing?

Comments from @dmoessne:

The example mentions size=4 as well as options for `Storage Class Volume`without any further info or explanation if and why this is needed and I feel that could confuse customers and raise questions. do we have by chance any additional i

[2018-07-27 21:16] ahardin-rh commented on #11159
@childsb Can you please take a look and help me make this section of the release notes clearer? Thanks!

[2018-07-27 21:33] ahardin-rh opened #11163 "OCP 3.10 Release Notes: Important Changes"
### Which section(s) is the issue in?
3.10 Release Notes
https://github.com/openshift/openshift-docs/pull/11010

### What needs fixing?

Comments from @dmoessne:

- Important Changes
  o looking at "The containerized mode (starting containers directly from docker) for OpenShift Container Platform is no longer supported." does this mean
    the containerized=true option becomes invalid? If so, we s

[2018-07-27 21:44] ahardin-rh opened #11164 "OCP 3.10 Release Notes: Specify the API Group and Version without the API prefix"
### Which section(s) is the issue in?
3.10 Release Notes
https://github.com/openshift/openshift-docs/pull/11010

### What needs fixing?

Comments from @dmoessne:

Specify the API Group and Version without the API prefix
  o "When enabling or disabling API groups with the --runtime-config flag in...."
  Could be me, but I do not understand what and where exactly I have to change this. Is this in th

[2018-07-27 21:45] ahardin-rh commented on #11164
@liggitt Can you please review this feedback and help me clarify the release notes around this? Thanks!

[2018-07-27 21:49] ahardin-rh opened #11165 "OCP 3.10 Release Notes Feedback"
### Which section(s) is the issue in?
3.10 Release Notes
https://github.com/openshift/openshift-docs/pull/11010

### What needs fixing?

Comments from @dmoessne:

 Depricated/Removed/No Longer supported (ip, dns,...)
  I know customers who actually needed to use (some) of them to get OCP working, I might miss something, but are those being deprecated/removed,... without a
  successor or alternativ

[2018-07-27 21:49] ahardin-rh commented on #11165
@liggitt Can you please help me with doc updates? Thanks!

[2018-07-27 21:51] ahardin-rh opened #11166 "3.10 Release Notes: Namespace-scoped Requests"
### Which section(s) is the issue in?
3.10 Release Notes
https://github.com/openshift/openshift-docs/pull/11010

### What needs fixing?

Comments from @dmoessne:

- Namespace-scoped Requests
  unfortunately same here, it seems lacking a bit of context what exactly is needed to achieve this. Possibly a link where we do have a more detailed description what exactly to do (example?) would be benefici

[2018-07-27 21:52] ahardin-rh commented on #11166
@deads2k Can you please review and help me clarify this section of the release notes?

[2018-07-27 22:29] mheon commented on #11158
Hi,
On Podman vs CRI-O: CRI-O is a dedicated Kubernetes runtime - it is built exclusively to run containers for Kubernetes. Podman is a more general replacement for the Docker commandline - it can do things CRI-O and crictl cannot (such as restart containers) because Kubernetes does not need them.

For now, CRI-O and Podman have separate containers, but we are making progress towards having them s

[2018-07-30 04:29] vikram-redhat commented on #4411
Closing - please see: https://github.com/openshift/openshift-docs/pull/4413#issuecomment-408743529

[2018-07-30 04:29] #4411 closed

[2018-07-30 12:55] soltysh commented on #10458
`oc deploy` which was deprecated since 3.7 is now full removed. Use `oc rollout` instead.

[2018-07-31 06:00] vikram-redhat commented on #5220
Closing this as there has been no activity on this. Please reopen if still an issue.

[2018-07-31 06:00] #5220 closed

[2018-07-31 08:13] gabrielstein opened #11216 "[enterprise-3.10] Edit suggested in file upgrading/automated_upgrades.adoc"
### Which section(s) is the issue in?
In-place Upgrades, 3.9 to 3.10

### What needs fixing?
Start:
On master hosts, back up the following, including the systemd files that will be removed during the upgrade to the control plane static pod architecture:

## Wrong part  ##

/etc/sysconfig/atomic-openshift-master-controller

###
## Right ##

/etc/sysconfig/atomic-openshift-master-controllers (needs

[2018-07-31 08:33] gabrielstein opened #11218 "[enterprise-3.10] Edit suggested in file day_two_guide/environment_backup.adoc"
### Which section(s) is the issue in?

BACKING UP ETCD DATA

### What needs fixing?

## Wrong ##

 etcdctl3 snapshot save " * "/backup/etcd-$(date +%Y%m%d)" * "/db

## ##

## Right ##

etcdctl3 snapshot save /backup/etcd-$(date +%Y%m%d)/db  (please remove the  "*")

## ##

[2018-07-31 13:23] mipam007 opened #11223 "[enterprise-3.9] Edit suggested in file install_config/cluster_metrics.adoc"
### Which section(s) is the issue in?

https://docs.openshift.com/container-platform/3.9/install_config/cluster_metrics.html#openshift-prometheus

### What needs fixing?

Missing setting for persistent volume, at least for hostPath. NFS is not working. iSCSI haven't tested as we do not want to mix block and production network.

create LVM, or whatever storage on the compute node where the Promethe

[2018-07-31 13:24] ke4roh opened #11224 "[enterprise-3.2] Edit suggested in file dev_guide/secrets.adoc"
### Which section(s) is the issue in?
Example x: YAML secret that will create 4 files

### What needs fixing?
I cannot tell which four files might be created, nor what they would look like.  How would I know?

[2018-07-31 14:40] #8651 closed

[2018-07-31 17:57] bmcelvee commented on #10458
Logging: ES5

[2018-07-31 18:23] Lasherbr opened #11233 "Wrong node_group_name on Preparing for an Automated Upgrade"
### Which section(s) is the issue in?
https://docs.openshift.com/container-platform/3.10/upgrading/automated_upgrades.html
On section: "Preparing for an Automated Upgrade"
Item 3.e:

### What needs fixing?
The hostname is confusing about the right node_group_name... infra shoud be placed on node-config-infra.

node1.example.com openshift_node_group_name='node-config-infra'
infra-node1.example.com

[2018-07-31 18:59] #11216 closed

[2018-07-31 18:59] #11233 closed

[2018-07-31 18:59] adellape commented on #11216
Thanks for reporting!

[2018-07-31 19:00] adellape commented on #11233
Thanks for reporting!

[2018-07-31 20:15] #11218 closed

[2018-07-31 20:26] ahardin-rh commented on #11158
@mheon Thanks for this! Added a link to that blog in https://github.com/openshift/openshift-docs/pull/11254, but let me know if we need to add more.

[2018-07-31 20:29] #11158 closed

[2018-07-31 20:45] ahardin-rh commented on #11163
@smarterclayton Can you offer guidance in how we can clarify this section of the release notes?

[2018-07-31 20:57] tmorriso-rh commented on #11159
@jarrpa Jose, can you take a look at this issue? I think it's related to CNS. Here is the link to the example:

https://github.com/ahardin-rh/openshift-docs/blob/7853c8a0a1a84258993ffae00bff57e5e0630933/release_notes/ocp_3_10_release_notes.adoc#arbiter-volume-support-by-ocs

[2018-07-31 21:29] ahardin-rh commented on #11159
@jarrpa Thank you! This is now addressed in https://github.com/openshift/openshift-docs/pull/11263

[2018-07-31 21:32] #11159 closed

[2018-08-01 05:40] lpsantil opened #11267 "3.10 Docs do not correctly perform text substitution for product names"
### Which section(s) is the issue in?
https://docs.openshift.com/container-platform/3.10/scaling_performance/optimizing_storage.html#back-end-recommendations

### What needs fixing?
Perform text substitution on `{gluster-native}/{gluster-external}`

[2018-08-01 05:40] lpsantil commented on #11267
This may affect other areas as well.  3.9 docs are not affected.

[2018-08-01 16:16] kalexand-rh commented on #11267
@vikram-redhat

[2018-08-01 21:38] tmorriso-rh commented on #11267
Work in progress: https://github.com/openshift/openshift-docs/pull/11296

[2018-08-02 02:52] davivcgarcia opened #11299 "Selectors for Infra nodes should be using openshift_node_group_name"
### Which section(s) is the issue in?

admin_guide/manage_nodes.adoc
admin_guide/managing_projects.adoc
admin_guide/topics/proc_adding-hosts.adoc
install/configuring_inventory_file.adoc
install_config/cluster_metrics.adoc
install_config/router/default_haproxy_router.adoc

### What needs fixing?

Many parts of the documentation still uses `{"region":"infra"}`, `{"region": "infra"}` or `region=infra

[2018-08-02 03:47] vikram-redhat commented on #11224
@gaurav-nelson - PTAL. This applies to all versions, not just 3.2

[2018-08-02 03:49] vikram-redhat commented on #11223
Hi @mipam007 I am going to close this as this looks like a question for support, not docs. Please open a ticket with RH Support and they will be able to guide you: https://access.redhat.com/support/cases/#/case/new?intcmp=hp%7Ca%7Ca3%7Ccase

[2018-08-02 03:49] #11223 closed

[2018-08-02 03:51] vikram-redhat commented on #699
Closing this issue as this is over 3 years old.

[2018-08-02 03:51] #699 closed

[2018-08-02 03:54] vikram-redhat commented on #707
@gaurav-nelson - PTAL.
This issue is still relevant and the first post contains the how-to. We should add this to our documentation. This also seems like a great use case.

[2018-08-02 03:55] vikram-redhat commented on #754
I am closing this issue as this hasn't been requested directly from customers (and it is 3 years old). Please reopen if you think otherwise.

[2018-08-02 03:55] #754 closed

[2018-08-02 03:57] vikram-redhat commented on #796
Closing this as no updates were received and this issue is 3 years old.

[2018-08-02 03:57] #796 closed

[2018-08-02 03:58] vikram-redhat commented on #801
I am going to close this issue as this is now over 3 years old.

[2018-08-02 03:58] #801 closed

[2018-08-02 03:59] vikram-redhat commented on #775
@mburke5678 I believe this is still relevant even though the original issue is 3 years old. Only for 3.7, 3.9 and 3.10 (and of course 3.11).

[2018-08-02 04:00] vikram-redhat commented on #835
Closing this as this is no longer an issue with what @mburke5678 added. Please reopen if you think otherwise.

[2018-08-02 04:00] #835 closed

[2018-08-02 04:02] vikram-redhat commented on #2620
This might get addressed with our docs update for 4.0 where we are modularising our content. Closing this issue.

[2018-08-02 04:02] #2620 closed

[2018-08-02 05:04] vikram-redhat commented on #1265
Based on @mburke5678 response, I am closing this issue.

[2018-08-02 05:04] #1265 closed

[2018-08-02 05:06] vikram-redhat commented on #1533
I am going to close this issue as the original ask has been fixed via #10618 .

[2018-08-02 05:06] #1533 closed

[2018-08-02 05:42] vikram-redhat commented on #1911
Closing issue as the submitted PRs were merged long ago.

[2018-08-02 05:42] #1911 closed

[2018-08-02 05:45] vikram-redhat commented on #2866
I am going to close this issue as the example block added covers part of the original issue.

[2018-08-02 05:45] #2866 closed

[2018-08-02 05:46] vikram-redhat commented on #1119
Closing this issue as per @bmcelvee 's last comment.

[2018-08-02 05:46] #1119 closed

[2018-08-02 05:55] vikram-redhat commented on #1022
Closing this via: https://github.com/openshift/openshift-docs/pull/11319 which contains the last remnants of the GoogleCloudPlatform.

[2018-08-02 05:55] #1022 closed

[2018-08-02 05:56] vikram-redhat commented on #10015
@jhou1 - could you please confirm these steps?

[2018-08-02 05:58] vikram-redhat commented on #2729
This is described in the table that follows: https://docs.openshift.com/enterprise/3.2/install_config/install/advanced_install.html#configuring-cluster-variables.

[2018-08-02 05:58] #2729 closed

[2018-08-02 06:00] vikram-redhat commented on #1040
This is not something we can work on right now. Closing this.

[2018-08-02 06:00] #1040 closed

[2018-08-02 06:10] vikram-redhat commented on #2711
Both those books are out of use now, so I am closing this issue.

[2018-08-02 06:10] #2711 closed

[2018-08-02 06:11] vikram-redhat commented on #1177
This is not a docs question (and is also nearly 3 years old). I am now closing it.

[2018-08-02 06:11] #1177 closed

[2018-08-02 06:11] vikram-redhat commented on #1287
This comes via AsciiBinder's configuration files. Closing this.

[2018-08-02 06:11] #1287 closed

[2018-08-02 06:13] vikram-redhat commented on #1190
Closing this issue as it is nearly 3 years old.

[2018-08-02 06:13] #1190 closed

[2018-08-02 06:24] vikram-redhat commented on #2748
Atomic Registry is not maintained anymore. Closing this issue.

[2018-08-02 06:24] #2748 closed

[2018-08-02 06:25] vikram-redhat commented on #2211
@mburke5678 it is not. I am closing this issue.

[2018-08-02 06:25] #2211 closed

[2018-08-02 06:26] vikram-redhat commented on #1263
No answer was received on this, so closing this issue. Parts of it were also fixed via #1324.

[2018-08-02 06:26] #1263 closed

[2018-08-02 06:27] vikram-redhat commented on #1748
This was fixed as per the last comment so closing this issue.

[2018-08-02 06:27] #1748 closed

[2018-08-02 06:41] vikram-redhat commented on #1941
As per the last ticket, I am closing this issue.

[2018-08-02 06:41] #1941 closed

[2018-08-02 06:43] vikram-redhat commented on #3134
I believe this was fixed with the reorg last year. Please feel free to reopen if the issue persists.

[2018-08-02 06:43] #3134 closed

[2018-08-02 06:43] vikram-redhat commented on #3922
This is something that we are not doing at the moment.

[2018-08-02 06:43] #3922 closed

[2018-08-02 06:45] vikram-redhat commented on #4547
This whole section has had a reorg and I believe this is no longer an issue. Closing this.

[2018-08-02 06:45] #4547 closed

[2018-08-02 06:45] vikram-redhat commented on #11299
@mburke5678 - PTAL.

[2018-08-02 06:46] vikram-redhat commented on #4859
The associated issue was merged. Closing this.

[2018-08-02 06:46] #4859 closed

[2018-08-02 06:48] vikram-redhat commented on #4274
I am closing this issue as with the migration of the xPaaS docs to other teams, this is not something we can handle right now.

[2018-08-02 06:48] #4274 closed

[2018-08-02 06:49] vikram-redhat commented on #9502
I am closing this issue as this does seem to be edge case.

[2018-08-02 06:49] #9502 closed

[2018-08-02 06:52] vikram-redhat commented on #8857
Fixed via: https://github.com/openshift/openshift-docs/pull/10718

[2018-08-02 06:52] #8857 closed

[2018-08-02 06:53] vikram-redhat commented on #8858
@adellape - can you please update this or close if no longer relevant?

[2018-08-02 06:54] vikram-redhat commented on #9389
Closing this as @mburke5678 has done the fixes via #9280

[2018-08-02 06:54] #9389 closed

[2018-08-02 06:59] vikram-redhat commented on #6726
I can't find this issue anymore. I am going to close this. Please reopen if it is still a problem.

[2018-08-02 06:59] #6726 closed

[2018-08-02 07:02] vikram-redhat commented on #7689
Fixed. Closing this issue.

[2018-08-02 07:02] #7689 closed

[2018-08-02 07:10] vikram-redhat commented on #6891
Origin is indeed AllowAll, while Enterprise is DenyAll. Closing this issue.

[2018-08-02 07:10] #6891 closed

[2018-08-02 07:11] #5207 closed

[2018-08-02 07:27] rvansa commented on #4229
In my case I hit a strange behaviour when creating the deploymentconfig manually (actually using fabric8 openshift-client). Using MariaDB 10.3 as the base image I found that `/var/lib/mysql` was mounted with `mysql:mysql` user/group when I did not specify the volume. `docker inspect` was reporting this directory as mounted, though, and I also could not chown/chgrp/chmod this directory from `Docker

[2018-08-02 11:56] soltysh commented on #2608
I defer to @bparees who currently owns images.

[2018-08-02 12:36] #11144 closed

[2018-08-02 13:38] bparees commented on #2608
i'd say it's still valid but no one is currently lined up to document it.  @bmcelvee would you maybe have some time to draft something if i give you some background?

[2018-08-02 13:52] bmcelvee commented on #2608
@bparees yeah, I can draft something.

[2018-08-02 14:14] mipam007 commented on #11223
Hi, I disagree as there is missing topic around volumes for Prometheus. There are maybe some bugs, but definitely you are not guiding users how to prepare persistent volume.

Jindřich Káňa
+420 739 343 908
jindrich.kana@gmail.com

2. 8. 2018 v 5:49, Vikram Goyal <notifications@github.com>:

[2018-08-02 14:48] mburke5678 commented on #10737
@sergioperez Can you take a look at the page again? Changes were made to the API versioning through another PR (I am in the process of making further changes).

[2018-08-03 01:00] amelie1979 opened #11348 "[enterprise-3.10] Edit suggested in file install/configuring_inventory_file.adoc"
### Which section(s) is the issue in?

beginning of the page

### What needs fixing?
the packages name is now openshift-ansible and not atomic-openshift-utils

[2018-08-03 01:26] vikram-redhat commented on #11348
@amelie1979 Hi there. Thanks for filing this issue but I don't see the reference in the file you have listed this in: https://docs.openshift.com/container-platform/3.10/install/configuring_inventory_file.html.

I will close this issue, but please feel free to open a new one if you find it anywhere else.

[2018-08-03 01:26] #11348 closed

[2018-08-03 02:43] amelie1979 commented on #11348
Its in Customizing Inventory Files for Your Cluster

When you install the **openshift-ansible-utils RPM** package as described in Host Preparation, Ansible dependencies create a file at the default location of /etc/ansible/hosts. However, the file is simply the default Ansible example and has no variables related specifically to OpenShift Container Platform configuration. To successfully install O

[2018-08-03 04:18] bfallonf commented on #10876
Thanks @rearden-steel @lihongan . I've created #11349 for this issue. I have asked a question about the note box I have added, but we can move the conversation to that PR.

I'll close this issue.

[2018-08-03 04:18] #10876 closed

[2018-08-03 20:11] davivcgarcia opened #11370 "Wrong variable for defining Storage Class for Metrics Cassandra"
### Which section(s) is the issue in?

install_config/cluster_metrics.adoc

### What needs fixing?

According the `https://github.com/openshift/openshift-ansible/blob/release-3.10/roles/openshift_metrics/tasks/generate_cassandra_pvcs.yaml`, the variable name for defining Storage Class on PVC for Metrics Cassandra should be `openshift_metrics_cassandra_pvc_storage_class_name` and not `openshift_met

[2018-08-03 21:02] #11370 closed

[2018-08-04 09:40] vikram-redhat commented on #6604
Not an OpenShift docs issue. Closing.

[2018-08-04 09:40] #6604 closed

[2018-08-04 09:40] vikram-redhat commented on #6561
Looks like this was fixed. Closing.

[2018-08-04 09:40] #6561 closed

[2018-08-04 09:42] vikram-redhat commented on #7662
Closing since this was fixed via previous commit.

[2018-08-04 09:42] #7662 closed

[2018-08-04 09:43] vikram-redhat commented on #3862
This is for upstream docs. I someone wants to submit a PR to fix, we can merge.

[2018-08-04 09:43] #3862 closed

[2018-08-04 09:44] vikram-redhat commented on #3867
This is for upstream docs. If someone wants to submit a PR, we can update.

[2018-08-04 09:44] #3867 closed

[2018-08-04 09:47] vikram-redhat commented on #6408
Multiple changes have been made to this section since the original issue was raised. I am going to close this, but please open a new one if issues still need addressing.

[2018-08-04 09:47] #6408 closed

[2018-08-04 09:49] vikram-redhat commented on #6397
@wgordon17 @thesteve0 - did you ever submit a PR for this?

[2018-08-04 09:49] vikram-redhat commented on #6334
Closing this.

[2018-08-04 09:49] #6334 closed

[2018-08-04 09:49] #6272 closed

[2018-08-04 09:50] vikram-redhat commented on #6142
This is a Minishift documentation issue, and I guess it was resolved via the commits. Closing.

[2018-08-04 09:50] #6142 closed

[2018-08-04 09:51] vikram-redhat commented on #6294
Most topics are rewritten so closing this.

[2018-08-04 09:51] #6294 closed

[2018-08-04 09:51] vikram-redhat commented on #6141
This was covered and updated recently by @kalexand-rh's changes to this topic. Closing.

[2018-08-04 09:51] #6141 closed

[2018-08-04 09:52] vikram-redhat commented on #6406
Closing this as this is for the upstream docs. If someone wants to submit a PR to fix, we can look at it.

[2018-08-04 09:52] #6406 closed

[2018-08-04 09:53] vikram-redhat commented on #5177
We won't be able to cover this at this stage. Closing.

[2018-08-04 09:53] #5177 closed

[2018-08-04 09:54] #4893 closed

[2018-08-04 09:55] vikram-redhat commented on #4681
We are unlikely to get to this before we modularize our docs. Closing.

[2018-08-04 09:55] vikram-redhat commented on #3692
This was covered via multiple updates recently. Closing.

[2018-08-04 09:55] #3692 closed

[2018-08-04 09:56] vikram-redhat commented on #3289
This was fixed via #3275. Closing.

[2018-08-04 09:56] #3289 closed

[2018-08-04 09:58] vikram-redhat commented on #4673
Closing this as I believe it was fixed on minishift side.

[2018-08-04 09:58] #4673 closed

[2018-08-04 09:59] vikram-redhat commented on #4273
Closing this as per previous comments.

[2018-08-04 09:59] #4273 closed

[2018-08-04 16:27] bparees commented on #4681
@vikram-redhat there's still no reason for builds and imagestreams to be in the same topic.

[2018-08-04 21:15] vikram-redhat commented on #10458
eol notification for openshit pipeline plugin: https://github.com/openshift/openshift-docs/pull/11369

[2018-08-05 19:59] vikram-redhat commented on #8531
This needs to be fixed within the code so I am closing it. Please open the issue against the origin API code.

[2018-08-05 19:59] #8531 closed

[2018-08-05 20:00] vikram-redhat commented on #7882
We never got around to doing this, so closing for now.

[2018-08-05 20:00] #7882 closed

[2018-08-05 20:01] vikram-redhat commented on #6208
We are redoing our docs for 4.0 and this may get addressed in there. Closing.

[2018-08-05 20:01] #6208 closed

[2018-08-05 20:02] vikram-redhat commented on #6273
Closing this as these edits never made it to the docs and we are unlikely to get to this for 4.0.

[2018-08-05 20:02] #6273 closed

[2018-08-05 20:04] vikram-redhat commented on #6054
This is covered as step 4. Closing.

[2018-08-05 20:04] #6054 closed

[2018-08-05 20:06] vikram-redhat commented on #5208
This section was recently updated in the docs for 3.9. Please reopen if the issue persists.

[2018-08-05 20:06] #5208 closed

[2018-08-05 23:51] gaurav-nelson commented on #10436
@akesterton Can you please check https://github.com/openshift/openshift-docs/issues/10436#issuecomment-405131427

I can fix this one after the go ahead.

[2018-08-06 01:31] vikram-redhat commented on #10225
Since this is being tracked via #10361 I am closing it.

[2018-08-06 01:31] #10225 closed

[2018-08-06 02:16] #4892 closed

[2018-08-06 04:05] vikram-redhat commented on #5850
This is listed here: https://docs.openshift.com/container-platform/3.10/install/host_preparation.html#setting-path. Closing.

[2018-08-06 04:05] #5850 closed

[2018-08-06 17:41] liggitt commented on #11165
this can be re-enabled in the master-config.yaml file if required:

[code]

[2018-08-06 18:12] mburke5678 commented on #10737
Closing. Please advise if we need to reopen.

[2018-08-06 18:12] #10737 closed

[2018-08-06 21:55] akesterton commented on #10436
Hi

My apologies, the filters on my email client pushed this to a folder I have not read for a while.  I will check on this tomorrow and get back to you.

regards

anthony

Anthony Kesterton, Senior Solution Architect, Red Hat
akesterton@redhat.com, +44 7971 780758

[2018-08-07 12:39] vijay-agrawal opened #11412 "[enterprise-3.10] Edit suggested in file architecture/index.adoc"
### Which section(s) is the issue in?
Fig 1

### What needs fixing?
No description on the architecture components..what is "Infra Node" purpose? "master node" purpose..either explain it concisely or remove the diagram..

[2018-08-07 15:31] whitingjr opened #11416 "[enterprise-3.10] Edit suggested in file upgrading/automated_upgrades.adoc"
### Which section(s) is the issue in?

Preparing for an Automated Upgrade > 3 > f

### What needs fixing?

The playbook in this section does not exist.

# ls /usr/share/ansible/openshift-ansible/playbooks/openshift-master/openshift_node_group.yml
ls: cannot access /usr/share/ansible/openshift-ansible/playbooks/openshift-master/openshift_node_group.yml: No such file or directory
#

 I suspect the a

[2018-08-07 21:40] ahardin-rh commented on #11165
Thanks!

[2018-08-07 21:40] #11165 closed

[2018-08-08 14:37] vikram-redhat commented on #10015
@xltian - could we get someone to QE these steps?

[2018-08-09 03:07] jhou1 commented on #10015
Looks good.

[2018-08-09 06:13] vikram-redhat commented on #11412
@bmcelvee - can you take a look at this? This issue is that this diagram may now be out of date and the text around it might need updating as well. Please consult with @adellape on it.

[2018-08-09 06:27] vikram-redhat commented on #11064
@kalexand-rh - smallish fix (if you think it needs fixing).

[2018-08-09 10:03] soltysh commented on #10458
Deprecated `oc env` and `oc volume` commands has been removed, users should use `oc set env` and `oc set volume` instead.

https://github.com/openshift/openshift-docs/pull/11449

[2018-08-09 13:32] kalexand-rh commented on #11416
This is the same issue as #11432, and I'm going to follow up with QE about the fix there. Thanks!

[2018-08-09 13:58] #11416 closed

[2018-08-09 21:09] vikram-redhat commented on #7753
@gaurav-nelson - PTAL.

[2018-08-10 02:25] #11299 closed

[2018-08-10 05:34] bfallonf commented on #5599
Sure. I've created a PR for this issue:

https://github.com/openshift/openshift-docs/pull/11491

It's a simple fix, but I'll verify with QE before merging.

[2018-08-10 05:35] #5599 closed

[2018-08-10 18:40] jsm84 opened #11504 "[enterprise-3.10] Edit suggested in file install_config/configuring_aws.adoc"
### Which section(s) is the issue in?
* Permissions
* Labeling Clusters for AWS

### What needs fixing?
There is inconsistency between each of these sections on what the tags/labels should be. Under the *Permissions* section, the labels are defined as `kubernetes.io/cluster/<name>,Value=<clusterid>`, whereas under *Labeling Clusters for AWS* they are mentioned as `kubernetes.io/cluster/<clusterid>

[2018-08-10 20:20] jsm84 opened #11507 "[enterprise-3.10] Edit suggested in file install/example_inventories.adoc"
### Which section(s) is the issue in?
* Multiple Masters Using Native HA with External Clustered etcd

### What needs fixing?
There is a reference to 3.9 which should read 3.10

[2018-08-12 08:54] vikram-redhat commented on #11504
@gaurav-nelson  - PTAL

[2018-08-12 08:57] vikram-redhat commented on #11507
@jsm84 - thanks for filing this. I looked here: https://docs.openshift.com/container-platform/3.10/install/example_inventories.html#multi-masters-using-native-ha-ai and I can't see the issue.

I am going to close it, but please feel free to reopen if you can point to the exact area where the issue is.

[2018-08-12 08:57] #11507 closed

[2018-08-12 23:48] gaurav-nelson commented on #11504
Thanks @jsm84 for pointing this one out. Somehow we missed to update those labels in https://github.com/openshift/openshift-docs/pull/10434, I will soon fix this.

[2018-08-12 23:59] #11504 closed

[2018-08-13 15:28] whitingjr opened #11528 "[enterprise-3.10] Edit suggested in file install/running_install.adoc"
### Which section(s) is the issue in?

Running the RPM-based Installer
Section 2

### What needs fixing?

The cluster command line needs to include a variable ansible_ssh_user.
eg

`# ansible-playbook /usr/share/ansible/openshift-ansible/playbooks/deploy_cluster.yml -e ansible_ssh_user=root`

Why does it need fixing.

Am seeing this issue
https://github.com/openshift/openshift-ansible/issues/4496

[2018-08-13 15:32] whitingjr commented on #11416
So it is. Sorry for not spotting that one. Thanks for sorting it.

[2018-08-14 00:14] akesterton commented on #10436
I am unable to tell if the revised instructions will make a difference.

[2018-08-15 16:10] whitingjr opened #11551 "[enterprise-3.10] Edit suggested in file install/running_install.adoc"
### Which section(s) is the issue in?

Uninstalling OpenShift Container Platform

### What needs fixing?

 An additional step needs executing before the Ansible playbook is run. Beforehand the user **must** stop the docker service. On every master/node in the cluster affected by uninstall.
  When the docker service is stopped this allows the uninstaller to call the tool docker-storage-setup. Which

[2018-08-15 16:26] whitingjr commented on #11551
Actually this is not the correct place to add service stop command. Instead it should be the uninstall.yml script that will distribute the command to each node.

[2018-08-15 16:26] #11551 closed

[2018-08-16 04:58] vikram-redhat commented on #11412
@bmcelvee - any update on this?

[2018-08-16 11:25] lukranawetter opened #11572 "[enterprise-3.9] Edit suggested in file release_notes/ocp_3_9_release_notes.adoc"
### Which section(s) is the issue in?

Asynchronous Errata Updates -> RHBA-2018:2335 - OpenShift Container Platform 3.9.40 Bug Fix and Enhancement Update

### What needs fixing?

Broken link:
<a href="https://access.redhat.com/errata/RHSA-2018:2335">RHBA-2018:2335</a>

Correct:
<a href="https://access.redhat.com/errata/RHBA-2018:2335">RHBA-2018:2335</a>

[2018-08-16 18:34] #9889 closed

[2018-08-16 21:27] vikram-redhat commented on #11572
@tmorriso-rh PTAL.

cc: @ahardin-rh

[2018-08-17 00:37] jsm84 opened #11595 "[enterprise-3.10] Edit suggested for https://docs.openshift.com/container-platform/latest URL"
### Which section(s) is the issue in?
https://docs.openshift.com/container-platform/latest

### What needs fixing?
change the redirect for 'latest' from 3.9 to 3.10

[2018-08-17 11:20] CelsoSantos opened #11607 "install_config/master_node_configuration.adhoc - Clarify Advanced Auditing documentation"
### Which section(s) is the issue in?
install_config/master_node_configuration.adhoc
Advanced Audit Section

### What needs fixing?
While for Basic Auditing it's clear that one must edit the master-config.yaml file, for advanced auditing it is unclear if one should add the parameters to the `auditConfig` key or if an additional key specific to advanced auditing is needed (something like `advancedA

[2018-08-17 11:40] vikram-redhat commented on #11595
@jsm84 - It does go to 3.10 docs for me. Are you seeing it go to 3.9?

[2018-08-17 11:40] #11595 closed

[2018-08-17 13:26] tmorriso-rh commented on #11572
WIP: https://github.com/openshift/openshift-docs/pull/11612

[2018-08-17 14:43] tmorriso-rh commented on #11572
The broken link is now fixed via https://github.com/openshift/openshift-docs/pull/11613. The change should be live soon. Closing this issue.

[2018-08-17 14:43] #11572 closed

[2018-08-17 17:42] kalexand-rh commented on #11607
@CelsoSantos, would this PR answer your questions?  https://github.com/openshift/openshift-docs/pull/11510

[2018-08-17 18:18] CelsoSantos commented on #11607
Indeed it does.
While I figured it out meanwhile, I find that the way the feature is
described is ambiguous on how to be applied, thus this issue.

Thank you.
Best Regards

On Fri, 17 Aug 2018, 18:42 Kathryn Alexander, <notifications@github.com>
wrote:

[2018-08-17 19:46] bmcelvee commented on #11412
Thanks @vijay-agrawal and @vikram-redhat! Tracking in https://github.com/openshift/openshift-docs/pull/11631.

[2018-08-17 19:46] #11412 closed

[2018-08-18 02:59] bparees opened #11633 "imagepolicy link points to wrong location"
https://docs.openshift.com/container-platform/3.10/admin_guide/image_policy.html

in the paragraph
[code]

the link points to:
https://docs.openshift.com/container-platform/3.10/admin_guide/image_policy.html#image-policy-configuring-the-image-policy-admission-plug-in

but it should point to:
https://docs.openshift.com/container-platform/3.10/install_config/master_node_configuration.html#master-con

[2018-08-18 03:00] bparees commented on #11633
@bmcelvee

[2018-08-20 15:16] bmcelvee commented on #11633
@bparees updating link in https://github.com/openshift/openshift-docs/pull/11647. Mind if I close this issue?

[2018-08-20 17:05] #11633 closed

[2018-08-21 14:15] kalexand-rh commented on #10015
Looks like there's a related bug: https://bugzilla.redhat.com/show_bug.cgi?id=1613759

[2018-08-21 20:21] juanvallejo commented on #10458
The `oc ex config patch` command will be removed in a future release, as it has been superseded by the `oc patch` command.

https://github.com/openshift/origin/pull/20665

[2018-08-22 04:30] Kiran01bm opened #11688 "[enterprise-3.10] Edit suggested in file admin_guide/scheduling/descheduler.adoc"
### Which section(s) is the issue in?
*Overview*

### What needs fixing?

Should it read as.. ?

[2018-08-22 08:43] rubin55 opened #11689 "[enterprise-3.9] Edit suggested in file getting_started/developers_console.adoc"
### Which section(s) is the issue in?
Under the header "Configuring Automated Builds"

### What needs fixing?
You provide the instructions to get the webhook url from the build config in Openshift. However, it is neglected to mention that you also need to set the Content Type to application/json. By default the Content Type is application/x-www-form-urlencoded, which will cause a HTTP 400 Bad Requ

[2018-08-22 15:08] uocxp commented on #6080
will this issue get ever closed ? The documentation is really confusing. I installed the cluster with Glusterfs also for logging and after about a month i realise  that [2]  suggest that using Glusterfs is not supported for Elasticsearch

[2018-08-23 06:54] Flemoz opened #11725 "[enterprise-3.10] Edit suggested in file rest_api/index.adoc"
### Which section(s) is the issue in?
Service Account Tokens

### What needs fixing?
On the 2nd step for adding policy to a service account, the example **system:serviceaccounts:test:robot** should be **system:_serviceaccount_:test:robot**. The name of the service account created by _oc create serviceaccount robot_ does not have _serviceaccount_ in plural.

[2018-08-23 18:50] stevekuznetsov opened #11734 "Object Schemas Render Incorrectly"
In the REST API reference, the object schemas are rendering incorrectly. Top-level fields are being added as children of the first child node, instead of the parent. For instance, `Build` schema has:

[code]

Whereas the documentation online has:

![screenshot from 2018-08-23 11-49-59](https://user-images.githubusercontent.com/7328370/44545716-acf2d480-a6ca-11e8-9e15-153f294c9a02.png)

This is cri

[2018-08-23 18:50] stevekuznetsov commented on #11734
/kind bug

[2018-08-24 06:33] vikram-redhat commented on #10458
Hawkular is deprecated and to be removed from 4.0. Prometheus Cluster Monitoring is GA.

Sign off on wording around this with Christian Vogel (@sichvoge)

[2018-08-24 12:59] tdudgeon opened #11750 "Docs needed for fixing broken glusterfs"
### Which section(s) is the issue in?
Possibly here: https://docs.okd.io/latest/install_config/persistent_storage/persistent_storage_glusterfs.html

### What needs fixing?

There seems to be no documentation on how to repair a broken glusterfs setup.
These would be very handy. At the least these topics should be covered:
1. fixing heketi when the database has become inconsistent with the state of

[2018-08-24 14:04] adelton opened #11751 "openshift start node is deprecated and --config no longer works"
### Which section(s) is the issue in?

https://docs.okd.io/latest/install_config/master_node_configuration.html

### What needs fixing?

The text says

and

However, running `openshift start node --config /etc/origin/node1/node-config.yaml` command which used to be working for many releases now fails with

[code]

So it seems that `openshift start node` should not longer be recommended and alterna

[2018-08-24 16:16] Shivkumar13 opened #11754 "[enterprise-3.6] Edit suggested in file dev_guide/secrets.adoc"
### Which section(s) is the issue in?

Using Secrets

### What needs fixing?
In Using Secrets section under "YAML Secret Object Definition", 3rd and 4th point

The value associated with keys in the the data map must be base64 encoded.

 The value associated with keys in the the stringData map is made up of plain text strings.

two times "the" is there before "data" and "stringData".

[2018-08-28 10:31] nickcmaynard opened #11777 "[enterprise-3.10] Edit suggested in file architecture/service_catalog/index.adoc"
### Which section(s) is the issue in?
Entire document.

### What needs fixing?
A section regarding service brokers for common providers.  We should have a brief(!) section for the AWS, Azure service brokers, a statement of how support is provided (by AWS/Azure) and links to the associated websites for customers to install and configure them.

[2018-08-28 12:41] uocxp commented on #6080
i don't really understand why the [documentation](https://docs.okd.io/3.10/install/configuring_inventory_file.html#advanced-install-cluster-logging) states only 3 options to configure the cluster logging (Option A: Dynamic with glusterfs,Option B: NFS Host Group,Option C: External NFS Host) and in then  another part of the [documentation](https://docs.okd.io/3.10/install_config/aggregate_logging.h

[2018-08-28 13:41] dariodsa opened #11778 "[enterprise-3.10] Edit suggested in file dev_guide/configmaps.adoc"
In the section "Consuming in Environment Variables" enviroment should be rename in environment. It appears two times.
"Enviroment variable to inject."

[2018-08-28 16:05] kalexand-rh commented on #11778
This should be fixed in all relevant versions. Thank you!

[2018-08-28 16:05] #11778 closed

[2018-08-28 16:33] nmenant opened #11794 "[enterprise-3.10] Edit suggested in file rest_api/index.adoc"
### Which section(s) is the issue in?

Service Account Tokens

### What needs fixing?

It's not:

`oc policy add-role-to-user admin system:serviceaccounts:test:robot`

but

`oc policy add-role-to-user admin system:serviceaccount:test:robot`

[2018-08-28 18:30] pavelanni opened #11800 "[enterprise-3.10] Edit suggested in file using_images/s2i_images/python.adoc"
### Which section(s) is the issue in?

Versions

### What needs fixing?

Currently OpenShift supports Python 3.6 as well. Please add it to the list of supported versions.

[2018-08-29 13:40] Gl4di4torRr opened #11809 "team documentation returns 404"
### Which section(s) is the issue in?
https://github.com/openshift/openshift-docs/blob/master/contributing_to_docs/contributing.adoc

Under the section **What happens when you submit a PR?**, the link `documentation team` returns a 404.

Here is the link it is pointing to:
https://github.com/orgs/openshift/teams/team-documentation

### What needs fixing?
Update url

[2018-08-29 15:20] whitingjr opened #11815 "[enterprise-3.10] Edit suggested in file getting_started/install_openshift.adoc"
### Which section(s) is the issue in?

Run the Installation Playbooks

### What needs fixing?

A new step needs adding after step 2. To instruct the user to set up htpasswd configuration.
Otherwise step 4 will fail.

[2018-08-29 16:16] kalexand-rh commented on #11815
@whitingjr, is that always true, though? I thought you had to uncomment lines to activate htpasswd.

[2018-08-29 19:52] kalexand-rh commented on #11607
This will be fixed with https://github.com/openshift/openshift-docs/pull/11835

[2018-08-29 19:52] #11607 closed

[2018-08-29 20:00] kalexand-rh commented on #11064
@vikram-redhat, this is a storage question.

[2018-08-30 00:01] vikram-redhat commented on #11809
@Gl4di4torRr Hey Chris, it seems that that link is only visible if you are a part of the OpenShift organisation. I have changed it and instead suggested that the use of the tag for team-documentation.

[2018-08-30 00:01] #11809 closed

[2018-08-30 06:33] vikram-redhat commented on #707
@gaurav-nelson bump

[2018-08-30 07:15] whitingjr commented on #11815
I have come across an issue where the cluster install fails. When the htpasswd file is not present.
 I've been told to do changes so the file can be found. Isn't that what you suggested @vrutkovs ?

[2018-08-30 07:31] vrutkovs commented on #11815
So there's three options on how to configure htpasswd auth:

* Set `openshift_master_identity_providers` only
   This would assume `/etc/origin/master/htpasswd` is already configured and present on the host
* Set `openshift_master_htpasswd_file`
   This option would copy a local htpasswd file to the host
* Set `openshift_master_htpasswd_users`
   This var would be used to generate a new htpasswd f

[2018-08-30 09:57] DanyC97 commented on #11815
@whitingjr would you mind extending your PR to include the options provided by @vrutkovs ? (thanks for the very clear info !)

[2018-08-30 10:13] whitingjr commented on #11815
@DanyC97 Sure. Where exactly do you want @vrutkovs options. In the section [Making configuration changes using Ansible](https://docs.openshift.com/container-platform/3.10/install_config/master_node_configuration.html#master-node-config-ansible) or [Run the Installation Playbooks](https://docs.openshift.com/container-platform/3.10/getting_started/install_openshift.html#run-the-installation-playbook

[2018-08-30 10:15] vrutkovs commented on #11815
This configuration is optional, imho it should go to master-node config docs

[2018-08-30 11:42] Gl4di4torRr commented on #11809
@vikram-redhat haha yeah, i noticed that once a redhat engineer referred to the tag in a pr. thanks!

[2018-08-30 12:29] kalexand-rh commented on #11528
Ok! I'll close this one, then. Please let us know if you come across more issues.

[2018-08-30 12:29] #11528 closed

[2018-08-31 14:41] whitingjr commented on #11815
Ok the issue turned out to not needing a fix. Making a change to the documentation unnecessary.

 I think this issue is no longer needed. I am happy this issue be closed.

[2018-08-31 14:45] vrutkovs commented on #11815
These options and difference still needs to be documented though

[2018-08-31 14:46] whitingjr commented on #11815
Ok I will do that.

[2018-08-31 15:33] whitingjr commented on #11815
Changes to the docs have been pushed.
 I've taken into consideration what's been [discussed](https://bugzilla.redhat.com/show_bug.cgi?id=1565447#c14) as the options (or not) for configuration.

[2018-08-31 15:41] kalexand-rh commented on #11815
@whitingjr, I don't see an update to https://github.com/openshift/openshift-docs/pull/11817. Did you put them in a different PR?

[2018-08-31 15:54] whitingjr commented on #11815
@kalexand-rh don't think so. I pushed another commit to the [branch](https://github.com/openshift/openshift-docs/pull/11817/commits). You should see it with this hash 84d7c5c9ed72e8ddee6c1a66185dea974d6b2608.

[2018-09-02 07:11] nak3 commented on #10015
Fix for the docs is fine. But, as some users and RH team is asking or misguiding `oc adm migrate storage` based on the comment in this issue, I will leave a note below.

oc client version, which runs `oc adm migrate storage --confirm`, does not need to be same with the apiserver version accurately. `oc migrate storage` w/ oc 3.7 against apiserver v3.6 is fine.

@enj verified it on bz#1587830.

[2018-09-04 14:45] mrafieee opened #11896 "[enterprise-3.3] Edit suggested in file install_config/cluster_metrics.adoc"
### Which section(s) is the issue in?

[code]
### What needs fixing?

it errors out the
[code]
[code]

[2018-09-04 14:53] afcollins opened #11897 "[enterprise-3.10] Release Notes - Control PID Sharing"
### Which section(s) is the issue in?

OCP 3.10 Release Notes, "Control Sharing the PID namespace"

### What needs fixing?

A link at the end of the section points to Expanding Persistent Volumes.

https://github.com/openshift/openshift-docs/blame/enterprise-3.10/release_notes/ocp_3_10_release_notes.adoc#L765-L768

[2018-09-04 14:54] afcollins opened #11898 "[enterprise-3.10] Release Notes - Control PID Sharing"
### Which section(s) is the issue in?

OCP 3.10 Release Notes, "Control Sharing the PID namespace"

### What needs fixing?

A link at the end of the section points to Expanding Persistent Volumes.

https://github.com/openshift/openshift-docs/blame/enterprise-3.10/release_notes/ocp_3_10_release_notes.adoc#L765-L768

[2018-09-04 14:55] #11898 closed

[2018-09-04 14:56] afcollins commented on #11898
duplicate of #11897.

[2018-09-04 16:14] mipam007 opened #11904 "[enterprise-3.9] Edit suggested in file security/network_security.adoc"
### Which section(s) is the issue in?

no section, just missing

### What needs fixing?
in whole OpenShift manuals there is missing possibility to list network policy applied/available

this options: oc get networkpolicy.networking.k8s.io --all-namespaces was found in kubernetes manual

[2018-09-05 13:30] enj commented on #10015
While this is true, we should not encourage it (since you can hit other incompatibilities).  In general our tooling should make sure that the correct version of `oc` is being used for all commands (since that is the only thing we actually test against).

[2018-09-06 03:30] praveenkumar opened #11913 "[enterprise-3.10] Edit suggested in file cli_reference/differences_oc_kubectl.adoc"
### Which section(s) is the issue in?

https://docs.openshift.com/container-platform/3.10/cli_reference/differences_oc_kubectl.html#differences-oc-kubectl-using-kubectl here following text is present.

[code]

### What needs fixing?

I think it other way around, something following. because oc binary have capability to change it to kubectl but not other way around (iirc.)

[code]

[2018-09-06 15:06] soltysh commented on #10458
`oc export` was deprecated in 3.10, will be removed in a future release, please use `oc get --export` instead.

[2018-09-06 15:39] mburke5678 commented on #10458
Due to a change in the authentication for the Kibana web console, you will need to log back into the console after upgrade and every 168 hours after initial log in. The Kibana console was migrated to oauth-proxy.
https://bugzilla.redhat.com/show_bug.cgi?id=1614255

[2018-09-06 19:55] whitingjr commented on #11815
@kalexand-rh are you wanting an edit similar to  @vrutkovs put in his comment ?

[2018-09-06 19:57] kalexand-rh commented on #11815
@whitingjr, I think that's what I was trying to find in your update.

[2018-09-06 20:00] whitingjr commented on #11815
@kalexand-rh I did nothing nearly like what you were looking for. I'll go back and do it right this time.

[2018-09-07 02:40] whitingjr commented on #11815
@kalexand-rh a change has been pushed to the branch.

[2018-09-11 16:03] davivcgarcia opened #11983 "[enterprise-3.10] Edit suggested in upgrading/os_upgrades.adoc"
### Which section(s) is the issue in?

https://docs.okd.io/3.10/upgrading/os_upgrades.html
https://docs.openshift.com/container-platform/3.10/upgrading/os_upgrades.html

### What needs fixing?

The procedure should describe in details how to proceed with the operating system level updates, making sure that `atomic-openshift-docker-excluder` and `atomic-openshift-excluder` are active to protect sen

[2018-09-12 12:16] #11983 closed

[2018-09-13 10:34] abessifi opened #12021 "[enterprise-3.7] Edit suggested in file admin_guide/managing_pods.adoc"
### Which section(s) is the issue in?

Configuring the RunOnceDuration Plug-in

### What needs fixing?

The following configuration is not supported by the OpenShift Master.
Tested on OCP 3.7. When restarting the Master process it says that `kubernetesMasterConfig.admissionConfig.pluginConfig` is not supported:

[code]

The `RunOnceDuration` plugin should be configured directly on `admissionConfig

[2018-09-13 16:16] secondsun opened #12026 "APB CLI documentation out of date"
### Which section(s) is the issue in?
APB Devel CLI tooling
https://github.com/openshift/openshift-docs/blob/master/apb_devel/cli_tooling.adoc

### What needs fixing?
apb build, init, and push are all deprecated when using apb (installed via the fedora instructions).

When I run `apb init` I get
[code]

When I run `apb build` I get
[code]

When I run `apb push` I get
[code]

The newer documentatio

[2018-09-14 16:59] AshleyDumaine opened #12035 "[enterprise-3.9] Edit suggested in file install_config/install/advanced_install.adoc"
### Which section(s) is the issue in?
Table 2. Networking Variables

### What needs fixing?
The section is missing the following configuration options:
- `openshift_master_external_ip_network_cidrs`
- `openshift_master_ingress_ip_network_cidr`.

I ended up needing to reference https://github.com/openshift/openshift-ansible/blob/release-3.9/inventory/hosts.example#L793-L800 the other day to get my

[2018-09-15 13:51] themoosman opened #12050 "[enterprise-3.10] openshift_hostname needs to be updated or removed"
### Which section(s) is the issue in?

OpenShift 3.10 documentation.

The `openshift_hostname` variable referenced [here](https://docs.openshift.com/container-platform/3.10/install/configuring_inventory_file.html#configuring-host-variables) needs to be updated or removed.  According to the [3.10 release notes](https://docs.openshift.com/container-platform/3.10/release_notes/ocp_3_10_release_notes.

[2018-09-17 15:15] soltysh commented on #10458
`oc types` is deprecated starting from 3.11 and will be removed in the next release, please use official documentation instead.

[2018-09-17 20:44] screeley44 opened #12071 "3.10 sample inventory files have oreg_url set - should we remove or comment for sample so default registry is used"
### Which section(s) is the issue in?
example inventory files
https://docs.openshift.com/container-platform/3.10/install/example_inventories.html

### What needs fixing?
Wondering if we want to have the non-default image repo set with vars:
- oreg_url
- openshift_examples_modify_imagestreams

[code]

Users might copy these sample inventory files to start and simply overlook that they are not using

[2018-09-19 11:50] camabeh opened #12090 "[enterprise-3.9] Edit suggested in file admin_guide/managing_projects.adoc"
### Which section(s) is the issue in?
https://docs.openshift.com/container-platform/3.9/admin_guide/managing_projects.html#disabling-self-provisioning

### What needs fixing?
wrong: `oc edit clusterrolebinding.rbac self-provisioners`
correct: `oc edit clusterrole.rbac self-provisioner`

and everything similar.

[2018-09-20 11:09] alexandrevicenzi opened #12104 "When to use OpenShift or OKD in the text"
### Which section(s) is the issue in?

Many.

### What needs fixing?

Many pages have references to OpenShift in the text and others have OKD.

There are pages that talks about OpenShift v3 and others that refer to OKD v3.
There are pages that in one paragraph is used OpenShift and other is used OKD.

This can cause some confusion in my opinion. Also, I'm not sure when to use one or another term.

[2018-09-20 11:41] whitingjr opened #12105 "[enterprise-3.10] Edit suggested in file architecture/additional_concepts/storage.adoc"
### Which section(s) is the issue in?

Storage classes

### What needs fixing?

This section **really** needs an example object definition. It has been a mystery how a pvc/sc and local provisioner are associated.

[2018-09-24 13:00] go2murali opened #12160 "Regarding documentation for hybrid Openshift deployment"
### Which section(s) is the issue in?
Could not find documentation for deploying Openshift Origin 3.6 with masters and infra nodes on VMs and application nodes on Bare metal

### What needs fixing?
Could you please provide documentation for deploying Openshift Origin 3.6 with masters and infra nodes on VMs and application nodes on Bare metal

[2018-09-25 08:52] Klaas- commented on #8375
So I followed the doc from #8671 and add my pki certs via configmap to the docker-registry deployment config. I still get an error like this on
[code]

I tried manually with rsh inside one of the registry containers and curl works fine. Side note: this is an ssl interception proxy we have to use.

Are there other certificate stores the registry uses that I need to modify? Are there more pods that

[2018-09-25 13:07] bparees commented on #8375
image import is unrelated to the registry.

image import is handled by the api server, so your api server process must have appropriate certificates as well.

this is where the "AdditionalTrustedCA" configuration setting can be used:
https://docs.okd.io/latest/install_config/master_node_configuration.html#master-config-image-policy-config

[2018-09-25 15:01] Klaas- commented on #8375
Thanks @bparees I'll give it a try

[2018-09-26 03:58] Kiran01bm opened #12187 "[enterprise-3.10] Edit suggested in file install_config/cluster_metrics.adoc"
### Which section(s) is the issue in?
OpenShift Prometheus. link is not working

### What needs fixing?
OpenShift Prometheus. link is not working

[2018-09-26 11:21] rbaumgar opened #12188 "[enterprise-3.10] Edit suggested in file install_config/router/default_haproxy_router.adoc"
### Which section(s) is the issue in?
Exposing Router Metrics

### What needs fixing?
under "You can get the information you need to access the metrics from the router service annotations:"
the correct command is
oc edit service route

under "To get metrics in a browser"
the correct command is
oc edit dc route
and only the environment variable ROUTER_METRICS_TYPE has to be deleted or renamed. Don'

[2018-09-26 11:27] rbaumgar commented on #12188
or much better for getting the information would be
oc describe dc router | grep STATS

[2018-09-27 08:39] #11754 closed

[2018-09-27 14:39] kalexand-rh opened #12200 "openshift_node_kubelet_args is deprecated"
In 3.10 and 3.11. See https://github.com/openshift/openshift-docs/pull/12154/files#r220841792 and https://github.com/openshift/openshift-docs/pull/12416#issuecomment-430138176

[2018-09-28 13:46] mhutter opened #12227 "Edit suggested in file install_config/master_node_configuration.adoc"
### Which section(s) is the issue in?

"Node Configuration Files".

### What needs fixing?

"Example 1" incorrectly states that `iptablesSyncPeriod` defaults to `5s`. This was changed back in 3.3 to `30s`: https://bugzilla.redhat.com/show_bug.cgi?id=1367199

### Affected

probably affects all versions and variants back to 3.3

[2018-10-01 16:47] ahardin-rh opened #12263 "3.11 Release Notes Feedback Tracker"
Comment with your feedback for the 3.11 Release Notes

[2018-10-01 20:58] brian-avery opened #12277 "Multiple instances of "* does not match a valid repository ID" when installing OpenShift"
### Which section(s) is the issue in?
Installing Clusters -> Preparing Your Hosts -> Host registration

### What needs fixing?
When installing OpenShift according to the documentation, I am told to attach the OpenShift subscription and then to do:

`subscription-manager repos \

However, this results in the following error:

`Error: 'rhel-7-server-rpms' does not match a valid repository ID. Use "s

[2018-10-01 23:32] robszumski commented on #12263
Make some Operator related edits here already: https://github.com/openshift/openshift-docs/pull/12270/

[2018-10-02 03:07] sr229 opened #12283 "Cover other cases from distributions beyond RHEL and Fedora"
Mirrored from openshift/origin#21032

While it is possible to run OpenShift on other OSes, the documentation seems to be written for RHEL and Fedora in mind. Given this state, it will be hard for some people to use OKD since its a very RHEL/Fedora-centric setup and installation documentation.

### What needs fixing?

- Cover some popular OS cases aside from Fedora/RHEL, (Debian and Ubuntu seems to

[2018-10-02 12:07] sichvoge commented on #12263
Made some edits to the Prometheus Cluster Monitoring section here: #12284

[2018-10-02 17:13] alexandrevicenzi commented on #12104
@kalexand-rh can you help me on this?

[2018-10-02 17:16] kalexand-rh commented on #12104
@alexandrevicenzi, can you give me a few specific examples? Unless we're talking about a component that has "OpenShift" in its name, we use the {product-title} variable to substitute the correct product name for that specific collection.

[2018-10-02 18:15] alexandrevicenzi commented on #12104
For example, [here](https://docs.okd.io/3.9/dev_guide/migrating_applications/index.html) is used in the same page both OpenShift v2 / v3 and OKD v3.

Also, [here](https://docs.okd.io/latest/whats_new/index.html) is used OpenShift v3 but it's "OKD Whats New".

[Here](https://docs.okd.io/latest/dev_guide/openshift_pipeline.html) is a case of a component name, in this case, it's correct.

Basically,

[2018-10-02 18:56] alexandrevicenzi commented on #12104
@kalexand-rh for me OKD is the "open source" version, that anyone can use. OpenShift for me is the product available on [openshift.com](https://www.openshift.com/). But I'm not 100% sure of that.

This is what I think it's confusing. Maybe it's a good idea to have a page explaining about OKD, OpenShift, Origin and any other project name related.

[2018-10-02 19:08] kalexand-rh commented on #12104
@vikram-redhat, what do you think about explaining the versions and names?
Should we defer trying to fix all the names in the collection to 4.0?

[2018-10-02 20:55] mbearer commented on #12263
- Should

_ say NAMESPACE or NAMESPCE?
- Space missing int his sentence:

- (.) missing in row 7 of the 4.0 Deprecated Features table

Can this sentence be simplified/clarified a bit:

[2018-10-03 13:30] jaywryan opened #12312 "[enterprise-3.10] Edit suggested in file install_config/certificate_customization.adoc"
### Which section(s) is the issue in?
https://docs.openshift.com/container-platform/3.10/install/configuring_inventory_file.html#advanced-install-custom-certificates
https://docs.openshift.com/container-platform/3.10/install_config/certificate_customization.html

### What needs fixing?
 * The references to cafile aren't valid.  the CA cert needs to be combined into the certfile.  the value here do

[2018-10-04 13:28] tmorriso-rh commented on #12263
+[[ocp-311-service-catalog-access-control]]
+==== Service Catalog Access Control
+
+The broker now confirms to the Open Service Broker specification, which means

typo - this should be conforms

[2018-10-04 16:20] ghyde opened #12326 "rhel-7-fast-datapath-rpms required by OCP-3.10"
### Issue

When executing a fresh install of OCP 3.10, the install fails because the package "openvswitch" is not available. The required version of this package is currently available in the "rhel-7-fast-datapath-rpms" repository.

This might apply to 3.11 as well, but I haven't checked.

### What needs fixing?

Revert commit #11763 for 3.10. Might need to revert #11762 for 3.11 and #11565 for ma

[2018-10-04 16:27] ghyde commented on #12326
@sdodson @kalexand-rh ^^

[2018-10-04 16:30] kalexand-rh commented on #12326
If @sdodson agrees, I'll put in the changes.

[2018-10-04 16:53] sdodson commented on #12326
That repo is not necessary in 3.10 or later.

[2018-10-04 18:21] ghyde commented on #12326
Yup, my mistake. The client's Ansible host had the 3.9 playbooks installed. After upgrading them to 3.10, it worked. Thanks for the feedback.

[2018-10-04 18:21] #12326 closed

[2018-10-07 19:18] mikehulsman opened #12351 "[enterprise-3.10] Edit suggested in file getting_started/configure_openshift.adoc"
### Which section(s) is the issue in?
Change Log In Identity Provider

### What needs fixing?
The location of the openshift-passwd file should be /etc/origin/master/ openshift-passwd
instead of /etc/origin/openshift-passwd
You get messages like: could not read file: stat /etc/origin/openshift-passwd: no such file or directory
All config files are read from within /etc/origin/master

[2018-10-08 02:43] binnyrs opened #12353 "[enterprise-3.10] Edit suggested in file install/disconnected_install.adoc"
### Which section(s) is the issue in?

orge_url=registry.example.com/openshift3/ose-${component}:${version}

### What needs fixing?

I think there is a typo. It should be "oreg_url" as below

oreg_url=registry.example.com/openshift3/ose-${component}:${version}