[2020-03-03 03:35] richardfontana opened #20183 "No apparent information on licensing on docs.okd.io"
### Which section(s) is the issue in?

All.

### What needs fixing?

docs.okd.io should somehow or other provide some basic legal information including at least how OKD docs are licensed. This should be consistent with https://github.com/openshift/openshift-docs/blob/master/LICENSE (which says openshift-docs are dual licensed under the Apache License 2.0 and the Creative Commons Attribution-ShareA

[2020-03-03 03:54] richardfontana commented on #20183
I see that the product docs legal notice is maintained in https://github.com/openshift/openshift-docs/blob/master/welcome/legal-notice.adoc (I assume). IMO it would **not** be preferable to reuse this for the community version, but if that's the easiest thing to do I guess that's okay. However there's one paragraph this notice that needs to be included also in the community version, at least in co

[2020-03-03 04:53] richardfontana opened #20185 "CC BY-SA attribution for openshift docs"
### Which section(s) is the issue in?

Legal Notice

### What needs fixing?

Either the enterprise docs Legal Notice should do something to reference the existence of the openshift-docs github repo, or we should stop using CC-BY-SA for OpenShift docs and instead use the Apache License 2.0 as the license of enterprise OpenShift docs.

Creative Commons licenses have requirements to provide attributi

[2020-03-03 05:41] dharmit commented on #20136
+1 to Aditi's suggestion.

[2020-03-03 10:21] adisky commented on #20136
/assign @boczkowska

[2020-03-03 15:36] tdaleibm commented on #19821
I agree. For instance the information at https://access.redhat.com/solutions/4845381 answers part of this and should be added to the docs.

[2020-03-03 17:14] KedarS05 opened #20197 "[enterprise-4.3] Edit suggested in file operators/operator_sdk/osdk-getting-started.adoc"
### Which section(s) is the issue in?

Managing memcached-operator section -> Step 5. Update an application.
-------------------------------------
https://docs.openshift.com/container-platform/4.3/operators/operator_sdk/osdk-getting-started.html#managing-memcached-operator-using-olm_osdk-getting-started
-------------------------------------

### What needs fixing?

The below link and  the file men

[2020-03-03 17:27] KedarS05 opened #20198 "[enterprise-4.3] Edit suggested in managing memcached operator"
### Which section(s) is the issue in?

Managing memcached-operator section -> Step 5. Update an application.

In the below statement the Operator manifest file hyperlink seems to be broken

- The following command demonstrates applying a new "[Operator manifest file](https://github.com/operator-framework/getting-started/blob/master/memcachedoperator.0.0.2.csv.yaml)" using a new version
   of the O

[2020-03-03 18:13] kalexand-rh commented on #20133
@jboxman, I'm confused. For the restricted vSphere registry, you pull the images from the public registry and load them elsewhere. It's the same public registry as any installation.

[2020-03-03 18:42] jboxman commented on #20133
@kalexand-rh, I'm not familiar with what URLs are public vs private/internal; I haven't been able to determine if this issue is valid or not.

[2020-03-03 21:30] codyhoag commented on #19567
This has been corrected in #20213. The published docs should be updated shortly. Thanks!

[2020-03-03 21:30] #19567 closed

[2020-03-03 21:37] yocum137 opened #20218 "[enterprise-4.3] Edit suggested in file service_mesh/service_mesh_install/installing-ossm.adoc"
### Which section(s) is the issue in?

Customer has encountered an issue with the "Installing the Jaeger Operator" section.

### What needs fixing?

Please add the following to the beginning of the section:

You must install the Jaeger Operator for the Red Hat OpenShift Service Mesh Operator to install the control plane.

Note: After installing the Elasticsearch Operator, ensure that the Elasticse

[2020-03-03 22:01] codyhoag commented on #19600
I checked this code block in our latest 4.3 docs and it appears to be correct now ([here](https://docs.openshift.com/container-platform/4.3/web_console/customizing-the-web-console.html#adding-a-custom-logo_customizing-web-console)).

[2020-03-03 22:01] #19600 closed

[2020-03-04 10:06] e-minguez commented on #20133
Let me try to clarify.

There are:
* registries exposed to internet where you can access without login (such as dockerhub, https://registry.centos.org/containers, etc.), aka. public registries.
* registries exposed to internet that require some kind of login (registry.redhat.io, others), aka. public registries (but require login)
* internal registries only accessible from within your company netwo

[2020-03-04 10:52] dmesser opened #20224 "[enterprise-4.3] Edit suggested in file networking/configuring_ingress_cluster_traffic/configuring-ingress-cluster-traffic-service-external-ip.adoc"
### Which section(s) is the issue in?

This chapter misses essential information on how to configure CIDR ranges that are used with external service IPs using `NetworkPolicy`. Because of this it is not clear, how the IP `172.30.131.89` from the example of the [Exposing a Service by Creating a Route](https://docs.openshift.com/container-platform/4.3/networking/configuring_ingress_cluster_traffic/co

[2020-03-04 13:05] ndox opened #20226 "[enterprise-4.3] Edit suggested in file installing/installing_aws/installing-aws-private.adoc"
### Which section(s) is the issue in?

Required VPC components

### What needs fixing?

As we might create a private cluster VPC should not required :

- Public subnets
- Internet GW

[2020-03-04 13:58] bergerhoffer commented on #18426
Hopefully should be caught in the fixed issues bug query, but https://bugzilla.redhat.com/show_bug.cgi?id=1806620 should be included in the bug fixes section.

[2020-03-04 15:38] codyhoag commented on #19992
Thanks! Fixed and merged here: #20229. This should be published soon.

[2020-03-04 15:38] #19992 closed

[2020-03-04 16:53] codyhoag commented on #19919
Fixed in #20038

[2020-03-04 16:53] #19919 closed

[2020-03-04 16:56] #20130 closed

[2020-03-04 21:41] bmcelvee commented on #20224
Since there is an existing, related Jira issue (https://issues.redhat.com/browse/OSDOCS-536). I'm going to go ahead and link this Github there so the work can be tracked in one place.

Thanks again, @dmesser, for brining this up!

[2020-03-04 21:41] #20224 closed

[2020-03-05 01:15] vikram-redhat commented on #20218
@JStickler @neal-timpe

[2020-03-05 01:16] vikram-redhat commented on #20198
@adellape https://docs.openshift.com/container-platform/4.3/operators/operator_sdk/osdk-getting-started.html#managing-memcached-operator-using-olm_osdk-getting-started

[2020-03-05 01:19] vikram-redhat commented on #20185
Thanks @richardfontana. @sferich888 and @reestr do you have a preference/thoughts on this? Once I hear from you I will run by legals/BU.

[2020-03-05 01:19] vikram-redhat commented on #20185
@aheslin FYI

[2020-03-05 01:24] vikram-redhat commented on #20183
@vrutkovs @dmueller2001 - what is the licensing for OKD and for OKD docs?

@mburke5678 FYI.

[2020-03-05 03:37] filiy opened #20254 "[enterprise-4.3] Edit suggested in file metering/configuring_metering/metering-configure-persistent-storage.adoc"
### Which section(s) is the issue in?

Under the Storing data in Microsoft Azure. In the example under "You can use the following command to create the secret."

### What needs fixing?

oc create secret -n openshift-metering generic your-azure-secret --from-literal=azure-storage-account-name=your-storage-account-name --from-literal=azure-secret-access-key-your-secret-key

Should be:

oc create sec

[2020-03-05 05:41] vikram-redhat commented on #20254
@maximsvistunov PTAL

[2020-03-05 05:41] vikram-redhat commented on #20254
https://docs.openshift.com/container-platform/4.3/metering/configuring_metering/metering-configure-persistent-storage.html#metering-store-data-in-azure_metering-configure-persistent-storage

[2020-03-05 06:45] vikram-redhat commented on #20111
@mburke5678 is this because of reusing the same text in the assembly and module?

[2020-03-05 08:51] vrutkovs commented on #20183
@vikram-redhat OKD docs are licensed same as OCP docs

[2020-03-05 13:24] mburke5678 commented on #20111
@vikram-redhat Probably. I can rework one or the other sentence to make it less redundant.

[2020-03-05 14:10] kalexand-rh commented on #20133
@ahardin-rh, @sjug, is there an external source for the cluster loader instead of `registry.svc.ci.openshift.org/ocp/4.3:tests`?

[2020-03-05 14:54] codyhoag commented on #19599
Fixed and merged in #20245. This should be published soon. Thanks!

[2020-03-05 14:54] #19599 closed

[2020-03-05 16:33] knrc commented on #20218
@objectiser may be able to advise

[2020-03-05 17:27] objectiser commented on #20218
@JStickler I thought the install section does require the user to first install Elasticsearch Operator, then Jaeger operator and only then Service Mesh operator?

@yocum137 just to confirm, you are referring to the Elasticsearch Operator pod? This may be a side effect of the "requires" dependency currently defined between the Jaeger operator and Elasticsearch operator, which will be removed in the

[2020-03-05 20:49] mburke5678 commented on #20111
Making changes in https://github.com/openshift/openshift-docs/pull/20272

[2020-03-05 20:49] #20111 closed

[2020-03-05 21:23] KedarS05 opened #20276 "[enterprise-4.2] Edit suggested in file web_console/customizing-the-web-console.adoc"
### Which section(s) is the issue in?
Step 2 of Procedure:[Edit the web console’s Operator configuration to include customLogoFile and customProductName:] the document points to wrong command needs to be modified to the below command.

$ oc apply -f <file> <-----------------------------------------Wrong command which does not suggest an edit
$ oc edit console.operator.openshift.io cluster <------N

[2020-03-06 08:29] tommituura opened #20282 "[enterprise-4.3] Edit suggested in file networking/routes/secured-routes.adoc: Add documentation about edge-Redirect scenario"
### Which section(s) is the issue in?

There is no documentation of following scenario that is documented for 3.11:
"Example 8. A Secured Route Using Edge Termination Redirecting HTTP Traffic to HTTPS"
[code]

### What needs fixing?

EITHER add the edge-Redirect scenario into 4.3 documentation OR state the reason for this omission. Is the edge-Redirect scenario still supported, going forward? (We

[2020-03-06 15:51] ahardin-rh commented on #19764
Thank you! This is now addressed in https://github.com/openshift/openshift-docs/pull/20286

[2020-03-06 15:51] #19764 closed

[2020-03-06 16:53] ahardin-rh commented on #12409
This was addressed in https://github.com/openshift/openshift-docs/pull/12579

[2020-03-06 16:53] #12409 closed

[2020-03-06 17:37] ahardin-rh commented on #12512
Resolved in https://github.com/openshift/openshift-docs/pull/20292

[2020-03-06 17:37] #12512 closed

[2020-03-07 04:12] adellape commented on #20198
Looks like they were removed via https://github.com/operator-framework/getting-started/pull/57.

Might be able to use the following instead:

https://github.com/operator-framework/operator-sdk/blob/master/test/test-framework/deploy/olm-catalog/memcached-operator/0.0.2/memcached-operator.v0.0.2.clusterserviceversion.yaml

Will update again shortly.

[2020-03-07 09:18] KedarS05 commented on #20198
@adellape thanks .. i guess we need to make these changes in every OCP 4.x documentation as the link seems to be missing from every documentation section. For now we can provide this manifest file to the users.

[2020-03-09 09:21] tale-toul opened #20323 "[enterprise-4.3] Edit suggested in file installing/installing_aws/installing-aws-vpc.adoc"
### Which section(s) is the issue in?

Installation configuration parameters,  table 3. Optional AWS parameters

### What needs fixing?
The parameter platform.aws.subnets should contain a subnet id, not a valid subnet range

[2020-03-09 15:33] tux-o-matic commented on #19523
@bobfuru, you recently added more documentation for this setup that is considered unstable.

[2020-03-09 15:36] 0kashi opened #20337 "[dedicated] Edit suggested in file storage/understanding-persistent-storage.adoc"
### Which section(s) is the issue in?
https://docs.openshift.com/dedicated/4/storage/understanding-persistent-storage.html#types-of-persistent-volumes_understanding-persistent-storage

### What needs fixing?
OpenShift Dedicated supports EBS volumes_only_ . The others in that list are not supported. Please remove:
Azure Disk
Azure File
Cinder
GCE Persistent Disk

[2020-03-09 15:44] 0kashi opened #20338 "[dedicated] Edit suggested in file storage/understanding-persistent-storage.adoc"
### Which section(s) is the issue in?
https://docs.openshift.com/dedicated/4/storage/understanding-persistent-storage.html#pv-access-modes_understanding-persistent-storage

### What needs fixing?
As OSD only supports EBS volumes this section is mostly incorrect since EBS supports RWO only.
Table 1 should only include the row for AWS EBS
Table 2 should only include the row for RWO

Remove any refer

[2020-03-09 19:47] chuckersjp opened #20360 "[enterprise-4.2] Edit suggested in file installing/installing_vsphere/installing-vsphere.adoc"
### Which section(s) is the issue in?
https://docs.openshift.com/container-platform/4.2/installing/installing_vsphere/installing-vsphere.html#installation-vsphere-machines_installing-vsphere

Step 5 section d.

### What needs fixing?

This section states:
```In the window that is displayed, enter the folder name. The folder name must match the cluster name that you specified in the install-config.

[2020-03-10 05:24] vikram-redhat commented on #20183
Thanks @vrutkovs - I am clarifying some licensing aspects with Richard offline and once done will add the same license to the OKD docs.

[2020-03-10 07:04] rh-max commented on #20254
Thanks @filiy for reporting! Addressed in https://github.com/openshift/openshift-docs/pull/20370.
@vikram-redhat , could you please merge #20370 and cherry-pick it into `enterprise-4.3` and `enterprise-4.2`? It's a simple fix and needs no further review.

[2020-03-10 09:39] #20254 closed

[2020-03-10 12:49] bergerhoffer commented on #19627
QE approval received and PRs have been merged for 4.1-4.4.

[2020-03-10 13:52] bergerhoffer commented on #12997
Closing as this no longer seems to be an issue. The _Redeploying Certificates_ section is available in the 3.11 OKD docs here: https://docs.okd.io/3.11/install_config/redeploying_certificates.html

[2020-03-10 13:52] #12997 closed

[2020-03-10 13:54] bergerhoffer commented on #16661
Closing as this was recently updated to use a token for the login: https://docs.openshift.com/container-platform/4.1/authentication/identity_providers/configuring-google-identity-provider.html

[2020-03-10 13:55] #16661 closed

[2020-03-10 14:03] bergerhoffer commented on #16415
@hexfusion or @retroflexer - can you confirm whether this should be updated in the docs for 3.11 [1] to only move the etcd pod file as suggested here?

[1] https://docs.openshift.com/container-platform/3.11/day_two_guide/environment_backup.html#etcd-data-backup_environment-backup

[2020-03-10 14:28] bergerhoffer commented on #12762
PR to fix extra space: https://github.com/openshift/openshift-docs/pull/20382

[2020-03-10 14:37] ableischwitz opened #20384 "Update links to OCP-4.3 errata"
### Which section(s) is the issue in?
/updating/updating-cluster-cli.html

### What needs fixing?
"You can find information about available OpenShift Container Platform advisories and updates **in the errata section** of the Customer Portal." <= Link pointing to **OCP-4.1 errata**, should be **4.3** with 4.3 documentation.
Are there ways to link the version of the doc to the versions given in the

[2020-03-10 14:40] bergerhoffer commented on #14931
Fixed with this PR: https://github.com/openshift/openshift-docs/pull/20385

[2020-03-10 15:18] codyhoag commented on #20384
Thanks for pointing this out! Submitted and merged for 4.2 and 4.3: #20386 and #20387

[2020-03-10 15:18] #20384 closed

[2020-03-10 16:11] michaelshire opened #20388 "[enterprise-4.3] Edit suggested in file applications/projects/configuring-project-creation.adoc"
### Which section(s) is the issue in?
Disabling project self-provisioning
https://docs.openshift.com/container-platform/4.3/applications/projects/configuring-project-creation.html#disabling-project-self-provisioning_configuring-project-creation

### What needs fixing?
The process is not working, erroring similar to issue identified here:
Related to https://github.com/openshift/origin/issues/21703

[2020-03-10 16:56] bergerhoffer commented on #19627
Closing, removal is live: https://docs.openshift.com/dedicated/4/support/getting-support.html

[2020-03-10 16:56] #19627 closed

[2020-03-10 17:11] bergerhoffer commented on #19399
@CSSolomon Can you provide more details on the steps you used? Did you complete the previous step of `RELEASE_IMAGE=<release_image>`?

We did just fix a bug in the example provided where `quay.io/openshift-release-dev/ocp-release:4.3.0` was fixed to be `quay.io/openshift-release-dev/ocp-release:4.3.0-x86_64`. Let me know if this resolves the error, or if there is still an issue. Thanks!

[2020-03-10 17:20] bergerhoffer commented on #12869
PR submitted to add the missing brace: https://github.com/openshift/openshift-docs/pull/20389

[2020-03-10 17:26] bergerhoffer commented on #16485
This is documented here [1] as of 4.2. Closing, thanks!

[1] https://docs.openshift.com/container-platform/4.2/installing/install_config/configuring-firewall.html#configuring-firewall_configuring-firewall

[2020-03-10 17:26] #16485 closed

[2020-03-11 13:25] dmesser opened #20401 "[enterprise-4.4] Edit suggested in file operators/operator-reference.adoc"
### Which section(s) is the issue in?

List of Red Hat Operartors

### What needs fixing?

Operator Lifecycle Manager with it's OperatorHub API is missing.

[2020-03-11 14:49] bergerhoffer commented on #12762
Closing, fix is live: https://docs.openshift.com/container-platform/3.11/dev_guide/projects.html#create-a-project

[2020-03-11 14:49] #12762 closed

[2020-03-11 14:51] bergerhoffer commented on #14931
Closing, update is live: https://docs.openshift.com/container-platform/3.11/cli_reference/admin_cli_operations.html#router

[2020-03-11 14:51] #14931 closed

[2020-03-11 14:52] bergerhoffer commented on #12869
Closing, update is live: https://docs.openshift.com/container-platform/3.11/install_config/certificate_customization.html#ansible-configuring-custom-certificates

[2020-03-11 14:52] #12869 closed

[2020-03-11 19:06] cskidmor opened #20414 "[enterprise-4.2] Edit suggested in file networking/routes/route-configuration.adoc"
### Which section(s) is the issue in?

the route-configuration section or possibly other sections where the reference to F5 BIG-IP seems to be omitted.

### What needs fixing?

As part of the earlier 3.11 documentation from the following link:

https://docs.openshift.com/container-platform/3.11/install_config/router/f5_router.html

"The F5 router plug-in will be deprecated in OpenShift Container P

[2020-03-12 03:46] jimmy-wei opened #20429 "[enterprise-4.3] Edit suggested in file operators/operator_sdk/osdk-generating-csvs.adoc"
### Which section(s) is the issue in?

How CSV generation works

### What needs fixing?

The `olm-catalog gen-csv` is replaced by `generate csv`. I am using `operator-sdk version: v0.15.2`. I am confused about which subcommand will be used in the future.

[2020-03-13 04:09] mattparko opened #20455 "[enterprise-3.11] Edit suggested in file install/running_install.adoc"
### Which section(s) is the issue in?

Running the Installation Playbook for OpenStack

### What needs fixing?

This is a dead link

[2020-03-13 07:22] pradeepanchan commented on #13197
Yes, the command is still incorrect.
The location is at [https://docs.openshift.com/container-platform/3.11/admin_guide/sdn_troubleshooting.html#debugging-the-router](url)

The fix is still the same as what i suggested above.

I observed that the entire  _Cluster Administration_ section is missing in 4.x documents.

[2020-03-13 20:06] codyhoag commented on #18426
**Installing a cluster on Microsoft Azure using user-provisioned infrastructure**

OpenShift Container Platform 4.4 introduces support for installing a cluster on Azure using user-provisioned infrastructure. This allows you to deploy your own infrastructure hosted on Azure instead of being forced to use the opinionated installer-provisioned infrastructure. Running user-provisioned infrastructure o

[2020-03-13 20:27] jboxman commented on #20455
@mattparko, thanks for reporting this!

[2020-03-13 20:27] #20455 closed

[2020-03-14 13:32] janehojy opened #20479 "[enterprise-4.3] Edit suggested in file operators/olm-restricted-networks.adoc"
### Which section(s) is the issue in?
Using Operator Lifecycle Manager on restricted networks > Testing an Operator catalog image
https://docs.openshift.com/container-platform/4.3/operators/olm-restricted-networks.html#olm-testing-operator-catalog-image_olm-restricted-networks

### What needs fixing?

Under step 7: Create a Subscription that resolves the latest available servicemeshoperator and it

[2020-03-14 13:35] dmoebius commented on #1868
In https://bugzilla.redhat.com/show_bug.cgi?id=1477765 I don't see any mentioning of `oc apply` or any reference to this issue here, so I fear that the whole thing got lost.
2½ years later and the OKD docs still have no proper docs for `oc apply`!

[2020-03-14 14:29] janehojy opened #20480 "[enterprise-4.3] Edit suggested in file logging/cluster-logging-deploying.adoc"
### Which section(s) is the issue in?

Deploying cluster logging > Install the Elasticsearch Operator using the CLI

### What needs fixing?

Under section 2, **Install the Elasticsearch Operator by creating the following objects:**

c. Create a Subscription object YAML file (for example, eo-sub.yaml) to subscribe a Namespace to an Operator.

Example subscription
[code]

it should be stated clearly

[2020-03-14 14:38] tsailiming commented on #20360
The document should also highlight that the folder name is a top level folder.

[2020-03-14 14:45] tsailiming opened #20481 "[enterprise-4.3] Edit suggested in file operators/olm-restricted-networks.adoc"
### Which section(s) is the issue in?

Building an Operator catalog image

`podman version 1.5.1+`

### What needs fixing?

I believe this has been tested with podman version 1.4.4+.
See https://bugzilla.redhat.com/show_bug.cgi?id=1804690

[2020-03-14 15:11] janehojy commented on #20480
Same goes for the clo-sub.yaml file if [installing the Cluster Logging Operator using the CLI](https://docs.openshift.com/container-platform/4.3/logging/cluster-logging-deploying.html#cluster-logging-deploy-clo-cli_cluster-logging-deploying).

[code]

[2020-03-14 17:11] janehojy opened #20482 "[enterprise-4.3] Edit suggested in file storage/persistent_storage/persistent-storage-local.adoc"
### Which section(s) is the issue in?

Persistent storage using local volumes > [Using tolerations with Local Storage Operator Pods](https://docs.openshift.com/container-platform/4.3/storage/persistent_storage/persistent-storage-local.html#local-tolerations_persistent-storage-local)

### What needs fixing?

The sample yaml file is insufficient to create the CR.

[code]

[code]

As the error sugges

[2020-03-14 21:37] vikram-redhat commented on #20414
Documentation for partner content is still under review.

[2020-03-14 21:37] #20414 closed

[2020-03-15 04:31] janehojy opened #20483 "[enterprise-4.3] Edit suggested in file networking/configuring-networkpolicy.adoc"
### Which section(s) is the issue in?

[Configuring multitenant isolation using NetworkPolicy](https://docs.openshift.com/container-platform/4.3/networking/configuring-networkpolicy.html#nw-networkpolicy-multitenant-isolation_configuring-networkpolicy-plugin )

### What needs fixing?

Multitenant isolation is missing allow from same namespace

[code]

[2020-03-15 15:50] janehojy opened #20485 "[enterprise-4.2] Edit suggested in file logging/config/cluster-logging-tolerations.adoc"
### Which section(s) is the issue in?

[Using tolerations to control cluster logging pod placement](https://docs.openshift.com/container-platform/4.2/logging/config/cluster-logging-tolerations.html) > Using tolerations to control the Elasticsearch Pod placement

### What needs fixing?

Under the section "Using tolerations to control the Elasticsearch Pod placement"

[code]

The toleration should b

[2020-03-15 18:42] bderiso opened #20486 "“no longer supported” text overlaps body on mobile"
This is using Safari or Chrome on iOS 13.3.1, iPhone XR.

### Which section(s) is the issue in?
Overlay

### What needs fixing?
Add ability to dismiss message?
Change text to render in-line?

[2020-03-15 18:42] bderiso commented on #20486
![52AB3FF9-1B8D-48F6-BC02-122FAAB36CA1](https://user-images.githubusercontent.com/6864575/76708173-d4e9c480-66c2-11ea-92f8-672f67571866.png)

[2020-03-15 18:43] bderiso commented on #20486
![B768EBBE-86CF-4821-BD42-6C2AB36E8834](https://user-images.githubusercontent.com/6864575/76708189-e92dc180-66c2-11ea-92e6-096518f50daa.png)

[2020-03-15 18:44] bderiso commented on #20486
Example: https://docs.openshift.com/container-platform/3.10/welcome/index.html
![0AD7CDBF-379C-4B8C-96A6-59F914F098A3](https://user-images.githubusercontent.com/6864575/76708213-1ed2aa80-66c3-11ea-8842-a694cb193d32.png)

[2020-03-15 19:25] jboxman commented on #20486
@vikram-redhat, this looks like it's on mobile.

[2020-03-16 00:54] bergerhoffer commented on #18426
**Evicting Pods using the descheduler (Technology Preview)**

The descheduler provides the ability to evict a running Pod so that the Pod can be rescheduled onto a more suitable node.

You can benefit from descheduling Pods in situations such as the following:

- Nodes are underutilized or overutilized.
- Pod and node affinity requirements, such as taints or labels, have changed and the original s

[2020-03-16 16:27] mburke5678 commented on #1868
@dmoebius `oc apply` is currently in the CLI guide:
https://docs.okd.io/latest/cli_reference/openshift_cli/developer-cli-commands.html#apply

It seems to have been added November 2018: https://github.com/openshift/openshift-docs/pull/12726/files#diff-9aec59d43f8d745a066ed53cadc27e83R616-R621

[2020-03-16 18:50] dmoebius commented on #1868
@mburke5678 thanks for the pointer, wasn't aware of this. It's missing in the 3.11 docs. But it's a bit scarce, isn't it? Given that `apply` is the most important and powerful command for handling config changes to templates and deployments. Anyway, that's not the topic of this ticket. Case closed.

[2020-03-16 18:58] mburke5678 commented on #20480
@janehojy Does this PR address your concerns?
https://github.com/openshift/openshift-docs/pull/20504

[code]

[2020-03-17 01:49] vikram-redhat commented on #18426
Might need to go into 4.2+ but definitely 4.4. https://bugzilla.redhat.com/show_bug.cgi?id=1814081

[2020-03-17 07:52] janehojy commented on #20480
Yes that PR makes it clearer. Thanks @mburke5678

[2020-03-17 14:19] elafontaine opened #20516 "[enterprise-4.1] Edit suggested in file networking/configuring_ingress_cluster_traffic/configuring-ingress-cluster-traffic-ingress-controller.adoc"
### Which section(s) is the issue in?
enterprise 4.1

### What needs fixing?
There is no reference documentation in regards to the standard kubernetes ingress resource which is required when trying to stay compliant with cloud managed K8s products (that include an ingress resource in their helm charts).

I've been trying to find the mechanics/rules for which a route resource is generated for an in

[2020-03-17 14:20] elafontaine commented on #20516
sorry for the "which section"; should be this link ;
https://docs.openshift.com/container-platform/4.3/networking/configuring_ingress_cluster_traffic/configuring-ingress-cluster-traffic-ingress-controller.html

[2020-03-17 15:02] ahardin-rh commented on #20276
The fix in https://github.com/openshift/openshift-docs/pull/20277 is now merged

[2020-03-17 15:02] #20276 closed

[2020-03-17 22:14] b-mchugh opened #20539 "[enterprise-3.11] Edit suggested in file install/disconnected_install.adoc"
### Which section(s) is the issue in?
$ docker pull registry.redhat.io/rhel7/etcd:3.2.22

### What needs fixing?
$ docker pull registry.redhat.io/rhel7/etcd:3.2.26

[2020-03-18 12:31] m3adow opened #20541 "[enterprise-4.3] Edit suggested in file logging/cluster-logging-uninstall.adoc"
### Which section(s) is the issue in?

In the second point of the "Uninstalling cluster logging from OpenShift Container Platform" section.

### What needs fixing?

There is a strange symbol at the end of the PVC deletion shell command, `￼` which has to be removed.

[2020-03-18 14:08] codyhoag commented on #20541
@m3adow I didn't see any strange symbols on my end. Can you provide any additional info (or screenshot) describing this issue?

This is a screenshot from https://docs.openshift.com/container-platform/4.3/logging/cluster-logging-uninstall.html when I viewed it using Chrome:

![Screenshot from 2020-03-18 10-02-50](https://user-images.githubusercontent.com/1738558/76968786-d7852d80-68ff-11ea-9615-bbe

[2020-03-18 14:31] dglib opened #20547 "[enterprise-4.3] Edit suggested in file registry/configuring_registry_storage/configuring-registry-storage-vsphere.adoc"
### Which section(s) is the issue in?
Configuring registry storage for VMware vSphere
Step 4a

### What needs fixing?

[code]
Change to

[code]
For NFSv4 support, the path must be "path: /" since the /etc/exports example includes the option "fsid=0" which root's the exported share.

[2020-03-18 14:48] m3adow commented on #20541
I'm using Firefox, this is my view:

![image](https://user-images.githubusercontent.com/1872304/76972777-5c3b7000-692f-11ea-898f-25d5161efa73.png)

I tested it with my Firefox installation, a Private Browsing Window and a Selenium installation of Firefox, so I assume it's a Firefox issue.

[2020-03-18 15:00] codyhoag commented on #20541
Very weird. My Firefox browser doesn't show that character either. There is whitespace at the end of that command. I'll remove it and republish and we'll see if that fixes it.

[2020-03-18 16:05] codyhoag commented on #20541
@m3adow the fix should be published now. Can you confirm the strange character is removed?

https://docs.openshift.com/container-platform/4.3/logging/cluster-logging-uninstall.html

[2020-03-18 22:11] lbrigman124 opened #20577 "[OKD] Vsphere install page references Redhat Cluster Manager"
### Which section(s) is the issue in?
https://docs.okd.io/latest/installing/installing_vsphere/installing-vsphere.html#installing-vsphere
Internet and Telemetry Access for OKD

### What needs fixing?
Document what is needed for OKD installations instead of OpenShift Enterprise entitlements.

[2020-03-18 22:41] lbrigman124 commented on #20577
There are other references on this page further down that refer to RHCOS as the base images.

This URL reference later: https://access.redhat.com/articles/4128421
for prereqs in user provisioned infrastructure.

References to Redhat images: https://access.redhat.com/downloads/content/290
And a Redhat COS Mirrors: https://mirror.openshift.com/pub/openshift-v4/dependencies/rhcos/4.3/

[2020-03-18 22:44] lbrigman124 opened #20578 "[OKD] Document pages footer"
### Which section(s) is the issue in?
All pages in the OKD docs show a RedHat logo and Powered by OpenShift Online by Redhat.

### What needs fixing?
I'm unsure if this needs a fix or not but it should be examined to determine the right information on the footer.

[2020-03-19 09:09] m3adow commented on #20541
Looks good to me.

[2020-03-19 09:09] #20541 closed

[2020-03-19 13:48] mmuehlfeldRH commented on #18426
I created a PR for a RN, but it still needs to be reviewed:
https://github.com/openshift/openshift-docs/pull/20073#issuecomment-601174814

[2020-03-19 13:52] rheinzma commented on #19217
While https://v1-16.docs.kubernetes.io/docs/concepts/storage/storage-limits/#dynamic-volume-limits mentions dynamic support for AWS, GCP, Azure and how to handle this in CSI. How does this work with Cinder etc. ?

[2020-03-19 18:52] mburke5678 commented on #20578
The OKD Latest docs appear to have the same footer as the OKD 3.x docs.
@vikram-redhat @vrutkovs Is the  footer for the OKD docs appropriate or do we need a change?

[2020-03-19 18:53] mburke5678 commented on #20577
@vrutkovs Is this something you can help with?

[2020-03-19 18:58] mburke5678 commented on #20485
I believe we made these changes in https://github.com/openshift/openshift-docs/pull/20533/files

Thanks for pointing this out!

[2020-03-19 18:58] #20485 closed

[2020-03-19 18:59] #20480 closed

[2020-03-19 19:40] vrutkovs commented on #20578
OKD is a Red Hat-sponsored project (like Fedora for instance) and docs site is powered by OpenShift Online.

What would you like to change?

[2020-03-19 19:40] vrutkovs commented on #20577
Yeah, I'll take care of that

[2020-03-19 21:44] lbrigman124 commented on #20578
I was just asking that others with more knowledge verify that the OKD project authorized to use the Redhat logo and other icons that are in the footer of every doc page.

[2020-03-20 08:31] #17653 closed

[2020-03-20 08:34] #19933 closed

[2020-03-21 01:29] #20578 closed

[2020-03-21 20:55] jboxman commented on #20483
Hi @zhaozhanqi, do you know if we also need the above network policy to get the same behavior as OpenShift SDN _multitenant_ mode offers?

Thanks!

[2020-03-23 02:46] s1061123 opened #20630 ""Configuration for ipam CNI plug-in" section needs to be clarified with each IPAM plugin because of its configuration."
### Which section(s) is the issue in?

"Configuration for ipam CNI plug-in" in the following documents:
- https://docs.openshift.com/container-platform/4.3/networking/multiple_networks/configuring-bridge.html#nw-multus-ipam-object_configuring-bridge
- https://docs.openshift.com/container-platform/4.3/networking/multiple_networks/configuring-ipvlan.html#nw-multus-ipam-object_configuring-ipvlan
- ht

[2020-03-23 06:27] zhaozhanqi commented on #20483
@jboxman no need for multitenant mode. it's for `networkpolicy` mode only.

[2020-03-23 15:27] bobfuru commented on #19523
@tux-o-matic Red Hat registries are moving towards documenting and encouraging object storage as the most stable and therefore recommended storage solution for scale, availability, and resilience. Anything other than object storage starts to impede on one or more of these imperatives.

[2020-03-23 16:36] jboxman commented on #20483
@zhaozhanqi, but do I need to use all 3 of these policies, or just the first 2?

[code]

[2020-03-23 17:02] jboxman commented on #19612
Applies to: https://docs.openshift.com/container-platform/4.3/installing/install_config/installation-types.html

[2020-03-23 23:33] jxadro opened #20644 "[enterprise-4.3] Edit suggested in file service_mesh/service_mesh_install/preparing-ossm-installation.adoc"
In the documentation about Service Mesh you can find the following information:

https://docs.openshift.com/container-platform/4.3/service_mesh/service_mesh_install/preparing-ossm-installation.html#ossm-installation-activities_preparing-ossm-installation

" Please see configuring Elasticsearch for details on configuring the default Jaeger parameters for Elasticsearch in a production environment."

[2020-03-24 01:36] zhaozhanqi commented on #20483
in order to implement isolation of between namespace.  all of above 3 policy are need.

[2020-03-24 06:05] s1061123 opened #20647 ""Removing a Pod from an additional network" is not supported yet"
### Which section(s) is the issue in?

'Removing a Pod from an additional network' at 4.2/4.3 doc.

 https://docs.openshift.com/container-platform/4.3/networking/multiple_networks/removing-pod.html
 https://docs.openshift.com/container-platform/4.2/networking/multiple_networks/removing-pod.html

### What needs fixing?

This document describes that changing annotation with `oc edit` command removes

[2020-03-24 08:41] jxadro commented on #20644
This is where a links should point:

https://docs.openshift.com/container-platform/4.3/service_mesh/service_mesh_install/customizing-installation-ossm.html#ossm-configuring-jaeger-elasticsearch_customizing-installation-ossm

[2020-03-24 11:58] #20577 closed

[2020-03-24 13:41] mburke5678 commented on #12888
Thank you for pointing this out. At this time the Getting Started link works.
In the future, the OKD docs team does not control the okd.io website. Perhaps file a bug with the website team if you see errors.
https://bugzilla.redhat.com/describecomponents.cgi?product=OKD

[2020-03-24 13:41] #12888 closed

[2020-03-24 13:44] #20323 closed

[2020-03-24 13:57] mburke5678 commented on #19431
@vrutkovs Can you help with this? Is there a method for installing the Operator Framework in OKD that doesn't require a subscription to the Customer Portal?
I found this on the internet, just guessing if this is a better source: https://github.com/operator-framework/operator-lifecycle-manager

[2020-03-24 14:24] vrutkovs commented on #19431
OLM would work out of the box in OKD. We inject a configuration which allows community operators only, so the part about required credentials needs to be omitted

[2020-03-24 15:04] mburke5678 commented on #19431
Making changes in https://github.com/openshift/openshift-docs/pull/20653

[2020-03-24 15:04] #19431 closed

[2020-03-24 15:31] mburke5678 commented on #18426
Sending cluster logs using the Fluentd syslog plug-in (RFC 3164)
Due to changes introduced with the Log Forwarding feature in {product-title} 4.3, you could no longer use the Fluentd *syslog* plug-in to forward logs to an external syslog server.
In {product-title} 4.4, this functionality was fixed and you can use the *syslog* plug-in. Note that the procedure for configuring the plug-in has changed

[2020-03-24 15:44] codyhoag commented on #19847
The deprecated `/var/run/secrets/kubernetes.io/serviceaccount/service-ca.crt` file will be removed in 4.5. From https://github.com/openshift/openshift-docs/issues/18426#issuecomment-574239835.

[2020-03-24 19:09] mburke5678 commented on #15735
Thanks for pointing this out.
This was fixed in 3.11. We are no longer updating docs 3.10 and earlier.

https://github.com/openshift/openshift-docs/commit/5c0e15663759cc166cfce9b3b6d219fcc6cd5ad6

[2020-03-24 19:09] #15735 closed

[2020-03-24 19:09] neal-timpe commented on #20644
I've added a fix to this PR which should be merged later this week. https://github.com/openshift/openshift-docs/pull/20503

[2020-03-24 19:38] mburke5678 commented on #14730
@apolymen Thanks for pointing this out. It appears I missed cherrypicking the PR that added disabling feature gates on a comma-delimited line. I CP'd the PR to OCP 3.11. We are no longer updating the 3.10 docs.

https://github.com/openshift/openshift-docs/pull/14347

[2020-03-24 19:38] #14730 closed

[2020-03-24 20:10] #20337 closed

[2020-03-24 20:10] #20338 closed

[2020-03-24 22:25] jboxman commented on #18027
@mlcassatt, does it matter what DNS software is used? Is this defined directly in vSphere somewhere? I'm unfamiliar with vSphere. I know that when creating DNS records in some interfaces, it tries to _help_ you by allowing the omission of the terminal period that I think the spec requires.

[2020-03-25 15:41] #20482 closed

[2020-03-25 19:25] ipilcher opened #20687 "[enterprise-4.3] Edit suggested in file authentication/certificates/api-server.adoc"
### Which section(s) is the issue in?

[Adding API server certificates](https://docs.openshift.com/container-platform/4.3/authentication/certificates/api-server.html)

### What needs fixing?

At the end, the document should probably point out that this change won't take effect immediately; OpenShift will restart the relevant pods, but that can take a few minutes.

Also, making this change will bre

[2020-03-25 21:41] kfryklund opened #20688 "[enterprise-4.3] Edit suggested in file machine_management/creating-infrastructure-machinesets.adoc"
### Which section(s) is the issue in?
I'd like to suggest we append some additional information to this doc

### What needs fixing?
Please add the following sub sections to this documentation:
1. How to prevent normal user applications from landing on infra nodes.  Whether this be by using taints or by editing the cluster scheduler with something like "defaultNodeSelector: node-role.kubernetes.io/

[2020-03-26 10:44] shortsteps opened #20694 "[enterprise-4.3] Edit suggested in file networking/configuring_ingress_cluster_traffic/configuring-ingress-cluster-traffic-ingress-controller.adoc"
### Which section(s) is the issue in?
[Creating a project and service](https://docs.openshift.com/container-platform/4.3/networking/configuring_ingress_cluster_traffic/configuring-ingress-cluster-traffic-ingress-controller.html#nw-creating-project-and-service_configuring-ingress-cluster-traffic-ingress-controller), step 4

### What needs fixing?
Is the command correct?
[code]
I would have expected

[2020-03-26 12:24] neal-timpe commented on #20644
Fixed

[2020-03-26 12:24] #20644 closed

[2020-03-26 18:07] mburke5678 commented on #15985
@knobunc Should this section still be in the OKD docs for 3.10 and 3.11? Your comment in the PR where the topic was added seems to suggest this.
https://github.com/openshift/openshift-docs/pull/8109#issuecomment-374591363

This section does appears in `master-3` but doesn't seem to appear in any docs. Not sure why.
If the section is no longer valid, should I remove it from master-3 to be safe?

[2020-03-26 18:12] mburke5678 commented on #13547
@vrutkovs Any thoughts on this request?

[2020-03-26 18:32] vrutkovs commented on #13547
OKD's firewall is configured by ansible, no additional actions required.

`oc cluster up` is not supported, so actions for exposing it externally (which is incredibly dangerous) should not be listed in the documentation

[2020-03-26 18:57] mburke5678 commented on #12824
@bparees We are going through older issues.
Does `AdditionalTrustedCA` = `additionalTrustedCA`?

We have this note in the docs. Does it cover this concern here?

[2020-03-26 19:05] #13547 closed

[2020-03-26 19:12] #13159 closed

[2020-03-26 19:36] bparees commented on #12824
yes.  in the yaml it will be `additionalTrustedCA`

[2020-03-26 20:03] #12824 closed

[2020-03-26 20:08] mburke5678 commented on #12160
We are not updating documentation prior to 3.10.

[2020-03-26 20:08] #12160 closed

[2020-03-26 20:15] jboxman commented on #20647
@s1061123, how do you remove a Pod from an additional network today?

Thanks!

[2020-03-26 20:28] mburke5678 commented on #12633
Fixed

[2020-03-26 20:28] #12633 closed

[2020-03-26 21:20] mburke5678 commented on #12634
Fixed

[2020-03-26 21:20] #12634 closed

[2020-03-26 22:15] mburke5678 commented on #12901
[code]

[2020-03-26 22:15] #12901 closed

[2020-03-26 22:18] mburke5678 commented on #13075
Fixed. Links removed.

[2020-03-26 22:18] #13075 closed

[2020-03-26 22:32] mburke5678 commented on #13302
Gluster is not supported in 4.x

[2020-03-26 22:32] #13302 closed

[2020-03-26 22:40] mburke5678 commented on #13577
Thank you for your comment. Apologies for taking to long to respond. Can you confirm that `self-provisioners` is singular? This is what I get when I run the command:
[code]
[code]

[2020-03-26 22:40] #13577 closed

[2020-03-27 14:14] acsulli opened #20721 "[enterprise-4.3] Edit suggested in file cnv/cnv_virtual_machines/cnv_vm_networking/cnv-attaching-vm-multiple-networks.adoc"
### Which section(s) is the issue in?

Creating a Linux bridge NetworkAttachmentDefinition in the CLI

### What needs fixing?

Step 2 suggests that it's possible to connect a to a `net-attach-def` in a different namespace.   However, after a conversation with eng, this doesn't seem possible.  They suggest connecting pods only to `net-attach-def` objects in the same namespace.

[2020-03-27 15:30] ncameronbritt opened #20727 "[enterprise-4.3] Edit suggested in file installing/installing_aws/installing-aws-default.adoc"
### Which section(s) is the issue in?
Obtaining the installation program, step 4

### What needs fixing?
I think it's important to mention that the pull secret is tied to an individual and cannot be changed after the cluster is created.

Maybe something like: "A pull secret is unique to an individual user within an organization. Creating a cluster with a user’s pull secret makes that user the clus

[2020-03-27 16:42] gellner opened #20731 "[enterprise-3.11] Edit suggested in file architecture/networking/networking.adoc"
### Which section(s) is the issue in?
"OpenShift Container Platform DNS" in 3.6-3.11 version of docs incorrectly suggest that SkyDNS only runs on the masters, and runs on port 53.

https://docs.openshift.com/container-platform/3.11/architecture/networking/networking.html

Reference for actual behaviour: https://www.redhat.com/en/blog/red-hat-openshift-container-platform-dns-deep-dive-dns-changes-r

[2020-03-29 14:25] aelicieguo opened #20748 "[enterprise-4.2] Edit suggested in file logging/config/cluster-logging-collector.adoc"
### Which section(s) is the issue in?

There should be a section on how to push audit logs to elasticsearch/kibana

### What needs fixing?
Cluster logging should be set to unmanaged state, thereafter add the following env variables:
AUDIT FILE = /var/log/kube-apiserver/audit.log
AUDIT_POS_FILE = /var/log/kubeapiserver/audit.pos

[2020-03-29 14:35] aelicieguo opened #20749 "[enterprise-4.3] Edit suggested in file nodes/nodes/nodes-nodes-audit-log.adoc"
### Which section(s) is the issue in?
step 2. Edit the API server CR:

### What needs fixing?

there are no such parameters in apiserver: logLevel and operatorloglevel under spec. I have filed a github issued https://github.com/openshift/api/issues/614. not sure if the error came from CRD or documentation. adding these 2 parameters will get erased by operator. this documentation error is same for

[2020-03-30 09:06] vikram-redhat commented on #18426
Upcoming change in license for docs to change to Apache 2.0 from CC BY-SA. - I will follow up with text for this.

[2020-03-30 20:53] jaybeeunix opened #20766 "[dedicated] Edit suggested in file builds/triggering-builds-build-hooks.adoc"
### Which section(s) is the issue in?

Multiple

### What needs fixing?

Several sections show API samples using oapi(s) URLs, but those endpoints are described as "legacy" and "set to be removed" in favor of the api(s) ones. (For example, Builds > Triggering and modifying builds > Webhooks section .)

[2020-03-31 00:39] jboxman commented on #16873
@r2d2rnd, thanks for reporting this! It is now fixed.

[2020-03-31 00:39] #16873 closed

[2020-03-31 00:45] jboxman commented on #13070
@benmccown, thanks for reporting this! It's fixed.

[2020-03-31 00:45] #13070 closed

[2020-03-31 00:47] jboxman commented on #13198
@okkyhtf, thanks for reporting this! It's been fixed.

[2020-03-31 00:47] #13198 closed

[2020-03-31 10:33] soltysh commented on #19847
https://github.com/openshift/oc/pull/355 changes default behavior of `oc new-app`, starting since 4.5 the default resource produced by `oc new-app` will be Deployment and not DeploymentConfig (for more information about differences see https://docs.openshift.com/container-platform/4.3/applications/deployments/what-deployments-are.html). Users interested in generating DeploymentConfig can pass `--a

[2020-03-31 14:34] mburke5678 commented on #20749
I believe we are working on this. Not sure at the moment what the course of action is.
I think that this issue is planned to be fixed in 4.6. Thus, the information should be removed from the docs. However, I have not gotten approval for removing the information yet.
https://bugzilla.redhat.com/show_bug.cgi?id=1791888

[2020-03-31 18:33] maxwelldb opened #20786 "ShiftStack version info is duplicated"
### Which section(s) is the issue in?

From @codyhoag:

Example: https://docs.openshift.com/container-platform/4.3/installing/installing_openstack/installing-openstack-installer-custom.html

Look at the first _Important_ admonition.

### What needs fixing?

There's no need to include this info on these pages--it just creates a maintenance problem. I'll remove the top-of-assembly statements so that

[2020-03-31 19:23] #20786 closed

[2020-03-31 20:33] mburke5678 commented on #13046
Fixed via https://github.com/openshift/openshift-docs/pull/13050 and https://github.com/openshift/openshift-docs/pull/13427

[2020-03-31 20:33] #13046 closed

[2020-03-31 20:59] mburke5678 commented on #13426
Fixed

[2020-03-31 20:59] #13426 closed

[2020-03-31 21:01] mburke5678 commented on #13506
Fixed https://docs.openshift.com/container-platform/3.11/install_config/redeploying_certificates.html#install-config-cert-expiry-role-variables

[2020-03-31 21:01] #13506 closed

[2020-03-31 21:04] #13522 closed

[2020-03-31 21:21] mburke5678 commented on #13636
Changed from JSON to YAML in 3.1+

[2020-03-31 21:21] #13636 closed

[2020-03-31 21:33] #12814 closed

[2020-04-01 10:28] kavithakatepalli opened #20801 "[enterprise-4.2] Edit suggested in file networking/configuring_ingress_cluster_traffic/configuring-ingress-cluster-traffic-service-external-ip.adoc"
### Which section(s) is the issue in?

https://docs.openshift.com/container-platform/4.3/networking/configuring_ingress_cluster_traffic/configuring-ingress-cluster-traffic-service-external-ip.html#configuring-ingress-cluster-traffic-service-external-ip

### What needs fixing?
This page explains upto accessing service within cluster.
configuring externalip and accessing it from outside cluster info

[2020-04-01 13:18] mburke5678 commented on #13065
@tsmetana Thank you for pointing this out. Making the change in https://github.com/openshift/openshift-docs/pull/20805

[2020-04-01 13:18] #13065 closed

[2020-04-01 13:51] jboxman commented on #20801
This also relates to _ExternalIP_ provided by the Cluster Network Operator. We have a Jira for this.

[2020-04-01 14:16] #20181 closed

[2020-04-01 14:24] bobfuru commented on #20181
Thanks, @ChetHosey!

[2020-04-01 19:01] maxwelldb opened #20826 "ShiftStack installation guide prereqs need additional callout for platform"
### Which section(s) is the issue in?

Related: https://github.com/openshift/openshift-docs/issues/20786

Prerequisites sections of all ShiftStack installation documentation

### What needs fixing?

@racedo Notes that customers may not find the the architecture document linked in the first prerequisite.

To do: Add child to the first prereq that asks the reader to pay special attention to the Plat

[2020-04-01 19:02] adellape commented on #17695
The Dockerfile in the 4.2 docs (the 4.3 docs has a different process) has been updated a few times since this report, which I believe addresses the requested changes here:

https://github.com/openshift/openshift-docs/pull/18350
https://github.com/openshift/openshift-docs/pull/19036
https://github.com/openshift/openshift-docs/pull/20825

If there are still issues, please reopen. Thank you!

[2020-04-01 19:02] #17695 closed

[2020-04-01 20:29] mburke5678 commented on #16889
I am removing the example from the docs for now to avoid further confusion.
If you are still looking for a way to disable builds, can I ask you to put in another issue specific to that? I reached out to the developer who suggested I add builds as an example as to whether you can disable builds using a feature gate or not.
Thanks for the suggestion!!

[2020-04-01 20:29] #16889 closed

[2020-04-01 20:40] bobfuru commented on #20181
Docs have been updated to include the optional step:
https://docs.openshift.com/container-platform/4.2/storage/persistent_storage/persistent-storage-local.html#local-storage-install_persistent-storage-local

[2020-04-01 21:02] mburke5678 commented on #16893
@weliang1 Thank you for pointing this out. I think there was a copy and paste error in the initial PR. I am working on a fix here: https://github.com/openshift/openshift-docs/pull/20837

[2020-04-01 21:02] #16893 closed

[2020-04-01 21:37] mburke5678 commented on #16467
Thank you!
https://github.com/openshift/openshift-docs/pull/20841

[2020-04-01 21:37] #16467 closed

[2020-04-02 05:54] AarneO opened #20855 "[enterprise-4.3] Edit suggested in file serverless/installing_serverless/installing-openshift-serverless.adoc"
### Which section(s) is the issue in?

Installing the OpenShift Serverless Operator

### What needs fixing?

Link to "Installing Knative Serving" gives 404, link probably should point to this url https://docs.openshift.com/container-platform/4.3/serverless/installing_serverless/installing-knative-serving.html

[2020-04-02 12:03] jboxman commented on #20855
@abrennan89 ^

[2020-04-02 12:38] abrennan89 commented on #20855
Thanks @jboxman  - are you able to assign this to me? I'll fix it today.

[2020-04-02 12:44] jboxman commented on #20855
@abrennan89, done!

[2020-04-02 12:45] franckgr opened #20860 "[enterprise-4.3] Edit suggested in file cli_reference/openshift_cli/administrator-cli-commands.adoc"
### Which section(s) is the issue in?
create-api-client-config

### What needs fixing?
Remove the section this command doesn't exist anymore

oc adm create-api-client-config
error: unknown command "create-api-client-config"
See 'oc adm -h' for help and examples

[2020-04-02 13:15] abrennan89 commented on #20855
@jboxman the fix has been merged for this so the issue can probably be closed. Thanks!

[2020-04-02 13:33] markusthoemmes commented on #19438
Thanks for reporting this!

Actually, at this point it'll likely need to be `oc -n knative-serving-ingress get svc kourier`

[2020-04-02 13:33] markusthoemmes commented on #19437
Good catch, that's absolutely right!

[2020-04-02 14:29] jboxman commented on #20855
@abrennan89, epic!

[2020-04-02 14:29] #20855 closed

[2020-04-02 15:38] Preeticp commented on #17696
@boczkowska can you please take a look at this?

[2020-04-02 15:40] Preeticp commented on #17696
/assign @boczkowska

[2020-04-02 15:53] boczkowska commented on #17696
@Preeticp this was fixed in https://github.com/openshift/openshift-docs/pull/17811

[2020-04-02 16:40] jtaleric opened #20868 "Tested Maximum page should be more specific"
### Which section(s) is the issue in?
https://github.com/openshift/openshift-docs/blob/master/modules/openshift-cluster-maximums.adoc

### What needs fixing?
openshift-cluster-maximums.adoc Should become `openshift-<platform>-cluster-maximums.adoc` and contain how did we achieve a specific scale for that specific platform.

Today our documentation only discusses what we achieved, how what we achie

[2020-04-02 18:00] Preeticp commented on #17696
Awesome, in that case we will need to close this issue. @vikram-redhat how do we close an issue?

[2020-04-02 18:38] jboxman commented on #17696
@Preeticp, I'll close.

[2020-04-02 18:38] #17696 closed

[2020-04-02 18:41] maxwelldb commented on #20826
More from the last day:
- We're linking directly to the OpenStack support matrix.
- This matrix needs a few updates.
- We should verify when exactly Kuryr compatibility is tested.

[2020-04-03 08:42] Preeticp commented on #17696
Thank you @jboxman !!

[2020-04-03 14:09] chuckersjp opened #20889 "[enterprise-4.1] Edit suggested in file authentication/certificates/replacing-default-ingress-certificate.adoc"
### Which section(s) is the issue in?

Under Replacing Default Ingress Certificate and the Procedure

### What needs fixing?
The following is missing:

Procedure

    Create a ConfigMap that includes the certificate authority used to signed the new certificate:

    $ oc create configmap custom-ca \
         --from-file=ca-bundle.crt=</path/to/example-ca.crt> \
         -n openshift-config

Either

[2020-04-03 14:16] janehojy opened #20891 "[enterprise-4.3] Edit suggested in file monitoring/cluster_monitoring/configuring-the-monitoring-stack.adoc"
### Which section(s) is the issue in?

Monitoring > Configuring the monitoring stack > Configuring Alertmanager > [Alerting rules](https://docs.openshift.com/container-platform/4.3/monitoring/cluster_monitoring/configuring-the-monitoring-stack.html#alerting-rules_configuring-monitoring
)

### What needs fixing?

I'm not sure what the example in the first bullet point means:

Persistent volumes are

[2020-04-06 09:05] Huge opened #20916 ""Just run OKD in a container by itself" section of okd.io leads nowhere"
### Which section(s) is the issue in?
OKD.io website

### What needs fixing?
The link in "Just run OKD in a container by itself." points to https://docs.okd.io/latest/getting_started/administrators.html#running-in-a-docker-container which is 404, making the whole section worth <0.

@wgordon17 might help?

[2020-04-06 14:00] spadgett commented on #18426
We should mention the new monitoring dashboards for console (CONSOLE-1893, Monitoring -> Dashboards in the left nav).

[2020-04-07 01:30] jatanmalde commented on #19847
With OpenShift 4.4, I see some change with installation format, should we include one such paragraph of it in the release docs. I see etcd-member and etcd-metrics running on the bootstrap and not on the masters as per previous installation methods?

[2020-04-07 01:31] jatanmalde commented on #18426
With OpenShift 4.4, I see some change with installation format, should we include one such paragraph of it in the release docs. I see etcd-member and etcd-metrics running on the bootstrap and not on the masters as per previous installation methods?

[2020-04-07 04:21] sudarshan-uc opened #20954 "Adding bonded nic config while booting RHCOS host with multiple nics"
### Which section(s) is the issue in?
https://docs.openshift.com/container-platform/4.4/installing/installing_bare_metal/installing-bare-metal.html#installation-user-infra-machines-iso_installing-bare-metal
6.5 point

https://github.com/openshift/openshift-docs/blob/enterprise-4.4/installing/installing_bare_metal/modules/installation-user-infra-machines-iso.adoc

### What needs fixing?
Need to add

[2020-04-07 06:54] sichvoge commented on #18426
**Logging**

@mburke5678 Would you agree that the paragraph for syslog should actually move into the "Notable technical changes" section and out from the "New features and enhancements".

**Monitoring**

As @spadgett already highlighted, it would be nice to mention that we have a new view for dashboards inside the console (the linked epic).

We have put all the Monitoring related console changes u

[2020-04-07 08:42] aelicieguo opened #20956 "[enterprise-4.3] Edit suggested in file logging/cluster-logging-troubleshooting.adoc"
### Which section(s) is the issue in?
The command oc delete oauthclient/kibana-proxy doesn't work.

oc delete oauthclient/kibana-proxy
Error from server (NotFound): oauthclients.oauth.openshift.io "kibana-proxy" not found

oc get oauthclient
NAME                           SECRET                                        WWW-CHALLENGE   TOKEN-MAX-AGE   REDIRECT URIS
console                        awY3

[2020-04-07 17:06] mburke5678 commented on #18426
@sichvoge i think it makes sense to move the SENDING CLUSTER LOGS USING THE FLUENTD SYSLOG PLUG-IN (RFC 3164) section to Notable technical changes.

[2020-04-07 17:08] #18475 closed

[2020-04-07 18:52] cdrage opened #20979 "`odo init` in documentation makes it sound like it's a command"
### Which section(s) is the issue in?

https://docs.openshift.com/online/starter/cli_reference/openshift_developer_cli/using_odo_in_a_restricted_environment/about-odo-in-a-restricted-environment.html (and others, the entire section)

### What needs fixing?

I was going through the documentation on how to use odo in an offline environment and found multiple references to `odo init` image (in that w

[2020-04-07 18:52] cdrage commented on #20979
![Screenshot from 2020-04-07 14-45-31](https://user-images.githubusercontent.com/6422176/78707967-5f4ad000-78df-11ea-998a-d1064f6bdb47.png)

[2020-04-07 21:01] wgordon17 commented on #20916
Hi @Huge, I apologize for the difficulties encountered. We are tracking this issue in another issue on the okd.io GitHub (https://github.com/openshift-cs/okd.io/issues/100).

Since this doesn't directly affect the documentation team, I would recommend closing this issue, and following the issue on the okd.io website.

I'll push some internal teammates to hopefully address this soon.

In the meanti

[2020-04-08 02:26] qinpingli commented on #18426
In OCP 4.4, the RHCOS version should be `Red Hat Enterprise Linux CoreOS release 4.4`, not `as well as Red Hat Enterprise Linux CoreOS 4.3`

[2020-04-08 02:29] qinpingli commented on #18426
`You must use Red Hat Enterprise Linux CoreOS (RHCOS) for the control plane, or master, machines and can use either RHCOS or Red Hat Enterprise Linux 7.6 or later for compute, or worker, machines.`, the `,` is not needed in `master, machines` and `worker, machines.`

[2020-04-08 16:13] leethomasrh opened #21002 "[enterprise-4.3] Edit suggested in file installing/install_config/configuring-firewall.adoc"
We use the list of URLs on this page to tell customers what URLs they need to whitelist when we install OCP in their environments.  Recently I was trying to install the Dynatrace operator and it errored out when trying to access an image stored at the URLs below.

You can get the list of the amazon S3 region URLs from this page:
https://docs.aws.amazon.com/general/latest/gr/s3.html

### Which sect

[2020-04-08 16:14] leethomasrh commented on #21002
Git removed the '<aws region>' portion of the URLs for s3

[2020-04-08 17:03] kalexand-rh commented on #21002
@leethomasrh, can you tell me which capability `registry.connect.redhat.com` adds? I can amend the other entries to include the need to select the appropriate regions.

[2020-04-08 17:11] leethomasrh commented on #21002
This is the error I got:

Failed to pull image "*registry.connect.redhat.com
<http://registry.connect.redhat.com>*/dynatrace/dynatrace-oneagent-operator:v0.7.0":
rpc error: code = Unknown desc = Error parsing image configuration: Get
https://*oso-rhc4tp-docker-registry.s3-us-west-2.amazonaws.com/
<http://oso-rhc4tp-docker-registry.s3-us-west-2.amazonaws.com/>*registry/docker/registry/v2/blobs/sha2

[2020-04-08 18:51] c1505 opened #21021 "Restoring a cluster state isn't working for openshift 4.3"
### Which section(s) is the issue in?
https://docs.openshift.com/container-platform/4.3/backup_and_restore/disaster_recovery/scenario-2-restoring-cluster-state.html

### What needs fixing?
Can't restore a cluster state when following documentation for 4.3.

I am trying to follow the documentation here for restoring a cluster to the previous state https://docs.openshift.com/container-platform/4.3/b

[2020-04-08 19:12] johnsimcall opened #21023 "[enterprise-4.3] Remove firewall 19531/tcp from installing-aws-user-infra.adoc"
### Which section(s) is the issue in?
Security group section of
https://docs.openshift.com/container-platform/4.3/installing/installing_aws/installing-aws-user-infra.html#installation-aws-user-infra-other-infrastructure_installing-aws-user-infra

### What needs fixing?
Please remove the instructions to allow 19531 in the security group.  That port had been used for debugging via journald-gateway.

[2020-04-08 19:56] jxadro opened #21027 "[enterprise-4.3] Edit suggested in file networking/configuring_ingress_cluster_traffic/configuring-ingress-cluster-traffic-service-external-ip.adoc"
https://docs.openshift.com/container-platform/4.3/networking/configuring_ingress_cluster_traffic/configuring-ingress-cluster-traffic-service-external-ip.html

I think the content of this page is wrong

"4. Run the following command to see that the new service is created:
oc get svc -n openshift-ingress"

I think it has no sense to list the services in the namespaces openshift-ingress I think you s

[2020-04-08 21:59] maxwelldb commented on #20826
Actually: https://github.com/openshift/openshift-docs/pull/20830#issuecomment-611214116

[2020-04-09 01:59] zhaozhanqi commented on #18426
[code]
do we need to specify `bare metal` here, AFAIK, sctp can work on aws also, not only bare metal
@weliang1

[2020-04-09 03:48] juzhao commented on #18426
Table 1. Technology Preview Tracker
User workload monitoring is still TP in 44

[2020-04-09 04:01] juzhao commented on #18426
section:
Service Catalog, Template Service Broker, Ansible Service Broker, and their Operators

If they are enabled in 4.3
it is better change to
If they are enabled in 4.3 or above version

The following alerts can be viewed from the Monitoring → Alerts page and have a Warning severity
->
it is Monitoring → Alerting page

[2020-04-09 05:00] qinpingli commented on #18426
in `Table 1. Technology Preview Tracker`
* feature `External provisioner for AWS EFS` should be still TP in 4.4.
* don't know what is the feature `CephFS`, if it means `cephfs-provisioner`, we did not release this in OCP 4.x.
* we did not release `Manila Provisioner` in OCP 4.x either, so I think we should remove it from the table.

@jsafrane  Could you help double confirm?

[2020-04-09 06:39] juzhao commented on #18426
Known issues,  [1806620](https://bugzilla.redhat.com/show_bug.cgi?id=1806620) is fixed in 4.5, [1814898](https://bugzilla.redhat.com/show_bug.cgi?id=1814898) is the cloned bug fixed in 4.4

[2020-04-09 06:40] zhaozhanqi commented on #18426
`OVN-Kubernetes Pod network provider` will be GA in 4.5. So 4.4 still be `TP`.

[2020-04-09 07:39] barleyer commented on #18426
Ahh right, we dont need to mention it as known issue!

[2020-04-09 08:37] wzheng1 commented on #18426
Per bug https://bugzilla.redhat.com/show_bug.cgi?id=1810461 ,for self-signed OSP 16 cluster, image cannot pull/push to internal image registry without this workaround:  to set
config.imageregistry/cluster and set spec.disableRedirects = true
This allows the client to pull the image layers from the image registry rather than from links directly from Swift. The Swift CA needs to be added to worker n

[2020-04-09 08:44] xiuwang commented on #18426
A known issue [1780125](https://bugzilla.redhat.com/show_bug.cgi?id=1780125#c4)
Need config proxy for jenkins deployment behind proxy cluster.

[2020-04-09 08:44] wzheng1 commented on #18426
- git clone operations that go through an HTTPS proxy will fail. Non-TLS (HTTP) proxies can be used successfully. (BZ#1750650)
- git clone via git:// protocol fails behind a proxy [https://bugzilla.redhat.com/show_bug.cgi?id=1751738]

[2020-04-09 08:49] wzheng1 commented on #18426
When using mirror for build, pull secret for mirror registry should not just link to builder serviceaccount, but also add to buildconfig. ([BZ#1810904](https://bugzilla.redhat.com/show_bug.cgi?id=1810904))

[2020-04-09 09:11] sunilcio commented on #18426
In Technology Preview features table, can we add more info on features which do not have any marker TP, GA or -(Depricated) and are blank?

https://docs.openshift.com/container-platform/4.4/release_notes/ocp-4-4-release-notes.html#ocp-4-4-technology-preview

[2020-04-09 10:21] gpei commented on #18426
OpenStack is adding UPI to the OCP 4.4 release https://issues.redhat.com/browse/CORS-1308

[2020-04-09 13:45] #19437 closed

[2020-04-09 13:53] jsafrane commented on #18426
I think we want to remove the feature completely. Or did you test it in 4.4.? @qinpingli

Again, in-tree ceph is not supported. To be replaced with CSI later.

Should we *remove* items when they become unsupported or leave them blank for the readers to see the change?

[2020-04-09 14:02] codyhoag commented on #18426
@qinpingli @jsafrane we made the decision to carry over everything from our 4.3 TP table, iterating the versions by one to reflect 4.2-4.4 statuses, and adding any additional features introduced in 4.4. This decision was made to show unsupported features and to see their changes.

CephFS (i.e., cephfs-provisioner) and Manila Provisioner are both listed as TP in 4.2/4.3. Is this correct, and will i

[2020-04-09 14:22] weliang1 commented on #18426
@zhaozhanqi @jboxman
"Bare Metal" is already removed from https://github.com/openshift/openshift-docs/pull/20036/files

[2020-04-09 14:30] s-urbaniak commented on #18426
For cluster monitoring we have the following changes for 4.4:

- node-exporter: disabled unused `hwmon` collector
- cluster-reader role can now read node metrics by default
- new cluster alerts:
  - `MultipleContainersOOMKilled`: Fires when multiple containers were out of memory killed within the past 15 minutes.
- new api server alerts:
  - `ErrorBudgetBurn`: Fires when api server issues 5xx requ

[2020-04-09 14:36] qinpingli commented on #18426
@codyhoag cephfs-provisioner and manila provisioner did not support in 4.2 and 4.3 either.

[2020-04-09 14:37] qinpingli commented on #18426
@chao007 Did we test efs-provisioner in OCP4.x?

[2020-04-09 17:28] AndreaFerraresi opened #21072 "[enterprise-4.3] Edit suggested in file installing/installing_vsphere/installing-vsphere.adoc"
Hi I would have a list of prerequisites and a full list of vmware service account permission and a whole overview in form of a checklist of what needs to be done before the deployment happens that I have been sharing with customers, what is the best way to submit a pull request?

Best,
Andrea

[2020-04-09 17:37] jboxman commented on #21072
@AndreaFerraresi, that sounds fantastic! @kalexand-rh has done much of the work on the OCP installation documentation, and may have ideas on how best to proceed.

[2020-04-09 19:21] Preeticp commented on #18426
Web console>DEVELOPER PERSPECTIVE
You can now use the Developer perspective to edit applications in the *Topology* view, monitor application metrics using the *Monitoring* view, and create Helm releases from the Helm charts provided in the *Developer Catalog*.

[2020-04-09 19:33] spadgett commented on #18426
@sichvoge works for me

[2020-04-10 01:18] emmajiafan commented on #18426
OCP 4.4 doesn't release ansible broker anymore. So I think the install&config&uninstall openshift ansible broker is not necessary . what do you think ?@cuipinghuo

[2020-04-10 01:20] cuipinghuo commented on #18426
yes, no need for asb.

[2020-04-10 01:42] chao007 commented on #18426
We did not test efs-provisioner in OCP4.x

[2020-04-10 01:43] chao007 commented on #18426
We did not test efs-provisioner in OCP4.x

[2020-04-10 03:27] yapei commented on #18426
Shall we add Marketplace integration in Operator Hub as a notable feature in 4.4 ? the features brought in [CONSOLE-1953](https://issues.redhat.com/browse/CONSOLE-1953) and [CONSOLE-1971](https://issues.redhat.com/browse/CONSOLE-1971)

[2020-04-10 06:07] aelicieguo opened #21085 "[enterprise-4.3] Edit suggested in file authentication/understanding-authentication.adoc"
### Which section(s) is the issue in?
https://docs.openshift.com/container-platform/4.3/authentication/understanding-authentication.html#authentication-prometheus-system-metrics_understanding-authentication

### What needs fixing?
This is not available on prometheus

![image](https://user-images.githubusercontent.com/19474270/78967296-a5e53800-7b34-11ea-982a-216ab782b8b6.png)

[2020-04-10 09:44] jianzhangbjz commented on #18426
@ecordell For the introduction of the [opm](https://docs.openshift.com/container-platform/4.4/release_notes/ocp-4-4-release-notes.html#ocp-4-4-deprecation-of-operatorsources), seems like some changes for the structure of the `Bundle`. I remember we don't use the `manifest` directory before, `YAML` files and `metadata` are in the same level.
[code]
If we use the `manifest` directory, will get the `

[2020-04-10 10:03] emmajiafan commented on #18426
https://docs.openshift.com/container-platform/4.4/release_notes/ocp-4-4-release-notes.html#ocp-4-4-service-catalog-deprecated

[2020-04-10 10:04] xingxingxia commented on #18426
Shall we add **[MSTR-880](https://issues.redhat.com/browse/MSTR-880), MSTR-933 and MSTR-893** as notable features in 4.4?

[2020-04-10 10:08] emmajiafan commented on #18426
Since ansible service broker is deleted in OCP 4.4 , should delete the install&config&uninstall openshift ansible broker. And mentioned in https://docs.openshift.com/container-platform/4.4/release_notes/ocp-4-4-release-notes.html#ocp-4-4-service-catalog-deprecated that  AnsibleServiceBroker and .osb.openshift.io/v1 have already removed . And Service Catalog and Template Service Broker should be "G

[2020-04-10 20:19] kimbosliceit opened #21086 "[enterprise-3.11] Edit suggested in file install/configuring_inventory_file.adoc"
### Which section(s) is the issue in? The table below

### What needs fixing? Please format the table so that it fits the text in the screen.  It makes you scroll to see all of the details in the cells.  Please have all the information displayed without scrolling

[2020-04-12 08:09] janehojy opened #21091 "[enterprise-4.3] Edit suggested in file installing/installing_vsphere/installing-restricted-networks-vsphere.adoc"
### Which section(s) is the issue in?

[Configuring the cluster-wide proxy during installation](https://docs.openshift.com/container-platform/4.3/installing/installing_vsphere/installing-restricted-networks-vsphere.html#installation-configure-proxy_installing-restricted-networks-vsphere)

### What needs fixing?

A warning should be added that the proxy password should not contain special character

[2020-04-12 16:39] lebrisg opened #21094 "[enterprise-4.3] Edit suggested in file nodes/pods/nodes-pods-plugins.adoc"
### Which section(s) is the issue in?
Title

### What needs fixing?
resouces -> resources

[2020-04-13 08:46] cuipinghuo commented on #18426
@shawn-hurley besides what have mentioned above about asb, for https://docs.openshift.com/container-platform/4.4/applications/service_brokers/installing-template-service-broker.html ```Create a namespace.

Navigate in the web console to Administration → Namespaces and click Create Namespace.

Enter openshift-template-service-broker in the Name field and click Create.```  We should also add label f

[2020-04-13 09:01] emmajiafan commented on #18426
And mentioned in https://docs.openshift.com/container-platform/4.4/release_notes/ocp-4-4-release-notes.html#ocp-4-4-service-catalog-deprecated that service catalog can't enable in the cluster with kury because this bug: https://bugzilla.redhat.com/show_bug.cgi?id=1821589 .

[2020-04-13 15:07] adambkaplan commented on #18426
Samples are not installed by default if the samples operator cannot connect to `registry.redhat.io` during installation.

https://issues.redhat.com/browse/DEVEXP-507

[2020-04-13 15:10] adambkaplan commented on #18426
New `ImagePruner` resource lets admins manage a new CronJob that automatically prunes images from the cluster. This is installed by default on new clusters.

https://issues.redhat.com/browse/DEVEXP-472

[2020-04-13 15:11] adambkaplan commented on #18426
`Build` objects now report conditions in their status.

https://issues.redhat.com/browse/DEVEXP-526

[2020-04-13 22:33] jboxman commented on #21094
@lebrisg, thanks! Fixed.

[2020-04-13 22:33] #21094 closed

[2020-04-14 08:48] bessalahAmar opened #21131 "404: Not Found console registry template , broken url"
Description of problem:
can't access the template for the registry console provided in the okd 3.11 documentation(https://docs.okd.io/3.11/install_config/registry/deploy_registry_existing_clusters.html#registry-console) i'm getting 404 response

Steps to Reproduce:

curl https://raw.githubusercontent.com/openshift/openshift-ansible/master/roles/openshift_hosted_templates/files/v1.5/origin/registry

[2020-04-14 11:41] kborup-redhat opened #21132 "[enterprise-4.3] Edit suggested in file machine_management/creating-infrastructure-machinesets.adoc"
### Which section(s) is the issue in?
Missing Section for UPI

### What needs fixing?
Add section for upi on how to add Infra Nodes on a upi setup, including the info from the following kbase article https://access.redhat.com/solutions/4342791

[2020-04-14 12:59] adambkaplan commented on #18426
Image registry can use the `Recreate` rollout strategy during upgrades. This allows the image registry to use "Block" storage types like EBS on AWS.

https://issues.redhat.com/browse/DEVEXP-523

[2020-04-14 18:49] #19712 closed

[2020-04-14 19:33] cptmorgan-rh opened #21159 "[enterprise-4.3] Edit required in file backup_and_restore/disaster_recovery/scenario-1-infra-recovery.adoc"
### Which section(s) is the issue in?

5.a.i
5.b.i

### What needs fixing?

oc login should be performed using sudo to prevent issues when running export in 5.a.ii and 5.b.ii

The command in 5.a.ii and 5.b.ii utilizes sudo to be able to read the contents of the file /var/lib/kubelet/config.json.

This produces the follow error because the `oc login` command performed in 5.a.i and 5.a.ii is done by

[2020-04-14 20:37] bergerhoffer commented on #18426
Thanks @xingxingxia, this is being addressed by #21160.

[2020-04-15 09:29] jhou1 commented on #18426
OCP on RHV is to be released in 4.4, here is a list of bugs to show that machine-api integration on RHV isn't customer ready. I think these bugs need to be listed as **known bugs** and we tell customer that machine-api on RHV isn't working properly in 4.4.
- https://bugzilla.redhat.com/show_bug.cgi?id=1815394
- https://bugzilla.redhat.com/show_bug.cgi?id=1815435
- https://bugzilla.redhat.com/show_

[2020-04-15 09:30] wsun1 commented on #18426
Add one known issue:
OSP 16 kuryr will not work until https://bugzilla.redhat.com/show_bug.cgi?id=1812009 is  fixed from OSP 16 side

[2020-04-15 10:40] pwright opened #21174 "[dedicated] Edit suggested in file applications/projects/working-with-projects.adoc"
Is step 6 of https://docs.openshift.com/dedicated/4/applications/projects/working-with-projects.html#odc-creating-projects-using-developer-perspective_projects
out of place given the subject of the heading?

[2020-04-15 20:10] aglitke opened #21194 "[enterprise-4.3] Edit suggested in file cnv/cnv_virtual_machines/cnv_importing_vms/cnv-importing-virtual-machine-images-datavolumes.adoc"
### Which section(s) is the issue in?
https://docs.openshift.com/container-platform/4.3/cnv/cnv_virtual_machines/cnv_importing_vms/cnv-importing-virtual-machine-images-datavolumes.html#cnv-cdi-supported-operations-matrix_cnv-importing-virtual-machine-images-datavolumes

### What needs fixing?

I would suggest removing the Archive row of the supported operations table.  This feature isn't useful fo

[2020-04-15 20:15] aglitke opened #21195 "[enterprise-4.3] Edit suggested in file cnv/cnv_virtual_machines/cnv_importing_vms/cnv-importing-virtual-machine-images-datavolumes-block.adoc"
### Which section(s) is the issue in?
https://docs.openshift.com/container-platform/4.3/cnv/cnv_virtual_machines/cnv_importing_vms/cnv-importing-virtual-machine-images-datavolumes-block.html#cnv-about-block-pvs_cnv-importing-virtual-machine-images-datavolumes-block

### What needs fixing?

Change "that either write to the disk directly or implement their own storage service." to "by reducing overh

[2020-04-15 20:17] aglitke opened #21196 "[enterprise-4.3] Edit suggested in file cnv/cnv_virtual_machines/cnv_importing_vms/cnv-importing-virtual-machine-images-datavolumes-block.adoc"
### Which section(s) is the issue in?
https://docs.openshift.com/container-platform/4.3/cnv/cnv_virtual_machines/cnv_importing_vms/cnv-importing-virtual-machine-images-datavolumes-block.html#cnv-creating-local-block-pv_cnv-importing-virtual-machine-images-datavolumes-block

### What needs fixing?
I think we should remove this section about creating a block device.  Creating a loopback block device

[2020-04-15 20:20] aglitke opened #21197 "[enterprise-4.3] Edit suggested in file cnv/cnv_virtual_machines/cnv_cloning_vms/cnv-cloning-vm-disk-into-new-datavolume.adoc"
### Which section(s) is the issue in?
https://docs.openshift.com/container-platform/4.3/cnv/cnv_virtual_machines/cnv_cloning_vms/cnv-cloning-vm-disk-into-new-datavolume.html
- Prerequisites

### What needs fixing?

The first bullet about creating a storage class or configuring scratch space is not relevant for cloning operations and should be removed.

[2020-04-15 20:24] aglitke opened #21198 "[enterprise-4.3] Edit suggested in file cnv/cnv_virtual_machines/cnv_cloning_vms/cnv-cloning-vm-using-datavolumetemplate.adoc"
### Which section(s) is the issue in?
https://docs.openshift.com/container-platform/4.3/cnv/cnv_virtual_machines/cnv_cloning_vms/cnv-cloning-vm-using-datavolumetemplate.html
- Prerequisites

### What needs fixing?
Configuration of scratch space is not required for cloning so the first pre-req bullet should be removed.

[2020-04-15 20:26] aglitke opened #21199 "[enterprise-4.3] Edit suggested in file cnv/cnv_virtual_machines/cnv_cloning_vms/cnv-cloning-vm-disk-into-new-datavolume-block.adoc"
### Which section(s) is the issue in?
https://docs.openshift.com/container-platform/4.3/cnv/cnv_virtual_machines/cnv_cloning_vms/cnv-cloning-vm-disk-into-new-datavolume-block.html
- Pre-requisites

### What needs fixing?
- Cloning does not require scratch space so you can remove the first pre-req bullet.

[2020-04-15 20:28] aglitke opened #21200 "[enterprise-4.3] Edit suggested in file cnv/cnv_virtual_machines/cnv_cloning_vms/cnv-cloning-vm-disk-into-new-datavolume-block.adoc"
### Which section(s) is the issue in?
https://docs.openshift.com/container-platform/4.3/cnv/cnv_virtual_machines/cnv_cloning_vms/cnv-cloning-vm-disk-into-new-datavolume-block.html#cnv-creating-local-block-pv_cnv-cloning-vm-disk-into-new-datavolume-block

### What needs fixing?
Remove this section because creating loopback devices is primarily a developer workflow and should generally not be recomm

[2020-04-15 22:13] maxwelldb opened #21207 "Invalid admonition in 4.3 ShiftStack w/Kuryr limitations"
### Which section(s) is the issue in?

https://docs.openshift.com/container-platform/4.3/installing/installing_openstack/installing-openstack-installer-kuryr.html#installation-osp-kuryr-known-limitations_installing-openstack-installer-kuryr

### What needs fixing?

The musl section uses "INFO" as an admonition, which is not a valid type. As a result, the admonition doesn't render properly.

[2020-04-16 01:07] janehojy opened #21209 "[enterprise-4.3] Edit suggested in file machine_management/creating-infrastructure-machinesets.adoc"
### Which section(s) is the issue in?

Machine Management > [Creating infrastructure MachineSets](https://docs.openshift.com/container-platform/4.3/machine_management/creating-infrastructure-machinesets.html)

### What needs fixing?

Are we missing a section on creating infra MCPs?

Creating infra machinesets are not relevant for UPI deployments, and I can't find any part of the docs that guide us

[2020-04-16 14:56] #21207 closed

[2020-04-16 22:56] maxwelldb commented on #18426
**Installing a cluster on Red Hat OpenStack Platform no longer requires the Swift object storage service**

Beginning with version 4.4, {product-title} no longer requires that the Swift object storage service be present on the {rh-openstack} cloud where it is installed. If Swift is not available and configured for {product-title} installation, the installation program uses the Cinder block storage

[2020-04-16 22:57] maxwelldb commented on #18426
**Clusters that are installed on Red Hat OpenStack Platform now support self-signed certificates**

{product-title} 4.4 may now be installed on {rh-openstack} clouds that use self-signed certificates for authorization.

For more information, see [Installing a cluster on OpenStack using your own infrastructure](https://ssc-osasinfra1122--ocpdocs.netlify.com/openshift-enterprise/latest/installing/in

[2020-04-17 04:55] nphariharan opened #21250 "[enterprise-4.2] Edit suggested in file architecture/architecture.adoc"
### Which section(s) is the issue in?
OpenShift Container Platform architecture - DEPLOYMENT AND SCALING BENEFITS

### What needs fixing?
Grammar error.
![Grammar Error - Screenshot](https://user-images.githubusercontent.com/6111144/79533701-24daf300-8096-11ea-9c7f-caecc7401ead.jpg)

without downtime  - In this sentence, the article 'the' is missing. It should be written as 'without the downtime'.

[2020-04-17 06:07] kanekoh opened #21251 "[dedicated] Edit suggested in file support/remote_health_monitoring/showing-data-collected-by-remote-health-monitoring.adoc"
### Which section(s) is the issue in?

Regarding OpenShift Dedicated, cluster-admin role is not available and a user may have the role dedicated admin as cluster administrator on OpenShift Dedicated.

### What needs fixing?
I am not sure following instructions are executable by dedicated-admin role however, It should be the dedicated-admin role which is the most powerful user on an OSD cluster.

P

[2020-04-17 15:41] saracferguson opened #21269 "Be more clear about IPv6 support in OCP 4"
### Which section(s) is the issue in?

Several sections of the OCP 4.3 documentation:

In the final example in:
    https://docs.openshift.com/container-platform/4.3/cnv/cnv_virtual_machines/cnv-accessing-vm-consoles.html#cnv-accessing-rdp-console_cnv-accessing-vm-consoles

In two different places here:
    https://docs.openshift.com/container-platform/4.3/networking/multiple_networks/configuring-

[2020-04-17 18:05] jboxman commented on #21269
@saracferguson, thanks for opening this issue. I've asked for confirmation about this.

[2020-04-17 19:03] #20826 closed

[2020-04-17 19:34] rmkraus opened #21286 "[enterprise-4.3] Edit suggested in file networking/configuring_ingress_cluster_traffic/configuring-ingress-cluster-traffic-service-external-ip.adoc"
### Which section(s) is the issue in?
The documentation seems incomplete. It only discusses how to create a service but then does discuss how to make that service available outisde the cluster.

### What needs fixing?
I think there is a section missing at the end of this documentation.

[2020-04-18 15:35] gcecchi opened #21293 "[okd] OCP references in installing-bare-metal page"
### Which section(s) is the issue in?
installing-bare-metal

### What needs fixing?

In general the page resembles the OCP one and it is not adapted to OKD:

the sentence:
"Note that FCOS is based on Red Hat Enterprise Linux 8"
should have Fedora Core 31 (at least now..) and the link related to "Red Hat Enterprise Linux technology capabilities and limits" could not be appropriate in OKD perhaps

t

[2020-04-18 19:59] #20916 closed

[2020-04-19 05:12] jboxman commented on #21131
The last instance of this I found is here: https://github.com/openshift/openshift-ansible/tree/release-3.9/roles/openshift_hosted_templates/files/v3.9/origin

[2020-04-20 03:54] adellape commented on #18426
@emmajiafan @cuipinghuo Per earlier comments:

* Removed Ansible Service Broker docs: https://github.com/openshift/openshift-docs/pull/21295
* Carried over the 4.3 release note "Service Catalog, Template Service Broker, Ansible Service Broker, and their Operators" and updated it for 4.4: https://github.com/openshift/openshift-docs/pull/21294
* Still need to update https://docs.openshift.com/contai

[2020-04-20 12:44] shawn-hurley commented on #18426
+1

[2020-04-20 15:07] ckulacoglu opened #21307 "[enterprise-4.4] Edit suggested in file welcome/index.adoc"
### Which section(s) is the issue in?
Cluster installer activities

### What needs fixing?
There is no link to to "Install a cluster on RHV"

[2020-04-20 16:01] sreber84 commented on #18426
I think information should be added about `haproxy` 2.0 coming and `dns` forwarding capabilities.

[2020-04-20 16:17] maxwelldb opened #21308 "Explain install-config OSP clusterOSImage property"
### Which section(s) is the issue in?

* https://docs.openshift.com/container-platform/4.3/installing/installing_openstack/installing-openstack-installer-custom.html#installation-configuration-parameters_installing-openstack-installer-custom

### What needs fixing?

Docs should note OS image override info: https://github.com/openshift/installer/blob/release-4.4/docs/user/openstack/customization.md

[2020-04-20 16:17] maxwelldb commented on #21308
FYI @racedo

[2020-04-20 16:17] maxwelldb commented on #21308
And @Fedosin

[2020-04-21 04:03] janehojy opened #21324 "[enterprise-4.3] Edit suggested in file storage/persistent_storage/persistent-storage-vsphere.adoc"
### Which section(s) is the issue in?

[Dynamically provisioning VMware vSphere volumes](https://docs.openshift.com/container-platform/4.3/storage/persistent_storage/persistent-storage-vsphere.html#dynamically-provisioning-vmware-vsphere-volumes)

### What needs fixing?

Prerequisite section is insufficient. There are other prereqs like vcenter user permissions, vm folder name, vm enable UUID etc.

[2020-04-21 08:47] peterducai opened #21326 "[enterprise-4.3] Updating the global cluster pull secret (example without dockerconfigjson)"
### Which section(s) is the issue in?

https://docs.openshift.com/container-platform/4.3/openshift_images/managing_images/using-image-pull-secrets.html#images-allow-pods-to-reference-images-from-secure-registries_using-image-pull-secrets

in section *Updating the global cluster pull secret* you suggest

but this is valid only if secret was created from dockerconfigjson

### What needs fixing?

exa

[2020-04-21 13:59] maxwelldb commented on #21308
And for follow-up: https://issues.redhat.com/browse/OSASINFRA-1549

[2020-04-21 14:06] emmajiafan commented on #18426
@adellape  Yes, your understand is exactly right.
Only ''Service Catalog" "Template Service Broke" "OpenShift Ansible Service Broker"  GA for OCP 4.2 & OCP 4.3.  ''Service Catalog" "Template Service Broke" GA for OCP 4.4.

[2020-04-21 20:26] mburke5678 commented on #18426
Cluster Resource Override Opertator
{product-title} administrators can control the level of overcommit and manage container density on nodes. You can configure cluster-level overcommit using the Cluster Resource Override Operator to override the ratio between requests and limits set on developer containers.
https://github.com/openshift/openshift-docs/pull/21319

[2020-04-21 20:33] jboxman commented on #21085
I can confirm I'm not seeing any of these either in CI build.

<img width="970" alt="Screen Shot 2020-04-21 at 4 32 03 PM" src="https://user-images.githubusercontent.com/354496/79911033-b11a4c80-83ed-11ea-8791-4fa935223d6a.png">

[2020-04-21 20:41] jboxman commented on #21085
@bergerhoffer @bobfuru

Is this a topic either of you are familiar with?

[2020-04-21 21:10] bobfuru commented on #21085
I am not familiar with it.

[2020-04-22 12:58] maxwelldb opened #21361 "Installation types table doesn't list ShiftStack UPI"
### Which section(s) is the issue in?

https://docs.openshift.com/container-platform/4.4/installing/install_config/installation-types.html

### What needs fixing?

Add ShiftStack UPI to table 2.

[2020-04-22 13:11] maxwelldb opened #21365 "ShiftStack UPI Ansible playbooks no longer include numbers in names - 4.5+"
### Which section(s) is the issue in?

Many ShiftStack user-provisioned infrastructure modules

### What needs fixing?

4.4: https://github.com/openshift/installer/tree/release-4.4/upi/openstack
Post-4.4: https://github.com/openshift/installer/tree/master/upi/openstack

FYI @pierreprinetti

[2020-04-22 14:05] #21361 closed

[2020-04-22 15:48] dmesser opened #21396 "[enterprise-4.3] Edit suggested in file operators/operator_sdk/osdk-generating-csvs.adoc"
### Which section(s) is the issue in?

https://docs.openshift.com/container-platform/4.3/operators/operator_sdk/osdk-generating-csvs.html#olm-enabling-operator-for-restricted-network_osdk-generating-csvs

### What needs fixing?

The instructions for denoting related images is not correct.

[code]

This is not the case. As per https://github.com/operator-framework/operator-lifecycle-manager/blob/ma

[2020-04-22 22:59] maxwelldb opened #21416 "[enterprise-4.4] OSP missing from available platforms UPI list"
### Which section(s) is the issue in?

https://docs.openshift.com/container-platform/4.4/architecture/architecture-installation.html#available-platforms_architecture-installation

### What needs fixing?

UPI section should include OpenStack, as #20091 exists.

[2020-04-23 00:12] #21416 closed

[2020-04-23 00:28] brianredbeard opened #21424 "PR #21337 introduced an invalid URL in the documentation."
In the attempt to parameterize example URLs in the Service Mesh documentation, PR #21337 instead broke the examples.

The change was attempting to parameterize MaistraVersion.  The challenge arises that parameter substitution inside of a code block [requires additional configuration][1].

A discussion about this can be found here:  https://github.com/asciidoctor/asciidoctor/issues/1741#issuecommen

[2020-04-23 00:28] brianredbeard commented on #21424
cc @neal-timpe @JStickler

[2020-04-23 00:39] sdodson commented on #18426
Upgrades from 4.3.15 or later to 4.4.0 will be available in the fast channel at GA. Based on telemetry data collected after the release upgrades from 4.3 will be promoted into the stable channel approximately 2-4 weeks later.

[2020-04-23 08:20] dmesser opened #21429 "[enterprise-4.3] Edit suggested in file operators/olm-understanding-operatorhub.adoc"
### Which section(s) is the issue in?

OperatorHub CRD, OperatorSource CRD

### What needs fixing?

The section titles are not really connected to a certain use case. The use cases are adding / removing catalogs from Quay.io (using `OperatorSource`) and enabling/disabling default catalogs (using `OperatorHub`) which are managed / recreated when deleted by our controller.

The headlines should refl

[2020-04-23 08:52] buuhsmead opened #21430 "[enterprise-4.3] Edit suggested in file nodes/pods/nodes-pods-secrets.adoc"
### Which section(s) is the issue in?
https://docs.openshift.com/container-platform/4.3/nodes/pods/nodes-pods-secrets.html#nodes-pods-secrets-troubleshooting_nodes-pods-secrets

### What needs fixing?
In the example at the bottom of the page:
====
$ oc delete secret <secret_name>
$ oc annotate service <service_name> service.alpha.openshift.io/serving-cert-generation-error-1
$ oc annotate service <

[2020-04-23 13:52] lbohnsac opened #21433 "[enterprise-4.3] Edit suggested in file backup_and_restore/backing-up-etcd.adoc"
### Which section(s) is the issue in?

### What needs fixing?
The described way is not correct for OCP4.3.0 - 4.3.8!
Add the correct procedure to back up etcd for the older (still used by customers) version!

[2020-04-23 13:54] lbohnsac opened #21434 "[enterprise-4.3] Edit suggested in file backup_and_restore/disaster_recovery/scenario-2-restoring-cluster-state.adoc"
### Which section(s) is the issue in?

### What needs fixing?
The described way is not working for OCP4.3.0 - 4.3.8!
Add the correct procedure to restore etcd for the older (still used by customers) version!

[2020-04-23 13:56] christianh814 opened #21435 "[enterprise-4.3] No info about latency requirements."
### Which section(s) is the issue in?

I'm not sure, but I think it should go in the "installation" section. (all of them)

### What needs fixing?

There is no info about latency requirements between master~>master or master~>node. When designing an OpenShift rollout over multiple datacenters ("stretch clusters"), or even within the same datacenter; we need to know what the latency requirement is.

[2020-04-23 14:29] mburke5678 commented on #21293
@vrutkovs Can you help with this?

[2020-04-23 15:33] therevoman commented on #21435
This traditionally was found in the CoreOS etcd documentation, but with Operators and other components a more comprehensive value is needed when discussing cluster limitations.

[2020-04-23 16:13] vrutkovs commented on #21293
/assign

[2020-04-23 17:23] adellape commented on #18426
@jianzhangbjz @ecordell

After discussion with PM and GSS, this has been truncated in the OCP 4.4 release notes, with a link to the OKD docs for this additional info including the bundle structure:

https://docs.openshift.com/container-platform/4.4/release_notes/ocp-4-4-release-notes.html#ocp-4-4-deprecation-of-operatorsources

https://docs.okd.io/latest/operators/understanding_olm/olm-understandi

[2020-04-23 18:49] maxwelldb commented on #21435
@ahardin-rh Might this be a scalability team project?

[2020-04-23 19:50] jboxman commented on #19619
Thanks @NissesSenap! Fixed in https://github.com/openshift/openshift-docs/pull/18368.

[2020-04-23 19:50] #19619 closed

[2020-04-23 19:52] jboxman commented on #17464
Thanks for opening this @git001; I've merged a PR with the fix https://github.com/openshift/openshift-docs/pull/18368.

[2020-04-23 19:52] #17464 closed

[2020-04-23 19:53] jboxman commented on #16901
Fixed in https://github.com/openshift/openshift-docs/pull/18368.

[2020-04-23 19:53] #16901 closed

[2020-04-23 19:54] jboxman commented on #19993
@nickcmaynard, I've merged a PR with `NodePort` updates: https://github.com/openshift/openshift-docs/pull/18368

I have a separate PR covering some of ExternalIP: https://github.com/openshift/openshift-docs/pull/21388

[2020-04-23 19:54] #19993 closed

[2020-04-24 01:02] jboxman commented on #19589
The signed binaries are available here: https://access.redhat.com/downloads/content/290/ver=4.3/rhel---8/4.3.8/x86_64/product-software

[2020-04-24 01:09] jboxman commented on #19589
@kalexand-rh, the signed binaries are available from a different URL, above, than we're using at https://cloud.redhat.com/openshift/install. (Which points to https://mirror.openshift.com/pub/openshift-v4/clients/ocp/latest/; And the bug I filed about having the binaries signed available on the public mirror was closed as deferred at this time.)

Do we want to point to the signed binaries instead?

[2020-04-24 03:19] fgiloux opened #21465 "[enterprise-4.3] Edit suggested in file scalability_and_performance/scaling-cluster-monitoring-operator.adoc"
### Which section(s) is the issue in?
https://github.com/openshift/openshift-docs/blob/master/modules/prometheus-database-storage-requirements.adoc
Section: Lab environment

### What needs fixing?
"Currently, OpenStack environments are not supported for OpenShift Container Platform 4.3."
OCP 4.3 (and previous version too) is supported on OpenStack. This warning should be removed

[2020-04-24 07:45] lbohnsac opened #21470 "[enterprise-4.4] Missing chapter "User/Group Management""
### Which section(s) is the issue in?

Missing chapter "User/Group Management"

### What needs fixing?
It needs to be added, it was available in 3.x documentation but is now completely gone!

[2020-04-24 07:48] lbohnsac opened #21471 "[enterprise-4.4] Add and explain example output"
### Which section(s) is the issue in?

CLI commands

### What needs fixing?
For every example the output is missing!
Add output and the explanation about the provided output!

[2020-04-24 16:11] neal-timpe commented on #21424
Resolved in PR https://github.com/openshift/openshift-docs/pull/21479. Thanks for pointing it out.

[2020-04-24 16:11] #21424 closed

[2020-04-24 18:17] kalexand-rh commented on #19589
@luciddreamz, do you have an opinion about providing a link to the signed installer binaries (https://access.redhat.com/downloads/content/290/ver=4.3/rhel---8/4.3.8/x86_64/product-software) in the docs instead of the https://cloud.redhat.com/openshift/install pages?

[2020-04-24 19:52] mburke5678 commented on #18426
Known Issue:
During an update to cluster logging from 4.3 to 4.4, the Elasticsearch pods might get stuck in CrashLoopBackOff status. You can workaround this issue by deleting the Elasticsearch deployments in sequence.
https://bugzilla.redhat.com/show_bug.cgi?id=1824006

[2020-04-24 20:51] michaelshire commented on #20388
Error is specific to Windows command line.  Error does not occur on Linux command line.

[2020-04-26 00:49] anpingli commented on #18426
@mburke5678  Thanks

[2020-04-27 18:43] abrennan89 commented on #19438
@mburke5678 I think this issue can be closed now, but I don't have permissions to do it?

[2020-04-28 02:25] jboxman commented on #21433
FYI @bergerhoffer

[2020-04-28 08:48] shortsteps opened #21602 "[enterprise-4.3] Edit suggested in file logging/cluster-logging-manual-rollout.adoc"
### Which section(s) is the issue in?
[Performing an Elasticsearch rolling cluster restart](https://docs.openshift.com/container-platform/4.3/logging/cluster-logging-manual-rollout.html#cluster-logging-manual-rollout-rolling_cluster-logging-rollout) - step 7

### What needs fixing?
The right command is
`oc exec <any_es_pod_in_the_cluster> -c elasticsearch -- es_util --query=_cluster/settings -XPUT

[2020-04-28 12:44] bergerhoffer commented on #21433
Hi @lbohnsac, can you give more specifics to what older procedure you're looking for? We made a few changes along the way, but as far as I'm aware, none specific to stopping at 4.3.8.

* In 4.2, you backed up etcd and it produced a single snapshot.db file.
* In 4.3.0, you backed up etcd and it produced a single tar.gz file containing both the snapshot.db file and static resources.
* In 4.3.2+, you

[2020-04-28 14:43] lbohnsac commented on #21433
Hi @bergerhoffer, you already pointed it out ..
There were several changes but they aren't mentioned in the docu.
But the docu reads this in the Prerequisites:
A backup directory containing both the etcd snapshot and static Kubernetes API server resources taken from the same backup. The file names in the directory must be in the following formats: snapshot_<datetimestamp>.db and static_kuberesourc

[2020-04-28 18:49] dhellmann opened #21632 "[enterprise-4.3] Edit suggested in file rest_api/index.adoc"
### Which section(s) is the issue in?

https://docs.openshift.com/container-platform/4.3/rest_api/index.html

### What needs fixing?

The page is unusably long. Rendering in the browser takes forever, and it is impossible to scroll, search, or do anything else with the page.

[2020-04-28 19:21] jboxman commented on #21632
@dhellmann, complete agree. A redesign is in the works for this.

[2020-04-28 19:52] dhellmann commented on #21632
@jboxman Nice :-) Thanks for the quick response!

[2020-04-28 20:15] chuckersjp opened #21638 "[enterprise-3.11] Edit suggested in file upgrading/automated_upgrades.adoc"
### Which section(s) is the issue in?
https://docs.openshift.com/container-platform/3.11/upgrading/automated_upgrades.html#upgrading-efk-logging-stack

### What needs fixing?

Previously, this section contained the following:
[code]
(Compare with https://docs.openshift.com/container-platform/3.10/upgrading/automated_upgrades.html#upgrading-efk-logging-stack)
This section is no longer present and i

[2020-04-29 04:41] jboxman commented on #21430
@buuhsmead, fixed, thanks!

[2020-04-29 04:41] #21430 closed

[2020-04-29 06:21] janehojy commented on #21324
can we also have the relevant prerequisites found in [3.11 docs](https://docs.openshift.com/container-platform/3.11/install_config/configuring_vsphere.html#manually-configuring-node-hosts-for-vsphere) in the 4.x docs too?

at least in the [installing vsphere](https://docs.openshift.com/container-platform/4.3/installing/installing_vsphere/installing-vsphere.html#installation-vsphere-infrastructure_

[2020-04-29 12:22] mulbc opened #21682 "[enterprise-4.3] Edit suggested in file installing/installing_bare_metal/installing-bare-metal.adoc"
### Which section(s) is the issue in?
Creating Red Hat Enterprise Linux CoreOS (RHCOS) machines by PXE or iPXE booting
Section 5
https://docs.openshift.com/container-platform/4.3/installing/installing_bare_metal/installing-bare-metal.html#installation-user-infra-machines-pxe_installing-bare-metal

### What needs fixing?

The iPXE config has this line:

But the kernel line already mentions the path

[2020-04-29 12:44] mulbc commented on #21682
Got a bit confused... what ended up working for me is having the full path in the `initrd` line, but only mentioning the file name in the kernel line like this:

[code]

That way the initrd is loaded from the path and then the kernel refers to it directly (since it's loaded)

[2020-04-29 14:50] bergerhoffer commented on #21433
@lbohnsac Thanks for the clarification. I'll look into adding a note to the restore procedure that mentions the backward compatibility with the single file.

[2020-04-29 15:19] ChetHosey opened #21689 "[enterprise-4.3] Edit suggested in file logging/cluster-logging-manual-rollout.adoc"
### Which section(s) is the issue in?

Reenabling shard balancing

### What needs fixing?

Reenabling shard balancing shows the same command as disabling shard balancing:

[code]

It should probably use `null` instead of `"none"`, to return to the default behavior:

[code]

[2020-04-29 18:33] aglitke opened #21697 "[enterprise-4.3] Edit suggested in file cnv/cnv_virtual_machines/cnv_virtual_disks/cnv-expanding-virtual-storage-with-blank-disk-images.adoc"
### Which section(s) is the issue in?
Template: DataVolume configuration file for blank disk images

### What needs fixing?
This section seems redundant as it's just a copy of the preceding example.

[2020-04-29 18:38] aglitke opened #21699 "[enterprise-4.3] Edit suggested in file cnv/cnv_virtual_machines/cnv_virtual_disks/cnv-preparing-cdi-scratch-space.adoc"
### Which section(s) is the issue in?
All sections

### What needs fixing?
In many instances the words "the CDI" are used.  When referring to CDI itself, 'the' should not precede 'CDI'.

[2020-04-29 20:30] csantanapr opened #21709 "[enterprise-4.3] Edit suggested in file serverless/installing_serverless/installing-knative-serving.adoc"
### Which section(s) is the issue in?
[Installing Knative Serving using the web console](https://docs.openshift.com/container-platform/4.3/serverless/installing_serverless/installing-knative-serving.html#serverless-install-serving-web-console_installing-knative-serving)

### What needs fixing?
#### Problem 1: Using "Catalog->OperatorHub->Installed Operators"
In OCP43 I don't see this "Catalog"
I s

[2020-04-29 21:10] csantanapr opened #21712 "[enterprise-4.3] Edit suggested in file serverless/installing_serverless/installing-knative-eventing.adoc"
### Which section(s) is the issue in?
[Installing Knative Eventing using the web console](https://docs.openshift.com/container-platform/4.3/serverless/installing_serverless/installing-knative-eventing.html#serverless-install-eventing-web-console_installing-knative-eventing)

### What needs fixing?
Similar to #21709

#### Problem 1: Using "Catalog->OperatorHub->Installed Operators"
In OCP43 I don't

[2020-04-29 21:10] csantanapr commented on #21712
cc @markito

[2020-04-29 21:11] csantanapr commented on #21709
cc @markito

[2020-04-30 00:26] kanekoh opened #21715 "[enterprise-4.3] Edit suggested in file logging/cluster-logging-deploying-about.adoc"
### Which section(s) is the issue in?
A link in Storage considerations for cluster logging and OpenShift Container Platform is not available.

Following `keep absolute storage consumption around 50% and below 70% at all times` linked https://signalfx.com/blog/how-we-monitor-and-run-elasticsearch-at-scale/ but, the URL is not available right now

[code]

### What needs fixing?
Please re-link to the

[2020-04-30 00:30] jboxman commented on #21715
This appears to be that post:

http://web.archive.org/web/20190901225900/https://signalfx.com/blog/how-we-monitor-and-run-elasticsearch-at-scale/

[2020-04-30 13:56] charlyif opened #21724 "[enterprise-4.3] Edit suggested in file backup_and_restore/disaster_recovery/scenario-3-expired-certs.adoc"
### Which section(s) is the issue in?

**Recovering from expired control plane certificates**

https://docs.openshift.com/container-platform/4.3/backup_and_restore/disaster_recovery/scenario-3-expired-certs.html

### What needs fixing?

**Step 9.b** from the procedure states:

Suggested change:
Resulting `kubeconfig` file from 9.a has to be distributed also to other nodes or they won't be able to

[2020-04-30 20:16] gcorneau-ibm opened #21733 "[enterprise-4.3] Edit suggested in file installing/install_config/installing-restricted-networks-preparations.adoc"
### Which section(s) is the issue in?

Creating a mirror registry

### What needs fixing?

The instructions for setting up a local registry are architecture-specific (docker.io/library/registry:2).  Trying that image on ppc64le doesn't work since it's a x86/arm image.  Need to use "docker.io/ppc64le/registry:2" instead.

[2020-05-01 14:43] pamoedom opened #21742 "[enterprise-4.3] Edit suggested in file architecture/architecture-installation.adoc"
### Which section(s) is the issue in?

https://docs.openshift.com/container-platform/4.3/architecture/architecture-installation.html#available-platforms_architecture-installation

### What needs fixing?

"Red Hat Virtualization (RHV)" should be removed from the IPI list, it was included recently with version 4.4 but not available within 4.3

Thanks and regards.

[2020-05-01 16:36] jboxman commented on #21250
@nphariharan, thanks for reporting this; we've opted to keep the wording as is for now.

[2020-05-01 16:36] #21250 closed

[2020-05-02 14:53] lbohnsac opened #21754 "[enterprise-4.3] Edit suggested in file registry/accessing-the-registry.adoc"
### Which section(s) is the issue in?
Viewing the registry’s contents

### What needs fixing?
The title is absolute misleading! It should be "See which pods registry is running!
But tbh ... viewing the registy's content is missing at all. Same for managing the registry's content. On OCP 3.x we had a nice webUI to the registry ... where is it?

Add the correct content for the title or change the ti

[2020-05-03 06:31] jarielpa opened #21757 "[online] Edit suggested in file networking/accessing-hosts.adoc"
### Which section(s) is the issue in?
Accessing hosts on Amazon Web Services in an installer-provisioned infrastructure cluster

### What needs fixing?
Is this about AWS or Azure ?

[2020-05-04 01:55] takleung opened #21762 "[enterprise-4.3] Edit suggested in file applications/deployments/route-based-deployment-strategies.adoc"
### Which section(s) is the issue in?
Load balancing for A/B testing --> MANAGING WEIGHTS USING THE WEB CONSOLE --> Procedure

### What needs fixing?
The Service Weights slider sets the percentage of traffic sent to each service.

Could not found any slider from UI

[2020-05-04 08:38] sachsachdeva opened #21764 "[enterprise-4.4] Edit suggested in file installing/install_config/installation-types.adoc"
### Which section(s) is the issue in?

Currently, I don't see the inclusion of RHV in this table.

### What needs fixing?

[2020-05-04 13:22] sheriff-rh commented on #18426
4.4 is now live. Thanks all!
4.5 release notes tracker is here:
https://github.com/openshift/openshift-docs/issues/19847

[2020-05-04 13:22] #18426 closed

[2020-05-04 16:45] maxwelldb commented on #21742
@rolfedh Would this and #21764 be of interest to you?

[2020-05-04 18:05] Jainbrt opened #21792 "[enterprise-4.4] Edit suggested in file updating/updating-cluster-rhel-compute.adoc"
### Which section(s) is the issue in?
In "Updating RHEL compute machines in your cluster"

### What needs fixing?
[code]

should be changed to

[code]

[2020-05-04 19:42] chuckersjp opened #21803 "[enterprise-3.11] Edit suggested in file upgrading/automated_upgrades.adoc"
### Which section(s) is the issue in?
Prerequisite section that states

`$ oc adm migrate storage --include=* --loglevel=2 --confirm --config /etc/origin/master/admin.kubeconfig`

### What needs fixing?
The `--confirm` flag is deprecated and will be ignored.  OpenShift itself will mention this when it is included.

Replace with line:

`$ oc adm migrate storage --include=* --loglevel=2 --config /et

[2020-05-04 22:14] #20868 closed

[2020-05-05 00:11] lbohnsac opened #21819 "[enterprise-4.4] Edit suggested in file updating/updating-cluster-cli.adoc"
### Which section(s) is the issue in?

### What needs fixing?
Fix the example outputs .. it still reads 4.1.0 and 4.1.2!

e.g. this output should be fixed:
$ oc adm upgrade

Cluster version is 4.1.0

Updates:

VERSION IMAGE
4.1.2   quay.io/openshift-release-dev/ocp-release@sha256:9c5f0df8b192a0d7b46cd5f6a4da2289c155fd5302dec7954f8f06c878160b8b

[2020-05-05 01:17] jboxman commented on #21819
@lbohnsac, what should it read?

Thanks.

[2020-05-05 08:49] steled opened #21820 "[enterprise-4.4] Edit suggested in file installing/installing_rhv/installing-rhv-creating-custom-vm.adoc"
### Which section(s) is the issue in?
Using an Ansible playbook to upload an RHCOS image to a data storage domain

### What needs fixing?
The name of the Ansible playbook at 5.

See below:

`1. Create an Ansible playbook file upload_rhcos_disk.yaml on the Red Hat Virtualization (RHV) Manager. For example:` _$ vi **upload_rhcos_disk.yaml**_

`5. On the Manager, run the Ansible playbook. For example

[2020-05-05 21:30] maxwelldb commented on #21742
Closing per #21800. Feel free to reopen if necessary.

[2020-05-05 21:30] #21742 closed

[2020-05-05 21:30] maxwelldb commented on #21764
Closing per linked PRs. Feel free to reopen if necessary.

[2020-05-05 21:30] #21764 closed

[2020-05-06 02:40] michaelepley opened #21848 "[enterprise-4.4] Edit suggested in file cnv/cnv_virtual_machines/cnv_vm_networking/cnv-attaching-vm-multiple-networks.adoc"
### Which section(s) is the issue in?

https://docs.openshift.com/container-platform/4.4/cnv/cnv_virtual_machines/cnv_vm_networking/cnv-attaching-vm-multiple-networks.html#cnv-networking-glossary_cnv-attaching-multiple-networks

### What needs fixing?

The breadcrumb at the top of this rendered page is invalid- "Container-native virtualization" linking to https://docs.openshift.com/container-platf

[2020-05-06 03:37] janehojy opened #21849 "[enterprise-4.4] Edit suggested in file architecture/architecture-installation.adoc"
### Which section(s) is the issue in?

[Installation process](https://docs.openshift.com/container-platform/4.4/architecture/architecture-installation.html#installation-process_architecture-installation) > installation process details

### What needs fixing?

AFAIK bootstrap process has changed in 4.4? https://github.com/openshift/installer/issues/2740

[2020-05-06 10:44] kanekoh commented on #21715
@jbornemann Thanks for the information. Looks like the article was no longer available on the original site.

[2020-05-06 18:17] ncameronbritt opened #21881 "[enterprise-4.4] Edit suggested in file machine_management/more-rhel-compute.adoc"
### Which section(s) is the issue in?
About adding RHEL compute nodes to a cluster

### What needs fixing?
According to @katherinedube RHEL workers can be added regardless whether the cluster was created with user-provisioned infrastructure or installer-provisioned infrastructure.

[2020-05-06 19:48] katherinedube commented on #21881
@sdodson I know we already resolved allowing RHEL 7 server workers to be added to an installer-provisioned cluster (since there isn't any differences between the install methods from a day 2 operational perspective), but do you know if there was ever a BZ or PR opened to track making updates to the product documentation? I thought something was already submitted for this. Otherwise, I know we cove

[2020-05-07 08:36] pamoedom opened #21906 "[enterprise-4.4] Edit suggested in file nodes/clusters/nodes-containers-events.adoc"
### Which section(s) is the issue in?
https://docs.openshift.com/container-platform/4.3/nodes/clusters/nodes-containers-events.html#nodes-containers-events-list_nodes-containers-events

### What needs fixing?
Just a small typo with word "ploicy" instead of "policy", located at "Table 18. LoadBalancer Service Events" -> "ExternalTrafficPolicy":

[code]

Best Regards.

[2020-05-07 18:51] jeffhoek opened #21930 "[enterprise-4.3] Edit suggested in file operators/operator_sdk/osdk-helm.adoc"
### Which section(s) is the issue in?
Building a Helm-based Operator using the Operator SDK
Step 3: Deploy the CRD.

### What needs fixing?
The nginx image that's used appears to be running as root. Pod logs show:
[code]

[2020-05-07 19:13] mburke5678 commented on #14295
Being investigated in https://github.com/openshift/openshift-docs/pull/21268

[2020-05-07 19:13] #14295 closed

[2020-05-07 19:26] mburke5678 commented on #13870
@vrutkovs Any thoughts on which image should be used here?

[2020-05-07 20:08] mburke5678 commented on #15985
Section replaced with [Disabling Host Name Collision Prevention For Routes and Ingress Objects](https://docs.okd.io/3.10/admin_guide/managing_networking.html#admin-guide-disabling-hostname-collision)

[2020-05-07 20:08] #15985 closed

[2020-05-07 20:23] vrutkovs commented on #13870
There's no such section in latest docs.

3.11 docs should remove this section - `openshift/origin` is no longer used

[2020-05-08 07:39] zerodayz commented on #13870
@vrutkovs Hi, linked the other issue reported in origin repository. I would like to take this issue as my first contribution. Currently following https://github.com/openshift/openshift-docs/blob/master/contributing_to_docs/tools_and_setup.adoc and preparing the needed tools.

[2020-05-08 07:53] vrutkovs commented on #13870
In order to build OKD documentation I used `python3 build.py --distro openshift-origin --product "OKD" --version 4.4 --no-upstream-fetch && python3 makeBuild.py && asciibinder build -t 0`. It needs quite a few gems installed to succeed.

[2020-05-08 07:57] zerodayz commented on #13870
@vrutkovs I am on Fedora 32 and everything worked first time, changed administration.adoc, built docs, confirmed the change and PR is coming now. I will note your commands for future reference.

[2020-05-08 08:05] zerodayz commented on #13870
@vrutkovs  I used:
1. Forked the repo
2. Cloned the repo
[code]
3. Prepared tools
[code]
4. Cloned the repo
[code]

[2020-05-08 08:06] zerodayz commented on #13870
@vrutkovs Pull request https://github.com/openshift/openshift-docs/pull/21942

[2020-05-08 08:16] zerodayz commented on #13870
Thank you for your help. Can you please check on my https://github.com/openshift/openshift-docs/issues/13870#issuecomment-625695435 ? When I build I can see the OKD documentation but your comment made me unsure, if I need to submit PR against different branch?

[2020-05-08 09:13] sheijmans opened #21944 "[enterprise-4.4] Edit suggested in file installing/installing_vsphere/installing-vsphere.adoc"
### Which section(s) is the issue in?
Networking requirements for user-provisioned infrastructure.

### What needs fixing?
Should port 22623 (from the secion NETWORK TOPOLOGY REQUIREMENTS) not also be mentioned in table 2

[2020-05-08 15:38] #21396 closed

[2020-05-08 15:51] #19438 closed

[2020-05-08 16:36] lbohnsac opened #21956 "[enterprise-4.3] Edit suggested in file logging/cluster-logging-upgrading.adoc"
### Which section(s) is the issue in?
Update precedure is only described for webUI ... update procedure for cli is missing!

### What needs fixing?
Add the update procedure with cli!
you can't automate webUI clicks!

[2020-05-08 16:37] lbohnsac opened #21957 "[enterprise-4.4] Edit suggested in file logging/cluster-logging-upgrading.adoc"
### Which section(s) is the issue in?
Update precedure is only described for webUI ... update procedure for cli is missing!

### What needs fixing?
Add the update procedure with cli!
you can't automate webUI clicks!

[2020-05-10 04:42] AssafKatz3 opened #21979 "[enterprise-4.3] Edit suggested in file networking/configuring_ingress_cluster_traffic/configuring-ingress-cluster-traffic-load-balancer.adoc"
### Which section(s) is the issue in?
Prerequisites

### What needs fixing?
The following sentence assumes that I already know the information that this page should help me about:

The questions are:

1. Which port should be opened?
2. To which machines it should be opened?

Also the following sentence suffer from similar problem:

1. How do I configure OpenShift to use this pool?
2. What're the r

[2020-05-11 07:27] prsahoo opened #21980 "[enterprise-4.3] Edit suggested in file authentication/managing-security-context-constraints.adoc"
### Which section(s) is the issue in?

https://docs.openshift.com/container-platform/4.3/authentication/managing-security-context-constraints.html#listing-security-context-constraints_configuring-internal-oauth

### What needs fixing?
`oc get scc ` command does not return the output as shown in the example.  The example seems to be of OpenShift 3.x

In Openshift 4.3,  `oc get scc `  returns only t

[2020-05-11 16:18] bergerhoffer commented on #21085
I'm not either.

@rh-max - See @bobfuru's question above.

@bobfuru - I made the mistake of picking the wrong GitHub ID for Max a few weeks ago myself. @rh-max is the right one.

[2020-05-11 17:24] lbohnsac opened #21995 "[enterprise-4.4] Edit suggested in file storage/persistent_storage/persistent-storage-local.adoc"
### Which section(s) is the issue in?
Uninstalling the Local Storage Operator

### What needs fixing?
Do not mix up the uninstall procedure with command line and webUi clicks!
Provide uninstall procedure for command line and webUI separated!
Command line procedure should have always the highest priority ... Why? Because you can't automate webUI clicks! ;)

[2020-05-11 17:30] peterclauterbach opened #21996 "[enterprise-4.4] Edit suggested in file installing/install_config/installing-customizing.adoc"
### Which section(s) is the issue in?
Customizing nodes -> Adding day-1 kernel arguments

### What needs fixing?
As an example of a customization a user might want to do, we say:

Disabling SELinux seems to be a horrible idea. Can we use a less critical feature that a customer might reasonably want to disable.

[2020-05-11 18:08] mburke5678 commented on #13870
Changes made in https://github.com/openshift/openshift-docs/pull/21942

[2020-05-11 18:08] #13870 closed

[2020-05-11 19:00] #21712 closed

[2020-05-11 19:03] #21709 closed

[2020-05-11 20:08] pkchavva opened #22007 "[enterprise-4.4] Edit suggested in file installing/installing_vsphere/installing-vsphere.adoc"
### Which section(s) is the issue in?

Load balancer

### What needs fixing?

The section of Load balancing is very brief and does not cover HAProxy.

https://www.openshift.com/blog/openshift-4-2-vsphere-install-quickstart This blog is a very useful extension to the topic of load balancing, Can we the haproxy info here or link it somewhere so that its easy for users to find?

[2020-05-12 07:26] dwojciec opened #22014 "improvement suggestion for documentation. Having all yaml files available somewhere to include them in an automation process."
### Which section(s) is the issue in?
All files (yaml) mentionned into the documentation

### What needs fixing?
Why not to have a copy of each yaml file present in the documentation somewhere on github (maybe openshift-docs/yaml-file/ to facilitate the life of users and to allow to integrate them quickly if we want to automate some tasks.
Just 1 example : in the logging part (https://docs.openshi

[2020-05-12 11:20] maxwelldb opened #22018 "[enterprise-4.x] Edit suggested in file installing/install_config/installation-types.adoc"
### Which section(s) is the issue in?

https://docs.openshift.com/container-platform/4.4/installing/install_config/installation-types.html

### What needs fixing?

"You can perform different types of installations on different platforms."

These aren't exhaustive lists of the installations that are functional and tested--they're just what we've committed to documenting. I suggest updating the lang

[2020-05-12 11:33] maxwelldb commented on #22018
This might end up resolved by https://bugzilla.redhat.com/show_bug.cgi?id=1833833

[2020-05-13 14:37] cptmorgan-rh opened #22077 "[enterprise-4.4] Incorrect Ansible Repository"
### Which section(s) is the issue in?
Preparing the machine to run the playbook

### What needs fixing?
Ansible Version required by 4.4 is Ansible 2.9

Correct Repos.

# subscription-manager repos \
    --enable="rhel-7-server-rpms" \
    --enable="rhel-7-server-extras-rpms" \
    --enable="rhel-7-server-ansible-2.9-rpms" \
    --enable="rhel-7-server-ose-4.4-rpms"

[2020-05-14 00:16] dudash opened #22095 "[online] Edit suggested in file networking/accessing-hosts.adoc"
### Which section(s) is the issue in?
Accessing Hosts (ARO)
https://docs.openshift.com/aro/4/networking/accessing-hosts.html

### What needs fixing?
References to EC2 need to be replaced with instructions for ARO hosts (if possible).

[2020-05-14 01:18] bergerhoffer commented on #21433
Closing this issue as #21690 has been merged. Updates are live: https://docs.openshift.com/container-platform/4.3/backup_and_restore/disaster_recovery/scenario-1-infra-recovery.html#dr-scenario-1-recover-master-hosts_dr-infrastructure-recovery

FYI @lbohnsac

[2020-05-14 01:19] #21433 closed

[2020-05-14 13:22] lbohnsac opened #22116 "[enterprise-4.3] Edit suggested in file authentication/configuring-internal-oauth.adoc"
### Which section(s) is the issue in?
Register an additional OAuth client

### What needs fixing?
Explain why someone should set up an additional OAuth client!
Is it always necessary or only under certain circumstances?

[2020-05-14 14:41] christianh814 opened #22127 "[enterprise-4.4] Edit suggested in file installing/installing_bare_metal/installing-bare-metal.adoc"
### Which section(s) is the issue in?

https://docs.openshift.com/container-platform/4.4/installing/installing_bare_metal/installing-bare-metal.html#registry-removed_installing-bare-metal

### What needs fixing?

It would be helpful to provide an example command to run. Something like this

[code]

[2020-05-14 17:17] therevoman opened #22133 "[enterprise-4.4] Edit suggested in file release_notes/ocp-4-4-release-notes.adoc"
### Which section(s) is the issue in?
API changes

### What needs fixing?
the Kubernetes Deployment object has been upgraded from `extensions/v1beta1` to `apps/v1`.  This should be boldly highlighted as there are some considerations that need to be made along with this

[2020-05-14 21:39] jboxman commented on #22133
@therevoman, can you elaborate on what those considerations are?

It is mentioned in the [release notes](https://docs.openshift.com/container-platform/4.3/release_notes/ocp-4-3-release-notes.html#ocp-4-3-beta-workload-alerts-deprecated).

[2020-05-15 09:53] suulperi opened #22171 "[enterprise-4.4] Edit suggested in file installing/installing_vsphere/installing-vsphere.adoc"
### Which section(s) is the issue in?
Load balancers
Before you install OpenShift Container Platform, you must provision two layer-4 load balancers. The API requires one load balancer and the default Ingress Controller needs the second load balancer to provide ingress to applications.

### What needs fixing?
Is Layer 4 (TCP) really requirement? Is it really so we are not supporting L7 LB's so we c

[2020-05-15 16:11] maxwelldb opened #22178 "[enterprise-4.4] Edit suggested in file storage/persistent_storage/persistent-storage-vsphere.adoc"
FYI, @bobfuru -- not sure if you have anything cooking that would fix this, anyhow, but git blame says you own this.

### Which section(s) is the issue in?
https://docs.openshift.com/container-platform/4.4/storage/persistent_storage/persistent-storage-vsphere.html#vsphere-static-provisioning_persistent-storage-efs

Step 4

### What needs fixing?
The example has callouts 1,3, and 4, but not 2.

[2020-05-15 18:12] bobfuru commented on #22178
Thank you, @maxwelldb! Good catch. I fixed this in https://github.com/openshift/openshift-docs/pull/22187. Closing this issue.

[2020-05-15 18:13] #22178 closed

[2020-05-17 21:36] btannous opened #22215 "[enterprise-4.4] Edit suggested in file service_mesh/service_mesh_day_two/prepare-to-deploy-applications-ossm.adoc"
### Which section(s) is the issue in?
The example app `sleep` doesn't actually work.  There are a few things wrong.

original here:
[code]

The error when applying the above yaml:
[code]

### What needs fixing?
This works:
[code]

The blank fields can be deleted, but they were generated w/ the `oc create deployment --image REPLACE sleep --dry-run -oyaml` and don't hurt to have them.
But it seems l

[2020-05-18 04:22] iamparamvs opened #22216 "[enterprise-4.4] Edit suggested in file logging/cluster-logging-deploying.adoc"
### Which section(s) is the issue in?
In the section 4: "**Install the Cluster Logging Operator by creating the following objects**"

### What needs fixing?

Section 4-a should be about creating the Cluster-logging namespace. First the Cluster logging namespace must be created then the Operator group shall be created.

Create a file for creating a cluster-logging namespace(e.g. clo-namespace.yaml)

[2020-05-18 04:29] iamparamvs opened #22217 "[enterprise-4.4] Edit suggested in file logging/cluster-logging-deploying.adoc"
### Which section(s) is the issue in?
In the section 4-e **Verify the Operator installation**

### What needs fixing?

The command "**oc get csv --openshift-logging**" does not run properly

[2020-05-18 19:45] hupiper opened #22240 "[enterprise-4.3] Edit suggested in file installing/installing_ibm_z/installing-ibm-z.adoc"
### Which section(s) is the issue in?
Creating the Kubernetes manifest and Ignition config files:Procedure:2

### What needs fixing?
This isn't just for ibmz - the instructions say to modify cluster-scheduler-02-config.yml to change mastersSchedulablemaster from true to false is a problem. We should have the file already using false as a default.

[2020-05-18 20:45] qlixed opened #22246 "[enterprise-3.11] Edit suggested in file install_config/syncing_groups_with_ldap.adoc"
### Which section(s) is the issue in?

In:

https://docs.openshift.com/container-platform/3.11/install_config/syncing_groups_with_ldap.html#sync-ldap-active-directory

The example:
LDAP sync configuration that uses Active Directory schema: active_directory_config.yaml

and in:

https://docs.openshift.com/container-platform/3.11/install_config/syncing_groups_with_ldap.html#sync-ldap-augmented-activ

[2020-05-18 23:56] KyWa opened #22248 "[enterprise-3.11] Edit suggested in file install_config/cluster_metrics.adoc"
### Which section(s) is the issue in?
The core of the deployment of metrics on OCP 3.11 is incorrect, thus the whole document.

### What needs fixing?
The official docs state that Heapster and Hawkular are the metrics platform (which was the case in previous version of OCP 3), however, in 3.11 this is no longer the case and the docs are misleading, not allowing HPA to work on clusters. This inform

[2020-05-19 03:41] jboxman commented on #22248
@KyWa, there is a note on the [page](https://docs.openshift.com/container-platform/3.11/install_config/cluster_metrics.html) regarding HPA:

[2020-05-19 08:12] kanekoh opened #22253 "[enterprise-4.4] Edit suggested in file authentication/certificate-types-descriptions.adoc"
### Which section(s) is the issue in?

The section of Expiration at etcd certificates.

### What needs fixing?

The product documentation states that the validity period of certificates for etcd client, peer and server are 3 years, however the source code seems to set a different value (10 years).

The certificate period for the cluster I deployed was also 10 years. With is the correct explanation

[2020-05-19 12:35] vanallp opened #22258 "[enterprise-4.4] Edit suggested in file applications/pruning-objects.adoc"
### Which section(s) is the issue in?
https://docs.openshift.com/container-platform/4.4/applications/pruning-objects.html#pruning-images_pruning-objects

in the section Automatically pruning images

### What needs fixing?
schedule: "*/0 * * * *"          is wrong.   generates error:

2020-05-19 07:58:19.525	cluster-image-registry-operator (cluster-image-registry-operator-57779d8f8b-cwhxx)	stderr	E

[2020-05-19 12:48] KyWa commented on #22248
This is correct, but there is some misleading information in the HPA document. In the requirements for HPA it states to install 'metrics-server' which is accurate, but it mentions a way to test if it was correctly installed is to issue an `oc adm top pods/nodes` and if metrics return then its installed. For customers who have upgraded from previous versions it will be misleading.

I suppose the ac

[2020-05-19 12:49] #22248 closed

[2020-05-19 12:54] KyWa opened #22259 "[enterprise-3.11] Edit suggested in file dev_guide/pod_autoscaling.adoc"
### Which section(s) is the issue in?
https://docs.openshift.com/container-platform/3.11/dev_guide/pod_autoscaling.html#req-for-using-hpas

Requirements for Using Horizontal Pod Autoscalers

### What needs fixing?

The Requirements section assumes a fresh install. For customers who have upgraded from previous versions of OCP will not have metrics-server, but will be able to run `oc adm top pods/no

[2020-05-19 14:38] jboxman commented on #22253
@ahardin-rh fyi

[2020-05-19 14:43] ahardin-rh commented on #22253
@hexfusion Can you please advise?

[2020-05-19 14:55] jboyd01 opened #22267 "[enterprise-4.3] Edit suggested in file logging/cluster-logging-deploying.adoc"
### Which section(s) is the issue in?
https://docs.openshift.com/container-platform/4.3/logging/cluster-logging-deploying.html#cluster-logging-deploy-clo_cluster-logging-deploying
under "Install the Cluster Logging Operator using the web console"
note 5 for 4.e presently states:
"Specify that each Elasticsearch node in the cluster is bound to a Persistent Volume Claim."

Same issue for https://doc

[2020-05-19 15:00] pamoedom opened #22268 "[enterprise-4.4] Edit suggested in file openshift_images/image-configuration.adoc"
### Which section(s) is the issue in?

https://docs.openshift.com/container-platform/4.4/openshift_images/image-configuration.html#images-configuration-registry-mirror_image-configuration

### What needs fixing?

The example for skopeo copy is invalid because it will not preserve the same Digest if the source-image is a list of manifests, this was fixed since skopeo 0.1.40 with an extra option cal

[2020-05-19 15:07] pamoedom opened #22270 "[enterprise-4.4] Edit suggested in file networking/ingress-operator.adoc"
### Which section(s) is the issue in?

https://docs.openshift.com/container-platform/4.4/networking/ingress-operator.html#nw-ingress-setting-a-custom-default-certificate_configuring-ingress

### What needs fixing?

It would be highly recommended to put a note within this section linking against "Custom PKI" section (https://docs.openshift.com/container-platform/4.4/networking/configuring-a-custom-

[2020-05-19 15:15] pamoedom opened #22271 "[enterprise-4.4] Edit suggested in file networking/configuring-a-custom-pki.adoc"
### Which section(s) is the issue in?

https://docs.openshift.com/container-platform/4.4/networking/configuring-a-custom-pki.html#nw-proxy-configure-object_configuring-a-custom-pki

### What needs fixing?

This section is used mainly to show how to add a custom PKI once the cluster is already configured (at runtime), however in the example we can see the following:

[code]

This is correct if you

[2020-05-19 15:34] pamoedom commented on #22268
I forgot to add the following:

In the same section is also the following "podman pull" example to demonstrate the mirroring process:

[code]

However, this command will fail because by default, the clusters implement the option "mirror-by-digest-only = true" within "/etc/containers/registries.conf" for every registry, so the rewrite operation will only suceed if the proper Digest is referenced in

[2020-05-19 15:37] pamoedom commented on #22268
As an extra note, here you have also the confirmation about skopeo "-a" addition within version 0.1.40:

[From https://github.com/containers/skopeo.git]

[code]

Regards.

[2020-05-19 17:28] hexfusion commented on #22253
This is a bug https://bugzilla.redhat.com/show_bug.cgi?id=1837594 fix for 4.5 will be up shortly.

[2020-05-19 17:48] ahardin-rh commented on #22253
@hexfusion Thank you for confirming!
@kanekoh I am going to close this docs issue, but please let me know if you need anything else from the docs team.

[2020-05-19 17:48] #22253 closed

[2020-05-19 17:54] retroflexer commented on #22253
Thanks @kanekoh for identifying the bug. It will be fixed in 4.5 and backported to 4.4.

[2020-05-20 01:26] jboxman commented on #22215
Confirmed on 4.4.3.

[code]

[2020-05-20 01:32] jboxman commented on #22216
fyi @mburke5678

[2020-05-20 01:32] jboxman commented on #22217
fyi @mburke5678

[2020-05-20 01:33] jboxman commented on #22267
fyi @mburke5678

[2020-05-20 02:59] mburke5678 commented on #22217
@iamparamvs Thanks for pointing this out! Got the command from a QE resource in a Slack conversation. I should have caught this myself at the time.

Fixed in https://github.com/openshift/openshift-docs/pull/22243

[2020-05-20 02:59] #22217 closed

[2020-05-20 03:06] mburke5678 commented on #22216
@iamparamvs CAn I ask you to take another look at https://docs.openshift.com/container-platform/4.4/logging/cluster-logging-deploying.html#cluster-logging-deploy-cli_cluster-logging-deploying?

I had several odd issues with these files when merging them last week and had to do some fixes on Monday 5/18.
The step to create the ClusterLogging namespace is Step 2. I don't think this step was missing.

[2020-05-20 06:38] SilvM opened #22305 "[enterprise-4.2] Edit suggested in file logging/cluster-logging.adoc"
### Which section(s) is the issue in?
[eventrouter](https://docs.openshift.com/container-platform/4.2/logging/cluster-logging.html#cluster-logging-about-eventrouter_cluster-logging)
or
[viewing events](https://docs.openshift.com/container-platform/4.2/nodes/clusters/nodes-containers-events.html)

### What needs fixing?
It would be great to show how the retention could be increased for the events.

[2020-05-20 07:18] iamparamvs commented on #22216
Hi @mburke5678

I think you have inserted the "clo-namespace" beneath the "eo-namespace" which is not in the correct sequence.

I will write the correct order in which the files are to be created.

**1. Create a Namespace for the Elasticsearch Operator**
a. Create a Namespace object YAML file (for example, eo-namespace.yaml) for the Elasticsearch Operator
b. Create the Namespace

**2. Install the

[2020-05-20 09:04] pamoedom opened #22309 "[enterprise-4.4] Edit suggested in file installing/installing_aws/installing-aws-account.adoc"
### Which section(s) is the issue in?

https://docs.openshift.com/container-platform/4.4/installing/installing_aws/installing-aws-account.html

### What needs fixing?

When creating a new cluster via [cloud.redhat.com](https://cloud.redhat.com/openshift/install/aws/installer-provisioned) and selecting AWS IPI, the customers are redirected to this initial documentation and they need to now exactly,

[2020-05-20 09:24] jomeier opened #22310 "[enterprise-4.4] Mirrored images still show quay.io as registry. Make a hint for that."
Hi,

today we mirrored the OKD 4 images for Beta4 to our internal Artifactory registry (but this will also be an issue for OCP).

We were confused that podman images still shows quay.io as the registry on the bootstrap VM.

@vrutkovs explained to me that this is working as expected, because the image name gets "patched" to quay.io during the mirroring. We searched for two hours for the reason of t

[2020-05-20 11:10] pwright opened #22311 "[enterprise-4.4] Edit suggested in file cli_reference/openshift_cli/usage-oc-kubectl.adoc"
### Which section(s) is the issue in?
this section mentions the  kubectl binary that 'ships' with ocp, but where do I get it from?

![image](https://user-images.githubusercontent.com/5154224/82439584-d6ed4c80-9a92-11ea-9987-c7966d2ea4b2.png)

### What needs fixing?

[2020-05-20 13:51] mburke5678 commented on #22216
@iamparamvs As I understand and practice, you can create the two namespaces first, then the operator group and subscription for each operator after. I can change the order to match what you have, if the team thinks that is better.

FYI:
I have a script I use to install cluster logging and it seems to work. The major steps are:

oc create -f eo-namespace.yaml

oc create -f clo-namespace.yaml

oc cr

[2020-05-20 14:18] iamparamvs commented on #22216
Hi @mburke5678

Yes, I agree that the two namespaces can be created at first as well but what I suggested refers to the order in which it was documented for the earlier version.

Also, you have not used the RBAC file in the documentation for this version. Are you sure that it is not required for v4.4?

Thanks!

[2020-05-20 16:05] #21194 closed

[2020-05-20 16:05] #21195 closed

[2020-05-20 16:05] #21197 closed

[2020-05-20 16:05] #21198 closed

[2020-05-20 16:05] #21199 closed

[2020-05-20 18:29] mburke5678 commented on #22216
@iamparamvs I am told be QE that the RBAC is no longer needed as the OLM will create all the RBAC for Logging for both the console and CLI installs.

The earlier version of the install, that you mention, was in error, I think. I recall having significant problems when merging those docs and I might have made the error with the operator group and namespace when fixing a merge issue. Thank you for p

[2020-05-20 19:06] jboxman commented on #19847
_Notable changes_

The OpenShift SDN and OVN-Kubernetes Pod network providers now use the Open vSwitch (OVS) version installed on the cluster nodes. Previously, OVS ran in a container on each node, managed by a DaemonSet. Using the host OVS eliminates any possible downtime from upgrading the containerized version of OVS.

Hi @mccv1r0 -- Is the above correct? If not, what changes can you suggest? T

[2020-05-20 21:23] mccv1r0 commented on #19847
@jboxman  I can speak to OVN-Kubernetes (I'm not sure what OpenShift SDN is doing.)  What you wrote is correct.  No need to change a thing.

[2020-05-21 01:23] mburke5678 commented on #22267
@jboyd01 Does this address your concerns?

Changes via https://github.com/openshift/openshift-docs/pull/22341

[2020-05-21 04:43] janehojy opened #22342 "[enterprise-4.4] Edit suggested in file installing/installing_vsphere/installing-vsphere.adoc"
### Which section(s) is the issue in?

https://docs.openshift.com/container-platform/4.4/installing/installing_vsphere/installing-vsphere.html#installation-infrastructure-user-infra_installing-vsphere

### What needs fixing?

[code]

This section on MAC address requirements need to be added to the other vsphere installations too.
- [installing a cluster on vSphere with network customizations](http

[2020-05-21 05:56] iamparamvs commented on #22216
@mburke5678 thank you for sharing the information.

I think you have it right now.

[2020-05-21 05:56] #22216 closed

[2020-05-21 12:51] boris-deschenes opened #22344 "[enterprise-4.4] Edit suggested in file networking/hardware_networks/configuring-sriov-net-attach.adoc"
### Which section(s) is the issue in?
https://docs.openshift.com/container-platform/4.4/networking/hardware_networks/configuring-sriov-net-attach.html#configuring-sr-iov-networks_about-sriov

### What needs fixing?
the doc says the IPAM section is optional but it does not seem to be the case, omitting the ipam definition gives the following error from the srio operator and the network attach defin

[2020-05-21 13:49] Koma-Andrea opened #22347 "[enterprise-4.4] Edit suggested in SCC"
### Which section(s) is the issue in?
MustRunAsRange is not documented anywhere but mentioned costantly:
The only place where I found the correct syntax is in an example in doc version 3.2 and in the sourcecode:
[code]
[SourceCode](https://github.com/openshift/apiserver-library-go/blob/release-4.4/pkg/securitycontextconstraints/user/mustrunasrange.go
)
### What needs fixing?
We should document the

[2020-05-22 17:17] lbohnsac opened #22376 "[enterprise-4.4] Edit suggested in file applications/pruning-objects.adoc"
### Which section(s) is the issue in?
https://docs.openshift.com/container-platform/4.4/applications/pruning-objects.html#pruning-images_pruning-objects

### What needs fixing?
The timestamps shown are wrong! There's the Z missing at the end of the timestamp! It's Zulu time -> UTC!

[2020-05-22 17:21] lbohnsac opened #22377 "[enterprise-4.4] Edit suggested in file applications/pruning-objects.adoc"
### Which section(s) is the issue in?
https://docs.openshift.com/container-platform/4.4/applications/pruning-objects.html#pruning-images_pruning-objects

### What needs fixing?
Mention that mark 1 (schedule) is UTC timezone!

[2020-05-22 17:42] lbohnsac opened #22378 "[enterprise-4.4] Edit suggested in file applications/pruning-objects.adoc"
### Which section(s) is the issue in?
https://docs.openshift.com/container-platform/4.4/applications/pruning-objects.html#pruning-images_pruning-objects

### What needs fixing?
On a new installed cluster (4.4.3) mark 2 (schedule) is set to true not to false!
You have to set it manually to false!
oc patch imagepruners.imageregistry.operator.openshift.io cluster --type=merge --patch '{"spec":{"suspe

[2020-05-22 17:52] lbohnsac opened #22379 "[enterprise-4.4] Edit suggested in file applications/pruning-objects.adoc"
### Which section(s) is the issue in?
https://docs.openshift.com/container-platform/4.4/applications/pruning-objects.html#pruning-images_pruning-objects

### What needs fixing?
Mark 4 (keepYoungerThan) yes, it's set to default 60m ... but if you want to change it a string (60m) isn't valid! An integer is expected!
spec.keepYoungerThan: Invalid value: "string": spec.keepYoungerThan in body must be

[2020-05-22 17:55] lbohnsac opened #22380 "[enterprise-4.4] Edit suggested in file applications/pruning-objects.adoc"
### Which section(s) is the issue in?
https://docs.openshift.com/container-platform/4.4/applications/pruning-objects.html#pruning-images_pruning-objects

### What needs fixing?
Mark 7 (nodeSelector) is slightly misleading ...
Change "Standard Pod node selector." to "Standard Pod node selector for the image pruner pod."

[2020-05-22 18:01] lbohnsac opened #22381 "[enterprise-4.4] Edit suggested in file applications/pruning-objects.adoc"
### Which section(s) is the issue in?
https://docs.openshift.com/container-platform/4.4/applications/pruning-objects.html#pruning-images_pruning-objects

### What needs fixing?
Mark 9 (startingDeadlineSeconds) default value is missing.
Change "startingDeadlineSeconds: Start deadline for CronJob. This is an optional field." to "startingDeadlineSeconds: Start deadline for CronJob. This is an optiona

[2020-05-22 18:12] RHmilti opened #22382 "[enterprise-4.3] Edit suggested in file installing/installing_ibm_z/installing-ibm-z.adoc"
### Which section(s) is the issue in?

the minimum requirements section appears to be in error:

https://docs.openshift.com/container-platform/4.3/installing/installing_ibm_z/installing-ibm-z.html#minimum-resource-requirements_installing-ibm-z

### What needs fixing?

user reported that the monitoring pod could not schedule due to insufficient resources when the vCPUs were set to 2 on his worker n

[2020-05-22 18:36] jboxman commented on #22376
That's odd; We wouldn't have intentionally altered that. Maybe in 2019 the output was different? I have `Z` now:

[code]

[2020-05-22 18:43] lbohnsac commented on #22376
In the documentation it's without Z!Take a look on the attached screen
shot!
CheersLarsOn Fri, 2020-05-22 at 11:36 -0700, Jason Boxman wrote:

[2020-05-22 18:46] lbohnsac commented on #22376
Take a look on the documentation ... the sample box shows everything with the incorrect timestamp ..

Not sure when this docu was written but the feature is new in 4.4 ... it couldn't be that old.

[2020-05-22 18:47] jboxman commented on #22376
@lbohnsac, yes, thanks for reporting this!

[2020-05-26 12:20] TinyExplosions opened #22396 "[enterprise-4.4] Edit suggested in file monitoring/cluster_monitoring/managing-cluster-alerts.adoc"
### Which section(s) is the issue in?
"Contents of Alerting UI" - https://docs.openshift.com/container-platform/4.4/monitoring/cluster_monitoring/managing-cluster-alerts.html#contents-of-the-alerting-ui_managing-alerts

### What needs fixing?
The attached screenshot does not appear to be a 4.4 cluster. In the screenshot on the documentation page, 'Silences' is an option on the left hand menu. In 4

[2020-05-26 12:59] TinyExplosions opened #22398 "[enterprise-4.4] Edit suggested in file applications/pruning-objects.adoc"
### Which section(s) is the issue in?
Automatically Pruning Images - https://docs.openshift.com/container-platform/4.4/applications/pruning-objects.html#pruning-images_pruning-objects

### What needs fixing?
Copying the sample code produces an error "Incorrect type. Expected an array" for the `tolerations` object. Should be
` tolerations: []`
instead of
` tolerations: {}`

[2020-05-26 13:02] TinyExplosions opened #22399 "[enterprise-4.4] Edit suggested in file applications/pruning-objects.adoc"
### Which section(s) is the issue in?
Automatically Pruning Images - https://docs.openshift.com/container-platform/4.4/applications/pruning-objects.html#pruning-images_pruning-objects

### What needs fixing?
Copying the sample code produces an error "Incorrect type" for the `keepYoungerThan` object. Needs to be an integer.
Should be
`keepYoungerThan: '60'`
instead of
`keepYoungerThan: 60m`

[2020-05-26 18:12] codyhoag opened #22406 "OCP 4.6 Release Notes Tracker"
Please leave comments here for anything that should be highlighted in the 4.6 release notes. Thank you!

Rendered draft of 4.6 release notes: https://docs.openshift.com/container-platform/4.6/release_notes/ocp-4-6-release-notes.html

[2020-05-26 18:16] codyhoag commented on #22406
The deprecated `/var/run/secrets/kubernetes.io/serviceaccount/service-ca.crt` file will be removed in 4.6. Originally reported in https://github.com/openshift/openshift-docs/issues/18426#issuecomment-574239835. Drafted in #22349.

[2020-05-27 00:07] jboyd01 commented on #22267
Looks better, thanks @mburke5678!  Not certain if  "The storageClass should be a block storage **provider**" is quite accurate (ie the provider bit).  Perhaps "The storageClass should allocate block storage for best performance".  Thanks for addressing this.

[2020-05-27 02:43] tonyiams opened #22414 "[online] Edit suggested in file storage/understanding-persistent-storage.adoc"
### Which section(s) is the issue in?

Azure Red Hat OpenShift Documentation - Understanding persistent storage

### What needs fixing?

Azure Red Hat OpenShift supports the following PersistentVolume plug-ins:
AWS Elastic Block Store (EBS)

This does not seem correct....Azure Red Hat OpenShift should support an Azure storage service, not an AWS storage service

[2020-05-27 02:52] jboxman commented on #22414
@lamek fyi

[2020-05-27 03:10] yapei commented on #19847
https://docs.openshift.com/container-platform/4.5/release_notes/ocp-4-5-release-notes.html#ocp-4-5-new-attribute-filters

[code]

The filter type in OperatorHub is `Infrastructure Features`

<img width="240" alt="Screen Shot 2020-05-27 at 11 09 39 AM" src="https://user-images.githubusercontent.com/12692381/82973695-ad8c6d80-a00a-11ea-84b0-1fbedf88c92e.png">

[2020-05-27 05:14] janehojy opened #22415 "[enterprise-4.3] Edit suggested in file operators/olm-restricted-networks.adoc"
### Which section(s) is the issue in?
https://docs.openshift.com/container-platform/4.3/operators/olm-restricted-networks.html#olm-building-operator-catalog-image_olm-restricted-networks

### What needs fixing?

[code]

Might also be worth stating that you can use either the exact OCP version for the tag (eg. 4.3.21) or the SHA digest

[code]

I think I saw this flag too but I'm not sure if it's n

[2020-05-27 06:30] egsysoev opened #22416 "[enterprise-4.4] Edit suggested in file installing/installing_vsphere/installing-vsphere-network-customizations.adoc"
### Which section(s) is the issue in?
Creating the Ignition config files

### What needs fixing?
Add step to set mastersSchedulable to False in  <installation_directory>/manifests/cluster-scheduler-02-config.yml

[2020-05-27 14:53] bmcelvee commented on #19847
**Node Pull Secrets**
You can import and use images from any registry configured during or after the cluster installation by sharing node's pull secret credentials with `openshift-api`, `builder` and `image-registry` Pods.

[2020-05-27 20:57] mattreid opened #22435 "[enterprise-4.4] Edit suggested in file openshift_images/create-images.adoc"
### Which section(s) is the issue in?
Defining image metadata

### What needs fixing?
This label contains a list of tags represented as **[a]** list of comma-separated string values. The tags are the way to categorize the container images into broad areas of functionality. Tags help UI and generation tools to suggest relevant container images during the application creation process.

There's a mis

[2020-05-28 01:23] qinpingli commented on #19847
`External provisioner for AWS EFS` in table 2 should be moved to table 1.

[2020-05-28 01:38] qinpingli commented on #19847
Looks raw block feature is GA in k8s 1.18, but in table 2, `Raw Block with iSCSI` is GA from OCP4.3 and the `Raw Block with Cinder` is TP feature.

Suggest we can merge these two into one named `Block Volume`.

[2020-05-28 01:39] qinpingli commented on #19847
`CSI volume cloning` is GA in OCP 4.5

[2020-05-28 06:38] jianzhangbjz commented on #19847
`Service Catalog`, `Template Service Broker`, and `CatalogSourceConfigs` are removed for OCP 4.5. `OperatorSources` is `DEP` for 4.5. @emmajiafan correct me if I'm wrong, thanks!

[2020-05-28 07:13] ChetHosey opened #22441 "[enterprise-4.4] Edit suggested in file builds/running-entitled-builds.adoc"
### Which section(s) is the issue in?

Squash layers with docker builds

### What needs fixing?

This content probably isn't specific to running entitled builds. It might be a better fit at https://docs.openshift.com/container-platform/4.4/builds/build-strategies.html#builds-strategy-docker-build_build-strategies, for example.

[2020-05-28 08:09] gpei commented on #19847
we're starting to support VMware vSphere IPI deployment - https://issues.redhat.com/browse/CORS-1272, GCP UPI shared VPC (XPN) - https://issues.redhat.com/browse/CORS-1390 in 4.5, better to highlight them in the release notes.

[2020-05-28 09:10] lihongan commented on #19847
The `INGRESS ENHANCEMENTS` is missing in `New features and enhancements` section and should add 2 enhancements below:
1. https://issues.redhat.com/browse/NE-280 ingress access logging
2. https://issues.redhat.com/browse/NE-278 wildcard route policy

[2020-05-28 09:31] duanwei33 commented on #19847
For storage part, `Manila CSI Driver` and `AWS ebs CSIi Driver` should be added in Table 2. Technology Preview tracker, they are TP features from 4.5.

[2020-05-28 09:34] duanwei33 commented on #19847
Just my personal view, for a lot of features with GA from 4.3, also GA for 4.4 and 4.5, do we need to list them in Table 2. Technology Preview tracker? At least using another table if really need to track them.

[2020-05-28 15:48] gpei commented on #19847
`OpenShift Container Platform 4.5 is supported on Red Hat Enterprise Linux 7.6 or later, as well as Red Hat Enterprise Linux CoreOS (RHCOS) 4.5.`
RHEL-7.6 is not in QE's testing coverage for OCP-4.5, RHEL-7.7 and RHEL-7.8 were tested.

[2020-05-28 16:01] adellape commented on #11751
Fixed via https://github.com/openshift/openshift-docs/pull/21268.

[2020-05-28 16:01] #11751 closed

[2020-05-28 23:04] maxwelldb commented on #21308
Property change will be associated with restricted network installation guides, e.g. #22478

Closing this issue.

[2020-05-28 23:04] #21308 closed

[2020-05-29 01:50] xiuwang commented on #19847
New feature:
1. [Support nodeAffinity scheduler feature in image-registry CRD](https://issues.redhat.com/browse/DEVEXP-544)
Use nodeAffinity to ensure if image registry pod cannot land on infra nodes, that it lands somewhere else.
2. [Node pull secret](https://issues.redhat.com/browse/DEVEXP-521)
as mentioned in https://github.com/openshift/openshift-docs/issues/19847#issuecomment-634715933

Known

[2020-05-29 02:20] jianzhangbjz commented on #19847
This photo here https://docs.openshift.com/container-platform/4.5/operators/olm-what-operators-are.html#olm-maturity-model_olm-what-operators-are is wrong. @joelanford Correct me if I'm wrong, thanks!
![image](https://user-images.githubusercontent.com/15416633/83213801-a47bd780-a195-11ea-9960-dfdf380fbfe8.png)
Should be:
![image](https://user-images.githubusercontent.com/15416633/83213864-c9704a80

[2020-05-29 02:30] huiran0826 commented on #19847
https://docs.openshift.com/container-platform/4.5/networking/multiple_networks/configuring-ptp.html

There are two places need update:

1. The ptp-namespace.yaml changed to :
apiVersion: v1
kind: Namespace
metadata:
  name: openshift-ptp
  labels:
    name: openshift-ptp
    openshift.io/cluster-monitoring: "true"

2. oc get packagemanifest ptp-operator -n openshift-marketplace -o jsonpath='{.stat

[2020-05-29 02:34] codyhoag commented on #19847
Hi all; please keep the comments in this tracker related only to the release notes. Please work with the tech writer on your team to resolve known bugs in other parts of the documentation. Thank you!

[2020-05-29 02:45] huiran0826 commented on #19847
Migration from openshift-sdn to ovn-kubernetes is missed in "New features and enhancements"
https://issues.redhat.com/browse/SDN-821

[2020-05-29 06:31] jianzhangbjz opened #22479 "[enterprise-4.5] Understanding the OperatorHub"
### Which section(s) is the issue in?
There are 2 problems here:

1.  There is a new `OperatorSource` called `redhat-marketplace`, I guess we should describe it in
[understanding-operatorhub](https://docs.openshift.com/container-platform/4.5/operators/olm-understanding-operatorhub.html#olm-operatorhub-overview_olm-understanding-operatorhub). @robszumski What do you think?

2.  > While OperatorHub

[2020-05-29 06:33] jianzhangbjz commented on #22479
/assign @adellape

[2020-05-29 06:46] jianzhangbjz opened #22480 "OLM Exposed metrics"
### Which section(s) is the issue in?
https://docs.openshift.com/container-platform/4.5/operators/understanding_olm/olm-understanding-olm.html#olm-metrics_olm-understanding-olm

### What needs fixing?

1. The `csv_upgrade_count` means the `Monotonic count of CSV upgrades`, not the `Monotonic count of CatalogSources`.

2. Should add the `catalog_source_count`, which means the `Number of catalog sou

[2020-05-29 06:46] jianzhangbjz commented on #22480
/assign @adellape

[2020-05-29 07:14] jinyunma commented on #19847
vSphere/ipi support on 4.5 is missed in `"New features and enhancements"`.
https://issues.redhat.com/browse/CORS-1272

[2020-05-29 08:58] rahmed-rh opened #22482 "[enterprise-4.3] Edit suggested in file scalability_and_performance/using-cluster-loader.adoc"
### Which section(s) is the issue in?
Installing Cluster Loader

### What needs fixing?
To pull the container image, run:
$ sudo podman pull quay.io/openshift/origin-tests:4.3

[2020-05-29 15:28] mikkolaakko opened #22487 "[online] Edit suggested in file authentication/remove-kubeadmin.adoc"
### Which section(s) is the issue in?
Removing the kubeadmin user

### What needs fixing?
Can you be more specific about the cluster-admin role. If you assign cluster-admin role to user it does not work as expected. It is required to assign *cluster* role.

oc adm policy add-cluster-role-to-user --help

[2020-05-29 15:48] robszumski commented on #22479
understanding-operatorhub. @robszumski What do you think?

Yes, we should include a quick blurb about this source

[2020-05-29 19:50] bobfuru commented on #19847
Noted: https://issues.redhat.com/browse/OSDOCS-1017?focusedCommentId=14122497&page=com.atlassian.jira.plugin.system.issuetabpanels:comment-tabpanel#comment-14122497. I'll address this in my 4.5 Release Notes PR.

[2020-05-29 19:53] bobfuru commented on #19847
I don't think we want to merge these. Cinder is still a TP feature and a carry-over from 3.11. I suggest we drop that one from the table and leave iSCSI, which went GA in 4.3, as you noted.

[2020-05-29 22:17] jboxman commented on #22435
@mattreid, thanks for reporting this!

[2020-05-31 19:22] bandrade commented on #19847
@adellape
https://docs.openshift.com/container-platform/4.5/operators/crds/crd-extending-api-with-crds.html#crd-creating-custom-resources-definition_crd-extending-api-with-crds at step 2, mentions that:
[code]
I think it would be nice to add here which command user can use to obtain this endpoint. It's not clear where it's being created and how you can get this info. Please let me know if that mak

[2020-05-31 22:06] jboxman commented on #21689
@mburke5678, FYI

[2020-06-01 01:35] hashnao opened #22519 "[enterprise-4.4] Edit suggested in file service_mesh/service_mesh_install/installing-ossm.adoc"
### Which section(s) is the issue in?
Installing the Elasticsearch Operator

### What needs fixing?
The Elasticsearch Operator is to be installed in the **openshift-operators-redhat** namespace but not the openshift-operators namespace by default and I think it should be installed in the **openshift-operators-redhat** namespace according to the Elasticsearch Operator installation guide [1]. In add

[2020-06-01 04:25] qinpingli commented on #19847
@bobfuru Thanks for your checking, I didn't find there is different between cinder plug-in and other in-tree plug-ins, and checked the 3.11 release notes too, did not find the description of cinder raw block volume, is there something I missed?

[2020-06-01 16:47] mburke5678 commented on #20749
Section removed from docs: https://github.com/openshift/openshift-docs/pull/20905

[2020-06-01 16:47] #20749 closed

[2020-06-01 17:10] mburke5678 commented on #22519
@neal-timpe Is this something you can look into? I know for Cluster Logging the Elasticsearch Operator must be installed into `openshift-operators-redhat`.

[2020-06-01 17:19] mburke5678 commented on #21689
I am working on improving this entire topic via https://github.com/openshift/openshift-docs/pull/22465

I was asked to update the command for disabling shard balancing to:
`$ oc exec <any_es_pod_in_the_cluster> -c elasticsearch -- es_util --query=_cluster/settings?pretty=true -XPUT 'https://localhost:9200/_cluster/settings' -d '{ "persistent": { "cluster.routing.allocation.enable" : "primaries" }

[2020-06-01 17:20] mburke5678 commented on #22267
Closing in favor of https://github.com/openshift/openshift-docs/pull/22341

[2020-06-01 17:20] #22267 closed

[2020-06-01 17:22] #14688 closed

[2020-06-01 17:58] neal-timpe commented on #22519
@mburke5678 Yep, I'll create a Jira and put it into our queue. Thanks!

[2020-06-01 18:51] bobfuru commented on #19847
@qinpingli On second look, Cinder block was not TP in 3.11 but rather was introduced as TP in 4.3. So as you noted in your original comment, OCP support for iSCSI was GA in 4.3; Cinder was TP in 4.3. And although k8s 1.18 is raw block GA, I think we want our OCP table to remain as is, separating the Red Hat Support distinction between these two raw block volume types. Is that okay with you?

[2020-06-02 02:41] qinpingli commented on #19847
@bobfuru  Thank you, checked the jira items for raw block. Yes, you are right, cinder raw block in TP in 4.3.

@codyhoag  We had a conclusion for raw block features now.

[2020-06-02 08:08] pavolloffay commented on #22519
@jcantrill @ewolinetz could you please have a look and provide feedback?

[2020-06-02 12:33] lbohnsac opened #22546 "[enterprise-4.4] Edit suggested in file operators/olm-adding-operators-to-cluster.adoc"
### Which section(s) is the issue in?
https://docs.openshift.com/container-platform/4.4/operators/olm-adding-operators-to-cluster.html#olm-installing-operator-from-operatorhub-using-cli_olm-adding-operators-to-a-cluster

### What needs fixing?
Step 4 Example Subscription ... explain the channel option!
How to get the available values? How to select the correct value?

[2020-06-02 13:25] maxwelldb commented on #21365
Doubled FYI per your message today, @pierreprinetti :grin:

[2020-06-02 13:27] maxwelldb opened #22552 "[OSP] Add information about etcd disk requirements"
### Which section(s) is the issue in?

OSP requirements docs.

### What needs fixing?

https://github.com/openshift/installer/pull/3669/files

[2020-06-02 13:28] maxwelldb commented on #22552
@pierreprinetti Is this scoped to any particular version or is this general guidance?

[2020-06-02 13:36] patrickstrick opened #22553 "[dedicated] Edit suggested in file logging/cluster-logging.adoc"
### Which section(s) is the issue in?
Intro paragraph

### What needs fixing?
Change "two" to "seven" as shown below. We increased the log retention duration, but docs were not updated.
from...
Logs in OpenShift Dedicated are retained for two days before rotation.
to...
Logs in OpenShift Dedicated are retained for seven days before rotation.

[2020-06-02 14:01] pierreprinetti commented on #22552
Both the advice ("run on fast disks") and the number (10ms latency at the 99th percentile for fdatasync) are valid for all versions of OpenShift, because they depend on ETCD requirements which have AFAIK never changed.

By the way, the advice is valid for all platforms (it is not OpenStack-specific), even though it might make little sense in branded clouds like AWS, OCP or Azure.

[2020-06-02 14:08] jboxman commented on #22553
@mburke5678, FYI

[2020-06-02 14:27] mburke5678 commented on #22553
@patrickstrick PTAL: https://github.com/openshift/openshift-docs/pull/22556

Can you suggest a QE resource to review?

[2020-06-02 14:37] edhaynes opened #22557 "[enterprise-4.4] Edit suggested in file installing/installing_rhv/installing-rhv-creating-custom-vm.adoc"
### Which section(s) is the issue in?

Ansible playbook does not run successfully under stock RHEL7 or RHEL8, fails with following error.

"msg": "ovirtsdk4 version 4.3.0 or higher is required for this module"
### What needs fixing?
Either fix playbook to work with stock RHEL / Ansible or provide instructions for installing python ovirt-engine-sdk and downgrading ansible to 2.7 to get it to work

[2020-06-02 14:47] edhaynes opened #22561 "[enterprise-4.4] Edit suggested in file installing/installing_rhv/installing-rhv-creating-custom-vm.adoc"
### Which section(s) is the issue in?

### What needs fixing?
Environment variable prompt "$" suggests it should be done with non-root account, since openshift-install is done with sudo these need to be set at root "#" prompt for openshift installer to see these environment variables

[2020-06-02 15:44] williamcaban opened #22563 "[enterprise-4.4] Edit suggested in file networking/ingress-operator.adoc"
### What needs fixing?
For the configuration of the load balancing algorithms the following environment variables are missing from the docs:
- ROUTER_LOAD_BALANCE_ALGORITHM
- ROUTER_TCP_BALANCE_SCHEME

and the following annotation is missing from the docs:
- haproxy.router.openshift.io/balance

[2020-06-03 01:43] yuhui-12 opened #22591 "Lack of sourceNamespace"
### Which section(s) is the issue in?
https://docs.openshift.com/container-platform/4.5/operators/olm-creating-policy.html#olm-policy-scoping-operator-install_olm-creating-policy

### What needs fixing?
The step 4.Create a Subscription in the designated namespace to install an Operator:

[code]
It lacks of sourceNamespace.

It should be

[code]

[2020-06-03 01:44] yuhui-12 commented on #22591
/assign @adellape

[2020-06-03 08:30] jkandasa commented on #22519
I tested this change on OCP 4.4 cluster with Jaeger 1.17.3.
Works as expected.
[code]

Jaeger CR:
[code]

[2020-06-03 11:22] chlunde opened #22599 "[enterprise-4.4] Router changes placed under header "Machine Config Operator" in release_notes/ocp-4-4-release-notes.adoc"
### Which section(s) is the issue in?
#### Machine Config Operator

[code]

### What needs fixing?
The header says "Machine Config Operator", but should probably be OpenShift Router similar, because the contents of the section is about OpenShift Router/Ingress memory use.

PS! It might also be worth to mention that web sockets will now be terminated earlier than they used to, because that is seems

[2020-06-03 12:40] akostadinov opened #22601 "[enterprise-4.4] Edit suggested in file applications/deployments/managing-deployment-processes.adoc"
### Which section(s) is the issue in?

### What needs fixing?

Under this section I think it needs to be explained the difference between `limits` and `requests`. And what they mean depending on CPU or Memory node availability.

Basically this section from old documentationt:
https://docs.openshift.com/enterprise/3.2/dev_guide/compute_resources.html#quality-of-service-tiers

Should be added this p

[2020-06-03 13:06] kanekoh opened #22607 "[enterprise-4.4] Edit suggested in file authentication/encrypting-etcd.adoc"
### Which section(s) is the issue in?

The section `About etcd encryption` in Encrypting etcd data page.

### What needs fixing?

Document said as follows:
[code]

There is nothing to mention regarding how I get the keys for etcd encryption.
How do I get/download the encryption keys?

[2020-06-03 13:48] jboxman commented on #22599
@codyhoag FYI

[2020-06-03 14:03] ckyriakidou opened #22613 "[enterprise-4.4] Edit suggested in file storage/container_storage_interface/persistent-storage-csi.adoc"
### Which section(s) is the issue in?

4.4 supports 1.2 CSI

### What needs fixing?
the version which is supported needs to change from 1.1. to 1.2

[2020-06-03 14:25] lbohnsac opened #22615 "[enterprise-4.3] Edit suggested in file installing/installing_bare_metal/installing-restricted-networks-bare-metal.adoc"
### Which section(s) is the issue in?
https://docs.openshift.com/container-platform/4.3/installing/installing_bare_metal/installing-restricted-networks-bare-metal.html#installation-bare-metal-config-yaml_installing-restricted-networks-bare-metal

### What needs fixing?
Could it be that the following three lines are missing in the sample install-config.yaml?
- mirrors:
 - <bastion_host_name>:5000/<

[2020-06-03 14:46] jboxman commented on #22613
@bobfuru, FYI

[2020-06-03 15:44] bobfuru commented on #22613
Addressing this in https://github.com/openshift/openshift-docs/pull/22617 - closing issue.

[2020-06-03 15:44] #22613 closed

[2020-06-03 22:32] hashnao opened #22648 "[enterprise-4.4] Edit suggested in file authentication/identity_providers/configuring-oidc-identity-provider.adoc"
### Which section(s) is the issue in?
Creating a ConfigMap

Not only OpenID Connect but the following sections need to be fixed.
- Keystone
- LDAP
- Basic Authentication
- Request Header
- GitHub or GitHub Enterprise
- GitLab

### What needs fixing?
It's not clear enough with the below instruction and hard to understand what kind of certificate authority bundle is needed when creating a ConfigMap.

[2020-06-04 19:25] chuckersjp opened #22666 "[enterprise-3.11] Edit suggested in file install_config/prometheus_cluster_monitoring.adoc"
### Which section(s) is the issue in?
https://docs.openshift.com/container-platform/3.11/install_config/prometheus_cluster_monitoring.html#configuring-alertmanager_prometheus-cluster-monitoring

### What needs fixing?
This section states there is an Ansible variable called `openshift_cluster_monitoring_operator_alertmanager_config` but doesn't detail what this variable actually does.

### Suggeste

[2020-06-05 15:55] lbohnsac opened #22700 "[enterprise-4.4] Edit suggested in file machine_management/manually-scaling-machineset.adoc"
### Which section(s) is the issue in?
https://docs.openshift.com/container-platform/4.4/machine_management/

### What needs fixing?
machine configs are still missing!
Add documentation for machineconfig and and machineconfigpool ... machine sets are completely useless on bare metal and UPI installations!

[2020-06-05 15:58] lbohnsac opened #22701 "[enterprise-4.4] Edit suggested in file release_notes/ocp-4-4-release-notes.adoc"
### Which section(s) is the issue in?

etcd cluster operator

### What needs fixing?
OpenShift Container Platform 4.4 introduces the etcd cluster Operator, which handles the scaling of etcd and provisioning etcd dependencies such as TLS certificates. The etcd cluster Operator simplifies the disaster recovery procedure to restore to a previous cluster state, automates the addition of etcd members,

[2020-06-05 16:13] lbohnsac opened #22703 "[enterprise-4.4] Edit suggested in file updating/updating-cluster-cli.adoc"
### Which section(s) is the issue in?

etcd cluster operator

### What needs fixing?
OpenShift Container Platform 4.4 introduces the etcd cluster Operator, which handles the scaling of etcd and provisioning etcd dependencies such as TLS certificates. The etcd cluster Operator simplifies the disaster recovery procedure to restore to a previous cluster state, automates the addition of etcd members,

[2020-06-05 16:14] lbohnsac opened #22704 "[enterprise-4.4] Edit suggested in file updating/updating-cluster-cli.adoc"
### Which section(s) is the issue in?
https://docs.openshift.com/container-platform/4.4/updating/updating-cluster-cli.html#update-upgrading-cli_updating-cluster-cli

### What needs fixing?
Switching between the channels is missing! Provide the procedure get the information which channel is available at all and how to switch the channel on the CLI ...
Reason:
You can't automate clicking in a webUI!

[2020-06-05 21:47] aakarshg opened #22726 "[enterprise-4.4] Add guidance to create additional storage classes supporting using more performant disk types"
### Which section(s) is the issue in?

https://docs.openshift.com/container-platform/4.4/scalability_and_performance/optimizing-storage.html

### What needs fixing?

We'll need to document how to create storage classes to facilitate more performant disk options - example would be that an OCP cluster deployed on GCP comes with just [pd-standard storage class](https://github.com/openshift/cluster-st

[2020-06-07 09:14] cben opened #22729 "[online] architecture/architecture.adoc has misleading info only relevant to OCP"
# Which section(s) is the issue in?

https://docs.openshift.com/online/starter/architecture/architecture.html

### What needs fixing?

1. First half of the doc (Introduction to OpenShift Online–OpenShift Online overview): the info here looks correct, but I'd expect it to mention Online is a shared environment where you can start usign OpenShift quickly (and only paying for a small part of a cluste

[2020-06-07 09:52] cben commented on #22729
Some context:
A customer who had an OpenShift Online account could no longer find how to log in from openshift.com.
I googled "openshift online" trying to see how would I find it, and indeed it's hard at present :frowning_face:.
I expected the front page of the docs for Online to explain what Online is and directly say "go [here] to manage your subscription and access your console", before explain

[2020-06-08 06:40] vikram-redhat commented on #22729
Thanks @cben! Online docs need a bit of a revamp, and this might just be the right incentive.

[2020-06-08 06:41] #22553 closed

[2020-06-08 08:22] mccssys opened #22733 "[enterprise-4.4] Edit suggested in file backup_and_restore/backing-up-etcd.adoc"
### Which section(s) is the issue in?
Etcd backup.

CoreOS is an immutable OS. It is not recommended to connect to it and make any configuration changes without changing through MachineConfig, so then I assume that the change by starting the backup procedure and saving the backup locally is not recommended either. If not, please show this through the documentation and explain why is it possible.

[2020-06-08 09:26] lbohnsac commented on #22399
Take care ... if you just define the integer 60 the unit is ns (nanoseconds)!

[2020-06-08 12:48] yrro opened #22741 "[enterprise-4.4] Missing docs for creating a userDataSecret when creating a MachineSet"
### Which section(s) is the issue in?
Creating infrastructure MachineSets

### What needs fixing?
No mention of how to create an appropriate secret, referenced in the MachineSet's `userDataSecret` field.

Without this, the machine controller never creates the machines, logging:

[code]

[2020-06-08 12:54] yrro commented on #22700
#20688 also mentions the missing docs for creation of MachineConfigPools; this could be closed as a dupe of that issue.

(FYI, that issue links to https://access.redhat.com/solutions/4342791 which describes how to create an MCP).

[2020-06-08 23:42] yrro commented on #20688
This results in infra nodes having both the `infra` role (from the newly created `*-infra` MachineSet) _and_ the `worker` role (from the `01-worker-kubelet` MachineConfig). It's not documented how to then prevent your workloads from placing on the `infra` nodes without further work:

If there is a way to annotate a project to say "deploy on nodes with role `worker` *and* without role `infra` then

[2020-06-08 23:58] yrro commented on #22741
It turns out that you can duplicate the existing `worker-user-data` secret, swapping out the URL to refer to the infra MachineConfig (details in https://github.com/openshift/openshift-docs/pull/21896#issuecomment-640941370.

There is an additional inconsistency in the MachineSet documentation: the example MachineSet for Azure specifies `userDataSecret` as `<role>-user-data`, implying the creation

[2020-06-09 03:32] xingxingxia commented on #19847
@codyhoag , with [service-ca crt dropped from token secret in 1813894](https://bugzilla.redhat.com/show_bug.cgi?id=1813894) is verified, need mention this dropping in 4.5 release note. It affects many components and applications. [1813894#c2](https://bugzilla.redhat.com/show_bug.cgi?id=1813894#c2) mentions 4.1 deprecation. This is like another dropping "The oc policy can-i command was deprecated i

[2020-06-09 09:33] pamoedom opened #22779 "[enterprise-4.4] Edit suggested in file machine_management/creating-infrastructure-machinesets.adoc"
### Which section(s) is the issue in?

https://docs.openshift.com/container-platform/4.4/machine_management/creating-infrastructure-machinesets.html#infrastructure-moving-monitoring_creating-infrastructure-machinesets

### What needs fixing?

When moving monitoring components to infra nodes, as documented in that section, please note that not all components can be moved in this OCP version, as dis

[2020-06-09 09:38] lilic commented on #22779
cc @maximsvistunov FYI, we do not support thanos querier infra nodes in 4.4 and 4.5, this seems to be misleading to users, so we should just add note that we do not support setting infra node for the above mentioned releases.

[2020-06-09 11:29] adambkaplan commented on #19847
@bmcelvee late addition - the image registry supports virtual-hosted buckets names if the user provides a custom S3 endpoint, such as `https://mybucketname.customs3.corp`.

https://issues.redhat.com/browse/DEVEXP-623

[2020-06-09 11:32] adambkaplan commented on #19847
@bmcelvee @dmage image registry operator now supports node affinity for scheduling the image registry pods: https://issues.redhat.com/browse/DEVEXP-544

[2020-06-09 20:46] bobfuru commented on #19847
Added these to TP Tracker. @duanwei33 Plan for Manila CSI Driver Operator is GA in 4.5, so I

[2020-06-10 13:20] jwoehrle opened #22798 "[enterprise-4.4] Edit suggested in file installing/installing_aws/installing-aws-vpc.adoc"
### Which section(s) is the issue in?

Requirements for using your VPC -> Required VPC components -> Network access control

### What needs fixing?

The described NACL does not yield in a successful installation for a (private) cluster (publish: Internal). The installation times out at
[code]

When I compare this described NACL to the one created with a fully automated installation (no custom VPC)

[2020-06-10 20:51] christianh814 opened #22823 "[enterprise-4.4] Edit suggested in file installing/installing_bare_metal/installing-bare-metal.adoc"
### Which section(s) is the issue in?

Specifically https://docs.openshift.com/container-platform/4.4/installing/installing_bare_metal/installing-bare-metal.html#installation-dns-user-infra_installing-bare-metal

But generally speaking, this is true for all installs using DHCP

### What needs fixing?

The hostname on a RHCOS node is set by the reverse DNS entry when doing a DHCP install. This need

[2020-06-11 09:12] mandre commented on #22599
Hi, Machine Config Operator is correct here - the change was about tweaking the configuration for the haproxy static pod used in on-premise deployments, in this case OpenStack.
The change made sure that defunct haproxy processes did not accumulate and had no effect on alive processes, so there is no side effect.

[2020-06-11 13:27] codyhoag commented on #22599
Thank you for explaining, @mandre. I'm closing this issue since the current text correctly aligns with the bug fix.

[2020-06-11 13:27] #22599 closed

[2020-06-11 13:39] worsco opened #22838 "[enterprise-4.4] Edit suggested in file jaeger/jaeger_install/rhbjaeger-deploying.adoc"
### Which section(s) is the issue in?

"Restrictions" bulletpoints in the "Jeager storage configuration options" section

### What needs fixing?

Third bullet point contains {Product-Name}.  I assume that should say "OpenShift" and not a variable placeholder.

[2020-06-11 19:47] e-tienne commented on #19847
Do you include subcommands to `openshift-installer` in the release notes? I could not a mention of `openshift-installer migrate` (https://github.com/openshift/installer/pull/3343)

[2020-06-11 19:52] rmkraus opened #22854 "Remove use of obviously offensive language"
### Which section(s) is the issue in?
all sections

### What needs fixing?
Currently, there are 76,758 lines containing the word master. There are some places where, for the sake of clear documentation, the word master should be used as it is still a Kubernetes term and appears in Kubernetes output. In many occurrences, it could be accurately replaced by the words "control plane" which would be mo

[2020-06-12 05:55] chlunde commented on #22599
Cool, thanks for taking a look! I did not know that some OpenShift installations have a separate HAProxy unrelated to the router, it was not clear to me after reading the release notes.

I guess you might want to consider explicitly saying this does not affect the router in case other people also find this confusing.

[2020-06-12 15:22] blacklistisnotracist commented on #22854
@rmkraus Would you mind explaining why those terms are offensive? As for whitelist/blacklist, they don't have any racist connotations so if you're talking about racist then that's automatically wrong.

[2020-06-12 15:36] rmkraus commented on #22854
I think most of your concern is regarding blacklist/whitelist. Those are terms that date back to the 17th century and were not rooted in racism. However, it is important to note that language evolves and nobody here was alive in the 17th century. In the 13th century, the word awful used to mean wonderful and full of awe. That is no longer the case because language has evolved. In this century, it

[2020-06-12 15:41] rmkraus commented on #22854
For additional resources demonstrating that this change in industry is necessary, relevant, and happening:

- https://tools.ietf.org/id/draft-knodel-terminology-00.html#rfc.section.1.2
- https://developers.google.com/style/word-list#blacklist (for good examples of handling this in documentation)
- https://lethargy.org/~jesus/writes/a-guide-to-nomenclature-selection/ (good read if you disagree)

[2020-06-12 16:01] blacklistisnotracist commented on #22854
As far as I can see, most of those who claim blacklist/whitelist to carry racist connotations are actually white American people. Even among white American people, it is hard to say that the majority would agree that blacklist/whitelist have anything to do with racism. This entire movement seems to be just trying to give these offensive meanings to innocent words.

This is not a strong argument be

[2020-06-12 16:40] rmkraus commented on #22854
Thank you for your concerns and polite discord. Racial discussions are certainly complex, nuanced, and difficult.

1. You are probably correct, although we have to be careful not to fall victim to observation bias. That is what it means to be considerate. It is necessary for all people to inconvenience themselves, to a degree, in order to make other feel more comfortable. Sometimes we may over cor

[2020-06-12 17:51] blacklistisnotracist commented on #22854
If you use this logic, this can go too far. It's simply a not good idea. Ok, for example, we should not be using red color for displaying error messages because it could be offensive for Native Americans. Also words like "atomic" could be very offensive for Japanese people since US dropped two atomic bombs on their soil.

Agreed. No mentioning of potential offensiveness was needed.

Black color is

[2020-06-12 18:29] rmkraus commented on #22854
Understood. Please be careful choosing words. Authoritarianism is another word that has a strong emotional reaction by many, like black. I'm glad you understand that words can elicit emotional responses that were not always intended by the speaker.

Again, that is a great definition of being consideration and kindness. It is an endless adventure. But it is an adventure that is absolutely worth per

[2020-06-12 18:58] christianh814 opened #22866 "[enterprise-4.4] Edit suggested in file service_mesh/service_mesh_install/installing-ossm.adoc"
### Which section(s) is the issue in?

https://docs.openshift.com/container-platform/4.4/service_mesh/service_mesh_install/installing-ossm.html#ossm-operator-install-elasticsearch_installing-ossm

### What needs fixing?

It should be noted that installing the Elastic Search Operator isn't needed if you've already done it when installing the Log Aggregation stack (EFK)

[2020-06-12 19:04] blacklistisnotracist commented on #22854
If you want to contribute to making these words offensive words, then what you're doing is a great contribution to your goal.

Would you mind providing any proof for this?

Is it a coincidence that you brought up blacklist/whitelist in this BlackLivesMatter time?

[2020-06-12 19:23] rmkraus commented on #22854
I certainly do not want to do that. But to ignore that it is a troubling use of terminology to many is just blinding yourself to the world you live in. I am not making the word offensive, it is already offensive to many.

There are so many. Here are a few.
https://www.ncbi.nlm.nih.gov/pmc/articles/PMC6148600/
https://www.youtube.com/watch?v=ueDbCmG3iu4
https://www.scientificamerican.com/article/th

[2020-06-12 19:35] blacklistisnotracist commented on #22854
Your point seems to be solely based on "black" having negative connotations. In that case, you can't fix it. Because we humans are diurnal animals thus we fear darkness. Wouldn't it make more sense if we stop calling a certain group of people "Black"? It's much faster and easier. Why do you want to keep labeling them as black?

What are you trying to say with this paper? It has been cited [only fo

[2020-06-12 20:30] rmkraus commented on #22854
My point is that some people find those words (in particular) offensive and that is grounds enough for their removal. You didn't dispute that. You agreed that whitelist/blacklist are not the best terms, albeit on a different premise.

Might I suggest that, if you cannot articulate a request that I have not either fully complied with or reasonably responded to, then maybe your frustration isn't wit

[2020-06-12 20:47] blacklistisnotracist commented on #22854
What is the suggested word as an alternative of blacklist? I'm pretty sure your alternative would also offend some people.

My points are:

- Blacklist is not considered to be an offensive word in the general public. There's a TV series called ["The Blacklist"](https://en.wikipedia.org/wiki/The_Blacklist_(TV_series)).
- Calling such an innocent word carrying racist connotations or potentially offe

[2020-06-12 23:01] rmkraus commented on #22854
The standard alternatives, which are dependent on context, are AllowList and DenyList. Again, just because the word doesn't offend you, don't mean that it doesn't offend others.

I think we may have reached the end of what we can achieve in this forum and we are both getting quite repetitive. I appreciate you sharing your opinions. I have also shared mine. I feel as if I was heard. I hope you feel

[2020-06-13 06:31] blacklistisnotracist commented on #22854
AllowList and DenyList will also offend some people. For example, what about people who have faced denial from someone who they care. Seeing this term would remind them of their bad memories of being denied by people they cared.

My point here is, "some people might be offended" is simply a bad argument to make some words offensive words. Unless it's commonly agreed that "blacklist" is an offensiv

[2020-06-15 10:04] andrew-garner opened #22876 "[enterprise-4.4] Edit suggested in file service_mesh/service_mesh_install/customizing-installation-ossm.adoc"
### Which section(s) is the issue in?
[Istio Gateway Configuration](https://docs.openshift.com/container-platform/4.4/service_mesh/service_mesh_install/customizing-installation-ossm.html#ossm-cr-gateway_customizing-installation-ossm)

### What needs fixing?
The Service Mesh page on [Automatic Route Creation](https://docs.openshift.com/container-platform/4.4/service_mesh/service_mesh_day_two/ossm-a

[2020-06-15 19:47] varungur opened #22900 "[enterprise-4.4] Edit suggested in file installing/installing_bare_metal/installing-bare-metal.adoc"
### Which section(s) is the issue in?
The "Installing" section of the document for Bare metal has the following statement:

### What needs fixing?
**The current statement reads as follows:**
The bootstrap, and control plane, and compute machines must use the Red Hat Enterprise Linux CoreOS (RHCOS) as the operating system.

But the "Minimum resource requirements" subsection contradicts the above st

[2020-06-15 20:29] mgahagan73 opened #22901 "[enterprise-4.5] Edit suggested in file installing/installing_azure/installing-azure-user-infra.adoc"
### Which section(s) is the issue in?
Step 4 under:
https://docs.openshift.com/container-platform/4.5/installing/installing_azure/installing-azure-user-infra.html#installation-user-infra-generate-k8s-manifest-ignition_installing-azure-user-infra

### What needs fixing?
The entirety of step 4 may be removed because it is no longer necessary in 4.5. The edit to manifests/cluster-scheduler-02-config.

[2020-06-16 07:49] vikram-redhat opened #22911 "[enterprise-Branch Build] Edit suggested in file openshift_images/configuring-samples-operator.adoc"
### Which section(s) is the issue in?

There is a typo in here..

### What needs fixing?

Blah blah.

[2020-06-16 08:56] #22911 closed

[2020-06-16 10:42] Koma-Andrea opened #22914 "[enterprise-4.4] Edit suggested in file installing/installing_vsphere/installing-vsphere-network-customizations.adoc"
### Which section(s) is the issue in?

The option networking.serviceNetwork should be networking.serviceNetwork[] as it expect an array.

### What needs fixing?

[2020-06-16 15:04] #22519 closed

[2020-06-17 12:56] lbohnsac commented on #22376
Still not fixed ...

[2020-06-17 12:57] lbohnsac commented on #21819
It's the 4.4. documentation ... it should read 4.4 output not 4.1 output! ;)

[2020-06-17 13:29] jeichler opened #22969 "[enterprise-4.4] Edit suggested in file applications/quotas/quotas-setting-per-project.adoc"
### Which section(s) is the issue in?

[code]

### What needs fixing?

There should be mentioned that build pods now by default have the restart never policy and activeDeadlineSeconds set so that build pods, unless explicitely configured, fall under Terminating pods.

Reference BZ: https://bugzilla.redhat.com/show_bug.cgi?id=1835913

[2020-06-17 13:55] SaravanaStorageNetwork opened #22970 "[enterprise-4.4] Edit suggested in file welcome/index.adoc"
### Which section(s) is the issue in?

Could you add a new section for terminology(in OpenShift)?

### What needs fixing?

Adding a new section for terminology

[2020-06-17 15:05] maxwelldb opened #22975 "Verify RHOSP branding compliance across docs"
### Which section(s) is the issue in?

All over the docs, including the Welcome page.

### What needs fixing?

Where possible*, replace occurrences of "OpenStack" with {rh-openstack-first} or {rh-openstack}.

* Excludes linked external pages, scripts, CLI output, etc. where replacements could result in confusion or breakage.

[2020-06-17 18:00] sbarre-esit opened #22988 "[enterprise-4.4] Edit suggested in file applications/quotas/quotas-setting-per-project.adoc"
### Which section(s) is the issue in?

Requiring explicit quota to consume a resource

### What needs fixing?

According to RH Case 02675594 there is no way to configure the `admissionConfig` plugin in OCP 4. So this section should be removed.

[2020-06-17 18:09] lautou opened #22990 "[enterprise-4.4] Edit suggested in file installing/install_config/configuring-firewall.adoc"
### Which section(s) is the issue in?

In Whitelist the following registry URLs:
...
*.quay.io
...
### What needs fixing?
Replace quay.io instead of *.quay.io. (Because firewall think https://quay.io cannot match *.quay.io with the dot before "quay.io")

[2020-06-17 21:26] jboxman commented on #22988
@sbarre-esit, thanks! This content came over from 3.11 and must be inapplicable to 4.x: https://docs.openshift.com/container-platform/3.11/admin_guide/quota.html

[2020-06-17 21:36] sbarre-esit commented on #22988
FYI @mrobson

[2020-06-18 01:36] jboxman commented on #22988
This is being addressed by: https://bugzilla.redhat.com/show_bug.cgi?id=1844942

[2020-06-18 01:36] #22988 closed

[2020-06-18 01:41] vikram-redhat commented on #22970
@SaravanaStorageNetwork - can you give more details of what you are expecting in this new document?

[2020-06-18 02:06] vikram-redhat commented on #22990
@codyhoag ^

[2020-06-18 11:09] trexx opened #23009 "Cluster Loader authentication"
### Which section(s) is the issue in?
OpenShift Container Platform / 4.4 / Scalability and performance / Using Cluster Loader

### What needs fixing?
Could there be further elaboration on the prerequisites section. In particular regarding authentication and downloading from the repository:

I've tried pull secrets from https://cloud.redhat.com/openshift/install/pull-secret, and my cloud.redhat.com

[2020-06-18 12:38] williamcaban opened #23012 "[enterprise-4.4] Edit suggested in file installing/installing_bare_metal/installing-bare-metal.adoc"
### Which section(s) is the issue in?

https://docs.openshift.com/container-platform/4.4/installing/installing_bare_metal/installing-bare-metal.html#installation-complete-user-infra_installing-bare-metal

### What needs fixing?

This section is missing a step indicating to the user that the bootstrap node can be removed after the control plane deployment is completed.

[2020-06-18 18:06] mgahagan73 commented on #22901
After speaking with some members of the OSD dev team, it appears that this was left over from instructions in the 4.3 timeframe where the user was directed to set compute.replicas to 0 in the install-config.yaml and setting compute.replicas to 0 caused the installer to output the template with mastersSchedulable to True. We no longer instruct users to do this starting with 4.4. Unfortunately I do

[2020-06-18 20:13] #22990 closed

[2020-06-19 10:46] bmillemathias-1a opened #23064 "[enterprise-4.3] Edit suggested in file nodes/nodes/nodes-nodes-resources-configuring.adoc"
### Which section(s) is the issue in?
all that use "`curl <certificate details> https://<master>/api/....`"

### What needs fixing?

curl examples require for the reader to
* know the url details
* to sort out the certificates validation
* to pass the authentication parameters ...

That should be more interesting and simpler to use
`oc get --raw '/api/..' `that hides all that stuff.

That applies

[2020-06-19 15:12] peterclauterbach opened #23077 "[enterprise-4.4] Edit suggested in file cnv/cnv-about-cnv.adoc"
### Which section(s) is the issue in?

https://docs.openshift.com/container-platform/4.5/virt/about-virt.html#virt-what-you-can-do-with-virt_about-virt

### What needs fixing?

"OpenShift virtualization is an add-on to OpenShift Container Platform"
s.b.
"OpenShift virtualization is a feature of OpenShift Container Platform"

[2020-06-19 15:14] peterclauterbach opened #23078 "[enterprise-4.4] Edit suggested in file cnv/cnv-about-cnv.adoc"
### Which section(s) is the issue in?

https://docs.openshift.com/container-platform/4.5/virt/about-virt.html#openshift-virtualization-support

### What needs fixing?

OpenShift virtualization will be Generally Available (GA) with OCP 4.5. Either remove the TP language, or replace a notice that it is GA.

[2020-06-19 15:16] peterclauterbach opened #23079 "[enterprise-4.5] Edit suggested in file virt/virt-2-4-release-notes.adoc"
### Which section(s) is the issue in?

https://docs.openshift.com/container-platform/4.5/virt/virt-2-4-release-notes.html#openshift-virtualization-support

### What needs fixing?

OpenShift virtualization will be GA with OCP 4.5, replace TP language with GA notice.

[2020-06-19 15:18] peterclauterbach commented on #23078
it seems the TP language is on just about every page. We just need to make the GA notification in the release notes, and remove the TP language everywhere else.

[2020-06-19 15:23] JuozasA opened #23080 "[enterprise-4.4] Edit suggested in file networking/configuring-networkpolicy.adoc"
### Which section(s) is the issue in?
https://docs.openshift.com/container-platform/4.4/networking/configuring-networkpolicy.html#nw-networkpolicy-multitenant-isolation_configuring-networkpolicy-plugin
**"Configuring multitenant isolation using NetworkPolicy"**

When this procedure is being followed, pods within the same project won't be able to communicate.
### What needs fixing?

Aditional rule

[2020-06-19 15:56] jboxman commented on #23077
@bgaydosrh FYI

[2020-06-19 15:56] jboxman commented on #23079
@bgaydosrh FYI

[2020-06-19 15:56] jboxman commented on #23078
@bgaydosrh FYI

[2020-06-19 17:52] jboxman commented on #21632
@dhellmann, this is still in flight, but I've made progress and expect to have something before the end of July at the latest.

[2020-06-19 17:54] jboxman commented on #19301
@alanconway, I've completely redesigned this, and expect to have the result merged by the end of July at the latest.

[2020-06-19 19:48] yrro opened #23098 "[enterprise-4.4] Include instructions how to confirm that Ceph RGW `account in url` is enabled"
### Which section(s) is the issue in?

Enabling Swift on OpenStack

### What needs fixing?

I would have found a brief mention of how to check whether the Ceph RGW `account in url` option is enabled, without having to dig into the bowels of RHOSP. An OpenStack user can check as follows:

[code]

The presence of `AUTH_%(tenant_id)s` in the endpoint URLs tells you that `account in url` is enabled.

[2020-06-19 19:58] jboxman commented on #23064
@bmillemathias-1a, thanks for reporting this!

[2020-06-19 20:10] codyhoag commented on #19847
@e-tienne yeah, we should include that. I'll look into it and see if we can get it added.

[2020-06-20 02:27] jboxman commented on #20630
@s1061123, finally working on this.

[2020-06-22 10:45] lautou opened #23148 "[enterprise-4.4] Issue in file installing/installing_vsphere/installing-vsphere.adoc"
### Which section(s) is the issue in?
Creating Red Hat Enterprise Linux CoreOS (RHCOS) machines in vSphere

### What needs fixing?
According to the § **Creating the user-provisioned infrastructure** is is stated :
_Configure DHCP or set static IP addresses on each node._
There is no explanation how to set static IP addresses using OVA method here.
Note it is explained in bare-metal installation pa

[2020-06-22 11:09] lautou opened #23149 "[enterprise-4.4] Issue in file networking/configuring_ingress_cluster_traffic/configuring-ingress-cluster-traffic-service-external-ip.adoc"
### Which section(s) is the issue in?

Using a service external IP to get traffic into the cluster

### What needs fixing?
No explanations about how manage High Availability if a node holding the external IP fall down.