[2022-08-17 21:49] jldohmann commented on #47162
/assign jldohmann

[2022-08-18 05:16] faldanarh opened #49284 "[online] Issue in file rosa_architecture/rosa_policy_service_definition/rosa-service-definition.adoc"
### Which section(s) is the issue in?

https://docs.openshift.com/rosa/rosa_architecture/rosa_policy_service_definition/rosa-service-definition.html#rosa-sdpolicy-cluster-egress_rosa-service-definition

"Public outbound traffic from the control plane and infrastructure nodes is required and necessary to maintain cluster image security and cluster monitoring. This requires that the 0.0.0.0/0 route

[2022-08-18 06:21] adamjrat opened #49285 "[enterprise-4.11] Issue in file cicd/builds/creating-build-inputs.adoc"
Section *What is a secret?*
https://docs.openshift.com/container-platform/4.11/cicd/builds/creating-build-inputs.html#builds-secrets-overview_creating-build-inputs

Explanation of (4) under /YAML Secret Object Definition/
Change to reduce statements to be more singular for clarity:
Section `stringData` is used for adding entries in clear text, this section is write only. Values are converted to ba

[2022-08-18 07:24] krejkrejkrej commented on #45872
/remove-lifecycle stale

[2022-08-18 09:50] tradej commented on #48562
@kalexand-rh we don't do virtualisation, and none of our writers touched this file before. Perhaps @ctomasko?

[2022-08-18 11:47] rhodain opened #49296 "[enterprise-4.11] Issue in file storage/persistent_storage/persistent-storage-fibre.adoc"
### Which section(s) is the issue in?
Persistent storage using Fibre Channel

### What needs fixing?
Some supportability details would be nice to have in this section.  For example, a common task is to extend the PV. how to do so? Is it supported? These things should be included.

[2022-08-18 11:57] kalexand-rh commented on #48562
@tradej, I thought it might be yours because of SNO's involvement.

[2022-08-18 12:02] Amrita42 commented on #48793
@empovit so from 4.9 onwards, the directory is specified as generic i.e. 4.9, etc.  The links for 4.9-4.11 are working and pointing towards the mirror registry. Please confirm. Thanks.

[2022-08-18 12:16] tradej commented on #48562
We do do SNO work, but mostly in the bare metal or ZTP context. *virt is completely out of our remit.

[2022-08-18 12:27] Amrita42 commented on #46815
/assign Amrita42

[2022-08-18 15:04] mauroseb opened #49322 "[online] Issue in file rosa_support/rosa-troubleshooting-iam-resources.adoc"
### Which section(s) is the issue in?
Troubleshooting IAM roles. Procedure.

### What needs fixing?

The second command in the procedure is the repeating the first "rosa list ocm-role", while it should read "rosa list user-role"

[2022-08-18 16:19] #47667 closed

[2022-08-18 17:16] lahinson commented on #48077
Hi @patrickstrick - When you can, please take a look at this update to the docs and let me know if the new examples are more helpful. Thanks.

Preview link (VPN required): http://file.rdu.redhat.com/lahinson/etcd-auto-defrag/post_installation_configuration/cluster-tasks.html#etcd-defrag_post-install-cluster-tasks

[2022-08-18 18:27] patrickstrick commented on #48077
@lahinson Thank you! I see the examples of a successful and unsuccessful defrag in there. This is exactly what I was hoping for.

I do have one more suggestion on this page. The next section, "Manual defragmentation" states,

...but does not give the reader the knowledge of how to make that determination.

On the other hand, with the success/failed log output from your other change, is this senten

[2022-08-18 18:47] lahinson commented on #48077
@patrickstrick Thanks for taking a look! I'm glad that the new examples are helpful.

Good question about the manual defragmentation section. I'll check with the original author of that section to see if she can provide more clarity.

[2022-08-18 20:48] #47886 closed

[2022-08-19 06:34] shaneboulden opened #49377 "[enterprise-4.11] Issue in file authentication/identity_providers/configuring-oidc-identity-provider.adoc"
### Which section(s) is the issue in?
Configure an OpenID Connect Identity Provider

### What needs fixing?
It should be mentioned somewhere in this page that OpenShift requires subject alternate names to be used in place of canonical names in the TLS certificates used for OIDC integration, preferably with DNS and IP both specified. Without these SANs provided, the authentication operator logs err

[2022-08-19 10:04] InfoSec812 commented on #40302
/remove-lifecycle stale

This issue is still present and needs to be resolved.

[2022-08-19 10:04] InfoSec812 commented on #40302
/remove-lifecycle rotten

[2022-08-19 10:05] InfoSec812 commented on #40302
/lifecycle frozen

[2022-08-19 12:30] inderpaltiwana opened #49379 "[enterprise-4.8] Issue in file networking/network_policy/logging-network-policy.adoc"
### Which section(s) is the issue in?
https://docs.openshift.com/container-platform/4.8/networking/network_policy/logging-network-policy.html

### What needs fixing?
Typo in the Disabling network policy audit logging for a namespace section of the docs from version 4.8 to current

[2022-08-19 13:06] inderpaltiwana commented on #49379
Have created a PR for this issue here https://github.com/openshift/openshift-docs/pull/49380

[2022-08-19 13:11] sheriff-rh commented on #48197
I have created a pull request to remove PAO from OKD documentation, please review when you have a chance. Thanks! https://github.com/openshift/openshift-docs/pull/49332

[2022-08-19 13:55] xueli181114 commented on #40302
I reviewed the doc and some places need to be updated.
1. Submitting a support case ->  Prerequisites ->You have access to the cluster as a user with the cluster-admin role. -- This line should be used for customers getting cluster ID with command `$ oc get clusterversion -o jsonpath='{.items[].spec.clusterID}{"\n"}'` . Customers can create cluster-admin user to an OSD cluster once there is relate

[2022-08-19 14:06] ahardin-rh commented on #47575
@madhusudanupadhyay Thank you for reporting this typo! This is now fixed in https://github.com/openshift/openshift-docs/pull/4938. The update is merged, so I am closing this issue. Thanks again for your help!

[2022-08-19 14:06] #47575 closed

[2022-08-19 14:13] xueli181114 commented on #40302
Sorry,  just double confirmed with the cluster-admin feature owner. The CCS OSD cluster can create cluster-admin user without capability. Only standard OSD cluster which is using RH account should have the capability.

[2022-08-19 15:04] mburke5678 commented on #49038
PR merged. Closing

[2022-08-19 15:04] #49038 closed

[2022-08-20 00:01] #43617 closed

[2022-08-20 00:01] #43604 closed

[2022-08-20 09:20] haf-tech opened #49427 "[enterprise-4.10] Issue in file installing/disconnected_install/installing-mirroring-disconnected.adoc"
### Which section(s) is the issue in?

In prerequisites

### What needs fixing?

The referenced link to retrieve oc-mirror plugin is not compatible to the OCP v4.10.x version. Using the referenced version results in non working catalog sources, see e.g.
https://github.com/openshift/oc-mirror/issues/502

[2022-08-21 08:02] #23269 closed

[2022-08-21 11:46] empovit commented on #48793
Looks good, thanks

[2022-08-21 11:46] #48793 closed

[2022-08-21 18:20] RHmilti opened #49429 "[enterprise-4.8] Issue in file machine_management/user_infra/adding-compute-user-infra-general.adoc"
### Which section(s) is the issue in?
all

### What needs fixing?
there are broken links for the different methods of adding compute nodes to the different platforms

[2022-08-21 18:22] RHmilti commented on #49429
https://docs.openshift.com/container-platform/4.8/machine_management/machine_management/user_infra/adding-aws-compute-user-infra.html#adding-aws-compute-user-infra
https://docs.openshift.com/container-platform/4.8/machine_management/installing/installing_azure/installing-azure-user-infra.html#installation-creating-azure-worker_installing-azure-user-infra
https://docs.openshift.com/container-platfo

[2022-08-22 09:13] sounix000 commented on #37426
/remove-lifecycle stale

[2022-08-22 12:15] pjnroll opened #49431 "[enterprise-4.9] Issue in file nodes/pods/nodes-pods-autoscaling.adoc"
### Which section(s) is the issue in?
Creating a horizontal pod autoscaler for CPU utilization by using the CLI

### What needs fixing?
There is a repetition in the sentence "Perform one of the following one of the following:"

[2022-08-22 12:39] andrewlinuxadmin opened #49432 "Error in loki secret example"
### Which section(s) is the issue in?

https://docs.openshift.com/container-platform/4.11/logging/cluster-logging-loki.html#logging-loki-deploy_cluster-logging-loki

### What needs fixing?

Item 2, in yaml, is described in the legend (bullets 1 and 2) that only the parameters "bucketnames" and "endpoint" need to be in base64. However, the parameters "access_key_id" and "access_key_secret" must als

[2022-08-22 13:30] RH-csaggin opened #49434 "[enterprise-4.10] Issue in file backup_and_restore/control_plane_backup_and_restore/replacing-unhealthy-etcd-member.adoc"
### Which section(s) is the issue in?

Remove the unhealthy member. (ETCD)

### What needs fixing?

In my scenario, we were not able to use oc-client to interact with the etcd cluster to remove the etcd member and check the general status with an error:

[code]

We used crictl directly from the etcd container and the operation was successful in fully recovering the cluster and fixing the certifica

[2022-08-22 17:14] cooktheryan opened #49450 "[enterprise-4.11] Issue in file installing/disconnected_install/installing-mirroring-creating-registry.adoc"
### Which section(s) is the issue in?

[code]

### What needs fixing?
I don't believe this sentence is correct

[2022-08-22 17:32] lahinson commented on #48077
The 4.10 [1] and 4.11 [2] docs have been updated with the new examples:

[1] https://docs.openshift.com/container-platform/4.10/post_installation_configuration/cluster-tasks.html#etcd-defrag_post-install-cluster-tasks
[2] https://docs.openshift.com/container-platform/4.11/post_installation_configuration/cluster-tasks.html#etcd-defrag_post-install-cluster-tasks

I'm still working with a developer t

[2022-08-23 00:02] #43810 closed

[2022-08-23 00:02] #43820 closed

[2022-08-23 02:56] bweidenb opened #49479 "[enterprise-4.11] Issue in file scalability_and_performance/ztp-deploying-disconnected.adoc"
### Which section(s) is the issue in?
Additional resources

### What needs fixing?
Please update the OCP 4.10 docs https://docs.openshift.com/container-platform/4.10/scalability_and_performance/ztp-deploying-disconnected.html
to reflect ACM 2.5 docs in this section
For details about best practice for scaling clusters with Red Hat Advanced Cluster Management (RHACM), see [ACM performance and scalab

[2022-08-23 12:19] parogui opened #49487 "[enterprise-4.11] Issue in file registry/configuring_registry_storage/configuring-registry-storage-baremetal.adoc"
### Which section(s) is the issue in?

Configuring block registry storage

### What needs fixing?

There's a warning saying that block volumes are supported but not recommended but that could be misunderstood because what in that disclaimer is meant to be supported is a block device PV, not a Block PVC. The image registry needs to have a Filesystem on the volume it is getting mounted.

A clarifica

[2022-08-24 08:27] apinnick commented on #46003
Issue has been fixed.

[2022-08-24 08:27] #46003 closed

[2022-08-24 09:33] avyas26 opened #49528 "[enterprise-4.10] Issue in file monitoring/configuring-the-monitoring-stack.adoc"
### Which section(s) is the issue in?
https://docs.openshift.com/container-platform/4.10/monitoring/configuring-the-monitoring-stack.html#persistent-storage-prerequisites

### What needs fixing?
Current: Because Prometheus has two replicas and Alertmanager has three replicas, you need five PVs to support the entire monitoring stack.

Should be updated to: Because Prometheus has two replicas and Al

[2022-08-24 09:54] andrea-mh opened #49529 "[enterprise-4.10] Issue in file installing/disconnected_install/installing-mirroring-disconnected.adoc"
### Which section(s) is the issue in?
Use case: Including arbitrary images and helm charts
https://docs.openshift.com/container-platform/4.10/installing/disconnected_install/installing-mirroring-disconnected.html#oc-mirror-image-set-examples_installing-mirroring-disconnected

### What needs fixing?
The documentation should be changed to reference version 4.10 instead of 4.9 in the OCP channel and

[2022-08-24 10:13] andrea-mh opened #49530 "[enterprise-4.10] Issue in file installing/disconnected_install/installing-mirroring-disconnected.adoc"
### Which section(s) is the issue in?
https://docs.openshift.com/container-platform/4.10/installing/disconnected_install/installing-mirroring-disconnected.html#installation-oc-mirror-installing-plugin_installing-mirroring-disconnected

### What needs fixing?
Add a hyphon in the oc mirror command examples, e.g.
Change:
oc mirror help
To:
oc**-**mirror help

And for subsequent occurrences:
oc mirror

[2022-08-24 12:10] Ejdesgaard opened #49531 "[enterprise-4.11] Issue in file migration_toolkit_for_containers/advanced-migration-options-mtc.adoc"
### Which section(s) is the issue in?
https://docs.openshift.com/container-platform/4.11/migration_toolkit_for_containers/advanced-migration-options-mtc.html -> known issue

### What needs fixing?
Mention https://github.com/kubernetes/kubernetes/issues/7452 when talking about SPDY, since it's been deprecated since 2021.

[2022-08-24 12:20] Senthamilarasu-STA commented on #48896
Agreed

[2022-08-24 13:02] jpmaida opened #49533 "[enterprise-4.9] Issue in file cicd/gitops/installing-openshift-gitops.adoc"
### Which section(s) is the issue in?

Installing OpenShift GitOps Operator in web console

### What needs fixing?

Documentation isn't clear about creating ArgoCD instances. It only shows how to install the operator, but you have to create the instance yourself. It isn't obvious to a beginner user.

[2022-08-24 14:45] sevenhiss opened #49543 "[enterprise-4.11] Issue in file installing/installing_bare_metal_ipi/ipi-install-installation-workflow.adoc"
### Which section(s) is the issue in?
Configuring networking section -
https://docs.openshift.com/container-platform/4.11/installing/installing_bare_metal_ipi/ipi-install-installation-workflow.html#configuring-networking_ipi-install-installation-workflow

### What needs fixing?
In this section, stp disable must be added when creation of baremetal bridge interface. It's coming enabled by default an

[2022-08-24 14:51] sevenhiss opened #49544 "[enterprise-4.11] Issue in file installing/installing_bare_metal_ipi/ipi-install-installation-workflow.adoc"
### Which section(s) is the issue in?

https://docs.openshift.com/container-platform/4.11/installing/installing_bare_metal_ipi/ipi-install-installation-workflow.html#additional-resources_config

### What needs fixing?
There must be a setting for bootstrap DNS configuration in install-config.yaml,  when configuring bootstrap with static IP address. With the current gateway IP address is coming as D

[2022-08-24 15:12] lahinson commented on #48077
Hi @patrickstrick - After discussing the `etcd_db_total_size_in_bytes` metric with an SME, I updated the "Manual defragmentation" section. When you can, please take a look at this local preview (VPN required): http://file.rdu.redhat.com/lahinson/etcd-manual-defrag/post_installation_configuration/cluster-tasks.html#manual-defrag-etcd-data_post-install-cluster-tasks

[2022-08-24 15:27] mrVectorz opened #49547 "[enterprise-4.11] Issue in file updating/updating-cluster-cli.adoc"
### Which section(s) is the issue in?
Updating a cluster by using the CLI

### What needs fixing?
All examples and outputs were directly copied from the 4.10 docs.

Example, instead of `oc adm upgrade channel stable-4.10` it should be `oc adm upgrade channel stable-4.11`

[2022-08-24 15:49] bergerhoffer commented on #41954
/remove-lifecycle stale

[2022-08-24 15:54] lahinson commented on #48077
@patrickstrick Please ignore my last comment. I just received more information from the SME that changes my draft. I'll let you know when it's ready for review. Thanks, and sorry for any confusion!

[2022-08-24 19:10] bergerhoffer commented on #32137
@kalexand-rh As far as I'm aware, we've never done the whitelist/blacklist sweep in our repo. Is this something we should open a jira for (if we don't have one already) and prioritize?

[2022-08-24 19:10] bergerhoffer commented on #32137
/remove-lifecycle stale

[2022-08-24 19:32] lahinson commented on #48077
@patrickstrick The updated "Manual defragmentation" section is ready for review. Here's the preview link (VPN required): http://file.rdu.redhat.com/lahinson/etcd-manual-defrag/post_installation_configuration/cluster-tasks.html#etcd-defrag_post-install-cluster-tasks

I updated the first part of that section and added a "Next steps" subsection. PTAL when you can. Thanks!

[2022-08-24 19:36] kalexand-rh commented on #32137
@bergerhoffer, this does not appear to have been done. Will you make an OCPBUGS Jira for it?

[2022-08-24 19:45] gnunn1 opened #49561 "[enterprise-4.10] Issue in file logging/cluster-logging-loki.adoc"
### Which section(s) is the issue in?

Deploying the LokiStack

### What needs fixing?

The yaml that has effectiveDate needs to be quoted, i.e. instead of:

    storage:
      schemas:
      - version: v12
        effectiveDate: 2022-06-01

It should be:

    storage:
      schemas:
      - version: v12
        effectiveDate: '2022-06-01'

Otherwise it fails to deploy

[2022-08-25 05:58] arthur-r-oliveira opened #49580 "[enterprise-4.8] Issue in file release_notes/ocp-4-8-release-notes.adoc"
### Which section(s) is the issue in?
[#ocp-4-8-known-issues](https://docs.openshift.com/container-platform/4.8/release_notes/ocp-4-8-release-notes.html#ocp-4-8-known-issues)

### What needs fixing?
Include BZ 2089389 and KB 6962127 as known issue affecting OVN customers.

[2022-08-25 12:28] #40302 closed

[2022-08-25 13:46] EricPonvelle commented on #40302
@InfoSec812, thanks for bringing this up. I simply removed the line about needing to be a `cluster-admin` of any sort since these instructions are for submitting a ticket, which do not require elevated permissions/roles. You can see the updated documentation is live now.

1. [OSD Support](https://docs.openshift.com/dedicated/osd_architecture/osd-support.html#support-submitting-a-case_osd-getting-s

[2022-08-25 13:54] InfoSec812 commented on #40302
Thank you so much!

[2022-08-25 14:24] bergerhoffer commented on #32137
@kalexand-rh Done: https://issues.redhat.com/browse/OCPBUGS-590

[2022-08-25 17:40] bmarlow opened #49619 "[enterprise-4.11] Issue in file windows_containers/windows-containers-release-notes-6-x.adoc"
### Which section(s) is the issue in?
Table 1. Platform networking support.

### What needs fixing?
The previous table lists 'bare metal or provider agnostic'
This table just lists 'bare metal'

This table should be updated so that the verbiage matches and it also says 'bare metal or provider agnostic'

There are customers running Nutanix who read this as Windows Nodes will not work on OpenShift o

[2022-08-25 20:27] patrickstrick commented on #48077
Fantastic! This is much clearer (and it probably more accurate, but I'm not the expert).

I did notice one change that we didn't discuss that I want to call out in case it was accidental:
Under Procedure, step 1a now says:
`oc get pods -n openshift-etcd -o wide | grep -v guard | grep etcd`

The 4.11 docs match, but the 4.10 docs instead say:
`oc get pods -n openshift-etcd -o wide | grep -v quorum-

[2022-08-26 08:02] #43917 closed

[2022-08-26 08:41] Ejdesgaard opened #49638 "[enterprise-4.11] Issue in file migration_toolkit_for_containers/advanced-migration-options-mtc.adoc"
### Which section(s) is the issue in?
State migration

### What needs fixing?
In section "State migration", the Prerequisites, Procedure and following NOTE repeated.
The later repeat should be removed.

[2022-08-26 14:10] tinacooke opened #49653 "[enterprise-4.10] Issue in file release_notes/ocp-4-10-release-notes.adoc"
### Which section(s) is the issue in? The download PDF icon

### What needs fixing? A 106-page PDF downloads, but is entirely blank
[release_notes_ocp-4-10-release-notes.pdf](https://github.com/openshift/openshift-docs/files/9433822/release_notes_ocp-4-10-release-notes.pdf)

[2022-08-27 00:01] #43921 closed

[2022-08-28 00:02] #43947 closed

[2022-08-28 00:03] #43960 closed

[2022-08-29 00:01] #44011 closed

[2022-08-29 12:30] parogui commented on #45149
/lifecycle frozen

[2022-08-29 12:37] yangzhengtx opened #49692 "[enterprise-4.11] Issue in file scalability_and_performance/cnf-numa-aware-scheduling.adoc"
### Which section(s) is the issue in?
Deploying the NUMA-aware secondary pod scheduler
The example of KubeletConfig custom resource has incorrect indent for field limits in reservedMemory:
[code]

### What needs fixing?
The correct format for reservedMemory should be:
[code]

[2022-08-29 13:16] cbremble commented on #49561
Added to Jira: https://issues.redhat.com/browse/RHDEVDOCS-4397

[2022-08-29 15:20] #48042 closed

[2022-08-29 19:21] maxwelldb opened #49717 "xref used in installation-initializing module"
### Which section(s) is the issue in?

Prerequisites section of "Creating the installation configuration file" (`modules/installation-initializing.adoc`).

### What needs fixing?

@mjpytlak I noticed this while working on a bug fix. xrefs aren't permitted in modules per our guidelines.

The xref was introduced as part of #44537.

[2022-08-29 20:53] mjpytlak commented on #49717
Thanks @maxwelldb. I will take care of this shortly. You can track status in https://issues.redhat.com/browse/OCPBUGS-677

[2022-08-29 20:53] #49717 closed

[2022-08-30 00:02] #44086 closed

[2022-08-30 08:03] #44120 closed

[2022-08-30 11:17] dsimonov1 opened #49739 "[enterprise-4.10] Issue in file operators/admin/olm-restricted-networks.adoc"
### Which section(s) is the issue in?

Using Operator Lifecycle Manager on restricted networks

### What needs fixing?
No information of how to mirror operators using OLM index image having in mind the new schema change.

[2022-08-30 14:10] lahinson commented on #48077
Good catch @patrickstrick! I didn't update step 1a when I made my changes, so those steps must have been different for a while. I'll check with the dev team to make sure that those commands are correct.

[2022-08-30 16:19] varungur opened #49762 "[enterprise-4.11] Issue in file welcome/oke_about.adoc"
### Which section(s) is the issue in?
Table 1 - Product comparison for OpenShift Kubernetes Engine and OpenShift Container Platform

### What needs fixing?
Please add "Cluster Monitoring" to Table 1 and add Yes to both OpenShift Kubernetes Engine and OpenShift Container Platform

[2022-08-30 16:56] AlexonOliveiraRH opened #49763 "[enterprise-4.10] Issue in file installing/installing_vsphere/installing-vsphere-installer-provisioned.adoc"
### Which section(s) is the issue in?

`OpenShift 4.10 Documentation > Installing > Installing on vSphere > Installing a cluster on vSphere > Required vCenter account privileges`

### What needs fixing?

The following permission is lacking in the documentation:

**vSphere Tagging > Assign or Unassign vSphere Tag on Object**

It needs to be set, otherwise one will fall into the following issue desc

[2022-08-30 19:45] lahinson commented on #48077
Hi @patrickstrick - The procedures in the 4.10 and 4.11 docs are correct. I had a tester verify them this afternoon. It looks like the command had changes introduced for 4.11. In any case, I can confirm that step 1a is correct in both doc sets.

[2022-08-31 07:19] hashnao commented on #45707
Hi, it seems the bare-metal ipi installation in a restricted (disconnected) network is supported afaik https://issues.redhat.com/browse/KNIDEPLOY-1796, but does this refer to other IPI methods?

[2022-08-31 08:20] avyas26 opened #49789 "[enterprise-4.10] Issue in file backup_and_restore/control_plane_backup_and_restore/disaster_recovery/scenario-2-restoring-cluster-state.adoc"
### Which section(s) is the issue in?
https://docs.openshift.com/container-platform/4.10/backup_and_restore/control_plane_backup_and_restore/disaster_recovery/scenario-2-restoring-cluster-state.html#dr-scenario-2-restoring-cluster-state_dr-restoring-cluster-state

Step #7

### What needs fixing?

In the etcd-data-backup doc we are using the command to backup to location "/home/core/assets/backup"

[2022-08-31 09:30] apinnick commented on #44055
@fabiand
What do you think?

[2022-08-31 13:18] cahartma commented on #42654
/close

[2022-08-31 13:19] #42654 closed

[2022-08-31 15:04] lahinson commented on #48077
The updates are now live in the 4.10 [1] and 4.11 [2] docs.

[1] https://docs.openshift.com/container-platform/4.10/post_installation_configuration/cluster-tasks.html#etcd-defrag_post-install-cluster-tasks
[2] https://docs.openshift.com/container-platform/4.11/post_installation_configuration/cluster-tasks.html#etcd-defrag_post-install-cluster-tasks

@patrickstrick If you're satisfied with the upda

[2022-08-31 15:06] patrickstrick commented on #48077
I am. Closing, thanks!

[2022-08-31 15:06] #48077 closed

[2022-08-31 17:37] #47162 closed

[2022-08-31 18:33] tkagn opened #49816 "[enterprise-4.11] Issue in file cicd/gitops/setting-up-argocd-instance.adoc"
### Which section(s) is the issue in?

Deploying resources to a different namespace

### What needs fixing?

The "Configure the namespace" procedure has the following as a sample command:

oc label namespace <namespace> && \\
argocd.argoproj.io/managed-by=<instance_name>

The command should be:
oc label namespace <namespace> \
argocd.argoproj.io/managed-by=<instance_name>

[2022-09-01 08:30] apinnick commented on #45304
Closing because this is obsolete. The Create VM wizard is deprecated.

[2022-09-01 08:30] #45304 closed

[2022-09-01 08:32] apinnick commented on #45705
Closing because the Create VM wizard is obsolete.

[2022-09-01 08:32] #45705 closed

[2022-09-01 08:34] apinnick commented on #45301
Fixed.

[2022-09-01 08:34] #45301 closed

[2022-09-01 08:34] apinnick commented on #45956
Fixed.

[2022-09-01 08:34] #45956 closed

[2022-09-01 08:43] apinnick commented on #45221
Fixed

[2022-09-01 08:43] #45221 closed

[2022-09-01 10:30] aireilly commented on #42214
Fixed in https://github.com/openshift/openshift-docs/pull/46277

[2022-09-01 10:30] aireilly commented on #42214
/close

[2022-09-01 18:46] tmorik opened #49918 "[enterprise-4.10] Issue in file logging/cluster-logging-upgrading.adoc"
### Which section(s) is the issue in?

e. Verify that the log collector is updated to 5.x:

[code]

There is no longer `fluentd` daemon set and `fluentd-init` in the command output in OCP 4.10.

### What needs fixing?

The example command should use `collector`

[2022-09-01 19:01] kfryklund opened #49919 "[enterprise-4.10] Issue in file cicd/pipelines/automatic-pruning-taskrun-pipelinerun.adoc"
### Which section(s) is the issue in?
https://docs.openshift.com/container-platform/4.10/cicd/pipelines/automatic-pruning-taskrun-pipelinerun.html#annotations-for-automatic-pruning-taskruns-pipelineruns_automatic-pruning-taskrun-pipelinerun

### What needs fixing?
It's unclear where these annotations need to be applied.  Is it a specific namespace?  Is it the operator itself?  Is it multiple names

[2022-09-01 22:26] mburke5678 commented on #49619
PR merged. Closing

[2022-09-01 22:26] #49619 closed

[2022-09-02 01:05] faldanarh opened #49974 "[enterprise-4.10] Issue in file service_mesh/v1x/installing-ossm.adoc"
### Which section(s) is the issue in?
Installing Service Mesh > Installing the Jaeger Operator

### What needs fixing?
There is a mentioning to install the "Jaeger Operator", however, it is not available anymore in the OperatorHub, it is called now "Red Hat OpenShift distributed tracing platform", as mentioned at the section "Installing Service Mesh > Installing the Operators".

Another question i

[2022-09-02 11:49] LucianoRed opened #49985 "[enterprise-4.11] Issue in file logging/cluster-logging-deploying.adoc"
### Which section(s) is the issue in?

Installing the logging subsystem for Red Hat OpenShift using the web console

### What needs fixing?
In item 4, the name of the pods are not fluentd-xyz anymore. Now it's collector-xyz

[2022-09-04 00:01] #44235 closed

[2022-09-04 00:01] #44234 closed

[2022-09-04 08:00] #44295 closed

[2022-09-04 09:02] RichardHoch commented on #40519
/close

[2022-09-04 09:02] #40519 closed

[2022-09-04 18:36] waljaber opened #50018 "[enterprise-4.11] Issue in file installing/installing_nutanix/installing-nutanix-installer-provisioned.adoc"
### Which section(s) is the issue in?
The issue is in the 'Sample customized install-config.yaml file for Nutanix' section
In the sample manifest on the doc page the username, and password are under the `nutanix` stanza.

### What needs fixing?
Accoring to the 4.11 installer binary the username, and password should be under the `prismCentral` stanza

[code]

Therefor the correct manifest should lo

[2022-09-04 20:57] alexandermandl opened #50020 "[online] Issue in file storage/persistent_storage/osd-persistent-storage-aws.adoc"
### Which section(s) is the issue in?

#osd-storage-pv-aws-config-account_osd-persistent-storage-aws
Procedure
8. b.

In Step 3:, configure the client access:

    Click Add access point.

    Enter a unique Path such as /access_point_1.

    Configure the Owner fields with ownership or permissions that allow write access for your worker pods. For example, if your worker pods run with group ID 100

[2022-09-05 00:01] #44314 closed

[2022-09-05 09:59] #42214 closed

[2022-09-06 09:09] joaquinfll opened #50050 "[enterprise-4.10] Issue in file scalability_and_performance/ztp-deploying-disconnected.adoc"
### Which section(s) is the issue in?

Adding RHCOS ISO and RootFS images to the disconnected mirror host. This also happens for version 4.11.

### What needs fixing?

The step "b. Download the required images:" is pointing to pre-release images in "https://mirror.openshift.com/pub/openshift-v4/dependencies/rhcos/pre-release/"

I think this should reference the final release in "https://mirror.ope

[2022-09-06 15:50] rolfedh opened #50064 "[enterprise-4.11] Issue in file post_installation_configuration/connected-to-disconnected.adoc"
### Which section(s) is the issue in?

The example in https://docs.openshift.com/container-platform/4.11/post_installation_configuration/connected-to-disconnected.html#connected-to-disconnected-prepare-mirror_connected-to-disconnected mentions `registry.svc.ci.openshift.org`, which has been moved to `registry.ci.openshift.org`.
The old URL was for 3.x clusters. The new one is for 4.x clusers.
Also

[2022-09-06 15:52] rolfedh opened #50065 "[enterprise-4.11] Issue in file cli_reference/openshift_cli/administrator-cli-commands.adoc"
### Which section(s) is the issue in?

The example in https://docs.openshift.com/container-platform/4.11/cli_reference/openshift_cli/administrator-cli-commands.html#oc-adm-release-new mentions `registry.svc.ci.openshift.org`, which has been moved to `registry.ci.openshift.org`.
The old URL was for 3.x clusters. The new one is for 4.x clusers.
Also see https://bugzilla.redhat.com/show_bug.cgi?id=19

[2022-09-06 16:52] mburke5678 opened #50067 "Fix oc adm cordon output"
There is a mistake in this [section in nodes](https://docs.openshift.com/container-platform/4.11/nodes/nodes/nodes-nodes-working.html#nodes-nodes-working-evacuating_nodes-nodes-working)
Example output
[code]
It should be Ready,SchedulingDisabled after node is cordoned

4.6+

[2022-09-06 18:31] kelbrown20 commented on #45872
/assign kelbrown20

[2022-09-06 23:46] dezfrom916 opened #50073 "[online] Issue in file welcome/index.adoc"
### Which section(s) is the issue in?

### What needs fixing?

[2022-09-07 14:54] kelbrown20 commented on #45085
/remove-lifecycle rotten

[2022-09-07 14:59] kelbrown20 commented on #45085
This issue was addressed and updated in #45132
Live updated documentation: https://docs.openshift.com/container-platform/4.10/installing/installing_platform_agnostic/installing-platform-agnostic.html#installation-user-infra-machines-iso_installing-platform-agnostic
Closing issue

[2022-09-07 14:59] kelbrown20 commented on #45085
/close

[2022-09-07 15:06] #45085 closed

[2022-09-07 15:54] kelbrown20 commented on #44725
/remove-lifecycle rotten

[2022-09-07 16:19] kelbrown20 commented on #44725
This issue was fixed in #45155
Live documentation: https://docs.openshift.com/container-platform/4.10/installing/installing_sno/install-sno-installing-sno.html#generating-the-discovery-iso-manually_install-sno-installing-sno-with-the-assisted-installer
Setting to close

[2022-09-07 16:26] ipilcher opened #50125 "[enterprise-4.11] Issue in file welcome/oke_about.adoc"
### Which section(s) is the issue in?

About OpenShift Kubernetes Engine

### What needs fixing?

Please add information about whether OpenShift GitOps (ArgoCD) is included in OKE.

[2022-09-07 16:30] mabehiro opened #50126 "[enterprise-4.10] Issue in file release_notes/ocp-4-10-release-notes.adoc"
### Which section(s) is the issue in?
The section "Zero Touch provisioning is generally available"
https://docs.openshift.com/container-platform/4.10/release_notes/ocp-4-10-release-notes.html#ocp-4-10-23-ztp-ga

### What needs fixing?
This part is unclear and ambiguous. What exact configuration was required prior to the version to enable the function?
And it refers to 4.11 in 4.10 documentation.

[2022-09-07 17:07] kelbrown20 commented on #47482
/assign kelbrown20

[2022-09-07 19:08] bergerhoffer commented on #50073
Closing since this isn't filled out. Please feel free to reopen if you want to provide details of an issue, thanks!

[2022-09-07 19:08] #50073 closed

[2022-09-07 19:11] bergerhoffer commented on #50065
@soltysh @ingvagabund Can one of you confirm whether the instances of `registry.svc.ci.openshift.org` in the examples for `oc adm release new` should be replaced with `registry.ci.openshift.org`?

If so, I'll be happy to submit the PR to the oc repo to fix this for 4.12. Thanks!

[2022-09-07 19:15] bergerhoffer commented on #49547
@kalexand-rh FYI I did a search and it looks like there are still a lot of other instances of 4.10 that didn't get updated to 4.11 when the sweep was done prior to GA. So whoever takes this should do another sweep to catch all of the missed instances.

[2022-09-07 19:18] bergerhoffer commented on #49530
Hi @andrea-mh! The `oc-mirror` tool is intended to be installed as a plug-in to the `oc` CLI. When that is done, and you move the binary into your path, the correct command does not use a hyphen between "oc" and "mirror". `oc mirror help` is correct.

If you were to just straight download the binary and run it locally (not as a CLI plug-in), then in that case it would use a hyphen.

Since the docs

[2022-09-07 19:18] #49530 closed

[2022-09-07 19:24] bergerhoffer commented on #49529
Thanks for pointing this out! I've submitted #50136 to fix these versions.

[2022-09-07 19:31] bergerhoffer commented on #49427
@jpower432 Based on your comment here: https://github.com/openshift/oc-mirror/issues/502#issuecomment-1222490477

It seems like the latest oc-mirror binary posted for 4.11 should work with 4.10. Let me know if that ends up not being the case.

Or even if it is supposed to, I wonder whether we should update the docs to download the 4.10-specific binary anyways. I'm not positive where that other loc

[2022-09-08 14:33] josgonza-rh opened #50168 "[enterprise-4.10] Issue in file web_console/web-console.adoc"
### Which section(s) is the issue in?
Multicluster console

### What needs fixing?
Link to the MCE documentation is wrong:
- Current / wrong one: https://access.redhat.com/documentation/en-us/red_hat_advanced_cluster_management_for_kubernetes/2.5/html/multicluster_engine_operator/index
- Correct one: https://access.redhat.com/documentation/en-us/red_hat_advanced_cluster_management_for_kubernetes/2

[2022-09-08 15:11] bergerhoffer commented on #49427
Thanks for the reply @jpower432, and that make sense. If the 4.11 oc-mirror binary does indeed work properly with 4.10 OCP, then I'm fine with keeping things as they are. But if it doesn't work, then it seems like we should make an update here.

Just let me know what the outcome of the related oc-mirror issue is (https://github.com/openshift/oc-mirror/issues/502) and if we need do do anything to t

[2022-09-08 15:23] kelbrown20 commented on #48337
/assign kelbrown20

[2022-09-08 15:55] kelbrown20 commented on #48337
This issue was addressed in #48154, but one typo is being fixed in #50172

[2022-09-08 15:56] slcmpunk opened #50173 "[enterprise-4.10] Issue in file nodes/pods/nodes-pods-priority.adoc"
### Which section(s) is the issue in?
https://docs.openshift.com/container-platform/4.10/nodes/pods/nodes-pods-priority.html

Including pod priority in pod scheduling decisions

### What needs fixing?
The second sentence needs the word pod capitalized since it is the first word in the sentence:
You can enable pod priority and preemption in your cluster. pod priority indicates the importance of a p

[2022-09-08 16:36] dmesser commented on #49427
oc-mirror in 4.11 is the way to go and it supports mirroring catalogs of releases starting with OCP 4.9 onwards.

[2022-09-08 19:14] mburke5678 commented on #50067
Closing. PR merged

FYI @bburt-rh

[2022-09-08 19:42] kelbrown20 commented on #46995
Hello! From my end the [Red Hat ecosystem catalog] in “Pulling the Driver toolkit container images from registry.redhat.io” takes me to the [Driver tool kit](https://catalog.redhat.com/software/containers/search?q=Driver%20Toolkit&p=1&vendor_name=Red%20Hat) link you mentioned. And [Container images section of the Red Hat Ecosystem Catalog] in “Pulling the Driver toolkit container image” takes me t

[2022-09-09 08:01] #44452 closed

[2022-09-09 19:10] yocum137 opened #50230 "[enterprise-4.10] Issue in file installing/installing_ibm_cloud_public/installing-ibm-cloud-customizations.adoc"
### Which section(s) is the issue in?

In section "Manually creating IAM for IBM Cloud VPC" the 'Verification' step is unclear.

### What needs fixing?

Currently it says this:

    Ensure that the appropriate secrets were generated in your cluster’s manifests directory.

Customer suggests the wording should be this:

    Ensure that the secrets are generated in your cluster's installation_dir whe

[2022-09-09 20:52] ahardin-rh commented on #49379
Thank you! This is now addressed

[2022-09-09 20:52] #49379 closed

[2022-09-10 00:00] #44496 closed

[2022-09-10 14:34] haf-tech commented on #49427
so the latest `oc-mirror`did not worked for OCP 4.10, this is the reason why I created both issues, this one and https://github.com/openshift/oc-mirror/issues/502

The oc-mirror version for 4.10 and 4.11 supports also not the same `ImageSetConfiguration` structure/version etc.

[2022-09-12 00:27] dmc5179 opened #50238 "[enterprise-4.11] Issue in file installing/installing_nutanix/installing-nutanix-installer-provisioned.adoc"
### Which section(s) is the issue in?

The "Sample customized install-config.yaml file for Nutanix" section:

The example for overriding the RHCOS image refers to the VMWare OVA as opposed to the nutanix qcow2 file

[code]

The "Additional Nutanix configuration parameters" section:

platform.nutanix.clusterOSImage shows as the example
[code]

as opposed to the nutanix qcow2 file

### What needs fi

[2022-09-12 00:42] dmc5179 commented on #50238
The nutanix terraform code in the openshift installer seems to indicate that several different disk formats are supported including the OVA and QCOW2. It's unclear if a user needs to decompress the qcow2.gz file into just a qcow2 file or leave it as a compressed file when passing it to the installer with the override variable.

[2022-09-12 06:45] ugiordan commented on #38551
/remove-lifecycle rotten

[2022-09-12 07:00] yuhkih commented on #46531
/remove-lifecycle stale

[2022-09-12 10:42] rgordill opened #50240 "[enterprise-4.11] Issue in file installing/disconnected_install/installing-mirroring-creating-registry.adoc"
### Which section(s) is the issue in?

Mirroring on a local host with mirror registry for Red Hat OpenShift

### What needs fixing?

Instead of

local host registry running on port 443

Should be

local host registry running on port **8443**

Additionally, a comment should be added that in case port 8443 is in use, it can be customized by using quayHostname=host:port (I have to debug because I get

[2022-09-12 14:03] dmesser commented on #49427
@haf-tech It seems in #502 you are trying to use oc-mirror 4.10 to mirror a 4.11 catalog. In 4.10 oc mirror was tech preview and got significantly improved for GA in 4.11. In the process the config file formats changed. Let's keep that discussion in #502. It seems you yet have to confirm that the issue occured with 4.11 oc-mirror on a 4.10 catalog.

[2022-09-12 14:18] cbremble commented on #49974
OSSM 1.x docs are no longer in support. This is correct in the supported versions of the docs.

[2022-09-12 14:24] JStickler commented on #49974
Closing as WONTFIX, Service Mesh version 1.0 and 1.1 are no longer supported on OpenShift 4.10 and the docs are not being updated.  **_This is noted in the warning at the top of every 1.x page in the documentation._**

Please refer to the 2.x documentation.

[2022-09-12 14:24] #49974 closed

[2022-09-12 14:28] cbremble commented on #49528
Thanks for submitting this issue. It is a duplicate of: https://github.com/openshift/openshift-docs/issues/46482 and is already represented in our Jira project: https://issues.redhat.com/browse/RHDEVDOCS-4335.

[2022-09-12 15:30] bburt-rh commented on #49528
@avyas26 Closing this as a duplicate of the Jira issue linked in @cbremble's comment above.

Feel free to reopen the issue if you feel that it's not a duplicate.

[2022-09-12 15:30] #49528 closed

[2022-09-12 18:16] cbremble commented on #46482
Actually, that Jira has been closed as a duplicate of this: https://issues.redhat.com/browse/RHDEVDOCS-4349 so this GH issue can be closed as it's captured by an existing Jira issue.

[2022-09-12 19:22] kelbrown20 commented on #48337
Issue was fixed in #50172
Updated docs:
- Docs website: https://docs.openshift.com/container-platform/4.10/storage/persistent_storage/persistent-storage-ocs.html
- Customer portal: https://access.redhat.com/documentation/en-us/openshift_container_platform/4.10/html/storage/configuring-persistent-storage#red-hat-openshift-data-foundation

Setting to close

[2022-09-12 20:57] #46482 closed

[2022-09-12 21:01] kelbrown20 commented on #48337
/close

[2022-09-12 21:03] #48337 closed

[2022-09-13 00:04] #44623 closed

[2022-09-13 04:35] yuanlinios opened #50287 "[rhacs-docs-3.71] Issue in file integration/integrate-with-image-vulnerability-scanners.adoc"
### Which section(s) is the issue in?
Integrating with Clair

### What needs fixing?
You are wrongly referring "Anchore scanner" in "Clair" part

Furthermore, please also clarify which Clair "endpoint" to use. Simply use a "host" or "https://host" just gives 404

[2022-09-13 07:24] tbala2805 opened #50291 "[enterprise-4.6] Issue in file architecture/understanding-development.adoc"
-label:bug
### Which section(s) is the issue in?
Understanding OpenShift Container Platform development
More specifically on " Building a simple container"

### What needs fixing?
If you use a computer that runs Red Hat Enterprise Linux (RHEL) as the operating system, the process of creating a containerized application requires the following steps:

Install container build tools: RHEL contains a s

[2022-09-13 08:01] #44626 closed

[2022-09-13 08:01] #44627 closed

[2022-09-13 13:18] nmasse-itix opened #50305 "[enterprise-4.11] Issue in file authentication/managing_cloud_provider_credentials/cco-mode-sts.adoc"
### Which section(s) is the issue in?

* Creating AWS resources with the Cloud Credential Operator utility
* Updating AWS resources with the Cloud Credential Operator utility

### What needs fixing?

[code]

There is a double dash "--" before the name of the image. This generates an error :

[code]

**Resolution**: remove the double dash before the image name.

[code]

[2022-09-13 13:48] kelbrown20 commented on #50168
/assign kelbrown20

[2022-09-13 14:34] ctauchen opened #50309 "[enterprise-4.11] Issue in file openshift_images/index.adoc (GOOD FIRST ISSUE)"
### Which section(s) is the issue in?

https://docs.openshift.com/container-platform/4.11/openshift_images/index.html#images-tag_overview-of-images

### What needs fixing?

The code highlighting is different in the _Image tags_ section. Text there is blue. I'd say the code block is missing a source declaration like in other sections.

[2022-09-13 15:19] kelbrown20 commented on #50050
/assign kelbrown20

[2022-09-13 15:56] StevenBarre commented on #43284
/remove-lifecycle stale

[2022-09-13 19:06] bergerhoffer commented on #50309
Marking this as a good candidate for Hacktoberfest.

It looks like the code block here is using [source,text] above it, which is a valid option. However I agree that it does look odd compared to the other code blocks on the page (which aren't blue). Those don't define any source language above their code blocks.

Whoever updates this should either:

- Remove the [source,text] from the code block i

[2022-09-13 19:08] bergerhoffer commented on #50305
Marking this as a good candidate for Hacktoberfest.

The PR to fix this should be submitted against the main branch, and ping me with any questions!

[2022-09-13 19:09] bergerhoffer commented on #50230
@kalexand-rh I was going to mark this as a Hacktoberfest candidate, but not sure if you think we should track it differently since there seems to be a support case attached. Let me know what you think.

[2022-09-13 19:12] bergerhoffer commented on #50173
Thanks for submitting this issue and the PR to fix it @slcmpunk! We'll get it through :slightly_smiling_face:

[2022-09-13 19:16] #50067 closed

[2022-09-13 19:22] bergerhoffer commented on #49985
Marking this as a good candidate for Hacktoberfest. It has a few things that need to be fixed, but is relatively straightforward.

1. In step 4 of this section: https://docs.openshift.com/container-platform/4.11/logging/cluster-logging-deploying.html#cluster-logging-deploy-console_cluster-logging-deploying, do the following:
    - Update the items in the list that start with `fluentd-` to start wi

[2022-09-13 19:24] bergerhoffer commented on #49816
Marking this as a good candidate for Hacktoberfest.

Issue is in this section: https://docs.openshift.com/container-platform/4.11/cicd/gitops/setting-up-argocd-instance.html#gitops-deploy-resources-different-namespaces_setting-up-argocd-instance

Make this change against the main branch and let me know if you have any questions!

[2022-09-13 19:25] bergerhoffer commented on #49653
@kalexand-rh Just FYI here is a report of PDF issues - just so that we can test and hopefully close once that PDF generation fix is in.

[2022-09-13 19:27] opayne1 commented on #46001
This one might be a good one to start with @skopacz1

[2022-09-13 19:48] bergerhoffer commented on #50173
PR has been merged - closing! Updates will be live shortly

[2022-09-13 19:48] #50173 closed

[2022-09-13 20:19] bergerhoffer commented on #49638
@sbeskin-redhat Can you please look into this? It looks like the duplicate prereq/procedure/note were introduced in #45441. And I'm not sure if they're exactly the same or if one of them is more correct to keep.

[2022-09-13 20:19] bergerhoffer commented on #49638
@Ejdesgaard Thanks for noticing this error and reporting it!

[2022-09-13 20:23] bergerhoffer commented on #49431
Marking this as a good candidate for Hacktoberfest.

Open the PR against the 'main' branch, and ping me with any questions!

[2022-09-13 20:26] bergerhoffer commented on #49322
Marking this as a good candidate for Hacktoberfest.

Link: https://docs.openshift.com/rosa/rosa_support/rosa-troubleshooting-iam-resources.html#rosa-sts-ocm-roles-and-permissions-troubleshooting_rosa-troubleshooting-iam-resources

PR should be opened against `main`, ping me with any questions!

[2022-09-13 20:34] bergerhoffer commented on #47450
Closing this as a duplicate of #49322

Thanks for reporting!

[2022-09-13 20:34] #47450 closed

[2022-09-13 20:35] bergerhoffer commented on #47029
Marking this a good candidate for Hacktoberfest.

Please open the PR against `main` and reach out if you have any questions!

[2022-09-13 20:39] bergerhoffer commented on #46935
@abhatt-rh Are you the right person to look into fixing this?

[2022-09-13 20:43] bergerhoffer commented on #46770
Thanks for submitting!

This has been fixed by PR #46789. Closing!

[2022-09-13 20:43] #46770 closed

[2022-09-13 20:49] bergerhoffer commented on #46030
Thanks for reporting!

This issue was fixed in PR #46272 in June. Closing!

[2022-09-13 20:49] #46030 closed

[2022-09-13 20:49] bergerhoffer commented on #46005
Closing as PR #46957 was merged!

[2022-09-13 20:49] #46005 closed

[2022-09-13 20:53] bergerhoffer commented on #45900
Still valid. There are a handful of other places in the repo that still use `admissionregistration.k8s.io/v1beta1` and should be updated to `admissionregistration.k8s.io/v1` once we get confirmation from the appropriate SME/QE.

/remove-lifecycle stale

[2022-09-13 20:54] bergerhoffer commented on #45893
All ODF links on https://docs.openshift.com/container-platform/4.10/storage/persistent_storage/persistent-storage-ocs.html now point to the 4.10 ODF docs. Closing!

[2022-09-13 20:54] #45893 closed

[2022-09-13 21:02] bergerhoffer commented on #45759
Thanks for reporting!

This was fixed via PR #46453. Closing!

[2022-09-13 21:02] #45759 closed

[2022-09-13 23:41] betogamez opened #50358 "[enterprise-4.11] Issue in file post_installation_configuration/machine-configuration-tasks.adoc"
### Which section(s) is the issue in?

Configuring chrony time service

With "version: 4.9.0" the generation of the .yaml file works fine.

### What needs fixing?

[2022-09-14 08:54] dieterdm opened #50362 "[enterprise-4.11] Installing Local Storage Operator from CLI requires different channel"
### Which section(s) is the issue in?
https://docs.openshift.com/container-platform/4.11/storage/persistent_storage/persistent-storage-local.html#local-storage-install_persistent-storage-local
Storage > Configuring persistent storage > Persistent storage using local volumes > Installing the Local Storage Operator > From the CLI

### What needs fixing?
The following steps in section "From the CLI"

[2022-09-14 12:38] abhatt-rh commented on #46935
Hi @bergerhoffer Sure, I can work on getting it fixed

[2022-09-14 13:44] hbelmiro opened #50385 "[enterprise-4.11] Issue in file serverless/cli_tools/installing-kn.adoc"
### Which section(s) is the issue in?
https://docs.openshift.com/container-platform/4.11/serverless/cli_tools/installing-kn.html#installing-cli-web-console_installing-kn

### What needs fixing?
The Knative CLI (kn) doesn't appear in the Command Line Tools page on OpenShift web console.

![Screenshot from 2022-09-14 10-43-44](https://user-images.githubusercontent.com/11776454/190170809-3fd6aa68-9d6

[2022-09-14 13:59] bburt-rh commented on #40033
This issue has been fixed, and the change is live in the 4.9+ docs at:

* https://docs.openshift.com/container-platform/4.11/monitoring/configuring-the-monitoring-stack.html#setting-log-levels-for-monitoring-components_configuring-the-monitoring-stack
* https://docs.openshift.com/container-platform/4.10/monitoring/configuring-the-monitoring-stack.html#setting-log-levels-for-monitoring-components_c

[2022-09-14 14:00] #40033 closed

[2022-09-14 14:04] mauroseb opened #50386 "[online] Issue in file adding_service_cluster/rosa-available-services.adoc"
### Which section(s) is the issue in?
Add-on services > Available services

### What needs fixing?
 For consistency he service "Amazon CloudWatch" should be renamed as the add-on (name as the rest of the addons): Cluster Logging Operator. It is also called out in other sections of the documentation as Logging Add-on services.
i.e.:
https://access.redhat.com/documentation/en-us/red_hat_openshift_se

[2022-09-14 15:06] bergerhoffer commented on #50309
Great thanks @aswin2108! Just FYI that I believe you have to wait to open the PR until October in order for it to count toward Hacktoberfest. Thanks for contributing!

[2022-09-14 15:13] bergerhoffer commented on #47029
Thanks @ugiordan! Just in case you were trying to do it as part of [Hacktoberfest](https://hacktoberfest.digitalocean.com/), just know that it won't count unless the PR is opened in October. But in the interest of getting these broken URLs fixed, we can move forward with your PR now :smile:

[2022-09-14 15:16] #47029 closed

[2022-09-14 15:28] bergerhoffer commented on #45568
Marking this as a good candidate for Hacktoberfest.

There is likely an instance of "{product-title} Logging" that should just be "OpenShift Logging".

Whoever takes this issue - open the PR against main. Ping me with any questions!

/remove-lifecycle rotten

[2022-09-14 15:29] bergerhoffer commented on #45555
I believe this has been resolved.

Links to the ODF docs on https://docs.openshift.com/container-platform/4.10/storage/persistent_storage/persistent-storage-ocs.html now go to the 4.10 ODF docs. Closing!

[2022-09-14 15:29] #45555 closed

[2022-09-14 15:30] bergerhoffer commented on #45505
Closing since this has been fixed!

[2022-09-14 15:30] bergerhoffer commented on #45461
@kalexand-rh Here is another PDF generation issue, for when we get that fixed!

[2022-09-14 15:37] bergerhoffer commented on #45375
Marking this as a good candidate for Hacktoberfest.

Link: https://docs.openshift.com/container-platform/4.11/installing/installing_azure/installing-azure-account.html#installation-azure-service-principal_installing-azure-account

Any update that removes a use of 'jq' from our docs is good. The prerequisite of installing jq should also be removed. Someone can make this change and submit the PR aga

[2022-09-14 15:42] bergerhoffer commented on #45246
Marking this as a good candidate for Hacktoberfest.

https://docs.openshift.com/acs/3.68/operating/manage-vulnerabilities.html#vulnerability-management-proccess_acs-operating-manage-vulnerabilities

Whoever wants to take this issue can fix the spelling of "proccess" (2 places) and submit the fix against the 'rhacs-docs' branch. Ping me with any questions!

/remove-lifecycle rotten

[2022-09-14 18:14] #49008 closed

[2022-09-14 20:00] ChrisSchneider opened #50434 "[enterprise-4.11] Issue in file operators/admin/olm-restricted-networks.adoc"
### Which section(s) is the issue in?

Filtering a SQLite-based index image

### What needs fixing?

The command `opm index prune -f registry.redhat.io/redhat/redhat-operator-index:v4.11 ...` produces the error `Error: opm index prune only supports sqlite-based catalogs`

[2022-09-14 21:52] hashnao opened #50438 "[enterprise-4.11] Issue in file backup_and_restore/index.adoc"
### Which section(s) is the issue in?
OADP requirements

### What needs fixing?
Does this refer to only S3-compatible object storage or all cloud storage services including Amazon S3, Azure Cloud Storage, etc? _The CloudStorage API for S3 storage is a Technology Preview feature only._
It may be applicable to only S3-compatible object storage, but it's unclear about which storage is referred to as

[2022-09-14 23:58] augustrh opened #50440 "[enterprise-4.11] Issue in file installing/installing_gcp/installing-gcp-account.adoc"
### Which section(s) is the issue in?

GCP account limits (https://docs.openshift.com/container-platform/4.11/installing/installing_gcp/installing-gcp-account.html)

### What needs fixing?

There is a comment that says "the default Quotas do not affect your ability to install a default OpenShift Container Platform cluster" however I found that my GCP account did not have enough default CPU or stor

[2022-09-15 07:51] apinnick commented on #50438
@RichardHoch Can you make sure Anjana knows about this? I don't know how to tag her here.

[2022-09-15 08:09] RichardHoch commented on #50438
@apinnick will do.

[2022-09-15 10:17] alexissolanas opened #50443 "[enterprise-4.11] Issue in file logging/cluster-logging-loki.adoc"
### Which section(s) is the issue in?

The YAML definition on point 4 of the Deploying the LokiStack section is incorrect:

[code]

When trying to apply this, the following error is thrown:

[code]

### What needs fixing?

The correct YAML definition should be:

[code]

[2022-09-15 10:47] mauroseb opened #50446 "[online] Issue in file applications/deployments/osd-config-custom-domains-applications.adoc"
### Which section(s) is the issue in?
Application development > Deployments > Configuring  custom domains for applications

### What needs fixing?
The section title is repeated in this file and immediately after in the corresponding module as the first sub-section title which does not look good.

Ideally should have either a different title for the sub-section in the module or bring the first para

[2022-09-15 11:55] bergerhoffer commented on #44908
Marking this as a good candidate for Hacktoberfest.

Link: https://docs.openshift.com/container-platform/4.10/nodes/containers/nodes-containers-sysctls.html#nodes-containers-sysctls-unsafe_nodes-containers-using

This has been fixed in newer releases, so the problem is only on versions 4.6-4.10 now. Whoever takes this: the change should be made against the enterprise-4.10 branch. Ping me with any

[2022-09-15 12:01] bergerhoffer commented on #44825
@EricPonvelle or @pneedle-rh Can either of you verify whether switching steps 2 and 3 is appropriate?

(I'm looking for good issues to mark as good candidates for Hacktoberfest, and this seems like it could be one)

https://docs.openshift.com/rosa/rosa_install_access_delete_clusters/rosa_getting_started_iam/rosa-installing-rosa.html#rosa-installing-and-configuring-the-rosa-cli_rosa-installing-cli

[2022-09-15 12:03] bergerhoffer commented on #44731
This has been fixed via #44539. Closing!

[2022-09-15 12:03] #44731 closed

[2022-09-15 12:06] bergerhoffer commented on #43284
Marking this as a good candidate for Hacktoberfest.

https://docs.openshift.com/rosa/rosa_architecture/rosa_policy_service_definition/rosa-policy-responsibility-matrix.html#rosa-policy-identity-access-management_rosa-policy-responsibility-matrix

Whoever takes this: make the fix against the 'main' branch, and let me know if you have any questions!

[2022-09-15 12:09] bergerhoffer commented on #44554
The image has since been changed to `registry.redhat.io/odf4/ocs-must-gather-rhel8:v4.9` due to the renaming to OpenShift Data Foundation. @mistergareth Can you let us know whether that works for you now?

https://docs.openshift.com/container-platform/4.9/support/gathering-cluster-data.html#gathering-data-specific-features_gathering-cluster-data

[2022-09-15 12:23] bergerhoffer commented on #43623
Marking this as a duplicate of #43622

[2022-09-15 12:23] #43623 closed

[2022-09-15 12:28] bergerhoffer commented on #40551
Confirmed that this is still an issue

/remove-lifecycle stale

@kalexand-rh Do you know who knows the most about our search that could investigate this? Seems like an important issue, unless we're only supporting the 'latest' version of OKD.

[2022-09-15 12:31] pneedle-rh commented on #44825
@bergerhoffer it looks like an appropriate change to me. Without logging in through the ROSA CLI, the following error is seen when you try to verify the permissions:

[code]

[2022-09-15 12:34] bergerhoffer commented on #40118
Marking as a duplicate of #40119

[2022-09-15 12:34] #40118 closed

[2022-09-15 12:50] bergerhoffer commented on #39899
/remove-lifecycle rotten

This was fixed in version 4.10+ as part of #40702. Will make the wording fix in 4.6-4.9 too.

[2022-09-15 14:42] palash-khaire opened #50467 "[enterprise-4.10] Issue in file scalability_and_performance/cnf-create-performance-profiles.adoc"
### Which section(s) is the issue in?
Under the section of "Creating a performance profile"

Ref Doc : https://docs.openshift.com/container-platform/4.10/scalability_and_performance/recommended-host-practices.html

### What needs fixing?
Can we add an example on how to use the performance profile in a deployment? If we have an example on how to use it.

[2022-09-15 14:56] chuckersjp opened #50471 "[online] Issue in file rosa_planning/rosa-sts-aws-prereqs.adoc"
### Which section(s) is the issue in?
https://docs.openshift.com/rosa/rosa_planning/rosa-sts-aws-prereqs.html#osd-aws-privatelink-firewall-prerequisites_rosa-sts-aws-prereqs

### What needs fixing?
When compared a similar section of the docs for non ROSA clusters
https://docs.openshift.com/container-platform/4.9/installing/install_config/configuring-firewall.html

The section regarding 3rd party o

[2022-09-15 15:13] bergerhoffer commented on #44825
Thanks @pneedle-rh!

Marking this as a good candidate for Hacktoberfest.

Link: https://docs.openshift.com/rosa/rosa_install_access_delete_clusters/rosa_getting_started_iam/rosa-installing-rosa.html#rosa-installing-and-configuring-the-rosa-cli_rosa-installing-cli

The order of steps 2 and 3 need to be switched.

Whoever wants to take this - the change should be made against the `main` branch. Ping

[2022-09-15 16:39] bweidenb opened #50503 "[enterprise-4.11] Issue in file web_console/web-console.adoc"
### Which section(s) is the issue in?

You must have Red Hat Advanced Cluster Management (ACM) for Kubernetes 2.5 or the multiculster engine (MCE) Operator installed.

### What needs fixing?
typo= culster
should = cluster

[2022-09-15 16:45] bweidenb commented on #50503
also worth noting that name multiculster engine (MCE) Operator  does not follow
[Official Red Hat product and solution names list](https://docs.google.com/spreadsheets/d/1DLS_lS3VKidgZIvcLmLp9BoiqptkvqHWfe1D5FD2kfk/edit#gid=1375785039)
as it should be multicluster engine for Kubernetes.

You must have Red Hat Advanced Cluster Management (ACM) for Kubernetes 2.5 or the multiculster engine (MCE) Ope

[2022-09-15 18:52] lgflinn opened #50510 "[enterprise-4.10] Issue in file storage/persistent_storage/persistent-storage-ocs.adoc"
### Which section(s) is the issue in?
Deployment guides

### What needs fixing?
Deployment on Azure: https://access.redhat.com/documentation/en-us/red_hat_openshift_data_foundation/4.11/html/deploying_openshift_data_foundation_using_microsoft_azure_and_azure_red_hat_openshift

[2022-09-16 09:45] aswin2108 commented on #50309
When executing ```asciibinder build``` after following all the instructions this is the output I am getting. what am I doing wrong?
![image](https://user-images.githubusercontent.com/72661784/190610216-7cb12e7a-916d-44b4-ab7d-ec2a4aa729f9.png)

[2022-09-16 11:40] tosmi opened #50522 "[enterprise-4.11] Issue in file windows_containers/windows-containers-release-notes-6-x.adoc"
### Which section(s) is the issue in?
Known issues, last sentence

### What needs fixing?
typo in _compatability_ -> compatibility

[2022-09-16 15:57] patrickstrick opened #50528 "[enterprise-4.11] Issue in file machine_management/creating-infrastructure-machinesets.adoc"
### Which section(s) is the issue in?
Binding infrastructure node workloads using taints and tolerations

### What needs fixing?
There are two issues; the first kind of nested in the second.

1. On the doc page for "Creating infrastructure machine sets", the [instructions for adding tolerations to the Infra workloads](https://docs.openshift.com/container-platform/4.11/machine_management/creating-i

[2022-09-17 08:01] #44693 closed

[2022-09-17 13:59] haf-tech commented on #49427
well, In this issue I will only emphasize that the link/references in the OpenShift docu for 4.10 is not correct, due the fact referencing the latest version of oc-mirror, which does not work with OCP 4.10
After explicitly using the binary from the 4.10 branch was the mirroring successful

[2022-09-18 08:00] #40827 closed

[2022-09-19 08:01] #36284 closed

[2022-09-19 08:01] #39288 closed

[2022-09-19 08:01] #43871 closed

[2022-09-19 08:01] #44826 closed

[2022-09-19 08:51] EmmanuelKasper opened #50537 "[enterprise-4.10] Issue in file logging/cluster-logging-loki.adoc"
### Which section(s) is the issue in?

Deploying the loki stack

### What needs fixing?

The pre requesites mentions for Loki:
- AWS S3 bucket for log storage

However we certainly support the following S3-compatible-APIs as stated in upstream (https://loki-operator.dev/docs/object_storage.md/).
I thus propose to replace the sentence above with:

- AWS S3 compatible bucket for log storage

[2022-09-19 10:29] r2d2rnd commented on #43494
Hello,

This issue reported for documentation continues to happen in OCP 4.11. Could you fix it?

Many thanks,
Oscar

[2022-09-19 12:18] faermanj opened #50541 "[enterprise-4.10] Issue in file authentication/managing_cloud_provider_credentials/cco-mode-sts.adoc"
### Which section(s) is the issue in?
Configuring the Cloud Credential Operator utility

### What needs fixing?
It would be simpler for the user to download the ccoctl binary ( https://mirror.openshift.com/pub/openshift-v4/clients/ocp/latest/ccoctl-linux-4.11.0.tar.gz ?) instead of extracting from container image.

[2022-09-19 13:11] maxwelldb commented on #43053
/remove-lifecycle stale

[2022-09-19 16:22] aireilly opened #50556 "Bug in asciibinder rendering for content that follows a bullet that contains a codeblock + callout"
https://docs.openshift.com/container-platform/4.11/virt/virtual_machines/vm_networking/virt-configuring-sriov-device-for-vms.html#nw-sriov-configuring-device_virt-configuring-sriov-device-for-vms

![image](https://user-images.githubusercontent.com/74046732/191065557-b1117935-e091-47fa-8a05-a2e544883af3.png)

### What needs fixing?
The child bullet directly under the note is not formatted correctly

[2022-09-19 16:54] bergerhoffer commented on #50556
Marking this as a good candidate for Hacktoberfest.

Whoever takes this, make the change against the `main` branch, and ping me with any questions!

In the quick look I took, it looks like step 1 is missing the `+` character above the code block (should go inside the ifdef, around line 43). But then there is also a `[start=2]` that likely needs to be removed, because it's causing the procedure two

[2022-09-19 18:09] bergerhoffer commented on #50309
Hi @aswin2108! I'm not positive just by looking at that what the issue is. Did you install all of the dependencies listed here? https://github.com/openshift/openshift-docs/blob/main/contributing_to_docs/tools_and_setup.adoc#install-the-required-software-dependencies-on-a-linux-system

@jeana-redhat Just checking to see if you happen to have any ideas, since I know you've worked some w/ asciibinder

[2022-09-19 18:45] jeana-redhat commented on #50309
Hey - sadly, I never did get my asciibinder install unscrambled. This appears to be a different issue than the one I hit, but, alas, I am also not familiar with this problem :disappointed:

@aireilly does the podman workaround that you set up work without a Red Hat account? I have no idea about any restrictions/snags with that, but if we can share it publicly that might help get contributors unstu

[2022-09-19 19:21] bergerhoffer commented on #50309
@aswin2108 - jeana made a good point to me offline that we do have an automatic preview system that should create a preview for your when you open the PR (takes about 10-15 minutes after you open the PR for a bot to post a comment with the preview link). So again, I'd recommend to move forward with opening your PR and seeing if the preview is generated for you that way and checking it there. Thank

[2022-09-19 20:02] bergerhoffer commented on #50522
Thanks for reporting!

Marking this as a good candidate for Hacktoberfest.

If someone wants to take this, make the typo fix against the `main` branch. Thanks and ping me with any questions!!

[2022-09-19 22:00] #49109 closed

[2022-09-20 00:01] #44845 closed

[2022-09-20 07:39] Preeticp commented on #50385
@hbelmiro thanks for raising the issue. Can you confirm if the OpenShift Serverless Operator was installed on your cluster as mentioned in the Prerequisites section of the doc?

[2022-09-20 08:48] skonto commented on #50385
Hi @hbelmiro could you try install Serving and report back, as kn is available when Serving CR is reconciled.

[2022-09-20 08:52] petehan12 opened #50574 "[enterprise-4.10] Issue in file networking/hardware_networks/using-pod-level-bonding.adoc"
### Which section(s) is the issue in?
Creating a bond network attachment definition
[1] https://docs.openshift.com/container-platform/4.10/networking/hardware_networks/using-pod-level-bonding.html

### What needs fixing?
===
apiVersion: "[k8s.cni.cncf.io/v1](https://k8s.cni.cncf.io/v1)"
    kind: NetworkAttachmentDefinition
    metadata:
      name: bond-net1
      namespace: demo
    spec:

[2022-09-20 09:55] acomabon opened #50581 "[enterprise-4.10] Issue in file nodes/nodes/eco-poison-pill-operator.adoc"
### Which section(s) is the issue in?
https://docs.openshift.com/container-platform/4.10/nodes/nodes/eco-poison-pill-operator.html#configuring-machine-health-check-with-poison-pill_poison-pill-operator-remediate-nodes

### What needs fixing?
The name of the `PoisonPillRemediationTemplate` in the example `MachineHealthCheck` CR YAML should be `poisonpillremediationtemplate-sample`, or at least be c

[2022-09-20 09:56] acomabon commented on #50581
![image](https://user-images.githubusercontent.com/32303215/191227900-bb6834fb-2208-4d14-96bf-5d29a5d17b2f.png)

Here we call it `poisonpillremediationtemplate-sample`.

![image](https://user-images.githubusercontent.com/32303215/191227996-fd25a3f1-6876-41de-9221-0fb267a404e1.png)

Here, we call it `<poison-pill-remediation-template-sample>` which might be misleading.

[2022-09-20 10:22] rolfedh opened #50582 "[enterprise-4.11] Issue in file welcome/index.adoc"
### Which section(s) is the issue in?
https://docs.openshift.com/container-platform/4.11/welcome/index.html

### What needs fixing?
The graphic looks like it is incorrectly sized. See attached screenshot.
![Screenshot from 2022-09-20 06-20-49](https://user-images.githubusercontent.com/350907/191233636-65f69da4-1a42-4cd9-856c-b6727d3b8b48.png)

[2022-09-20 12:54] nate-duke commented on #50582
same thing on [the okd site](https://docs.okd.io/4.11/welcome/index.html)
![image](https://user-images.githubusercontent.com/40432118/191262972-eb75f078-aca0-4195-8689-cf7b21608cd2.png)

[2022-09-20 13:43] cwawak opened #50586 "[enterprise-4.11] Consider a code text box for IAM permissions - Issue in file installing/installing_aws/installing-aws-account.adoc"
### Which section(s) is the issue in?
Required AWS permissions for the IAM user

### What needs fixing?
Customer reports that cutting and pasting the list of permissions from the documentation was problematic. They are asking for a "source code" type box containing all the permissions in one box so that it is simple for them to click the copy button and be sure they've gotten all the permissions.

[2022-09-20 14:38] kelbrown20 commented on #50050
Updates docs
4.10 - https://docs.openshift.com/container-platform/4.10/scalability_and_performance/ztp-deploying-disconnected.html#ztp-acm-adding-images-to-mirror-registry_ztp-deploying-disconnected
4.11 - https://docs.openshift.com/container-platform/4.11/scalability_and_performance/ztp-deploying-disconnected.html#ztp-acm-adding-images-to-mirror-registry_ztp-deploying-disconnected

Setting to clo

[2022-09-20 14:39] aireilly commented on #50309
https://github.com/openshift-cs/docs-builder/tree/main/asciibinder

You would need to create an account on [quay.io](https://quay.io/repository/), but anyone can do that AFAIK

[2022-09-20 14:42] kelbrown20 commented on #50050
/close

[2022-09-20 14:46] joaquinfll opened #50593 "[enterprise-4.11] Issue in file migrating_from_ocp_3_to_4/installing-restricted-3-4.adoc"
### Which section(s) is the issue in?
`Installing the legacy Migration Toolkit for Containers Operator on OpenShift Container Platform 3` and other sections of the whole document. This is present in older version of OpenShift documentation too, ex. 4.10.

### What needs fixing?
sudo is not required for the `podman` commands. We can remove the unnecessary privilege escalation allowing a broader set

[2022-09-20 14:47] #50050 closed

[2022-09-20 15:17] cbremble commented on #50385
@abrennan89 PTAL at this one

[2022-09-20 17:16] aswin2108 commented on #50309
Thanks for the info. I think I am supposed to open a PR only in October right, or should I test it (by opening and closing it, will it cause any problems)?

[2022-09-20 17:21] bergerhoffer commented on #50309
It won't cause a problem to open a test PR and then close it. But you might have to open a brand new PR in October for it to count for Hacktoberfest. I'm not positive whether a reopened PR would get counted.

[2022-09-20 17:41] bit4man opened #50602 "[enterprise-4.11] Issue in file security/certificate_types_descriptions/ingress-certificates.adoc"
Logo way too large
![Screenshot from 2022-09-20 13-40-41](https://user-images.githubusercontent.com/1713562/191327134-547bc768-6423-4ca5-87c5-6693c7ce3a4c.png)

### Which section(s) is the issue in?
I'm seeing it in most sections I open for OCP 4.11.

### What needs fixing?
Image WAY too large (see screendump attached).

[2022-09-20 19:18] skopacz1 commented on #46001
/close

[2022-09-20 19:18] #46001 closed

[2022-09-21 10:59] ShaunaDiaz commented on #48288
Moved to Jira and will address as a continuous improvement bug. [OCPBUGS-1582]

[2022-09-21 12:22] adrianbele opened #50621 "[enterprise-4.10] Issue in file installing/installing_azure/installing-azure-account.adoc"
### Which section(s) is the issue in?

4. Create the service principal for your account:

### What needs fixing?
missing --scopes
The command:
$ az ad sp create-for-rbac --role Contributor --name <service_principal>
give an error:

_This command or command group has been migrated to Microsoft Graph API. Please carefully review all breaking changes introduced during this migration: https://docs.mic

[2022-09-21 12:46] chuckersjp opened #50627 "[enterprise-4.10] Issue in file installing/installing_sno/install-sno-preparing-to-install-sno.adoc"
### Which section(s) is the issue in?
https://docs.openshift.com/container-platform/4.10/installing/installing_sno/install-sno-preparing-to-install-sno.html#install-sno-requirements-for-installing-on-a-single-node_install-sno-preparing

Second bullet *Supported Platforms* point last sentence.

### What needs fixing?
The phrase `platform.none: {}` should be replaced with `platform: none` unless SNO

[2022-09-21 13:15] ahardin-rh commented on #48288
Now tracking in https://issues.redhat.com/browse/OCPBUGS-1582. Thank you!

[2022-09-21 13:15] #48288 closed

[2022-09-21 16:28] ShaunaDiaz commented on #46046
See https://github.com/openshift/openshift-docs/pull/50648

[2022-09-21 16:40] ahardin-rh commented on #46046
Resolved in https://github.com/openshift/openshift-docs/pull/50648. Thank you!

[2022-09-21 16:40] #46046 closed

[2022-09-21 16:44] kelbrown20 commented on #45872
Fix made in PR#50071

Updated documentation:
vSphere: https://docs.openshift.com/container-platform/4.10/installing/installing_vsphere/installing-restricted-networks-vsphere.html#installation-network-user-infra_installing-restricted-networks-vsphere
VMC: https://docs.openshift.com/container-platform/4.10/installing/installing_vmc/installing-vmc-user-infra.html#installation-network-user-infra_insta

[2022-09-21 16:44] kelbrown20 commented on #45872
/close

[2022-09-21 16:45] #45872 closed

[2022-09-21 18:56] kelbrown20 commented on #44725
/close

[2022-09-21 18:57] #44725 closed

[2022-09-21 19:34] kelbrown20 commented on #47776
/assign kelbrown20

[2022-09-21 19:57] kelbrown20 commented on #48075
Hello Patrick! It looks like this issue was discussed in this issue #48077 and fixed in PR #49475. Please let me know if this looks to be accurate and I can close this issue. Thank you!

[2022-09-21 20:01] patrickstrick commented on #48075
yep, thanks!

[2022-09-21 20:01] #48075 closed

[2022-09-22 10:36] asaket opened #50706 "[online] Issue in file rosa_architecture/rosa_policy_service_definition/rosa-policy-process-security.adoc"
### Which section(s) is the issue in?
https://access.redhat.com/documentation/en-us/red_hat_customer_portal/1/html/using_two-factor_authentication/proc-ciam-2fa-using_two-factor-authentication

### What needs fixing?
As per the documented text:-
"_More information on customer access and authentication can be found in the "**Understanding Authentication**" section of the documentation_".

1. I am u

[2022-09-22 15:39] mburke5678 opened #50727 "Replace the Machine API overview module in creating a machine set modules with a snippet"
The Creating the MachineSet assemblies in Machine Management and WMCO have the [Machine API overview](https://docs.openshift.com/container-platform/4.11/windows_containers/creating_windows_machinesets/creating-windows-machineset-aws.html#machine-api-overview_creating-windows-machineset-aws) module.

The module seems out of place to me. We are telling users how to create a machine set, and we provi

[2022-09-23 08:36] joaquinfll opened #50793 "[enterprise-4.11] Issue in file migrating_from_ocp_3_to_4/premigration-checklists-3-4.adoc"
### Which section(s) is the issue in?

In the "Target cluster" it is described:
"Set the value of the annotation.openshift.io/host.generated parameter to true for each OpenShift Container Platform route to update its host name for the target cluster. Otherwise, the migrated routes retain the source cluster host name."
This issue might be in other OpenShift versions of the documentation.

### What

[2022-09-23 14:33] cepr1969 opened #50801 "[enterprise-4.10] Issue in file machine_management/applying-autoscaling.adoc"
### Which section(s) is the issue in?
At least section ClusterAutoscaler resource definition

### What needs fixing?
The content in section https://docs.openshift.com/container-platform/4.10/machine_management/applying-autoscaling.html#cluster-autoscaler-cr_applying-autoscaling differs from the same section on https://access.redhat.com/documentation/en-us/openshift_container_platform/4.10/html/mac

[2022-09-23 15:45] #50385 closed

[2022-09-23 19:23] kelbrown20 commented on #50168
Fix made in linked PR
Updated documentation:
https://docs.openshift.com/container-platform/4.10/web_console/web-console.html#multi-cluster-about_web-console

Setting to close

[2022-09-23 19:23] kelbrown20 commented on #50168
/close

[2022-09-23 19:23] #50168 closed

[2022-09-24 08:00] #44916 closed

[2022-09-25 06:15] aswin2108 commented on #50309
@bergerhoffer I did open a pr to test it, but I don't know why it didn't show up in my pr but saw that it happened in some others! What could I do to solve it?

[2022-09-25 08:00] #45003 closed

[2022-09-25 08:00] #45016 closed

[2022-09-25 08:00] #45031 closed

[2022-09-25 08:00] #45032 closed

[2022-09-25 11:56] rodlilearns opened #50837 "[enterprise-4.8] Issue in file installing/installing_vsphere/installing-vsphere.adoc"
### Which section(s) is the issue in?
The section titled "Minimum Resource Requirements" in https://docs.openshift.com/container-platform/4.8/installing/installing_vsphere/installing-vsphere.html

### What needs fixing?
The third table does not have a title, and should have one for consistency.
The first and the second tables do have titles.
E.g. Table 1. Minimum supported vSphere version for VMwa

[2022-09-26 07:37] rhatbob opened #50841 "[enterprise-4.10] Issue in file storage/persistent_storage/persistent-storage-iscsi.adoc"
### Which section(s) is the issue in?
[Persistent storage using iSCSI ](https://docs.openshift.com/container-platform/4.10/storage/persistent_storage/persistent-storage-iscsi.html)

### What needs fixing?
"_OpenShift assumes that all nodes in the cluster have already configured iSCSI **initator**_" has a typo (i.e. "_initator_" -> initiator)

[2022-09-26 07:44] stlaz commented on #48655
That's fine, the CronJob still gets created.

You're seeing this message because the pod in the CronJob template does not match the namespace's PodSecurity level but the SCC admission will fix this for you when the pod for the CronJob gets launched.

[2022-09-26 08:10] #45092 closed

[2022-09-26 09:13] skachhwa opened #50842 "[enterprise-4.6] Issue in file scalability_and_performance/planning-your-environment-according-to-object-maximums.adoc"
### Which section(s) is the issue in?
Number of pods per node (500)
https://docs.openshift.com/container-platform/4.10/scalability_and_performance/planning-your-environment-according-to-object-maximums.html#cluster-maximums-major-releases_object-limits

### What needs fixing?
K8s recommends no more than 110 pods for large clusters.
https://kubernetes.io/docs/setup/best-practices/cluster-large/
Wha

[2022-09-26 10:35] lucamaf commented on #42402
/remove-lifecycle rotten

[2022-09-26 12:55] bergerhoffer commented on #50309
@aswin2108 I commented in the PR too, but it looks like the Travis check got stuck (and the preview build won't generated until that passes). I've closed and reopened the PR, which kicked off the Travis check again, and it looks like the preview build is now available :tada:

[2022-09-26 14:53] vagnerfarias opened #50868 "[enterprise-4.11] Missing firewall requirement for installer node in vSphere UPI documentation"
### Which section(s) is the issue in?
https://docs.openshift.com/container-platform/4.11/installing/installing_vsphere/installing-vsphere.html#prerequisites
https://docs.openshift.com/container-platform/4.11/installing/installing_vsphere/installing-vsphere-network-customizations.html#prerequisites
https://docs.openshift.com/container-platform/4.11/installing/installing_vsphere/installing-restricte

[2022-09-26 14:57] jcpowermac commented on #50868
Or just copy the exact text in IPI

[code]

fyi @GroceryBoyJr

[2022-09-26 15:04] vagnerfarias commented on #50868
@jcpowermac your suggestion sound better indeed. One question, though: does the installer need access to ESXi hosts for the UPI install?

[2022-09-26 15:47] aswin2108 commented on #50309
@bergerhoffer Thanks for looking into it. I will do the real PR in October!

[2022-09-26 16:17] bergerhoffer commented on #50309
Great! Make sure you register for Hacktoberfest too :slightly_smiling_face:

[2022-09-26 16:42] skopacz1 commented on #50503
/close

[2022-09-26 17:45] AdamPeabody opened #50885 "[enterprise-4.10] Issue in file installing/installing_vsphere/installing-vsphere-installer-provisioned-customizations.adoc"
### Which section(s) is the issue in?

Required vCenter account privileges

### What needs fixing?
Check the permissions for datastore operations, there is no permissions for datastore.filemanagement

[2022-09-26 18:15] JoeAldinger opened #50886 "Typo: Missing period in description"
Typo: missing period

### Which section(s) is the issue in?
https://docs.openshift.com/container-platform/4.11/rest_api/operator_apis/network-operator-openshift-io-v1.html#network-operator-openshift-io-v1

### What needs fixing?
The `serviceNetwork` description has a typo (i.e. a missing period).
serviceNetwork is the ip address pool to use for Service IPs Currently, all existing network providers

[2022-09-26 18:19] JoeAldinger commented on #50886
/label hacktoberfest

[2022-09-26 19:25] JoeAldinger commented on #50886
Auto-generated content that is outside our repo.

[2022-09-26 19:26] #50886 closed

[2022-09-26 20:09] bergerhoffer commented on #45246
Hi @mikesmith0414! I see you opened a PR to make this fix, thank you! Do you mind commenting on this issue, just so that I can assign it to you?

[2022-09-27 00:00] #45131 closed

[2022-09-27 02:28] jdandrea opened #50899 "[enterprise-4.11] Issue in file installing/installing_bare_metal_ipi/ipi-install-installation-workflow.adoc"
### Which section(s) is the issue in?
OpenShift 4.11: [Setting up the environment for an OpenShift installation > Preparing the provisioner node for OpenShift Container Platform installation](https://docs.openshift.com/container-platform/4.11/installing/installing_bare_metal_ipi/ipi-install-installation-workflow.html#preparing-the-provisioner-node-for-openshift-install_ipi-install-installation-wor

[2022-09-27 06:02] vrutkovs commented on #48813
Also "Creating a mirror registry with mirror registry for Red Hat OpenShift" page mentions "Fedora 8"

Seems OS is being incorrectly replaced in OKD docs. cc @mburke5678

[2022-09-27 08:01] #45150 closed

[2022-09-27 08:01] #45154 closed

[2022-09-27 10:40] NathanGuyot opened #50902 "[enterprise-4.11] Issue in file storage/persistent_storage/persistent-storage-local.adoc"
### Which section(s) is the issue in?

_Automating discovery and provisioning for local storage devices_.

### What needs fixing?

There is a yaml sample of a localvolumeset. Under `spec` there is `fstype` should be `fsType` with a capital T.
I think it is present since this section have been created for 4.6.

I noticed it because I based my LocalVolumeSet on the sample of your documentation.

[2022-09-27 13:46] kelbrown20 commented on #45997
/remove lifecycle/stale

[2022-09-27 13:46] kelbrown20 commented on #45997
/remove-lifecycle rotten

[2022-09-27 13:47] kelbrown20 commented on #45997
/assign kelbrown20

[2022-09-27 14:24] bergerhoffer commented on #50837
Marking this as a good candidate for Hacktoberfest.

If someone is interested in taking it, please make the change against the master branch.

In this section: https://docs.openshift.com/container-platform/4.11/installing/installing_vsphere/installing-vsphere.html#installation-minimum-resource-requirements_installing-vsphere

The request is to add a `.Title` title for this table, like how the othe

[2022-09-27 14:40] bergerhoffer commented on #45246
Closing since the PR to fix this was merged!

[2022-09-27 14:40] #45246 closed

[2022-09-27 15:09] adityad97 opened #50929 "[enterprise-4.11] Issue in file storage/persistent_storage/persistent-storage-local.adoc"
### Which section(s) is the issue in?

https://docs.openshift.com/container-platform/4.11/storage/persistent_storage/persistent-storage-local.html#local-storage-install_persistent-storage-local
From CLI section, Point 3b related to verification of CSV

### What needs fixing?
Currently, example output of $ oc get csvs -n openshift-local-storage command shows wrong version.
NAME

[2022-09-28 08:06] joaquinfll commented on #50050
@kelbrown20 the links in the section:
The step "b. Download the required images:" is pointing to pre-release images in "https://mirror.openshift.com/pub/openshift-v4/dependencies/rhcos/pre-release/"

Still points to the pre-release.

I can see you fixed the link in the section before that is also nice.

[2022-09-28 13:34] kalexand-rh opened #50955 "Test issue"
Testing some #jirathings

[2022-09-28 13:48] kelbrown20 commented on #50050
@joaquinfll My apologies, that was my mistake. Thank you for pointing that out! Will make new PRs to fix the issue.

[2022-09-28 14:23] #50955 closed

[2022-09-28 14:23] kalexand-rh opened #50962 "test"
This is a test issue.

[2022-09-28 14:24] #50962 closed

[2022-09-28 14:25] kalexand-rh opened #50963 "test"
Testing.

[2022-09-28 14:26] #50963 closed

[2022-09-28 14:26] kalexand-rh opened #50964 "test"
Test

[2022-09-28 15:45] kalexand-rh commented on #50964
Commenting again

[2022-09-28 16:12] kalexand-rh commented on #50964
Another comment

[2022-09-28 16:14] kalexand-rh commented on #50964
Yet another comment

[2022-09-28 16:24] kalexand-rh commented on #50964
Commenting again to test something else.

[2022-09-28 17:06] bburt-rh commented on #49059
This issue is now fixed. You can view it in the live docs at https://docs.openshift.com/container-platform/4.11/monitoring/reviewing-monitoring-dashboards.html.

Closing.

[2022-09-28 17:06] #49059 closed

[2022-09-28 18:04] jcpowermac commented on #50868
No, the installer wouldn't but you might still need to import the ova. Now if you do it with the vCenter UI it won't require 443 to ESXi hosts. If you use `govc` or `powercli` it will.

[2022-09-28 18:09] lalan7 opened #50981 "[enterprise-4.11] Issue in file hardware_enablement/psap-node-feature-discovery-operator.adoc"
### Which section(s) is the issue in?

The issue is related  this section --> [](https://docs.openshift.com/container-platform/4.11/hardware_enablement/psap-node-feature-discovery-operator.html#create-cd-cli_node-feature-discovery-operator
)

The example should be the same as we have over the  Create a NodeFeatureDiscovery CR using the web console  please refer below. Maybe the image: can be chang

[2022-09-28 18:53] AdamPeabody opened #50987 "[enterprise-4.10] Issue in file storage/persistent_storage/persistent-storage-local.adoc"
### Which section(s) is the issue in?
Installing the Local Storage Operator

### What needs fixing?
the command for annotation fails
oc annotate project openshift-local-storage openshift.io/node-selector='node-role=worker'
The Project "openshift-local-storage" is invalid: metadata.annotations[openshift.io/node-selector]: Invalid value: "node-role=worker": field is immutable, try updating the names

[2022-09-29 02:01] louisphilippereid commented on #50981
Having "class" by default in the documentation caused me some trouble when installing the Nvidia GPU Operator which is expecting "vendor" (or class_vendor) in the node labels.

[2022-09-29 07:39] dadav opened #51009 "[enterprise-4.9] Issue in file cicd/pipelines/automatic-pruning-taskrun-pipelinerun.adoc"
### Which section(s) is the issue in?

It's unclear to me where I have to put the annotations. On the namespace? On the pipelines?

### What needs fixing?

Be clear on where to put this annotations. Or adjust the example to show the full object definition.

[2022-09-29 10:15] mvazquezc opened #51016 "[enterprise-4.11] Issue in file security/index.adoc"
### Which section(s) is the issue in?
The doc is missing two types of certificates:

Aggregated API Server Certificates and Machine Config Operator certificates.

### What needs fixing?

Missing certificate types docs need to be contributed.

[2022-09-29 10:31] jan-spring opened #51018 "[enterprise-4.11] Issue in file release_notes/ocp-4-11-release-notes.adoc"
### Which section(s) is the issue in?
Create alerting rules based on platform monitoring metrics (Technology Preview)

### What needs fixing?
Some more information are requierd, Where do the admins can find this feature? How to use?

[2022-09-29 10:45] ankushmistary opened #51019 "[enterprise-4.11] Issue in file storage/container_storage_interface/persistent-storage-csi-vsphere.adoc"
### Which section(s) is the issue in?
The issue is with the section lacking: Features of Red Hat vSphere CSI Driver which can be similar to the [documentation in VMWare:](https://docs.vmware.com/en/VMware-vSphere-Container-Storage-Plug-in/2.0/vmware-vsphere-csp-getting-started/GUID-D4AAD99E-9128-40CE-B89C-AD451DA8379D.html#GUID-E59B13F5-6F49-4619-9877-DF710C365A1E__GUID-ADF6F066-9A96-4E54-8154-665

[2022-09-29 13:13] kelbrown20 commented on #47776
Issue fixed in linked PR
Updated documentation:
https://docs.openshift.com/container-platform/4.11/scalability_and_performance/planning-your-environment-according-to-object-maximums.html#cluster-maximums-major-releases_object-limits

Setting to close

[2022-09-29 13:13] kelbrown20 commented on #47776
/close

[2022-09-29 13:15] #47776 closed

[2022-09-29 13:15] skopacz1 commented on #49000
/close

[2022-09-29 13:17] #49000 closed

[2022-09-29 13:27] skopacz1 commented on #50841
versions affected: 4.6+

[2022-09-29 15:01] ThomasJou opened #51045 "[enterprise-4.11] Issue in file nodes/nodes/nodes-nodes-resources-configuring.adoc"
### Which section(s) is the issue in?

I feel like there is a copy paste issue
your are speaking about [small-node ](custom-kubelet: small-pods) in Automatically allocating

### What needs fixing?
this should be in Manually allocating section

[2022-09-29 22:07] flozanorht opened #51076 "[enterprise-4.11] Issue in file operators/understanding/olm-understanding-operatorhub.adoc"
### Which section(s) is the issue in?

Example OperatorHub custom resource

### What needs fixing?

Listing "Example OperatorHub custom resource" makes no sense. If I already disabled "All default catalog sources" why would I also disable the "community operators" catalog source? It might me valid syntax for the custom resource but a confusing example with unclear purpose.

Such example could make

[2022-09-29 22:47] flozanorht opened #51077 "[enterprise-4.11] Issue in file operators/user/olm-creating-apps-from-installed-operators.adoc"
### Which section(s) is the issue in?

Creating an etcd cluster using an Operator

### What needs fixing?

The instructions assume that the etcd operator is installed in the cluster but it is not installed by default in any OpenShift release. It is also a community operator and Red Hat does not recommend that customers install community operators in production clusters and the instructions miss a

[2022-09-29 22:56] flozanorht opened #51078 "[enterprise-4.11] Issue in file operators/admin/olm-creating-policy.adoc"
### Which section(s) is the issue in?

Allowing non-cluster administrators to install Operators

### What needs fixing?

The title of the section is misleading. The instructions there do not grant any permission to any user or group. They are about limiting permissions to an application, that is, to an operator. Operators run, by default, with full cluster administator privileges and these instruc

[2022-09-30 09:56] pamoedom opened #51081 "[enterprise-4.11] Issue in file installing/install_config/installing-customizing.adoc"
### Which section(s) is the issue in?

https://docs.openshift.com/container-platform/4.11/installing/install_config/installing-customizing.html#installation-special-config-storage_installing-customizing

### What needs fixing?

All Butane templates in the doc use the following layout example:
[code]
However, only `ppc64le` option is mentioned as an alternative in one of the examples, we need to ho

[2022-09-30 10:01] aleskandro commented on #51081
cc @kelbrown20 can you help with this issue?

[2022-09-30 10:05] pamoedom commented on #51081
**NOTE**: this doc improvement needs to cover also 4.10 doc, thanks.

[2022-09-30 10:48] gfschmidt opened #51082 "[enterprise-4.10] Issue in file authentication/managing-security-context-constraints.adoc"
### Which section(s) is the issue in?

[Default security context constraints](https://docs.openshift.com/container-platform/4.10/authentication/managing-security-context-constraints.html#default-sccs_configuring-internal-oauth)

Table 1. Default security context constraints Security context constraint ->  restricted SCC

Also applies to (older and) newer versions of OCP documentation, even if `res

[2022-09-30 10:49] Amrita42 commented on #50522
/assign Amrita42

[2022-09-30 12:44] kelbrown20 commented on #51081
@aleskandro Will do! Thank you!

/assign kelbrown20

[2022-09-30 13:59] PaulCapestany commented on #40551
I'm new to these projects but I recently came across this search issue as well, okd documentation (e.g. 4.10, 4.11) returns no results for any search term when using the built-in search bar on [docs.okd.io](https://docs.okd.io/latest/welcome/index.html), whereas other versions (e.g. latest, 4.9) do indeed return what seem like expected search results

[2022-09-30 15:26] mburke5678 commented on #50801
@cepr1969 Thanks for pointing this out. I assume you are referring to the call-out numbering in the code block and the associated definitions? If so, this is a known issue when we use the same call-out number more than once in a code block ([Here](https://docs.openshift.com/container-platform/4.10/machine_management/applying-autoscaling.html#cluster-autoscaler-cr_applying-autoscaling), you can see

[2022-09-30 20:32] lazharh opened #51100 "[enterprise-4.11] Issue in file networking/ovn_kubernetes_network_provider/configuring-ipsec-ovn.adoc"
### Which section(s) is the issue in?

Enabling IPsec encryption

### What needs fixing?
the oc command to enable IPsec is same as the one to disable it. It must be an error
Procedure
To enable IPsec encryption, enter the following command:

$ oc patch networks.operator.openshift.io/cluster --type=json \
-p='[{"op":"remove", "path":"/spec/defaultNetwork/ovnKubernetesConfig/ipsecConfig"}]'

In the

[2022-09-30 21:19] flozanorht opened #51101 "[enterprise-4.9] Issue in file welcome/oke_about.adoc"
### Which section(s) is the issue in?

Table 2

### What needs fixing?

The "Source to Image and Builder Automation (Tekton)" row is misleading. It should be split into two distinct rows. Source to Image (S2I) is a different feature than OpenShift Pipelines (Tekton). The first is available from the base platform, web console and the oc CLI but the second requires installing an add-on operator and

[2022-09-30 21:21] flozanorht opened #51102 "[enterprise-4.9] Issue in file welcome/oke_about.adoc"
### Which section(s) is the issue in?

table 2

### What needs fixing?

Delete the row about the Jenkins Operator or add a note that it is deprecated since 4.8
https://access.redhat.com/errata/RHBA-2021:3243

[2022-10-01 16:15] Contentways opened #51105 "Issue with RedHat Logo in Openshift/OKD Doku"
There is an Issue with the RedHat Logo inside the whole Docs, see Screenshot for Details.
![Bildschirmfoto 2022-10-01 um 18 14 40](https://user-images.githubusercontent.com/96850116/193418475-d633f1ae-5756-436d-84ac-9cce08f03319.png)

[2022-10-01 18:22] aswin2108 commented on #50309
@bergerhoffer can you please check the PR?

[2022-10-02 05:03] ADITYADAS1999 commented on #51105
can you share the page link ?

[2022-10-02 05:05] ADITYADAS1999 commented on #51102
This issue is still open for work ?

[2022-10-02 08:01] #45223 closed

[2022-10-02 10:27] void-hr commented on #50837
@bergerhoffer I would like to work on this.

[2022-10-02 12:33] aswin2108 commented on #50309
@bergerhoffer I made a PR yesterday! Can you please check it!?

[2022-10-02 13:15] Contentways commented on #51105
https://docs.openshift.com/container-platform/4.11/welcome/index.html It's on the whole Docs.

[2022-10-02 13:19] ADITYADAS1999 commented on #51105
It looks fine for my local system

![8888](https://user-images.githubusercontent.com/58718316/193456170-252dfa4f-68bc-4e3a-83ac-a5478cf46cc0.PNG)

[2022-10-02 13:51] Contentways commented on #51105
lol, tested it with Firefox. Everything looks well. Seems that my Safari is the Problem.

[2022-10-02 14:12] ADITYADAS1999 commented on #51105
maybe your safari has some issue 🤔

[2022-10-02 14:26] Contentways commented on #51105
Yes, seems almost so. I'm going to clear the Cache and try it again later. So this issue can be closed.

[2022-10-02 14:30] ADITYADAS1999 commented on #51105
Thanks for interacting 🙌🏻😇

[2022-10-02 18:40] aswin2108 commented on #50309
Can anyone check it!?

[2022-10-03 00:01] #45351 closed

[2022-10-03 08:01] #39929 closed

[2022-10-03 08:01] #39962 closed

[2022-10-03 09:01] mikaello opened #51112 "[enterprise-4.11] Issue in file web_console/dynamic-plug-ins.adoc"
Table markup breaking when `valueType` can be either `string` or `string[]`.

### Which section(s) is the issue in?

Seems like all sections where `valueType` is `string`/`string[]`.

Example of sections affected:

* `console.navigation/section`: https://docs.openshift.com/container-platform/4.11/web_console/dynamic-plug-ins.html#consolenavigationsection
* `console.navigation/separator`: https://d

[2022-10-03 09:08] mikaello opened #51113 "[enterprise-4.11] Issue in file web_console/dynamic-plug-ins.adoc"
In[ v4.10 of the documentation](https://docs.openshift.com/container-platform/4.10/web_console/dynamic-plug-ins.html#getting-started-with-dynamic-plugins_dynamic-plugins), a template repository is referenced:

![image](https://user-images.githubusercontent.com/2505178/193540463-ad22a3f2-5b4b-4430-9ecb-7e389d95a9d5.png)

... this is not the case in v4.11, in v4.11 only the code sample is viewed, so

[2022-10-03 09:11] mikaello opened #51114 "[enterprise-4.10] Issue in file web_console/dynamic-plug-ins.adoc"
Template for deploying plugin is referencing a dead link.

![image](https://user-images.githubusercontent.com/2505178/193541278-0a67a80d-bd2f-4330-9ea6-93f38b696306.png)

Link referenced: https://github.com/spadgett/console-plugin-template/blob/main/template.yaml , returns 404. This file was removed in https://github.com/spadgett/console-plugin-template/commit/5adad99c46dec7f6091cf63c4b9c7605be119

[2022-10-03 10:55] apinnick commented on #50593
@RichardHoch Can you please make sure that Anjana is aware of this?

[2022-10-03 12:13] RichardHoch commented on #50593
@apinnick will do.

[2022-10-03 12:17] RichardHoch commented on #50593
@joaquinfll Is it safe/correct to globally replace "sudo podman" with "podman" throughout the entire MTC document, subject to QE verification of any PRs created?

[2022-10-03 12:48] kalexand-rh commented on #51105
Safari looks fine for me, too. Closing. :)

[2022-10-03 12:48] #51105 closed

[2022-10-03 12:54] kalexand-rh commented on #41215
Testing to see if this migrates to Jira.

[2022-10-03 12:58] kalexand-rh commented on #41215
Testing a Jira integration.

[2022-10-03 13:22] cbremble commented on #49985
This work is already being done by @libander in https://issues.redhat.com/browse/RHDEVDOCS-3771, so I propose this issue be closed as a duplicate.

[2022-10-03 13:27] bergerhoffer commented on #49985
@cbremble Thanks for letting us know! Closing this as a duplicate - work for this will be done under https://issues.redhat.com/browse/RHDEVDOCS-3771.

[2022-10-03 13:27] #49985 closed

[2022-10-03 13:28] bergerhoffer commented on #50309
Hi @aswin2108! Thanks for opening a PR. Our team doesn't normally work on Saturdays or Sundays. We're taking a look at it now, thanks!

[2022-10-03 13:29] kalexand-rh commented on #41215
Testing a Jira integration.

[2022-10-03 14:09] #50309 closed

[2022-10-03 14:13] bergerhoffer commented on #50309
@aswin2108 Your PR has been merged, and this issue has been closed. Thanks again for your contribution!

[2022-10-03 14:28] bergerhoffer commented on #50837
@void-hr Great thanks! I've assigned the issue to you. Ping me once you have the PR open, or if you have any questions along the way. Thanks!

[2022-10-03 16:22] alexpdp7 opened #51152 "Enable SNO for OKD docs?"
### Which section(s) is the issue in?

[code]

https://github.com/openshift/openshift-docs/blob/main/_topic_maps/_topic_map.yml#L299

### What needs fixing?

Does it make sense to make the SNO docs appear in the okd documentation?

[2022-10-03 17:50] #50522 closed

[2022-10-03 19:24] void-hr commented on #50837
@bergerhoffer I have made the changes but I was wondering if there is any way to check it is working as required before making the PR.

[2022-10-03 19:31] bergerhoffer commented on #50837
@void-hr If you want to try to build a preview locally to check, you could use 'asciibinder' to do it. The instructions to install that are here: https://github.com/openshift/openshift-docs/blob/main/contributing_to_docs/tools_and_setup.adoc#install-asciibinder-and-dependencies. And then you would just run `asciidbinder build`, and check in the `_preview/openshift-enterprise/<branch_name>/` direct

[2022-10-03 19:48] maxwelldb commented on #43494
/remove-lifecycle stale

[2022-10-03 20:05] void-hr commented on #50837
@bergerhoffer I have opened the PR. Please take a look at PR #51164  whether I have done it decently or what improvements I could make in my PR. Or anything you would like to add.

[2022-10-04 00:01] #39714 closed

[2022-10-04 00:01] #39810 closed

[2022-10-04 00:01] #39621 closed

[2022-10-04 00:01] #39918 closed

[2022-10-04 00:01] #39529 closed

[2022-10-04 00:01] #35943 closed

[2022-10-04 00:01] #40390 closed

[2022-10-04 00:01] #40593 closed

[2022-10-04 00:01] #40391 closed

[2022-10-04 00:23] lijcam opened #51178 "[enterprise-4.11] Issue in file architecture/architecture.adoc"
### Which section(s) is the issue in?
Internet access for OpenShift Container Platform

### What needs fixing?

We can install OpenShift in a disconnected environment or cloud. We should talk about that, and link to the disconnected installation procedure.

[2022-10-04 05:44] joaquinfll commented on #50593
In my limited testing I found it to work without issue, I think it can be replaced in the entire MTC document.

[2022-10-04 08:02] #36746 closed

[2022-10-04 08:02] #35857 closed

[2022-10-04 08:02] #40205 closed

[2022-10-04 08:02] #36098 closed

[2022-10-04 08:02] #36105 closed

[2022-10-04 08:02] #39346 closed

[2022-10-04 08:02] #43498 closed

[2022-10-04 08:02] #40097 closed

[2022-10-04 08:02] #38679 closed

[2022-10-04 10:40] RichardHoch commented on #46004
/remove-lifecycle stale

[2022-10-04 13:24] void-hr commented on #50556
@bergerhoffer @aireilly
I would like to work on this...

[2022-10-04 13:58] kelbrown20 commented on #47482
Fix was made in PR#50132
Updated documentation
- Docs.openshift.com: https://docs.openshift.com/container-platform/4.11/installing/installing_bare_metal_ipi/ipi-install-prerequisites.html#network-requirements-dhcp-reqs_ipi-install-prerequisites
- Customer portal: https://access.redhat.com/documentation/en-us/openshift_container_platform/4.11/html/installing/deploying-installer-provisioned-clusters

[2022-10-04 14:01] kelbrown20 commented on #47482
/close

[2022-10-04 14:09] #47482 closed

[2022-10-04 14:14] dtantsur opened #51190 "[enterprise-4.11] Issue in file installing/installing_bare_metal_ipi/ipi-install-expanding-the-cluster.adoc"
### Which section(s) is the issue in?

[Preparing the bare metal node](https://docs.openshift.com/container-platform/4.11/installing/installing_bare_metal_ipi/ipi-install-expanding-the-cluster.html) bullet point 4.

### What needs fixing?

The `bmc` structure does not have `username` and `password` fields. Credentials are provided as part of the secret and must not be put as plain text into the BM

[2022-10-04 15:05] Amrita42 commented on #49431
/assign Amrita42

[2022-10-04 15:23] ahardin-rh commented on #49479
Addressed in https://github.com/openshift/openshift-docs/pull/51180 and https://github.com/openshift/openshift-docs/pull/51181
Thank you!

[2022-10-04 15:23] #49479 closed

[2022-10-04 16:03] AlexonOliveiraRH commented on #45320
/reopen

[2022-10-04 18:20] eriksjolund opened #51212 "[enterprise-4.11] Issue in file modules/storage-persistent-storage-pvc.adoc"
### Which section(s) is the issue in?

_Understanding persistent storage_
https://docs.openshift.com/container-platform/4.11/storage/understanding-persistent-storage.html

### What needs fixing?

Remove the word _by_ in the sentence:

_Claims must exist in the same namespace as the pod by using the claim._

A side-note: A similar sentence

_Claims must exist in the same namespace as the Pod using

[2022-10-04 20:05] kalexand-rh commented on #50582
@rolfedh @nate-duke does clearing your cache fix this issue?

[2022-10-04 20:09] rolfedh commented on #50582
All set. Thanks.

[2022-10-04 20:09] #50582 closed

[2022-10-04 20:35] #50899 closed

[2022-10-05 00:01] #44930 closed

[2022-10-05 00:01] #40595 closed

[2022-10-05 00:01] #44915 closed

[2022-10-05 08:02] void-hr commented on #50556
@bergerhoffer @aireilly
What I have understood is that the child bullet under note is actually point number 2. Instead of removing `[start=2]` we can move  this above the bullet child under note.
And ***2. Create the  `SriovNetworkNodePolicy` object:*** would be the point number 3.

Please correct me if I am missing something here.

[2022-10-05 08:05] #44327 closed

[2022-10-05 08:05] #43760 closed

[2022-10-05 08:05] #44572 closed

[2022-10-05 08:05] #44625 closed

[2022-10-05 08:07] #27693 closed

[2022-10-05 08:07] #44084 closed

[2022-10-05 10:27] abozzoni opened #51266 "[dedicated] Issue in file osd_architecture/osd_policy/osd-service-definition.adoc"
### Which section(s) is the issue in?
https://docs.openshift.com/dedicated/osd_architecture/osd_policy/osd-service-definition.html#cluster-self-service_osd-service-definition

### What needs fixing?
The **{cluster-manage-url}** has not any value in the following sentence:

Customers can create, scale, and delete their clusters from {cluster-manage-url}, provided that they have pre-purchased the ne

[2022-10-05 12:38] bergerhoffer commented on #50837
Closing, since the PR has been merged!

[2022-10-05 12:38] #50837 closed

[2022-10-05 12:39] bergerhoffer commented on #51266
@EricPonvelle @pneedle-rh @bmcelvee Can one of you take a look?

[2022-10-05 12:43] #43494 closed

[2022-10-05 12:51] bergerhoffer commented on #51102
@ADITYADAS1999 yes it is, but in investigating I don't think any action is needed. If you're looking for something to contribute to for Hacktoberfest, you can search for other unassigned issues we have that are marked as good candidates for Hacktoberfest by using this query: https://github.com/openshift/openshift-docs/issues?q=is%3Aopen+is%3Aissue+label%3AHacktoberfest

@flozanorht It looks like t

[2022-10-05 12:51] #51102 closed

[2022-10-05 12:54] bergerhoffer commented on #50902
Marking this as a good candidate for Hacktoberfest.

If someone wants to take this, make the change against the `main` branch and let me know if you have any questions!

Here is the page: https://docs.openshift.com/container-platform/4.11/storage/persistent_storage/persistent-storage-local.html#local-storage-discovery_persistent-storage-local

[2022-10-05 13:07] pneedle-rh commented on #51266
Hi @abozzoni and @bergerhoffer. Thanks for your updates. I am looking into this now.

[2022-10-05 13:09] AlexonOliveiraRH commented on #45319
/reopen

[2022-10-05 13:15] pneedle-rh commented on #51266
Pull request: https://github.com/openshift/openshift-docs/pull/51278

[2022-10-05 13:42] kelbrown20 commented on #50574
/assign

[2022-10-05 13:58] kelbrown20 commented on #50574
/assign kelbrown20

[2022-10-05 14:54] kelbrown20 commented on #50574
/close

[2022-10-05 15:01] skrthomas commented on #51100
A PR to fix this issue is open and pending merge once reviews are complete: https://github.com/openshift/openshift-docs/pull/51153

[2022-10-05 15:07] #50574 closed

[2022-10-05 15:09] skrthomas commented on #49025
GitHub PR to address this issue: https://github.com/openshift/openshift-docs/pull/51153

There's also another openshift-docs issue reporting the same: https://github.com/openshift/openshift-docs/issues/51100

[2022-10-05 18:31] void-hr commented on #51212
Would like to work on this.

[2022-10-05 18:54] eriksjolund commented on #51212
@void-hr that sounds good me. (I'm not sure how issues are assigned though)

[2022-10-05 19:02] void-hr commented on #51212
I guess one with the write access can assign

[2022-10-05 19:04] void-hr commented on #50556
@aireilly should I unassign myself from this issue?

[2022-10-05 20:01] aireilly commented on #50556
@void-hr yes I guess so sorry! I checked what was needed to report back and fixed it inadvertently 😅

[2022-10-05 20:16] void-hr commented on #50556
@aireilly no worries, also I want to know that what `+` does to file.

[2022-10-05 20:37] aireilly commented on #50556
Basicallly it's a "keep with previous directive" that aligns paragraphs with previous bullets, etc. Very handy for complex content. See "Complex content in outline lists" here: https://docs.asciidoctor.org/asciidoc/latest/syntax-quick-reference/

[2022-10-05 20:57] WadeSharples opened #51326 "[rhacs-docs-3.72] Issue in file welcome/index.adoc"
### Which section(s) is the issue in?

https://docs.openshift.com/acs/3.72/operating/manage-vulnerabilities.html#vulnerability-management-send-report_acs-operating-manage-vulnerabilities

### What needs fixing?
This is not the behaviour of the application.
This section mentions functionality that is under different menus or doesn't exist.
Specifically, the Sending a vulnerability report section.

[2022-10-05 21:08] void-hr commented on #51212
@aireilly Can I work on this issue. Could you assign me to this.

[2022-10-05 21:21] aireilly commented on #51212
@bergerhoffer can assign. I won't touch this one I promise 😀

[2022-10-05 21:23] bergerhoffer commented on #51212
Thanks @void-hr! I assigned this to you

[2022-10-05 21:24] bergerhoffer commented on #51212
@void-hr let me know when you open a PR and I'll take a look. Thanks again!

[2022-10-05 21:41] void-hr commented on #51212
@bergerhoffer I have opened a PR for the same. Let me know if I missed something.

[2022-10-05 21:50] bergerhoffer commented on #51212
Thanks @void-hr that PR looks great, we'll get that merged in. Thanks again for your contributions!!

[2022-10-05 21:51] bergerhoffer commented on #51212
Closing since the PR has been merged.

[2022-10-05 21:51] #51212 closed

[2022-10-06 07:28] apinnick commented on #39729
Issue fixed.

[2022-10-06 07:28] #39729 closed

[2022-10-06 07:30] #51266 closed

[2022-10-06 07:40] pneedle-rh commented on #51266
This issue is now resolved.

[2022-10-06 10:03] aireilly opened #51342 "[enterprise-4.11] Issue in file installing/installing_aws/installing-aws-customizations.adoc"
### Which section(s) is the issue in?

https://docs.openshift.com/container-platform/4.11/installing/installing_aws/installing-aws-customizations.html#installation-configuration-parameters-optional-aws_installing-aws-customizations

### What needs fixing?

The table as rendered on docs.openshift is not very user-friendly. The scroll bar is only available on the end of the table and you have to scr

[2022-10-06 10:56] akesterton opened #51347 "[online] Issue in file rosa_install_access_delete_clusters/rosa-aws-privatelink-creating-cluster.adoc"
### Which section(s) is the issue in?
Configuring AWS PrivateLink DNS forwarding

### What needs fixing?
Text currently reads:

For more information about private hosted zones, see [AWS private hosted zones documentation](https://docs.aws.amazon.com/Route53/latest/DeveloperGuide/hosted-zones-private.html). For more information about private hosted zones, see [AWS public hosted zones documentation]

[2022-10-06 13:00] bergerhoffer commented on #51266
Thanks @pneedle-rh!!

[2022-10-06 16:33] kelbrown20 commented on #50581
@acomabon Hi Alejandro! Can you PTAL at the attached PR to confirm the changes for this issue? Thank you!

[2022-10-06 16:36] bobfuru commented on #50902
I'll take this, @bergerhoffer. Let's see if I still got it. 😜

[2022-10-06 16:39] bergerhoffer commented on #50902
Heyooo hi @bobfuru!! Nice to hear from ya, it's all yours :tada:

[2022-10-06 16:46] bobfuru commented on #43284
I'll take this, @bergerhoffer! 😎

[2022-10-06 16:48] acomabon commented on #50581
Hey @kelbrown20 thanks for reaching out.

I don't know the docs guidelines on this, but I'd be more inclined to use a "final" name in both examples, like `poisonpillremediationtemplate-sample` instead of using the replaceable one.

This would prevent copy&paste errors.

In any case, if you want to use your proposed solution, it's fine by me :)

[2022-10-06 16:52] acomabon commented on #50581
The reason about my proposal for using final names is because if someone just copy&pastes it and applies it on OpenShift, it will work well. But if they copy and paste the replaceable version, it will fail.

[2022-10-06 17:07] Amrita42 commented on #51347
/assign Amrita42

[2022-10-06 17:33] kelbrown20 commented on #50581
Thank you or the feedback Alejandro! Yeah the adding a replaceable name in a yaml is sometimes dependent on the procedure. You brought up a great point though, so with the reasoning you mentioned,  I'll change it to `poisonpillremediationtemplate-sample`.

[2022-10-06 17:58] AdamPeabody opened #51366 "[enterprise-4.10] Issue in file installing/installing_vsphere/installing-vsphere-installer-provisioned.adoc"
### Which section(s) is the issue in?
Roles and privileges required for installation

### What needs fixing?
Can you also list the permissions from the vcenter gui?   The permissions you have listed do not match up with vcenter gui.

[2022-10-06 18:04] kelbrown20 commented on #50581
@acomabon Just updated, can you add your lgtm if it looks good? Thank you!

[2022-10-06 18:15] opayne1 opened #51367 "Formatting error in 4.9.z release notes"
There is a formatting error in the 4.9.23 bug fixes section https://docs.openshift.com/container-platform/4.9/release_notes/ocp-4-9-release-notes.html#ocp-4-9-23-bug-fixes

The (KCS*) is missing an additional * to make KCS bold.
Should be (**KCS**)

[2022-10-06 19:15] skopacz1 commented on #50841
/close

[2022-10-06 19:15] #50841 closed

[2022-10-06 19:49] acomabon commented on #50581
LGTM!

[2022-10-07 08:01] #45451 closed

[2022-10-07 08:04] void-hr commented on #51367
I would like to work on this.

[2022-10-07 08:08] void-hr commented on #51367
@opayne1 @bergerhoffer Could you assign me please.

[2022-10-07 08:57] kritiag20 commented on #51101
I would like to work on this issue

[2022-10-07 09:56] skychilds opened #51378 "[enterprise-4.10] Issue in file operators/understanding/olm-understanding-operatorhub.adoc"
### Which section(s) is the issue in?

### What needs fixing?

[2022-10-07 13:08] Amrita42 commented on #51378
There are no details, can you please elaborate?

[2022-10-07 18:55] maxwelldb commented on #51366
@xenolinux I think this would go to you, according to the history of `modules/installation-vsphere-installer-network-requirements.adoc`.

[2022-10-07 19:40] skopacz1 commented on #50801
/close

[2022-10-07 19:40] #50801 closed

[2022-10-10 11:10] mauroseb opened #51419 "[enterprise-4.11] Issue in file logging/cluster-logging-deploying.adoc"
### Which section(s) is the issue in?
Installing the logging subsystem for Red Hat OpenShift using the CLI
(step) 3. Install the OpenShift Elasticsearch Operator by creating the following objects

### What needs fixing?
The example subscription for Elasticsearch operator is in still pointintg to stable-5.1 channel.
It should read stable-5.4

[2022-10-10 11:21] rgordill opened #51420 "[enterprise-4.11] Issue in file cicd/gitops/configuring-an-openshift-cluster-by-deploying-an-application-with-cluster-configurations.adoc"
### Which section(s) is the issue in?

Extra role/rolebindings.

### What needs fixing?

The example shows secrets-cluster-role, but the rolebinding references "admin".

[2022-10-10 11:36] tbrodbeck opened #51421 "[enterprise-4.11] Issue in file cicd/pipelines/automatic-pruning-taskrun-pipelinerun.adoc"
### Which section(s) is the issue in?
![Screenshot 2022-10-10 at 13 36 23](https://user-images.githubusercontent.com/24418160/194857619-1d2f16d5-04c0-4b9b-89b0-19a539c2958f.png)

### What needs fixing?
`error: unable to decode "tekton/base/pipeline.yaml": json: cannot unmarshal number into Go struct field ObjectMeta.metadata.annotations of type string`

[2022-10-10 12:36] bergerhoffer commented on #51367
Thanks @void-hr!

[2022-10-10 13:23] bergerhoffer commented on #43284
Closing, since the PR has been merged. Thanks @bobfuru!

[2022-10-10 13:23] #43284 closed

[2022-10-10 14:18] void-hr commented on #51367
@bergerhoffer I found old PR of this release note and fixed the typo. But when I am opening the PR it includes 5000+ commits. Can you help me to figure out the solution.

[2022-10-10 16:02] ctomasko commented on #39890
https://issues.redhat.com/browse/CNV-17912

[2022-10-10 16:33] bergerhoffer commented on #44908
@tonytheleg has submitted PR#51431 to resolve this issue. Thanks for your contribution!

[2022-10-10 16:34] bergerhoffer commented on #44908
Closing since the above PR has been merged!

[2022-10-10 16:34] #44908 closed

[2022-10-10 17:05] bergerhoffer commented on #51367
@void-hr Looks like you figured out the solution (switching the base branch to 4.9 instead of main). Thanks for the PR - closing this issue since the PR has been merged!

[2022-10-10 17:05] #51367 closed

[2022-10-10 17:55] kelbrown20 commented on #51081
Fix made in linked PR
Updated documentation:
https://docs.openshift.com/container-platform/4.11/installing/install_config/installing-customizing.html#installation-special-config-encrypt-disk_installing-customizing

Setting to close

[2022-10-10 17:55] kelbrown20 commented on #51081
/close

[2022-10-10 17:55] #51081 closed

[2022-10-10 18:38] #51100 closed

[2022-10-10 18:39] #49025 closed

[2022-10-10 23:15] tonytheleg commented on #45568
@bergerhoffer with regards to OpenShift Dedicated, there are two methods of setting up logging: Using the **Cluster Logging Operator add-on** which can be installed in their cluster through [console.redhat.com](https://console.redhat.com) or installing the **OpenShift Logging** operator through OperatorHub. The key difference being I believe the Add-On has some support from CEE where as the OpenSh

[2022-10-11 00:00] #45385 closed

[2022-10-11 08:01] #45661 closed

[2022-10-11 14:33] bergerhoffer commented on #45568
@tonytheleg This issue is really just about the phrase "OpenShift Dedicated Logging" showing up on the welcome page: https://docs.openshift.com/dedicated/welcome/index.html.

That phrase isn't correct, it should really just be called "OpenShift Logging".

So the fix needing to be made is in the https://raw.githubusercontent.com/openshift/openshift-docs/main/welcome/index.adoc file - where you see

[2022-10-11 14:33] bergerhoffer commented on #51378
Closing this since no issue was reported.

[2022-10-11 14:33] #51378 closed

[2022-10-11 16:25] #49918 closed

[2022-10-11 16:26] tmorik commented on #49918
As proposed.

[2022-10-11 19:04] nate-duke commented on #40551
@kalexand-rh  I think the recent shuffle and redeploy of the docs sites has fixed this up.
![image](https://user-images.githubusercontent.com/40432118/195177340-08e0a089-38aa-404a-8d62-8e17b33d8271.png)
![image](https://user-images.githubusercontent.com/40432118/195177381-90ddb684-52da-4ffc-b919-c6d3ade49d0e.png)

[2022-10-11 19:26] kalexand-rh commented on #40551
I'm glad to hear that this has been fixed! I'm going to close this issue.

[2022-10-11 19:26] #40551 closed

[2022-10-11 20:14] tonytheleg commented on #45568
PR submitted, thanks @bergerhoffer

[2022-10-11 20:47] bergerhoffer commented on #45568
Closing, since PR #51540 has merged!

[2022-10-11 20:47] #45568 closed

[2022-10-12 15:35] williamcaban opened #51573 "[enterprise-4.11] Issue in file scalability_and_performance/using-node-tuning-operator.adoc"
### Which section(s) is the issue in?

Today customers cannot find in the documentation how to add or remove kernel boot parameters (bootloader)

### What needs fixing?

We should include an example on adding or removing kernel parameters using tuned operator.

[2022-10-12 15:52] rludva opened #51581 "[enterprise-4.8] Issue in file release_notes/ocp-4-8-release-notes.adoc"
### Which section(s) is the issue in?
The bug fixes that are included in the update are listed in the [RHSA-2022:6511](https://access.redhat.com/errata/RHSA-2022:6511) advisory.

### What needs fixing?
Link to RHSA-2022:6511 returns 404!

[2022-10-12 18:12] bburt-rh commented on #46482
Closed. The change can be viewed at https://docs.openshift.com/container-platform/4.10/monitoring/configuring-the-monitoring-stack.html#persistent-storage-prerequisites

[2022-10-12 18:13] bburt-rh commented on #49528
You can view the fix here: https://docs.openshift.com/container-platform/4.10/monitoring/configuring-the-monitoring-stack.html#persistent-storage-prerequisites

[2022-10-13 06:51] KingOfSpades opened #51602 "[enterprise-4.11] Issue in file machine_management/creating_machinesets/creating-machineset-azure.adoc"
### Which section(s) is the issue in?

Sample YAML for a machine set custom resource on Azure

### What needs fixing?

The example `yaml` for creating a new `MachineSet` on Azure proposes the following code:

[code]

When creating a `resourceID` string with the placeholders, the Azure API returns a not found error. I also tried exploring the resource API in Azure, but could not find any API end-po

[2022-10-13 14:10] #50556 closed

[2022-10-13 15:22] eedmgei opened #51642 "[enterprise-4.10] Issue in file networking/multiple_networks/attaching-pod.adoc"
### Which section(s) is the issue in?
Specifying pod-specific addressing and routing options

### What needs fixing?
The example to change the default route shall be chnaged to the following:
Using the ' ' for the json object has not worked for me.  All changes are marked with double stars **.
Same for format as in the oc get pod example-pod -o yaml shall be used.

apiVersion: v1
kind: Pod
metadat

[2022-10-13 15:43] kelbrown20 commented on #50581
Fix made in PR #51286
Updated documentation:
https://docs.openshift.com/container-platform/4.10/nodes/nodes/eco-poison-pill-operator.html#configuring-machine-health-check-with-poison-pill_poison-pill-operator-remediate-nodes

Setting to close

[2022-10-13 15:43] kelbrown20 commented on #50581
/close

[2022-10-13 15:50] #50581 closed

[2022-10-13 16:18] mburke5678 commented on #45149
PR merged. Closing

[2022-10-13 16:18] #45149 closed

[2022-10-13 19:17] skopacz1 commented on #44825
/assign skopacz1

[2022-10-13 19:24] bergerhoffer commented on #51581
Marking this as a good candidate for Hacktoberfest.

Looks like the link and link text should have a prefix of "RHBA", not "RHSA". https://docs.openshift.com/container-platform/4.8/release_notes/ocp-4-8-release-notes.html#ocp-4-8-50

Whoever wants to take this, please make the update against the enterprise-4.8 branch, and ping me with any questions!

[2022-10-13 20:02] skopacz1 commented on #51581
/assign skopacz1

[2022-10-14 10:04] ahmbas opened #51688 "[rhacs-docs-3.72] Issue in file integration/integrate-using-syslog-protocol.adoc"
### Which section(s) is the issue in?
Stackrox/RHACS Syslog integration

### What needs fixing?
We should explicitly mention that the syslog listener must be over TCP, not UDP which is traditionally used by syslog.

[2022-10-14 13:01] karampok opened #51697 "[enterprise-4.12] Issue in file networking/metallb/metallb-operator-install.adoc"
### Which section(s) is the issue in?

[code]

### What needs fixing?
now is metallb-operator-controller-manager

[2022-10-14 16:27] sdodson commented on #46562
/close

[2022-10-14 16:27] #46562 closed

[2022-10-14 18:06] marbindrakon opened #51717 "[enterprise-4.11] Issue in file welcome/oke_about.adoc"
### Which section(s) is the issue in?
Feature Summary

### What needs fixing?
Now that Multicluster Engine for Kubernetes is not tied to ACM, it should be added to the feature matrix showing that it is available in both OKE and OCP subscriptions

[2022-10-15 00:01] #45461 closed

[2022-10-15 02:59] faldanarh commented on #46811
The issue reported by the customer has been verified and a KCS was created to address the issue.

[2022-10-15 02:59] #46811 closed

[2022-10-15 03:01] faldanarh commented on #47815
/remove-lifecycle stale

[2022-10-17 00:01] #45791 closed

[2022-10-17 00:01] #45792 closed

[2022-10-17 08:01] #45794 closed

[2022-10-17 08:37] aireilly commented on #40439
/remove-lifecycle stale

Should be addressed in https://github.com/openshift/openshift-docs/pull/49805

[2022-10-17 08:38] aireilly commented on #40438
/remove-lifecycle stale

Being addressed in https://github.com/openshift/openshift-docs/pull/49805

[2022-10-17 15:07] therevoman opened #51747 "[enterprise-4.11] Banner at bottom of screen blocks access to left nav items on Chrome"
### Which section(s) is the issue in?
Left nav

### What needs fixing?
When scrolling to the bottom of the main navigation page a "Red Hat" footer appears.  This blocks the bottom of the left nav causing confusion.

<img width="1811" alt="image" src="https://user-images.githubusercontent.com/5229889/196213841-f4a03030-983a-497b-b3aa-7ad18f752e01.png">
<img width="1810" alt="image" src="https://use

[2022-10-17 15:31] adellape opened #51748 "[enterprise-4.11] Issue in file operators/operator_sdk/osdk-generating-csvs.adoc"
### Which section(s) is the issue in?

"Enabling Operator conditions"

https://docs.openshift.com/container-platform/4.11/operators/operator_sdk/osdk-generating-csvs.html#osdk-operatorconditions_osdk-generating-csvs

This section first appeared in OCP 4.7, so the change can apply to branches 4.7+.

### What needs fixing?

Per IBM Style Guide, lead-in wording to lists should be complete sentences (

[2022-10-17 19:23] libander commented on #45217
/close

[2022-10-17 22:38] rodlilearns opened #51766 "[enterprise-4.10] Issue in file machine_management/creating_machinesets/creating-machineset-vsphere.adoc"
### Which section(s) is the issue in?

!Important
"This process is not applicable for clusters with manually provisioned machines. You can use the advanced machine management and scaling capabilities only in clusters where the Machine API is operational."
--

### What needs fixing?
This important section is confusing, and conflicts with https://access.redhat.com/solutions/5307621 where the followi

[2022-10-18 11:05] omertuc opened #51774 "[enterprise-4.11] Issue in file installing/installing_sno/install-sno-preparing-to-install-sno.adoc"
### Which section(s) is the issue in?

* Requirements for installing OpenShift on a single node
  * Supported platforms

### What needs fixing?

The section says:

Instead, it should say:

[2022-10-18 13:12] bburt-rh commented on #40244
Closing. This fix is added in https://github.com/openshift/openshift-docs/pull/51404

[2022-10-18 13:12] #40244 closed

[2022-10-18 14:54] apinnick commented on #45375
@bergerhoffer
I created a [PR](https://github.com/openshift/openshift-docs/pull/51790). Who should be assigned from QE?

[2022-10-18 15:16] bergerhoffer commented on #45375
@apinnick I'm not sure. @mjpytlak Do you happen to know who a good QE person would be for an Azure installing doc update?

[2022-10-18 16:54] bkemp opened #51795 "[enterprise-4.11] Issue in file applications/creating_applications/creating-applications-using-cli.adoc"
### Which section(s) is the issue in?
Build Strategy Detection

### What needs fixing?
The doc for overriding the new-app build strategy using the --strategy flag says:

'Override the build strategy by setting the --strategy flag to either pipeline or source.'

But, the example shows --> '--strategy=docker'. There is no clarification of using 'docker' as the value of the flag. I know it means the

[2022-10-18 17:15] #51748 closed

[2022-10-18 19:14] mjpytlak commented on #45375
Sure @apinnick @bergerhoffer. Azure QE for install docs is @MayXuQQ

[2022-10-18 19:16] bergerhoffer commented on #45375
Thanks @mjpytlak!

[2022-10-18 19:56] alanconway opened #51817 "[enterprise-4.11] Issue in file logging/cluster-logging-loki.adoc"
### Which section(s) is the issue in?

Deploying lokistack

### What needs fixing?

Example ClusterLogging resource is incorrect, errors on apply:
[code]

Corrected version here:
[code]

[2022-10-18 21:25] swathan opened #51823 "[enterprise-4.11] Issue in file scalability_and_performance/routing-optimization.adoc"
### Which section(s) is the issue in?

[Ingress Controller (router) performance optimizations](https://docs.openshift.com/container-platform/4.11/scalability_and_performance/routing-optimization.html#router-performance-optimizations_routing-optimization)

### What needs fixing?

In the [document](https://docs.openshift.com/container-platform/4.11/scalability_and_performance/routing-optimization.ht

[2022-10-19 00:00] #45906 closed

[2022-10-19 03:39] robertodocampo opened #51826 "[enterprise-4.11] Issue in file networking/metallb/metallb-operator-install.adoc"
### Which section(s) is the issue in?

Hi the bug that i suposse is related to this section:

https://docs.openshift.com/container-platform/4.11/networking/metallb/metallb-operator-install.html
Section:  Limit speaker pods to specific nodes

### What needs fixing?

On the example the speakerToleration is not an array as described on the  api

[code]

 oc explain metallb.spec
[code]

In fact if i t

[2022-10-19 15:43] MayXuQQ commented on #45375
found another doc bug https://issues.redhat.com/browse/OCPBUGS-2575 when review the [PR]( https://github.com/openshift/openshift-docs/pull/51790)

[2022-10-19 17:12] kelbrown20 commented on #46678
/assign kelbrown20

[2022-10-19 17:50] kelbrown20 commented on #46678
/remove-lifecycle rotten

[2022-10-19 18:12] kelbrown20 commented on #46678
@apinnick Hi Avital! Can you PTAL at the linked PR for the doc changes when you get the chance? Thank you! 😄

[2022-10-20 14:12] skopacz1 commented on #51581
/close

[2022-10-20 14:12] #51581 closed

[2022-10-20 14:58] javierpena opened #51911 "[enterprise-4.11] Issue in file networking/using-ptp.adoc"
### Which section(s) is the issue in?

Installing the AMQ messaging bus

### What needs fixing?

The documentation only tells the user to "Install the AMQ Interconnect Operator", but not to actually configure an Interconnect. While this may seem obvious to someone with AMQ knowledge, not all users will have it, so it is confusing.

It would be good to specify that an Interconnect object needs to b

[2022-10-20 15:03] javierpena opened #51913 "[enterprise-4.11] Issue in file networking/using-ptp.adoc"
### Which section(s) is the issue in?

Subscribing DU applications to PTP events REST API reference

### What needs fixing?

When setting up a test environment for PTP events, the REST API reference provides a good reference for developers, but OpenShift administrators may get lost trying to test the whole framework.

In my tests, I mistakenly assumed that something was wrong based on some logs ou

[2022-10-20 16:55] YashasviChaurasia commented on #49322
@bergerhoffer I would like to work on this issue.
Could you assign it to me?
Thank you

[2022-10-20 17:06] bergerhoffer commented on #50602
@aireilly Didn't we see this issue a few weeks ago too? Was it just a refresh that was needed to fix it?

[2022-10-20 17:23] aireilly commented on #50602
Yes. And also a fix has gone in since that ensures this won't happen again.

[2022-10-20 17:31] bergerhoffer opened #51946 "Duplicate "oc edit" command in YAML code block"
### Which section(s) is the issue in?
https://docs.openshift.com/container-platform/4.11/logging/config/cluster-logging-collector.html#cluster-logging-collector-limits_cluster-logging-collector

### What needs fixing?
There are two commands to do "oc edit" in step 1. The one in the first code block is correct.

The second code block in step 1 should be just the YAML, but it has another "oc edit" c

[2022-10-20 17:34] bergerhoffer commented on #49322
Hi @YashasviChaurasia! I'm sorry it looks like someone fixed this already via PR #50661, but the issue wasn't assigned or closed.

If you're still interested in another straightforward issue to work on, we have this issue #51946 which I just marked for Hacktoberfest. Please feel free to comment in that issue if you'd like me to assign it to you!

Closing this issue

[2022-10-20 17:34] #49322 closed

[2022-10-20 17:37] YashasviChaurasia commented on #51946
@bergerhoffer I would like to work on this issue.
Could you please assign it to me?
Thank you

[2022-10-20 17:55] bergerhoffer commented on #51946
You got it @YashasviChaurasia! Thanks, and let me know if you have any questions!

[2022-10-20 17:56] bergerhoffer commented on #50602
Great thanks! Closing this issue then, sorry about that @bit4man!

[2022-10-20 17:56] #50602 closed

[2022-10-20 18:05] YashasviChaurasia commented on #51946
@bergerhoffer Could you please specify the exact file to edit?
Thank you

[2022-10-20 18:15] bergerhoffer commented on #51946
Hi @YashasviChaurasia sorry it looks like we had some inconsistency in this file, so it is actually already correct on the 'main' branch, and doesn't need fixed there.

Instead, it should be fixed on the 'enterprise-4.12' branch. So this is the file: https://github.com/openshift/openshift-docs/blob/enterprise-4.12/modules/cluster-logging-collector-limits.adoc

[2022-10-20 18:28] obrown1205 opened #51954 "Need more context for speaker pod limitations - include affinity rules (node, pod, pod anti-affinity)"
Received feedback from QE that there should be additional context added for the tools used for limiting speaker pods. We should include that "speaker pods can also be limited using affinity rules - node, pod and pod anti-affinity."

### Which section(s) is the issue in?
Installing the MetalLB Operator, specifically the "Limit speaker pods to specific nodes" section.

### What needs fixing?
Need to

[2022-10-20 18:28] obrown1205 commented on #51954
Creating PR :)

[2022-10-20 18:31] asood-rh commented on #51954
@obrown1205 Should there be a changed file in PR as well?

[2022-10-20 18:42] obrown1205 commented on #51954
I'm not sure - what kind of file should that be?

[2022-10-20 18:49] obrown1205 commented on #51954
Ah - modules/nw-metallb-operator-limit-speaker-to-nodes.adoc

[2022-10-20 22:53] YashasviChaurasia commented on #51946
@bergerhoffer I have submitted a PR at : #51958
Thank you

[2022-10-21 05:01] YashasviChaurasia commented on #51946
Can the above PR be merged, or do I still need to work on it?
Kindly guide me with any further changes which are required.
Thank you

[2022-10-21 06:41] robmoore-i opened #51984 "[enterprise-4.8] Issue in file openshift_images/create-images.adoc"
### Which section(s) is the issue in?

The document generally.

### What needs fixing?

It should be possible to get an anchor to a doc section by e.g. clicking a header name.

[2022-10-21 10:16] mauroseb opened #51996 "[online] Issue in file rosa_architecture/rosa_policy_service_definition/rosa-life-cycle.adoc"
### Which section(s) is the issue in?

https://docs.openshift.com/rosa/rosa_architecture/rosa_policy_service_definition/rosa-life-cycle.html
Red Hat OpenShift Service on AWS update life cycle

### What needs fixing?
There should be a section or statement dedicated to the supported channels in ROSA. In contrast with self-managed OCP only stable channel is supported. But there is no mention of that

[2022-10-21 12:28] #50902 closed

[2022-10-21 13:39] obrown1205 commented on #51984
/assign obrown1205

[2022-10-21 15:56] obrown1205 commented on #51984
Hi @robmoore-i ! Thank you very much for sending this. In order to anchor a header, simply hover over the header and click on the blue link icon that appears on the left side of the header. If you have any issues with this, please let us know!

[2022-10-21 16:28] obrown1205 commented on #51913
/assign obrown1205

[2022-10-21 18:27] obrown1205 commented on #51817
/assign obrown1205

[2022-10-21 22:48] flozanorht opened #52057 "[online] Issue in file rosa_cluster_admin/rosa_monitoring/rosa-configuring-the-monitoring-stack.adoc"
### Which section(s) is the issue in?

Configuring a local persistent volume claim
https://docs.openshift.com/rosa/rosa_cluster_admin/rosa_monitoring/rosa-configuring-the-monitoring-stack.html#configuring-a-local-persistent-volume-claim_rosa-configuring-the-monitoring-stack

### What needs fixing?

The example ConfigMap with "storageClassName: local-storage" and that requires the local storage ope

[2022-10-23 00:00] #45990 closed

[2022-10-23 18:10] Dave-c-Ross opened #52063 "[rhacs-docs-3.72] Issue in file installing/install-ocp-operator.adoc"
### Which section(s) is the issue in?
Verifing Central installation -> 6.

### What needs fixing?
It says: _Alternatively, you can use the Red Hat Advanced Cluster Security for Kubernetes web console to find the link to the RHACS portal by performing the following commands:_

The instruction is to find the Red Hat Advanced Cluster Security for Kubernetes web console URL, hence the user can not act

[2022-10-24 00:00] #46006 closed

[2022-10-24 12:41] #49816 closed

[2022-10-24 12:50] bergerhoffer commented on #51946
Thanks @YashasviChaurasia! Your PR has been merged, thanks for submitting it!

Closing this issue.

[2022-10-24 12:50] #51946 closed

[2022-10-24 13:05] YashasviChaurasia commented on #51946
Thank You for your guidance; I appreciate your help and support.
Could you please guide me to similar issues or issues of a slightly higher difficulty level?
I want to contribute more to open source and develop my skills along the way while I complete my hacktoberfest challenge.
Thank you again.

[2022-10-24 14:55] bergerhoffer commented on #52063
Marking this as a good candidate for Hacktoberfest, if someone wants to take it.

Link to page: https://docs.openshift.com/acs/3.72/installing/install-ocp-operator.html

Looks like the attribute will need changed. The `{product-title} web console` in step 6 should be `{ocp} web console`.

@kcarmichael08 or @gaurav-nelson Can you help with which branch this update should be submitted against? Is it

[2022-10-24 15:14] bergerhoffer commented on #51826
Closing, since the related PR has been merged!

[2022-10-24 15:14] #51826 closed

[2022-10-24 20:05] YashasviChaurasia commented on #52063
@bergerhoffer I would like to work on this issue.
Thank you

[2022-10-24 21:03] kalexand-rh commented on #29551
/lifecycle frozen

[2022-10-25 00:01] #46064 closed

[2022-10-25 00:32] bergerhoffer commented on #52063
Great thanks @YashasviChaurasia! I've assigned it to you :)

[2022-10-25 00:33] bergerhoffer commented on #51946
@YashasviChaurasia I'm so glad to hear that! I see you found another issue to work on, but I'll take a look tomorrow and see if I can find any other good ones if you're still interested in more!

[2022-10-25 04:26] libander commented on #49561
/close - resolved by https://github.com/openshift/openshift-docs/pull/50781

[2022-10-25 04:34] robmoore-i opened #52120 "Add anchors to section headers"
(Re-opening this to clarify my original intention in https://github.com/openshift/openshift-docs/issues/51984)

### Which section(s) is the issue in?

The document generally.

### What needs fixing?

It should be possible to get an anchor to a doc section by e.g. clicking a header name. The existing anchors for higher level headings are great, and should be extended to work for all headings.

For

[2022-10-25 06:04] porridge opened #52121 "[enterprise-4.11] Issue in file authentication/configuring-internal-oauth.adoc"
### Which section(s) is the issue in?

https://docs.openshift.com/container-platform/4.11/authentication/configuring-internal-oauth.html#oauth-token-duration_configuring-internal-oauth

### What needs fixing?

I cannot see an `OAuthClient` custom resource definition in the cluster. Should this be `OAuth` instead?

[2022-10-25 06:23] LunarMarathon commented on #51911
Hey, I would like to try this. I've gone through the files and would like to contribute. Please assign this to me.

[2022-10-25 06:46] porridge commented on #52121
Hm, I see the [documentation](https://docs.openshift.com/container-platform/4.11/authentication/configuring-oauth-clients.html) now, but still no sign of an `OAuthClient` CRD in my OSD cluster :thinking:

[2022-10-25 06:48] porridge commented on #52121
Ooops, looks like it's a built-in type, not a CRD :facepalm:

[2022-10-25 06:48] #52121 closed

[2022-10-25 07:24] apinnick commented on #48335
Closing this issue because it duplicates https://github.com/openshift/openshift-docs/issues/45375, which is currently being fixed.

[2022-10-25 07:24] #48335 closed

[2022-10-25 10:55] abozzoni opened #52123 "[online] Issue in file rosa_planning/rosa-sts-aws-prereqs.adoc"
### Which section(s) is the issue in?
https://docs.openshift.com/rosa/rosa_planning/rosa-sts-aws-prereqs.html#rosa-ec2-instances_rosa-sts-aws-prereqs

### What needs fixing?
In this section is written: "For further guidance on worker node counts, see the link to "Initial Planning Considerations" in the "Additional resources" section of this page". In the Additional resources section is not present

[2022-10-25 12:29] kcarmichael08 commented on #52063
Please merge to `rhacs-docs` and cherry pick to `rhacs-docs-3.72` `rhacs-docs-3.71`and `rhacs-docs-3.70`. Let me know if you have any questions! TY!

[2022-10-25 12:35] bergerhoffer commented on #52063
Thanks @kcarmichael08!

@YashasviChaurasia You can open the PR against `rhacs-docs` and we will take care of the cherry picking part for you :slightly_smiling_face: Thanks!

[2022-10-25 13:10] apinnick commented on #45375
Fixed and merged. https://github.com/openshift/openshift-docs/pull/51790

[2022-10-25 13:10] #45375 closed

[2022-10-25 13:21] mjpytlak commented on #45375
@bscott-rh I believe this is related to the work you are doing with https://issues.redhat.com/browse/OCPBUGS-2575. Just want to make sure they are only tangentially related and do not actually contradict/conflict with each other.

[2022-10-25 14:38] flozanorht commented on #41079
This is a real issue and should not be closed because of inactivity.

[2022-10-25 14:38] flozanorht commented on #41079
/remove-lifecycle stale

[2022-10-25 14:51] bergerhoffer opened #52149 "Breadcrumb bar is broken on assemblies in 2 levels of subdirectories"
### Which section(s) is the issue in?

All of docs.openshift.com

### What needs fixing?

The breadcrumb bar at the top of the page only seems to support assemblies in one level of subdirectory. It is broken for assemblies that are 2 subdirectories deep.

#### Working breadcrumb 1 subdirectory deep

For example, the following screenshot is an assembly that is in **Backup and restore** -> **Applica

[2022-10-25 18:58] bscott-rh commented on #45375
@mjpytlak All good - 2575 was closed as a duplicate of https://github.com/openshift/openshift-docs/pull/51790.

[2022-10-25 19:07] MattSecaur opened #52167 "[enterprise-4.9] Issue in file backup_and_restore/graceful-cluster-shutdown.adoc"
### Which section(s) is the issue in?
Shutting Down the Cluster  -> procedure -> Step 2

### What needs fixing?
The step here for shutting down the nodes is either wrong or requires clarification.
The command is:

$ for node in $(oc get nodes -o jsonpath='{.items[*].metadata.name}'); do oc debug node/${node} -- chroot /host shutdown -h 1; done

This command could very well be run on the masters be

[2022-10-25 19:53] kalexand-rh commented on #50964
test

[2022-10-25 19:54] kalexand-rh commented on #50964
test

[2022-10-26 14:03] obrown1205 commented on #52123
/assign obrown1205

[2022-10-26 19:14] aireilly commented on #49692
Fixed in https://github.com/openshift/openshift-docs/pull/51503

[2022-10-27 11:32] aireilly commented on #48820
Addressed in https://github.com/openshift/openshift-docs/pull/49805

[2022-10-27 11:33] aireilly commented on #48723
Addressed in https://github.com/openshift/openshift-docs/pull/49805

[2022-10-27 11:33] aireilly commented on #48723
Addressed in https://github.com/openshift/openshift-docs/pull/49805

[2022-10-27 11:38] aireilly commented on #48704
/assign aireilly

[2022-10-27 11:38] aireilly commented on #48704
/label telco

[2022-10-27 11:38] aireilly commented on #48704
Addressed in https://github.com/openshift/openshift-docs/pull/49805

[2022-10-27 11:43] aireilly commented on #40438
/label telco

[2022-10-27 16:47] skrthomas commented on #50305
PR merged!

[2022-10-27 16:47] #50305 closed

[2022-10-27 19:30] rhgpereira opened #52245 "[enterprise-4.8] Issue in file updating/index.adoc"
### Which section(s) is the issue in?

Updating clusters overview (https://docs.openshift.com/container-platform/4.8/updating/index.html)

### What needs fixing?

Add a new section in OCP 4.8 upgrade warning users of the need to review the need to ensure their OCS storage operator is +- 1 version and only then they can upgrade. So, if OCS operator is 4.6.15 they cannot upgrade to 4.9 till ons oper

[2022-10-28 13:33] nickcmaynard opened #52259 "[online] Issue in file rosa_architecture/rosa_policy_service_definition/rosa-policy-process-security.adoc"
### Which section(s) is the issue in?

Compliance

### What needs fixing?

No information on how to gain copies of these certificates.  This needs adding.

[2022-10-28 14:44] demon86rm opened #52261 "[enterprise-4.11] Issue in file backup_and_restore/application_backup_and_restore/installing/installing-oadp-azure.adoc"
### Which section(s) is the issue in?

Enabling CSI in the DataProtectionApplication CR

### What needs fixing?

In the YAML example, the featureFlags part with EnableCSI should be under spec.configuration.velero instead of spec.configuration.
If applied under spec.configuration, the featureFlags scope will disappear like any non-valid configuration.

This is the YAML manifest of a dpa reconciled

[2022-10-28 14:51] demon86rm commented on #52261
Sorry, didn't see that it was already opened

[2022-10-28 14:51] #52261 closed

[2022-10-30 06:59] aladrocMatiner opened #52284 "[enterprise-4.11] Issue in file networking/configuring_ingress_cluster_traffic/configuring-ingress-cluster-traffic-load-balancer.adoc"
### Which section(s) is the issue in?

Hej I try the command oc new-app nodejs:12~https://github.com/sclorg/nodejs-ex.git and does not work straight

### What needs fixing?

[2022-10-31 00:01] #45707 closed

[2022-10-31 08:58] xenolinux commented on #51366
@AdamPeabody Would you please provide more details on the bug? Details such as
1. Which permissions do not match up with the Vcenter GUI?
2. Doc link.
3. What kind of permissions do we need to list for the Vcenter GUI?

[2022-10-31 10:40] saurabhsadhale opened #52290 "[enterprise-4.11] Issue in file logging/cluster-logging-loki.adoc"
The Documentation around Deploying LokiStack CR requires ClusterLogging stack as well. The yaml defined in the section causes errors to be created due to two main issues.

1) spec.logStore.type is not defined.
2) metadata.name is not defined as "instance"

  apiVersion: logging.openshift.io/v1
  kind: ClusterLogging
  metadata:
    name: cr-lokistack
    namespace: openshift-logging
  spec:
     l

[2022-10-31 10:42] saurabhsadhale commented on #52290
Closing the issue as there is already a JIRA opened.

https://issues.redhat.com/browse/RHDEVDOCS-4520

[2022-10-31 10:42] #52290 closed

[2022-11-01 00:11] gaurav-nelson commented on #52063
@YashasviChaurasia Are you working on this one?

[2022-11-01 04:47] xenolinux commented on #51366
There is insufficient data to proceed with this bug hence, closing this ticket.

[2022-11-01 05:33] jkwek commented on #51366
With all due respect, I would like for us to have more time to respond before closing this, as we had less than a day to respond to your request for more information.

Speaking on behalf of @AdamPeabody, the permissions listed are in the vSphere API, but setting them from the GUI requires translating them from the API name to the GUI name.  Adam is asking if we can also see the GUI names to make i

[2022-11-01 07:21] YashasviChaurasia commented on #52063
Yes , will submit it today.

[2022-11-01 08:01] #46265 closed

[2022-11-01 08:33] coffeegoesincodecomesout opened #52340 "[enterprise-4.11] Issue in file monitoring/configuring-the-monitoring-stack.adoc"
### Which section(s) is the issue in?

Warning
Do not use prometheus or prometheus_replica as key names, because they are reserved and will be overwritten.

### What needs fixing?

Can we add "cluster" as reserved key name?
we have other Red hat products that set "cluster" as an external label and cases where the CU has set the label only for RHACM to overwrite it

[2022-11-01 09:51] xenolinux commented on #51366
I will run this information through SME. I have reopened the ticket. Thanks for reaching out :)

[2022-11-01 14:41] maxwelldb commented on #29551
I see this info already reflected under "Defining parameters for the installation program."

https://docs.openshift.com/container-platform/4.11/installing/installing_openstack/installing-openstack-installer-custom.html#installation-osp-describing-cloud-parameters_installing-openstack-installer-custom

Closing.

[2022-11-01 14:41] #29551 closed

[2022-11-01 18:30] AdamPeabody commented on #51366
@xenolinux What @jkwek said is correct, the permissions you have listed are the permissions as they show for the api.   The issue we had was linking those api permissions to what is displayed in the vcenter console.

[2022-11-02 16:16] peterclauterbach opened #52417 "[enterprise-4.11] Issue in file virt/install/preparing-cluster-for-virt.adoc"
### Which section(s) is the issue in?
Hardware and operating system requirements
https://docs.openshift.com/container-platform/4.11/virt/install/preparing-cluster-for-virt.html#virt-hardware-os-requirements_preparing-cluster-for-virt

bullet point:
Amazon Web Services bare metal instances

### What needs fixing?
please link to the OpenShift Virtualization AWS KCS article.

[2022-11-02 16:24] annelson-rh opened #52418 "[enterprise-3.11] Issue in file install_config/configuring_authentication.adoc"
### Which section(s) is the issue in?
OpenID connect

### What needs fixing?
dead link

the link in this sentence is a 404
You can [configure Red Hat Single Sign-On](https://access.redhat.com/documentation/en-us/red_hat_jboss_middleware_for_openshift/3/html/red_hat_single_sign-on_for_openshift/tutorials) as an OpenID Connect identity provider for OpenShift Container Platform.

[2022-11-03 01:03] ankushmistary commented on #51019
Can we have an update on this?

[2022-11-03 09:13] rbaumgar commented on #45402
/lifecycle frozen

[2022-11-03 10:16] ugiordan opened #52440 "[enterprise-4.11] Issue in file installing/installing_bare_metal_ipi/ipi-install-expanding-the-cluster.adoc"
### Which section(s) is the issue in?
[Replacing a bare-metal control plane node](https://docs.openshift.com/container-platform/4.11/installing/installing_bare_metal_ipi/ipi-install-expanding-the-cluster.html#replacing-a-bare-metal-control-plane-node_ipi-install-expanding)

### What needs fixing?
In the `BareMetalHost` yaml file the `password` and `username` descriptions are reversed.
[code]

It s

[2022-11-03 12:11] midu16 opened #52442 "[enterprise-4.10] Issue in file installing/installing_bare_metal_ipi/ipi-install-installation-workflow.adoc"
### Which section(s) is the issue in?
https://docs.openshift.com/container-platform/4.10/installing/installing_bare_metal_ipi/ipi-install-installation-workflow.html#ipi-install-creating-a-disconnected-registry_ipi-install-installation-workflow

### What needs fixing?
the procedure to create the `ocpdiscon-registry` its missing. in the following documentation all the steps are mention: https://docs

[2022-11-03 13:01] apinnick commented on #52417
Changes merged and cherrypicked

[2022-11-03 13:01] #52417 closed

[2022-11-03 17:48] skopacz1 commented on #52440
/assign skopacz1

[2022-11-03 19:04] garethahealy opened #52476 "[enterprise-4.11] Issue in file logging/cluster-logging-loki.adoc"
### Which section(s) is the issue in?
Enabling vector; example has an incorrect indentation.

### What needs fixing?
docs show:

[code]

should be:

[code]

[2022-11-03 23:23] libander commented on #50537
Duplicate of RHDEVDOCS-4467, done.

[2022-11-03 23:23] libander commented on #50537
/close

[2022-11-03 23:23] #50537 closed

[2022-11-04 00:07] #45320 closed

[2022-11-04 14:12] cbremble commented on #39981
/remove-lifecycle stale

[2022-11-04 14:12] cbremble commented on #40311
/remove-lifecycle stale

[2022-11-04 18:36] subbarao-meduri opened #52507 "[enterprise-4.11] Issue in file monitoring/config-map-reference-for-the-cluster-monitoring-operator.adoc"
### Which section(s) is the issue in?
https://docs.openshift.com/container-platform/4.11/monitoring/config-map-reference-for-the-cluster-monitoring-operator.html#prometheusk8sconfig

### What needs fixing?
Link to [AdditionalAlertmanagerConfig](https://docs.openshift.com/container-platform/4.11/monitoring/additionalalertmanagerconfig) in the table is broken

[2022-11-05 00:01] #45319 closed

[2022-11-05 08:01] #42954 closed

[2022-11-07 12:45] asadawar opened #52534 "[enterprise-4.11] Issue in file nodes/nodes/nodes-sno-worker-nodes.adoc"
### Which section(s) is the issue in?
https://docs.openshift.com/container-platform/4.11/nodes/nodes/nodes-sno-worker-nodes.html#sno-adding-worker-nodes-to-single-node-clusters-manually_add-workers

### What needs fixing?
- After step number 6, the next is missing which gives a command to download the rhcos live iso:

7. Download the RHCOS ISO:

[code]

[2022-11-07 18:12] Simranpal opened #52546 "[online] Issue in file upgrading/rosa-upgrading.adoc"
### Which section(s) is the issue in?

Upgrading a ROSA cluster
https://deploy-preview-41923--osdocs.netlify.app/openshift-rosa/latest/upgrading/rosa-upgrading.html#rosa-sts-upgrading-a-cluster

### What needs fixing?

Duplicate entries for the 3 methods to upgrade Red Hat OpenShift Service on AWS (ROSA) clusters

![Screenshot from 2022-11-07 10-11-18](https://user-images.githubusercontent.com/864

[2022-11-07 18:14] ehsjoar opened #52547 "[enterprise-4.10] Issue in file scalability_and_performance/ztp-deploying-disconnected.adoc"
### Which section(s) is the issue in?
https://docs.openshift.com/container-platform/4.10/scalability_and_performance/ztp-deploying-disconnected.html#ztp-preparing-the-hub-cluster-for-ztp_ztp-deploying-disconnected

### What needs fixing?
Refer to the correct versions. We can't have as a prerequisite to have OCP 4.8 or 4.9 installed in the 4.10 documentation. ACM 2.4 is old (should be 2.5 or 2.6 by

[2022-11-08 03:15] dmc5179 opened #52581 "[enterprise-4.11] Issue in file openshift_images/samples-operator-alt-registry.adoc"
### Which section(s) is the issue in?

Using Cluster Samples Operator image streams with alternate or mirrored registries

### What needs fixing?

The command listed in the docs to find the images is:
[code]

Many of the images used by the samples operator are not hosted on registry.redhat.io. Some images are hosted on quay.io and some are on registry.access.redhat.com. Using the steps in the docs

[2022-11-08 03:18] dmc5179 commented on #52581
The command could be updated to something like:

[code]

[2022-11-08 08:35] ndox opened #52584 "[enterprise-4.11] Issue in file machine_management/user_infra/adding-compute-user-infra-general.adoc"
### Which section(s) is the issue in?
https://docs.openshift.com/container-platform/4.11/machine_management//user_infra/adding-compute-user-infra-general.html#adding-compute-user-infra-general

All sub-sections

### What needs fixing?
All chapters have broken url links. For exemple https://docs.openshift.com/container-platform/4.11/machine_management/installing/installing_azure/installing-azure-us

[2022-11-08 14:52] David-Igou opened #52600 "Reference to nonexistant section in most UPI docs"
### Which section(s) is the issue in?

UPI Installation sections

### What needs fixing?

As a user when I open most of UPI docs, under the `User-provisioned DNS requirements` (https://docs.openshift.com/container-platform/4.10/installing/installing_vsphere/installing-vsphere-network-customizations.html#installation-dns-user-infra_installing-vsphere-network-customizations) section, there is a refe

[2022-11-08 18:18] afcollins opened #52610 "[enterprise-4.11] Issue in file scalability_and_performance/planning-your-environment-according-to-object-maximums.adoc"
### Which section(s) is the issue in?
"How to plan your environment according to application requirements" code snippet.

### What needs fixing?
service .spec.portalIP was renamed to clusterIP in 2015. We should update the documentation to remove this deprecated field.

[2022-11-09 06:19] therevoman opened #52619 "[enterprise-4.11] Issue in file networking/ovn_kubernetes_network_provider/configuring-hybrid-networking.adoc"
### Which section(s) is the issue in?
Troubleshooting

### What needs fixing?
As of OpenShift 4.11 it appears there are two api-resources named `networks`.   To verify hybrid networking is configured the full api-resource name needs to be referenced.  This is helpful troubleshooting information for determining if hybridnetworking was configured or not.

`oc get networks.operator.openshift.io -o ya

[2022-11-09 15:15] skopacz1 commented on #52546
Closing this issue because the [live documentation](https://docs.openshift.com/rosa/upgrading/rosa-upgrading.html#rosa-sts-upgrading-a-cluster) no longer has the duplicate bullet list. It seems that the error was removed as part of #44907

Feel free to open another ticket if you have further concerns! Thanks

[2022-11-09 15:15] skopacz1 commented on #52546
/close

[2022-11-09 15:16] #52546 closed

[2022-11-09 15:50] skopacz1 commented on #52610
/assign skopacz1

[2022-11-09 16:01] skopacz1 commented on #52534
/assign skopacz1

[2022-11-09 17:40] mistergareth opened #52639 "[enterprise-4.11] Issue in file support/troubleshooting/troubleshooting-network-issues.adoc"
### Which section(s) is the issue in?
The sample machine config to override the network interface for kubelet

Why is the ignition version parameter set to "3.1.0" instead of "3.2.0" in the docs for OCP 4.11?

The 4.11 docs use "version: 3.1.0" when, for example, the 4.7 docs specify using "version: 3.2.0".
Is this a typo? Or is it intended? And what is the risk or potential impact if someone spec

[2022-11-09 18:22] cbremble commented on #42020
/remove-lifecycle stale

[2022-11-09 18:23] cbremble commented on #44965
This was done via this PR: [openshift/openshift-docs#44965: [enterprise-4.10] Issue in file logging/cluster-logging-release-notes.adoc](https://github.com/openshift/openshift-docs/issues/44965)

/close

[2022-11-09 18:23] cbremble commented on #44965
/close

[2022-11-09 18:23] #44965 closed

[2022-11-09 18:24] cbremble commented on #41971
/remove-lifecycle stale

[2022-11-09 21:33] ceanders opened #52653 "[enterprise-4.11] Issue in file release_notes/ocp-4-11-release-notes.adoc"
### Which section(s) is the issue in?

Release notes and Adding a RHEL compute node

### What needs fixing?

It is my understanding that OpenShift 4.11 is actually tested with RHEL 8.6 worker nodes, but the documentation only states RHEL 8.4 and 8.5 as supported versions of RHEL for worker nodes as follows:

And also in the section "https://docs.openshift.com/container-platform/4.11/machine_manage

[2022-11-09 22:50] bburt-rh commented on #44324
/remove-lifecycle stale

[2022-11-10 04:50] vgri opened #52658 "[enterprise-4.11] Issue in file release_notes/ocp-4-11-release-notes.adoc"
### Which section(s) is the issue in?
Bug fixes -> Monitoring

### What needs fixing?
This all section appears twice as a separated bug fixes (with only one word different Therefore/Thus):

Before this update, for user workload monitoring, if you configured external labels for metrics in Prometheus, the CMO did not correctly propagate these labels to Thanos Ruler. If you queried external metrics f

[2022-11-10 08:01] gittihub123 opened #52660 "[Enterprise-4.10]Install elasticsearch operator in multiple namespaces, permission denied"
### Which section(s) is the issue in?
[Openshift 4.10 -> operators -> admin -> olm-adding-operators-to-cluster](https://docs.openshift.com/container-platform/4.10/operators/admin/olm-adding-operators-to-cluster.html)

### What needs fixing?
Following the guide doesn't describe how to install operators in multiple namespaces, only single or all namespace.

### Description

Hi,
I'm trying to install

[2022-11-10 12:54] #52440 closed

[2022-11-10 16:29] skopacz1 commented on #52658
/assign skopacz1

[2022-11-10 18:00] #52610 closed

[2022-11-11 13:56] skopacz1 commented on #52658
/close

[2022-11-11 13:56] #52658 closed

[2022-11-12 08:00] #46644 closed

[2022-11-13 08:00] #46713 closed

[2022-11-14 00:00] #46747 closed

[2022-11-14 09:15] gittihub123 commented on #52660
Hello,
Any update?

[2022-11-14 15:27] cbremble commented on #46565
/remove-lifecycle stale

[2022-11-14 19:22] #52534 closed

[2022-11-14 21:08] cbremble commented on #51817
@obrown1205 hey there! Can this issue be closed? Looks like the PR you associated with it merged, but wanted to check. Thank you!

[2022-11-14 21:13] cbremble commented on #52476
/label logging

[2022-11-14 21:14] cbremble commented on #52476
/label dev-tools

[2022-11-14 21:26] bburt-rh commented on #52340
This would apply to the warning on this page: https://docs.openshift.com/container-platform/4.11/monitoring/configuring-the-monitoring-stack.html#attaching-additional-labels-to-your-time-series-and-alerts_configuring-the-monitoring-stack

[2022-11-14 21:31] cbremble commented on #52507
Added to Jira: [RHDEVDOCS-4735](https://issues.redhat.com/browse/RHDEVDOCS-4735)

[2022-11-14 21:32] libander commented on #52476
/label dev-tools

[2022-11-14 21:58] #49561 closed

[2022-11-15 08:01] #44554 closed

[2022-11-15 08:35] jan--f commented on #52340
Which products set the cluster label? I'm not sure calling this out in the OCP documentation is ideal, since it might not impact many customers. Also some customers might already use this label without issue.
Maybe RHACM and the respective products would be better of using a more explicit label name? Say `rhacm_cluster` or similar?
cc @simonpasquier wdyt?

[2022-11-15 09:16] simonpasquier commented on #52340
Regarding `prometheus` or `prometheus_replica` labels, it could be handled by the cluster monitoring operator too (e.g. fail the reconciliation if they are defined by the user). I agree that other labels like `cluster` should be handled by each product (either code or documentation).

[2022-11-15 09:33] coffeegoesincodecomesout commented on #52340
perhaps that is now happening for ACM -

https://bugzilla.redhat.com/show_bug.cgi?id=2122244

[2022-11-15 09:54] yrro commented on #45793
/remove-lifecycle stale
/lifecycle frozen

[2022-11-15 14:46] #45754 closed

[2022-11-15 20:39] skopacz1 commented on #52245
/assign skopacz1

[2022-11-16 00:02] #46827 closed

[2022-11-16 09:35] apinnick commented on #48661
@RichardHoch  Has this issue been triaged for OADP?

Tagging @dymurray @cwilkers

[2022-11-16 10:26] RichardHoch commented on #48661
@dymurray This item seems vaguely familiar but I can't find a Jira assigned to me about it. If you need to create a new Jira, please assign it to Anjana so we can triage it.
Thanks for the head's up, @apinnick.

[2022-11-16 10:42] lautou commented on #51019
Hi could you have an update of this?

[2022-11-16 12:21] parogui opened #52850 "[enterprise-4.11] Issue in file storage/container_storage_interface/persistent-storage-csi-azure-file.adoc"
### Which section(s) is the issue in?

https://docs.openshift.com/container-platform/4.11/storage/container_storage_interface/persistent-storage-csi-azure-file.html

### What needs fixing?

It does not contain usage information nor supported features of the CSI driver on the documentation.

For example, there's no mention of the SMB feature nor information on its configuration.

That is available

[2022-11-16 14:28] flozanorht commented on #49224
/remove-lifecycle stale

[2022-11-16 15:51] yrro commented on #48884
/remove-lifecycle stale
/lifecycle frozen

[2022-11-16 18:32] bburt-rh commented on #52340
@jan--f @simonpasquier What's your opinion? Does this content need to be added to the core monitoring docs? Or maybe it'd be better in a KCS article?

[2022-11-16 18:49] cwilkers commented on #48661
I may have been tagged due to this blog: https://cloud.redhat.com/blog/disaster-recovery-of-virtual-machines-within-openshift . The missing pieces in the documentation are:

* creation of a noobaa bucket for backups (as mentioned)
* creation of a secret to use in the backupStorageLocation

[2022-11-16 20:39] lbrigman124 opened #52913 "OKD - references to Redhat subscriptions for network tracing"
### Which section(s) is the issue in?
https://docs.okd.io/latest/support/gathering-cluster-data.html#support-collecting-network-trace_gathering-cluster-data

### What needs fixing?
Reference to Redhat subscriptions and Redhat portal accounts.

Also on the same base page are references to a network troubleshooting image
registry.redhat.io/openshift4/network-tools-rhel8:latest
This requires an accou

[2022-11-17 00:01] #41134 closed

[2022-11-17 01:54] faldanarh opened #52915 "[online] Issue in file rosa_architecture/rosa_policy_service_definition/rosa-policy-understand-availability.adoc"
### Which section(s) is the issue in?
In the 'Cluster failure' section.

### What needs fixing?
It says:

"ROSA clusters have at least three control plane nodes and three infrastructure nodes that are preconfigured for high availability, either in a single zone or across multiple zones, depending on the type of cluster you have selected.",

which is not correct, as in 'Single Zone', by default onl

[2022-11-17 05:26] faldanarh commented on #49284
/lifecycle

[2022-11-17 05:28] faldanarh commented on #48138
/remove-lifecycle stale

[2022-11-17 05:29] faldanarh commented on #49284
/remove-lifecycle stale

[2022-11-17 07:45] xenolinux commented on #51366
@AdamPeabody the PR is created to update the vCenter ui permissions https://github.com/openshift/openshift-docs/pull/52846

[2022-11-17 10:01] kborup-redhat opened #52918 "[enterprise-4.11] Issue in file networking/network_policy/multitenant-network-policy.adoc"
### Which section(s) is the issue in?
Network policy multi tenant

### What needs fixing?
From
[code]

To the following due to validation in helm / argo / Openshift gitops

[code]

[2022-11-17 12:13] thomaswoeckinger opened #52922 "HAProxy router option persist"
### Which section(s) is the issue in?
Modules, Network route specific annotations

### What needs fixing?
Documentation for option persist added by pull request https://github.com/openshift/router/pull/420

[2022-11-17 12:55] vagnerfarias opened #52926 "[enterprise-4.11] Issue in file machine_management/applying-autoscaling.adoc"
### Which section(s) is the issue in?
Configuring the machine autoscalers (https://docs.openshift.com/container-platform/4.11/machine_management/applying-autoscaling.html#configuring-machineautoscaler)

### What needs fixing?
The note in this section refers to *regions* while I believe it should be referring to *availability zones* instead. Where it reads:

It should be:

[2022-11-17 14:40] jan--f commented on #52340
A KCS article hardly ever a bad idea. I think this should however _not_ be included in the OCP Monitoring docs. From CMO's perspective using the `cluster` label is benign. CMO doesn't reserve it so it shouldn't have an opinion on it. If other components clash with ACM or similar systems this should be raised as a bug on those components and the ACM documentation should mention that using the `clus

[2022-11-17 15:22] testlaben opened #52931 "[enterprise-4.11] New feature in install-config is poorly explained, and causes new clusters to miss expected features"
### Which section(s) is the issue in?
https://docs.openshift.com/container-platform/4.11//installing/installing_platform_agnostic/installing-platform-agnostic.html#installation-bare-metal-config-yaml_installing-platform-agnostic

At the bottom of 4.11 install-config, there is a `capabilities:` snippet. As it is printed in the sample, this will disable openshift-marketplace, and thus the operatorhu

[2022-11-17 19:22] bcarr-rh opened #52955 "[enterprise-4.11] Issue in file authentication/using-service-accounts-as-oauth-client.adoc"
### Which section(s) is the issue in?
Service accounts as OAuth clients

### What needs fixing?
oc sa get-token <service_account_name>, oc sa is deprecated an no longer works

[2022-11-17 22:24] bburt-rh commented on #52340
@coffeegoesincodecomesout What do you think of the idea of a KCS article? If you agree that that's the direction to go with this issue, then could you please close this? If not, can you provide some arguments in response to the points from @jan--f , whom I agree with (I'm the docs person for OCP monitoring).

[2022-11-17 23:32] adamjrat opened #52970 "[enterprise-4.11] Issue in file operators/understanding/olm-packaging-format.adoc"
yq is not available on some systems

[2022-11-18 00:00] #44884 closed

[2022-11-18 13:24] sheriff-rh commented on #48197
/close

[2022-11-18 13:25] #48197 closed

[2022-11-19 00:00] #46860 closed

[2022-11-20 08:01] #42832 closed

[2022-11-20 15:30] hbelmiro opened #53021 "[enterprise-4.9] Issue in file distr_tracing/distr_tracing_install/distr-tracing-installing.adoc"
### Which section(s) is the issue in?
* [distributing tracing platform](https://docs.openshift.com/container-platform/4.9/distr_tracing/distr_tracing_install/distr-tracing-installing.html#distr-tracing-jaeger-operator-install_install-distributed-tracing)
* [Installing the Red Hat OpenShift distributed tracing data collection Operator] https://docs.openshift.com/container-platform/4.9/distr_tracing

[2022-11-21 00:00] #45905 closed

[2022-11-21 07:45] xenolinux commented on #51366
The PR is merged and changes are live hence closing this issue

[2022-11-21 07:45] #51366 closed

[2022-11-21 09:31] skachhwa opened #53024 "[enterprise-4.10] Issue in file security/compliance_operator/compliance-operator-raw-results.adoc"
### Which section(s) is the issue in?
Step 2: Verify the raw data location by using the name and namespace of one of the results
pvc in the command is incorrect
oc get pvc -n openshift-compliance **rhcos4-moderate-worker**

### What needs fixing?
Based on the output from Step1,
it should be either nist-moderate-modified-worker, nist-moderate-modified-master or ocp4-moderate

I personally tested th

[2022-11-21 11:18] bweidenb opened #53025 "[enterprise-4.10] Issue in file scalability_and_performance/ztp-deploying-disconnected.adoc"
### Which section(s) is the issue in?
https://docs.openshift.com/container-platform/4.11/scalability_and_performance/ztp-deploying-disconnected.html
dropdown in top row navigation -
[Documentation](https://docs.openshift.com/)  OpenShift Container Platform                4.11

### What needs fixing?
Recently getting a  404
https://docs.openshift.com/container-platform/4.11/scalability_and_performa

[2022-11-21 12:08] maulik-modi22 opened #53028 "[enterprise-4.11] Issue in file installing/installing_aws/installing-aws-user-infra.adoc"
### Which section(s) is the issue in?
Minimum resource requirements for cluster installation

### What needs fixing?
On AWS Cloud, there are two flavours of block storages -
1. one that scales IOPS based on storage provisioned - GP2
2. one that has fixed IOPS irrespective of storage provisioned (https://aws.amazon.com/ebs/volume-types/) - GP3

[2022-11-21 13:55] obrown1205 commented on #51817
Thanks, @cbremble ! I don't have permission to close. @alanconway are you able to close this issue? Do you have any outstanding questions or concerns? Thanks!

[2022-11-21 15:19] patrickstrick opened #53034 "[enterprise-4.11] Issue in file operators/understanding/olm-rh-catalogs.adoc"
### Which section(s) is the issue in?

https://docs.openshift.com/container-platform/4.11/operators/understanding/olm-rh-catalogs.html#olm-rh-catalogs_olm-rh-catalogs

### What needs fixing?

In "community-operators" row of the table, the Description has a link to an apparently obsolete GitHub repo ([operator-framework/community-operators](https://github.com/operator-framework/community-operators)

[2022-11-21 17:01] bburt-rh commented on #52340
@coffeegoesincodecomesout Can you please respond to the comment by @jan--f ?

[2022-11-22 00:01] #47003 closed

[2022-11-22 04:31] sounix000 commented on #37426
/remove-lifecycle stale

[2022-11-22 14:11] #51817 closed

[2022-11-22 18:09] mdalley opened #53106 "[dedicated] Issue in file dev_guide/deployments/advanced_deployment_strategies.adoc"
### Which section(s) is the issue in?
https://docs.openshift.com/container-platform/3.11/dev_guide/deployments/advanced_deployment_strategies.html#advanced-deployment-strategies-blue-green-deployments-example
-> Using a Route and Two Services

### What needs fixing?
The example paragraph presents stable version as "green" and the new version as "blue".
It creates a conflict of generally accepted t

[2022-11-22 18:45] cbremble commented on #51419
I believe this was fixed with https://issues.redhat.com/browse/RHDEVDOCS-4405. @libander can you confirm? The example refers to 5.1 but the actual instructions explain further.

[2022-11-22 18:47] cbremble commented on #52476
@libander can you take a look and see if this is something you can fix easily?

[2022-11-22 21:11] bgaydosrh commented on #39890
Resolving in: https://github.com/openshift/openshift-docs/pull/53118.

@jpeimer - Please close this issue when resolved to your satisfaction, I cannot close GH issues.
Thanks
Bob

[2022-11-23 00:37] christianh814 commented on #41035
/remove-lifecycle stale

[2022-11-23 00:59] florianmoss opened #53121 "[enterprise-4.11] Issue in file cicd/gitops/installing-openshift-gitops.adoc"
### Which section(s) is the issue in?
The documentation calls the file sub.yaml in the section "Installing OpenShift GitOps Operator using CLI" under section (1).

In section (2) the file is called openshift-gitops-sub.yaml though.

### What needs fixing?
For consistency sake I would change both to "openshift-gitops-sub.yaml"

[2022-11-23 08:36] jpeimer commented on #39890
Closing the issue as it's being resolved in https://github.com/openshift/openshift-docs/pull/53118

[2022-11-23 08:36] #39890 closed

[2022-11-23 11:11] apinnick commented on #49531
@RichardHoch

[2022-11-23 13:12] bergerhoffer commented on #41954
/remove-lifecycle stale

[2022-11-23 15:42] martineg opened #53144 "[enterprise-4.11] Issue in file machine_management/creating-infrastructure-machinesets.adoc"
### Which section(s) is the issue in?

Moving the router

### What needs fixing?

In the section _Moving the router_ the example spec for updating the ingresscontroller has a wrong intendation.

The example given lists
[code]

while the `tolerations` field should be under the `nodePlacement` field as described by `oc explain ingresscontrollers.spec.nodePlacement`. The correct example should be

[c

[2022-11-24 06:29] pjwebster opened #53153 "[enterprise-4.10] Issue in file backup_and_restore/control_plane_backup_and_restore/disaster_recovery/scenario-2-restoring-cluster-state.adoc"
### Which section(s) is the issue in?

Restoring to a previous cluster state

### What needs fixing?

The process describes restoring an etcd backup. Assuming the process for taking the backup in the first place was followed from https://docs.openshift.com/container-platform/4.10/backup_and_restore/control_plane_backup_and_restore/backing-up-etcd.html the backup was stored in '/home/core/assets/ba

[2022-11-24 06:29] pjwebster commented on #53153
https://docs.openshift.com/container-platform/4.10/backup_and_restore/control_plane_backup_and_restore/disaster_recovery/scenario-2-restoring-cluster-state.html#dr-scenario-2-restoring-cluster-state_dr-restoring-cluster-state is the live documentation in question

[2022-11-24 06:42] pjwebster opened #53154 "[enterprise-4.10] Issue in file backup_and_restore/control_plane_backup_and_restore/disaster_recovery/scenario-2-restoring-cluster-state.adoc"
### Which section(s) is the issue in?

https://docs.openshift.com/container-platform/4.10/backup_and_restore/control_plane_backup_and_restore/disaster_recovery/scenario-2-restoring-cluster-state.html#dr-scenario-2-restoring-cluster-state_dr-restoring-cluster-state

Step 10. Approve the pending CSRs

### What needs fixing?

This step asks to:
a. get a list of current CSRs
b. review details of a CSR

[2022-11-24 06:50] pjwebster opened #53155 "[enterprise-4.10] Issue in file backup_and_restore/control_plane_backup_and_restore/disaster_recovery/scenario-2-restoring-cluster-state.adoc"
### Which section(s) is the issue in?

https://docs.openshift.com/container-platform/4.10/backup_and_restore/control_plane_backup_and_restore/disaster_recovery/scenario-2-restoring-cluster-state.html#dr-scenario-2-restoring-cluster-state_dr-restoring-cluster-state

Step 11.c.

### What needs fixing?

Step 11. Verify that the single member control plane has started successfully.

This step checks t

[2022-11-24 07:00] pjwebster opened #53156 "[enterprise-4.10] Issue in file backup_and_restore/control_plane_backup_and_restore/disaster_recovery/scenario-2-restoring-cluster-state.adoc"
### Which section(s) is the issue in?

https://docs.openshift.com/container-platform/4.10/backup_and_restore/control_plane_backup_and_restore/disaster_recovery/scenario-2-restoring-cluster-state.html#dr-scenario-2-restoring-cluster-state_dr-restoring-cluster-state

Step 13 Delete and recreate other non-recovery, control plane machines, one by one. After these machines are recreated, a new revision

[2022-11-24 08:39] parogui commented on #49487
/remove-lifecycle stale

[2022-11-24 22:03] florianmoss opened #53169 "[enterprise-4.11] Issue in file cicd/gitops/configuring-sso-for-argo-cd-using-keycloak.adoc"
### Which section(s) is the issue in?
"Logging into Keycloak"

It mentions several time:
oc -n argocd get route keycloak

### What needs fixing?
The namespace should be openshift-gitops and not argocd.

Fixed commands should look therefore like this:
oc -n openshift-gitops get route keycloak

[2022-11-28 00:00] #44031 closed

[2022-11-28 04:25] B0ndo2 opened #53186 "[enterprise-4.10] Issue in file openshift_images/using-templates.adoc"
### Which section(s) is the issue in?
Creating an application by using the web console

### What needs fixing?
There is no "Add to Project" in the console in 4.10
it is "+Add"

[2022-11-28 09:00] mauroseb commented on #51419
Hi @cbremble,

I still see stable-5.1 in the docs:
https://docs.openshift.com/container-platform/4.11/logging/cluster-logging-deploying.html#cluster-logging-deploy-cli_cluster-logging-deploying
CLI Deployment, Step 3.c.

Also "stable" should work as indicated in the note following the example with 5.1.

[2022-11-28 09:24] schaertelr opened #53200 "[rhacs-docs-3.72] Issue in file installing/prerequisites.adoc"
### Which section(s) is the issue in?
Installation prerequisites

### What needs fixing?
It needs to be explained what the resource request vs limits is in hardware requirements. If I plan to calculate how many CPUs and RAM I need, it is not clear which value to use - request or limits.
Further, is CPU the physical CPU? in some documents (like the OpenShift one*) we explain it, like this is withou

[2022-11-28 14:16] bergerhoffer commented on #32137
Closing this since the effort is being tracked via https://issues.redhat.com/browse/OCPBUGS-590.

[2022-11-28 14:16] #32137 closed

[2022-11-29 11:27] cgoncalves opened #53267 "[enterprise-4.12] Issue in file installing/installing_with_agent_based_installer/installing-with-agent-based-installer.adoc"
### Which section(s) is the issue in?

The link syntax in section "Installing OpenShift Container Platform with the Agent-based Installer" is broken:

### What needs fixing?

The link syntax should be fixed.

[2022-11-29 12:30] dominikholler opened #53271 "[enterprise-4.11] Issue in file virt/virtual_machines/advanced_vm_management/virt-automating-management-tasks.adoc"
### Which section(s) is the issue in?

Documentation[ OpenShift Container Platform ](https://docs.openshift.com/container-platform/4.11/welcome/index.html)[Virtualization](https://docs.openshift.com/container-platform/4.11/virt/virtual_machines/virt/about-virt.html) Automating management tasks

### What needs fixing?

This whole section "Automating management tasks" is not supported and should be

[2022-11-29 12:41] cgoncalves commented on #53267
Amrita informed me over Slack that the link will be replaced with a link to the console soon and referred me to https://issues.redhat.com/browse/OCPBUGS-3211. Closing this issue.

[2022-11-29 12:41] #53267 closed

[2022-11-29 17:47] binnes opened #53296 "OKD Updating clusters section needs to be updated"
### Which section(s) is the issue in?
**Understanding upgrade channels** and generally the **Updating clusters** section

### What needs fixing?
The docs nees to be updated to explain OKD only has a single update channel and fixes aren't back ported to previous minor releases.  The docs are the OCP docs, where OCP has multiple release channels

/assign @mburke5678

[2022-11-29 18:54] cbandy commented on #51082
Seems to have been incorrect for a very long time:
- #13120

[2022-11-30 04:39] avyas26 commented on #49789
/remove-lifecycle-stale

[2022-11-30 14:49] #53271 closed

[2022-11-30 20:33] filiy opened #53346 "[enterprise-4.11] Issue in file installing/installing_azure_stack_hub/installing-azure-stack-hub-default.adoc"
### Which section(s) is the issue in?

Under `Manually manage cloud credentials`

`4. Create YAML files for secrets in the openshift-install manifests directory that you generated previously. The secrets must be stored using the namespace and secret name defined in the spec.secretRef for each CredentialsRequest object. The format for the secret data varies for each cloud provider.`

This is very v

[2022-11-30 20:40] filiy opened #53347 "[enterprise-4.11] Issue in file installing/installing_azure_stack_hub/installing-azure-stack-hub-network-customizations.adoc"
### Which section(s) is the issue in?

`Additional Azure Stack Hub configuration parameters` and `platform.azure.resourceGroupName`

### What needs fixing?

The documentation doesn't say this Resource Group needs to be empty. If it's not the cluster install will fail.

This is called out in the Azure install documentation:

https://docs.openshift.com/container-platform/4.11/installing/installing_a