[2021-03-11 16:02] mburke5678 commented on #29702
@adduarte Thanks for catching this. Please see the change at https://github.com/openshift/openshift-docs/pull/30356

[2021-03-11 16:20] mburke5678 commented on #29460
@esimim Thanks for this issue. Taints and tolerations have confused me since I started at Red Hat! I think it should say _Here, if this pod is running and it does have a matching **toleration**, the pod stays bound..._

If the pod doesn't have a matching toleration, the NoExecute parameter it gets removed.

The point of the text is to demonstrate the tolerationSeconds parameter and that it delays

[2021-03-11 16:55] mburke5678 commented on #29460
PR for changing taint to toleration: https://github.com/openshift/openshift-docs/pull/30359

[2021-03-11 21:00] maxwelldb opened #30363 "d.o.c. styling results in doubled admonition titles on screenreaders"
### Which section(s) is the issue in?

As an example: https://docs.openshift.com/container-platform/4.7/installing/installing_aws/installing-aws-account.html#installation-aws-route53_installing-aws-account

### What needs fixing?

Using Orca, I found that admonition titles are read twice--"note, note."

I think that the solution is some combo of `alt`, `aria-hidden`, and rejiggering the existing C

[2021-03-11 21:01] hupiper opened #30364 "[enterprise-4.7] Issue in file cicd/pipelines/understanding-openshift-pipelines.adoc"
### Which section(s) is the issue in?
https://docs.openshift.com/container-platform/4.7/cicd/pipelines/understanding-openshift-pipelines.html#about-tasks_understanding-openshift-pipelines

### What needs fixing?
This verbiage was cut and paste from a different version/doc, and is not relevant here.

The doc says: This Task starts the pod and runs a container inside that pod using the maven:3.6.0-j

[2021-03-11 23:38] vap0rtranz commented on #29961
Can it be made clearer that the RHV IPI method can (or cannot) use the same/similar method OSP uses for disconnected?

https://github.com/openshift/installer/blob/release-4.7/docs/dev/openstack/customization.md

[2021-03-12 07:53] lautou commented on #28191
Hi any update for this ticket?

[2021-03-12 10:37] rolfedh commented on #30180
See https://english.stackexchange.com/questions/397384/symbols-for-yes-and-no-in-formal-english-writing
This issue refers to welcome/oke_about.adoc

[2021-03-12 10:50] rolfedh commented on #30180
Updated the tables in two files. Replaced X with Yes so they are like other tables in:
- modules/recommended-configurable-storage-technology.adoc
- modules/serverless-workflow-traffic-splitting-flags.adoc

[2021-03-12 11:03] rolfedh commented on #30180
Thank you for raising this issue, @MarsForever. I have submitted a fix for review.

[2021-03-12 12:36] rolfedh commented on #30062
Hi @kelly-brown. Thanks for reporting this issue. To make sure I understand, it sounds like you're referring to this [Enabling imagestreams with Kubernetes resources](https://docs.openshift.com/container-platform/4.7/openshift_images/using-imagestreams-with-kube-resources.html#images-managing-images-enabling-imagestreams-kube_using-imagestreams-with-kube-resources) topic.

[2021-03-12 13:04] rolfedh commented on #29973
Hi @esimim. Thanks for your feedback. To make sure I understand, you're referring to the following topic: https://docs.openshift.com/container-platform/4.7/authentication/managing-security-context-constraints.html#admission_configuring-internal-oauth

And the comparison you're making refers to these topics (probably among others):
- https://kubernetes.io/docs/concepts/policy/pod-security-policy/#e

[2021-03-12 13:10] yrro commented on #27741
/remove-lifecycle-stale

[2021-03-12 13:10] yrro commented on #27741
/remove-lifecycle stale

[2021-03-12 13:20] mburke5678 commented on #29460
@esimim   Closing this issue as fixed. Please let me know if this doesn't address your concerns.

[2021-03-12 14:53] codyhoag commented on #28191
@staebler do you have any guidance on what we could include in the [vSphere IPI prereqs](https://docs.openshift.com/container-platform/4.7/installing/installing_vsphere/installing-vsphere-installer-provisioned-customizations.html#prerequisites) section for the resource pool selected by the installer?

[2021-03-12 14:58] rolfedh commented on #30180
Hello, @MarsForever. @codyhoag has reviewed and merged the issue. The fix should show up in our published documentation, [such as this topic](https://docs.openshift.com/container-platform/4.7/welcome/oke_about.html), within a day.

[2021-03-12 21:01] christianh814 opened #30414 "[enterprise-4.7] Issue in file authentication/identity_providers/configuring-github-identity-provider.adoc"
### Which section(s) is the issue in?
https://docs.openshift.com/container-platform/4.7/authentication/identity_providers/configuring-github-identity-provider.html#identity-provider-creating-configmap_configuring-github-identity-provider

### What needs fixing?

It should be noted that this section should say "This step only needs to be done if you're using an on-prem installation of GitHub"

[2021-03-12 22:39] vrutkovs commented on #27053
/lifecycle frozen

[2021-03-12 22:42] #22268 closed

[2021-03-12 22:52] rolfedh commented on #30364
Thanks for reporting this issue, @hupiper. I've submitted a PR to resolve this issue. How does this change look to you?

[2021-03-13 00:51] MarsForever commented on #30180
@rolfedh Thanks for fixing it.

[2021-03-13 01:48] rolfedh commented on #30180
/close

[2021-03-13 01:49] rolfedh commented on #30180
Hi, @codyhoag. Would you close this issue for me? Thanks.

[2021-03-13 04:00] hashnao opened #30427 "[enterprise-4.7] Issue in file nodes/scheduling/nodes-scheduler-taints-tolerations.adoc"
### Which section(s) is the issue in?
Understanding evicting pods by condition (taint-based evictions)

### What needs fixing?
1. Replace `tolerationsSeconds` with `tolerationSeconds` in the following sentence.
Taint Based Evictions have ..., unless the pod uses the tolerationsSeconds parameter.
Taint Based Evictions have ..., unless the pod uses the tolerationSeconds parameter.

2. Replace `toler

[2021-03-13 10:51] rolfedh commented on #30427
Thanks for reporting this issue, @hashnao. I have created a pull request to fix it that will most likely be merged on Monday.

[2021-03-13 12:23] rolfedh commented on #30355
Thanks for reporting this issue, @sinicis. I've created a PR to fix it that is now being reviewed.

[2021-03-13 12:32] rolfedh commented on #30344
Thanks for reporting this, @r2d2rnd. Please review the PR and mark it `/lgtm`.

[2021-03-13 12:32] rolfedh commented on #30344
https://github.com/openshift/openshift-docs/pull/30429

[2021-03-13 13:57] rolfedh commented on #30343
Thanks for reporting this issue, @r2d2rnd. There is no need to create multiple reports for the same issue in different releases of the documentation. For something like this, we typically fix the issue in the master branch and then cherry-pick the fix to multiple release branches. Please comment `/close` to close this issue.

[2021-03-13 13:57] r2d2rnd commented on #30344
/lgtm

[2021-03-13 14:00] r2d2rnd commented on #30343
/close

[2021-03-13 14:00] #30343 closed

[2021-03-13 14:12] rolfedh commented on #30085
This issue relates to modules/pruning-images-manual.adoc

[2021-03-13 15:06] rolfedh commented on #30065
Hi, @rhatbob.  Thanks for reporting this issue. I've created a PR to fix this indentation issue and others like it, here: https://github.com/openshift/openshift-docs/pull/30430

[2021-03-13 15:19] rolfedh commented on #30049
FYI @emarcusRH

[2021-03-13 16:44] #26146 closed

[2021-03-13 19:24] rolfedh commented on #29926
Hi, @tumido. It looks like the OpenShift Virtualization docs have been published. If you're satisfied, please close this issue.
https://docs.openshift.com/container-platform/4.7/virt/virt-2-6-release-notes.html

[2021-03-14 10:02] rolfedh commented on #30355
This issue is also mentioned in https://bugzilla.redhat.com/show_bug.cgi?id=1769845#c13

[2021-03-14 10:40] rolfedh commented on #29906
Thanks, @rag4God. I've submitted a PR to fix this issue.

[2021-03-14 18:42] rolfedh commented on #29904
FYI @bobfuru

[2021-03-15 00:12] esimim opened #30436 "[enterprise-4.5] Issue in file nodes/pods/nodes-pods-secrets.adoc"
### Which section(s) is the issue in?
then the version of the secret will be used for the pod will not be defined.

### What needs fixing?
then the version of the secret that will be used for the pod will not be defined.

[2021-03-15 00:13] esimim commented on #30436
that missing word, if I managed to guess it right, brings lots of confusion to the phrase.

[2021-03-15 04:35] hupiper commented on #30364
It looks much better.  The only question I have is should the parameter be
inputs.params.manifest_dir, or params.manifest_dir?

Mark

On Fri, Mar 12, 2021, 4:52 PM Rolfe Dlugy-Hegwer ***@***.***>
wrote:

[2021-03-15 09:07] germanparente opened #30437 "[enterprise-4.7] Issue in file updating/updating-cluster-between-minor.adoc: explicit mention that client application has to be downloaded manually is missing"
### Which section(s) is the issue in?

https://docs.openshift.com/container-platform/4.7/updating/updating-cluster-between-minor.html#prerequisites

### What needs fixing?

My customer would like an explicit mention in the update section that shows the client aplication "oc" has to be downloaded manually.

[2021-03-15 09:09] tumido commented on #29926
Hi @rolfedh Thank you very much! :+1: This issue can be closed now. :slightly_smiling_face:

[2021-03-15 09:09] #29926 closed

[2021-03-15 13:37] maxwelldb commented on #25463
/remove-lifecycle stale

[2021-03-15 14:38] rolfedh commented on #30427
Hi, @hashnao. We've merged the fix. If you're satisfied, you can close this issue. Thanks again.

[2021-03-15 15:11] joelanford opened #30459 "[enterprise-4.7] Issue in file operators/understanding/olm-packaging-format.adoc"
### Which section(s) is the issue in?
["Additionally supported objects"](https://docs.openshift.com/container-platform/4.7/operators/understanding/olm-packaging-format.html#olm-bundle-format-manifests-optional_olm-packaging-format)

### What needs fixing?
The list of supported objects is out-of-date.

As of 4.7, the set of supported objects is here: https://github.com/operator-framework/operator-r

[2021-03-15 16:29] bobfuru commented on #29904
Cc: @lpettyjo or @bmcelvee - seems like a simple fix that core storage or reg storage dev/QE could verify

[2021-03-15 17:21] soltysh commented on #27696
There were some dependancy issues, iirc, and what @rolfedh wrote about `opm` is reasonable iirc.

[2021-03-15 17:37] #24920 closed

[2021-03-15 18:14] mburke5678 commented on #28264
@giofontana Has this issue been fixed through https://bugzilla.redhat.com/show_bug.cgi?id=1780318
I checked a few defult DS in a 4.7 cluster and they all had a `operator: Exists` toleration.

[2021-03-15 19:02] rolfedh commented on #30364
@piyush-garg, what are your thoughts on this question?

[2021-03-15 19:38] mburke5678 commented on #30436
@esimim Thanks again for catching this one, too. See https://github.com/openshift/openshift-docs/pull/30476
Can you explain better what this means?

[2021-03-15 19:44] hupiper commented on #30364
I put this on the pull request, and I'll include it here to make sure you see it. I'm quite sure that inputs.params.manifest_dir is incorrect, and should be params.manifest_dir. If you wanted to use what amounts to a best practice, you would add another level to the definition that would be "inputs" so someone reading the task would know if this is an input or output. You could define a pipeline r

[2021-03-15 19:57] mburke5678 commented on #29079
@omenos Thanks for catching this.
@vrutkovs What should the version be for Fedora?

[2021-03-15 19:58] #29702 closed

[2021-03-15 19:59] #29460 closed

[2021-03-15 21:10] bmcelvee commented on #30344
The change is merged, so I'm closing this issue. Thanks!

[2021-03-15 21:38] mburke5678 commented on #28020
@apolymen Thanks for reaching out. In Openshift 4.x, if I understand correctly, the `infra` nodes are not deployed by default, You can create them, if needed. In 4.x the default node roles are `master` and `worker`, as shown (I removed the IP address from the node names). I'm not sure if your comment is relevant tn the 4.x docs. Please let me know if I do not understand your comment correctly.

[c

[2021-03-15 21:52] apolymen commented on #28020
@mburke5678 My comment refers to the sentence which says "The nodes to run the infrastructure are called **master** nodes". I guess it should say **infrastructure** instead of **master**.

[2021-03-15 22:10] mburke5678 commented on #28020
@apolymen I believe that the infrastructure components run on the master nodes now; we do not use infra nodes by default. I will verify to be certain. Is this more clear?
[code]

[2021-03-15 22:50] apolymen commented on #28020
@mburke5678 It's true that infra nodes are not deployed by default in 4.x. But, if I'm not mistaken, after the initial cluster installation, infrastructure components like routers, registry, monitoring and logging, get deployed on worker nodes and not master nodes. At least that was my experience with 4.4. You can check that with the engineering or architecture team.

[2021-03-15 22:54] adamgoossens opened #30497 "[enterprise-4.7] Issue in file virt/install/preparing-cluster-for-virt.adoc"
### Which section(s) is the issue in?

First para, second bullet point - "Additionally, your cluster must use installer-provisioned infrastructure and deploy machine health checks to maintain high availability (HA) of virtual machines."

### What needs fixing?

This line suggests that IPI is a requirement for use of OCP Virtualisation. This is not correct, so we should reword this statement to som

[2021-03-16 02:13] rolfedh commented on #30364
Thanks for your commentary, @hupiper. Would you like to make specific recommendations about the text?

[2021-03-16 04:14] #28357 closed

[2021-03-16 06:48] hashnao commented on #30427
@rolfedh Thanks for your immediate response.

[2021-03-16 06:48] #30427 closed

[2021-03-16 08:26] vrutkovs commented on #29079
I'd prefer not t hardcode the version (stable stream would eventually move to F34), but if you must lets set Fedora 33

[2021-03-16 11:32] benemon opened #30514 "[enterprise-4.7] Issue in file security/compliance_operator/compliance-operator-understanding.adoc"
### Which section(s) is the issue in?
Security and Compliance

### What needs fixing?
There's no 'install and configure' section in the docs. When I add the Compliance Operator to my cluster, I'm presented by 11 CustomResources I could create in relation to the compliance operator, but no indication of how or where to start with them. What should I add first? How do I get started? How do I configu

[2021-03-16 13:15] peterclauterbach opened #30524 "[enterprise-4.7] Issue in file virt/upgrading-virt.adoc"
### Which section(s) is the issue in?

https://docs.openshift.com/container-platform/4.7/virt/upgrading-virt.html#how-openshift-virtualization-upgrades-work

### What needs fixing?
This section talks about upgrading OpenShift Virtualization, but doesn't say anything about what happens to a VM when the OpenShift cluster itself is upgraded to a later version.  The OCP upgrade section doesn't talk ab

[2021-03-16 13:43] #29906 closed

[2021-03-16 15:41] mburke5678 commented on #28020
@apolymen You are correct. How about:
_When rebooting nodes that host critical OpenShift infrastructure components, such as the routers, the registry, and monitoring, ensure that there are at least three nodes available to run these components. _

[2021-03-16 15:43] #30414 closed

[2021-03-16 16:01] mburke5678 commented on #28507
@dlbewley Thanks for the comment. The link was changed here: https://github.com/openshift/openshift-docs/pull/29342

[2021-03-16 16:01] #28507 closed

[2021-03-16 16:47] mburke5678 commented on #28627
@ravitri I reached out to the MCO team and they will help re-write this section.

[2021-03-16 17:11] apolymen commented on #28020
@mburke5678 Yes, I guess it describes correctly the situation in general. You may need to adjust the rest of the paragraph accordingly to fit this in.

[2021-03-16 17:23] rolfedh commented on #30524
Thanks for reporting this issue, @peterclauterbach. I'll make sure it gets to the writers that are working on the OCP > RHV docs.

[2021-03-16 17:33] rolfedh commented on #30514
Thanks for reporting this issue, @benemon. I'll ask around to see who can help answer these questions in our docs.

[2021-03-16 17:44] rolfedh commented on #30497
Thanks for reporting this issue, @adamgoossens. I'll help find a writer to take this issue.

[2021-03-16 18:16] mburke5678 commented on #28020
@apolymen Thanks for your help with this. Do you mind taking a look at https://github.com/openshift/openshift-docs/pull/30492 to see if the changes meet your expectations and understanding before I ask for QE input?

[2021-03-16 18:32] bergerhoffer commented on #28448
@adellape @skrthomas I know you both did some updates related to opm's path. I think this issue is resolved - can one of you please confirm?

[2021-03-16 18:32] apolymen commented on #28020
@mburke5678 You also need to change the paragraph title from "Understanding how to reboot master nodes running critical infrastructure" to "Understanding how to reboot nodes running critical infrastructure". Just remove the word "master".

[2021-03-16 18:34] bergerhoffer commented on #28154
@adellape @skrthomas Here is another one related to the opm path. Can you guys confirm if this one is now resolved?

[2021-03-16 18:42] rolfedh commented on #30459
Thanks for reporting this issue, @joelanford. I'll help find the writer who is in the best position to fix it.

[2021-03-16 18:42] adellape commented on #28154
The `opm` install instructions were updated to now show downloading the binary from the OpenShift mirror site:

https://docs.openshift.com/container-platform/4.6/cli_reference/opm-cli.html#olm-installing-opm_opm-cli

[2021-03-16 18:42] #28154 closed

[2021-03-16 18:42] adellape commented on #28448
The `opm` install instructions were updated to now show downloading the binary from the OpenShift mirror site:

https://docs.openshift.com/container-platform/4.6/cli_reference/opm-cli.html#olm-installing-opm_opm-cli

Therefore, the `oc image extract` steps are no longer relevant.

[2021-03-16 18:42] #28448 closed

[2021-03-16 18:56] rolfedh commented on #30437
Thanks for reporting this issue, @germanparente. I'll help find the best writer to take this issue.

[2021-03-16 19:09] bergerhoffer commented on #27696
Thanks @rolfedh!

And thanks @soltysh! Quick followup though, that message that @rolfedh found says that `oc adm catalog build` is deprecated, but if I run `oc adm catalog build --help` (using oc version 4.7.2), I don't see a message saying that it's deprecated. Should there be one?

Then for this actual issue, @adellape do you think you'd be able to look into the right `opm index` commands to use

[2021-03-16 19:25] adellape commented on #27696
The `oc adm catalog build` command is only relevant for catalogs using the [Package Manifest Format](https://docs.openshift.com/container-platform/4.6/operators/admin/olm-managing-custom-catalogs.html#olm-managing-custom-catalogs-package-manifest-format), which itself is also [deprecated](https://docs.openshift.com/container-platform/4.7/release_notes/ocp-4-7-release-notes.html#ocp-4-7-deprecated-

[2021-03-16 19:27] mburke5678 commented on #28020
@sunilcio Is this an issue you can review for QE?

[2021-03-16 19:37] bergerhoffer commented on #30437
Hi @germanparente. The section you're linking to [1] doesn't actually have any OpenShift CLI (`oc`) commands in it. It
provides information and then shows you a procedure using the web console. Can you clarify why `oc` is necessary for this section - or did you mean a different section? Thanks!

[1] https://docs.openshift.com/container-platform/4.7/updating/updating-cluster-between-minor.html

[2021-03-16 19:43] bergerhoffer commented on #30414
@christianh814 Updates are live now here: https://docs.openshift.com/container-platform/4.7/authentication/identity_providers/configuring-github-identity-provider.html#identity-provider-creating-configmap_configuring-github-identity-provider

[2021-03-16 20:28] germanparente commented on #30437
Hi,

thanks a lot for taking care about this. In fact, I have chosen this section but in any section you find appropriate to add this remark would be perfect.

The idea is to mention somewhere that "oc" has to be updated manually by downloading the right version.

It's rather evident for most of customers but I had seen one for whom it was necessary to clarify.

Thanks indeed. Best regards,

Germa

[2021-03-16 20:39] codyhoag commented on #27383
/remove-lifecycle rotten

[2021-03-16 22:04] linuxstudio opened #30555 "[enterprise-4.7] Issue in file architecture/control-plane.adoc"
### Which section(s) is the issue in?

Understanding the Machine Config Operator

### What needs fixing?

The text in the very last paragraph "Additional information":

"For information on preventing the control plane machines from after the Machine Config Operator makes changes to the machine config, see Disabling Machine Config Operator from automatically rebooting."

should be instead:

"For in

[2021-03-16 22:42] linuxstudio opened #30557 "[enterprise-4.7] Issue in file architecture/understanding-development.adoc"
### Which section(s) is the issue in?

Building a simple container

### What needs fixing?

In step 2 the text:

"Put your Dockerfile and the software you want to containerized in a directory on your RHEL system."

should be instead:

"Put your Dockerfile and the software you want to containerize in a directory on your RHEL system."

In step 3 the text:

"Run buildah or docker build: Run the build

[2021-03-16 22:52] linuxstudio opened #30558 "[enterprise-4.7] Issue in file architecture/understanding-development.adoc"
### Which section(s) is the issue in?

Base image options

### What needs fixing?

The text:

"Special versions of some of these runtime base images referred to as Source-to-image (S2I) images."

should be instead:

"Special versions of some of these runtime base images are referred to as Source-to-image (S2I) images.

[2021-03-16 23:03] hupiper opened #30559 "[enterprise-4.7] Issue in file cicd/pipelines/understanding-openshift-pipelines.adoc"
### Which section(s) is the issue in?

https://docs.openshift.com/container-platform/4.7/cicd/pipelines/understanding-openshift-pipelines.html#about-pipelines_understanding-openshift-pipelines

### What needs fixing?
Small grammatical error in pipelines section. The description says "image to be build from the code". Needs to be "image to be built from the code".

Here is the code in the pipelines

[2021-03-17 06:38] dankenigsberg commented on #30497
To me, the suggested text is adding to the confusion, not resolving it. We need to find a text the delivers two points:
1. You can use OpenShift Virtualization with any bare-metal on-prem cluster, be it IPI or UPI.
2. To achieve true high-availability (e.g in case of network segmentation of the cluster) you have to either
- Use IPI and enable MHC
- Have a monitoring system (or a human) monitor nod

[2021-03-17 09:40] soukron opened #30567 "[enterprise-4.7] Issue in file machine_management/creating-infrastructure-machinesets.adoc"
### Which section(s) is the issue in?
https://docs.openshift.com/container-platform/4.7/machine_management/creating-infrastructure-machinesets.html#infrastructure-moving-logging_creating-infrastructure-machinesets

### What needs fixing?
The text:  _You should set your machine set to use at least 6 replicas._ seems to be wrong. The minimal number should be 3.

[2021-03-17 09:55] mohmdnofal opened #30568 "[enterprise-4.6] Issue in file installing/installing_azure/installing-azure-vnet.adoc"
### Which section(s) is the issue in?
https://docs.openshift.com/container-platform/4.6/installing/installing_azure/installing-azure-vnet.html#installation-about-custom-azure-permissions_installing-azure-vnet

The Azure credentials that you use when you create your cluster do not need the networking permissions that are required to make VNets and core networking components within the VNet, such as

[2021-03-17 09:57] mohmdnofal opened #30569 "[enterprise-4.6] Issue in file installing/installing_azure/installing-azure-private.adoc"
### Which section(s) is the issue in?

https://docs.openshift.com/container-platform/4.6/installing/installing_azure/installing-azure-private.html#installation-about-custom-azure-permissions_installing-azure-private

The Azure credentials that you use when you create your cluster do not need the networking permissions that are required to make VNets and core networking components within the VNet,

[2021-03-17 09:59] mohmdnofal opened #30570 "[enterprise-4.6] Issue in file installing/installing_azure/installing-azure-government-region.adoc"
### Which section(s) is the issue in?

https://docs.openshift.com/container-platform/4.6/installing/installing_azure/installing-azure-government-region.html#installation-about-custom-azure-permissions_installing-azure-government-region

The Azure credentials that you use when you create your cluster do not need the networking permissions that are required to make VNets and core networking componen

[2021-03-17 11:00] #25816 closed

[2021-03-17 11:25] rolfedh commented on #30497
Separating those two concerns makes it much clearer. Thanks, @dankenigsberg!
@mgarrellRH will be fixing this issue.

[2021-03-17 11:53] mgarrellRH commented on #30497
After reading @dankenigsberg 's concerns, the initial wording of the text doesn't seem to be too far off the mark.

[2021-03-17 12:00] #26628 closed

[2021-03-17 13:05] hairmare opened #30572 "[enterprise-4.7] Issue in file backup_and_restore/backing-up-etcd.adoc"
### Which section(s) is the issue in?

The top-level "Backup and restore" section.

### What needs fixing?

On other Kubernetes distros Velero is usually what we use to backup and restore the full cluster. We usually use this in a way similar to what is descibed in the migration toolkit chapter.

Does the described direct etcd backup solution add any value on top of using Velero? Can you help a us

[2021-03-17 13:15] #29961 closed

[2021-03-17 14:42] ahardin-rh commented on #30514
@benemon Thanks for reporting this! I am working on addressing these issues in the docs, starting in https://github.com/openshift/openshift-docs/pull/29673. In the meantime, if you have any questions , you can reach out to SME @JAORMX . Thanks!

[2021-03-17 14:43] rolfedh commented on #28868
Thanks @tux-o-matic. I've updated the first paragraph in this topic to make it clear that this procedure applies only to curating 4.5 and earlier indices.  If you're satisfied, please close this issue.

[2021-03-17 15:05] benemon commented on #30514
Thanks @ahardin-rh @rolfedh @JAORMX for picking this up and looking to address it so quickly - very much appreciated. The addition of a 'getting started with the compliance operator' section of the docs will go a long way to ensuring people use this capability, and use it correctly!

[2021-03-17 19:55] #28868 closed

[2021-03-17 20:53] maxwelldb commented on #21435
/remove-lifecycle rotten

[2021-03-17 20:53] maxwelldb commented on #24847
/remove-lifecycle rotten

[2021-03-17 20:54] maxwelldb commented on #21435
/lifecycle frozen

[2021-03-18 00:34] esimim opened #30626 "[enterprise-4.5] Issue in file nodes/scheduling/nodes-scheduler-taints-tolerations.adoc"
### Which section(s) is the issue in?
To configure a node so that users can use only that node:

### What needs fixing?
To taint a node so that only pods with a specific toleration can be scheduled on the node:

[2021-03-18 00:44] esimim commented on #30626
Based on the command that is used in the example right below (oc adm taint nodes node1 dedicated=groupName:NoSchedule) the title I suggested above should be used for this action.

But as is stated in the text that:
"If you want ensure the pods are scheduled to only those tainted nodes, also add a label to the same set of nodes and add a node affinity to the pods so that the pods can only be schedu

[2021-03-18 13:43] brian-avery commented on #28205
This isn't fixed yet but we chose to hold off for now.
/remove-lifecycle stale

[2021-03-18 14:49] mburke5678 commented on #30436
Changes made: https://github.com/openshift/openshift-docs/pull/30476

[2021-03-18 14:49] #30436 closed

[2021-03-19 11:07] #22726 closed

[2021-03-19 14:38] #30569 closed

[2021-03-20 05:09] #26611 closed

[2021-03-21 00:37] bobfuru commented on #28200
/remove-lifecycle stale

[2021-03-21 23:16] #22823 closed

[2021-03-21 23:46] ravitri commented on #28627
@mburke5678 - Thanks a lot for the update! Do let us know if any additional details required from our end for it.

[2021-03-22 04:13] sunilcio commented on #28020
Added a comment in that PR, thanks.

[2021-03-22 05:17] #26658 closed

[2021-03-22 11:27] benemon opened #30715 "[enterprise-4.7] Issue in file installing/installing-preparing.adoc"
### Which section(s) is the issue in?

Supported installation methods for different platforms

### What needs fixing?

VMWare IPI is supported in restricted network / disconnected environments.

[2021-03-22 13:16] codyhoag commented on #26453
/reopen

[2021-03-22 13:17] codyhoag commented on #26529
/reopen

[2021-03-22 13:19] codyhoag commented on #26653
/reopen

[2021-03-22 13:20] codyhoag commented on #26653
Fixed by #30316

[2021-03-22 13:21] #26653 closed

[2021-03-22 13:49] maxwelldb opened #30718 "[enterprise-4.7] Improperly rendered {product-version} in RHV docs"
### Which section(s) is the issue in?
"Downloading the Ansible playbooks"

https://docs.openshift.com/container-platform/4.7/installing/installing_rhv/installing-rhv-user-infra.html#installation-rhv-downloading-ansible-playbooks_installing-rhv-user-infra

### What needs fixing?
{product-version} is shown in the command rather than the actual product version.

[2021-03-22 13:50] maxwelldb commented on #30718
FYI @rolfedh

[2021-03-22 15:30] ndox opened #30721 "[enterprise-4.7] Some ShiftStack content uses "lbFloatingIP" instead of "apiFloatingIP""
### Which section(s) is the issue in?

### What needs fixing?
lbFloatingIP has been renamed apiFloatingIP

[2021-03-22 17:41] mburke5678 commented on #28020
Merged PR. Thanks again @apolymen

[2021-03-22 17:41] #28020 closed

[2021-03-22 19:57] mburke5678 commented on #28167
PR is merged

[2021-03-22 19:57] #28167 closed

[2021-03-22 21:40] lbrigman124 opened #30745 "Obsolete URL for client tools"
### Which section(s) is the issue in?
Installing a cluster on Vsphere.
https://docs.okd.io/latest/installing/installing_vsphere/installing-vsphere-installer-provisioned.html
https://docs.okd.io/latest/installing/installing_vsphere/installing-vsphere-installer-provisioned-customizations.html
https://docs.okd.io/latest/installing/installing_vsphere/installing-vsphere-installer-provisioned-network-cu

[2021-03-23 09:26] rhuss opened #30746 "[srvls] Describe the possible prefixes for `--sink` and how to configure it"
### Feature Request

As raised in https://github.com/openshift/openshift-docs/pull/30282/files#r598459706 it would be better to describe all possible values for `--sink` options, that is available for multiple commands for `kn` in a central place and only reference this from the description of those commands.

We then can also add a description of how to add custom prefixes in `~/.config/kn/config

[2021-03-23 09:46] rhuss opened #30747 "[srvls] Reconsider TOC of "Serverless applications" entry"
### Which section(s) is the issue in?

Serverless applications

### What needs fixing?

* The navigation bar and TOC entry for "Serverless applications" has no hierarchical structure. The items on this list are of vast different granularities, ranging from top-level categories ("Knative Serving") down to minor details ("Tracing requests").

* "Creating and managing serverless applications" : Creat

[2021-03-23 12:59] GroceryBoyJr commented on #30745
Please assign this issue to me....

[2021-03-23 13:18] stevsmit commented on #30559
Please assign me this issue.

[2021-03-23 13:18] rolfedh commented on #30355
/close

[2021-03-23 13:19] rolfedh commented on #30355
@bergerhoffer Please close this issue.

[2021-03-23 13:32] bergerhoffer commented on #30292
Checked with @huffmanca and the image is not available in quay yet. Following this BZ, so that when it is added, and supported, we will update the docs: https://bugzilla.redhat.com/show_bug.cgi?id=1930631

[2021-03-23 13:33] pneedle-rh commented on #27506
1. Regarding the Dedicated 4 page history, [here](https://github.com/openshift/openshift-docs/blob/dedicated-4/_templates/_page_openshift.html.erb#L86-L101) are the related lines.

I am looking into how to handle the dedicated-4 URL specifically. My understanding is that the page history should point to https://github.com/openshift/openshift-docs/commits/dedicated-4 from https://docs.openshift.com

[2021-03-23 13:34] codyhoag commented on #26801
OCP 4.7 docs are now live. Thanks all!

OCP 4.8 release notes tracker is here: #29652

[2021-03-23 13:34] #26801 closed

[2021-03-23 13:44] ahardin-rh commented on #29690
@funixz Thank you for reporting this issue!

The issue is now addressed in https://github.com/openshift/openshift-docs/pull/30753

[2021-03-23 13:44] #29690 closed

[2021-03-23 13:45] adellape commented on #28729
The `opm` install instructions were updated to now show downloading the binary from the OpenShift mirror site:

https://docs.openshift.com/container-platform/4.6/cli_reference/opm-cli.html#olm-installing-opm_opm-cli

Therefore, the `oc image extract` steps are no longer relevant.

[2021-03-23 13:45] #28729 closed

[2021-03-23 13:45] adellape commented on #29678
The `opm` install instructions were updated to now show downloading the binary from the OpenShift mirror site:

https://docs.openshift.com/container-platform/4.6/cli_reference/opm-cli.html#olm-installing-opm_opm-cli

Therefore, the `oc image extract` steps are no longer relevant.

[2021-03-23 13:45] #29678 closed

[2021-03-23 13:45] sagidlow commented on #30558
@linuxstudio This issue has been addressed and updated in our documentation.

[2021-03-23 13:47] #30558 closed

[2021-03-23 13:49] bobfuru commented on #29564
Hi @jdbenson59 - thanks for reporting this issue. Could you please provide some more detail on where you are seeing this issue? I'm not finding where the specific RHCOS ISO button is located. Do you see it in the documentation or in the OpenShift Cluster Manager web console somewhere?

[2021-03-23 13:52] bobfuru commented on #27987
/remove-lifecycle stale

[2021-03-23 13:56] bergerhoffer commented on #26913
/remove-lifecycle rotten

[2021-03-23 14:02] bergerhoffer commented on #26873
@Preeticp Can you look into this issue that was raised?

[2021-03-23 14:02] adellape commented on #29173
The whole "Developing Operators" guide was updated with OCP 4.7 with the newer commands and for Operator SDK v1.3.0 relevance in general. For example:

* https://docs.openshift.com/container-platform/4.7/operators/operator_sdk/osdk-installing-cli.html
* https://docs.okd.io/latest/operators/operator_sdk/golang/osdk-golang-tutorial.html

However, much (but not all) of those updates need to be backpo

[2021-03-23 14:10] jeana-redhat commented on #29681
Checked with Install author (@codyhoag) and this is not actually a supported and documented option at this time. Closing this issue and related PRs.

[2021-03-23 14:10] #29681 closed

[2021-03-23 14:11] bmcelvee commented on #29904
This issue and https://github.com/openshift/openshift-docs/issues/28150 look to be the same. I'll open a PR to resolve both.

[2021-03-23 14:11] adellape commented on #29581
Fixed in OCP 4.7 by including the example controller in the doc:

https://docs.openshift.com/container-platform/4.7/operators/operator_sdk/golang/osdk-golang-tutorial.html#osdk-golang-implement-controller_osdk-golang-tutorial

[2021-03-23 14:11] #29581 closed

[2021-03-23 14:11] bmcelvee commented on #28150
This issue and https://github.com/openshift/openshift-docs/issues/29904 look to be the same. I'll open a PR to resolve both.

[2021-03-23 14:12] sagidlow commented on #30555
@linuxstudio This issue has been addressed in our documentation.

[2021-03-23 14:12] #30555 closed

[2021-03-23 14:15] mburke5678 commented on #26999
@tsailiming I believe the problem you mention was addressed in the 4.7 docs [1]. I am not sure if there are plans to make similar changes in 4.5 and 4.6. @kalexand-rh do you know?

[1] https://docs.openshift.com/container-platform/4.7/installing/installing-preparing.html

[2021-03-23 14:15] bergerhoffer commented on #25003
Hi @mmurphy, can this issue be closed, with #28314 being merged? Thanks!

[2021-03-23 14:16] codyhoag commented on #23903
/assign @EricPonvelle

[2021-03-23 14:20] mburke5678 commented on #28021
@squirrd Thanks for pointing this out. It seems that the Metering book was never added to OSD. @sfortner-RH I believe you are the Dedicated writer? is this something you can look into?

[2021-03-23 14:20] mburke5678 commented on #28021
/remove-lifecycle stale

[2021-03-23 14:22] EricPonvelle commented on #23903
Commenting.

[2021-03-23 14:23] mburke5678 commented on #28333
@vikram-redhat Any thoughts?

[2021-03-23 14:23] pneedle-rh commented on #30437
@germanparente hi! Thank you for clarifying the requirement.

https://docs.openshift.com/container-platform/4.7/updating/updating-cluster-between-minor.html contains a note at the start of the document that states the following:

"Because of the difficulty of changing update channels by using oc, use the web console to change the update channel. It is recommended to complete the update process wit

[2021-03-23 14:23] bergerhoffer commented on #20360
@chuckersjp It looks like this step has been updated with PR #24161: https://docs.openshift.com/container-platform/4.7/installing/installing_vsphere/installing-vsphere.html#installation-vsphere-machines_installing-vsphere

It now says:

[code]

Can you let me know if/what we still need clarification around this updated text?

p.s. I can see that the formatting/numbering of this procedure is messed

[2021-03-23 14:26] kalexand-rh commented on #26999
@mburke5678, that change was part of a larger restructuring of the installation docs that we're not planning to validate and backport.

[2021-03-23 14:37] sagidlow commented on #30557
@linuxstudio This issue has been addressed in our documentation.

[2021-03-23 14:37] bobfuru commented on #30557
Merged, closing issue. Thanks, @linuxstudio!

[2021-03-23 14:37] #30557 closed

[2021-03-23 14:38] Preeticp commented on #26873
@bergerhoffer thanks for bringing this to my notice. I have assigned the Dev Tools label so that we can filter the issues and track them in our sprints. If you come across any such issues, please let me know or assign the Dev Tools label. Thank you.

[2021-03-23 14:44] sagidlow commented on #30568
@mohmdnofal - It seems as though this issue has already been addressed in our documentation. Please verify for 4.6: https://docs.openshift.com/container-platform/4.6/installing/installing_azure/installing-azure-vnet.html#installation-about-custom-azure-permissions_installing-azure-vnet

If the changes look good to you, please close the issue. Thank you!

[2021-03-23 14:44] Preeticp commented on #26873
This has been fixed: https://docs.openshift.com/container-platform/4.6/pipelines/creating-applications-with-cicd-pipelines.html#running-a-pipeline_creating-applications-with-cicd-pipelines
Closing this issue, for now. Please reopen if you have any concerns.

[2021-03-23 14:44] #26873 closed

[2021-03-23 14:44] bergerhoffer commented on #26681
@hhellbusch Can you let me know if this update is what you were looking for?

PR: https://github.com/openshift/openshift-docs/pull/30784

[2021-03-23 14:49] rolfedh commented on #30567
Sure, @mburke5678. Thanks for asking. @soukron Are you referring the "You should set your machine set to use at least 6 replicas" note in https://docs.openshift.com/container-platform/4.7/machine_management/creating-infrastructure-machinesets.html#infrastructure-moving-logging_creating-infrastructure-machinesets?

[2021-03-23 14:58] codyhoag commented on #26529
/remove-lifecycle rotten

[2021-03-23 14:58] mburke5678 commented on #21699
@aglitke Thank you for pointing this out. Do you have a definitive source that I could use for reference? I looked at this page: https://kubevirt.io/2018/containerized-data-importer.html and https://github.com/kubevirt/containerized-data-importer#containerized-data-importer, which seem pretty authoritative to me.

I created a PR to make the change, if you want to look. A quick review of the docs u

[2021-03-23 14:59] mmurphy commented on #25003
Hi @bergerhoffer, the merge only fixes one part of the issue (maybe I should have created seperate issues but it initially seemed straightforward when I opened the issue)
The "Open an issue" link at the top of the page (and every other page) seems inconsistent with the instruction at the bottom of this page `If you have a suggestion for improving this documentation or have found an error, please s

[2021-03-23 15:03] #26453 closed

[2021-03-23 15:05] ahardin-rh commented on #27095
This issue is now addressed in https://github.com/openshift/openshift-docs/pull/30783

[2021-03-23 15:05] #27095 closed

[2021-03-23 15:08] bergerhoffer commented on #27766
/remove-lifecycle stale

[2021-03-23 15:16] bergerhoffer commented on #27766
@germanparente Can you take a look at this PR and let me know if this is the update you were looking for? Thanks!

PR: https://github.com/openshift/openshift-docs/pull/30796
Preview: https://deploy-preview-30796--osdocs.netlify.app/openshift-enterprise/latest/authentication/ldap-syncing.html

[2021-03-23 16:11] chuckersjp commented on #20360
Again, it doesn't really explain _why_ you need the names to match up or the ramifications of it not being the same.

[2021-03-23 16:29] jonquilwilliams commented on #30300
Please see this PR for the fix and review: https://github.com/openshift/openshift-docs/pull/30803

[2021-03-23 16:29] adellape commented on #25781
This was previously addressed and already merged by @jboxman via https://github.com/openshift/api/pull/841.

[2021-03-23 16:29] #25781 closed

[2021-03-23 16:47] codyhoag commented on #30570
Thanks for the suggestion. This was fixed in #30590

[2021-03-23 16:47] #30570 closed

[2021-03-23 16:53] rolfedh commented on #30364
@bmcelvee, please close this issue. Thanks.

[2021-03-23 17:09] skrthomas commented on #28646
I'm looking into this issue for docs

[2021-03-23 17:25] ahardin-rh commented on #29646
@pdhamdhe Thank you for reporting this issue! This is now addressed in https://github.com/openshift/openshift-docs/pull/30774

[2021-03-23 17:25] #29646 closed

[2021-03-23 18:15] germanparente commented on #30437
hi @pneedle-rh . Thanks for taking care. I think your mention is enough just to clarify that oc command has to be updated manually if someone cannot realize of it. We could even add the link to the binary, like in install section:

https://mirror.openshift.com/pub/openshift-v4/clients/ocp/latest/openshift-client-linux.tar.gz

But I let @wking to confirm what's the best.

Thanks a lot,

Best regard

[2021-03-23 19:51] skrthomas commented on #27554
looking into this for issue burndown

[2021-03-23 20:12] bergerhoffer commented on #25003
@mmurphy thanks, I see your second issue now. So we definitely support both GitHub issue and BZ issues, but Bugzilla really is our preferred method for submitting an issue.

But really, the main factor is that our docs are both on docs.openshift.com and on the Customer Portal. So when viewing these docs from the portal [1], the "Open an issue" link isn't an option. So the the "Open an issue" link

[2021-03-23 20:13] rolfedh commented on #30567
@mburke5678 Would you mind assigning this to me? Thanks.

[2021-03-23 20:15] bergerhoffer commented on #26873
Thanks @Preeticp! I think I saw a few others, so I'll tag you in those once I come across them again. Thanks!

[2021-03-23 20:17] bergerhoffer commented on #28836
@Preeticp Here is a pipelines issue, if your team can take a look. Thanks!

[2021-03-23 20:18] bergerhoffer commented on #27742
@Preeticp Here is another pipelines issue, if your team can take a look. Thanks!

[2021-03-23 20:18] bergerhoffer commented on #27742
/remove-lifecycle stale

[2021-03-23 20:18] bergerhoffer commented on #26874
@Preeticp Here is another pipelines issue, if your team can take a look. Thanks!

[2021-03-23 20:18] bergerhoffer commented on #26874
/remove-lifecycle rotten

[2021-03-23 20:24] bergerhoffer commented on #27651
@bmcelvee Do you know anything about whether these docs should've been brought forward to 4.x? I couldn't find anything on DDoS in 4.x and wasn't sure if you knew any history on this.

[2021-03-23 20:25] bergerhoffer commented on #27645
@JStickler Is this something that your team could look at?

[2021-03-23 20:26] bergerhoffer commented on #27641
@JStickler Could your team take a look at this one?

[2021-03-23 20:34] jeana-redhat commented on #29665
@patrickstrick good eye, and thanks for bringing this to our attention. The RNs are now updated to reflect the name in OperatorHub.

[2021-03-23 20:34] #29665 closed

[2021-03-23 20:45] JStickler commented on #27645
@jpkrohling , we do have a note to that effect, but it's in the topic about customizing the smcp where we explain all of the various configuration parameters.  Does that cover what you're looking for?

https://docs.openshift.com/container-platform/4.7/service_mesh/v2x/ossm-custom-resources.html#ossm-enabling-tracing_ossm-custom-resources-v2x

[2021-03-23 20:52] skrthomas commented on #27554
@pamoedom can you take a look at this PR and let me know if you have any feedback? I added a row to that first table with the info you provided.
GitHub PR: https://github.com/openshift/openshift-docs/pull/30823
Direct link to doc: https://deploy-preview-30823--osdocs.netlify.app/openshift-enterprise/latest/installing/installing_bare_metal/installing-bare-metal.html#installation-network-user-infra_

[2021-03-23 21:10] wking commented on #30437
I had a chat with @pneedle-rh about this, and the main point here is that there is nothing special about updates with regard to `oc` <-> cluster compatibility.  The [existing compatibility policy][1] still applies, and the relevant server version is the version of the server process you end up being connected to (so if the cluster is partially updated, with some API servers running 4.6.20 and some

[2021-03-23 21:25] ousleyp commented on #30524
Hi @peterclauterbach, thanks for bringing this to our attention. I think that we should put this information in the core docs (perhaps in addition to the virt docs) so that customers are more likely to see it before upgrading their clusters. I'm discussing this with @codyhoag who works on the core OpenShift upgrade documentation.

Who is the best SME to ask about what happens to VM workloads when

[2021-03-24 01:41] rolfedh commented on #30567
@soukron, the note you reported doesn't make sense where it is located. We are removing it. Thanks again.

[2021-03-24 06:55] germanparente commented on #30437
Hi, I agree we can use a former version of "oc" and it could work or the opposite. But it would have helped my customer a sentence saying " you should also upgrade your client manually even if the version can be compatible ". In this case, there was a bug fixed in "oc debug" and the customer kept hitting the bug. I showed how to update the client and the issue was solved. The customer complained h

[2021-03-24 11:32] jpkrohling commented on #27645
It does, perhaps just add a mention + link, in case people haven't seen this other doc before seeing this option?

[2021-03-24 11:49] pamoedom commented on #27554
Hi @skrthomas, LGTM, thks.

[2021-03-24 12:42] pneedle-rh commented on #30437
@germanparente following on from my conversation with @wking yesterday, I will create a draft that applies several changes to help make this topic clearer in the documentation. This includes:

- Making [this compatibility matrix](https://docs.openshift.com/container-platform/4.7/release_notes/versioning-policy.html) findable within the [CLI tools ](https://docs.openshift.com/container-platform/4.7

[2021-03-24 12:45] bergerhoffer commented on #29586
Closing this issue as a duplicate of #29111.

[2021-03-24 12:45] #29586 closed

[2021-03-24 13:56] germanparente commented on #30437
Hi,

this is amazing ! THANKS A LOT, @pneedle-rh !!!!

I am on PTO but I can check this later today.

regards,

German.

[2021-03-24 14:39] #26913 closed

[2021-03-24 14:40] Preeticp commented on #28836
Thanks for raising this issue @tux-o-matic We will verify the existing flow wrt the  "input resources" and "output resources" with the devs.
As for workspace, support for it is being added to the Developer Perspective in OpenShift 4.8.

[2021-03-24 14:41] bergerhoffer commented on #26913
@sogutcu Thanks for pointing out this issue! We've now merged an update to include the missing "@" and the fix should be live shortly.

[2021-03-24 14:42] #30355 closed

[2021-03-24 15:16] rhuss commented on #30747
Let's discuss this first internally.

[2021-03-24 15:16] #30747 closed

[2021-03-24 15:43] Preeticp commented on #27742
Thank you @ghurel-rh for raising this issue.  It is being tracked via this [Jira issue](https://issues.redhat.com/browse/RHDEVDOCS-2863)

[2021-03-24 15:56] Preeticp commented on #26874
We will fix the issue in Step 7 in this section: https://docs.openshift.com/container-platform/4.6/pipelines/creating-applications-with-cicd-pipelines.html#adding-triggers_creating-applications-with-cicd-pipelines via this [Jira issue](https://issues.redhat.com/browse/RHDEVDOCS-2864)

[2021-03-24 16:17] rhuss commented on #30746
Closing this in favor of an internal ticket.

[2021-03-24 16:17] #30746 closed

[2021-03-24 17:00] mburke5678 commented on #21699
The PR is merged.

[2021-03-24 17:01] #21699 closed

[2021-03-24 19:02] ahardin-rh commented on #27612
This issue is now addressed in https://github.com/openshift/openshift-docs/pull/30805. Thank you!

[2021-03-24 19:02] #27612 closed

[2021-03-24 19:14] ahardin-rh commented on #28111
This issue is now addressed in https://github.com/openshift/openshift-docs/pull/30820 and https://github.com/openshift/openshift-docs/pull/30805

[2021-03-24 19:14] #28111 closed

[2021-03-24 19:50] cmalafis opened #30879 "[enterprise-4.7] Issue in file installing/installing_vsphere/installing-restricted-networks-vsphere.adoc"
### Which section(s) is the issue in?
Generating an ssh key - this applies for all installation methods, not just vsphere

### What needs fixing?
There should be a note that if the cluster is being installed in FIPS mode, only FIPS allowed algorithms should be used to generate the ssh key.  The key should be either rsa or ecdsa

[2021-03-24 20:15] #30180 closed

[2021-03-24 20:19] JStickler commented on #27645
@jpkrohling  there's not really an easy way to drop a link where we need one (file structure restrictions).  Reading between the lines here, is the concern that the setting is to have Envoy sample 100% of traces?  Since I can't link to the other topic, should we modify this value to be lower? Or are you OK with closing this issue?

[2021-03-24 21:54] mayurshetty opened #30900 "[online] Issue in file rosa_getting_started/rosa-creating-cluster.adoc"
### Which section(s) is the issue in?

Enter the following command to check the status of your cluster. During cluster creation the State field from the output will transition from pending to installing, and finally to ready.

$ rosa describe cluster rh-rosa-test-cluster1

### What needs fixing?

mshetty@mshetty-mac ROSA % **./rosa describe cluster my-rosa-test**
Error: required flag(s) "cluster"

[2021-03-24 21:54] bobfuru commented on #29919
Thanks so much for reporting this, @JuozasA! I have made the change as you requested: https://github.com/openshift/openshift-docs/pull/30795.
Closing the issue.

[2021-03-24 21:54] #29919 closed

[2021-03-24 22:12] adellape commented on #28402
Right, no easy way to get the list via CLI, AFAIK, and it doesn't have to be from a standard set of channel names. Created https://github.com/openshift/openshift-docs/pull/30901 to at least change the suggested "alpha" to a replaceable and provide some context around channel naming.

[2021-03-24 22:38] mayurshetty opened #30902 "[online] Issue in file rosa_getting_started/rosa-accessing-cluster.adoc"
### Which section(s) is the issue in?

Enter the following command to check the status of your cluster. During cluster creation the State field from the output will transition from pending to installing, and finally to ready.

$ rosa describe cluster rh-rosa-test-cluster1

### What needs fixing?

mshetty@mshetty-mac ROSA % **./rosa describe cluster my-rosa-test**
Error: required flag(s) "cluster"

[2021-03-24 22:54] mayurshetty opened #30903 "[online] Issue in file rosa_getting_started/rosa-accessing-cluster.adoc"
### Which section(s) is the issue in?

Enter the oc login command, username, and password from the output of the previous command:

### What needs fixing?

| %                                                                                                                                                                                              mshetty@mshetty-mac ROSA % export KUBECONFIG=/outpu

[2021-03-25 00:17] vkareh commented on #30900
@sfortner-RH @jonquilwilliams

[2021-03-25 00:59] vkareh commented on #30900
Related: https://github.com/openshift/rosa/pull/312

[2021-03-25 13:11] kalexand-rh commented on #28795
Hi! This filename is accurate - it describes moving from 4.5 to 4.6, which engineering considers a minor version upgrade. A major version upgrade would be from a 3.x to 4.x version, and you must complete a migration for that.

[2021-03-25 13:14] bobfuru commented on #24119
/remove-lifecycle stale

[2021-03-25 13:26] acsulli opened #30919 "[enterprise-4.7] Issue in file installing/installing_platform_agnostic/installing-platform-agnostic.adoc"
### Which section(s) is the issue in?
The very top-most info/warning message.

### What needs fixing?
The info message linking to https://access.redhat.com/articles/4207611, at the top of the page, has a rendering error.

![image](https://user-images.githubusercontent.com/614443/112480184-243de880-8d4c-11eb-8a27-ab07bf3f82e7.png)

[2021-03-25 13:33] skrthomas commented on #27491
Looking into this for doc issue burndown

[2021-03-25 13:36] kalexand-rh commented on #29452
@rhatbob, is running these commands part of the standard workflow to update RHEL machines?

[code]

They're not currently in the topic, and if they're required, it seems like now would be a good time to add them.

[2021-03-25 13:55] #30364 closed

[2021-03-25 13:59] kalexand-rh commented on #24119
This procedure has been updated so that you [obtain](https://docs.openshift.com/container-platform/4.5/installing/installing_vsphere/installing-vsphere.html#installation-extracting-infraid_installing-vsphere) and use the infrastructure ID, which contains that auto generated hash, up front. That step now says to "... create a folder with the same name as the infrastructure ID."

I'm closing this is

[2021-03-25 13:59] #24119 closed

[2021-03-25 14:02] codyhoag commented on #30919
Thanks, Andrew! This has been updated in #30920

[2021-03-25 14:02] #30919 closed

[2021-03-25 14:03] jeana-redhat commented on #26945
/remove-lifecycle rotten

[2021-03-25 14:04] bergerhoffer commented on #28321
@vikram-redhat Could you address this concern? I know that you have the most background on searching.

[2021-03-25 14:15] bergerhoffer commented on #28601
FYI @JStickler and @vikram-redhat

It looks like all service mesh docs on 4.3 are attempting to redirect to a path with "v1x" in it, even though the v1x/v2x separation wasn't done until 4.4+. I realize that 4.3 is out of support, but perhaps this is a bad set of redirects that could be undone?

[2021-03-25 14:17] bergerhoffer commented on #28225
/remove-lifecycle stale

[2021-03-25 14:20] jeana-redhat commented on #26945
@clayb-ssc - I picked this up for an issue burndown since you kindly provided the exact change needed (thank you!). However, looking into this, I see that he content in question has already been changed to some degree (including fixing the use of FTP you mentioned). The current version of the example config doesn't 100% match what you provided, but could you let me know if it works for you? If not

[2021-03-25 14:20] bergerhoffer commented on #28225
Scheduler profiles were added as a tech preview feature in 4.7. Here are the updated docs reflecting this:

* Deprecation note in scheduler policy docs: https://docs.openshift.com/container-platform/4.7/nodes/scheduling/nodes-scheduler-default.html
* Tech preview scheduler profile docs: https://docs.openshift.com/container-platform/4.7/nodes/scheduling/nodes-scheduler-profiles.html
* TP release no

[2021-03-25 14:24] bergerhoffer commented on #28631
This section has been removed by PR #30739 and bug https://bugzilla.redhat.com/show_bug.cgi?id=1843583.

Thanks for submitting! Closing this issue now.

[2021-03-25 14:24] #28631 closed

[2021-03-25 14:25] skrthomas commented on #30879
Looking into this for Git Hub issue burndown

[2021-03-25 14:25] #28225 closed

[2021-03-25 14:30] jeana-redhat commented on #27490
@ryandevlin-redhat - opened a PR to resolve this. Does the same edit still apply to releases post-4.6?

[2021-03-25 14:38] blues-man opened #30929 "[online] Issue in file rosa_architecture/rosa-basic-architecture-concepts.adoc"
### Which section(s) is the issue in?
https://docs.openshift.com/rosa/rosa_architecture/rosa-basic-architecture-concepts.html#rosa-openshift-concept_rosa-basic-architecture-concepts

### What needs fixing?

Do we need to link comparison table from IBM Cloud? It may look ambiguous as that page talk about IBM Cloud Kubernetes and OpenShift offering

[2021-03-25 14:55] pneedle-rh commented on #27506
@b-mchugh thank you for your detailed problem description.

Following a conversation with our OpenShift Docs Program Manager, we are removing the "Page history" link from the ARO docs. See [PR 30931](https://github.com/openshift/openshift-docs/pull/30931) for more details.

We are in the process of reviewing the "Page history" link in the Dedicated documentation and I will update this issue once w

[2021-03-25 14:57] jeana-redhat commented on #27619
Hi @nicop311 - does this apply to 4.6 only, or to subsequent versions as well?

[2021-03-25 15:00] bergerhoffer commented on #27053
@vrutkovs @B-Simms Can you please take a look at PR #30930 and make sure that my updates are correct? Here's a summary of the changes for OKD:

* `PRODUCT_REPO='openshift'`
* `RELEASE_NAME="okd"`
* For the above steps, I also removed two lines that said "For a production release, you must specify..." - but let me know if we still need those for OKD, with the above values.
* Removed setting `ARCHIT

[2021-03-25 15:12] pamoedom commented on #25034
/remove-lifecycle stale

[2021-03-25 15:19] ryandevlin-redhat commented on #27490
@jeana-redhat Yes this applies to OCP 4.5+

[2021-03-25 15:26] JStickler commented on #28601
@bergerhoffer I'd rather not make updates to versions that are out of support, since our engineering team does not want to encourage installations on older releases.    Could we close this one as "Won't Fix" ?

[2021-03-25 15:29] skrthomas commented on #29523
Looking into this as part of GitHub issue burndown

[2021-03-25 15:38] jonquilwilliams commented on #30900
This issue is being fixed by this PR: https://github.com/openshift/openshift-docs/pull/30938

[2021-03-25 15:39] jonquilwilliams commented on #30902
This issue is being fixed by this PR: https://github.com/openshift/openshift-docs/pull/30938

[2021-03-25 15:42] jeana-redhat commented on #27490
Thanks!

[2021-03-25 15:57] iranzo commented on #29523
In OC download
`openshift-client-linux-$VERSION.tar.gz` should not have `-$VERSION`

[2021-03-25 16:21] bgaydosrh commented on #29538
Thanks @peterclauterbach. I am currently working bug 1926199 and can include this information in the rewrite along with the other information provided by Dan K. in  https://github.com/openshift/openshift-docs/pull/30340

[2021-03-25 16:23] bgaydosrh commented on #29004
Will close this issue when bug 1926199 closes (Jira CNV-10445).

[2021-03-25 16:55] kobi86 commented on #29004
So the documentation is ready?

[2021-03-25 17:18] bgaydosrh commented on #29004
As stated in https://github.com/openshift/openshift-docs/pull/30340 we need to ensure we are providing the correct links for the appropriate information, which is more complex than what was requested in the bug. We are going as fast as we can. Thanks.

[2021-03-25 17:20] bobfuru commented on #29590
Thank you for raising this issue, @esimim! I don't have much knowledge of resource quotas but I did open https://github.com/openshift/openshift-docs/pull/30945 to see about getting this addressed.

[2021-03-25 18:27] #30903 closed

[2021-03-25 18:49] JStickler commented on #30065
Looks like this has been addressed.  Closing.

[2021-03-25 18:49] #30065 closed

[2021-03-25 18:54] JStickler commented on #27641
Created https://issues.redhat.com/browse/OSSMDOC-283 to track this.

[2021-03-25 18:57] JStickler commented on #27619
@jeana-redhat, there were quite a few changes in 4.6, but it should be the same for subsequent versions.

[2021-03-25 18:58] jeana-redhat commented on #27619
thanks, Julie!

[2021-03-25 19:01] JStickler commented on #27507
@b-mchugh as far as the service mesh docs team has been told by engineering and QE, the installation steps should be the same for ARO.   Have you attempted installation and failed?

[2021-03-25 19:06] jonquilwilliams commented on #30902
This is fixed in https://github.com/openshift/openshift-docs/pull/30947 (not in 30908). Waiting on QE to verify.

[2021-03-25 19:15] JStickler commented on #28077
Created https://issues.redhat.com/browse/OSSMDOC-284 to track this.

[2021-03-25 19:17] JStickler commented on #28045
Created https://issues.redhat.com/browse/OSSMDOC-285 to track this.

[2021-03-25 19:24] JStickler commented on #28869
Created https://issues.redhat.com/browse/OSSMDOC-286 to track this.

[2021-03-25 19:39] #28108 closed

[2021-03-25 21:03] esimim opened #30958 "[enterprise-4.5] Issue in file authentication/understanding-and-creating-service-accounts.adoc"
### Which section(s) is the issue in?
oc policy add-role-to-user view system:serviceaccount:top-secret:robot
oc policy add-role-to-user <role_name> -z <service_account_name>
oc policy add-role-to-group view system:serviceaccounts -n top-secret
oc policy add-role-to-group edit system:serviceaccounts:managers -n top-secret

### What needs fixing?
oc adm policy add-role-to-user view system:serviceacc

[2021-03-25 21:21] #29832 closed

[2021-03-25 21:26] #27696 closed

[2021-03-25 21:27] bergerhoffer commented on #28601
Yeah normally I wouldn't recommend updating 4.3 content since it's out of support, but this looks like it might have been redirects that were set up for 4.3 when they shouldn't have been. It's making the whole 4.3 doc set for service mesh 404, which is never a good look for our docs. And it might be a simple matter of undoing redirects for 4.3, so it could be worthwhile to look into. But I don't k

[2021-03-26 06:22] ChetRHosey opened #30973 "[enterprise-4.7] Issue in file installing/installing_vsphere/installing-vsphere.adoc - clarify UPI permissions"
### Which section(s) is the issue in?

[Installing a cluster on vSphere with user-provisioned infrastructure](https://docs.openshift.com/container-platform/4.7/installing/installing_vsphere/installing-vsphere.html)
[Installing a cluster on vSphere with user-provisioned infrastructure and network customizations](https://docs.openshift.com/container-platform/4.7/installing/installing_vsphere/install

[2021-03-26 08:44] pamoedom opened #30974 "[enterprise-4.7] Issue in file installing/installing_bare_metal/installing-bare-metal-network-customizations.adoc"
### Which section(s) is the issue in?

https://docs.openshift.com/container-platform/4.7/installing/installing_bare_metal/installing-bare-metal.html#installation-user-infra-machines-pxe_installing-bare-metal

https://docs.openshift.com/container-platform/4.7/installing/installing_bare_metal/installing-bare-metal-network-customizations.html#installation-user-infra-machines-pxe_installing-bare-metal

[2021-03-26 11:29] suulperi opened #30975 "[enterprise-4.7] Issue in file metering/metering-installing-metering.adoc"
### Which section(s) is the issue in?
https://docs.openshift.com/container-platform/4.7/metering/metering-installing-metering.html#metering-install-operator_installing-metering

First note with blue background

### What needs fixing?
`You cannot create a Project starting with openshift- using the web console or by using the oc new-project command in the CLI.`

Statement above is not true - you can

[2021-03-26 11:36] forenkla opened #30976 "[enterprise-4.7] Issue in file logging/cluster-logging-deploying.adoc"
### Which section(s) is the issue in?
3.1 Installing OpenShift Logging

### What needs fixing?

- Elasticsearch Operator should be OpenShift Elasticsearch Operator
- Cluster Logging should be Red Hat OpenShift Logging
- No button to copy YAML-file, only select/copy which includes footnotes

[2021-03-26 11:37] suulperi opened #30977 "[enterprise-4.7] Issue in file metering/metering-installing-metering.adoc"
### Which section(s) is the issue in?

https://docs.openshift.com/container-platform/4.7/metering/metering-installing-metering.html#metering-install-web-console_installing-metering

`To complete the metering installation, create a MeteringConfig resource to configure metering and install the components of the metering stack.`

### What needs fixing?

It would be valuable to include link to the sec

[2021-03-26 11:39] mglantz opened #30978 "[enterprise-4.7] Issue in file security/compliance_operator/compliance-operator-understanding.adoc"
### Which section(s) is the issue in?
Main section, Understanding the compliance operator. The section "Installing the compliance operator" is missing.

### What needs fixing?
Instructions on how to install the compliance operator so that you can get started with exploring it.
First section of "Understanding the compliance operator", Compliance Operator profiles: https://docs.openshift.com/contain

[2021-03-26 11:45] suulperi opened #30979 "[enterprise-4.7] Issue in file metering/metering-installing-metering.adoc"
### Which section(s) is the issue in?
https://docs.openshift.com/container-platform/4.7/metering/metering-installing-metering.html#metering-install-web-console_installing-metering

### What needs fixing?
`Create a namespace object YAML file for the Metering Operator with the oc create -f <file-name>.yaml command. You must use the CLI to create the namespace. For example, metering-namespace.yaml:`

[2021-03-26 11:55] ikke-t opened #30980 "[enterprise-4.7] Issue in file nodes/nodes/nodes-nodes-garbage-collection.adoc"
### Which section(s) is the issue in?

https://docs.openshift.com/container-platform/4.7/nodes/nodes/nodes-nodes-garbage-collection.html#nodes-nodes-garbage-collection-configuring_nodes-nodes-configuring

### What needs fixing?

It gives wrong example. It says to check labels do, ```oc describe machineconfigpool worker```

to get:
[code]

Which has example of actually another command. To get such

[2021-03-26 12:04] jwennerberg opened #30981 "[enterprise-4.7] Issue in file service_mesh/v2x/installing-ossm.adoc"
### Which section(s) is the issue in?
- Installing Elasticsearch Operator
- Installing Jaeger Operaror

### What needs fixing?
- References to "Elasticsearch Operator" should be changed to "OpenShift Elasticsearch Operator"
- References to "Jaeger Operator" should be changed to "Red Hat OpenShift Jaeger"

[2021-03-26 12:06] suulperi opened #30982 "[enterprise-4.7] Issue in file metering/metering-installing-metering.adoc"
### Which section(s) is the issue in?
https://docs.openshift.com/container-platform/4.7/metering/metering-installing-metering.html#metering-install-prerequisites_installing-metering

`Metering requires the following components:`

### What needs fixing?
`A StorageClass for dynamic volume provisioning. Metering supports a number of different storage solutions.`

Based on information in
https://docs.

[2021-03-26 13:11] ikke-t opened #30986 "[enterprise-4.7] Issue in file nodes/nodes/nodes-nodes-garbage-collection.adoc"
### Which section(s) is the issue in?

file: nodes-nodes-garbage-collection-configuring.adoc

Configuring garbage collection for containers and images -> Procedure

### What needs fixing?

There is sample configuration for a container garbage collection CR. I don't dare to put it into place, as it has undocumented feature. This whole page talks about disk pressure and cleaning it, however this CR

[2021-03-26 14:04] mglantz commented on #30978
After following instructions in the pull request you can continue and follow https://docs.openshift.com/container-platform/4.7/security/compliance_operator/compliance-operator-understanding.html

[2021-03-26 14:07] mglantz opened #30996 "[enterprise-4.7] Issue in file security/compliance_operator/compliance-operator-understanding.adoc"
### Which section(s) is the issue in?
security/compliance_operator/compliance-operator-understanding.adoc

### What needs fixing?
We do not mention the default name of the namespace, this forces users to go on a discovery journey.

[2021-03-26 14:07] jwennerberg opened #30997 "[enterprise-4.7] Issue in file service_mesh/v2x/prepare-to-deploy-applications-ossm.adoc"
### Which section(s) is the issue in?
Generating example traces and analyzing trace data

### What needs fixing?
Fix how `JAEGER_URL` variable is set using the CLI. The route name and namespace is incorrect.

Should be:
`export JAEGER_URL=$(oc get route -n <control_plane_project> jaeger -o jsonpath='{.spec.host}')`

[2021-03-26 14:46] #27490 closed

[2021-03-26 14:49] johanodell opened #31008 "[enterprise-4.7] Issue in file windows_containers/windows-containers-release-notes-2-x.adoc"
### Which section(s) is the issue in?

Under known issues

To pick the correct image for the MachineSet object, follow the instructions based on your cloud provider:

### What needs fixing?

Running the suggested AWS query for AMIs does return the value null in every region tested.

aws ec2 describe-images --filters Name=name,Values=Windows_Server-2019-English-Full-ContainersLatest-2020.09.09 --re

[2021-03-26 14:56] tiwillia opened #31014 "[enterprise-4.7] Uninstallation docs require metadata.json"
### Which section(s) is the issue in?
installing/installing_aws/uninstalling-cluster-aws.adoc

### What needs fixing?
The uninstallation docs for all cloud providers have a prerequisite:
[code]

While this is certainly the _easiest_ way to uninstall the cluster, many customers do not keep these files around after extracting the kube admin credentials. It is possible to provide the necessary info t

[2021-03-26 14:58] codyhoag commented on #31008
This was a known issue that was just recently resolved today in #30927. The workaround is no longer necessary and, therefore, has been removed. The live docs should reflect the changes soon.

[2021-03-26 14:58] #31008 closed

[2021-03-26 15:09] johanodell opened #31015 "[enterprise-4.7] Issue in file windows_containers/enabling-windows-container-workloads.adoc"
### Which section(s) is the issue in?

Installing the Windows Machine Config Operator using the web console
4. On the Install Operator page:
Select the 4.7 channel as the Update Channel. The 4.7 channel enables the latest stable release of the WMCO to be installed.

### What needs fixing?

the Update Channels available are preview or stable. There is no 4.7 alternative. This needs to be reflected

[2021-03-26 16:07] adityad97 opened #31018 "[enterprise-4.5] Issue in file security/certificate_types_descriptions/proxy-certificates.adoc"
### Which section(s) is the issue in?
https://docs.openshift.com/container-platform/4.5/security/certificate_types_descriptions/proxy-certificates.html#purpose
 Purpose section

### What needs fixing?
[code]
Indentation needs to be fixed for certificate details.

It should be like:
[code]

[2021-03-26 16:36] mburke5678 commented on #21638
@chuckersjp Thank you for pointing this out. I reached out to our OpenShift Logging QE resource and he agreed that the information should be in the 3.11 docs. However, he suggested, instead of updating the Deployment Config or Daemonset, to update the Ansible variables, seeting `openshift_image_tag=v3.11.<Z>` or
`oreg_url=registry.access.redhat.com/openshift3/ose-${component}:v3.11.<Z>`, as the up

[2021-03-26 17:12] chuckersjp commented on #21638
I think that might work but I am not 100% positive.  I do know I have been bitten by no having `imagePullPolicy: Always` on it but that could be a side effect of perhaps not including the <Z> in the image tag.

It might be helpful to include both statements.  But at a bare minimum it does need to be back in the docs in some fashion.

[2021-03-26 17:27] codyhoag commented on #31015
Thanks for identifying that issue. I have sent a PR to be merged in #31020

[2021-03-26 17:43] #29523 closed

[2021-03-26 23:38] #23722 closed

[2021-03-27 11:38] #26842 closed

[2021-03-27 17:39] #24981 closed

[2021-03-27 20:30] rolfedh commented on #24981
/reopen

[2021-03-27 22:09] wking commented on #30437
The version-compatibility matrix is only about minor-version compat (e.g. which 4.y you can use).  With each minor version's 4.y.z stream, we'll find and fix bugs.  So yeah, definitely if 4.y.z is giving you trouble, checking Bugzilla and/or updating to the latest z' in that 4.y make a lot of sense.  I dunno if it's worth adding language to the version-compatibility docs to point that out, or if i

[2021-03-28 00:17] bobfuru commented on #27987
@af778998 Thank you so much for creating this issue and for providing the example!

This update has been reviewed, approved, merged, and is now live in OCP 4.6+ docs. For example, 4.7 link: https://docs.openshift.com/container-platform/4.7/installing/installing_bare_metal/installing-bare-metal.html#installation-user-infra-machines-static-network_installing-bare-metal.

[2021-03-28 00:17] #27987 closed

[2021-03-29 08:40] #27506 closed

[2021-03-29 09:24] ctauchen commented on #31018
Can you assign this to me @vikram-redhat ? Thanks!

[2021-03-29 11:47] ctauchen commented on #24129
Closes BZ 1860063: https://bugzilla.redhat.com/show_bug.cgi?id=1860063

[2021-03-29 11:48] pneedle-rh commented on #27506
@b-mchugh the "Page history" link has now been removed from [the ARO documentation](https://docs.openshift.com/aro/4/welcome/index.html).

We also plan to provide a "Page history" link in Dedicated 4 documentation as part of our current documentation developments for that distribution.

Please let me know if you have any questions. Thanks!

[2021-03-29 13:48] jlebon commented on #30974
This has come up in the past as well, see discussions in https://bugzilla.redhat.com/show_bug.cgi?id=1845180.

[2021-03-29 13:55] #31015 closed

[2021-03-29 13:58] pamoedom commented on #30974
Thanks @jlebon, I'll reopen the BZ because for versions >=4.6, iPXE boot with UEFI mode is not working unless the initrd for kernel argument points to just the image file name and not the whole URL.

[2021-03-29 14:22] annelson-rh opened #31057 "[enterprise-4.6] Issue in file networking/routes/route-configuration.adoc"
### Which section(s) is the issue in?
Route-specific annotations

### What needs fixing?

missing annotation in table - haproxy.router.openshift.io/set-forwarded-headers

https://docs.openshift.com/container-platform/4.6/networking/ingress-operator.html#nw-using-ingress-forwarded_configuring-ingress (while this is linked to in the release notes, it is not linked anywhere else, and doesn't seem to

[2021-03-29 15:48] bobfuru commented on #29927
Thank you for reporting this, @tumido! I'm happy we were able to improve our docs based on your suggestion. The corresponding PR has been merged and will the update will be live shortly: https://docs.openshift.com/container-platform/4.7/storage/persistent_storage/persistent-storage-local.html#local-storage-install_persistent-storage-local

Closing this issue but do reach out with any further quest

[2021-03-29 15:48] #29927 closed

[2021-03-29 17:21] jonquilwilliams commented on #30929
Merged in 31003.

[2021-03-29 17:42] #27741 closed

[2021-03-29 17:45] bergerhoffer commented on #27741
@apurty Thanks for submitting this. The updates were made with PR #30922, and should be live within a few hours.

[2021-03-29 20:42] #27053 closed

[2021-03-30 03:02] cvantuin opened #31088 "[enterprise-4.7] Issue in file release_notes/ocp-4-7-release-notes.adoc"
### Which section(s) is the issue in?

About this release

### What needs fixing?
OpenShift Container Platform 4.7 is supported on Red Hat Enterprise Linux (RHEL) 7.7 or later, as well as Red Hat Enterprise Linux CoreOS (RHCOS) 4.6.

Is CoreOS 4.6 correct?   Usually OCP version = CoreOS version?

[2021-03-30 08:32] lautou commented on #28781
Hi any update?

[2021-03-30 13:48] codyhoag commented on #26949
/reopen

[2021-03-30 13:48] codyhoag commented on #26949
/remove-lifecycle rotten

[2021-03-30 14:57] ahardin-rh commented on #29593
@esimim Thank you for reporting this issue! The issue is now addressed in https://github.com/openshift/openshift-docs/pull/31061

[2021-03-30 14:57] #29593 closed

[2021-03-30 15:46] bergerhoffer commented on #27053
Updates are live: https://docs.okd.io/latest/installing/install_config/installing-restricted-networks-preparations.html#installation-mirror-repository_installing-restricted-networks-preparations

[2021-03-30 15:53] mburke5678 commented on #21638
PR is merged. Closing.

[2021-03-30 15:53] #21638 closed

[2021-03-30 17:50] #27619 closed

[2021-03-30 17:52] #27766 closed

[2021-03-30 20:27] jpkrohling commented on #27645
I'm OK with closing this one here. The concern is only that the notation on service mesh isn't used anywhere else that I'm aware of, so it might not be immediately clear to users what the value translates to, but if it's being mentioned elsewhere, we are covered.

[2021-03-30 20:27] #27645 closed

[2021-03-31 00:56] codyhoag commented on #27708
/remove-lifecycle rotten

[2021-03-31 01:11] codyhoag commented on #27716
Thanks for this suggestion! This was fixed in #29143. Since that has merged, I'm closing this issue.

[2021-03-31 01:11] #27716 closed

[2021-03-31 01:11] codyhoag commented on #27709
/remove-lifecycle rotten

[2021-03-31 06:59] klaphi opened #31149 "[enterprise-4.6] Issue in file networking/configuring_ingress_cluster_traffic/configuring-ingress-cluster-traffic-aws-network-load-balancer.adoc"
### Which section(s) is the issue in?

Configuring an Ingress Controller Network Load Balancer on an existing AWS cluster

### What needs fixing?
Please describe also howto replace the existing openshift ingress, because on a existing cluster it is not allowed to have more then one ingress.

Something like:
[code]
Replace the default ingress with a new one that uses the NLB instead of CLB:

[code]

[2021-03-31 09:33] vikram-redhat commented on #31088
@jeana-redhat can you take a look?

[2021-03-31 09:38] #30929 closed

[2021-03-31 11:11] sounix000 commented on #26874
Doc PRs (either merged or with LGTMs):
- `4.6`: [https://github.com/openshift/openshift-docs/pull/31051](https://github.com/openshift/openshift-docs/pull/31051)
- `4.7` and `4.8`: [https://github.com/openshift/openshift-docs/pull/31051](https://github.com/openshift/openshift-docs/pull/31051)

Please close this issue.
CC - @Preeticp
Thanks!

[2021-03-31 11:24] larsks opened #31151 "[enterprise-4.7] Issue in file installing/installing_bare_metal_ipi/ipi-install-prerequisites.adoc"
### Which section(s) is the issue in?

https://docs.openshift.com/container-platform/4.7/installing/installing_bare_metal_ipi/ipi-install-prerequisites.html#network-requirements_ipi-install-prerequisites

### What needs fixing?

The "Network Requirements" section says:

But that's incorrect: `ironic-dnsmasq` only provides services on the
*provisioning* network. The operator is expected to provide

[2021-03-31 14:15] sounix000 commented on #26874
/close

[2021-03-31 14:19] #26874 closed

[2021-03-31 15:40] #15234 closed

[2021-03-31 16:36] kartikaysharma27 commented on #30958
Hello @esimim

I followed the steps mentioned in doc: https://docs.openshift.com/container-platform/4.5/authentication/understanding-and-creating-service-accounts.html and it's working as expected, are you also referring to the same?

Could you elaborate or let me know the fix you are looking for while executing the below commands:
oc policy add-role-to-user view system:serviceaccount:top-secret:r

[2021-03-31 17:29] #29590 closed

[2021-03-31 17:34] jeana-redhat commented on #31088
@cvantuin thanks for reporting! I'm sure that you are right, and am just waiting on confirmation before I make the change.

[2021-03-31 19:37] ahardin-rh commented on #27182
Work in progress: https://github.com/openshift/openshift-docs/pull/29673

[2021-03-31 23:43] wgordon17 commented on #24338
/close

[2021-03-31 23:43] #24338 closed

[2021-04-01 03:49] stevsmit commented on #28322
Hi @RHmilti

Thanks for submitting this bug. We added an "Additional resources" section to this module so that users could easily find the referred section in the text. I will request that this issue be closed.

Steven

[2021-04-01 15:10] #28322 closed

[2021-04-01 15:30] JStickler commented on #30981
Tracking this work as part of https://issues.redhat.com/browse/OSSMDOC-288.

[2021-04-01 19:08] bobfuru commented on #29590
Thanks again, @esimim! The related PR https://github.com/openshift/openshift-docs/pull/30945 was approved by QE and has been merged to the docs. It is now live, for example:
https://docs.openshift.com/container-platform/4.7/applications/quotas/quotas-setting-per-project.html#quotas-sample-resource-quota-definitions_quotas-setting-per-project

Closing this issue.

[2021-04-01 20:49] #31057 closed

[2021-04-02 07:09] r2d2rnd opened #31225 "[enterprise-4.7] Issue in file security/compliance_operator/compliance-operator-manage.adoc"
### Which section(s) is the issue in?
Using image streams

### What needs fixing?

The commands to be executed against the imagestreams are not indicating the namespace. This is an issue since if you are in a different project than "openshift", you won't able to list the "is" or do any operation on them.

Then, it should be changed for a better understanding, the next commands:

This:

[code]

By

[2021-04-04 20:46] maxwelldb commented on #23253
I'd take a look at the load balancing procedures added in 4.7. Feel free to re-open this issue if the docs there are lacking, but do note that they are unsupported in versions <4.7.

[2021-04-04 20:46] #23253 closed

[2021-04-05 01:18] tnk4on opened #31227 "[online] Issue in file rosa_getting_started/rosa-aws-prereqs.adoc"
### Which section(s) is the issue in?

Prerequisites for Red Hat OpenShift Service on AWS

### What needs fixing?

All "AWS Organization" should be "AWS Organizations".
"AWS Organizations" is a proper noun.

Reference link:
https://aws.amazon.com/organizations/

[2021-04-05 04:23] kartikaysharma27 commented on #30958
Hi @vikram-redhat Can you assign this to me?

[2021-04-05 07:25] kartikaysharma27 commented on #31225
Hello @vikram-redhat Can you assign this to me? Thanks.

[2021-04-05 15:38] bobfuru commented on #27643
/remove-lifecycle stale

[2021-04-05 15:54] bobfuru commented on #27643
Created https://github.com/openshift/openshift-docs/pull/31243, under review

[2021-04-05 17:01] #28150 closed

[2021-04-05 17:10] #23903 closed

[2021-04-05 17:47] bmcelvee commented on #29904
Resolved.

[2021-04-05 17:47] #29904 closed

[2021-04-05 19:28] #27708 closed

[2021-04-05 19:28] #27709 closed

[2021-04-05 19:28] #29542 closed

[2021-04-05 19:28] #30715 closed

[2021-04-06 04:10] kartikaysharma27 commented on #31225
@r2d2rnd thank you for reporting. I am quite sure you are right to have a namespace mentioned. But as per the doc: https://docs.openshift.com/container-platform/4.7/security/compliance_operator/compliance-operator-manage.html , I don't think that we will get the mentioned "image stream" from "openshift" namespace. Let me know what you think.

I need to confirm before proceeding, but while have a l

[2021-04-06 08:12] Preeticp commented on #30976
@rolfedh can you PTAL and create a parallel jira issue for the same?

[2021-04-06 09:39] rolfedh commented on #30976
https://issues.redhat.com/browse/RHDEVDOCS-2900

[2021-04-06 09:59] rolfedh commented on #30976
Thank you for your feedback @forenkla. I will be addressing these issues.
* To copy YAML and other code snippets, please use the OpenShift documentation here: https://docs.openshift.com/container-platform/4.7/logging/cluster-logging-deploying.html

[2021-04-06 10:25] sounix000 commented on #27743
Docs PR with LGTMs: https://github.com/openshift/openshift-docs/pull/31271

[2021-04-06 10:25] sounix000 commented on #27743
\close

[2021-04-06 11:19] rolfedh commented on #30976
@Preeticp Would you please assign this issue to me? Thanks.

[2021-04-06 12:19] pdhamdhe opened #31274 "[enterprise-Branch Build] Issue in file security/compliance_operator/compliance-operator-remediation.adoc"
### Which section(s) is the issue in?

https://deploy-preview-29673--osdocs.netlify.app/openshift-enterprise/latest/security/compliance_operator/compliance-operator-remediation.html#compliance-unapplying_compliance-remediation

### What needs fixing?
Need to mention complete patch command. It looks incomplete. Refer section https://deploy-preview-29673--osdocs.netlify.app/openshift-enterprise/late

[2021-04-06 12:24] kartikaysharma27 commented on #31274
@vikram-redhat Can you assign this to me? Thanks

[2021-04-06 15:42] germanparente commented on #29345
Hi,

any update of why this is ignored ? I have a customer that it's interested to see this fixed in the documentation. Should I report a bugzilla instead ?

Best regards,

German Parente.

[2021-04-06 16:40] rolfedh commented on #30976
- I'm updating a couple of instances of "Cluster Logging" on the customer portal documentation site that we still needed to update to "Openshift Logging." PR
- I'm also updating "Elasticsearch Operator" in the documentation to "OpenShift Elasticsearch Operator."

[2021-04-06 16:48] #28402 closed

[2021-04-06 17:02] alexisph opened #31306 "[enterprise-4.6] Issue in file service_mesh/v2x/ossm-custom-resources.adoc"
### Which section(s) is the issue in?

Service Mesh 2.x - Custom resources

### What needs fixing?

Using capacity in the spec.addons.grafana.install.persistence stanza results in an error.

When the spec.addons.grafana.install.persistence.capacity field is defined, the SMCP yaml does not pass validation and cannot be applied to a OCP v4.6 cluster by the RHSM v2.0 operator.

According to the below

[2021-04-06 19:45] bobfuru commented on #27643
Thank you for reporting this and for the suggested edit, @rhatbob (nice handle, too!). The change has been implemented and is published live in 3.11 docs: https://docs.openshift.com/container-platform/3.11/install_config/configuring_azure.html#azure-configuring-ansible_configuring-for-azure

Closing this issue.

[2021-04-06 19:46] #27643 closed

[2021-04-06 21:34] rolfedh commented on #30976
/close

[2021-04-07 06:32] DanielFroehlich commented on #27767
/remove-lifecycle stale

On Wed, Apr 7, 2021 at 2:33 AM OpenShift Bot ***@***.***>
wrote:

--
Daniel Fröhlich - Senior Solution Architect
E: ***@***.*** - M: +49 176 10 24 84 33 - TZ:CET / CST-7 / /IST-4.5
/ UTC+1 / EST+6 / PST+9 - Availability
<https://calendar.google.com/calendar/embed?src=dfroehli%40redhat.com&ctz=Europe%2FBerlin&mode=week>
Red Hat GmbH <https://de.redhat.com/>, Commercial regi

[2021-04-07 07:40] kartikaysharma27 commented on #31274
@pdhamdhe Thanks for reporting. I will do the needful check and will proceed further. Meanwhile, if possible can you share the complete patch command you are looking for fix(two check that we are on same page :-) ) https://deploy-preview-29673--osdocs.netlify.app/openshift-enterprise/latest/security/compliance_operator/compliance-operator-remediation.html#compliance-unapplying_compliance-remediati

[2021-04-07 08:08] e-minguez opened #31328 "Baremetal container mirror certificate missing flag"
### Which section(s) is the issue in?
 Installing / Deploying installer-provisioned clusters on bare metal / Setting up the environment for an OpenShift installation / Generating the self-signed certificate (optional)

### What needs fixing?

The certificate instructions miss an important flag `-addext "subjectAltName = DNS:${host_fqdn}"`

See https://openshift-kni.github.io/baremetal-deploy/4.7/D

[2021-04-07 08:10] e-minguez opened #31329 ""Creating a mirror registry for installation in a restricted network" vs "Creating a disconnected registry""
### Which section(s) is the issue in?

Installing / Deploying installer-provisioned clusters on bare metal / Setting up the environment for an OpenShift installation / Generating the self-signed certificate (optional)

### What needs fixing?

https://docs.openshift.com/container-platform/4.7/installing/installing_bare_metal_ipi/ipi-install-installation-workflow.html#ipi-install-creating-a-disconne

[2021-04-07 08:13] e-minguez opened #31330 "Full PS1 prompt or just $?"
### Which section(s) is the issue in?

Installing / Deploying installer-provisioned clusters on bare metal / Setting up the environment for an OpenShift installation / Generating the self-signed certificate (optional)

### What needs fixing?

Those commands include the full PS1 prompt (which I think it is useless) and for instance https://docs.openshift.com/container-platform/4.7/installing/instal

[2021-04-07 09:40] pdhamdhe commented on #31274
@kartikaysharma27 Hi, You can refer the patch command from [compliance-applying_compliance-remediation](https://deploy-preview-29673--osdocs.netlify.app/openshift-enterprise/latest/security/compliance_operator/compliance-operator-remediation.html#compliance-applying_compliance-remediation) section and just replace `"apply":true` in command with `"apply":false`.

[2021-04-07 09:43] vikram-redhat commented on #31274
Hi @pdhamdhe and @kartikaysharma27 - is this an issue in published docs? Or the preview for another PR of https://github.com/openshift/openshift-docs/pull/29673? I believe it is for the later so this review should be left in that PR itself rather than opening a new issue.

New issues are for published docs only.

[2021-04-07 10:03] pdhamdhe commented on #31274
@vikram-redhat Hi, This issue from published 4.6 docs [compliance-unapplying_compliance-remediation](https://docs.openshift.com/container-platform/4.6/security/compliance_operator/compliance-operator-remediation.html#compliance-unapplying_compliance-remediation) hence I opened a new issue.

[2021-04-07 10:31] vikram-redhat commented on #31274
Thanks @pdhamdhe! It looks like you may have used the report an issue from the preview docs here https://deploy-preview-29673--osdocs.netlify.app/openshift-enterprise/latest/security/compliance_operator/compliance-operator-remediation.html#compliance-unapplying_compliance-remediation which is a temporary preview site. :)

All good if @kartikaysharma27 knows where the actual fix needs to be.

[2021-04-07 10:42] kartikaysharma27 commented on #31274
Ack @vikram-redhat I will work on it. Thank you.

@pdhamdhe I will proceed further with it, once I get clarification on the patch command. Let me know if you have any questions.

[2021-04-07 12:02] jeana-redhat commented on #30976
Cherrypicks are merged, attempting to close.

[2021-04-07 12:02] #30976 closed

[2021-04-07 12:19] #23857 closed

[2021-04-07 12:37] pdhamdhe commented on #31274
@vikram-redhat Oh.. Sorry for the confusion. Yes, you are right. I reported it through a temporary preview site instead of published docs.

[2021-04-07 14:47] alosadagrande opened #31354 "Setting min value to 0 in a LimitRange does not allow the pod to consume more than the max CPU value"
### Which section(s) is the issue in?

[Container Limits](https://docs.openshift.com/container-platform/4.7/nodes/clusters/nodes-cluster-limit-ranges.html#nodes-cluster-limit-container-limits)
[Pod limits](https://docs.openshift.com/container-platform/4.7/nodes/clusters/nodes-cluster-limit-ranges.html#nodes-cluster-limit-pod-limits)

### What needs fixing?

The documentation states "The minimum am

[2021-04-07 18:20] #26278 closed

[2021-04-08 10:29] kartikaysharma27 commented on #31225
https://github.com/openshift/openshift-docs/pull/31270

[2021-04-08 11:52] aburdenthehand opened #31405 "[enterprise-4.7] Issue in file installing/installing_bare_metal_ipi/ipi-install-prerequisites.adoc"
In modules/ipi-install-network-requirements.adoc

Specifically:
"See *OpenShift Virtualization > Kubernetes NMState (Tech Preview)* for additional details."

This content is in Networking, not Virt. And section doesn't have (Tech Preview) in the name afaik
(Also bold markup doesn't seem right here but I could be wrong)

[2021-04-08 13:38] #31018 closed

[2021-04-08 17:54] ahardin-rh commented on #31225
@r2d2rnd Thanks for reporting this issue and thank you @kartikaysharma27 for addressing it. The fix is now merged and I am closing the issue. Please let me know if I can provide further assistance. Thank you!

[2021-04-08 17:54] #31225 closed

[2021-04-08 20:36] bgaydosrh commented on #29538
FYI, @peterclauterbach I'm going to get https://github.com/openshift/openshift-docs/pull/30340 merged first and then I will open a new PR to add the information you requested above.

[2021-04-09 13:34] jboxman commented on #31330
@e-minguez thanks!

[2021-04-09 13:34] #31330 closed

[2021-04-09 21:42] ahardin-rh commented on #30514
https://github.com/openshift/openshift-docs/pull/29673 is now merged and the content is now published:https://docs.openshift.com/container-platform/4.7/security/compliance_operator/compliance-operator-installation.html

I am going to close this issue, but please let me know if you have further feedback.

[2021-04-09 21:42] #30514 closed

[2021-04-09 21:43] ahardin-rh commented on #27182
The updates are now published: https://docs.openshift.com/container-platform/4.7/security/compliance_operator/compliance-operator-installation.html

I am going to close this issue, but please let us know if further updates are needed. Thank you!

[2021-04-09 21:43] #27182 closed

[2021-04-10 00:28] #22441 closed

[2021-04-10 12:30] #20731 closed

[2021-04-10 12:30] #27211 closed

[2021-04-10 19:39] rolfedh commented on #22441
@ChetHosey Thanks for reporting this issue. I've created a pull request to move the content as suggested.

[2021-04-11 14:08] ehvs opened #31475 "[enterprise-4.7] Issue in file logging/config/cluster-logging-curator.adoc"
### Which section(s) is the issue in?
First paragraph.
https://docs.openshift.com/container-platform/4.7/logging/config/cluster-logging-curator.html

### What needs fixing?
The first sentence is very misleading. It gives the understanding that Curator still the main tool being used in the stack when actually are the `IndexManagement` cronjobs for 4.5 and later.

[code]

Suggestions for improvement

[2021-04-12 05:30] porridge opened #31478 "[enterprise-4.7] Issue in file operators/operator_sdk/golang/osdk-golang-tutorial.adoc"
### Which section(s) is the issue in?

The `About OpenAPI validation` section.

### What needs fixing?

The whole section is duplicated.

[2021-04-12 13:22] mburke5678 commented on #31478
@porridge Thank you for pointing this out!

[2021-04-12 13:22] mburke5678 commented on #31478
@adellape It looks like the text from the  _osdk-about-openapi-validation.adoc_ module is also in the previous  module: _osdk-golang-generate-crd.adoc_

See:
https://github.com/openshift/openshift-docs/blob/master/modules/osdk-golang-generate-crd.adoc
https://github.com/openshift/openshift-docs/blob/master/modules/osdk-about-openapi-validation.adoc

Let me know if you want me to fix this.

[2021-04-12 18:41] esimim commented on #30958
Hi, I saw
'oc *adm* policy add-role-to-user ...'
all over the documentation, like:

[image: Screen Shot 2021-04-12 at 15.35.10.png]

[image: Screen Shot 2021-04-12 at 15.37.49.png]

I didn't actually test and did not know that this:
oc policy add-role-to-user <role_name> -z <service_account_name>
would also work, my apologies.

I just thought that it had to be like the above.

Cheers

On Mon, Apr

[2021-04-12 20:16] mburke5678 commented on #31354
@alosadagrande Thank you for catching this error. I changed the sentence to read: _Not setting a `min` value uses the default value._ Please take a look. https://github.com/openshift/openshift-docs/pull/31501/files

[2021-04-13 02:58] matt314 opened #31504 "[enterprise-4.7] Issue in file installing/installing_aws/installing-aws-government-region.adoc"
### Which section(s) is the issue in?
Uploading a custom RHCOS AMI in AWS, step 6.

### What needs fixing?
It's unclear in the docs that --disk-container requires a URL, so file://<path/to>/containers.json is the correct argument.
[code]

Reference: https://github.com/aws/aws-cli/issues/3878#issuecomment-457079963

[2021-04-13 03:02] matt314 commented on #31504
AWS cli installed from pip:
[root@xxx user]# aws --version
aws-cli/1.19.50 Python/3.6.8 Linux/4.18.0-240.1.1.el8_3.x86_64 botocore/1.20.50

[2021-04-13 11:10] linuxstudio opened #31508 "[enterprise-4.7] Issue in file operators/understanding/olm/olm-understanding-olm.adoc"
### Which section(s) is the issue in?
Cluster service version
second paragraph

### What needs fixing?
"think of the packaging step for OLM as the stage at which you make your rpm, dep, or apk bundle."
should be instead:
"think of the packaging step for OLM as the stage at which you make your rpm, deb, or apk bundle."

[2021-04-13 11:29] porridge opened #31509 "[enterprise-4.7] Issue in file operators/operator_sdk/osdk-leader-election.adoc"
### Which section(s) is the issue in?

In the top part, before the first subsection.

### What needs fixing?

The following sentence:

seems (no longer?) correct. See https://sdk.operatorframework.io/docs/building-operators/golang/advanced-topics/#leader-election which contains the same text but points at the other implementation as the default. I think @SimonBaeumer said that the code confirms th

[2021-04-13 14:46] maxwelldb commented on #30721
Related to: https://bugzilla.redhat.com/show_bug.cgi?id=1916938

[2021-04-13 15:00] SimonBaeumer commented on #31509
Yes, at least the generation of the go operator created a configuration like this:

[code]

[2021-04-13 16:06] jwilliams-shadowsoft opened #31521 "[enterprise-4.7] Issue in file installing/installing_azure/installing-azure-customizations.adoc"
### Which section(s) is the issue in?
In `installing/installing_azure/installing-azure-customizations.adoc` and the modules:
* `installation-configuration-parameters.adoc`
* `installation-azure-config-yaml.adoc`

Published page on `docs.openshift.com`:
* https://docs.openshift.com/container-platform/4.7/installing/installing_azure/installing-azure-customizations.html#installation-initializing_inst

[2021-04-13 16:08] #30721 closed

[2021-04-13 17:07] dlystra opened #31527 "[enterprise-4.7] Issue in file installing/installing_aws/installing-aws-account.adoc"
### Which section(s) is the issue in?
Required AWS permissions

### What needs fixing?
ec2:DescribeInstanceTypes is missing from the list of required permissions for installation

[2021-04-13 17:38] codyhoag commented on #31527
@staebler can you confirm? We just recently added `ec2:DescribeInstanceTypeOfferings` as an optional permission for instance and quota checks (bottom list [here](https://docs.openshift.com/container-platform/4.7/installing/installing_aws/installing-aws-account.html#installation-aws-permissions_installing-aws-account)). Not sure if this is any way related.

[2021-04-13 17:41] ghyde opened #31529 "Setting cookie name example is wrong"
### Which section(s) is the issue in?

_Networking > Routes > Route configuration > Annotating a route with a cookie_

This issue applies to all 4.x documentation.

[Source][src]

### What needs fixing?

The route annotation example is not valid. I tested the given example, and it does not overwrite the cookie name. The annotation must always use the key `router.openshift.io/cookie_name` ([Referen

[2021-04-13 18:01] ghyde commented on #27356
I believe this issue was resolved with #26607.

[2021-04-13 18:17] #27356 closed

[2021-04-13 18:23] jboxman commented on #31529
cc @bmcelvee

[2021-04-13 18:43] dlystra commented on #31527
I had the customer add ec2:DescribeInstanceTypeOfferings, but I still received the same error. The install proceeded properly after adding ec2:DescribeInstanceTypes.

[2021-04-13 20:07] mtulio opened #31539 "[enterprise-4.6] Issue in file pipelines/creating-applications-with-cicd-pipelines.adoc"
### Which section(s) is the issue in?

- "Running a Pipeline" > Procedures:

Removing the extra slash on the end of line

### What needs fixing?

#### Procedure 1

From line:
[code]

To line:
[code]

#### Procedure 3

From:
[code]

To:
[code]

[2021-04-14 02:44] gtinsley opened #31545 "[enterprise-4.7] Issue in file installing/installing_aws/installing-aws-account.adoc"
### Which section(s) is the issue in?
Required AWS permissions

### What needs fixing?
The Required IAM permissions for installation is missing

iam:CreateServiceLinkedRole

[2021-04-14 03:59] kartikaysharma27 commented on #31539
@vikram-redhat can you assign this to me?

[2021-04-14 12:49] Preeticp commented on #31475
@rolfedh PTAL, request you to create a parallel Jira issue, we can take it up and fix it based on our DPM planning.

[2021-04-14 13:41] #28376 closed

[2021-04-14 13:45] codyhoag commented on #31545
@staebler here's another AWS permissions change request. Can you confirm?

[2021-04-14 14:00] #30325 closed

[2021-04-14 14:00] #31504 closed

[2021-04-14 14:05] codyhoag commented on #31504
@matt314 thanks for this suggestion. The update has been merged.

[2021-04-14 14:06] codyhoag commented on #30325
@pekramp thanks for this suggestion. The update has been merged.

[2021-04-14 15:47] staebler commented on #31545
What is requiring that permission? Where are we seeing a failure when that permission has not been granted? I am not aware of anything that requires that permission, but there may have been a change to some in-cluster operator.

[2021-04-14 16:02] staebler commented on #31527
Yes, the `ec2:DescribeInstanceTypes` permission is needed when the user specifies an instance type in a machine pool, rather than using the default.

[2021-04-14 16:15] dlystra commented on #31545
This is the error received when running the install in log-level debug:

```ERROR Error: Error creating network Load Balancer: AccessDenied: User: arn:aws:iam::454876819616:user/ocp-install-service-user is not authorized to perform: iam:CreateServiceLinkedRole on resource: arn:aws:iam::454876819616:role/aws-service-role/elasticloadbalancing.amazonaws.com/AWSServiceRoleForElasticLoadBalancing ```

[2021-04-14 16:47] staebler commented on #31545
@dlystra Would you mind providing a bit more of the .openshift_install.log surrounding this error so that I can get a better feel for what is happening?

[2021-04-14 16:54] dlystra commented on #31545
I'd be happy to.

[code]

[2021-04-14 17:43] staebler commented on #31545
Interesting. Thank you. I will need to do some research into this to figure out why the loadbalancer needs it own service role.

[2021-04-14 17:46] staebler commented on #31545
From https://docs.aws.amazon.com/elasticloadbalancing/latest/userguide/elb-service-linked-roles.html, it looks like this is only needed if the `AWSServiceRoleForElasticLoadBalancing` role has not already been created for the account. AWS creates that role on your behalf when creating ELBs.

[2021-04-14 17:50] staebler commented on #31545
I am hesitant to call out this permission as required when doing an install. In most cases, this is probably not required. Is there a way that we can say that the permission **may** be needed if an ELB has never been created in the account?

[2021-04-14 17:55] codyhoag commented on #31545
We could create a note under the `Required EC2 permissions for installation` list warning of this requirement. I'm hesitant to add a lot of corner cases to the docs because it muddies the hard requirements, but right now, there aren't many corner cases we point out currently. So it should be fine.

[2021-04-14 18:06] codyhoag commented on #31527
@staebler do you recommend we include this into the hard requirements listed for [Required EC2 permissions for installation](https://docs.openshift.com/container-platform/4.7/installing/installing_aws/installing-aws-account.html#installation-aws-permissions_installing-aws-account)? Or is this more of a corner case warning?

[2021-04-14 19:01] staebler commented on #31527
I am loathe to have it as a hard requirement, but I don't think it is a corner case. I expect that it is common enough to have as a hard requirement. It is also used for quota checking, which is always attempting although not required.

[2021-04-14 20:21] jeana-redhat commented on #31088
Update: PR can be merged pending change notification process

[2021-04-15 03:00] #31328 closed

[2021-04-15 09:39] mmurphy commented on #25003
@bergerhoffer Yes, that makes sense give the different publishing routes.

[2021-04-15 09:39] #25003 closed

[2021-04-15 13:46] mburke5678 commented on #31354
PR is merged.

[2021-04-15 13:46] #31354 closed

[2021-04-15 17:40] klaphi opened #31618 "[enterprise-4.6] | [enterprise-4.7] Issue in file networking/configuring_ingress_cluster_traffic/configuring-ingress-cluster-traffic-aws-network-load-balancer.adoc"
### Which section(s) is the issue in?
Configuring an Ingress Controller Network Load Balancer on an existing AWS cluster

### What needs fixing?
Please add an additional hint for using the tag "kubernetes.io/role/internal-elb" on internal subnets.

In our case all networks was tagged with kubernetes.io/cluster/<<cluster-id>> = shared" which created a NLB with public and private subnets. If you wan

[2021-04-15 17:46] worsco opened #31619 "[enterprise-4.7] Issue in file cli_reference/openshift_cli/getting-started-cli.adoc"
### Which section(s) is the issue in?

"Logging in to the OpenShift CLI"

### What needs fixing?

"oc login" no longer works in the "oc" cli 4.7 version

See...

https://bugzilla.redhat.com/show_bug.cgi?id=1920427

and...

https://github.com/openshift/oc/commit/cb6b001f198b6554a03738f355e69cc0d8e383b4

You must specify "--username=NAMEOFUSER" to log in.

The example output the the documentation is

[2021-04-15 17:54] jboxman commented on #31619
@bergerhoffer fyi

[2021-04-15 21:24] hugomelendez opened #31630 "[enterprise-4.6] Issue in file builds/creating-build-inputs.adoc"
### Which section(s) is the issue in?
Creating a basic authentication secret with a CA certificate

### What needs fixing?
It says:
$ oc create secret generic <secret_name> \
    --from-literal=username=<user_name> \
    --from-literal=password=<password> \
    --from-file=ca-cert=</path/to/file> \
    --type=kubernetes.io/basic-auth

And should say:
$ oc create secret generic <secret_name> \

[2021-04-15 23:29] patrickstrick opened #31632 "[enterprise-4.7] Issue in file installing/installing_platform_agnostic/installing-platform-agnostic.adoc"
### Which section(s) is the issue in?
Image registry storage configuration

### What needs fixing?
* I would argue that step 1 is not actually a step, but rather a preface.
* In step 2 you are supposed to "Verify that you do not have a registry pod", however it does not state what output you should be looking for from that command, and there will be some pods shown in the output even if the regist

[2021-04-15 23:32] patrickstrick commented on #31632
Also, this section is duplicated (sometimes with modifications) in many other sections of the docs including (but not limited to):
* https://docs.openshift.com/container-platform/4.7/installing/installing_vsphere/installing-vsphere-installer-provisioned-customizations.html#installing-vsphere-installer-provisioned-customizations-registry
* https://docs.openshift.com/container-platform/4.7/installin

[2021-04-16 01:05] leifmadsen commented on #26673
/reopen

[2021-04-16 04:07] kartikaysharma27 commented on #31630
@vikram-redhat can you assign this to me. Thank you.

[2021-04-16 05:02] brizrobbo opened #31634 "[online] Issue in file rosa_getting_started/rosa-required-aws-service-quotas.adoc"
### Which section(s) is the issue in?

https://docs.openshift.com/rosa/rosa_getting_started/rosa-required-aws-service-quotas.html#rosa-required-aws-service-quotas_rosa-required-aws-service-quotas

### What needs fixing?

Typo: ...documentation on requesting a quota inscrease. <== on the word 'inscrease'

[2021-04-16 11:15] Nanyte25 opened #31637 "[online] Issue in file rosa_getting_started/rosa-required-aws-service-quotas.adoc"
### Which section(s) is the issue in?

Required AWS service quotas

### What needs fixing?

Fixed type on link ref  ```  requesting a quota inscrease." to ```  requesting a quota increase.```

[2021-04-16 11:28] Nanyte25 commented on #31637
There should also be a note that request Limit increases doesn't actually cost you anything on the account. Until resources are actually spin up.

e.g.  *Note:* `A quota increase does not cost any extra other than the underlying resources cost.`

[2021-04-16 15:36] ghyde commented on #31529
@jboxman @bmcelvee Any update on this issue? The incorrect documentation is negatively affecting OCP 4 users.

I already submitted a PR fixing this issue (#31530).

[2021-04-16 17:18] jboxman commented on #31529
@ghyde, I asked QE to confirm and then we'll get this merged, thanks!

[2021-04-16 18:44] #24308 closed

[2021-04-16 21:12] gnunn1 opened #31646 "[enterprise-4.7] Issue in file cicd/gitops/configuring-sso-for-argo-cd-on-openshift.adoc"
### Which section(s) is the issue in?

Configuring Argo CD OIDC

### What needs fixing?

There's no existing secret called `openshift-gitops-secret` so one needs to be created but the docs show an edit command instead of apply.

Second the example yaml has the word `yaml` in it which means you cannot copy/paste it as a template without removing it.

[2021-04-16 21:28] gnunn1 commented on #31646
Actually the issue in the docs is that the secret is called `argocd-secret` and not `openshift-gitops-secret`

[2021-04-17 00:44] #27436 closed

[2021-04-17 21:52] chuckersjp commented on #22666
/remove-lifecycle stale

[2021-04-18 03:00] dmc5179 opened #31653 "Unable to deploy docs to OpenShift Cluster due to missing Ruby 2.3 ImageStreamTag"
### Which section(s) is the issue in?

Tools and setup: https://github.com/openshift/openshift-docs/blob/master/contributing_to_docs/tools_and_setup.adoc

### What needs fixing?

I attempted to deploy the docs to openshift using the steps from the docs link above:
[code]

No pods are created. I looked at the evens and tried to kickoff the builds manually:

[code]

I checked the cluster "OpenShift

[2021-04-19 12:08] maxwelldb commented on #26505
Low priority, but...

[2021-04-19 12:08] maxwelldb commented on #26505
/remove-lifecycle stale

[2021-04-19 19:25] codyhoag commented on #26582
/remove-lifecycle stale

[2021-04-19 19:26] codyhoag commented on #28665
/remove-lifecycle stale

[2021-04-19 19:47] noseka1 commented on #28665
/remove-lifecycle stale

[2021-04-20 02:20] tnk4on opened #31699 "[online] Issue in file rosa_policy/rosa-service-definition.adoc"
### Which section(s) is the issue in?
ROSA service definition | Policies and service definition | Red Hat OpenShift Service on AWS
https://docs.openshift.com/rosa/rosa_policy/rosa-service-definition.html#rosa-sdpolicy-upgrades_rosa-service-definition

### What needs fixing?
OpenShift Dedicated is wrong and needs to be fixed in ROSA.
-> "See the OpenShift Dedicated Life Cycle for more information o

[2021-04-20 05:50] kartikaysharma27 commented on #31539
Hello @mtulio thanks for reporting. I will take a look at the suggested changes. Let me know if you have any questions.

[2021-04-20 05:52] kartikaysharma27 commented on #31630
Hello @hugomelendez thanks for reporting. I will take a look at the suggested changes. Let me know if you have any questions.

[2021-04-21 08:55] domcar opened #31735 "[enterprise-4.7] Issue in file service_mesh/v2x/ossm-custom-resources.adoc"
### Which section(s) is the issue in?
it looks to me that the documentation is wrong, it still uses maistra v1 definition.
I cannot apply the "Example ServiceMeshControlPlane resource" configuration because many of those fields are not recognized.
Example:
[code]
The capacity is not recognized

or
[code]
under "spec" is not possible to use this and if I add the grafanaURL in the addon section (see

[2021-04-21 12:44] rolfedh commented on #31475
@Preeticp WIP. Please reassign to me. Thanks!

[2021-04-21 14:52] #31527 closed

[2021-04-21 14:52] #31545 closed

[2021-04-21 14:54] codyhoag commented on #31545
This has been merged. @dlystra thanks for reporting this!

[2021-04-21 14:54] codyhoag commented on #31527
This has been merged. @dlystra thanks for reporting this!

[2021-04-21 19:12] JStickler commented on #31735
@domcar there are already several related issues around updating the examples and content in the custom resource chapter.  We're addressing these issues this sprint (April 19 - May 7).

[2021-04-21 20:30] bgilbert commented on #30974
Fixed in https://github.com/openshift/openshift-docs/pull/31769.

[2021-04-22 03:10] tnk4on opened #31786 "[online] Issue in file upgrading/rosa-upgrading.adoc"
### Which section(s) is the issue in?

Upgrading ROSA | Upgrading | Red Hat OpenShift Service on AWS
~~https://docs.openshift.com/rosa/rosa_upgrading/rosa-upgrading.html~~
https://docs.openshift.com/rosa/upgrading/rosa-upgrading.html

### What needs fixing?

It is wrong that the link to the lifecycle policy is in the OSD.
"To plan an upgrade, review the lifecycle policies. "

Link: https://access.

[2021-04-22 15:11] JuozasA opened #31811 "[dedicated] Issue in file logging/dedicated-cluster-deploying.adoc"
### Which section(s) is the issue in?

Create a cluster logging instance

### What needs fixing?

When audit and infra log maxAge is set to 0d, application log indices cannot be seen in kibana. if infra maxAge is changed to e.g. 1h, app indices are collected by elasticsearch

[2021-04-22 17:50] lbarbeevargas commented on #28044
@squirrd This issue has been addressed and the content was added/merged in https://github.com/openshift/openshift-docs/pull/30798.

[2021-04-22 17:50] #28044 closed

[2021-04-22 18:10] #30974 closed

[2021-04-22 18:52] #26999 closed

[2021-04-22 18:52] #27552 closed

[2021-04-22 21:38] akesterton opened #31852 "[enterprise-4.7] Issue in file installing/installing_vsphere/installing-vsphere-installer-provisioned.adoc"
### Which section(s) is the issue in?
https://docs.openshift.com/container-platform/4.7/installing/installing_vsphere/installing-vsphere-installer-provisioned.html
section entitled Cluster Resources

### What needs fixing?
States the installation will install 3 compute machines.  I believe this should read 2 (two) compute machines.

[2021-04-23 00:54] codyhoag commented on #31852
@patrickdillon can you confirm a standard cluster installation creates three compute machines as described in the official docs [here](https://docs.openshift.com/container-platform/4.7/installing/installing_vsphere/installing-vsphere-installer-provisioned.html#installation-vsphere-installer-infra-requirements_installing-vsphere-installer-provisioned)?

It appears this is accurate based off of this

[2021-04-23 03:08] lpchitta opened #31857 "[online] Issue in file rosa_getting_started/rosa-aws-prereqs.adoc"
### Which section(s) is the issue in?
We do not see any information related to OCS support for ROSA clusters ? Do you support ? If so ,please provide the details on how to configure for ROSA clusters

### What needs fixing?

[2021-04-23 18:07] rolfedh commented on #31475
Thanks again for flagging this issue, @ehvs. I've finished applying your suggestion to the documentation.

[2021-04-23 18:07] rolfedh commented on #31475
/closed

[2021-04-23 18:54] #27611 closed

[2021-04-23 21:29] maxwelldb opened #31907 "[enterprise-4.7] Rectify OSP SR-IOV release notes following doc verification on prod"
### Which section(s) is the issue in?
4.7 RNs

### What needs fixing?
https://github.com/openshift/openshift-docs/pull/28315#issuecomment-822598527

[2021-04-23 23:34] maxwelldb commented on #31907
Page is published, now.

[2021-04-24 01:20] rolfedh commented on #31475
@Preeticp would you close this for me. Thanks.

[2021-04-24 05:20] kurokobo commented on #27618
Fixid in #27653 and #31838

[2021-04-24 05:20] #27618 closed

[2021-04-24 07:33] #31475 closed

[2021-04-24 10:09] patrickdillon commented on #31852
Default compute count is 3 for vSphere and all other clusters (except libvirt). See:
https://github.com/openshift/installer/blob/6d778f911e79afad8ba2ff4301eda5b5cf4d8e9e/pkg/types/defaults/machinepools.go#L10

[2021-04-24 18:53] #27491 closed

[2021-04-24 18:53] #27640 closed

[2021-04-24 18:53] #25034 closed

[2021-04-25 00:53] #27031 closed

[2021-04-25 12:55] 4563453 opened #31911 "[enterprise-4.7] Issue in file cli_reference/helm_cli/getting-started-with-helm-on-openshift-container-platform.adoc"
### Which section(s) is the issue in?

Installing a Helm chart on an OpenShift Container Platform cluster

Add a repository of Helm charts to your local Helm client:

### What needs fixing?

$ helm repo add stable https://kubernetes-charts.storage.googleapis.com/

Error: Looks like "https://kubernetes-charts.storage.googleapis.com/" is not a valid chart repository or cannot be reached: Failed to f

[2021-04-25 13:17] #31911 closed

[2021-04-25 13:17] 4563453 commented on #31911
old helm version and
Error: repo "https://kubernetes-charts.storage.googleapis.com/" is no longer available; try "https://charts.helm.sh/stable" instead

[2021-04-26 00:54] #27681 closed

[2021-04-26 13:13] maxwelldb commented on #23632
/remove-lifecycle stale

[2021-04-26 13:30] #31852 closed

[2021-04-26 17:06] dlbewley opened #31928 "[enterprise-4.7] Issue in file backup_and_restore/replacing-unhealthy-etcd-member.adoc"
### Which section(s) is the issue in?

* Determining the state of the unhealthy etcd member
  * Determine if the machine is not running:

### What needs fixing?

Statement:  _This output lists the node and the status of the node’s machine. If the status is anything other than running, then the machine is not running._

Contradiction from vSphere cluster:

[code]

[2021-04-26 21:22] #29595 closed

[2021-04-27 05:45] ToshimasaHida opened #31950 "[dedicated] Issue in file product_security/recommendations_for_customers/restrict_access.adoc"
### Which section(s) is the issue in?

### What needs fixing?

[2021-04-27 13:27] #31508 closed

[2021-04-27 18:29] jkilzi opened #31970 "[enterprise-4.7] Issue in file networking/enable-cluster-wide-proxy.adoc"
### Which section(s) is the issue in?
![image](https://user-images.githubusercontent.com/77008341/116293438-8f416b80-a79f-11eb-93d3-16459942258e.png)

### What needs fixing?
it says "virual", should be virtual

[2021-04-28 14:22] DArachchi opened #32015 "[enterprise-4.7] Issue in file migration/migrating_3_4/planning-migration-3-to-4.adoc"
### Which section(s) is the issue in?
Migration considerations -> Networking considerations -> Encrypting traffic between hosts

### What needs fixing?

Docs state `OpenShift Container Platform 4.7 does not support IPsec.` but release notes state OCP 4.7 DOES support IPsec.

[2021-04-28 16:49] pneedle-rh commented on #31508
Updated content is now available in the following:

https://docs.openshift.com/container-platform/4.7/operators/understanding/olm/olm-understanding-olm.html
https://docs.openshift.com/container-platform/4.7/operators/understanding/olm/olm-understanding-olm.html

[2021-04-29 11:05] pamoedom commented on #22271
/remove-lifecycle stale

[2021-04-29 16:42] dmc5179 opened #32045 "[enterprise-4.7] Example Deployment Strategy is invalid"
### Which section(s) is the issue in?

https://docs.openshift.com/container-platform/4.7/applications/deployments/deployment-strategies.html#deployments-rolling-strategy_deployment-strategies

### What needs fixing?

This example uses strategy "Rolling" which is invalid. The strategy is called "RollingUpdate"

[code]

[code]

[2021-04-30 13:58] jboxman commented on #28569
/lifecycle freeze

[2021-04-30 14:41] hupiper opened #32085 "[enterprise-4.7] Issue in file backup_and_restore/backing-up-etcd.adoc"
### Which section(s) is the issue in?
The last note on the page

### What needs fixing?
Keep in mind that etcd encryption only encrypts values, not keys. This means that resource types, namespaces, and object names are unencrypted - this blurb should probably be on the etcd encryption page too (https://docs.openshift.com/container-platform/4.7/security/encrypting-etcd.html).

[2021-04-30 18:05] jboxman commented on #32015
@apinnick fyi

[2021-05-01 00:56] #27758 closed

[2021-05-01 00:56] #27761 closed

[2021-05-02 08:18] apinnick commented on #32015
Resolved: https://github.com/openshift/openshift-docs/pull/32102

[2021-05-02 08:18] #32015 closed

[2021-05-03 17:07] TheRealJon opened #32137 "[enterprise-4.7] Issue in file authentication/identity_providers/configuring-ldap-identity-provider.adoc"
### Which section(s) is the issue in?
Sample LDAP CR -> Information note
![screenshot-docs openshift com-2021 05 03-13_05_55](https://user-images.githubusercontent.com/22625502/116908003-62aea900-ac10-11eb-9352-c3b7ab74280e.png)

### What needs fixing?
"whitelist" should be replaced with alternative term.

[2021-05-03 17:52] g8sman opened #32143 "[enterprise-4.7] Issue in file networking/routes/route-configuration.adoc"
### Which section(s) is the issue in?

Documentation / OpenShift Container Platform 4.7 / Networking / Configuring Routes / Route configuration / Route-specific annotations

https://docs.openshift.com/container-platform/4.7/networking/routes/route-configuration.html#nw-route-specific-annotations_route-configuration

### What needs fixing?

The annotation "haproxy.router.openshift.io/cookie-same-si

[2021-05-03 18:57] #27861 closed

[2021-05-03 23:29] damobrisbane opened #32164 "[enterprise-4.7] Issue in file operators/admin/olm-restricted-networks.adoc"
### Which section(s) is the issue in?

#olm-understanding-operator-catalog-images_olm-restricted-networks

Are the certified operator index versions correct? ie v4.5 > v4.6 > v4.7 are not increasing against the git checkins (may be my misunderstanding):

skopeo inspect docker://registry.redhat.io/redhat/certified-operator-index:vXXX:

registry.redhat.io/redhat/certified-operator-index:v4.5:
  "BUI

[2021-05-03 23:48] damobrisbane commented on #32164
Will raise this against https://github.com/operator-framework/operator-registry instead.

[2021-05-03 23:48] #32164 closed

[2021-05-04 14:45] yrro opened #32174 "[enterprise-4.6] Issue in file nodes/scheduling/nodes-scheduler-default.adoc"
### Which section(s) is the issue in?

Default predicates

### What needs fixing?

The docs for `MaxCSIVolumeCountPred` are missing.

[2021-05-04 15:25] gojeaqui opened #32182 "[enterprise-4.6] Issue in file installing/installing_vsphere/installing-vsphere-installer-provisioned-network-customizations.adoc"
### Which section(s) is the issue in?
Required vCenter account privileges

### What needs fixing?
There needs to be more clear steps on how to assign the privileges, something like this guide:  https://github.com/openshift/installer/blob/master/docs/user/vsphere/privileges.md

Where the roles are separated into different vCenter levels because the customer does not want to assign all the privilege

[2021-05-04 19:15] mallmen opened #32196 "[enterprise-4.7] Issue in file virt/install/virt-specifying-nodes-for-virtualization-components.adoc"
### Which section(s) is the issue in?

Specifying nodes for OpenShift Virtualization components

### What needs fixing?

A little clarification for where baremetal nodes are required, i.e. workloads running VMs.  If you have a mixed cluster (virtual and baremetal), you would want to target the baremetal nodes for workloads, but other components can run anywhere.  This is kind of implied in "About

[2021-05-04 23:43] jmtejal opened #32200 "[enterprise-3.11] Issue in file release_notes/ocp_3_11_release_notes.adoc"
### Which section(s) is the issue in?
https://docs.openshift.com/container-platform/3.11/release_notes/ocp_3_11_release_notes.html#ocp-3-11-420
RHBA-2021:1147 - OpenShift Container Platform 3.11.420 bug fix update
Issued: 2021-03-21 --> Should this be Issued:2021-04-21 ?

### What needs fixing?

Should this be:

Issued:2021-04-21
Updated:2021-04-21

[2021-05-05 00:39] jboxman commented on #32200
@jeana-redhat FYI

[2021-05-05 13:17] hhellbusch commented on #26681
Looks great! thanks @bergerhoffer

[2021-05-05 14:56] ElliottBignell opened #32218 "[enterprise-4.7] Issue in file web_console/web-console.adoc"
### Which section(s) is the issue in?

"Accessing the web console"

### What needs fixing?

How about saying what command produced that output? I've been trying for nearly half a day just to get into the web console so I can get started and there's NOWHERE that the information is available. The course I'm following shows the use of links that apparently no longer exist, and now you show the output

[2021-05-05 20:09] LalatenduMohanty commented on #25471
+1

[2021-05-06 06:40] pjwebster opened #32253 "[enterprise-4.6] Issue in file openshift_images/image-streams-manage.adoc"
### Which section(s) is the issue in?
Configuring periodic importing of image stream tags

https://docs.openshift.com/container-platform/4.6/openshift_images/image-streams-manage.html#images-imagestream-import_image-streams-managing

### What needs fixing?
Typo in the following paragraph. Replace "release_notes" with "reverts" or something similar:

[code]

[2021-05-06 09:06] nbalacha opened #32254 "[enterprise-4.6] Issue in file installing/installing_bare_metal/installing-bare-metal.adoc"
### Which section(s) is the issue in?

https://docs.openshift.com/container-platform/4.6/installing/installing_bare_metal/installing-bare-metal.html#minimum-resource-requirements_installing-bare-metal

### What needs fixing?
The table entry for compute is incorrect.

The vCPU column contains OS info, the RAM contains the value for CPU and the storage actually contains the value for RAM

![Screensh

[2021-05-06 10:39] alosadagrande opened #32255 "[NMstate] Examples and clarifications needed when removing routes"
### Which section(s) is the issue in?

https://docs.openshift.com/container-platform/4.7/networking/k8s_nmstate/k8s-nmstate-updating-node-network-config.html

### What needs fixing?

We need to include an example of removing routes. There are examples of removing interfaces, which basically is setting the interface to absent. This means that the user must not just remove it from the network node p

[2021-05-06 12:40] codyhoag commented on #32254
@nbalacha thanks for reporting this! I have sent a PR to fix this: #32264

[2021-05-06 13:43] bergerhoffer commented on #31619
PR to update the CLI login procedure: https://github.com/openshift/openshift-docs/pull/32261

I've opened https://issues.redhat.com/browse/OSDOCS-2161 to track updating all other instances of "oc login" alone throughout our docs.

[2021-05-06 18:18] JStickler commented on #30997
Closed via #31001

[2021-05-06 18:18] #30997 closed

[2021-05-06 18:29] jeana-redhat commented on #32200
Thanks, Jason!
@stevsmit can you update this one?

[2021-05-06 21:32] #31970 closed

[2021-05-07 00:44] ehvs commented on #30085
I do see the command `oc rollout restart deployment/image-registry -n openshift-image-registry` in the second bullet point in **Manually pruning images** , maybe the reason is to be intentionally a second step in the manual process.
Also, I do not see any reference about the importance of redeploying the registry or disabling cache in the **Automatically pruning images** section.

That said, I won

[2021-05-07 10:24] tux-o-matic opened #32300 "[enterprise-4.7] Document how to clean up/prune Tekton resources"
### Which section(s) is the issue in?
[OpenShift Pipelines](https://docs.openshift.com/container-platform/4.7/cicd/pipelines/understanding-openshift-pipelines.html)

### What needs fixing?
Using OpensShift Pipelines (Tekton) involves several CustomResources which, with each build, will accumulate in etcd.
Logs of the containers running the tasks are sent to the ClusterLogging stack which has its o

[2021-05-07 14:46] jon2100 opened #32309 "[enterprise-3.11] Issue in file admin_guide/managing_projects.adoc"
### Which section(s) is the issue in?
Disabling Self-provisioning

### What needs fixing?
Step 3.  oc adm policy remove-cluster-role-from-group self-provisioner system:authenticated:oauth  (( ISSUE: self-provisioner ))

All the other steps reference self-provisioners as the role. It is also the default.

[2021-05-07 15:01] jon2100 commented on #32309
My mistake role vs rolebindnig

[2021-05-07 17:37] ehvs opened #32319 "[enterprise-4.7] Issue in file logging/config/cluster-logging-curator.adoc"
### Which section(s) is the issue in?
**Configuring the log curator** - *Important* red box.

The red box is duplicated with the same message.

### What needs fixing?
Delete one of the boxes.

[2021-05-07 18:33] codyhoag commented on #32254
The fix is now live: https://docs.openshift.com/container-platform/4.6/installing/installing_bare_metal/installing-bare-metal.html#minimum-resource-requirements_installing-bare-metal

[2021-05-07 18:33] #32254 closed

[2021-05-08 16:54] peterclauterbach opened #32335 "[enterprise-4.7] Issue in file release_notes/ocp-4-7-release-notes.adoc"
### Which section(s) is the issue in?
https://docs.openshift.com/container-platform/4.7/release_notes/ocp-4-7-release-notes.html#ocp-4-7-9-upgrading

### What needs fixing?
stray text "the operator could modify"

[2021-05-09 07:26] AssafKatz3 commented on #21979
/remove-lifecycle stale

[2021-05-09 20:06] linuxstudio opened #32345 "[enterprise-4.7] Issue in file nodes/pods/nodes-pods-using.adoc"
### Which section(s) is the issue in?

Example pod configurations

### What needs fixing?

The Pod object definition (YAML) provided in the example is not consistent with the accompanying text that describes all the details of the definition.

For example the text says:

"The following is an example definition of a pod that provides a long-running service, which is actually a part of the OpenShift

[2021-05-10 15:18] acsulli opened #32368 "[enterprise-4.7] Issue in file networking/ovn_kubernetes_network_provider/about-ipsec-ovn.adoc"
### Which section(s) is the issue in?
N/A

### What needs fixing?
The title of the page is "IPsec encryption configuration", but it doesn't actually tell how to configure IPSec with Kubernetes. I think it needs to link to the [Cluster Network Operator docs](https://docs.openshift.com/container-platform/4.7/networking/cluster-network-operator.html#nw-operator-configuration-parameters-for-ovn-sdn_cl

[2021-05-10 16:59] #26681 closed

[2021-05-10 20:24] maxwelldb commented on #27252
/remove-lifecycle stale

[2021-05-11 11:27] kanekoh opened #32400 "[enterprise-4.7] Issue in file security/compliance_operator/compliance-operator-raw-results.adoc"
### Which section(s) is the issue in?
Step 3. Pod Example has an indent issue.
I got the following error message when I created a pod which is used yaml file copied from the document.

[code]
### What needs fixing?
The cause of the issue was the yaml file has wrong indent on line 13.

[code]

In the Pod Example, volume field indent should be 2 but not 4. According to Pod schema,
Field `containers`

[2021-05-11 18:05] rinormaloku opened #32434 "[enterprise-4.7] Issue in file networking/network_policy/about-network-policy.adoc"
### Which section(s) is the issue in?
This line:

### What needs fixing?
The reason. Why isn't it supported? Is it a work in progress?  How long do I have to wait for this to be supported? Or it ain't going to be supported?

[2021-05-11 18:17] Keyvan-rh opened #32435 "[enterprise-4.7] Issue in file cli_reference/developer_cli_odo/creating_and_deploying_applications_with_odo/creating-a-java-application-with-a-database.adoc"
### Which section(s) is the issue in?
CLI tools / Creating a Java application with a database

### What needs fixing?
The order of creation of database and app needs to be swapped as you can not create a service unless you are in a valid component folder:

step 1  Creating a Java MicroServices JPA application
step 2 Creating a database with odo

[2021-05-11 18:20] rinormaloku commented on #32434
Hi @jboxman ,

Thanks for the information. Would it be useful to have it phrased in some way within the doc?

[2021-05-11 18:35] Keyvan-rh opened #32436 "[enterprise-4.7] Issue in file cli_reference/developer_cli_odo/creating_and_deploying_applications_with_odo/creating-a-java-application-with-a-database.adoc"
### Which section(s) is the issue in?
CLI tools / Creating a Java application with a database
Creating a Java MicroServices JPA application
Clone the sample application:

### What needs fixing?
First issue:
The following git clone will not work as the application is not at the master level
git clone https://github.com/redhat-developer/application-stack-samples
you need to clone the correct branch

[2021-05-11 18:54] rinormaloku commented on #32434
In that case, the ticket can be closed from my POV.

Thanks!

[2021-05-11 18:56] Keyvan-rh opened #32439 "[enterprise-4.7] Issue in file cli_reference/developer_cli_odo/creating_and_deploying_applications_with_odo/using-devfiles-in-odo.adoc"
### Which section(s) is the issue in?
Deploying a Java application using a devfile
Step 2.

### What needs fixing?
There is no java-spring-boot component
       odo create java-spring-boot myspring --starter
Should be as follow(no dash between spring and boot):
       odo create java-springboot myspring --starter

[2021-05-11 19:32] jeffcpullen opened #32442 "[enterprise-4.7] Issue in file installing/installing_rhv/installing-rhv-user-infra.adoc"
### Which section(s) is the issue in?

Downloading Ansible Playbooks

### What needs fixing?

The doc has the user curl a URL with two variables that aren't defined or suggested. These variables are release and product-version.

I found the expected values in the version located at https://github.com/openshift/installer/blob/master/docs/user/ovirt/install_upi.md

[code]

[2021-05-12 05:13] tnk4on commented on #31786
The link has not been fixed yet. Please check.

[2021-05-12 05:21] tnk4on commented on #31227
All "AWS Organiation" in this page should be "AWS Organizations".

https://docs.openshift.com/rosa/rosa_getting_started/rosa-aws-prereqs.html

[2021-05-13 06:52] jianzhangbjz commented on #29652
- OLM is not supported on SNO cluster - https://issues.redhat.com/browse/OLM-2017, besides, there is bug: https://bugzilla.redhat.com/show_bug.cgi?id=1953977
- The `build` subcommand had been removed from the `oc adm catalog`.
[code]

[2021-05-13 09:01] nak3 commented on #26032
The section can work only when users change the service type in SMCP as:

[code]

I think ut is not usual configuration so doc should be updated anyway.

[2021-05-13 10:13] zzguang520 opened #32515 "[enterprise-4.7] issues from 4.7 docs: what's the reference link for Advanced RHCOS installation reference"
### Which section(s) is the issue in?
Hi all,
   I have tried to install openshift 4.7 (https://docs.openshift.com/container-platform/4.7/installing/installing_bare_metal/installing-bare-metal-network-customizations.html) in virtualbox, when I followed the steps in the documentation, I found that the VM's network was unavailable, I read the documentation carefully and found references links not ma

[2021-05-13 15:51] jrvaldes opened #32524 "[enterprise-4.7] Issue in file networking/ovn_kubernetes_network_provider/migrate-from-openshift-sdn.adoc"
### Which section(s) is the issue in?
The issue is in section:
[code]

### What needs fixing?

The `--patch` value in the script template is not a valid `JSON` structure:
[code]

The correct value should be:
[code]

[2021-05-13 19:06] #28078 closed

[2021-05-14 03:32] zzguang520 commented on #32515
I have seen on the Internet that the nmtui or nmcli command is used to configure the network, I have tried to configured the network, but still can't connect or access the outside network, I checked through command "nmcli device status" that there is no network card eth0 configured by me and only have the network card lo.

The issues is from the network configuration, but I don't know how to confi

[2021-05-14 11:42] pamoedom commented on #29652
Not sure if we should include the experimental AWS tagging feature as tech preview, I've asked the developer within [OSDOCS-1959](https://issues.redhat.com/browse/OSDOCS-1959) to confirm/discard.

[2021-05-14 13:06] #24336 closed

[2021-05-14 13:06] #24337 closed

[2021-05-14 13:06] #24150 closed

[2021-05-14 13:29] tsze-redhat commented on #29652
GCP installation:
Change to subnets created during installation to increase number of IP available
https://issues.redhat.com/browse/CORS-1660

[2021-05-14 14:30] miabbott commented on #29652
RHCOS will be based on RHEL 8.4; this brings in new kernel features, hardware enablements, etc

[2021-05-14 15:07] travier commented on #29652
In RHCOS, we longer set the `PEERNTP=no` option in the chrony configuration (`/etc/chrony.conf`) by default on cloud platforms (AWS, GCP, Azure) if (and only if) the administrator has already set a custom `chrony.conf` configuration. All other cases are unchanged (i.e. this option is set by default on those platforms). See https://github.com/coreos/fedora-coreos-config/pull/845 for reference.

[2021-05-14 17:42] erzhan46 opened #32547 "[enterprise-4.7] Issue in file networking/routes/route-configuration.adoc"
### Which section(s) is the issue in?
container-platform/4.7/networking/routes/route-configuration.html#nw-annotating-a-route-with-a-cookie-name_route-configuration

The issue is applicable to both v.4.6 and v.4.7 of the documentation.

Let me know if you'd prefer that I create and submit the PR.

### What needs fixing?
'Procedure' section provides incorrect steps for setting-up a custom cookie fo

[2021-05-14 17:43] erzhan46 commented on #32547
Let me know if any supporting information is required.

[2021-05-14 17:47] jboxman commented on #32547
@erzhan46, how does this look? https://github.com/openshift/openshift-docs/pull/31530

[2021-05-14 18:21] erzhan46 commented on #32547
Yes - it is the same issue.
I prepared the nw-annotating-a-route-with-a-cookie-name.adoc file with proposed fixes - but it seems that it is already done (but not approved yet). The only difference I have is for curl example. Let me know if it's still worth submitting.

. Save the cookie, and access the route:
+
[source,terminal]
----
$ MYROUTE=$(oc get route my_route -o jsonpath='{.spec.host}')

$

[2021-05-14 18:35] #32319 closed

[2021-05-14 18:35] ehvs commented on #32319
Closed as per https://github.com/openshift/openshift-docs/pull/32320

[2021-05-14 20:30] erzhan46 commented on #32547
Submitted pull request just in case

[2021-05-14 22:30] husky-parul opened #32555 "[enterprise-4.7] Issue in file cli_reference/openshift_cli/getting-started-cli.adoc"
### Which section(s) is the issue in?

Installing the OpenShift CLI on Linux

https://docs.openshift.com/container-platform/4.7/cli_reference/openshift_cli/getting-started-cli.html#cli-installing-cli-on-linux_cli-developer-commands

### What needs fixing?
Under `Procedure` the link to download binary is incorrect. It points to `crc` installer.

[2021-05-16 01:08] #26673 closed

[2021-05-16 08:48] r2d2rnd opened #32556 "[enterprise-4.7] Issue in file logging/cluster-logging-upgrading.adoc"
### Which section(s) is the issue in?

Point c. "Ensure that the Elasticsearch cron jobs are created" since the name of the cronjobs are not more like it's reflected there:

[code]

### What needs fixing?
[Bug 1953152](https://bugzilla.redhat.com/show_bug.cgi?id=1953152) for tracking this issue.

It needs to be changed the name of the indices in the documentation for reflecting the current format

[2021-05-17 10:15] dmesser commented on #29652
OLM has better installation/update error handling and reporting: https://issues.redhat.com/browse/OLM-2048

- missing or invalid OperatorGroups will now be reported at the `InstallPlan` level
- missing or wrong package, catalog and channel names will now be reported at the `Subscription` level
- InstallPlans are now automatically retried to overcome transient errors

[2021-05-17 14:02] ehvs commented on #32556
@r2d2rnd
Good finding, thank you! Ill work on it and provide a PR soon.

[2021-05-17 15:42] dulek commented on #29652
In deployments on OSP with Kuryr-Kubernetes, the API LB for the `default/kubernetes` Service is no longer managed by CNO, but by kuryr-controller itself. This means that:
* On upgrade it's expected this service will have some downtime (more in deployments where no ovn-octavia is available).
* The `default/kubernetes` LB was previously forced to be using Amphora Octavia provider. This is not true a

[2021-05-17 17:06] ehvs commented on #32556
I have validated that the same issue is true for OCP 4.5, 4.6 and 4.7

[code]

[2021-05-17 17:41] itewk opened #32577 "[online] Issue in file rosa_getting_started/rosa-setting-up-environment.adoc"
### Which section(s) is the issue in?

Red Hat OpenShift Service on AWS / Setting up clusters and accounts / Setting up the environment

### What needs fixing?

Step 5 says to `Enter the following command to verify that your AWS account has the necessary permissions.` by running ` rosa verify permissions` but it gives error:

[code]

If i skip to step 6 and do the `rosa login` then do the `rosa ve

[2021-05-17 19:31] maxwelldb commented on #29524
/remove-lifecycle stale

[2021-05-18 01:07] #28228 closed

[2021-05-18 02:39] jboxman commented on #32434
@rinormaloku thanks!

[2021-05-18 02:39] #32434 closed

[2021-05-18 13:34] tsze-redhat commented on #29652
@pamoedom I suggest also includes CORS-1600:

Installer now attempts to automatically collect and analyze when installation fails.
Potential causes for installation failures will be displayed if the terminal running the installer has the proper ssh key configured and user specifies a ssh key during install process.

What do you think?

[2021-05-18 13:53] pamoedom commented on #29652
That's a good point @tsze-redhat but I recall @codyhoag telling we don't have any customer facing documentation for this in [CORS-1627](https://issues.redhat.com/browse/CORS-1627?focusedCommentId=16027403&page=com.atlassian.jira.plugin.system.issuetabpanels:comment-tabpanel#comment-16027403), so not sure if we could refer it in the official release notes.

[2021-05-18 13:57] tsze-redhat commented on #29652
Based on feedback from @staebler I also added CORS-1533 (registry accessing causing bootstrap).
Maybe we can consider the output from installer is self-explanatory enough to not require user doc.

I shall leave it to you to decide whether we include or not include bootstrap improvements. @pamoedom

Thanks.

[2021-05-18 15:22] jonquilwilliams commented on #31227
This is fixed in: https://github.com/openshift/openshift-docs/pull/32616

[2021-05-18 17:08] adduarte commented on #29652
OpenStack platform: SSH port is explicitly CLOSED on  cluster deployment.
having ssh port to the cluster exposed (open) is a security risk.
Also, ssh to nodes is not the suggested way to connect to the cluster nodes. Instead the user should use the "oc debug" command when possible.
If the user wants to ssh to the nodes, they must explicitly open port 22 in the security rules for the cluster, as po

[2021-05-18 17:48] pcunning-rh opened #32623 "[enterprise-4.7] Issue in file installing/installing_aws/installing-aws-network-customizations.adoc"
### Which section(s) is the issue in?

Many portions of the docs pages where the following IPsec configuration stanza appears
[code]

This code stanza is listed in "installation with network customization "sections such as "installing_aws/installing-aws-network-customizations" and "installing/installing_bare_metal/installing-bare-metal-network-customizations.html"

### What needs fixing?
The defau

[2021-05-18 17:54] pcunning-rh commented on #32623
Possibly related to https://github.com/openshift/openshift-docs/issues/32368

[2021-05-18 19:32] maxwelldb commented on #29551
/remove-lifecycle stale

[2021-05-19 10:51] r2d2rnd opened #32638 "[enterprise-4.7] Issue in file logging/config/cluster-logging-log-store.adoc"
### Which section(s) is the issue in?
Configuring CPU and memory requests for the log store

### What needs fixing?
Bug 1962122 [1] was opened at the same time. This is happening also for documentation for [enterprise-4.5] (OCP 4.6 is ok)

The example is having different values for limits.memory and request.memory and the values should be the same.

This is the current example:
[code]

And it shou

[2021-05-19 13:36] ehvs commented on #32556
This issue has been fixed and can be closed.

[2021-05-19 14:37] 2s1dhant opened #32641 "[enterprise-4.6] Issue in file installing/installing_aws/installing-restricted-networks-aws.adoc"
Document URL:
https://docs.openshift.com/container-platform/4.6/installing/installing_aws/installing-restricted-networks-aws.html#installation-generate-aws-user-infra-install-config_installing-restricted-networks-aws

Section Number and Name:
Step 2c

Describe the issue:
There is a need to specify a "imageContentSources" dictionary inside install-config.yaml. It results in machines failing to be a

[2021-05-19 20:53] tnk4on commented on #31227
@jonquilwilliams Thanks!

[2021-05-19 21:36] jonquilwilliams commented on #31227
@tnk4on  Thanks for catching these typos!

[2021-05-19 23:36] wcushen opened #32655 "[enterprise-4.6] Issue in file modules/nw-externalip-about.adoc"
Document URL:
https://docs.openshift.com/container-platform/4.6/networking/configuring_ingress_cluster_traffic/configuring-externalip.html

Section Number and Name:
Opening paragraph

Describe the issue:
What has been communicated via Red HAT GES is that externalIP does not behave like a nodePort:
"A service configured with an ExternalIP functions similarly to a service with type=NodePort, allowin

[2021-05-20 01:16] wcushen opened #32656 "[enterprise-4.6] Issue in file modules/nw-ingress-controller-configuration-parameters.adoc"
Document URL:
https://docs.openshift.com/container-platform/4.6/networking/ingress-operator.html

Section Number and Name:
`endpointPublishingStrategy` parameter

Describe the issue:
"Private" as an endpointPublishingStrategy is documented here: https://docs.openshift.com/container-platform/4.6/rest_api/operator_apis/ingresscontroller-operator-openshift-io-v1.html#ingresscontroller-operator-opensh

[2021-05-20 04:41] jboxman commented on #32656
cc @bmcelvee

[2021-05-20 07:13] #26617 closed

[2021-05-20 07:13] #27494 closed

[2021-05-20 07:13] #27584 closed

[2021-05-20 07:13] #27585 closed

[2021-05-20 10:09] #32556 closed

[2021-05-20 10:11] vikram-redhat commented on #32200
@stevsmit Bump

[2021-05-20 10:16] rolfedh commented on #32638
@r2d2rnd please close this issue as a duplicate, then.

[2021-05-20 11:53] Preeticp commented on #32439
This issue is being fixed by @boczkowska as part of this PR: https://github.com/openshift/openshift-docs/pull/32602

[2021-05-20 12:44] adambkaplan commented on #29652
Builds: Image change triggers will not start a build based on changes to the `lastImageChangeTriggeredID` field in the BuildConfig spec. The image IDs that trigger a build will be recorded in the BuildConfig's status, which cannot be changed by most users.

[2021-05-20 13:30] #32200 closed

[2021-05-20 15:21] bergerhoffer commented on #32555
@soltysh Do you have any ideas on the easiest way for someone to download the CLI? I know you can do it from the web console, but I believe we want something more generic here in the docs without having to have a cluster running.

The docs here point to https://cloud.redhat.com/openshift/install which looks like it's getting redirected now, and the interface there has changed since we wrote the do

[2021-05-20 19:38] annelson-rh opened #32686 "[enterprise-4.7] Issue in file storage/understanding-persistent-storage.adoc"
### Which section(s) is the issue in?

Mount options

### What needs fixing?

per https://kubernetes.io/docs/concepts/storage/persistent-volumes/#mount-options
the annotation is deprecated - and preferred method is to update mountOptions attribute

example:
[code]

[2021-05-21 11:13] davidhildenbrand opened #32694 "[enterprise-4.6] Issue in file nodes/containers/nodes-containers-using.adoc"
### Which section(s) is the issue in?

"where nproc is the number of process reported by the nproc command. "

### What needs fixing?
"process" is wrong, correct  would be "processors"/"CPUs" or rather "processing units" as given by "man nproc".

[2021-05-21 18:15] #32436 closed

[2021-05-21 18:33] rahulait opened #32713 "[enterprise-4.7] Issue in file logging/cluster-logging-deploying.adoc"
### Which section(s) is the issue in?
Section: Installing OpenShift Logging using the web console
Point/step 2. Install the Cluster Logging Operator:

### What needs fixing?
There is no "Cluster Logging" in OperatorHub. Either 2nd step of installing cluster logging operator needs to be fixed or removed.

[2021-05-21 18:44] mburke5678 commented on #32174
Sam --

Nice catch. Thank you. I grabbed the definition from the Kubernetes docs.

Can you take a quick look?
https://github.com/openshift/openshift-docs/pull/32714/files

[2021-05-21 19:03] rahulait commented on #32713
It is renamed as "Red Hat OpenShift Logging"

[2021-05-21 20:22] bobfuru commented on #32515
Hi @zzguang520 - thank you for raising this issue. We are currently unable to link directly to the specific section you mention ("Advanced RHCOS installation reference") due to technical toolchain limitations. Additional functionality is in the works for future versions of our documentation.

In the meantime, you can find that information here for OpenShift 4.7: https://docs.openshift.com/containe

[2021-05-21 20:22] #32515 closed

[2021-05-21 20:56] mkimuram opened #32723 "[enterprise-4.6] Document `service.beta.kubernetes.io/load-balancer-source-ranges` annotation"
### Which section(s) is the issue in?
[Route configuration](https://docs.openshift.com/container-platform/4.6/networking/routes/route-configuration.html)

### What needs fixing?
By the change described [here](https://bugzilla.redhat.com/show_bug.cgi?id=1906267), users need to specify allowed IP source ranges by using `service.beta.kubernetes.io/load-balancer-source-ranges` annotation in [4.6.9](ht

[2021-05-22 15:00] yrro commented on #32174
LGTM - thanks!

[2021-05-22 17:02] jboxman commented on #32723
cc @bmcelvee

[2021-05-23 03:10] lbscorpio commented on #32713
@rahulait Nice catch, I have raised [PR#32726](https://github.com/openshift/openshift-docs/pull/32726) to fix this issue. Waiting to review now, thanks.

[2021-05-24 00:34] #31227 closed

[2021-05-24 06:33] naikoob opened #32729 "Missing CloudFormation in ROSA minimal SCP requirement"
### Which section(s) is the issue in?

https://docs.openshift.com/rosa/rosa_getting_started/rosa-aws-prereqs.html#rosa-minimum-spc_prerequisites

### What needs fixing?

Failed to mention that ROSA requires CloudFormation as well. Without CloudFormation in the service control policy, one is not able to create cluster using rosa cli.

E: Cloudformation stack does not exist. Run `rosa init` first

T

[2021-05-24 09:56] rolfedh commented on #32713
Thank you both for your work on this, @rahulait @lbscorpio.

[2021-05-24 18:14] ghyde commented on #31529
This issue was resolved with #31530.

[2021-05-24 18:14] #31529 closed

[2021-05-24 22:27] ahardin-rh commented on #32218
@ElliottBignell Thanks for your feedback! I opened https://github.com/openshift/openshift-docs/pull/32775 to address this issue. Please take a look. Thanks!

[2021-05-24 22:42] ehvs commented on #32694
Hi @davidhildenbrand , nice catch! I'll work on this issue and submit a PR soon

[2021-05-25 02:55] thomasphall opened #32780 "[enterprise-4.7] Issue in file virt/virtual_machines/virt-create-vms.adoc"
### Which section(s) is the issue in?
In the additional resources section at the bottom.

The VirtualMachineSpec definition in the [KubeVirt v0.36.2 API Reference](https://kubevirt.io/api-reference/v0.36.2/definitions.html#_v1_virtualmachinespec) provides broader context for the parameters and hierarchy of the virtual machine specification.

### What needs fixing?
404 is returned here: https://kub

[2021-05-25 02:58] thomasphall commented on #32780
Link should be this: http://kubevirt.io/api-reference/v0.36.1/index.html

[2021-05-25 07:36] samgriek opened #32782 "[enterprise-4.7] Issue in file rest_api/monitoring_apis/alertmanagerconfig-monitoring-coreos-com-v1alpha1.adoc"
### Which section(s) is the issue in?
kind AlertmanagerConfig on AlertManager version 0.21.0 - slack receiver configs.

### What needs fixing?
Trying to set up a slack receiver but after deployment the alertmanager.yaml file does not have a global: slack_api_url causing AlertManager failure on start.

### alertmanager_config.yaml:
[code]

### resulting alertmanager.yaml in the container:
[code]

#

[2021-05-25 09:30] 2s1dhant opened #32786 "[enterprise-4.7] Issue in file installing/installing_vsphere/installing-restricted-networks-vsphere.adoc"
### Which section(s) is the issue in?
[Sample install-config.yaml file for VMware vSphere
](https://docs.openshift.com/container-platform/4.7/installing/installing_vsphere/installing-restricted-networks-vsphere.html#installation-vsphere-config-yaml_installing-restricted-networks-vsphere)

### What needs fixing?
The sample install-config.yaml has explanations of its fields given below it. They are

[2021-05-25 11:48] maxwelldb commented on #23269
/remove-lifecycle stale

[2021-05-25 11:48] maxwelldb commented on #23257
/remove-lifecycle stale

[2021-05-25 14:23] jeana-redhat commented on #29652
https://issues.redhat.com/browse/CCO-21 GA of AWS STS with new `ccoctl` tool

[2021-05-25 16:29] dulek commented on #29652
OCP on OSP deployments using Kuryr require a workaround to deploy a worker with ports from networks with `port_security_enabled=False` (SR-IOV use case). In order to do that the primary port of such worker has to have set `portSecurity: False` and the Machine itself needs to have empty `securityGroups` list. The worker nodes SG can be applied to the primary worker port after the VM is created.

Mo

[2021-05-25 16:59] mburke5678 commented on #29652
I am adding via https://github.com/openshift/openshift-docs/pull/31237

Automatic rotation of kubelet-ca.crt does not require reboot (https://issues.redhat.com/browse/GRPA-3190)
Updates now report status based on all machine config pools (https://issues.redhat.com/browse/GRPA-3000)
Vertical pod autoscaling is generally available (https://issues.redhat.com/browse/OCPNODE-437)
tlsSecurityProfile par

[2021-05-25 18:18] yrro commented on #23098
/remove-lifecycle stale

[2021-05-25 19:58] romfreiman commented on #29652
Single Node OpenShift, as dev-preview on BareMetal

[2021-05-26 15:35] SNiemann15 commented on #29652
For IBM P/Z input @ktania46 has created WIP PR https://github.com/openshift/openshift-docs/pull/32733

[2021-05-26 16:31] #32174 closed

[2021-05-26 16:56] mburke5678 commented on #32345
@linuxstudio Thanks for catching this! I updated the call-outs and removed _part of the {product-title} infrastructure_. Can you take a quick look to see if it meets your expectations?
https://github.com/openshift/openshift-docs/pull/32871

Or, if you have a thought for a better  pod example, please let me know.

[2021-05-26 17:56] mtulio opened #32878 "[enterprise-4.6] Issue in file installing/installing_aws/installing-aws-customizations.adoc"
### Which section(s) is the issue in?

[Installation configuration parameters](https://docs.openshift.com/container-platform/4.6/installing/installing_aws/installing-aws-customizations.html#installation-configuration-parameters_installing-aws-customizations) > table item `compute.platform.aws.rootVolume.type`, field `Value`.

AWS EBS is a `Volume` not a `Instance`.

References: https://docs.aws.am

[2021-05-26 18:45] ahardin-rh commented on #32218
https://github.com/openshift/openshift-docs/pull/32775 is now merged, so I am closing this issue. Please let me know if I can help with further updates.

[2021-05-26 18:45] #32218 closed

[2021-05-27 01:17] #25439 closed

[2021-05-27 08:44] tschegy opened #32901 "[enterprise-4.7] Issue in file installing/install_config/configuring-firewall.adoc"
### Which section(s) is the issue in?
Section 4, regarding Azure related FW

### What needs fixing?
In addition to `management.azure.com` also `login.microsoftonline.com` should be mentioned.
`login.microsoftonline.com` is also important for logging into Azure to access the API.

Microsoft mentions this in their docs related to ARO:
https://docs.microsoft.com/en-us/azure/openshift/howto-restrict-e

[2021-05-27 09:18] SatelliRakesh opened #32904 "Question in quota.adoc"
### Which section(s) is the issue in?

Resource Quotas.
The usage of the Resource Quotas is increasing to more than 100% sometimes. How can a user get notified on the increase of resource quota. Will the cluster monitoring have the option of notifying the user on increase usage of quota.

### What needs fixing?
Monitoring the cluster. Can i get any existing solution for this to monitor the quota l

[2021-05-27 12:08] bmcelvee commented on #27651
Apologies for the delay! I do not know the history on this one.

[2021-05-27 12:12] simonpasquier commented on #29652
Monitoring: the notable changes are listed at https://github.com/openshift/cluster-monitoring-operator/blob/master/CHANGELOG.md#48

- [#1087](https://github.com/openshift/cluster-monitoring-operator/pull/1087) Decrease alert severity to "warning" for ThanosQueryHttpRequestQueryErrorRateHigh and ThanosQueryHttpRequestQueryRangeErrorRateHigh alerts.
- [#1087](https://github.com/openshift/cluster-mon

[2021-05-28 06:49] hashnao opened #32945 "[enterprise-4.7] Issue in file storage/persistent_storage/persistent-storage-local.adoc"
### Which section(s) is the issue in?
Provisioning local volumes without the Local Storage Operator

### What needs fixing?
Can you elaborate on what exactly the note below means? I think data leaks from the reused PV can be prevented with the reclaim policies [1], so why don't we give the link at least?
_Manual provisioning of PVs includes the risk of potential data leaks across PV reuse when PVC

[2021-05-29 00:11] bgilbert commented on #29652
OpenShift now includes the Butane config transpiler to assist with producing and validating machine configs.  Documentation now recommends using Butane to create machine configs for LUKS disk encryption, root disk RAID, and custom kernel modules.

Epic link: https://issues.redhat.com/browse/GRPA-3065
(the referenced docs haven't landed yet)

[2021-05-31 02:41] cg2p opened #32948 "[enterprise-4.7] Issue in file cicd/pipelines/creating-applications-with-cicd-pipelines.adoc"
### Which section(s) is the issue in?
Assembling a Pipeline

Attemping to run the pipeline using an OpenShift cluster on IBM Cloud.

### What needs fixing?
If you follow this tutorial then the `buildah` task fails because `tkn` does not like the CA for the integrated registry certificate

[code]

[2021-06-01 01:08] jboxman commented on #27693
/lifecycle freeze

[2021-06-01 07:19] #28323 closed

[2021-06-01 12:32] pwright opened #32952 "[enterprise-4.7] Issue in file operators/user/olm-installing-operators-in-namespace.adoc"
### Which section(s) is the issue in?

Installing from OperatorHub using the web console

### What needs fixing?

Step 5 says:

Choose a specific, single namespace in which to install the Operator.

but afaik, the default is still 'All namespaces', that option isn't accounted for..

Later there's a note:

"For the All namespaces…​ installation mode, the status resolves to InstallSucceeded in the o

[2021-06-01 13:19] #20486 closed

[2021-06-01 17:28] mburke5678 opened #32958 "Example is incorrect for OKD"
Example references RHCOS, which is incorrect for OKD
`node.openshift.io/os_id: rhcos`

### Which section(s) is the issue in?
https://docs.okd.io/latest/nodes/scheduling/nodes-scheduler-node-selectors.html#nodes-scheduler-node-selectors-about_nodes-scheduler-node-selectors

### What needs fixing?

Change `rhcos` to `fedora`

[2021-06-01 17:35] elmiko commented on #32958
testing something out
/assign @dmueller2001

[2021-06-01 17:37] elmiko commented on #32958
/label fedora

[2021-06-01 21:23] uselessidbr opened #32980 "vSphere IPI Required Privileges & Permissions incorrect"
### Which section(s) is the issue in?

**docs/user/vsphere/privileges.md**

### What needs fixing?

IPI (created folder) missing permissions:

Role **openshift-datacenter-level** IS REQUIRED TO IMPORT OVA

Role **openshift-datacenter-level** PERMISSIONS:

**VApp.Import**

Role **openshift-folder-level** MISSING TAG PERMISSIONS:

**InventoryService.Tagging.AttachTag
InventoryService.Tagging.CreateC

[2021-06-01 21:30] uselessidbr commented on #32980
Probably you can restrain even more the **openshift-folder-level** regarding TAGGING permissions, keeping only:

InventoryService.Tagging.AttachTag
InventoryService.Tagging.ObjectAttachable

[2021-06-01 22:33] #32980 closed

[2021-06-02 04:57] rbbratta opened #32983 "[enterprise-4.8] Issue in file rest_api/operator_apis/network-operator-openshift-io-v1.adoc"
### Which section(s) is the issue in?

rest_api/operator_apis/network-operator-openshift-io-v1.adoc

.spec
.spec.exportNetworkFlows

### What needs fixing?

Missing the new 4.8 fields.  Is this auto-generated based on the new APIs yaml?

[code]

https://github.com/openshift/api/blob/release-4.8/operator/v1/0000_70_cluster-network-operator_01_crd.yaml

Diff from 4.7
https://github.com/openshift/api

[2021-06-02 07:02] aitchjoe opened #32984 "The nodeSelector example is error"
### Which section(s) is the issue in?

The nodeSelector example in [Moving monitoring components to different nodes](https://github.com/openshift/openshift-docs/blob/945740c5b9001bcf4eebe45c15d4073e7a36b2d3/modules/monitoring-moving-monitoring-components-to-different-nodes.adoc):

[code]

but by [nodeSelector](https://v1-20.docs.kubernetes.io/docs/concepts/scheduling-eviction/assign-pod-node/#node

[2021-06-02 07:51] lwan-wanglin commented on #29652
For [CCO-21](https://issues.redhat.com/browse/CCO-21) **GA of AWS STS** as @jeana-redhat mentioned above, we don't support the below 2 scenario now,  it's worth to add to release note， cc @joelddiaz @akhil-rane

1.  not support in OCP 4.8 on goveronment region
   - Bug [1935058](https://bugzilla.redhat.com/show_bug.cgi?id=1935058) -  Can’t finish install sts clusters on aws government region
2.  n

[2021-06-02 09:27] tripod70 opened #32985 "[enterprise-4.5] Issue in file nodes/containers/nodes-containers-copying-files.adoc"
### Which section(s) is the issue in?

it is part of published example:

WARNING: cannot use rsync: rsync not available in container
status.txt

so you writing that command execution unsuccessful

### What needs fixing?
documentation,
please add correct example with -c option

[2021-06-02 09:57] DanielFroehlich opened #32986 "[enterprise-4.7] Issue in file nodes/clusters/nodes-cluster-resource-configure.adoc"
### Which section(s) is the issue in?
Understanding managing application memory

### What needs fixing?
`It is recommended to fully read the overview of how OpenShift Container Platform manages Compute Resources before proceeding.`
Suggest to provide a link  to that overview!

[2021-06-02 10:47] soltysh commented on #32555
Officially, what the docs says is correct, we should probably update the docs to match the flow, which is:

cloud.redhat.com -> OpenShift -> Create Cluster -> (Pick one option) -> Download command-line tools
or
access.redhat.com -> Downloads -> Red Hat OpenShift Container Platform

Semi-officially I'll be helping to refresh versions available on homebrew and chocolatey :smile:

[2021-06-02 12:59] andyedwardsibm opened #32988 "[enterprise-4.6] Issue in file networking/routes/route-configuration.adoc"
### Which section(s) is the issue in?
"Route-specific annotations"

### What needs fixing?
The table lists `haproxy.router.openshift.io/cookie-same-site` but setting that annotation has no effect on the behaviour of the Route.  From https://bugzilla.redhat.com/show_bug.cgi?id=1867186 the last comment seems to indicate the annotation is `router.openshift.io/cookie-same-site` (without the leading `h

[2021-06-02 13:31] jboxman commented on #32988
cc @bmcelvee

[2021-06-02 16:36] rahulait opened #32999 "[enterprise-4.7] Issue in file security/certificate_types_descriptions/etcd-certificates.adoc"
### Which section(s) is the issue in?
The CA certificates are valid for 10 years. The peer, client, and server certificates are valid for three years.

### What needs fixing?
Is it "peer, client and server" or "peer, server and metrics".
When I look for secrets in openshift-etcd namespace, I see etcd-all-peer, etcd-all-serving and etcd-all-serving-metrics containing certs with 3 years validity. Re

[2021-06-02 16:46] rahulait commented on #32999
It looks like the etcd-all-serving-metrics is signed by etcd-metric-signer. Where can one find the client cert which is signed for 3 years if the documentation is correct?

[2021-06-03 01:43] sunzhaohua2 commented on #29652
Machine API:

- Support Azure DiskEncryptionSets for machines: https://issues.redhat.com/browse/OCPCLOUD-954
- vSphere: autoscaling from/to zero support: https://issues.redhat.com/browse/OCPCLOUD-848
- Apply user defined tags in AWS - EC2: https://issues.redhat.com/browse/OCPCLOUD-1116

[2021-06-03 06:22] duanwei33 commented on #29652
For storage: (cc @chao007)

TP feature:

- Storage: CSI Migration for OpenStack Cinder and AWS EBS (Tech Preview): https://issues.redhat.com/browse/STOR-361
- CSI operator for Azure Disk (Tech preview): https://issues.redhat.com/browse/STOR-364:
- Storage: CSI Operator for vSphere (Tech Preview): https://issues.redhat.com/browse/STOR-434

TP to GA:

- CSI Operator for GCE (GA): https://issues.redh

[2021-06-03 11:21] mmusaji opened #33023 "[enterprise-4.7] Issue in file service_mesh/v1x/ossm-observability.adoc"
### Which section(s) is the issue in?
https://docs.openshift.com/container-platform/4.7/service_mesh/v1x/ossm-observability.html#ossm-observability-access-console_observability-v1x

### What needs fixing?

The steps below, step 2 is incorrect.

Should read

For the developers section below it, it can be made clearer than you need to select the project bookinfo.

[2021-06-03 12:00] mgoerens opened #33025 "[enterprise-4.7] Issue in file cli_reference/openshift_cli/getting-started-cli.adoc"
### Which section(s) is the issue in?

Section `Installing the OpenShift CLI` / `Installing the OpenShift CLI by downloading the binary` for all three Operating Systems.

### What needs fixing?

The procedure described doesn't allow the user to download the OpenShift CLI.

In particular, in step 1, the "Infrastructure Provider" page which is referenced is https://cloud.redhat.com/openshift/install

[2021-06-03 19:04] asood-rh commented on #29652
For networking (cc @jboxman  )
Please include features covered in these epics -  https://issues.redhat.com/browse/SDN-1364 and https://issues.redhat.com/browse/SDN-1340

[2021-06-03 19:07] ChrisSchneider opened #33052 "[enterprise-4.7] Issue in file service_mesh/v2x/ossm-custom-resources.adoc"
### Which section(s) is the issue in?

[Red Hat OpenShift Service Mesh custom resources](https://docs.openshift.com/container-platform/4.7/service_mesh/v2x/ossm-custom-resources.html#ossm-cr-example_ossm-custom-resources-v2x)

### What needs fixing?

The example shows that `ServiceMeshControlPlane` resources can be set with `spec.proxy.resources`:

[code]

However, according to the [CRD](https://g

[2021-06-03 20:15] jboxman commented on #29652
@asood-rh, there's https://github.com/openshift/openshift-docs/pull/32956 and will be one for network policy audits shortly.

[2021-06-03 20:16] weliang1 commented on #29652
For networking (cc @jboxman )
Please include features covered in these epics - https://issues.redhat.com/browse/OSDOCS-1861

[2021-06-03 21:41] bergerhoffer commented on #32555
Thanks @soltysh! Unless there's a reason not to, I think I'll update to use the customer portal method because I can link directly to the OCP downloads page. Seems much more straightforward than the first!

[2021-06-04 01:21] #24812 closed

[2021-06-04 01:36] yanpzhan commented on #29652
Web Console
Some words update:
For console and downloads routes, custom routes **functionally/functionality** is now implemented to use the new ingress config route configuration API **spec.componenetRoutes**.The Console Operator **config** already contained custom route customization, but for the console route only.

[2021-06-04 07:55] lihongan commented on #29652
Networking:

-  Support Ingress Class (see https://issues.redhat.com/browse/NE-477)
-  Provide Global Access Option for GCP Ingress Internal LB  (https://issues.redhat.com/browse/NE-447)
- Control openshift-dns Pod Placement (https://issues.redhat.com/browse/NE-360)
- Support for ipfailover (https://issues.redhat.com/browse/NE-455)
- Customizable HAProxy nbthread (https://issues.redhat.com/browse/

[2021-06-04 15:26] oarribas commented on #26582
It's not needed by default installation, as it requires an additional secret.
BZ 1903980

[2021-06-04 16:27] elmiko opened #33080 "[okd] Pipeline information is not quite accurate for 4.7"
### Which section(s) is the issue in?

[CI/CD -> Pipelines -> OpenShift Pipelines Release Notes](https://docs.okd.io/latest/cicd/pipelines/op-release-notes.html)

### What needs fixing?

According to the section,

but this does not appear to be accurate with the current release, see [this email from the OKD working group mailing list](https://groups.google.com/g/okd-wg/c/WOYVj8Sa-3w/m/JGhtWMjzAAAJ

[2021-06-04 16:28] elmiko commented on #33080
/label okd-only

[2021-06-04 20:25] mburke5678 commented on #33080
@elmiko it appears that OpenShift Pipeline Operator is not available in OKD. Is that the case?

[2021-06-04 20:26] elmiko commented on #33080
@mburke5678 yes, that is what is being reported by the user. i think the instructions for usage are still valid, but the installation does not appear to work as it does for ocp.

[2021-06-04 20:59] mburke5678 commented on #33080
@elmiko Thank you. I was worried that just the 1.4 version wasn't supported in OKD, but earlier versions were. But I see that you cannot install Pipelines (at least not in the web console). PTAL: https://github.com/openshift/openshift-docs/pull/33117

[2021-06-05 01:24] #25471 closed

[2021-06-05 20:19] jboxman commented on #32983
@rbbratta, this is because the OCP API reference docs have not yet been built for 4.8. This is scheduled to happen in time for the release.

cc @ctauchen

[2021-06-05 20:19] jboxman commented on #32983
@rbbratta, this is because the OCP API reference docs have not yet been built for 4.8. This is scheduled to happen in time for the release.

cc @ctauchen

[2021-06-06 06:55] lbscorpio commented on #33025
@mgoerens I think no issue here. The URL can be redirected. The important step is Step 2, to select your infrastructure provider(e.g. cloud provider AWS or datacenter infrastructure provider OpenStack) correctly. Once step 2 done, then can see the section of Step 3.

Below screenshot was captured by choosing the infrastructure provider "Bare Metal", fyi, thanks.
<img width="720" alt="oc-cli" src="

[2021-06-06 10:39] apinnick commented on #29652
Migration Toolkit for Applications new features:
- Direct image and volume migration (https://issues.redhat.com/browse/MIG-284)
- Migration rollback (https://issues.redhat.com/browse/MIG-249)

[2021-06-07 07:54] pamoedom commented on #27862
/remove-lifecycle stale

[2021-06-07 08:15] mgoerens commented on #33025
You are right. Contrary to what I wrote originally, it is indeed possible to download the CLI from this webpage, and the procedure is correct.

As a user, however, I find this procedure confusing. I was expecting a simple download button directly on the target page, and not to go through several options and menus to find the download button. That's why I thought something is wrong with the doc and

[2021-06-07 10:17] stlaz commented on #29652
Authentication:
- OAuth tokens that do not include a SHA-256 prefix can no longer be used or created. This is a continuation of the effort to secure the OAuth token storage as announced in release notes of OpenShift Container Platform 4.6.

[2021-06-07 13:19] maxwelldb commented on #27863
/lifecycle frozen

[2021-06-07 13:19] maxwelldb commented on #27863
/remove-lifecycle stale

[2021-06-07 14:13] kfryklund opened #33141 "[enterprise-4.7] Issue in file logging/cluster-logging-deploying.adoc"
### Which section(s) is the issue in?
Instructions for installing the "Openshift Elasticsearch Operator"

### What needs fixing?
The documentation suggests installing the "Openshift Elasticsearch Operator" across "All namespaces on the cluster" and selecting the "openshift-operators-redhat" namespace.  However, this results in the following message which prevents us from installing:

Namespace doe

[2021-06-07 14:44] dulek commented on #29652
Known issue:
* [OVN bug](https://bugzilla.redhat.com/show_bug.cgi?id=1937392) causes persistent connectivity issues to Octavia loadbalancers. The problem affects Neutron subnets (OpenShift namespaces) at random. This means that OCP 4.8 deployments with Kuryr used as SDN are not recommended on OSP 16.1 with OVN (and OVN-Octavia) configured. Please follow the bug to find out which OSP z-stream relea

[2021-06-07 14:55] jboxman commented on #33025
@mgoerens, I'm not sure that's signed for OS X? I forget which place to get the binary isn't signed, but there was one.

[2021-06-08 13:51] mgoerens commented on #33025
@jboxman Sorry I'm not familiar with OS X environments and can't answer your question.

[2021-06-08 16:14] jboxman commented on #33025
Refs https://github.com/openshift/openshift-docs/issues/19589.

[2021-06-08 16:28] bdlink opened #33227 "[okd] Discussion of Machine Config Daemon should not mention RHCOS and RHEL"
### Which section(s) is the issue in?

https://docs.okd.io/latest/nodes/nodes/nodes-nodes-machine-config-daemon-metrics.html

### What needs fixing?

In table 1 MCO Metrics, mcd_host_os_and_version description mentions RHCOS as example twice, RHEL once

###potential resolution
Replace RHCOS with FCOS (need to check second reference whether version is indeed reported)

delete "or RHEL" from descrip

[2021-06-08 16:39] Elbehery opened #33228 "[OKD] Troubleshooting - Deploying installer-provisioned clusters on bare metal | Installing | OKD 4"
### Which section(s) is the issue in?

https://docs.okd.io/latest/installing/installing_bare_metal_ipi/ipi-install-troubleshooting.html

### What needs fixing?
3 mentions of `rhcos` needs to be changed to `fedora`

### potential resolution

- review example
- test with diff versions
- retest with each new release

/assign @mburke5678
/assign @dmueller2001

[2021-06-08 16:48] Elbehery opened #33229 "[okd] Installing a cluster on oVirt with user-provisioned infrastructure - Installing on oVirt | Installing | OKD 4"
### Which section(s) is the issue in?

https://docs.okd.io/latest/installing/installing_rhv/installing-rhv-user-infra.html

### What needs fixing?
deployment with `rhcos`

change `rhcos` to `fedora`

### Resolution

- review example
- test with diff versions
- retest with each new release

/assign @mburke5678
/assign @dmueller2001

[2021-06-08 16:56] Elbehery opened #33230 "[OKD] Deprecated features | What's new? | OKD 4"
### Which section(s) is the issue in?

https://docs.okd.io/latest/whats_new/deprecated-features.html

### What needs fixing?
 following needs to be replaced

- Red Hat’s enterprise
- Red Hat Enterprise Linux
- rhcos

/assign @mburke5678
/assign @dmueller2001

[2021-06-08 18:37] mburke5678 commented on #33230
@Elbehery Please take a look at my PR to see if it meets your expectations: https://github.com/openshift/openshift-docs/pull/33236

[2021-06-08 20:20] mburke5678 commented on #33227
@bdlink Can you take a look at my PR to see if it meets your expectations? Apologies that I cannot produce a preview for external review.
https://github.com/openshift/openshift-docs/pull/33240

[2021-06-08 21:04] mburke5678 commented on #33227
@vrutkovs PTAL

[2021-06-09 03:17] chao007 commented on #29652
Storage:
Merge multiple persistent daemonsets into one for LSO, so if create local volume CR,  only daemonset.apps/diskmaker-manager is created. (See [https://issues.redhat.com/browse/STOR-492])

[2021-06-09 10:59] rolfedh commented on #19301
/remove-lifecycle stale

[2021-06-09 10:59] rolfedh commented on #19301
/lifecycle frozen

[2021-06-09 13:35] mburke5678 commented on #33080
PR is merged.

[2021-06-09 13:35] #33080 closed

[2021-06-09 18:14] mallmen opened #33287 "[enterprise-4.8] Issue in file scalability_and_performance/recommended-host-practices.adoc"
### Which section(s) is the issue in?
Creating a KubeletConfig CRD to edit kubelet parameters

### What needs fixing?
Need to include instructions on configuring `tlsSecurityProfile` like there is for ingress at https://docs.openshift.com/container-platform/4.8/networking/ingress-operator.html#nw-ingress-controller-tls-profiles_configuring-ingress

[2021-06-09 19:41] mburke5678 commented on #33230
PR is merged

[2021-06-09 19:41] #33230 closed

[2021-06-09 20:28] mburke5678 commented on #33228
@Elbehery Can you help determine what these strings should be? I cannot verify.

curl -s -o /dev/null -I -w "%{http_code}\n" http://webserver.example.com:8080/rhcos-44.81.202004250133-0-qemu.x86_64.qcow2.gz?sha256=7d884b46ee54fe87bbc3893bf2aa99af3b2d31f2e19ab5529c60636fbd0f1ce7

bootstrapOSImage: http://<ip:port>/rhcos-43.81.202001142154.0-qemu.x86_64.qcow2.gz?sha256=9d999f55ff1d44f7ed7c106508e5de

[2021-06-09 20:54] mburke5678 commented on #33229
@Elbehery I see that there are 18 instances of `rhcos` in this topic. Which ones need to be changed? Many reference images, I am not aware if similar `fcos` images exist. Many others are related to template files, for ex: `template: rhcos_tpl`. Should there be a `template: fcos_tpl` in the inventory file?
What would `operating_system: "rhcos_x64"` be in a OKD cluster?

[2021-06-10 04:05] lbscorpio commented on #33025
@mgoerens If using the mirror link, the OpenShift docs have to update the link on every major release GA or url path changed(e.g. openshift-v4 change to openshift-v5). And there are different ways to get the `oc` binary(website, cli, RPM), I think we can't remove the way from website on instruction and only leave the CLI method. Of course, docs team can mention the mirror URL on the docs page as a

[2021-06-10 12:29] mburke5678 commented on #33287
@mallmen This is a work in progress. We are documenting this new feature for 4.8. We haven't decided where exactly the new information will be added. See: https://github.com/openshift/openshift-docs/pull/31903

[2021-06-10 13:31] maxwelldb commented on #30363
Not sure if this remains an issue, but I should still investigate it. :+1:

[2021-06-10 13:31] maxwelldb commented on #30363
/remove-lifecycle stale

[2021-06-10 14:20] TheRealCabrera opened #33327 "[enterprise-4.7] Issue in file installing/installing_vsphere/installing-vsphere-installer-provisioned.adoc"
### Which section(s) is the issue in?
Every page regarding installing a cluster on VSphere (installing with customizations, installing on Vsphere in restricted, etc...) there is a table under the VMware vSphere infrastructure requirements, Table 1.

### What needs fixing?
Customers are getting confused regarding whether or not NSX-T is required as well as storage with in-tree drivers. I propose wi

[2021-06-10 15:45] anuragthehatter commented on #29652
We should mention dual stack IPv6 support for IPsec as well  in notes

[2021-06-10 15:56] jboxman commented on #29652
@ctauchen, this is an easy win. Can you add this to the OCP 4.8 release notes under the _Networking_ section? (https://docs.openshift.com/container-platform/4.8/release_notes/ocp-4-8-release-notes.html#ocp-4-8-networking)

This is the prior 4.7 release note entry for IPsec itself: https://docs.openshift.com/container-platform/4.7/release_notes/ocp-4-7-release-notes.html#ocp-4-7-ovn-kubernetes-ipse

[2021-06-10 23:28] mallmen commented on #33287
Thanks, I will close this since it is covered elsewhere already

[2021-06-10 23:28] #33287 closed

[2021-06-11 14:23] IronicBadger opened #33366 "[enterprise-4.6] Issue in file backup_and_restore/backing-up-etcd.adoc"
### Which section(s) is the issue in?

https://docs.openshift.com/container-platform/4.6/backup_and_restore/backing-up-etcd.html#backing-up-etcd-data_backup-etcd

### What needs fixing?

The documentation references `cluster-backup.sh` as an opaque item with little to no explanation of what it is, where it comes from or an assumed purpose (backing up etcd obviously).

In step 4 it would be useful

[2021-06-12 13:30] #26032 closed

[2021-06-14 13:23] maxwelldb commented on #25463
/remove-lifecycle stale

[2021-06-14 19:30] rolfedh commented on #29652
Thanks, @adambkaplan. @Srivaralakshmi and I are documenting this issue in [the release notes for builds](https://docs.google.com/document/d/11toR_NFW03SBtQmKE-vPDtF21GNePg3e6ASZNhxLAXo/edit#), which you have reviewed and commented upon.

[2021-06-14 19:51] rolfedh commented on #29652
@soltysh @oarribas @adambkaplan: @Srivaralakshmi will be adding release notes for the BUILDS project. These will include [the items listed in this bz query](https://bugzilla.redhat.com/buglist.cgi?bug_status=ON_QA&bug_status=VERIFIED&bug_status=RELEASE_PENDING&bug_status=CLOSED&classification=Red%20Hat&columnlist=product%2Ccomponent%2Cassigned_to%2Cbug_status%2Cresolution%2Cshort_desc%2Cchangeddat

[2021-06-15 15:50] paulczar opened #33453 "[online] Issue in file rosa_getting_started/rosa-sts-creating-cluster.adoc"
### Which section(s) is the issue in?

Creating your cluster using STS

### What needs fixing?

It tells you to run these commands, but it doesn't tell you to set the variable $cluster_id first

[code]

I believe we can tell the user to run `cluster_id=$(rosa describe cluster -c $name | grep "^ID:" | awk '{ print $2}')` to set the variable

[2021-06-15 16:00] acsulli opened #33456 "[enterprise-4.7] Issue in file installing/installing_vmc/installing-vmc.adoc"
### Which section(s) is the issue in?
VMware vSphere infrastructure requirements

### What needs fixing?
The table lists requirements for NSX-T integration with OpenShift, however when deploying OpenShift to VMC, this integration is not available.

[2021-06-15 16:16] paulczar opened #33459 "[online] Issue in file rosa_getting_started/rosa-sts-creating-cluster.adoc"
### Which section(s) is the issue in?

Creating your cluster using STS

### What needs fixing?

Several commands in this section use a hard coded `us-east-1` region rather than using ${region} from the environment variables.

example

[code]

should be

[code]

[2021-06-15 17:22] paulczar commented on #33459
never mind, this is because the region is currently hard-coded.  Closing out.

[2021-06-15 17:22] #33459 closed

[2021-06-15 17:27] #32958 closed

[2021-06-15 17:30] cturiel opened #33461 "[enterprise-4.7] Issue in file registry/configuring_registry_storage/configuring-registry-storage-vsphere.adoc"
### Which section(s) is the issue in?
Configuring block registry storage for VMware vSphere

### What needs fixing?

Procedure, step 1: This  step should be moved to the step 3.

Procedure, step 3:  two things:
- Include the pvc name in the example output. Leave the field blank doesn't seem to work.
[code]

- Include the changue for the managementState field, from Removed to Managed.

[2021-06-15 18:35] rolfedh commented on #30497
@mgarrellRH Please close this issue. Thanks.

[2021-06-15 18:46] vap0rtranz opened #33470 "[enterprise-4.7] Issue in file windows_containers/windows-containers-release-notes-2-x.adoc"
### Which section(s) is the issue in?

"Windows Container Support for Red Hat OpenShift release notes"
https://docs.openshift.com/container-platform/4.7/windows_containers/windows-containers-release-notes-2-x.html

### What needs fixing?

Replace Windows Server versions with those that are supported by Microsoft.  This doc references an EOL version.  "Windows Server Semi-Annual Channel (SAC): Wind

[2021-06-15 18:56] sjhala-ccs commented on #30497
Closing this issue on behalf of @mgarrellRH

[2021-06-15 18:56] #30497 closed

[2021-06-15 20:30] bergerhoffer commented on #33366
Closing, as #33367 resolves this issue.

[2021-06-15 20:30] #33366 closed

[2021-06-15 20:53] lautou commented on #28191
/remove-lifecycle stale

[2021-06-15 20:54] lautou commented on #28191
Hi any update?

[2021-06-15 21:30] lautou opened #33481 "[enterprise-4.7] Issue in file installing/installing_vmc/installing-vmc.adoc"
### Which section(s) is the issue in?
Deploying the cluster

### What needs fixing?
The following steps are missing  when running the installer:

--------------------------------------------------
Select vsphere as the platform to target.

Specify the name of your vCenter instance.

Specify the user name and password for the vCenter account that has the required permissions to create the cluster.

[2021-06-16 10:47] lautou opened #33489 "[enterprise-4.7] Issue in file installing/installing_openstack/installing-openstack-installer-restricted.adoc"
### Which section(s) is the issue in?

Installing a cluster on OpenStack in a restricted network

### What needs fixing?

There is no page for "Installing a cluster on OpenStack on your own infrastructure in a restricted network" (as it is already done for other iaaS)

[2021-06-16 13:26] jeana-redhat commented on #29652
Making a note here for RN team tracking: As Lin notes, 1935058 is resolved and does not need to be included. Further conversation on [1935058](https://bugzilla.redhat.com/show_bug.cgi?id=1935058) indicates this will likely go in as a Known Issue.

[2021-06-16 13:38] jeana-redhat commented on #29652
We need to add a statement along the lines of "The scope of support on OCP for the different add-ons is stated in the respective Release Notes." (And elaborating a bit about what we mean by add-ons, perhaps where to find these respective RNs, etc.)

Per [Slack discussion](https://coreos.slack.com/archives/C2ZA5QGMV/p1623754125194300) kicked off by @SNiemann15 :bow:

[2021-06-16 13:43] jeana-redhat opened #33497 "OCP 4.9 Release Notes Tracker"
_Have already had a comment about an item to track for 4.9 Release Notes, so opening this now._

Please leave comments here for anything that should be highlighted in the 4.9 release notes. Thank you!

[2021-06-16 13:50] lbarbeevargas commented on #33497
The Metering Operator was deprecated in 4.6. If it is still scheduled to be removed in 4.9:

- Add a release note in the "Removed features" section that the Metering Operator is removed.
- Update the 4.9 _Deprecated and removed features tracker_ table for the Metering Operator.

[OSDOCS-2249](https://issues.redhat.com/browse/OSDOCS-2249) tracks this release note.

[2021-06-16 15:47] lautou opened #33509 "[enterprise-4.7] Issue in file installing/installing_bare_metal/installing-bare-metal.adoc"
### Which section(s) is the issue in?

Required machines

### What needs fixing?

Remove this ugly copy and paste from installation on vsphere doc
---------------------------

If the&nbsp;platform: none&nbsp;field is defined in the&nbsp;install-config.yaml&nbsp;file, virtual machines (VMs) configured to use virtual hardware version 14 or greater might result in a failed installation. It is recomme

[2021-06-16 16:01] paulczar opened #33510 "Potential Issue in STS docs"
### Which section(s) is the issue in?

Creating your cluster using STS

### What needs fixing?

Currently STS OIDC endpoints are all in us-east-1 regardless of region settings.  The first time I went through the docs I was using us-east-2, therefore updated the commands to use that which then meant it couldn't deploy.  We should make it clear in the docs that regardless of region being deployed to

[2021-06-16 19:07] sdodson commented on #29652
For the Installation and Upgrades section a broadly scoped note along the lines of
[code]

Backing bugs for this are https://bugzilla.redhat.com/show_bug.cgi?id=1933159 https://bugzilla.redhat.com/show_bug.cgi?id=1933174 https://bugzilla.redhat.com/show_bug.cgi?id=1934711 https://bugzilla.redhat.com/show_bug.cgi?id=1933173 https://bugzilla.redhat.com/show_bug.cgi?id=1933179 https://bugzilla.redhat

[2021-06-17 15:27] #32641 closed

[2021-06-17 16:24] peterclauterbach opened #33587 "[enterprise-4.7] Issue in file virt/install/preparing-cluster-for-virt.adoc"
### Which section(s) is the issue in?

### What needs fixing?

Currently the "High Availability" capability is buried in the "preparing you cluster" section.  This needs to be treated as a separate capability, similar to LiveMigration. We have good stuff here, but none of it is really documented. Potential outline

What is infrastructure high availability?
How to configure it.
How it works / i.e w

[2021-06-17 18:20] paulczar opened #33598 "[enterprise-4.6] Issue in file openshift_images/managing_images/using-image-pull-secrets.adoc"
### Which section(s) is the issue in?

[Using image pull secrets](https://docs.openshift.com/container-platform/4.6/openshift_images/managing_images/using-image-pull-secrets.html#images-allow-pods-to-reference-images-across-projects_using-image-pull-secrets)

### What needs fixing?

As well as doing this per namespace, a cluster admin can give access to all authenticated users to the images for a

[2021-06-17 18:51] smirman opened #33600 "[online] Issue in file rosa_getting_started/rosa-required-aws-service-quotas.adoc"
### Which section(s) is the issue in?

Required AWS Service Quotas

### What needs fixing?

There is just a typo in the link "requesting a quota inscrease".  That should say "requesting a quota increase"

[2021-06-18 00:23] mayurshetty opened #33615 "[online] Issue in file rosa_getting_started/osd-aws-privatelink-creating-cluster.adoc"
### Which section(s) is the issue in?

Figure 1. Multi-AZ PrivateLink cluster deployed on private subnets

### What needs fixing?

In the figure it says ELB to refer to the Load Balancer used. ELB is a generic term used by AWS for all their Load Balancers, can we be more specific and call out the exact LB that is used. If it's Classic Load Balancer then call it out as CLB.

[2021-06-18 00:34] mayurshetty opened #33617 "[online] Issue in file rosa_getting_started/osd-aws-privatelink-creating-cluster.adoc"
### Which section(s) is the issue in?

AWS provides multiple reference architectures. Here are three examples:

### What needs fixing?

There is no co-relation between PrivateLink and the three examples that have been provided. This just creates confusion, and should be taken out of the documentation.

[2021-06-18 01:33] #28645 closed

[2021-06-18 06:21] mayurshetty opened #33618 "[online] Issue in file rosa_getting_started/osd-aws-privatelink-creating-cluster.adoc"
### Which section(s) is the issue in?

You can create an AWS PrivateLink cluster using the rosa CLI.

### What needs fixing?

Please call out the "rosa version" needed for configuring PrivateLink

ROSA % rosa create cluster --private-link --multi-az --cluster-name=mytest
Error: unknown flag: --private-link
Usage:
  rosa create cluster [flags]

Version 1.0.5 clearly does not work
ROSA % rosa versio

[2021-06-18 06:25] mayurshetty opened #33619 "[online] Issue in file rosa_getting_started/osd-aws-privatelink-creating-cluster.adoc"
### Which section(s) is the issue in?

Creating an AWS PrivateLink cluster

### What needs fixing?

This should include a section on how to delete a PrivateLink cluster

[2021-06-18 06:31] mayurshetty opened #33620 "[online] Issue in file rosa_getting_started/osd-aws-privatelink-creating-cluster.adoc"
### Which section(s) is the issue in?

PrivateLink architecture

The Red Hat managed infrastructure responsible for creating PrivateLink clusters is hosted on completely private subnets. The only connection made between Red Hat and the customer provided infrastructure is through PrivateLink VPC Endpoints.

### What needs fixing?

Please explicitly call out "PrivateLink is only supported on existin

[2021-06-18 15:03] jonquilwilliams commented on #33620
Closing this PR and replacing it with this JIRA card: https://issues.redhat.com/browse/OSDOCS-2267

[2021-06-18 15:03] #33620 closed

[2021-06-18 15:07] jonquilwilliams commented on #33618
Closing this PR and replacing it with this JIRA card: https://issues.redhat.com/browse/OSDOCS-2268, per our processes.

[2021-06-18 15:07] #33618 closed

[2021-06-18 15:10] jonquilwilliams commented on #33619
Closing this and replacing it with this JIRA, per our processes: https://issues.redhat.com/browse/OSDOCS-2269

[2021-06-18 15:10] #33619 closed

[2021-06-18 15:15] jonquilwilliams commented on #33617
Closing this and adding it to the JIRA architecture card that I am working on: https://issues.redhat.com/browse/OSDOCS-1627

[2021-06-18 15:15] #33617 closed

[2021-06-18 15:15] jonquilwilliams commented on #33615
Closing this and adding it to the JIRA architecture card that I am working on: https://issues.redhat.com/browse/OSDOCS-1627

[2021-06-18 15:15] #33615 closed

[2021-06-18 17:13] sdunne opened #33644 "[online] Issue in file cloud_infrastructure_access/rosa-private-cluster.adoc"
### Which section(s) is the issue in?
Configuring a Private Cluster

### What needs fixing?
"An Red Hat OpenShift Service" should be "A Red Hat OpenShift Service"

[2021-06-20 07:35] #23496 closed

[2021-06-21 12:13] pamoedom opened #33682 "[enterprise-4.7] Issue in file installing/install_config/installing-customizing.adoc"
### Which section(s) is the issue in?

https://docs.openshift.com/container-platform/4.7/installing/install_config/installing-customizing.html#installation-special-config-encrypt-disk-tang_installing-customizing

### What needs fixing?

Various points, let me elaborate using the same numbering of that section:

5.b) Documentation states the following:

[code]

But that's confusing because the `thu

[2021-06-21 12:44] damemi commented on #33497
Descheduler Operator v1beta1 API has been removed for v1 https://github.com/openshift/cluster-kube-descheduler-operator/pull/199

[2021-06-21 14:04] huffmanca commented on #30292
@bergerhoffer

The image is now available in quay.io - https://quay.io/repository/openshift/origin-local-storage-mustgather .

[2021-06-21 14:05] stevsmit commented on #30559
/close

[2021-06-21 14:05] #30559 closed

[2021-06-21 15:54] germanparente opened #33709 "[enterprise-4.6] Issue in file service_mesh/v2x/servicemesh-release-notes.adoc"
### Which section(s) is the issue in?

we will need to add explicitly in 4.6 service mesh release notes that service mesh 2.0 is tech preview as we mention in 4.7:

https://docs.openshift.com/container-platform/4.7/service_mesh/v2x/servicemesh-release-notes.html#ovnkubernetes-technology-preview

### What needs fixing?

Please, add the same paragraph than in 4.7 to show explicitly service mesh 2.x

[2021-06-21 16:19] germanparente commented on #33709
It seems this commit has been done for 4.7 and 4.8 already but, no idea why not in 4.6:

https://github.com/openshift/openshift-docs/pull/30068

[2021-06-21 17:59] JStickler commented on #33023
Created https://issues.redhat.com/browse/OSSMDOC-349 to track.

[2021-06-21 18:08] JStickler commented on #33052
Created https://issues.redhat.com/browse/OSSMDOC-350 to track

[2021-06-21 18:15] JStickler commented on #33709
Closing as WON.T FIX.  As noted in the Service Mesh release notes, this feature was introduced on OCP 4.7.

https://docs.openshift.com/container-platform/4.7/service_mesh/v2x/servicemesh-release-notes.html#ovnkubernetes-technology-preview

[2021-06-21 18:15] #33709 closed

[2021-06-21 19:41] wgordon17 commented on #33619
@mayurshetty, we already have a cluster deletion document: https://docs.openshift.com/rosa/rosa_getting_started/rosa-deleting-cluster.html

Is there something that you feel is missing or unique to PrivateLink clusters?

[2021-06-21 20:03] sagidlow commented on #28906
/remove-lifecycle stale

[2021-06-21 20:04] sagidlow commented on #30568
/close

I believe this issue has already been addressed in our documentation. Please see our latest documentation: [Divison Permissions](https://docs.openshift.com/container-platform/4.7/installing/installing_azure/installing-azure-vnet.html#installation-about-custom-azure-permissions_installing-azure-vnet)

[2021-06-21 20:04] #30568 closed

[2021-06-21 20:17] germanparente commented on #33709
@JStickler we have customers complaining about not explicitly mentioning this n 4.6 where OVN is already GA. And also service mesh but clearly not the integration.

[2021-06-21 20:21] GroceryBoyJr commented on #30745
/remove-lifecycle stale

[2021-06-21 22:40] mayurshetty commented on #33619
@Will Gordon ***@***.***>

Creation of the PrivateLink cluster needs "--private-link", so it would be
good to call out that the normal delete (without --private-link) would work
to delete a PrivatLink cluster too.

On Mon, Jun 21, 2021 at 12:41 PM Will Gordon ***@***.***>
wrote:

--
Red Hat Inc.
Hybrid Cloud Solution Architect
tel: 650-804-9263
***@***.***

[2021-06-21 23:10] will commented on #33619
cool, I've never used open shift but I'll try and keep that in mind if I ever do. thanks!

[2021-06-22 01:46] pbmoses opened #33734 "[enterprise-4.7] Issue in file release_notes/ocp-4-7-release-notes.adoc"
### Which section(s) is the issue in?
Networking - routes are not being created when invalid/short names are used in the spec.host field.

### What needs fixing?
OpenShift 4.7.x will no longer invalid host names to be used in routes (or short DNS names consisting of a single word). Route hosts must conform to DNS 1123 naming conventions. This can result in applications unreachable, as the routes d