[2021-06-22 05:38] tjungbauer opened #33738 "[enterprise-4.6] Issue in file security/compliance_operator/compliance-operator-remediation.adoc"
### Which section(s) is the issue in?
Filters for failed compliance check results --> typo in command

### What needs fixing?

The 1st command at "List all failing checks that can be remediated automatically:"  has a typo

It says:
`$ oc get compliancecheckresults -l 'compliance.openshift.io/check-status=FAIL,compliance.openshift.io/automated-remmediation'`

But it should be
`$ oc get compliancech

[2021-06-22 08:39] hairmare commented on #30572
/remove-lifecycle stale

[2021-06-22 09:15] gerbigma opened #33741 "[enterprise-4.7] Issue in file cicd/gitops/gitops-release-notes.adoc"
### Which section(s) is the issue in?
https://docs.openshift.com/container-platform/4.7/cicd/gitops/gitops-release-notes.html#upgrading-from-red-hat-openshift-gitops-v1-0-1

### What needs fixing?
Shouldn't 3. rather be "create new Instance " ?

[2021-06-22 10:03] RHodzelmans opened #33742 "[enterprise-4.7] Issue in file authentication/managing-security-context-constraints.adoc"
In general I feel we have the issue we assume to much knowledge of the reader, skipping over essential information. Not everyone has done the required training in Linux, Kubernetes etc. If we do require that, we need to mention that we assume that.

But more specifically, lets show some examples

First this page mentions:
`The cluster contains eight default SCCs:`
What do they mean? Where is expla

[2021-06-22 12:34] kmccarron-rh commented on #33619
@wgordon17 - I think this was meant for you ;-)

[2021-06-22 13:48] JStickler commented on #33709
@germanparente I do not think this is a documentation bug, I have not been able to confirm with Engineering that the OVN + service mesh integration works on 4.6.

[2021-06-22 13:49] jonquilwilliams commented on #33619
Folks, this PR is closed because there is a JIRA card to track the work, which is our process. We will add the `--private-link` flag to the existing Deleting a Cluster topic and put it in the Additional Resources section of the "Creating a PrivateLink CLuster" topic. This is the JIRA card that you can follow: https://issues.redhat.com/browse/OSDOCS-2269

[2021-06-22 14:25] germanparente commented on #33709
Hi,
ok. Since we know it's not working fine, I wanted to tell the customers that either it's unsupported or tech preview as in 4.7. But say it explicitly because the customers are doing a very bad reasoning:

ovn: GA in 4.6
service mesh 2.X: GA in 4.6

the deduce the integration of both is GA in 4.6 and we should explicitly say that it's not.

[2021-06-22 14:44] JStickler commented on #33709
When we introduced the integration for OVN it was not supported on OCP4.6.  As of May there were open issues that needed to be backported to 4.6 to get the OVN integration to work. I have not been able to confirm if/when that backport happened to 4.6.  At best it would be tech preview on 4.6, but right now I'm trying to track down why OSSM-282 was reopened.  At this point I think you're better off

[2021-06-23 08:28] linuxstudio opened #33802 "[enterprise-4.7] Issue in file cicd/gitops/configuring_argo_cd_to_recursively_sync_a_git_repository_with_your_application/configuring-an-openshift-cluster-by-deploying-an-application-with-cluster-configurations.adoc"
### Which section(s) is the issue in?
Logging in to the Argo CD instance by using your OpenShift credentials

### What needs fixing?

Point 2 in procedure has a wrong reference to the menu:

Navigate to the ￼ menu → Application Stages → Argo CD

should be instead:

Navigate to the ￼ menu → OpenShift GitOps → Argo CD.

[2021-06-23 08:42] pamoedom commented on #33682
Hi @pneedle-rh , thanks for taking this issue, in addition to above comments I would like to also add the following:

In section 5.a, there is also a command example with a wrong URL, please note we need to also modify that one as follows in accordance with the same changes:

[code]

As a side note, I've found also related BZ#1937763 that corroborates that `https` is not a valid protocol for Tang.

[2021-06-23 09:02] germanparente commented on #33709
Hi @JStickler thanks a lot. In 4.7 it's tech preview. We need to add a paragraph here to say either "not supported" or also "tech preview" or something. But I agree that it's to engineering to confirm that. From support point of view, we have issues with customers because this is not explicitly stated.

For instance, one customer is deducing that OVN+SM is GA because  both components are GA in 4.6

[2021-06-23 12:07] linuxstudio opened #33811 "[enterprise-4.7] Issue in file cicd/gitops/configuring_argo_cd_to_recursively_sync_a_git_repository_with_your_application/configuring-an-openshift-cluster-by-deploying-an-application-with-cluster-configurations.adoc"
### Which section(s) is the issue in?
Creating an application by using the oc tool

### What needs fixing?
Step 1. Download the sample application:

cloning using ssh is not working unless reader has configured its ssh keys in github. Better using https.
See the following transcript that explains better the issue:

[code]

[2021-06-23 12:23] linuxstudio opened #33812 "[enterprise-4.7] Issue in file cicd/gitops/configuring_argo_cd_to_recursively_sync_a_git_repository_with_your_application/deploying-a-spring-boot-application-with-argo-cd.adoc"
### Which section(s) is the issue in?
Logging in to the Argo CD instance by using your OpenShift credentials

### What needs fixing?
Point 2 in procedure has a wrong reference to the menu:

Navigate to the ￼ menu → Application Stages → Argo CD

should be instead:

Navigate to the ￼ menu → OpenShift GitOps → Argo CD.

[2021-06-23 12:28] linuxstudio opened #33813 "[enterprise-4.7] Issue in file cicd/gitops/configuring_argo_cd_to_recursively_sync_a_git_repository_with_your_application/deploying-a-spring-boot-application-with-argo-cd.adoc"
### Which section(s) is the issue in?
Creating an application by using the oc tool

### What needs fixing?
Step 1. Download the sample application:

cloning using ssh is not working unless reader has configured its ssh keys in github. Better using https.
See the following transcript that explains better the issue:

[code]

[2021-06-23 12:58] jonquilwilliams commented on #33600
Thanks for catching that. It's actually been fixed as part of another update, but is On QA. We hope to get it published soon.

Related JIRA: https://issues.redhat.com/browse/OSDOCS-2228

[2021-06-23 12:58] #33600 closed

[2021-06-23 15:26] JStickler commented on #33709
@germanparente I don't want to update the docs that this is tech preview if it's actually broken.  But I also don't want to update as not supported if the tech preview has been backported to 4.6.  At any rate, here are the JIRAs to watch:
Engineering - OSSM-282
Docs - OSSMDOC-352

[2021-06-23 15:36] germanparente commented on #33709
Hi. Thanks again. I agree but it's still unknown to the customers and we need to clarify this explicitly in 4.6 docs. We have currently a big problem because of not having this explicitly stated in service mesh release notes.

[2021-06-23 20:23] lbarbeevargas commented on #30979
I cleared myself as the assignee because I am transitioning off of the OpenShift documentation team.

This issue is a low priority, but is a good first issue for a new writer to take on.

Please reach out to @timflannagan (former Metering team lead) for assistance and @pruan-rht (former Metering QE) for QE.

[2021-06-23 21:40] bgaydosrh commented on #29004
Resolved so marking /close

[2021-06-24 09:14] git001 opened #33869 "Add Information about AZURE_AUTH_LOCATION for installer"
### Which section(s) is the issue in?

Azure IPI installation

### What needs fixing?

We install several clusters in different environments and have to use different "osServicePrincipal" files.

I have seen in the code that there is the environment variable `AZURE_AUTH_LOCATION` https://github.com/openshift/installer/blob/master/pkg/asset/installconfig/azure/session.go#L20 which makes it possible

[2021-06-24 14:17] #30292 closed

[2021-06-24 16:00] #30900 closed

[2021-06-24 19:26] jonquilwilliams commented on #30902
This is fixed and merged in #30947 (not in 30908).

[2021-06-24 19:26] #30902 closed

[2021-06-25 07:34] domcar opened #33964 "[enterprise-4.7] Question in file authentication/remove-kubeadmin.adoc"
Hello, i am wondering if it's possible to just remove the UI access to the kubeadmin user rather than disabling it completely.
Is this possible?

[2021-06-25 07:37] #28245 closed

[2021-06-25 19:39] annelson-rh opened #34003 "[enterprise-4.7] Issue in file cli_reference/openshift_cli/developer-cli-commands.adoc"
### Which section(s) is the issue in?
https://docs.openshift.com/container-platform/4.7/cli_reference/openshift_cli/developer-cli-commands.html#convert

### What needs fixing?
oc convert was removed in 4.7

[2021-06-25 19:52] jboxman commented on #34003
cc @bergerhoffer - do we have auto-generated CLI docs for 4.7 or is that only for 4.8?

[2021-06-26 02:49] nak3 commented on #28869
https://github.com/openshift/openshift-docs/pull/30131/ changed `spec.security.controlPlane.mtls` to `spec.security.dataPlane.mtls` and so it will add strict `PeerAuthentication` I think.

Closing.

[2021-06-26 02:49] #28869 closed

[2021-06-26 13:38] #27651 closed

[2021-06-27 12:16] AmrGanz opened #34018 "[enterprise-3.11] Issue in file install_config/master_node_configuration.adoc"
### Which section(s) is the issue in?

In Document:
https://docs.openshift.com/container-platform/3.11/install_config/master_node_configuration.html#master-node-config-audit-config

The section that starts with the note:

There is an example configuration as below:

### What needs fixing?

[2021-06-27 14:02] javajon opened #34020 "[enterprise-4.7] Issue in file operators/operator_sdk/osdk-installing-cli.adoc"
### Which section(s) is the issue in?

RedHat
https://docs.openshift.com/container-platform/4.7/operators/operator_sdk/osdk-installing-cli.html
https://v0-19-x.sdk.operatorframework.io/docs/install-operator-sdk/#install-from-github-release
https://v1-9-x.sdk.operatorframework.io/docs/installation/
https://docs.okd.io/3.11/operators/osdk-getting-started.html#installing-operator-sdk-cli_osdk-getting

[2021-06-27 18:06] jboxman commented on #34020
cc @adellape

[2021-06-27 20:51] jboxman commented on #28333
@brian-avery, that's interesting, and I've finally had time to investigate this. We use around 2,000 lowercased _words_ that aren't in the LibreOffice English (US) dictionary. This probably requires additional study.

[2021-06-28 12:22] brian-avery commented on #28333
Thanks @jboxman. To clarify, some of the spelling errors I caught can be found here: https://github.com/openshift/openshift-docs/pull/28346/files. It's been a bit since I've run the tooling, but some examples from that PR:

* Repeating words -- `push actions by by editing the` -- also seen with the instead of `by`.
* `assoicated` instead of `associated`
* `Mananger` instead of `manager`
* `Prerequ

[2021-06-28 12:33] Miciah commented on #28924
Yeah, speaking in terms of sets is unnecessary and potentially confusing.  This suggested wording makes sense and eliminates possible confusion from using "set" terminology:

[2021-06-28 12:36] jboxman commented on #28333
@brian-avery, cool, @bergerhoffer recently went through and remove all the the doubles and similar.

[2021-06-28 13:14] brian-avery commented on #28333
Thanks. So we should be good at the moment. I cleaned up all the ones that were there in January. Would it be good to have tooling to detect these issues before they are merged?

[2021-06-28 13:46] jboxman commented on #28333
@brian-avery, not sure how viable this is pre-merge. (For example, it's not unheard of that someone touches dozens of files; a pre-commit hook or Travis build could run for quite a while, even if limited to changed files only.) In any case, I'm developing OCP docs specific tooling for this:

https://github.com/jboxman/adoc-after

I'm experimenting with automated YAML validation as well.

[2021-06-28 13:52] apolymen opened #34037 "[enterprise-4.6] Issue in file authentication/configmaps.adoc"
### Which section(s) is the issue in?
Whole document/page

### What needs fixing?
This page talks about ConfigMaps which is not related to Authentication. I would suggest moving it under Builds (as it was in 4.3/4.4) or under Applications.

[2021-06-28 13:58] brian-avery commented on #28333
Awesome. Thanks! In that case, this issue can probably be closed. Curious to see how this turns out. Especially the automated YAML validation.

[2021-06-28 14:12] #28333 closed

[2021-06-28 18:00] robszumski commented on #29652
![image](https://user-images.githubusercontent.com/755540/123682624-35016d00-d819-11eb-9d83-0a0a332ca8ef.png)

OpenShift Pipelines and OpenShift GitOps can be marked as GA from TP

[2021-06-29 13:32] itewk opened #34088 "docs say to use `extenisons.` in EventListner.triggers.interceptors.cel.overlays.key value but that doesnt work"
### Which section(s) is the issue in?
I dont know where the Tekton docs live within the OpenShift docs but @Preeticp recomended I open this here.

https://tekton.dev/docs/triggers/eventlisteners/#eventlistener-response in the Overlays section.

### What needs fixing?
The docs show that to set a value for an extension to do:

EventListener
[code]

TriggerBinding
[code]

But from expermintation with

[2021-06-29 14:59] jeana-redhat commented on #29652
@s-urbaniak Thanks for this excellent write-up! I'm not exactly sure what area this content belongs in - could you take a peek at the [draft release notes](https://docs.openshift.com/container-platform/4.8/release_notes/ocp-4-8-release-notes.html) and let me know which "New features and enhancements" heading it would best fit under?

[2021-06-29 18:08] binnes opened #34106 "[okd] Select document version dropdown only includes 3.x, 1.x versions and OKD Latest"
### Which section(s) is the issue in?

When selecting Documentation on the okd.io site you get a dropdown to select the version of documentation.  The list has **OKD Latest** as the top item, then OKD 3.11 through 3.6, then OKD 1.5 through 1.2.

### What needs fixing?
The dropdown should include newer 4.x releases or remove the dropdown and just jump to the latest documentation.  The 3.x and older

[2021-06-29 18:23] binnes opened #34109 "[okd] Install a cluster quickly on oVirt docs - diagram contain RHV instead of oVirt"
### Which section(s) is the issue in?

Same diagram is used on 3 pages

OKD 4 -> Installing -> Installing on oVirt -> Install a cluster quickly on oVirt
OKD 4 -> Installing -> Installing on oVirt -> Installing a cluster on oVirt with customizations
OKD 4 -> Installing -> Installing on oVirt -> Installing a cluster on oVirt with user-provisioned infrastructure

The diagram at the top of the page ha

[2021-06-30 07:17] zhaozhanqi commented on #29652
@jboxman we need to add note for 4.7 customer which is using OVN network plugin and RHEL7.9 workers want to upgrade to 4.7 latest version or 4.8 version.   there is bug https://bugzilla.redhat.com/show_bug.cgi?id=1976232 blocked the  upgrade for now. So if you wan to upgrade your 4.7 cluster version.  please wait the bug 1976232 is moved to verified and use the fixed version

[2021-06-30 13:16] robszumski commented on #29652
![image](https://user-images.githubusercontent.com/755540/123966730-aeb56a00-d983-11eb-803e-8e6852bdc5cb.png)

This continues as tech preview. Direct any questions to @marrusl.

[2021-06-30 13:26] robszumski commented on #29652
![image](https://user-images.githubusercontent.com/755540/123967010-ed4b2480-d983-11eb-86ab-cc375e97da1d.png)

This continues as tech preview. Direct any questions to @mgoldboi.

[2021-06-30 13:30] robszumski commented on #29652
![image](https://user-images.githubusercontent.com/755540/123968685-757df980-d985-11eb-8e2c-b42247b6b435.png)

We'd like to downgrade this feature from tech preview. Follow up with @sichvoge and @gauravsingh85.

[2021-06-30 15:58] kasturinarra commented on #29652
Add DevPreviewLongLifecycle in the release notes for descheduler. More info could be found at [1] and also since this is only for certain audiences we would like to call it out.  you could contat @ingvagabund  or @damemi for any questions.

[1] https://bugzilla.redhat.com/show_bug.cgi?id=1955595

[2021-06-30 16:59] bergerhoffer commented on #29652
@kasturinarra @damemi @ingvagabund Is this new profile dev preview (as the name implies)? If so, I don't believe we document dev preview features or even mention them in the release notes at all. CC @sjstout @vikram-redhat to confirm.

[2021-06-30 17:06] soltysh commented on #29652
@bergerhoffer yeah. that's fair :+1:

[2021-06-30 20:16] yocum137 opened #34185 "[enterprise-4.6] Issue in file installing/installing_vsphere/installing-vsphere-installer-provisioned.adoc"
### Which section(s) is the issue in?

https://docs.openshift.com/container-platform/4.5/installing/installing_vsphere/installing-vsphere-installer-provisioned.html#installation-vsphere-infrastructure_installing-vsphere-installer-provisioned

### What needs fixing?

The SDRS Warning from the v4.5 docs was not carried into the v4.6 docs.  Specifically, this warning MUST be present:

"A limitation o

[2021-07-01 04:38] kasturinarra commented on #29652
Thank you but i am just curious how the targeted audiences would know about this if we do not let them know about this ?

[2021-07-01 12:28] spiarh opened #34210 "[enterprise-4.7] Issue in file cicd/builds/securing-builds-by-strategy.adoc"
### Which section(s) is the issue in?

`Disabling access to a build strategy globally`

### What needs fixing?

It is mentioned to use the annotation `rbac.authorization.kubernetes.io/autoupdate: "false" ` but this is specific to Kubernetes vanilla so it should be `openshift.io/reconcile-protect: "true"`.

I did test both and only the former one works as expected, meaning after deleting the apiser

[2021-07-01 12:53] jeana-redhat commented on #29652
Emailing you offline :)

[2021-07-01 18:04] tschegy opened #34243 "[enterprise-4.7] Issue in file machine_management/user_infra/adding-bare-metal-compute-user-infra.adoc"
### Which section(s) is the issue in?
Proposal for additional section

### What needs fixing?
It may be good to mention, that after adding a compute node on BareMetal UPI deployment, LoadBalancer needs to be updated with the new compute node or in case Ingress pods would get scheduled to it, cluster could get degraded.

[2021-07-02 02:04] lwan-wanglin commented on #29652
Bug 1935058 can be removed from known issues.

@jeana-redhat , we need to use this bug [1977184](https://bugzilla.redhat.com/show_bug.cgi?id=1977184) replacing 1939842 to track image registry issue, the dev changes the target release to 4.8.z, so we should also treat it as a known issue.

[2021-07-02 10:54] MattiaSarti opened #34284 "[enterprise-4.7] Issue in file machine_management/creating_machinesets/creating-machineset-azure.adoc"
### Which section(s) is the issue in?

https://docs.openshift.com/container-platform/4.7/machine_management/creating_machinesets/creating-machineset-azure.html#machineset-yaml-azure_creating-machineset-azure

### What needs fixing?

This line does not have a circled number "1" beside:

`            resourceID: /resourceGroups/<infrastructureID>-rg/providers/Microsoft.Compute/images/<infrastructure

[2021-07-02 16:48] thurcombe opened #34296 "[OKD] Documentation incorrect for OCP3.x to 4.x Migration"
### Which section(s) is the issue in?
https://docs.okd.io/latest/migrating_from_ocp_3_to_4/installing-3-4.html

### What needs fixing?
The Text

`Use the Filter by keyword field to find the Migration Toolkit for Containers Operator.`

Isn't relevant in OKD as this operator does not exist, I would assume it should read

`Use the Filter by keyword field to find the Crane Operator.`

[2021-07-02 20:41] bobfuru commented on #28200
/remove-lifecycle stale

[2021-07-02 21:31] jeana-redhat commented on #29652
Thanks, Lin! I have let @ctauchen and @stevsmit know about this one.

[2021-07-02 21:49] brian-avery commented on #28205
/remove-lifecycle stale

[2021-07-03 02:29] lbscorpio commented on #34284
Hi @MattiaSarti, nice catch! I have included the fix to my PR[#34310](https://github.com/openshift/openshift-docs/pull/34310), waiting to review, thanks.

[2021-07-03 13:10] MattiaSarti commented on #34284
anytime!

[2021-07-03 18:28] dlbewley opened #34311 "[enterprise-4.7] Issue in file web_console/customizing-the-web-console.adoc"
### Which section(s) is the issue in?

Adding a custom logo and product name

### What needs fixing?

In example CM yaml, the apiVersion should be `v1`, not `operator.openshift.io/v1`.

[code]

[2021-07-05 10:15] binnes opened #34314 "[OKD] Nav item content uses OpenShift instead of OKD"
### Which section(s) is the issue in?

In the side navigation panel the item Architecture -> Understanding OpenShift development needs to be changed to OKD.  The page it links to is correctly titled **Understanding OKD development**.

### What needs fixing?

The nav item text needs to be changed to match the content title, replacing OpenShift with OKD

/assign @mburke5678
/assign @dmueller2001

[2021-07-06 07:07] Preeticp commented on #34088
Hi @itewk apologies, I mistook this to be an issue with the [OpenShift Pipelines docs](https://docs.openshift.com/container-platform/4.7/cicd/pipelines/understanding-openshift-pipelines.html). However, I do not see this covered in our main getting started workflow here: https://docs.openshift.com/container-platform/4.7/cicd/pipelines/creating-applications-with-cicd-pipelines.html

In short this is

[2021-07-06 09:19] madhusudanupadhyay opened #34325 "[dedicated] Issue in file cloud_infrastructure_access/dedicated-understanding-aws.adoc"
### Which section(s) is the issue in?
Missing section for creation of `GCP OSD` clusters on docs.openshift.com
The bit is present in:
https://access.redhat.com/documentation/en-us/openshift_dedicated/4.5/html/creating_and_provisioning_your_cluster/proc-create-gcp-ccs-cluster_creating-your-cluster

### What needs fixing?
Need to have the GCP OSD public facing docs on docs.openshift.com as well.

[2021-07-06 09:53] pneedle-rh commented on #33682
Pull request for 4.8: https://github.com/openshift/openshift-docs/pull/34317

Pull requests for earlier releases to follow.

[2021-07-06 12:05] itewk commented on #34088
opened https://github.com/tektoncd/website/issues/282 closing this.

[2021-07-06 12:05] #34088 closed

[2021-07-06 18:02] JStickler commented on #28077
Currently both "apiVersion: networking.istio.io/v1alpha3" and "apiVersion: networking.istio.io/v1beta1" are documented in the Istio upstream docs.

https://istio.io/latest/docs/reference/config/networking/virtual-service/

[2021-07-07 02:53] xiuwang commented on #29652
May need a release note for https://bugzilla.redhat.com/show_bug.cgi?id=1924568#c21
On AWS C2S, when occur above bug x509 error, then need a workaround on image reigstry.
`oc patch configs.imageregistry.operator.openshift.io cluster --type merge --patch '{"spec":{"disableRedirect":true}}'`

[2021-07-07 05:21] lwan-wanglin commented on #29652
According to @dmage's comment in https://bugzilla.redhat.com/show_bug.cgi?id=1939842#c18 , we need a FRE rather than a bug for a disconnected sts cluster install, so I will close the bug with wontfix , @jeana-redhat @ctauchen , maybe we can remove the bug from the 4.8 RN.  cc PM @billmvt and @mbracho

[2021-07-07 10:23] dulek commented on #33497
OpenShift on OpenStack: In order to support LoadBalancer Services using OpenStack Octavia with OVN provider, the security group rules allowing NodePort traffic to master and worker nodes are now changed to open `0.0.0.0/0` and not just the cluster CIDR. This is because OVN loadbalancers are preserving the original source IP of the traffic, so for LoadBalancer services it can be anything. This wasn

[2021-07-07 12:33] evgenLevin opened #34363 "[enterprise-4.7] Issue in file networking/hardware_networks/using-dpdk-and-rdma.adoc"
### Which section(s) is the issue in?
Using a virtual function in DPDK mode with an Intel NIC

### What needs fixing?
There is:
Step #4 Create the SriovNetworkNodePolicy object by running the following command:
$ oc create -f intel-dpdk-network.yaml

Should be:
Create the  SriovNetwork object by running the following command:

[2021-07-07 13:20] nijaba opened #34367 "[enterprise-4.6] Issue in file nodes/edge/nodes-edge-remote-workers.adoc"
### Which section(s) is the issue in?
Remote worker nodes are supported on only bare metal clusters with user-provisioned infrastructure.

OpenShift Container Platform does not support remote worker nodes that use a different cloud provider than the on-premise cluster uses.

### What needs fixing?
This should be reformulated as we do not support IPI deployments of RWN.  it is not a matter of bare

[2021-07-08 14:48] madhusudanupadhyay commented on #34325
Closing this as a JIRA card already exists tracking this: https://issues.redhat.com/browse/OSDOCS-1970

[2021-07-08 14:48] #34325 closed

[2021-07-08 15:17] isldj opened #34420 "[enterprise-4.7] Issue in file operators/admin/olm-managing-custom-catalogs.adoc"
### Which section(s) is the issue in?
in this section https://docs.openshift.com/container-platform/4.7/operators/admin/olm-managing-custom-catalogs.html#olm-mirroring-package-manifest-catalog_olm-managing-custom-catalogs
Mirroring a Package Manifest Format catalog image
Procedure 2.a
echo "select * from related_image where operatorbundle_name like 'clusterlogging.4.3%';" | sqlite3 -line /tmp/1902

[2021-07-08 17:02] bgaydosrh commented on #29538
/close https://github.com/openshift/openshift-docs/issues/29538

[2021-07-08 17:21] jboxman commented on #34420
cc @adellape

[2021-07-08 17:42] pneedle-rh commented on #33682
Pull request for enterprise-4.7: https://github.com/openshift/openshift-docs/pull/34425

[2021-07-08 18:51] pneedle-rh commented on #33682
Pull request for 4.6: https://github.com/openshift/openshift-docs/pull/34427

[2021-07-09 00:20] ChetHosey opened #34435 "Installation docs should highlight install-time setting needed Windows node support"
### Which section(s) is the issue in?

All installation-related sections.

### What needs fixing?

Per the docs on [Windows container support](https://docs.openshift.com/container-platform/4.7/windows_containers/windows-containers-release-notes-2-x.html#supported-networking), Windows nodes are only supported on a cluster that uses the hybrid networking mode. However this isn't the default mode, an

[2021-07-09 01:49] #26188 closed

[2021-07-09 07:17] mandre commented on #33497
OpenShift on OpenStack: The openstack cloud provider LoadBalancer configuration now defaults to 'use-octavia=True', unless deploying with Kuryr, in which case 'use-octavia' is set to false.

Context: https://github.com/openshift/installer/pull/5047/

[2021-07-10 13:32] Narajava opened #34448 "How to fetch or get GarbageCollector logs from a Openshift POD to local machine?"
Hi All,

I'm a beginner to Openshift. Currently we are running a SpringBoot application in Openshift environment and we want to get GC logs for POD to local machine to analyze & identify if there are any memory leaks.

Could you please help me with this?

Thank you.

Best Regards,
Nara.

[2021-07-10 19:51] #29346 closed

[2021-07-12 07:16] methadata opened #34456 "[enterprise-4.7] Issue in file virt/about-virt.adoc"
### Which section(s) is the issue in?

What you can do with OpenShift Virtualization

### What needs fixing?

As OCS product name has been replaced by ODF, the following paragraph:

should say instead:

[2021-07-12 20:49] linuxstudio commented on #32345
@mburke5678 thanks for the updated example and for fixing the consistency in callouts. I understand that this example has lots of features of a pod that would be useful for an explanation that appears in an official manual, but I would need another couple of eyes to confirm that there is no better (simpler, easier to understand) pod example out there that could be used. Maybe @sabre1041  or some o

[2021-07-13 08:53] soukron commented on #30567
Thanks. Please excuse the delay. GitHub notification mails are filtered and I missed it.

[2021-07-13 10:10] binnes commented on #34296
/assign @mburke5678
/assign @dmueller2001

[2021-07-13 10:14] binnes opened #34497 "[OKD] RHCOS image download link instead of FCOS image link"
### Which section(s) is the issue in?

In section [https://docs.okd.io/latest/installing/installing_rhv/installing-rhv-user-infra.html#installation-rhv-specifying-rhcos-image-settings_installing-rhv-user-infra](https://docs.okd.io/latest/installing/installing_rhv/installing-rhv-user-infra.html#installation-rhv-specifying-rhcos-image-settings_installing-rhv-user-infra) in Procedure step 1 the link

[2021-07-13 13:28] rolfedh commented on #30567
/close

[2021-07-13 13:28] #30567 closed

[2021-07-13 18:39] troppens opened #34518 "[enterprise-4.7] Issue in file openshift_images/managing_images/using-image-pull-secrets.adoc"
### Which section(s) is the issue in?
In this sentence:

You use this pull secret to authenticate with the services that are provided by the included authorities, including Quay.io and registry.redhat.io, which serve the container images for OpenShift Container Platform components.

### What needs fixing?

The links to "Quay.io" and "registry.redhat.io", are broken and need to be fixed.

[2021-07-13 18:54] mburke5678 commented on #34497
@binnes @vrutkovs What appears in the `{op-system} section` of the inventory.yaml? I assume you need to edit the `image_url` parameter. Are the `local_cmp_image_path` and ` local_image_path` auto-generated?

    # ---
    # {op-system} section
    # ---
    rhcos:
      image_url: "https://mirror.openshift.com/pub/openshift-v4/dependencies/rhcos/latest/latest/rhcos-openstack.x86_64.qcow2.gz"

[2021-07-13 19:20] mburke5678 commented on #34497
@binnes PTAL https://github.com/openshift/openshift-docs/pull/34516

[2021-07-14 09:12] vrutkovs commented on #34497
`{op-system}` is `RHCOS` or `FCOS` (see https://github.com/openshift/openshift-docs/blob/master/modules/common-attributes.adoc)

[2021-07-14 13:51] mburke5678 commented on #28627
/remove-lifecycle stale

[2021-07-14 14:49] mburke5678 commented on #28627
This section was added in response to [an _angry_ customer](https://bugzilla.redhat.com/show_bug.cgi?id=1886712) whose nodes rebooted when the kubelet CA cert rotated. In that case, I wonder if we will meet resistance to remove it.
As you likely know, the 4.5 docs will be EOL soon and in 4.7+ the  kubelet CA cert [no longer requires a reboot](https://docs.openshift.com/container-platform/4.7/archi

[2021-07-14 15:15] bergerhoffer commented on #34003
@jboxman The autogen CLI docs are only for 4.8+. Thanks for the heads up, I'll take this issue.

[2021-07-14 15:25] soltysh commented on #34003
No replacement, it's a separate binary which we don't ship by default anymore.

[2021-07-14 15:26] soltysh commented on #34003
`oc convert` was deprecated long before 4.7

[2021-07-14 19:36] jboxman commented on #28781
@lautou, this is fixed now, thanks!

[2021-07-14 19:36] #28781 closed

[2021-07-14 20:37] jboxman commented on #31618
fyi @bmcelvee

[2021-07-14 20:46] jeana-redhat commented on #31088
Forgot to close this issue after the fix was merged, closing now.

[2021-07-14 20:46] #31088 closed

[2021-07-14 21:55] gpulido-redhat opened #34588 "[enterprise-4.7] Issue in file backup_and_restore/graceful-cluster-shutdown.adoc"
### Which section(s) is the issue in?

Shutting down the cluster

### What needs fixing?

In the document, the command to shutdown all the nodes is given as follows:

[code]

However this does not work on any infrastructure because the nodes' hostnames are not always registered on the DNS. I think it would be better to use the IP addresses of the nodes to connect to them.

[2021-07-14 22:36] jboxman commented on #34588
cc @bergerhoffer

[2021-07-15 01:08] bgilbert commented on #33497
Nodes installed with coreos-installer previously retained the installation Ignition config in `/boot/ignition/config.ign`.  Starting with the OpenShift 4.9 install image, that file is removed when the node is provisioned.  This change currently does not affect clusters that were originally installed on previous OpenShift versions, and are thus using an older bootimage.

[2021-07-15 10:43] apinnick commented on #34003
@bergerhoffer Thanks. I will look into this.

[2021-07-15 14:53] pbmoses commented on #33734
PR opened for 4.6 release notes as this is when the issue first became present. https://github.com/openshift/openshift-docs/pull/34606

[2021-07-15 15:01] jboxman commented on #33734
cc @bmcelvee

[2021-07-15 15:57] c00056 opened #34609 "[enterprise-4.6] Issue in file storage/persistent_storage/persistent-storage-nfs.adoc"
When I create a PV with NFS  in Openshift from a Windows FS the default version choosen is NFS v3 , how can I force it in the deffinition to be v4.1?

Reggards

### Which section(s) is the issue in?

### What needs fixing?

[2021-07-15 21:57] bergerhoffer commented on #34003
Thanks @apinnick! Should I keep this issue open in the meantime, or will your Jira be good enough to track that update?

[2021-07-16 07:49] kanekoh opened #34629 "[online] Issue in file rosa_getting_started/rosa-sts-creating-cluster.adoc"
### Which section(s) is the issue in?

The step that `Create the IAM roles:` script seems to have an issue. I got an error as follows:

[code]
Then, I checked the file `06-1-ManagedOpenShift-openshift-cloud-credential-operator-cloud-credential-operator-iam-ro-creds-policy.json` which is generated by the script and found out the file was empty.

I believe that the file was deleted by the command `s

[2021-07-16 10:50] afflom opened #34631 "Unsupported Versions Warning on Mobile"
### Which section(s) is the issue in?

Unsupported Versions

### What needs fixing?
An unsupported versions warning message displays poorly on mobile devices.
![image](https://user-images.githubusercontent.com/30676559/125936235-155d68cc-6f57-4eb2-b7e1-83eb178305a7.png)

[2021-07-16 13:19] dirkhamilton-flywheeldata opened #34638 "[online] Edit suggested in file welcome/plans_and_pricing.adoc"
### Which section(s) is the issue in?

### What needs fixing?

[2021-07-16 14:26] mburke5678 opened #34642 "The "allow 'allow-lists' per container repo" feature might not have been thoroughly tested"
In researching https://github.com/openshift/openshift-docs/pull/34585, @mtrmac suggested _[The API in https://github.com/openshift/api/blob/02b64ca27d54dafe24b8740e45662f45bd3a332e/config/v1/types_image.go#L110-L114 is not documented that way, there are AFAIK no regression tests, the relevant MCO code talks about registries and not repos. Unless all of that changes, the behavior may change any tim

[2021-07-16 14:28] mtrmac commented on #34642
From my side I have added https://issues.redhat.com/browse/OCPNODE-461?focusedCommentId=16434016&page=com.atlassian.jira.plugin.system.issuetabpanels:comment-tabpanel#comment-16434016 to hopefully do the necessary work for code to catch up.

[2021-07-16 14:53] jboxman commented on #34037
cc @mburke5678

[2021-07-16 15:12] jboxman commented on #34631
@aireilly any ideas? Thanks!

[2021-07-16 15:31] mburke5678 opened #34651 "In allow-lists should we document specific quay.io registries?"
Among the requests in https://bugzilla.redhat.com/show_bug.cgi?id=1928021 was to point out that users can list specific quay.io registries to pull from using allowedRegistries. It is a customer concern that allowing all of quay.io allows nodes to pull from undesirable registries.

However, I was [asked in a BZ to add a note](https://bugzilla.redhat.com/show_bug.cgi?id=1960553#c3) to the Blocked Re

[2021-07-16 16:09] mburke5678 commented on #34037
@bmcelvee You moved the Config Maps docs from Build to Authentication and authorization here: https://github.com/openshift/openshift-docs/pull/27860/files#r536357048 based on a suggestion from @siamaksade . Do you recall the reason for this change?

[2021-07-16 16:54] bmcelvee commented on #34037
@mburke5678 Hey, yes. It a PM request from Siamak. I apologize, but I don't remember more specifics off the top of my head.

[2021-07-17 13:58] #29437 closed

[2021-07-17 22:09] maxwelldb commented on #24847
/remove-lifecycle stale

[2021-07-17 22:09] maxwelldb commented on #24847
/remove-lifecycle rotten

[2021-07-18 06:40] apinnick commented on #34003
@bergerhoffer You can close this issue. MTC created an epic to find an alternative. My PR for removing the section containing 'oc convert' has been merged. Thanks.

[2021-07-18 16:16] maxwelldb commented on #26505
/remove-lifecycle stale

[2021-07-19 15:58] jboxman commented on #31630
Any news on this?

[2021-07-19 19:28] mburke5678 opened #34711 "If OCPNODE-461 was not fully tested, need to remove doc changes"
In https://github.com/openshift/openshift-docs/pull/34585, @mtrmac [questioned whether the new feature to list a specific repo in the allowed and blocked registries lists was fully tested and works as expected](https://github.com/openshift/openshift-docs/pull/34585). The feature was added to 4.8 in https://issues.redhat.com/browse/OCPNODE-461

This issue is whether to remove changes introduced by

[2021-07-20 10:03] pamoedom commented on #27901
/remove-lifecycle rotten

[2021-07-20 10:06] pamoedom commented on #28202
/remove-lifecycle rotten

[2021-07-20 10:36] rhuss opened #34727 "[enterprise-4.7] Issue in file monitoring/enabling-monitoring-for-user-defined-projects.adoc"
### Which section(s) is the issue in?

Enabling monitoring for user-defined projects

### What needs fixing?

Replace "user-define" with "user-defined"

[2021-07-20 19:38] therevoman opened #34740 "[enterprise-4.6] Issue in file installing/install_config/configuring-firewall.adoc"
### Which section(s) is the issue in?
Registry domains

### What needs fixing?
While working with a customer we ran across the issue in this kcs
https://access.redhat.com/solutions/6184221

Customers with strict firewall/proxy rules need to be told to whitelist registry.connect.redhat.com for some of the community operators (seldon-core is the one we had issue with).

[2021-07-20 22:32] silliman opened #34745 "[enterprise-4.7] Issue in file support/troubleshooting/troubleshooting-crio-issues.adoc"
### Which section(s) is the issue in?

[Verifying CRI-O runtime engine status](https://docs.openshift.com/container-platform/4.7/support/troubleshooting/troubleshooting-crio-issues.html#verifying-crio-status_troubleshooting-crio-issues)

### What needs fixing?

Step _d_ is described as _Output a more detailed kubelet.service status summary:_ but then the command given is `systemctl status crio`

S

[2021-07-21 04:53] pbmoses commented on #33734
https://bugzilla.redhat.com/show_bug.cgi?id=1965402 and https://access.redhat.com/errata/RHBA-2021:2502 closing.

[2021-07-21 04:53] #33734 closed

[2021-07-21 20:28] bobfuru commented on #29564
Thank you again for reporting this issue, @jdbenson59.

I have found the "Download RHCOS ISO" button in OpenShift Cluster Manager that you are referring to, as shown in the following screenshot:
![Screen Shot 2021-07-21 at 4 26 59 PM](https://user-images.githubusercontent.com/47002677/126555523-374e0acc-dcec-431c-9258-21495fd9bed6.png)

The reported link [1] no longer exists because the ISO file h

[2021-07-21 20:28] #29564 closed

[2021-07-22 02:32] jboxman commented on #30718
I notice this is still an issue and any customer trying to run this will blow up.

[2021-07-22 07:26] hemartin-at-redhat opened #34796 "[enterprise-4.7] Issue in file applications/application_life_cycle_management/creating-applications-using-cli.adoc"
### Which section(s) is the issue in?

[Build strategy detection v4.7](https://docs.openshift.com/container-platform/4.7/applications/application_life_cycle_management/creating-applications-using-cli.html#build-strategy-detection)

### What needs fixing?

It says:

[code]

But there is another option called `docker`. I guess it should say:

[code]

I'm not sure about the precedence between a pipel

[2021-07-22 12:49] #30300 closed

[2021-07-22 14:15] maxwelldb commented on #30718
/remove-lifecycle rotten

[2021-07-22 14:19] sagidlow commented on #29111
/close

[2021-07-22 14:19] #29111 closed

[2021-07-23 15:19] #27554 closed

[2021-07-24 08:04] #29636 closed

[2021-07-24 19:43] #30980 closed

[2021-07-24 19:45] ikke-t commented on #30986
/remove-lifecycle rotten

[2021-07-25 15:13] maxwelldb commented on #23632
/remove-lifecycle stale

[2021-07-25 15:14] maxwelldb commented on #23632
/lifecycle frozen

[2021-07-26 07:34] rvansa commented on #27641
/remove-lifecycle rotten

[2021-07-26 16:09] aireilly commented on #34631
@jboxman If it were up to me, I think I would just remove the `<div id="annoying-box"/>` altogether, for mobile and desktop. I don't think it serves a purpose. We also have an admonition that is front and center at the start of the page. I think this is enough.
![image](https://user-images.githubusercontent.com/74046732/127022070-102e8fc6-1c80-483c-9043-cf7bac40526a.png)

[2021-07-26 18:31] jboxman commented on #34631
It's probably up to @vikram-redhat how aggressive this notice needs to be.

[2021-07-27 07:49] molnars opened #34864 "[enterprise-4.3] Issue in file welcome/index.adoc"
### Which section(s) is the issue in?
version selection on the documents site is up to version 4.4 from drop-down control.
https://docs.openshift.com/container-platform/4.4/welcome/index.html

### What needs fixing?
we should be seeing versions till. 4.8

[2021-07-27 08:05] #29900 closed

[2021-07-27 08:05] #29901 closed

[2021-07-27 13:28] bgaydosrh opened #34890 "Need to fix a link in MAIN and pick to 4.9"
### Which section(s) is the issue in?
Discovered a Google redirect in a link on the Learn more about OCP Virt page. Here is the PR that fixed it in 4.8:

https://github.com/openshift/openshift-docs/pull/34889

### What needs fixing?

This same fix needs to be applied to main and picked to 4.9

cc: @ctomasko @bergerhoffer

Please assign this to @bgaydosrh and I will fix as soon as possible. Have no

[2021-07-27 17:39] jonquilwilliams commented on #31699
This was fixed at some point under another PR. Closing this one.

[2021-07-27 17:39] #31699 closed

[2021-07-27 19:15] tnk4on commented on #31786
"lifecycle policies" is still linked to OSD.

[2021-07-28 01:50] vagnerfarias opened #34917 "[enterprise-4.8] Issue in file virt/virtual_machines/virtual_disks/virt-cloning-a-datavolume-using-smart-cloning.adoc"
### Which section(s) is the issue in?
Cloning a data volume

### What needs fixing?
When the source PVC isn't in the default StorageClass, it's required to include "storageClassName: <name_of_storageclass>" in the yaml, as in the example below. If this isn't done, CDI will try to use the default StorageClass but it won't find the source PVC. It will also not generate any visible user error (user w

[2021-07-28 02:00] kanekoh opened #34918 "[online] Issue in file rosa_getting_started/rosa-aws-prereqs.adoc"
### Which section(s) is the issue in?

OpenShift Cluster Manager doesn't show my cluster metrics on the web site.

My rosa cluster is working under AWS Network Firewall environment and I added the list of domains which is mentioned in [the document](https://docs.openshift.com/rosa/rosa_getting_started/rosa-aws-prereqs.html#osd-aws-privatelink-firewall-prerequisites).

### What needs fixing?

Accor

[2021-07-28 05:47] 2s1ddhant opened #34919 "[enterprise-4.7] Issue in file updating/updating-restricted-network-cluster.adoc"
### Which section(s) is the issue in?
Creating the config map for image signature verification by using the oc CLI

### What needs fixing?
Procedure
Obtain the image signature for the version that you are upgrading to from either mirror.openshift.com or **[Google Cloud Storage (GCS).](https://storage.googleapis.com/openshift-release/official/signatures)**

The link in Google Cloud Storage (GCS) do

[2021-07-28 07:29] kartikaysharma27 commented on #31630
Hey @jboxman is it possible for you to take this one? Thanks in advance.

[2021-07-28 11:12] pamoedom commented on #33682
LGTM, thanks.

[2021-07-28 12:34] jomeier opened #34922 "[enterprise-4.8] "Windows Container Support for OpenShift" is missing in 4.8 docs"
Hi,

the docs for "Windows Container Support for OpenShift" are missing in the 4.8 docs.

Greetings,

Josef

[2021-07-28 14:07] #28924 closed

[2021-07-28 14:12] #33682 closed

[2021-07-28 14:17] Keyvan-rh opened #34927 "[enterprise-4.7] Issue in file cli_reference/helm_cli/getting-started-with-helm-on-openshift-container-platform.adoc"
### Which section(s) is the issue in?
Installing a Helm chart on an OpenShift Container Platform cluster
  2. Add a repository of Helm charts to your local Helm client:

### What needs fixing?
this repo does not exist anymore
      https://kubernetes-charts.storage.googleapis.com/
Needs to be changed to:
     https://charts.helm.sh/stable

[2021-07-28 15:14] pamoedom commented on #22271
/remove-lifecycle stale

[2021-07-28 15:24] amelie1979 opened #34933 "[enterprise-4.8] Issue in file release_notes/ocp-4-8-release-notes.adoc"
### Which section(s) is the issue in?

https://docs.openshift.com/container-platform/4.8/release_notes/ocp-4-8-release-notes.html#ocp-4-8-networking-external-load-balancer

### What needs fixing?
In OpenShift Container Platform 4.8, you can configure an external load balancer to handle apiVIP and ingressVIP traffic to the control plane of installer-provisioned clusters

Its not all installer-provi

[2021-07-28 18:16] jboxman commented on #31786
@jonquilwilliams FYI

[2021-07-28 19:22] jboxman commented on #34933
Refs https://github.com/openshift/openshift-docs/pull/33781.

[2021-07-28 19:22] jboxman commented on #34933
@johnwilkins, any thoughts on this? Thanks!

[2021-07-29 06:57] tradej commented on #34933
This is likely related to https://issues.redhat.com/browse/TELCODOCS-216, @johnwilkins is the correct contact.

[2021-07-29 10:31] #29004 closed

[2021-07-29 10:40] vikram-redhat commented on #34864
Fixed now.

[2021-07-29 10:40] #34864 closed

[2021-07-29 12:23] vikram-redhat commented on #29652
OCP 4.9 RN Tracker: https://github.com/openshift/openshift-docs/issues/33497

[2021-07-29 12:23] #29652 closed

[2021-07-29 14:26] johnwilkins commented on #34933
I can add a comment regarding VMWare, but I haven't worked on anything but
installer-provisioned infrastructure and single node OpenShift. So it's not
clear to me where else it would apply.  Please advise on the other
scenario(s), and I can add additional scenarios as needed.

On Wed, Jul 28, 2021 at 11:58 PM Tomas Radej ***@***.***>
wrote:

--
John Wilkins
Red Hat
***@***.***
(415) 425-9599
http:

[2021-07-29 14:50] shortsteps opened #34994 "[enterprise-4.7] Issue in file installing/install_config/configuring-firewall.adoc"
### Which section(s) is the issue in?
Configuring your firewall for OpenShift Container Platform

### What needs fixing?
When installing IPI on vmware also this url is contacted to download RHCOS ova: https://releases-art-rhcos.svc.ci.openshift.org

[2021-07-29 15:37] bergerhoffer commented on #34003
PR to remove from CLI docs has been merged. Closing!

[2021-07-29 15:37] #34003 closed

[2021-07-29 16:39] bergerhoffer commented on #34588
@sttts Can you weigh in on this? In some of the DR docs, we do "oc debug node/<node_name>" instead of SSHing. Example here [1]. wdyt?

@gpulido-redhat would oc debug work better for your cases?

[1] https://docs.openshift.com/container-platform/4.8/backup_and_restore/replacing-unhealthy-etcd-member.html#restore-replace-crashlooping-etcd-member_replacing-unhealthy-etcd-member

[2021-07-29 16:49] bergerhoffer commented on #34638
Closing as I don't see any details provided.

[2021-07-29 16:49] #34638 closed

[2021-07-29 16:50] bergerhoffer commented on #32085
@hmaclean73 something to consider

[2021-07-29 16:51] bergerhoffer commented on #31928
/remove-lifecycle stale

[2021-07-29 16:52] bergerhoffer commented on #31928
@hmaclean73 Another one to consider. Apparently the status can be something other than `running` exactly.

[2021-07-29 17:11] #34727 closed

[2021-07-29 17:17] bergerhoffer commented on #34727
Thanks for opening this issue! PR has been merged and change should be live later today

[2021-07-29 18:01] jboxman commented on #31151
fyi @johnwilkins

[2021-07-29 18:02] hmaclean73 commented on #32085
Thanks @bergerhoffer. Will take a look at this.

[2021-07-29 18:45] meahoibm opened #35026 "[enterprise-4.7] Issue in file security/certificates/replacing-default-ingress-certificate.adoc"
### Which section(s) is the issue in?
The certificate must include the subjectAltName extension showing *.apps.<clustername>.<domain>.

### What needs fixing?
Show an example line of
subjectAltName=DNS:*.apps.<clustername>.<domain>
as specifying
subjectAltName=*.apps.<clustername>.<domain>
is an error the inexperienced will encounter.
Also would be nice on how to find <clustrername>.<domain> for n

[2021-07-29 18:54] bgaydosrh commented on #34890
Resolved with https://github.com/openshift/openshift-docs/pull/35027

[2021-07-29 19:05] jboxman commented on #35026
@meahoibm, what does this mean?

Thanks!

[2021-07-29 19:12] bgaydosrh commented on #34890
Merged to MAIN and picked to 4.9 by @bergerhoffer. Closing....

[2021-07-29 19:12] #34890 closed

[2021-07-29 23:12] vikram-redhat commented on #34933
This is not applicable on OSP as support for it is only arriving in 4.9. https://issues.redhat.com/browse/OSASINFRA-2412. We should make sure QE acks the release notes adding these statements in.

[2021-07-30 04:56] madhusudanupadhyay opened #35039 "[online] Issue in file rosa_getting_started/rosa-creating-cluster.adoc"
### Which section(s) is the issue in?
Prerequisites

### What needs fixing?

Typo:
You have installed {product-title].

Not sure if this was intended. Seems like a typo though.

[2021-07-30 21:17] ahardin-rh commented on #35039
@madhusudanupadhyay Thank you for reporting this typo! I folded the fix into https://github.com/openshift/openshift-docs/pull/34960/files#diff-61014101e502210acb2d7bac9bcb5a577b03a51e05e3320d329cb0a5168f00d6R14

[2021-08-01 21:03] jboxman commented on #32143
cc @bmcelvee

[2021-08-02 13:58] steveteahan opened #35079 "[enterprise-4.8] Issue in file cli_reference/openshift_cli/getting-started-cli.adoc"
### Which section(s) is the issue in?

https://docs.openshift.com/container-platform/4.8/cli_reference/openshift_cli/getting-started-cli.html#cli-installing-cli_cli-developer-commands

### What needs fixing?

**Navigate to the [Infrastructure Provider](https://cloud.redhat.com/openshift/install) page on the Red Hat OpenShift Cluster Manager site.**

The Infrastructure Provider link appears to brin

[2021-08-02 16:34] bergerhoffer opened #35085 "[enterprise-4.6] Issue in file logging/cluster-logging-exported-fields.adoc"
### Which section(s) is the issue in?

https://docs.openshift.com/container-platform/4.6/logging/cluster-logging-exported-fields.html

### What needs fixing?

There are a bunch of `TODO` words in the descriptions in the tables. Even if these were pulled from a description somewhere, I don't think we should be showing TODOs.

The 4.7+ versions of this page at least looks to have been redone and doe

[2021-08-02 16:50] gpulido-redhat commented on #34588
Hi @bergerhoffer , for me the important part is that the instructions given to shutdown the cluster nodes work reliably on any infrastructure that is correctly deployed. If you consider oc debug is the best option for that, I'm cool with it.

[2021-08-03 09:38] alexisph opened #35108 "[enterprise-4.7] Issue in file logging/cluster-logging-deploying.adoc"
### Which section(s) is the issue in?

Allowing traffic between projects when network isolation is enabled

### What needs fixing?

The NetworkPolicy listed in the documentation does not allow pods within the same namespace to communicate. As a result, the ES cluster is unable to initialize when first created. It needs to be modified as such:

[code]

[2021-08-03 14:19] meahoibm commented on #35026
Looks like the wildcard asterisk did not take for my original post
subjectAltName=DNS:<asterisk>.apps.<clustername>.<domainname>
and would be helpful if a knowledge expert could input on what the line should look like whether in a configuration file or on a command line interface.

I don't recall what I meant with my last comment in the original post.  But I would say the CA and the final certific

[2021-08-03 18:20] jboxman commented on #35108
cc @rolfedh

[2021-08-03 18:26] jboxman commented on #35026
fyi @bmcelvee

[2021-08-03 18:31] #30718 closed

[2021-08-03 19:46] bergerhoffer commented on #34927
CC @Preeticp

[2021-08-03 20:01] bergerhoffer commented on #34185
This warning was removed via #29499. Specifically, see this discussion on it: https://github.com/openshift/openshift-docs/pull/29499/files#r578410587

Per the linked conversation above, I'm closing this issue. But please feel free to reopen this issue if you still feel that this warning needs to be present.

[2021-08-03 20:01] #34185 closed

[2021-08-03 20:10] bergerhoffer commented on #34018
@mburke5678 it looks like you updated this section per #23948, but updated some to say `/var/log/origin` and other are `/var/lib/origin`. Do you know which one is actually correct?

I see both file paths in more than one place in this document.

[2021-08-03 21:29] mburke5678 commented on #34018
I believe the note should say `var/log/origin`. based on @anpingli comments in the other PR: https://github.com/openshift/openshift-docs/pull/23948#discussion_r468266261

[2021-08-04 00:15] bergerhoffer commented on #32786
Thanks for submitting this! The incorrect numbering and field mismatch was recently fixed via #33551 and the updates are live. Closing this issue.

[2021-08-04 00:15] #32786 closed

[2021-08-04 02:21] rolfedh commented on #35108
Thanks, @jboxman. Would you assign this issue to me?
@alexisph Thank you for reporting this issue. Which version of the software and documentation are you working with?

[2021-08-04 02:24] rolfedh commented on #35108
Tracking this issue in Jira with https://issues.redhat.com/browse/RHDEVDOCS-3202

[2021-08-04 06:08] alexisph commented on #35108
Hi @rolfedh . I'm working with OCP 4.6 and 4.7, and v5.0 of the Cluster Logging stack.

[2021-08-04 12:38] sferich888 commented on #28569
@jboxman we can probably close this.

[2021-08-04 12:39] sferich888 commented on #27862
@mburke5678 yes we want to document this; however its 'kinda' already documented (to some degree).
We probably want to do a better job of describing/explaining the 'optional' scripts that users can run in each image; but that is likely to be an undertaking...

[2021-08-04 13:04] jboxman commented on #28569
@ronnessim, we've added ipfailover in 4.8 that might help with this: https://docs.openshift.com/container-platform/4.8/networking/configuring-ipfailover.html

[2021-08-04 13:04] #28569 closed

[2021-08-04 16:02] skrthomas commented on #27491
This issue says rotten, but it has been merged: https://github.com/openshift/openshift-docs/pull/30926

[2021-08-04 17:58] brian-avery commented on #28205
/remove-lifecycle stale

[2021-08-04 17:59] brian-avery commented on #28205
/remove-lifecycle rotten

[2021-08-05 12:26] daloulou opened #35223 "[enterprise-4.8] Issue in file cli_reference/openshift_cli/getting-started-cli.adoc"
### Which section(s) is the issue in?
Installing the OpenShift CLI on Linux

### What needs fixing?
Wrong extracting command. As you provide tar and not tar.gz for oc. Must be `tar xvf oc.tar` and not `tar xvzf oc.tar` :wink:

[2021-08-05 12:44] hmaclean73 commented on #32085
Resolved with https://github.com/openshift/openshift-docs/pull/35025

[2021-08-05 12:48] #32085 closed

[2021-08-05 12:51] mykaul opened #35224 "[enterprise-4.8] Issue in file scalability_and_performance/optimizing-storage.adoc"
### Which section(s) is the issue in?
https://docs.openshift.com/container-platform/4.8/scalability_and_performance/optimizing-storage.html#specific-application-storage-recommendations

### What needs fixing?
What NFS RHEL issues are we talking about here? Would be nice to point to a Bugzilla.

[2021-08-05 14:14] #24733 closed

[2021-08-05 15:24] bergerhoffer commented on #27767
/remove-lifecycle rotten

[2021-08-05 15:25] bergerhoffer commented on #27767
A PR is in progress to add a basic landing page: https://github.com/openshift/openshift-docs/pull/35208

[2021-08-05 17:59] codyhoag commented on #34922
@jomeier The docs are now available for OCP 4.8: https://docs.openshift.com/container-platform/4.8/windows_containers/windows-containers-release-notes-3-x.html. Closing this as it is now resolved.

[2021-08-05 17:59] #34922 closed

[2021-08-05 22:20] alanconway opened #35285 "[enterprise-4.8] Issue in file rest_api/index.adoc"
### Which section(s) is the issue in?

Rest API reference section.

### What needs fixing?

Include API doc from the group "logging.openshift.io/v1"

The user documentation for the logging component is part of the openshift documentation at:
   https://docs.openshift.com/container-platform/4.8/logging/cluster-logging.html

However the API reference section is missing, which is a major omission.

T

[2021-08-06 08:16] #24149 closed

[2021-08-06 16:16] piyushsn opened #35291 "[enterprise-4.7] Issue in file installing/installing_aws/installing-restricted-networks-aws-installer-provisioned.adoc"
Hey Team,

As we know , on AWS platform various services like IAM, Route53, S3, etc needs internet connectivity to make API calls to the cloud providers in order to create infrastructure by installer (IPI). I think it should be mentioned as an explicit requirements to have internet connectivity in order to install the cluster in disconnected environment so that the installer can make necessary cal

[2021-08-06 18:06] martinkennelly opened #35299 "[enterprise-4.8] Issue in file modules/cnf-assigning-a-sriov-network-to-a-vrf.adoc"
### Which section(s) is the issue in?
https://github.com/openshift/openshift-docs/blob/940059c583703d1f6e84f70ba507d4564c8499de/modules/cnf-assigning-a-sriov-network-to-a-vrf.adoc#L36

This command does not work.

[code]

[code]

### What needs fixing?
Removal of this command

[2021-08-09 03:23] kanekoh opened #35319 "[enterprise-4.8] Issue in file virt/install/preparing-cluster-for-virt.adoc"
### Which section(s) is the issue in?

There is no unit for the memory overhead. The `8` should have the unit such as `MiB`  in the formula `8 * (number of vCPUs)` .

[code]

### What needs fixing?

Add a Unit after the number `8`. (Probably, `MiB` in this case)

[2021-08-09 12:17] maxwelldb commented on #27252
/remove-lifecycle stale

[2021-08-09 14:45] veronicaboychuk opened #35338 "[enterprise-4.6] Issue in file serverless/admin_guide/installing-knative-serving.adoc"
### Which section(s) is the issue in?
"Installing Knative Serving using YAML"

### What needs fixing?
The example output includes a `kn-cli-downloads-xxx` pod but this does not seem to appear in most, if any, installations. I think this pod name should be excluded from example output since installations can work without it + it does not seem to accurately reflect new installations (and is therefor

[2021-08-09 16:32] afcollins opened #35348 "[enterprise-4.8] Incorrect RHBA links in 4.8.3 Bug fix update"
### Which section(s) is the issue in?
release_notes/ocp-4-8-release-notes.adoc
Section: `=== RHBA-2021:2896 - {product-title} 4.8.3 bug fix update`

### What needs fixing?
The link destinations and the text do not match for the RHBAs referenced.

[code]

[2021-08-09 18:40] tnk4on opened #35357 "[OKD]Topic name for "Migration from 3to4" section is OCP instead of OKD."
### Which section(s) is the issue in?

Topic map for
https://docs.okd.io/latest/migrating_from_ocp_3_to_4/about-migrating-from-3-to-4.html
https://docs.okd.io/latest/migrating_from_ocp_3_to_4/planning-migration-3-4.html

### What needs fixing?

Change the topic name "OpenShift Container Platform 3 to 4" to "OKD 3 to 4".

[2021-08-09 18:54] bergerhoffer commented on #35357
FYI @apinnick

[2021-08-09 19:02] bergerhoffer commented on #35223
Hi @daloulou, from what I see, it is a .tar.gz file:

![image](https://user-images.githubusercontent.com/7443887/128759530-84bb49be-232a-498d-a780-98c7e28ccc58.png)

If you are seeing just a .tar file, can you share where you're downloading it from?

[2021-08-09 20:06] bergerhoffer commented on #32137
@vikram-redhat did we have a plan for doing a sweep for whitelist/blacklist in the repo?

[2021-08-09 20:06] bergerhoffer commented on #32137
/remove-lifecycle stale

[2021-08-09 20:08] bergerhoffer commented on #31646
/remove-lifecycle stale

[2021-08-09 20:18] #29973 closed

[2021-08-09 20:32] hultzj opened #35367 "[enterprise-4.8] Issue in file security/certificates/replacing-default-ingress-certificate.adoc"
### Which section(s) is the issue in?

typo in this documentation: https://docs.openshift.com/container-platform/4.8/security/certificates/replacing-default-ingress-certificate.html
The step under procedure:
$ oc create configmap custom-ca \
     --from-file=ca-bundle.crt=</path/to/example-ca.crt> \
     -n openshift-config

### What needs fixing?

  --from-file=ca-bundle.crt=</path/to/example-ca.

[2021-08-09 20:42] #35367 closed

[2021-08-09 20:45] bergerhoffer commented on #31634
/remove-lifecycle stale

[2021-08-09 20:47] bergerhoffer commented on #31634
This typo was fixed via #32852. Closing!

[2021-08-09 20:47] #31634 closed

[2021-08-09 20:50] bergerhoffer commented on #31509
FYI @adellape

[2021-08-09 20:52] bergerhoffer commented on #30996
/remove-lifecycle rotten

[2021-08-10 00:20] jboxman commented on #35338
fyi @abrennan89

[2021-08-10 05:10] tmalove commented on #33738
@vikram-redhat  please assign this issue to me. Thanks!

[2021-08-10 06:24] apinnick commented on #35357
I am not an OpenShift writer, so I have no idea what the problem is or what is required.

[2021-08-10 10:53] vikram-redhat commented on #21435
Related to: https://bugzilla.redhat.com/show_bug.cgi?id=1877064

[2021-08-10 19:34] EricPonvelle commented on #32524
/close

[2021-08-10 19:37] #32524 closed

[2021-08-10 20:29] jboxman commented on #32137
@bergerhoffer, would this in some cases be dependent upon what the variable or field is in the particular feature being documented as well? The control plane was easy enough, because that term only covers how to identify that set of machines.

[2021-08-11 02:19] #30049 closed

[2021-08-11 09:25] jaboc opened #35428 "[enterprise-4.8] Issue in file applications/quotas/quotas-setting-per-project.adoc"
### Which section(s) is the issue in?
In the storage-consumption.yaml but probably in the other yamls too.

### What needs fixing?
Using the example as documented the quota wasn't applied to my new project. I needed to add the line.
`namespace: ${PROJECT_NAME}`
into the quota yaml for this to work.

[2021-08-11 20:09] dlbewley opened #35450 "[online] Issue in file installing/install-ocp-operator.adoc"
### Which section(s) is the issue in?

_Installing the Red Hat Advanced Cluster Security for Kubernetes Operator_

### What needs fixing?

"Using the OperatorHub provided with provided with OpenShift Container Platform..."

_provided with_ is repeated.

[2021-08-11 20:28] dlbewley opened #35452 "[online] Issue in file installing/install-ocp-operator.adoc"
### Which section(s) is the issue in?

Generating an init bundle by using the RHACS portal

### What needs fixing?

Instructions reference _Click Generate Bundle (add icon) on the top right._ but the button at top right is _New integration_.
Screenshot https://www.dropbox.com/s/6m0o3b402ev1z2v/Screen%20Shot%202021-08-11%20at%2013.24.34.png?raw=1

[2021-08-12 07:38] paraenggu opened #35459 "[enterprise-4.7] Issue in file networking/configuring_ingress_cluster_traffic/configuring-ingress-cluster-traffic-ingress-controller.adoc"
### Which section(s) is the issue in?
* [Creating a project and service](https://docs.openshift.com/container-platform/4.7/networking/configuring_ingress_cluster_traffic/configuring-ingress-cluster-traffic-ingress-controller.html#nw-creating-project-and-service_configuring-ingress-cluster-traffic-ingress-controller)
* [Exposing the service by creating a route](https://docs.openshift.com/container-

[2021-08-12 11:51] martinkennelly opened #35461 "[enterprise 4.8] Missing configuration step in modules/nw-sriov-configuring-operator.adoc"
### Which section(s) is the issue in?
https://github.com/openshift/openshift-docs/blob/main/modules/nw-sriov-configuring-operator.adoc

No current section seems to fit what I want to fix.

### What needs fixing?
No where in the docs is mentioned that, by default, we need to apply a label to the nodes that we want the SRIOV Network Operator to config when a ```SriovNetworkNodePolicy``` is specified

[2021-08-12 14:56] jwilliams-shadowsoft commented on #31521
Hello everyone! I never got any sort of response on this.

[2021-08-12 14:56] jwilliams-shadowsoft commented on #31521
/remove-lifecycle rotten

[2021-08-12 15:36] gniltaws opened #35469 "[enterprise-4.8] Issue in file security/certificates/api-server.adoc"
### Which section(s) is the issue in?
Prerequisites

### What needs fixing?
It would be helpful if the prerequisites noted that the default ingress certificate should be replaced first.

If an API certificate is added before there is an ingress certificate, new `oc login`s just show `error: x509: certificate signed by unknown authority`.  `oc login` first hits api.cluster.domain.tld, and then goes

[2021-08-13 02:21] #28264 closed

[2021-08-13 17:55] jboxman commented on #35459
cc @bmcelvee

This is the subject of one of the open BZs I think.

[2021-08-13 17:57] jboxman commented on #35461
cc @mikemckiernan @ctauchen

@zshi-redhat, does this make sense to add?

Thanks!

[2021-08-13 17:59] jboxman commented on #32547
We've fixed this, thanks!

[2021-08-13 17:59] #32547 closed

[2021-08-13 20:22] #29079 closed

[2021-08-14 02:23] #30459 closed

[2021-08-15 23:10] maxwelldb commented on #29524
/remove-lifecycle stale

[2021-08-16 01:18] zshi-redhat commented on #35461
@martinkennelly @jboxman  There is a chapter about configuring the sriov device via sriovnetworknodepolicy: https://docs.openshift.com/container-platform/4.8/networking/hardware_networks/configuring-sriov-device.html#nw-sriov-networknodepolicy-object_configuring-sriov-device, nodeSelector parameter is explained with the index 4.

Here is the doc module link: https://github.com/openshift/openshift-

[2021-08-16 08:51] martinkennelly commented on #35461
Thanks Zenghui..That is sufficient. I missed this.

[2021-08-16 08:51] #35461 closed

[2021-08-16 10:32] rolfedh commented on #35108
/closed

[2021-08-16 10:39] rolfedh commented on #35108
@jboxman Please close this issue.

[2021-08-16 12:15] Preeticp commented on #28836
/remove-lifecycle rotten

[2021-08-16 12:22] Preeticp commented on #27742
/remove-lifecycle rotten

[2021-08-16 13:35] #35108 closed

[2021-08-16 14:19] atragler commented on #34933
OSP supports custom external LB  since OCP 4.7 but not automated with IPI installer
What OSP supports since OSP 4.7 is documentation for how to hook up your own external load balancer up to serve the api or openshift apps manually as a day 2 operation.
What is is planned in OCP 4.9 with https://issues.redhat.com/browse/OSASINFRA-2412  is support for using kubernetes load balancer services to autom

[2021-08-16 14:29] #28296 closed

[2021-08-16 19:19] #20360 closed

[2021-08-16 19:22] #35338 closed

[2021-08-16 20:26] #30626 closed

[2021-08-16 22:07] maxwelldb commented on #29551
/remove-lifecycle stale

[2021-08-16 23:35] codyhoag commented on #27383
/remove-lifecycle rotten

[2021-08-17 04:42] jboxman commented on #35299
fyi @aireilly

`oc create` takes a file, so the command needs to be invoked with the YAML like `oc create -f <sriovnetwork_object>.yaml`. Sort of like in `modules/nw-sriov-dpdk-example-intel.adoc`.

[2021-08-17 07:14] aireilly commented on #35299
@fedepaol @kononovn Can you comment on this please. We have a broken command in this procedure. I think we missed a typo here, this command should be `oc edit sriovnetwork.openshift.io cluster`. Also we are not creating a `SriovNetwork` resource, only modifying it resource by adding the `metaPlugins` element?

Note in https://github.com/openshift/openshift-docs/blob/main/modules/cnf-assigning-a-se

[2021-08-17 15:05] ahardin-rh commented on #35039
This issue is now resolved: https://docs.openshift.com/rosa/rosa_getting_started/rosa-creating-cluster.html

[2021-08-17 15:05] #35039 closed

[2021-08-17 15:10] ahardin-rh commented on #35348
Thank you for this update!

[2021-08-17 15:10] #35348 closed

[2021-08-17 15:22] b-mchugh commented on #27506
@pneedle-rh thanks for the update.
Looks like the ROSA and OSD "Page History" links still point to enterprise-3.11.
Would be useful to have them fixed to point to whatever the relevant "dedicated-4" link is instead such as
https://github.com/openshift/openshift-docs/commits/dedicated-4

[2021-08-17 20:51] ryancastle commented on #32300
/remove-lifecycle stale

[2021-08-18 14:53] itewk commented on #32577
as far as i know this is still an issue.

[2021-08-18 17:01] jonquilwilliams commented on #32577
/remove-lifecycle stale

[2021-08-19 09:04] AhyeongLee opened #35605 "[enterprise-4.8] Issue in file networking/ingress-operator.adoc"
### Which section(s) is the issue in?

Configuring an Ingress Controller to use an internal load balancer

https://docs.openshift.com/container-platform/4.8/networking/ingress-operator.html#nw-ingress-setting-internal-lb_configuring-ingress

### What needs fixing?
I created default ingresscontroller as internal nlb like below.

[code]

But the nlb in aws, it was created in public subnet.
( nlb wor

[2021-08-19 14:58] bergerhoffer commented on #32555
Closing, PR was merged. Updates will be live shortly

[2021-08-19 14:59] bergerhoffer commented on #35079
Closing, the related PR was merged. Updates will be live shortly (now pointing to the customer portal for downloading the CLI).

[2021-08-19 14:59] #35079 closed

[2021-08-19 14:59] #32555 closed

[2021-08-19 15:07] #35357 closed

[2021-08-19 15:14] bergerhoffer commented on #35357
PR has merged, updates will be live shortly

[2021-08-20 04:38] jboxman commented on #35605
cc @bmcelvee

[2021-08-20 16:35] ryannelle opened #35680 "[enterprise-4.7] Issue in file security/certificates/replacing-default-ingress-certificate.adoc"
### Which section(s) is the issue in?
Replacing the default ingress certificate

### What needs fixing?
Procedure 1.
"Create a config map that includes **only the root CA certificate** used to sign the wildcard certificate:"
The example code shows to use --from-file=**ca-bundle.crt** but line above it says use only the root CA certificate.

It's confusing to know if only a single CA certificate sh

[2021-08-21 02:42] #28021 closed

[2021-08-21 02:42] #29173 closed

[2021-08-21 08:42] #30524 closed

[2021-08-21 08:43] #28646 closed

[2021-08-22 00:15] Sit966 opened #35688 "[enterprise-4.7] Issue in file welcome/index.doc"
### Which section(s) is the issue in?

### What needs fixing?

[2021-08-22 20:43] #29452 closed

[2021-08-23 02:43] #26945 closed

[2021-08-23 02:43] #28321 closed

[2021-08-23 02:43] #30879 closed

[2021-08-23 08:21] pamoedom commented on #22779
/remove-lifecycle stale

[2021-08-23 08:43] #27507 closed

[2021-08-23 08:43] #28045 closed

[2021-08-23 12:36] pmkovar commented on #22779
Is this something to close now given 4.4/5 being EOL?

[2021-08-23 13:22] #32713 closed

[2021-08-23 13:42] codyhoag commented on #26529
/reopen

[2021-08-23 13:51] codyhoag commented on #26529
/remove-lifecycle rotten

[2021-08-23 14:52] #30973 closed

[2021-08-23 15:10] thomasphall commented on #32780
/remove-lifecycle stale

[2021-08-23 15:35] wtam2018 commented on #33741
Step 3 and 4 are to restore the data section entirely but change the url (in the data section) as described.   We can make step 3 and 4 into a single step or leave it as is.
The user doesn't need to create a new instance.   The old default instance is re-created with a new name by controller/reconciler after upgrading to v1.1.

[2021-08-23 17:43] #31646 closed

[2021-08-23 17:44] bergerhoffer commented on #31646
Fixed via #35366. Updates will be live shortly

[2021-08-23 20:43] #30975 closed

[2021-08-23 20:43] #30977 closed

[2021-08-23 22:53] maxwelldb commented on #23098
/remove-lifecycle stale

[2021-08-23 22:54] maxwelldb commented on #23098
/lifecycle frozen

[2021-08-23 23:05] mistergareth opened #35734 "[enterprise-4.8] Issue in file installing/installing_gcp/installing-gcp-user-infra-vpc.adoc"
### Which section(s) is the issue in?
The "intro/preamble" just before Prerequisites, or maybe in Prerequisites

### What needs fixing?
More explicitly state that the "Shared VPC" must use UPI and isn't possible with IPI. It's implied here, if you read closely, but it's not super clear if the customer is new to OpenShift or just has "shared VPC" as a requirement and hits this page directly.

Eithe

[2021-08-24 00:35] jboxman commented on #35680
cc @bmcelvee

[2021-08-24 02:43] #30978 closed

[2021-08-24 02:43] #31014 closed

[2021-08-24 03:12] dmc5179 opened #35740 "[enterprise-4.7] Issue in file installing/installing_vsphere/using-vsphere-problem-detector-operator.adoc"
### Which section(s) is the issue in?

Running the vSphere Problem Detector Operator checks

### What needs fixing?

The 3 steps in this section appear to be out of date. I just ran these on a customer's cluster today and when you scale the replicas to 0, the pod will terminate, but the operator immediately scales the replicas back to 1 and the pod reappears. The end result appears to be the same

[2021-08-24 07:57] sounix000 commented on #27742
lifecycle/close

[2021-08-24 07:57] sounix000 commented on #27742
/close

[2021-08-24 07:58] sounix000 commented on #27742
See https://github.com/openshift/openshift-docs/pull/33246#issuecomment-904410099 for reason of closing.

[2021-08-24 07:59] #27742 closed

[2021-08-24 14:34] vincepower opened #35756 "[enterprise-4.8] Issue in file installing/installing_gcp/installing-gcp-account.adoc"
### Which section(s) is the issue in?

Lacks detail compared to AWS.

### What needs fixing?

Can the detail be expanded on this page to include the default machine types and sizes? Having a list of cores is great, but knowing the default machine types helps when requesting the core increases.

[2021-08-24 16:13] ChetRHosey opened #35764 "[enterprise-4.8] Issue in file storage/container_storage_interface/persistent-storage-csi-vsphere.adoc"
### Which section(s) is the issue in?

https://docs.openshift.com/container-platform/4.8/storage/container_storage_interface/persistent-storage-csi-vsphere.html#csi-tp-enable_persistent-storage-csi-vsphere, "Enabling the vSphere CSI Driver Operator"

### What needs fixing?

Step 1 says: "Enable feature gates with the TechPreviewNoUpgrade feature set (see Nodes → Enabling features using feature gat

[2021-08-24 16:52] takleung opened #35767 "[online] Issue in file installing/installing_helm/install-helm-quick.adoc"
### Which section(s) is the issue in?
Adding the Helm chart repository

### What needs fixing?
change "helm repo add stackrox  https://mirror.openshift.com/pub/rhacs/charts/" to "helm repo add rhacs  https://mirror.openshift.com/pub/rhacs/charts/"

[2021-08-25 01:02] hashnao opened #35774 "[enterprise-4.8] Issue in file networking/ingress-operator.adoc"
### Which section(s) is the issue in?
Configuring the PROXY protocol for an Ingress Controller

### What needs fixing?

The sample PROXY configuration of the hostNetwork configuration shows `type: NodePortService` but is it supposed to be `type: HostNetwork` instead?

[code]

Hence, I think the Sample hostNetwork configuration to PROXY should look like this.

[code]

[2021-08-25 08:45] #30437 closed

[2021-08-25 10:54] mikemckiernan commented on #33497
MetalLB and the MetalLB Operator for a platform-native load balancer implementation on bare metal: <https://github.com/openshift/openshift-docs/pull/35705>

[2021-08-25 13:23] codyhoag commented on #32878
/remove-lifecycle stale

[2021-08-25 15:57] miabbott opened #35793 "change required minimum disk size from 120GB to 100GB"
### Which section(s) is the issue in?

https://docs.openshift.com/container-platform/4.8/installing/installing_bare_metal/installing-bare-metal.html#minimum-resource-requirements_installing-bare-metal
https://docs.openshift.com/container-platform/4.8/installing/installing_ibm_z/installing-ibm-z-kvm.html#minimum-resource-requirements_installing-ibm-z-kvm

https://github.com/openshift/openshift-docs

[2021-08-25 15:59] miabbott commented on #35793
cc: @ashcrow @nstielau @derekwaynecarr @relyt0925 @jeffnowicki

[2021-08-25 16:05] #33738 closed

[2021-08-25 16:53] bergerhoffer commented on #35767
@gaurav-nelson FYI

[2021-08-25 18:54] mburke5678 opened #35804 "Add Performance Profile Creator to tuning module"
Per a private slack conversation with Emily O'Neill:

we also have a section about the Performance Profile Creator that is not referenced from the main PAO page and is easy to miss: [Creating a performance profile](https://docs.openshift.com/container-platform/4.8/scalability_and_performance/cnf-create-performance-profiles.html)

Should be linked from somewhere in Tuning nodes for low latency with

[2021-08-25 20:53] reginapizza opened #35811 "[enterprise-4.8] Update 4.8 GitOps documentation- cross-namespace Argo CD permission cleanup"
### Which section(s) is the issue in?
cicd/gitops/configuring_argo_cd_to_recursively_sync_a_git_repository_with_your_application/deploying-a-spring-boot-application-with-argo-cd.adoc

### What needs fixing?

Needs documentation to include step to add label to namespace to be managed by openshift-gitops

(I will be making PR for this)

[2021-08-26 07:47] praveenkumar opened #35815 "[enterprise-4.8] Issue in file post_installation_configuration/machine-configuration-tasks.adoc"
### Which section(s) is the issue in?
https://docs.openshift.com/container-platform/4.8/post_installation_configuration/machine-configuration-tasks.html#installation-special-config-chrony_post-install-machine-configuration-tasks

It mention `butane` but doesn't provide any link or info around how to get this binary :(

### What needs fixing?
Add link to get `butane` binary.

[2021-08-27 02:44] TiloGit opened #35857 "[enterprise-4.7] Issue in file networking/ingress-operator.adoc"
### Which section(s) is the issue in?
View Ingress Controller logs

### What needs fixing?
suggested cmd need to specify container it seems

[code]

[2021-08-27 16:42] mistergareth opened #35863 "[enterprise-4.8] Issue in file installing/installing_bare_metal_ipi/ipi-install-installation-workflow.adoc"
### Which section(s) is the issue in?
Step 11 which creates the virtual bridge interface names and links them to the $PUB_CONN and $PROV_CONN NICs.

### What needs fixing?
We've hit this issue several times with a Partner when we are trying to deploy into their environment via VPN, which should work. However, the IPs of the two NICs ($PUB_CONN and $PROV_CONN) need to reserved IPs in the DHCP serve

[2021-08-28 00:27] mistergareth opened #35880 "[enterprise-4.8] Issue in file installing/installing_bare_metal_ipi/ipi-install-installation-workflow.adoc"
### Which section(s) is the issue in?
Step 14 - Create the pull-secret.txt file for Bare Metal IPI.

### What needs fixing?
The description of how to find and copy the pull-secret appears to be based an older version of the web UI. It doesn't quite match what you see when you click the link.

Here is the current text. The **bold** indicates the linked text.

First, there's not need to "scroll down

[2021-08-28 10:37] gaurav-nelson commented on #35767
Thanks @bergerhoffer .

@IAmATeaPot418 Can you confirm if this is correct?

[2021-08-28 14:54] takleung commented on #35767
It is better to go through the parameter from the document. Repository should be called either rhacs or stackrox

[2021-08-28 18:36] #35688 closed

[2021-08-30 00:40] johnwilkins commented on #35863
@mistergareth noted. I've made an update locally. It strikes me that you would only need to do this on the `PUB_CONN` nic in order to log in again since the provisioning network is only for provisioning. We do have a note to reserve an IP address on the DHCP server, but I believe those are specifically reserved on the baremetal network. Can you verify?

[2021-08-30 00:47] johnwilkins commented on #35863
@mistergareth how about this?

[IMPORTANT]
====
You must reserve the IP address of the `PUB_CONN` NIC in the DHCP server before proceeding with this step. See "Dynamic Host Configuration Protocol (DHCP) requirements" in the "Network Requirements" section of the "Prerequisites" for details on reserving an IP address so that it becomes a static IP address. Failure to reserve the IP address may resul

[2021-08-30 02:53] #30981 closed

[2021-08-30 18:00] codyhoag commented on #35880
@johnwilkins wanted to tag you for awareness since this is for bare metal IPI

[2021-08-31 12:47] smossber opened #35943 "[enterprise-4.6] Issue in file networking/configuring-a-custom-pki.adoc"
### Which section(s) is the issue in?

https://docs.openshift.com/container-platform/4.6/networking/configuring-a-custom-pki.html#certificate-injection-using-operators_configuring-a-custom-pki
Overall the whole page except the add ca using operators.
But I guess mostly the intro, first section below the heading

### What needs fixing?

[code]
` to add cluster-wide trusted CA certificates`
Add it h

[2021-08-31 14:16] tmalove commented on #33497
PR to support etcd to the list of control plane components.
https://github.com/openshift/openshift-docs/pull/35923

[2021-08-31 22:48] bshirren opened #35972 "[enterprise-4.8] Issue in file installing/install_config/configuring-firewall.adoc"
### Which section(s) is the issue in?

"Configuring your firewall for OpenShift Container Platform" procedure step 4

### What needs fixing?

Hostname "oso-rhc4tp-docker-registry.s3-us-west-2.amazonaws.com" for allowing firewall access is deprecated seemingly.

Recently the hostname has changed to ''rhc4tp-prod-z8cxf-image-registry-us-east-1-evenkyleffocxqvofrk.s3.dualstack.us-east-1.amazonaws.com

[2021-09-01 12:26] yrro commented on #27693
/remove-lifecycle stale

[2021-09-01 16:35] bparees commented on #33497
we need loud and clear discussion of all the k8s beta apis that are being removed in this release.  Just putting them in the table probably isn't even enough (but i don't see them listed as removed in the current tables, either)

cc @mfojtik @deads2k @sttts

[2021-09-01 16:36] bparees commented on #33497
We are also going to require explicit manual admin acks regarding the removed apis before a 4.8 cluster can be upgraded to 4.9, so that should be called out as well.

@wallylewis you're driving the product docs on that, maybe you can help with the wording here as well.

[2021-09-01 17:10] jeana-redhat commented on #33497
@bparees thanks - that's super critical content. Just to clarify, are you referring to the table in the draft Rel Notes I just sent out, or to [the one linked above](https://docs.google.com/spreadsheets/d/1N1JJi7roK0BUFYo-PKI6wT3EMG5XD1j3eFNNEhmVnJc/edit#gid=0)? Not everything has gotten into the draft Rel Notes version of the table yet, but we will be working from the Google Sheet as a source for

[2021-09-01 17:28] damemi commented on #33497
Descheduler Operator: Users should update to the latest 4.8 operator before updating to the 4.9 operator to ensure proper conversion of existing Descheduler CRDs (https://github.com/openshift/cluster-kube-descheduler-operator/pull/215)

[2021-09-01 17:52] bparees commented on #33497
I was looking at https://docs.openshift.com/container-platform/4.9/release_notes/ocp-4-9-release-notes.html

which has, for example, CRDs:

![image](https://user-images.githubusercontent.com/4974046/131719671-4c276142-56f1-495b-b83e-691fd3488e27.png)

so at a minimum that 4.9 column will need to say "removed", but again i think we need more explicit wording than just hoping someone sees it in the

[2021-09-01 18:23] tmalove commented on #33497
Support the automatic rotation of etcd certificates.
https://issues.redhat.com/browse/OSDOCS-2348

[2021-09-01 19:04] jeana-redhat commented on #33497
@bparees ok, I think we are on the same page here. Typically, we also include some content below the table about things that have changed, so that would be a normal part of the Rel Notes process. We will definitely want to make sure that this is super obvious to folks.

[2021-09-02 00:48] jiajliu commented on #33497
About the upgrade to v4.9, afaik we have several new updates here. we need announce them in the release note for users.

1.  we provide a new way `performing a canary rollout update` , related prs are https://github.com/openshift/openshift-docs/pull/35420, https://github.com/openshift/openshift-docs/pull/34445

2. About the v4.8 to v4.9 upgrade, we have added several `gate/check` to block the upgr

[2021-09-02 11:44] xiaojiey commented on #33497
About the Rhel8 scaleup for GCP platform, there is a known issue that when fips mode enabled, scaleup Rhel8 will fail due to fail to install packages from the default RHUI. Seen from https://bugzilla.redhat.com/show_bug.cgi?id=1997516.
cc: @gpei @pdhamdhe

[2021-09-02 11:59] bergerhoffer commented on #34018
Closing - PR has been merged. Updates will be live shortly.

[2021-09-02 11:59] #34018 closed

[2021-09-02 13:27] latheefp opened #36037 "[enterprise-4.7] Issue in file registry/securing-exposing-registry.adoc"
### Which section(s) is the issue in?
root@jumphost ~]#oc patch configs.imageregistry.operator.openshift.io/cluster --patch '{"spec":{"defaultRoute":true}}' --type=merge
config.imageregistry.operator.openshift.io/cluster patched (no change)
root@jumphost ~]#HOST=$(oc get route default-route -n openshift-image-registry --template='{{ .spec.host }}')
Error from server (NotFound): routes.route.opensh

[2021-09-02 17:29] 0kashi opened #36055 "[enterprise-4.8] Issue in file applications/application_life_cycle_management/creating-applications-using-cli.adoc"
### Which section(s) is the issue in?
Create and application from source code - https://docs.openshift.com/container-platform/4.8/applications/application_life_cycle_management/creating-applications-using-cli.html#applications-create-using-cli-source-code_creating-applications-using-cli

### What needs fixing?
The text currently states that "The new-app command typically also creates a DeploymentC

[2021-09-02 22:29] flozanorht opened #36067 "[enterprise-4.8] Issue in file networking/ingress-operator.adoc"
### Which section(s) is the issue in?
"Configuring application domain for the Ingress Controller Operator on AWS"
Procedure step 1.b

### What needs fixing?
The sample YAML makes no sense. It looks like it is incomplete, has extra unecessary information, or just plain wrong.

spec:
  domain: apps.<domain_url>
  appsDomain: apps.acme.io

What is "<domain_url>" ? Looks like a marker that I would rep

[2021-09-03 00:15] 0kashi opened #36068 "[online] Issue in file rosa_getting_started/rosa-aws-privatelink-creating-cluster.adoc"
### Which section(s) is the issue in?
https://docs.openshift.com/rosa/rosa_getting_started/rosa-aws-privatelink-creating-cluster.html#rosa-aws-privatelink-create-cluster.adoc_rosa-getting-started

### What needs fixing?
There is a standalone "+" that doesnt look like it belongs there.  Literally a plus sign.

[2021-09-03 02:58] jboxman commented on #36067
cc @bmcelvee

[2021-09-03 22:34] claudio4j opened #36094 "[enterprise-4.7] Issue in file web_console/disabling-web-console.adoc"
### Which section(s) is the issue in?
Disabling the web console

### What needs fixing?
The api group `config.openshift.io`  is wrong, the correct should be `operator.openshift.io`

[2021-09-04 02:26] #27743 closed

[2021-09-04 08:27] #29345 closed

[2021-09-04 08:27] #31306 closed

[2021-09-04 20:28] #31274 closed

[2021-09-04 20:28] #31329 closed

[2021-09-05 02:27] #28077 closed

[2021-09-05 20:27] #31405 closed

[2021-09-06 07:35] xiaojiey commented on #33497
Create a tracker bug https://bugzilla.redhat.com/show_bug.cgi?id=2001464 for OCP to track the status.

[2021-09-06 14:03] dpkshetty opened #36098 "[enterprise-4.8] Issue in Step 9b in file backup_and_restore/disaster_recovery/scenario-2-restoring-cluster-state.adoc"
### Which section(s) is the issue in?
Step 9b

### What needs fixing?
Step 9b says run the cmd on the recovery host (one of the master nodes) but when I do that it fails as below:
[code]

If I come back to the bastion or Infra node, and run the same cmd it works !
[code]

[2021-09-06 18:37] jboxman commented on #36098
cc @bergerhoffer

[2021-09-06 20:28] #29538 closed

[2021-09-07 08:09] iblancasa opened #36099 "Jaeger log-level parameter doesn't accept trace"
### Which section(s) is the issue in?
The possible values of the `log-level` parameter for Jaeger components.

### What needs fixing?
The `trace` verbosity level is not supported. The documentation lists the following verbosity levels: `trace`, `debug`, `info`, `warning`, `error`, `fatal` and `panic`.

#### How to reproduce

When this configuration is deployed:
[code]

The startup of the container

[2021-09-07 11:58] dpkshetty opened #36103 "[enterprise-4.8] Issue in Step 6 in file backup_and_restore/disaster_recovery/scenario-2-restoring-cluster-state.adoc"
### Which section(s) is the issue in?
Step 6: The command `oc get proxy cluster -o yaml` cannot be run. It errors out.
I even tried running it on api server, it still fails.

In the below output, master0 is my recovery control plane host.

[code]

### What needs fixing?
See above ^^

[2021-09-07 12:05] dpkshetty commented on #36098
Additional data point... Step 9b fails consistently when run on the recovery control plane host (master0 in my case)
It thus work tho' when I run it on my api server (the one having access from external world.. bastion in many other cases)
See command output below ...

[code]

[2021-09-07 12:11] dpkshetty opened #36105 "[enterprise-4.8] Copy shortcut Issue in file backup_and_restore/disaster_recovery/scenario-2-restoring-cluster-state.adoc"
### Which section(s) is the issue in?
All sections

### What needs fixing?
When I click on the copy option (top right of all the commands)... it copies the prompt too, due to which one cannot just paste it and run it in the terminal window! Expectation is that the copy option should copy just the cmd such that one can paste and hit enter

Here is an example of what gets copied
[code]

while the ex

[2021-09-07 12:31] iankko opened #36106 "[ocp-4.8] [enterprise-4.8] Issue in file rest_api/index.adoc"
Please change the groupified form of `core/v1` _API group_ in the [API Index](https://docs.openshift.com/container-platform/4.8/rest_api/index.html) page to group-less format, i.e.   `v1` for all the objects, listed on the aforementioned API index page as belonging to the `core/v1` API group.

Rationale / Additional information:
<hr/>

As part of [OCP v4.7+ _Use of v1 for apiVersion for OpenShift

[2021-09-07 12:33] iankko commented on #36106
JFTR, this issue was filed based on / per guidance from @sttts regarding the type of change, which needs to be done to get it working again (@sttts TYVM for it!)

Regards,
Jan

[2021-09-07 13:16] codyhoag commented on #32335
Fixed in #31722

[2021-09-07 13:16] #32335 closed

[2021-09-07 20:22] bergerhoffer commented on #36098
CC @tmalove (who is the writer for etcd/backup/restore now)

[2021-09-07 21:12] JStickler commented on #36099
Opened a JIRA to track( https://issues.redhat.com/browse/OSSMDOC-408)

[2021-09-08 01:59] lihongan commented on #33497
Routing new features/enhancements are missing, below should be covered in release notes:

- Make HAProxy timeout Variables Configurable  (https://issues.redhat.com/browse/NE-412)
- Global Options to Enforce HTTP Strict Transport Security (HSTS) (https://issues.redhat.com/browse/NE-310)
- Allow Setting mTLS Through the Ingress Operator (https://issues.redhat.com/browse/NE-323)
- Support TLS 1.3 for

[2021-09-08 02:18] jianlinliu commented on #33497
Thanks for @jiajliu raising this. Some more info about the user acknowledge before v4.8 to v4.9 upgrade, it is being tracking in https://bugzilla.redhat.com/show_bug.cgi?id=1999092, which need to be merged in some 4.8.z version, once it is merged, 4.8.z to 4.9 upgrade will be blocked until user manually acknowledge it. Maybe we need to mention that in 4.9 release note somewhere though the 4.8.z bu

[2021-09-08 14:16] boris-deschenes opened #36143 "[enterprise-4.6] Issue in file scalability_and_performance/cnf-performance-addon-operator-for-low-latency-nodes.adoc"
### Which section(s) is the issue in?
DEV PREVIEW WARNING in "Installing the Performance Addon Operator using the web console"
DEV PREVIEW WARNING in "Allocating multiple huge page sizes"

### What needs fixing?
This is causing confusion because the 4.6 release note (https://docs.openshift.com/container-platform/4.6/release_notes/ocp-4-6-release-notes.html#ocp-4-6-performance-addon-operator) state

[2021-09-08 14:35] mistergareth opened #36147 "[enterprise-4.8] Issue in file installing/index.adoc"
### Which section(s) is the issue in?
The "Supported Platforms for OpenShift Clusters for IPI"
https://docs.openshift.com/container-platform/4.8/installing/index.html#supported-platforms-for-openshift-clusters_ocp-installation-overview

### What needs fixing?
I'm pretty sure we support IPI on Bare Metal now. We're doing this with partners. But "Bare Metal" is missing from this list.

However Bare

[2021-09-08 14:42] simonpasquier commented on #33497
Monitoring:
- [#1312](https://github.com/openshift/cluster-monitoring-operator/pull/1312) Support label to exclude namespaces from user-workload monitoring. Service/pod monitors and Prometheus rules living in a namespace labeled with `openshift.io/user-monitoring: "false"` will not be picked up by the user-workload monitoring stack.
- [#1308](https://github.com/openshift/cluster-monitoring-operato

[2021-09-08 17:39] codyhoag commented on #36147
Thanks for catching this! I have submitted a PR to address the IPI list missing bare metal: #36158

[2021-09-08 18:59] TheRealJon opened #36166 "[enterprise-4.8] Issue in file operators/operator_sdk/golang/osdk-golang-tutorial.adoc"
### Which section(s) is the issue in?
[About OpenAPI validation](https://docs.openshift.com/container-platform/4.8/operators/operator_sdk/golang/osdk-golang-tutorial.html#osdk-golang-generate-crd-validation_osdk-golang-tutorial)

### What needs fixing?
This section is repeated twice

[2021-09-08 19:04] #35299 closed

[2021-09-08 19:19] cuppett commented on #35793
Agreed here. 100GB fine as a minimum (assuming our IOPS and latency requirements are met). 120GB was what we increased it to in our initial releases on AWS with gp2 to satisfy our IOPS needs to pass the e2e CI suites reliably.

[2021-09-08 21:31] relyt0925 commented on #35793
I agree as well!!!!!! (From IBM Cloud side)

[2021-09-08 21:31] derekwaynecarr commented on #35793
Agree.

[2021-09-08 21:50] adambkaplan commented on #33497
Builds:

- Build Volumes using Secrets and ConfigMaps: https://issues.redhat.com/browse/BUILD-257
- BuildConfigs with ImageChange triggers can be used in GitOps: https://issues.redhat.com/browse/BUILD-190

[2021-09-08 21:56] nstielau commented on #35793
@relyt0925 Please consider these approval comments as approval for this change and to let you run within the OCP requirements.  I'll work on getting this drafted and merged, but that shouldn't stop you from doing what you need.

[2021-09-09 02:51] rbbratta commented on #32983
present in https://docs.openshift.com/container-platform/4.8/rest_api/operator_apis/network-operator-openshift-io-v1.html#network-operator-openshift-io-v1

closing

[2021-09-09 02:51] #32983 closed

[2021-09-09 02:57] jboxman commented on #36166
cc @adellape

[2021-09-09 10:45] gpei commented on #33497
Installer:

- Support RHEL 8 Server worker/infra nodes - https://issues.redhat.com/browse/CORS-1650
- AWS: Support for China Regions - https://issues.redhat.com/browse/CORS-1591
- UPI install workflow for Azure Stack Hub support - https://issues.redhat.com/browse/CORS-1433

[2021-09-09 11:55] apurty opened #36203 "[dedicated] Issue in file osd_policy/policy-responsibility-matrix.adoc"
### Which section(s) is the issue in?

Under the section "Overview of responsibilities for OpenShift Dedicated",  in the documentation: https://docs.openshift.com/dedicated/osd_policy/policy-responsibility-matrix.html#policy-responsibilities_policy-responsibility-matrix

### What needs fixing?
As I understand,  from OSD 4.7+ SREP no longer supports the logging stack and it is the sole responsibili

[2021-09-09 13:30] Keyvan-rh commented on #32439
This issue has been fixed #32602 and confirmed

[2021-09-09 13:30] #32439 closed

[2021-09-09 14:19] pdhamdhe opened #36223 "[enterprise-4.8] Issue in file rest_api/network_apis/route-route-openshift-io-v1.adoc"
### Which section(s) is the issue in?
https://docs.openshift.com/container-platform/4.8/rest_api/network_apis/route-route-openshift-io-v1.html#specification

Inside .spec.tls.insecureEdgeTerminationPolicy the Disable setting is not valid.  if we try to set Disable then it reports:

routes.route.openshift.io "edge-route" was not valid:
* spec.tls.insecureEdgeTerminationPolicy: Invalid value: "Disab

[2021-09-09 14:24] pdhamdhe opened #36224 "[enterprise-4.8] Issue in file networking/routes/secured-routes.adoc"
### Which section(s) is the issue in?
Does not mention all values of  `spec.tls.insecureEdgeTerminationPolicy` parameter. `Allow` is missing.
https://docs.openshift.com/container-platform/4.8/networking/routes/secured-routes.html#nw-ingress-creating-a-passthrough-route_secured-routes

`Optional insecureEdgeTerminationPolicy. The only valid values are None, Redirect, or empty for disabled.
`
### Wh

[2021-09-09 20:31] #31478 closed

[2021-09-10 02:31] #30958 closed

[2021-09-10 03:42] jboxman commented on #36223
@pdhamdhe, thanks for reporting this; These docs are generated from the OpenAPI spec, which is derived mostly from `openshift/api` repository. To fix this, the change needs to be made there.

[2021-09-10 07:42] holgwolf commented on #35793
Comment from Z and LinuxONE side, I agree in lower the boundary and appreciate, but we need the same change for all Z and LinuxONE configurations including zVM setup.

[2021-09-10 09:39] jaboc opened #36248 "[enterprise-4.8] Issue in file release_notes/ocp-4-8-release-notes.adoc"
### Which section(s) is the issue in?
The following link gives access denied
https://access.redhat.com/solutions/6308491

### What needs fixing?
Authorisation

[2021-09-10 13:43] jboxman commented on #36248
@jeana-redhat:

[2021-09-10 14:07] jeana-redhat commented on #36248
Published it :+1:  @darshan-nagaraj reminder to do this step when the release goes live :)

Thanks @jaboc and @jboxman !

[2021-09-10 14:24] #36147 closed

[2021-09-10 14:43] jeana-redhat commented on #33497
Adding from @cuppett via email: Look into linking to CRI-O 1.22 release notes

[2021-09-10 15:56] #36248 closed

[2021-09-10 20:42] sdhoward opened #36271 "redirect loop on docs.okd.io"
### Which section(s) is the issue in?

https://docs.okd.io/latest/welcome/index.html

### What needs fixing?

The IBM links are broken and result in an infinite redirect loop:

- https://docs.okd.io/latest/installing/installing_ibm_z/installing-ibm-z.html#installing-ibm-z
- https://docs.okd.io/latest/installing/installing_ibm_z/installing-ibm-z-kvm.html#installing-ibm-z-kvm
- https://docs.okd.io/l

[2021-09-10 22:47] jboxman commented on #36271
cc @mburke5678 @SNiemann15

[2021-09-12 20:16] maxwelldb commented on #25463
/remove-lifecycle stale

[2021-09-12 20:16] maxwelldb commented on #25463
/lifecycle frozen

[2021-09-13 07:01] bortek opened #36282 "[enterprise-4.7] Issue in file installing/installing_bare_metal/installing-bare-metal-network-customizations.adoc"
### Which section(s) is the issue in?
Approving the certificate signing requests for your machines

### What needs fixing?
Whats the correct hostnames of the master and worker node? Is is master-0 and worker-0 or is it master0 and worker0. In the examples under "Approving the certificate signing requests for your machines" there is a dash in the naming while throughout the document it says that th

[2021-09-13 07:01] bortek commented on #36282
the same might be true for 4.8 docs page

[2021-09-13 08:07] suulperi opened #36283 "[online] Issue in file installing/install-ocp-operator.adoc"
### Which section(s) is the issue in?

https://docs.openshift.com/acs/installing/install-ocp-operator.html#portal-generate-init-bundle_install-ocp-operator

### What needs fixing?

Replace step number 6. "Click Download Helm Values File to download the generated bundle." to "Download Kubernetes Secrets file to download the generated bundle."

[2021-09-13 09:16] suulperi opened #36284 "[RHACS] Issue in file installing/install-ocp-operator.adoc"
### Which section(s) is the issue in?

https://docs.openshift.com/acs/installing/install-ocp-operator.html#create-resource-init-bundle_install-ocp-operator

### What needs fixing?

Few improvements:

1. Chapter "Procedure" - Modify `Run the following command to create the resources` to be something more descriptive like `Run the following command to create the resources on a cluster which will be

[2021-09-13 11:31] radudd opened #36289 "[enterprise-4.7] Issue in file cicd/gitops/configuring-sso-for-argo-cd-on-openshift.adoc"
### Which section(s) is the issue in?
https://docs.openshift.com/container-platform/4.7/cicd/gitops/configuring-sso-for-argo-cd-on-openshift.html#configuring-groups-and-argocd-rbac_configuring-sso-for-argo-cd-on-openshift

### What needs fixing?
The groups claim in the JWT token contain the groups preceded by a "/". So the correct policy should look like:

[code]

[2021-09-13 15:25] SNiemann15 commented on #36271
@jboxman I have to admit never seen that page before. Is the source also welcome/index.adoc?

[2021-09-13 15:33] mburke5678 commented on #36271
@SNiemann15 Should the IBM install docs be in docs.okd.io?

[2021-09-13 15:53] SNiemann15 commented on #36271
@mburke5678 I discussed this with @holgwolf today who said OKD should work on IBM Z but hasn't been verified.

Not sure whats the best "fast" approach. Fix the broken links or remove from OKD and add again once its verified.

[2021-09-13 15:55] SNiemann15 commented on #36271
For Power @manojnkumar should know.

[2021-09-13 16:52] mburke5678 commented on #36271
@SNiemann15 I asked our OKD person, Vadim, if OKD runs on IBM-Z and IBM Power systems, He told me _Probably not, at least its not available at this point._

[2021-09-13 18:45] sdhoward commented on #36271
https://github.com/openshift/openshift-docs/commit/cc4ec4b9de2f695a0959a668ba745da4ce614f1f#diff-40d72ccc658b0f56a1a01387cffdf2a793c5cd21234a0fcbfcc25cf880d318c5R42

[2021-09-13 19:54] cmays20 opened #36316 "[online] Issue in file installing/install-ocp-operator.adoc"
### Which section(s) is the issue in?
Creating an Init bundle using the RHACS Portal.

### What needs fixing?
The instructions say to download the Helm Values File, when it should say to Download the Kubernetes Secrets File.  It is that file that can later be using in the oc create command.

[2021-09-14 01:42] liqcui opened #36318 "Replace the version to latest 4.9 in sample content for PSAP"
### Which section(s) is the issue in?
https://docs.openshift.com/container-platform/4.9/scalability_and_performance/psap-node-feature-discovery-operator.html
https://docs.openshift.com/container-platform/4.9/scalability_and_performance/psap-driver-toolkit.html

### What needs fixing?
Please replace all the version from 4.8 to 4.9 in above two document.

[2021-09-14 01:55] liqcui opened #36319 "Change the more clear content of psap-driver-toolkit"
### Which section(s) is the issue in?
https://docs.openshift.com/container-platform/4.8/scalability_and_performance/psap-driver-toolkit.html

### What needs fixing?
The part that marked with blue, it seem not clear enough,  we can not find the "the Container images section" when click the url link **Container images section of the Red Hat Ecosystem Catalog**, I need to open "Certified Software", t

[2021-09-14 02:26] jboxman commented on #36224
cc @bmcelvee

[2021-09-14 04:00] jboxman commented on #36318
cc @ahardin-rh

[2021-09-14 08:19] pdhamdhe opened #36323 "[enterprise-4.8] Issue in file security/compliance_operator/compliance-operator-tailor.adoc"
### Which section(s) is the issue in?
https://docs.openshift.com/container-platform/4.8/security/compliance_operator/compliance-operator-tailor.html#compliance-tailored-profiles_compliance-tailor

`Create the TailoredProfile:`

However in example output, it mentioned `scansettingbinding.compliance.openshift.io/nist-moderate-modified created`

### What needs fixing?

Need to change `Create the Tail

[2021-09-14 08:44] SNiemann15 commented on #36271
@mburke5678 Then lets remove them for OKD.

[2021-09-14 11:03] lautou commented on #28191
/remove-lifecycle stale

[2021-09-14 11:04] lautou commented on #33481
/remove-lifecycle stale

[2021-09-14 11:26] dulek commented on #33497
We need this note from 4.8 added to 4.9 as well:

Please note that OSP 16.1.7 should be free of the bug and is planned to be released on 2021-10-13. I guess it's worth mentioning that.

[2021-09-14 12:40] dulek commented on #33497
Installations on OpenStack with Kuryr will not work if configured with proxy when proxy is required to access OpenStack APIs. This is tracked in [BZ 1985486](https://bugzilla.redhat.com/show_bug.cgi?id=1985486).

[2021-09-14 13:35] mburke5678 commented on #36271
See: https://github.com/openshift/openshift-docs/pull/36328

[2021-09-14 14:58] lautou commented on #33489
/remove-lifecycle stale

[2021-09-14 17:03] #36271 closed

[2021-09-14 19:04] kmccarron-rh commented on #33497
The Special Resource Operator (SRO) is added per https://issues.redhat.com/browse/OSDOCS-2396 as a technology preview.
Also, The Driver Toolkit added to the 4.8 RN post GA will be added to the TP table in 4.9.

[2021-09-14 19:45] mburke5678 opened #36350 "Create connected to disconnected cluster document"
Convert the [Disconnecting an OCPv4 Cluster](https://docs.google.com/document/d/1FQjgnac1F8mhp7qgn7nhUQiDSW75oNe5KP46VyiQ7bY/edit#heading=h.4sgv0sluaqfg) Google doc to OpenShift docs.

[2021-09-14 20:20] patrickstrick opened #36354 "[enterprise-4.8] Issue in file installing/installing_rhv/installing-rhv-restricted-network.adoc"
### Which section(s) is the issue in?
A couple of places. Search for "three-node" on referenced page.
Also search for "three-node" on https://docs.openshift.com/container-platform/4.8/installing/installing_vsphere/installing-vsphere.html.
There may be other occurrences throughout the install docs.

### What needs fixing?
According to @acsulli three-node clusters are only supported on bare-metal ty

[2021-09-14 21:08] lautou commented on #33509
/remove-lifecycle stale

[2021-09-14 21:20] mrVectorz opened #36355 "[enterprise-4.8] Issue in file scalability_and_performance/cnf-performance-addon-operator-for-low-latency-nodes.adoc"
### Which section(s) is the issue in?
https://docs.openshift.com/container-platform/4.8/scalability_and_performance/cnf-performance-addon-operator-for-low-latency-nodes.html#configuring_hyperthreading_for_a_cluster_cnf-master

Procedure step number 2

### What needs fixing?
The example[0] is misleading with the given yaml[1]. We need to change the example yaml and the given example.
The performanc

[2021-09-14 22:30] filiy opened #36358 "[enterprise-4.8] Issue in file networking/enable-cluster-wide-proxy.adoc"
### Which section(s) is the issue in?

3. Configure the necessary fields for the proxy:

### What needs fixing?

The example `  httpsProxy: http://<username>:<pswd>@<ip>:<port> ` should have https in it. So should be `  httpsProxy: https://<username>:<pswd>@<ip>:<port>`

[2021-09-14 22:30] filiy commented on #36358
Ignore. My bad.

[2021-09-14 22:30] #36358 closed

[2021-09-14 23:26] filiy opened #36359 "[enterprise-4.8] Issue in file installing/installing_vsphere/installing-vsphere-installer-provisioned-customizations.adoc"
### Which section(s) is the issue in?
Table 7. Optional VMware vSphere machine pool parameters

`platform.vsphere.coresPerSocket`

### What needs fixing?

The description says:

"The number of cores per socket in a virtual machine. The number of virtual CPUs (vCPUs) on the virtual machine is `platform.vsphere.cpus/platform.vsphere.coresPerSocket`. The default value is 1"

I believe it should say:

[2021-09-15 03:25] jboxman commented on #33509
For reference, this is showing up here: https://docs.openshift.com/container-platform/4.8/installing/installing_bare_metal/installing-bare-metal.html

[2021-09-15 13:23] codyhoag commented on #33509
@lautou can you elaborate on what you mean here? I assume you're talking about the note [here](https://docs.openshift.com/container-platform/4.8/installing/installing_bare_metal/installing-bare-metal.html#machine-requirements_installing-bare-metal), but I don't see anything wrong with its formatting after a quick look.

[2021-09-15 13:55] lautou commented on #33509
@codyhoag
I mean this paragraph apply only when installing on vSphere not in bare metal context:
```If the platform: none field is defined in the install-config.yaml file, virtual machines (VMs) configured to use virtual hardware version 14 or greater might result in a failed installation. It is recommended to configure VMs with virtual hardware version 13. For more information, see BZ#1935539.```

[2021-09-15 17:03] michaelshire opened #36390 "[enterprise-4.7] Issue in file openshift_images/using_images/using-s21-images.adoc"
### Which section(s) is the issue in?
Preamble
"S2I images are available for you to use directly from the OpenShift Container Platform web UI by selecting Catalog → Developer Catalog."

### What needs fixing?
Needs to be more specific:
From the Developer menu, click +Add.  Ensure you have a manageable project selected.  Open the "From Catalog" tile, then click on "Builder Images" in the "Type" men

[2021-09-15 17:59] #35811 closed

[2021-09-16 02:40] #28601 closed

[2021-09-16 02:53] bergerhoffer commented on #36318
@vikram-redhat Do we have someone doing this last minute task of the 4.8->4.9 sweep in @ahardin-rh's absence?

[2021-09-16 08:40] #22666 closed

[2021-09-16 08:40] #31653 closed

[2021-09-16 18:24] assafmuller opened #36452 "[enterprise-4.8] Issue in file scalability_and_performance/scaling-cluster-monitoring-operator.adoc"
### Which section(s) is the issue in?
First section.

### What needs fixing?
There is a warning right at the top of the page. The RHBZ that is referred to in the warning has been fixed - the issue affected 4.6 to 4.7 upgrades, so the warning should no longer be relevant for 4.8 docs, and the warning can be removed.

[2021-09-16 18:25] assafmuller commented on #36452
@simonpasquier please confirm:

Looking at https://docs.openshift.com/container-platform/4.8/scalability_and_performance/scaling-cluster-monitoring-operator.html#scaling-cluster-monitoring-operator, the warning refers to RHBZ https://bugzilla.redhat.com/show_bug.cgi?id=1925061 that you fixed. Can the warning be removed from 4.8 docs?

[2021-09-16 21:01] #32986 closed

[2021-09-17 00:19] hashnao opened #36469 "[enterprise-4.8] typo in file virt/virt-4-8-release-notes.adoc"
### Which section(s) is the issue in?
Networking

### What needs fixing?
s/NMSstate/NMState/

[2021-09-17 01:15] jboxman commented on #36469
@hashnao thanks for reporting this!

[2021-09-17 01:15] #36469 closed

[2021-09-17 02:41] #28665 closed

[2021-09-17 06:32] yingwang-0320 commented on #33497
About creating SR-IOV network node policy, there is a known issue that when users add/delete sriovnetworknodepolicy CR before waiting for all the syncStatus of sriovnetworknodestate CRs turning to 'Succeeded', the sriov network config daemon pod will cordon the node and mark it unschedulable forever.

Workaround (if any): Before adding/deleting one sriovnetworknodepolicy CR, make sure all the sync

[2021-09-17 14:47] #31539 closed

[2021-09-17 14:53] stevsmit commented on #36289
Hi Radu,

I have submitted a PR for review.

Thanks!

[2021-09-17 17:19] stevsmit commented on #34456
@methadata I have created a ticket for this issue but will not be able to close it until the release of OCS 4.9, when the name change from OCS to ODF goes live in the docs. Thanks for filing this ticket.

I will merge the PR ~December.

[2021-09-17 18:35] stevsmit commented on #36284
@gaurav-nelson

[2021-09-17 18:50] stevsmit commented on #36068
@jonquilwilliams

[2021-09-17 18:53] jonquilwilliams commented on #36068
This is being fixed in a different issue: https://github.com/openshift/openshift-docs/pull/35314

Thanks for catching it!

[2021-09-17 18:53] #36068 closed

[2021-09-17 19:59] #35793 closed

[2021-09-19 02:44] #31735 closed

[2021-09-19 05:40] lbscorpio commented on #36390
@michaelshire Nice catch, thanks for your feedback. I have included the fix on my PR[#36534](https://github.com/openshift/openshift-docs/pull/36534), waiting for review.

[2021-09-20 01:07] JStickler commented on #33052
Fixed via https://github.com/openshift/openshift-docs/pull/34983

[2021-09-20 01:07] #33052 closed

[2021-09-20 02:43] #31811 closed

[2021-09-20 05:14] tnk4on commented on #34314
I fixed it with my PR. Please review https://github.com/openshift/openshift-docs/pull/36547.

[2021-09-20 13:32] mkimuram commented on #32723
/remove-lifecycle rotten

[2021-09-20 14:07] #36055 closed

[2021-09-20 14:38] stevsmit commented on #36055
We have fixed your submission, @0kashi. Thank you for submitting!

[2021-09-20 14:43] #31857 closed

[2021-09-20 15:32] GroceryBoyJr commented on #30745
/remove-lifecycle stale

[2021-09-20 18:31] bostoys opened #36578 "[online] Issue in file architecture/acs-architecture.adoc"
### Which section(s) is the issue in?

In the "Sensor" subsection of the "Per-cluster components" section.

### What needs fixing?

"Red Hat Advanced Cluster Security for Kubernetes uses the Sensor component to monitor Kubernetes and OpenShfit clusters" has a typo in "OpenShift".

[2021-09-20 18:36] bostoys opened #36579 "[online] Issue in sidebar link for RHACS documentation"
### Which section(s) is the issue in?

In the sidebar, under the "Operating" section, there is a link for "Examining images for vulnabilities" which misspelled vulnerabilities. The URL itself is correct as well as the title of the page it links to. Only the sidebar link is misspelled.

[2021-09-20 18:47] bostoys commented on #36578
public URL for the page is https://docs.openshift.com/acs/architecture/acs-architecture.html

[2021-09-20 19:05] tnk4on commented on #34314
Related issue https://github.com/openshift/openshift-docs/issues/35357 (aleady closed).

[2021-09-21 08:44] #31907 closed

[2021-09-21 20:24] nermina-redhat commented on #33510
@paulczar is this still relevant or we took care of it with the latest doc changes?

[2021-09-21 22:09] maxwelldb commented on #36578
@gaurav-nelson I think you last touched this one, going by history.

[2021-09-21 22:10] maxwelldb commented on #36579
@gaurav-nelson Assigning based on history. Feel free to throw it back if I'm wrong!

[2021-09-21 23:18] maxwelldb commented on #36578
Fixed by #36635

[2021-09-21 23:18] #36578 closed

[2021-09-21 23:18] maxwelldb commented on #36579
Fixed by #36635

[2021-09-21 23:18] #36579 closed

[2021-09-22 03:03] hupiper opened #36637 "[enterprise-4.7] Issue in file storage/persistent_storage/persistent-storage-iscsi.adoc"
### Which section(s) is the issue in?
Very first sentence on the page - You can provision your OpenShift Container Platform cluster with persistent storage using iSCSI. Some familiarity with Kubernetes and iSCSI is assumed.

### What needs fixing?
The word iSCSI is a link, the link is: https://access.redhat.com/documentation/en-US/Red_Hat_Enterprise_Linux/7/html/Storage_Administration_Guide/ch-isc

[2021-09-22 06:19] sunsern-k opened #36638 "[online] Issue in file storage/persistent_storage/osd-persistent-storage-aws.adoc"
### Which section(s) is the issue in?

The introduction of this document mentioning AWS EFS.
However, there is the second sentence mentioning AWS **AFS**

### What needs fixing?
I understood that it is a typo which should be AWS **EFS**.

[2021-09-22 10:50] pamoedom opened #36648 "[enterprise-4.8] Issue in file storage/persistent_storage/persistent-storage-local.adoc"
### Which section(s) is the issue in?

https://docs.openshift.com/container-platform/4.8/storage/persistent_storage/persistent-storage-local.html#local-storage-install_persistent-storage-local

### What needs fixing?

The `OperatorGroup` example included in the doc references an old API version `operators.coreos.com/v1alpha2` when it should reference now the `operators.coreos.com/v1` as per the AP

[2021-09-22 11:23] pamoedom opened #36650 "[enterprise-4.8] Issue in file storage/persistent_storage/persistent-storage-local.adoc"
### Which section(s) is the issue in?

https://docs.openshift.com/container-platform/4.8/storage/persistent_storage/persistent-storage-local.html#local-storage-discovery_persistent-storage-local

### What needs fixing?

The included `LocalVolumeSet` example has an incorrect parameter called `deviceMechanicalProperty`, it should be `deviceMechanicalProperties` instead as follows:

[code]

I've conf

[2021-09-22 13:30] codyhoag commented on #32694
This has been fixed in #32776. Closing

[2021-09-22 13:30] #32694 closed

[2021-09-22 14:20] pwright opened #36655 "[enterprise-4.8] Issue in docs"
### Which section(s) is the issue in?
no section

### What needs fixing?
no docs for ROUTER_SERVICE_HTTPS_PORT

[2021-09-22 14:31] pwright commented on #36655
oops, ROUTER_SERVICE_HTTPS_PORT doesn't exist in 4.x, closing

[2021-09-22 14:31] #36655 closed

[2021-09-22 15:16] codyhoag commented on #33869
/remove-lifecycle stale

[2021-09-22 15:17] codyhoag commented on #26529
/reopen

[2021-09-22 15:17] codyhoag commented on #26529
/remove-lifecycle rotten

[2021-09-23 02:29] theadisoni opened #36686 "[enterprise-4.8] Issue in file service_mesh/v2x/preparing-ossm-installation.adoc"
### Which section(s) is the issue in?
Hi Team,
Below [0] having issues with referring to the version of TA[Technical Preview] for OVN-Kubernetes have included till v4.6 and v4.7 not anything about v4.8 as these docs of V4.8 then it must include info regarding that creating lots of confusion while referring them.

Let me know if you need more explanation about it.

[0] https://docs.openshift.com/co

[2021-09-23 02:33] theadisoni opened #36687 "[enterprise-4.8] Issue in file service_mesh/v2x/servicemesh-release-notes.adoc"
### Which section(s) is the issue in?
Below  [1] having issues with referring to the version of TA[Technical Preview] for OVN-Kubernetes have included till v4.6 and v4.7 not anything about v4.8 as these docs of V4.8 then it must include info regarding that creating lots of confusion while referring them.

Let me know if you need more explanation about it.

[1] https://docs.openshift.com/container-

[2021-09-23 15:35] brianinnes opened #36703 "[OKD] Diagram refers to RHCOS instead of FCOS"
### Which section(s) is the issue in?

The installation overview page : https://docs.okd.io/latest/installing/index.html

### What needs fixing?

Figure 2. Creating the bootstrap, control plane, and compute machines : shows the control plane nodes running on RHCOS instead of FCOS

/assign @mburke5678
/assign @dmueller2001

[2021-09-24 08:00] jinyunma commented on #33497
Starting from ocp4.9,  vsphere old version (< 6.3 U2) and virtual hardware version 13 will be deprecated, related doc PR: https://github.com/openshift/openshift-docs/pull/35530. It's better to highlight this in release note. cc: @gnufied @duanwei33 if you have more comments.

[2021-09-24 14:45] ableischwitz opened #36746 "[enterprise-4.7] Issue in file networking/configuring_ingress_cluster_traffic/configuring-ingress-cluster-traffic-service-external-ip.adoc"
### Which section(s) is the issue in?

`You can attach an external IP address to a service so that it is available to traffic outside the cluster. This is generally useful only for a cluster installed on bare metal hardware. The external network infrastructure must be configured correctly to route traffic to the service.`

This paragraph is very misleading, as one may assume to only take care of r

[2021-09-24 14:50] #31950 closed

[2021-09-24 19:37] nicklesimba opened #36764 "[enterprise-4.8] Issue in file networking/hardware_networks/installing-sriov-operator.adoc"
### Which section(s) is the issue in?
3.b. included command

### What needs fixing?
"name: sriov-network-operator-subsription"
Typo for "subscription"

[2021-09-24 20:18] jboxman commented on #36764
@nicklesimba thanks for reporting this!

[2021-09-24 20:18] #36764 closed

[2021-09-26 14:49] #31630 closed

[2021-09-27 02:49] #32045 closed

[2021-09-27 04:42] sunsern-k opened #36778 "[OSD 4] - https://github.com/openshift/openshift-docs/blob/dedicated-4/modules/ccs-aws-provisioned.adoc"
### Which section(s) is the issue in?
https://github.com/openshift/openshift-docs/blob/dedicated-4/modules/ccs-aws-provisioned.adoc
The VPC section mentions that "the VPC needs the following configurations:"

**Router tables: One router table per private subnet, and one additional table per cluster.**

### What needs fixing?
Should the "router table(s)" be the "route table(s)" per the resource nam

[2021-09-27 13:16] jeana-redhat commented on #33497
https://issues.redhat.com/browse/OSDOCS-1896
Include a Grafana deprecation notice in release notes and Monitoring documentation
@simonpasquier do you know if this item is still relevant/correct? You can respond on the Jira item, I know conversation in the replies to this tracker item can be tedious :)

[2021-09-27 13:48] #36094 closed

[2021-09-27 20:05] bgottfried91 opened #36813 "[enterprise-4.8] Issue in file openshift_images/using-templates.adoc"
### Which section(s) is the issue in?

Images/Using Templates/Writing Template Parameters

### What needs fixing?

There is a section on two types of parameters that reads:

Note that these formats are the same (both are `${PARAMETER_NAME}`), which make no sense if they should be referenced in different ways.

This structure holds all the way back to version 4.4 of the documentation.

In versions

[2021-09-28 02:11] hashnao opened #36818 "[enterprise-4.8] Issue in file networking/configuring-ptp.adoc"
### Which section(s) is the issue in?
Configuring Linuxptp services

### What needs fixing?
The guide says `node.Labels` and `node.Name` from the node object when specifying mutch rules in the PtpConfig CR object.

[code]

* Specify nodeLabel with the key of node.Labels from the node object.
* Specify nodeName with node.Name from the node object.

I think these imply getting the key and the name u

[2021-09-28 08:45] binnes commented on #34106
/remove-lifecycle stale

[2021-09-28 10:59] cg2p commented on #32948
Documentation still broken

[2021-09-28 13:20] jaboc opened #36825 "[enterprise-4.8] Issue in file security/container_security/security-container-signature.adoc"
### Which section(s) is the issue in?
This whole document is horribly out of date.

### What needs fixing?
registry.redhat.io.yaml isn't created at anypoint but should be found anyway?
There's no guidance on sigstores and what they're for.
butane is suggested to be unnecessarily used without any guidance on what butane is or how to get it etc.
The example config doesn't work.

[2021-09-28 14:41] patrickstrick opened #36831 "[enterprise-4.8] Issue in file installing/installing_azure/installing-azure-customizations.adoc"
### Which section(s) is the issue in?
Optional configuration parameters

### What needs fixing?
The `compute` and `controlPlane` parameters say, "for details, see the following "Machine-pool" table" however there is no table on this page by that name.

That table needs to be added. We should not "fix" this error by simply removing the sentence I quoted as the missing information it is referring to

[2021-09-28 19:27] nladha09 opened #36860 "Create Documentation section - "How do I create a custom ingresscontroller?""
While working on an issue with @Miciah (<-- huge thanks for the continuous knowledge share!!) we determined a gap in our documentation (_although It's possible we have a blog post somewhere_) as there is no specific section that addresses creating a custom ingresscontroller as a distinct topic.

Creating a custom ingresscontroller requires having an ingresscontroller manifest (json or yaml) and us

[2021-09-28 19:50] #36289 closed

[2021-09-28 20:19] jboxman commented on #36860
cc @bmcelvee

[2021-09-29 13:17] jeana-redhat commented on #33497
@romfreiman Re: SNO, sounds like the Telco writing team is planning to add the release note for this, so I am marking it as done from our side.

Thanks @stevsmit & @sjstout for tracking this one down :slightly_smiling_face:

[2021-09-29 16:33] bergerhoffer opened #36912 "Command and text are cut off in a note"
### Which section(s) is the issue in?

"Creating cron jobs": https://docs.openshift.com/container-platform/4.8/nodes/jobs/nodes-nodes-jobs.html#nodes-nodes-jobs-creating-cron_nodes-nodes-jobs

### What needs fixing?

The note at the bottom of the page has a long command that is wider than the box and some of the words and command are cut off:

![image](https://user-images.githubusercontent.com/744

[2021-09-29 16:34] bergerhoffer commented on #36912
Marking this as a good candidate for Hacktoberfest.

PR to fix this should be submitted against the `main` branch, and ping me with any questions!

[2021-09-29 16:37] peterclauterbach opened #36913 "[enterprise-4.8] Issue in file installing/installing_rhv/installing-rhv-default.adoc"
### Which section(s) is the issue in?

Requirements for the RHV environment

### What needs fixing?

Is the example supposed to link somewhere?

[2021-09-29 16:41] bergerhoffer opened #36914 "Callouts should use normal callout syntax"
### Which section(s) is the issue in?

Running tasks in pods using jobs: https://docs.openshift.com/container-platform/4.8/nodes/jobs/nodes-nodes-jobs.html#nodes-nodes-jobs-creating-cron_nodes-nodes-jobs

### What needs fixing?

The callouts below the code block use regular numbers to specify the text for each callout:

![image](https://user-images.githubusercontent.com/7443887/135311926-b12bf1e7-

[2021-09-29 16:42] bergerhoffer commented on #36914
Marking this as a good candidate for Hacktoberfest.

PR to fix this should be submitted against the `main` branch, and ping me with any questions!

[2021-09-29 16:53] bergerhoffer opened #36916 "Procedure formatting/numbering is off"
### Which section(s) is the issue in?

Creating the frontend service: https://docs.openshift.com/container-platform/4.8/openshift_images/templates-using-ruby-on-rails.html#templates-rails-creating-frontend-service_templates-ruby-on-rails

### What needs fixing?

Something is off about this procedure, where step 3 is an "Example output", and then after that code block, the numbering resets to 1:

!

[2021-09-29 16:53] bergerhoffer commented on #36916
Marking this as a good candidate for Hacktoberfest.

PR to fix this should be submitted against the `main` branch, and ping me with any questions!

[2021-09-29 17:10] bergerhoffer opened #36917 "YAML source missing for code blocks"
### Which section(s) is the issue in?

Installing the Cluster Resource Override Operator using the web console: https://docs.openshift.com/container-platform/4.8/nodes/clusters/nodes-cluster-overcommit.html#nodes-cluster-resource-override-deploy-console_nodes-cluster-overcommit

### What needs fixing?

Steps 3 and 4 have code blocks with YAML in them, but the source isn't specified as YAML, so it'

[2021-09-29 17:10] bergerhoffer commented on #36917
Marking this as a good candidate for Hacktoberfest.

PR to fix this should be submitted against the `main` branch, and ping me with any questions!

[2021-09-29 17:14] bergerhoffer opened #36918 "Missing source in code blocks in limit ranges"
### Which section(s) is the issue in?

Restrict resource consumption with limit ranges: https://docs.openshift.com/container-platform/4.8/nodes/clusters/nodes-cluster-limit-ranges.html

### What needs fixing?

A few modules in this limit ranges assembly have code blocks that are missing the source specification. They need to have `[source,terminal]` added above the code block, like:

[code]

- htt

[2021-09-29 17:15] bergerhoffer commented on #36918
Marking this as a good candidate for Hacktoberfest.

PR to fix this should be submitted against the `main` branch, and ping me with any questions!

[2021-09-29 17:33] bergerhoffer opened #36920 "Procedure numbering incorrectly restarts"
### Which section(s) is the issue in?

Specifying how a service is monitored: https://docs.openshift.com/container-platform/4.8/monitoring/managing-metrics.html#specifying-how-a-service-is-monitored_managing-metrics

### What needs fixing?

The procedure numbering is off. After step 2, the numbering restarts at 1:

![image](https://user-images.githubusercontent.com/7443887/135319460-7aafe2d8-f498-

[2021-09-29 17:33] bergerhoffer commented on #36920
Marking this as a good candidate for Hacktoberfest.

PR to fix this should be submitted against the `main` branch, and ping me with any questions!

[2021-09-29 17:40] jmakhack commented on #36914
@bergerhoffer, I just opened a pull request for this issue: #36919.
Please let me know if anything else is required from my end.

[2021-09-29 18:29] bergerhoffer commented on #36914
@jmakhack that's great, thanks! I assigned this issue to you. Are you wanting this PR to count toward Hacktoberfest? Because I think that you might have to wait until Oct 1 to submit the PR before it will count toward that (if I understand the rules correctly).

So if you want it to count, you might want to close that PR and open it again in 2 days :) The PR looks great though. Just let me know ho

[2021-09-29 18:45] jmakhack commented on #36914
@bergerhoffer Ah that's right. Looks like I went ahead of myself with the pull request. I closed the current one and will open a new one in two days.

[2021-09-29 19:22] jboxman commented on #36912
@aireilly this might be a relatively easy CSS fix.

[2021-09-29 19:33] aireilly commented on #36912
@jboxman what are you thinking? like a scoll bar or something?

[2021-09-29 19:39] jboxman commented on #36912
@aireilly, yes, outside of these admonition boxes I think these do scroll. Not sure why the box breaks this behavior.

[2021-09-29 20:18] aireilly commented on #36912
Also, Hacktoberfest?! sign me up :)

[2021-09-30 01:06] bergerhoffer commented on #36914
@jmakhack Sounds good! I like the enthusiasm :)

[2021-09-30 08:53] pwright commented on #32952
/remove-lifecycle rotten

[2021-09-30 17:04] bergerhoffer commented on #36813
@bmcelvee it looks like [this PR](https://github.com/openshift/openshift-docs/pull/28198) changed a few instances of `${{PARAMETER_NAME}}` to `${PARAMETER_NAME}`. Can you confirm whether this was intentional or not, or if they can be changed back?

If they can be changed back, we could mark this as a good candidate for Hacktoberfest.

[2021-09-30 17:07] bergerhoffer commented on #36638
Marking this as a good candidate for Hacktoberfest.

PR to fix this should be submitted against the `dedicated-4` branch, and ping me with any questions!

[2021-09-30 17:07] bergerhoffer commented on #32253
/remove-lifecycle rotten

[2021-09-30 17:09] bergerhoffer commented on #32253
Marking this as a good candidate for Hacktoberfest. Looking at the history for the file, it looks like "resets" would be the best term to use.

PR to fix this should be submitted against the `main` branch, and ping me with any questions!

[2021-09-30 17:12] bmcelvee commented on #36813
@bergerhoffer Oh, yeah, there was a mix of `${{PARAMETER_NAME}}` and `${PARAMETER_NAME}`. with fewer instances of `${{PARAMETER_NAME}}`. I made a poor judgement call. No issues with them being changed!

[2021-09-30 17:13] bergerhoffer commented on #36813
Great thanks @bmcelvee! I'll mark it for Hacktoberfest.

[2021-09-30 17:15] bergerhoffer commented on #36813
Marking this as a good candidate for Hacktoberfest.

Any instances from [this file diff](https://github.com/openshift/openshift-docs/pull/28198/files#diff-ffaf29ed05e43349bad0109c886c8ae42853013f3b63bf5edbe5eebfc50f57e0) where {{PARAMETER_NAME}} was changed to {PARAMETER_NAME} should be changed back.

PR to fix this should be submitted against the `main` branch, and ping me with any questions!

[2021-09-30 17:21] bergerhoffer commented on #36778
We'll get QE/SME to confirm, but I agree that it's probably "route table"

[2021-09-30 17:22] bergerhoffer commented on #36778
Marking this as a good candidate for Hacktoberfest.

PR to fix this should be submitted against the `dedicated-4` branch, and ping me with any questions!

[2021-09-30 17:25] bergerhoffer commented on #36648
Marking this as a good candidate for Hacktoberfest.

In the section linked above,
`apiVersion: operators.coreos.com/v1alpha2`
should be changed to:
`apiVersion: operators.coreos.com/v1`

PR to fix this should be submitted against the `main` branch, and ping me with any questions!

[2021-09-30 17:27] jboxman commented on #36650
cc @bergerhoffer maybe this one?

[2021-09-30 17:28] jboxman commented on #36637
@hupiper thanks for reporting this!

[2021-09-30 17:28] bergerhoffer commented on #36637
This was recently fixed by @jboxman in https://github.com/openshift/openshift-docs/pull/36704. Closing!

[2021-09-30 17:28] #36637 closed

[2021-09-30 17:39] bergerhoffer commented on #36282
I believe that these are just example node names, both where master-0 and master0 are shown. The node names will most likely be something different altogether depending on the cluster.

We could consider adding a note that these are just example names. Or we could consider coming through this whole page and updating them all to follow our example node name guidelines here, which would be `control-

[2021-09-30 17:43] bergerhoffer commented on #36166
Marking this as a good candidate for Hacktoberfest.

I believe that the duplicated lines can just be removed from the `osdk-golang-generate-crd.adoc` file.

PR to fix this should be submitted against the `main` branch, and ping me with any questions!

[2021-09-30 17:58] bergerhoffer commented on #36283
Looks like this was fixed by @gaurav-nelson in #36277. Closing!

[2021-09-30 17:58] #36283 closed

[2021-09-30 17:59] bergerhoffer commented on #36316
This was fixed by @gaurav-nelson in #36277. Closing!

[2021-09-30 17:59] #36316 closed

[2021-09-30 18:00] bergerhoffer commented on #36318
@kalexand-rh Whenever you do the 4.8->4.9 sweep (via https://issues.redhat.com/browse/OSDOCS-2368), can you close out this issue? Thanks!

[2021-09-30 18:38] jboxman commented on #32952
cc @adellape

[2021-10-01 16:03] danwinship opened #36979 "confusing wording in egress router docs"
### Which section(s) is the issue in?

https://docs.openshift.com/container-platform/4.8/networking/openshift_sdn/deploying-egress-router-layer3-redirection.html

### What needs fixing?

In "footnote" 1 on the yaml, it says:

The first sentence is describing something that _OCP_ does, but it's worded as though it's telling the user that _they_ have to do something (like all of the other sentences

[2021-10-01 16:06] bobfuru commented on #28200
/remove-lifecycle stale

[2021-10-01 20:27] mburke5678 commented on #34106
@dmueller2001 I believe we decided upon removing "Latest", keeping versions 3.6-3.11, and 4.6-4.8, right? (OCP versions 4.1-4.5 are not supported. The docs are there, but not maintained.)

[2021-10-01 20:52] mburke5678 commented on #33227
Changes are live

[2021-10-01 20:52] #33227 closed

[2021-10-02 02:57] #32196 closed

[2021-10-02 15:39] Annysah commented on #36918
Hello @bergerhoffer,
I would love to work on this issue.

[2021-10-03 17:25] Aryamanz29 commented on #36920
@bergerhoffer  I would to like work on this

[2021-10-04 04:02] MichaelWasher opened #37011 "[enterprise-4.6] The provided examples in networking/network_policy/about-network-policy.adoc are wrong"
The provided examples in the `networking/network_policy/about-network-policy.adoc` do not use the podSelector field correctly.

This results in an error of the following:
[code]

### Which section(s) is the issue in?
The NetworkPolicy examples need to have `{}` after the `podSelector` field.
Below is an example from the page, however there are a couple of these and it appears to affect multiple ve

[2021-10-04 07:59] pamoedom commented on #26582
/remove-lifecycle rotten

[2021-10-04 08:57] #30085 closed

[2021-10-04 09:51] binnes commented on #34106
I think we need to keep latest - so doc links can be created in other material (such as okd.io) that will always point to the most up to date content, but we should also allow older version, such as 4.6, to be selected.

Latest will be a pointer to the current version of OKD

[2021-10-04 13:05] aireilly commented on #36355
@vikram-redhat can you assign this one to me please

[2021-10-04 13:06] aireilly commented on #36143
@vikram-redhat can you assign this one to me please.

[2021-10-04 14:57] #32255 closed

[2021-10-04 15:28] codyhoag commented on #32182
/reopen

[2021-10-04 15:29] codyhoag commented on #32182
/remove-lifecycle rotten

[2021-10-04 15:38] codyhoag commented on #32182
This issue is being tracked under [OSDOCS-1921](https://issues.redhat.com/browse/OSDOCS-1921), which is part of an improvement effort to more distinctly document the vSphere permissions required for OCP.

[2021-10-04 15:40] codyhoag commented on #26582
@staebler this fell off my radar, but wanted to resurface it. Do you have any opinions on this? (questions [here](https://github.com/openshift/openshift-docs/issues/26582#issuecomment-762954614)).

[2021-10-04 17:57] bergerhoffer commented on #36920
@Aryamanz29 great! I've assigned the issue to you. Let me know if you have any questions along the way!

[2021-10-04 17:58] bergerhoffer commented on #36918
@Annysah great thank you! I've assigned the issue to you. Let me know if you have any questions!

[2021-10-04 18:03] mbach04 opened #37053 "[enterprise-4.8] Issue in file installing/installing_bare_metal_ipi/ipi-install-installation-workflow.adoc"
### Which section(s) is the issue in?
https://docs.openshift.com/container-platform/4.8/installing/installing_bare_metal_ipi/ipi-install-installation-workflow.html

### What needs fixing?
Move this page under [Installing on Bare Metal]

Customers looking to get started with a Bare Metal install will easily miss the IPI option for Bare Metal in the current configuration.

[2021-10-04 18:23] bergerhoffer commented on #36650
Thanks @jboxman

Agree, marking this one as a good candidate for Hacktoberfest.

The field should be changed from `deviceMechanicalProperty` to `deviceMechanicalProperties`.

The update should be made against the `main` branch. And ping me with any questions!

[2021-10-04 18:28] #36914 closed

[2021-10-04 18:29] bergerhoffer commented on #36914
Issue closed because PR has been merged!

[2021-10-04 20:50] bergerhoffer commented on #37011
Marking this as a good candidate for Hacktoberfest, to add the `{}` after the `podSelector: ` field.

Make this change against the `main` branch. Let me know if there are any questions!

[2021-10-04 20:57] jboxman commented on #37053
cc @johnwilkins

[2021-10-04 21:27] maxwelldb opened #37071 "[enterprise-4.9] Sub in Octavia link in ShiftStack RNs"
### Which section(s) is the issue in?

For context, see: https://github.com/openshift/openshift-docs/pull/36531/files

### What needs fixing?

Add link prior to merge freeze.

[2021-10-04 21:28] bergerhoffer commented on #36638
Closing as #36967 was merged!

[2021-10-04 21:28] #36638 closed

[2021-10-04 22:52] florianmoss opened #37072 "[enterprise-4.8] Issue in file updating/update-using-custom-machine-config-pools.adoc"
### Which section(s) is the issue in?
The first paragraph, the word 'scenario' is spelled wrong.

### What needs fixing?
FROM
"There might be some secenarios where you want a more controlled rollout"
TO
"There might be some scenarios where you want a more controlled rollout"

[2021-10-04 22:58] mralexjuarez opened #37073 "[enterprise-4.7] Issue in file scalability_and_performance/using-cluster-loader.adoc"
### Which section(s) is the issue in?
Running Cluster Loader

### What needs fixing?
The following example needs to be updated as per the following BZ https://access.redhat.com/solutions/5702571 some of the tests have had their name changed.

Example as is:
$ podman run -v ${LOCAL_KUBECONFIG}:/root/.kube/config:z -i \
quay.io/openshift/origin-tests:4.7 /bin/bash -c 'export KUBECONFIG=/root/.kube/c

[2021-10-05 13:54] eliseaston commented on #36916
I would like to work on this if it's still available please

[2021-10-05 14:04] bergerhoffer commented on #37072
Thanks for noticing and reporting!

Marking this as a good candidate for Hacktoberfest.

If anyone wants to fix this typo, make the update against the `main` branch. And ping me with any questions!

[2021-10-05 14:06] bergerhoffer commented on #36916
@eliseaston absolutely, thank you! You can tag me when you open the PR. Let me know if you have any questions!

[2021-10-05 14:07] bergerhoffer commented on #36912
@aireilly @jboxman Let us know if you think you'll pursue a CSS fix for this and/or if someone should fix this instance in the meantime.

[2021-10-05 17:48] bergerhoffer commented on #37072
PR has been merged, closing!

[2021-10-05 17:48] #37072 closed

[2021-10-05 19:34] lautou commented on #28191
Hi any update for this?

[2021-10-05 19:34] lautou commented on #33481
Hi any update for this ticket?

[2021-10-05 19:34] lautou commented on #33489
Hi any update for this ticket?

[2021-10-05 19:35] lautou commented on #33509
Hi any update for this ticket?

[2021-10-05 19:39] lautou opened #37107 "[enterprise-4.8] Issue in file installing/installing_vsphere/installing-vsphere.adoc"
### Which section(s) is the issue in?

vCenter requirements

### What needs fixing?
Add "Using OpenShift Container Platform with vMotion" paragraph as it was done for vSphere IPI installation pages:
https://docs.openshift.com/container-platform/4.8/installing/installing_vsphere/installing-vsphere-installer-provisioned-network-customizations.html

[2021-10-05 20:10] codyhoag commented on #33509
@lautou I confirmed with Engineering that this should no longer be an issue, so I'm removing the note all together in #37112

[2021-10-05 20:24] codyhoag commented on #37107
@gnufied any reason why we should not proceed with adding the vMotion doc section originally added in #29499 for vSphere UPI?

[2021-10-05 22:18] raffamendes opened #37125 "[online] Issue in file operating/examine-images-for-vulnerabilities.adoc"
### Which section(s) is the issue in?
https://docs.openshift.com/acs/operating/examine-images-for-vulnerabilities.html#pereodic-scanning-of-images_examine-images-for-vulnerabilities

### What needs fixing?
Pereodic -> Periodic

[2021-10-06 14:56] pwright opened #37143 "[enterprise-4.8] Issue in file metering/metering-about-metering.adoc"
### Which section(s) is the issue in?

https://docs.openshift.com/container-platform/4.8/metering/metering-about-metering.html

### What needs fixing?

"Metering is a deprecated feature.

This seems very broad, what should I do? switch to prometheus?

[2021-10-06 16:37] lautou commented on #33509
@codyhoag I confirm the issue is solved in https://deploy-preview-37112--osdocs.netlify.app/openshift-enterprise/latest/installing/installing_bare_metal/installing-bare-metal.html#machine-requirements_installing-bare-metal
I am closing this issue.

[2021-10-06 16:52] #28191 closed

[2021-10-06 19:48] TheRealJon opened #37162 "[enterprise-4.8] Issue in file monitoring/managing-alerts.adoc"
### Which section(s) is the issue in?
https://docs.openshift.com/container-platform/4.8/monitoring/managing-alerts.html#creating-alerting-rules-for-user-defined-projects_managing-alerts

### What needs fixing?
The following is listed in the "Prerequisites" section for  "Creating alerting rules for user-defined projects":

We should provide a link to the appropriate docs on how to accomplish this p

[2021-10-06 20:19] codyhoag opened #37164 "Typo when referring to existing CAs"
### Which section(s) is the issue in?

- https://docs.openshift.com/container-platform/4.8/installing/installing_aws/installing-restricted-networks-aws.html#installation-generate-aws-user-infra-install-config_installing-restricted-networks-aws
- https://docs.openshift.com/container-platform/4.8/installing/installing_ibm_z/installing-restricted-networks-ibm-z-kvm.html#installation-bare-metal-config

[2021-10-06 20:20] codyhoag commented on #37164
This is marked for Hacktoberfest.

The PR to fix this should be submitted against the `main` branch. Feel free to reach out to me with any questions!

[2021-10-07 01:29] jboxman commented on #32984
@bergerhoffer, possibly useful for Ofest.

[2021-10-07 13:06] martinkennelly opened #37180 "[enterprise 4.9] typo in egress router spec"
### Which section(s) is the issue in?
https://github.com/openshift/openshift-docs/blob/940059c583703d1f6e84f70ba507d4564c8499de/modules/nw-egress-router-cr.adoc

Within "Example egress router specification" spec:
```  mode: "bridge"```

### What needs fixing?
It should be "Bridge" instead of "bridge"
Otherwise you get error:

``The EgressRouter "er" is invalid: spec.networkInterface.macvlan.mode:

[2021-10-07 13:16] bergerhoffer commented on #36912
Awesome thanks @gaurav-nelson! I don't know how to verify the PR though since the CSS isn't used in the preview. @jboxman can you help with that?

[2021-10-07 13:18] bergerhoffer commented on #32984
@jboxman the solution isn't obvious to me. Can you share what the fix would be? To remove the whole example?

[2021-10-07 13:34] siamaksade commented on #33497
Volume support in BuildConfigs is missing

[2021-10-07 13:40] poo17nam commented on #37164
@codyhoag  Thank you! I've raised a PR with the fix.
https://github.com/openshift/openshift-docs/pull/37171

[2021-10-07 13:46] #37164 closed

[2021-10-07 20:49] rolfedh commented on #33497
https://github.com/openshift/openshift-docs/pull/37160/

[2021-10-07 20:51] rolfedh commented on #33497
@adambkaplan WIP: https://github.com/openshift/openshift-docs/pull/37160/files

[2021-10-08 19:07] kmccarron-rh commented on #33497
This one has been sent for review: https://github.com/openshift/openshift-docs/pull/37263

[2021-10-09 03:05] #32435 closed

[2021-10-09 03:05] #32442 closed

[2021-10-09 06:01] yunjiang29 commented on #33497
@jeana-redhat  known issue for installer, should be added in release note:
Bug [1997059](https://bugzilla.redhat.com/show_bug.cgi?id=1997059) - Failed to create cluster in AWS us-east-1 region due to a local zone is used

cc @staebler @codyhoag

[2021-10-09 08:37] jianzhangbjz commented on #33497
1. OLM fails to update the operator immediately when switching the operator channels. Workaround: recreate the corresponding `CatalogSource` pod. Details: https://bugzilla.redhat.com/show_bug.cgi?id=2002276
2. `opm render` doesn't create the `olm.bundle.object` automatically, this will lead to no `packagemanifest` display on console or backend. The user has to add it manually for now.
Bug: https:/

[2021-10-09 08:54] jinyunma commented on #33497
Known issue when enabling Tang disk encryption on upi-on-vsphere cluster, need to highlight in release notes.
Bug [1975701](https://bugzilla.redhat.com/show_bug.cgi?id=1975701) - [vsphere][upi] Network is changed to dhcp configuration after second reboot when Tang disk encryption is enabled

Since there is workaround in the bug, it's better to add this workaround in doc [Encrypting and mirroring d

[2021-10-09 11:10] xingxingxia commented on #33497
[1991448](https://bugzilla.redhat.com/show_bug.cgi?id=1991448) for epic AUTH-13 may be needed to be documented under "Known issues" section of the release notes. CC @yaoli-redhat , @adambkaplan @alicerum , @s-urbaniak @slaskawi

[2021-10-10 18:38] Mohitkumar6122 commented on #36813
@bergerhoffer, I'd like to take on this issue!

[2021-10-11 03:43] yunjiang29 commented on #33497
@jeana-redhat another known issue for AWS ap-northeast-3 region should be added in release note, please refer to @staebler 's [comment](https://bugzilla.redhat.com/show_bug.cgi?id=1996544#c4) , thanks

[Bug 1996544](https://bugzilla.redhat.com/show_bug.cgi?id=1996544) - AWS region ap-northeast-3 is missing in installer prompt

cc @codyhoag

[2021-10-11 07:05] liqcui opened #37292 "issue in hardware_enablement psap-special-resource-operator.html for ocp 4.9"
### Which section(s) is the issue in?
https://docs.openshift.com/container-platform/4.9/hardware_enablement/psap-special-resource-operator.html

### What needs fixing?
The issue have in the following section
Installing the Special Resource Operator by using the CLI

Change:
Create the following Subscription CR and save the YAML in the sro-sub.yaml file:
Example Subscription CR

**apiVersion: opera

[2021-10-11 14:37] mburke5678 commented on #34314
Docs PR is merged. Thanks!!

[2021-10-11 17:33] bergerhoffer commented on #37125
Right, the branch to fix this in would be `rhacs-docs`.

CCing @gaurav-nelson

Also marking this as a good candidate for Hacktoberfest, in case any outside contributors want to take a stab at the fix.

[2021-10-11 19:03] bergerhoffer commented on #36813
Thanks @Mohitkumar6122! Let me know if you have any questions along the way!

[2021-10-11 20:14] Mohitkumar6122 commented on #36813
@bergerhoffer, I hope you're talking about these changes?

![image](https://user-images.githubusercontent.com/47894634/136850329-75c66fb4-310e-40a3-9e88-b394f26cb298.png)

[2021-10-12 03:35] zhaozhanqi commented on #33497
Pod may go into error status due to 'error killing pod' for 'openshift-sdn' plugin. there is a bug
https://bugzilla.redhat.com/show_bug.cgi?id=1997476
Bug 1997476 - pod in Error due to KillPodSandbox
There is workaround is recreate that pod can be fixed.

[2021-10-12 03:48] zhaozhanqi commented on #33497
Sometimes pods are stuck in 'ContainerCreating' state with error 'failed to configure pod interface: timed out waiting for OVS port binding'  when creating many pods for OVN-kubernetes plugin.  There is known issue
Bug [2005598](https://bugzilla.redhat.com/show_bug.cgi?id=2005598
) - [4.9]Failed to configure pod interface: timed out waiting for OVS port binding
cc @anuragthehatter @qiliRedHat

[2021-10-12 19:51] mburke5678 commented on #34106
PR is merged

[2021-10-13 07:13] Javatar81 opened #37426 "[online] Broken link in resources section of Installing OpenShift Pipelines"
### Which section(s) is the issue in?
In the online docs of OCP 4.7 and 4.8. Section: [Installing OpenShift Pipelines](https://docs.openshift.com/container-platform/4.7/cicd/pipelines/installing-pipelines.html#additional-resources)

### What needs fixing?

Link to Mirroring images to run pipelines in a restricted environment is broken.

This is the broken link: https://docs.openshift.com/container

[2021-10-13 18:46] #36166 closed

[2021-10-14 00:49] TiloGit opened #37505 "[enterprise-4.8] Issue in file machine_management/applying-autoscaling.adoc"
### Which section(s) is the issue in?
ClusterAutoscaler resource definition
https://docs.openshift.com/container-platform/4.8/machine_management/applying-autoscaling.html#cluster-autoscaler-cr_applying-autoscaling

### What needs fixing?
Please clarify if 3-6. Is for worker nodes only or also include control plane (like maxNodesTotal)

<html><body>

  | Specify the minimum number of cores to deplo

[2021-10-14 03:26] yapei commented on #33497
two console bugs should be listed in `Known issues` for awareness
[Bug 2013132](https://bugzilla.redhat.com/show_bug.cgi?id=2013132) - [OCP 4.9 + OCS 4.8.3] Overview tab is missing under Storage after successful deployment on UI
[Bug 2013088](https://bugzilla.redhat.com/show_bug.cgi?id=2013088) - The nodes page in the openshift console doesn't work. You just get a blank page

[2021-10-14 15:19] #35804 closed

[2021-10-14 17:13] mburke5678 commented on #36703
@brianinnes Any changes to the diagrams/images in the OpenShift docs need to be made by the graphics team. I am told that the OKD diagrams also need to be created/edited by the team. I put in a request to re-create the graphic with FCOS in place of RHCOS. Not sure how long the process takes. Thanks for point this one out!

[2021-10-14 23:41] #36912 closed

[2021-10-15 03:09] #29524 closed

[2021-10-15 05:45] ChetRHosey opened #37575 "[enterprise-4.7] Issue in file cicd/gitops/configuring_argo_cd_to_recursively_sync_a_git_repository_with_your_application/configuring-an-openshift-cluster-by-deploying-an-application-with-cluster-configurations.adoc"
### Which section(s) is the issue in?

Logging in to the Argo CD instance by using your OpenShift credentials

### What needs fixing?

The title doesn't match the content.

This section doesn't explain how to log in using OpenShift credentials. It explains how to log in with a generated password which would have to be shared by all users.

[2021-10-15 12:50] #36318 closed

[2021-10-15 17:45] stevsmit opened #37586 "OCP 4.10 Release Notes Tracker"
Please leave comments here for anything that should be highlighted in the 4.10 release notes. If possible, provide a link to the Jira or BZ related to your item. Thank you!

**A note about migrating to Jira**
This tracker might be moved to Jira. In the event that happens, I will update accordingly and provide a direct link.

**A note about known issues**
All Bugzilla items that need to be document

[2021-10-16 03:55] MichaelWasher commented on #37011
Only the ones that have `podSelector` by itself need the `{}`. The specific examples that require this are:
* Deny all traffic
* Only accept connections from pods within a project

[2021-10-16 09:16] Mohitkumar6122 commented on #37011
@MichaelWasher, Thanks for clearing that up!
I'll start working on this issue ASAP!

[2021-10-17 06:37] sbulage commented on #37180
@bergerhoffer can this also be fixed .?

[2021-10-17 15:10] #32656 closed

[2021-10-17 21:11] #32638 closed

[2021-10-18 03:59] duanwei33 opened #37606 "BZ1944598: Manila CSI Driver should remove the support clone and resize"
### Which section(s) is the issue in?
https://docs.openshift.com/container-platform/4.7/storage/container_storage_interface/persistent-storage-csi.html#csi-drivers-supported_persistent-storage-csi
From OCP4.6

### What needs fixing?
Manila CSI Driver did not support clone and resize, please remove them in the Table 1. Supported CSI drivers and features in OpenShift Container Platform

https://bugz

[2021-10-18 08:06] avishayt opened #37609 "[enterprise-4.9] Issue in file installing/installing_bare_metal_ipi/ipi-install-overview.adoc"
### Which section(s) is the issue in?

The menu on the left

### What needs fixing?

There is a section called "Installing on bare metal", and I expected to find a subsection there about how to deploy an installer-provisioned bare metal cluster.  However, that's in a separate section called "Deploying installer-provisioned clusters on bare metal".  It was not trivial to find this.

[2021-10-18 14:10] dmc5179 opened #37626 "[enterprise-4.7] Issue in file installing/installing_aws/installing-aws-government-region.adoc"
### Which section(s) is the issue in?

AWS government and secret regions

### What needs fixing?

OpenShift 4 is supported in the AWS GovCloud, secret, and top secret regions. The docs currently only call out the secret region but are using the region code "us-iso-east-1" for the top secret region. Need to clean this section up a little.

[2021-10-19 06:37] theo3000 opened #37665 "[enterprise-4.9] Issue in file welcome/index.adoc"
### Which section(s) is the issue in?
Page -> https://docs.openshift.com/container-platform/4.9/welcome/index.html

[code]

### What needs fixing?
simple typo

`Container Platformon Azure` change 'Container Platform on Azure'

[2021-10-19 12:46] jwennerberg opened #37670 "[enterprise-4.9] Typo in OVN egress firewall example"
### Which section(s) is the issue in?

Issue in file networking/ovn_kubernetes_network_provider/configuring-egress-firewall-ovn.adoc
"How an egress firewall works in a project"

### What needs fixing?

Typo in first example in the "Important" block:

[code]
 should be changed to:
[code]

Needs fixing in `4.6`, `4.7`, `4.8` and `4.9` branches.

[2021-10-19 15:56] lgchiaretto opened #37696 "[enterprise-4.8] Issue in file backup_and_restore/backing-up-etcd.adoc"
### Which section(s) is the issue in?

Backing up etcd

### What needs fixing?

In this section, there's a reference to an Openshift 4.7.2 and it may be to an Openshift 4.8.z.

Be sure to take an etcd backup after you upgrade your cluster. This is important because when you restore your cluster, you must use an etcd backup that was taken from the same z-stream release. For example, an OpenShift Co

[2021-10-19 15:58] jeana-redhat commented on #34284
Closing this as @lbscorpio has resolved in #34310 - thanks so much!

[2021-10-19 15:59] bergerhoffer commented on #31928
FYI @tmalove of this issue if you want to look into it!

[2021-10-19 16:02] bergerhoffer commented on #34745
/remove-lifecycle stale

[2021-10-19 16:06] bergerhoffer commented on #34609
Hi @c00056, this is something that the documentation team will most likely not be able to help with. This should be opened as a support case or another assistance method depending on where you are working from.

[2021-10-19 16:43] bergerhoffer commented on #34518
/remove-lifecycle stale

[2021-10-19 16:47] #33964 closed

[2021-10-19 16:51] bergerhoffer commented on #33489
@maxwelldb Do you happen to know if there are any plans for docs for OpenStack UPI in a restricted env?

[2021-10-19 17:05] bergerhoffer commented on #34367
/remove-lifecycle stale

[2021-10-19 17:08] bergerhoffer commented on #32686
This looks to have been resolved via #36420. Closing!

[2021-10-19 17:08] #32686 closed

[2021-10-19 17:40] brianinnes opened #37706 "[OKD] oVirt install section"
### Which section(s) is the issue in?
The oVirt install section in the side menu uses RHV or section is missing in 4.7 docs and 4.8 docs

### What needs fixing?

- in 4.7 docs it is called RHV, but in documentation it is called oVirt
- in 4.8 docs the section is missing altogether
- in 4.9 docs it is called oVirt, which is correct

/assign @mburke5678
/assign @dmueller2001

[2021-10-19 19:13] sjhala-ccs commented on #35319
@stu-gott Can you please confirm if there needs to be a unit after the number `8`?

[2021-10-19 22:04] jboxman commented on #37670
cc @huiran0826 does this look good? Thanks!

[2021-10-19 23:10] gaurav-nelson commented on #35452
Thanks @bergerhoffer This is already fixed https://docs.openshift.com/acs/3.66/installing/install-ocp-operator.html#portal-generate-init-bundle_install-ocp-operator Please feel free to close this issue.

[2021-10-20 00:59] duanwei33 commented on #37606
Thanks for the update.
Sorry, I did not make it clear, it should be added in all 4.6+ (even in 4.10 branch).

[2021-10-20 01:05] huiran0826 commented on #37670
/lgtm

[2021-10-20 01:21] bergerhoffer commented on #35452
Awesome thanks @gaurav-nelson! Closing

[2021-10-20 01:21] #35452 closed

[2021-10-20 01:28] #37670 closed

[2021-10-20 03:37] bshirren opened #37740 "[enterprise-3.11] Issue in file admin_guide/out_of_resource_handling.adoc"
### Which section(s) is the issue in?

"Controlling Node Condition Oscillation" [1]

### What needs fixing?

Syntax error in "kubeletArguments" example:

[code]

Above does not apply at all due incorrect syntax. Per other examples in document the correct syntax is:

[code]

[1] https://docs.openshift.com/container-platform/3.11/admin_guide/out_of_resource_handling.html#out-of-resource-oscillation-

[2021-10-20 13:19] #37606 closed

[2021-10-20 13:38] Preeticp commented on #32948
/remove-lifecycle rotten

[2021-10-20 13:56] tmalove commented on #37696
Will do @bergerhoffer.

[2021-10-20 20:36] cg2p commented on #32948
I tried this with OCP on IBM Public Cloud, nothing to do with IBM Z.

Are you saying this error is specific to OCP on IBM Cloud - so the infrastructure platform matters?

It looks to me like an issue in the build pipeline and the CA of the integrated registry - I would have imagined that is nothing to do with the compute platform the OCP cluster is deployed to.

A test would be to try and re-poduc

[2021-10-21 09:34] kobi86 opened #37844 "[enterprise-4.8] Issue in file virt/live_migration/virt-live-migration.adoc"
### Which section(s) is the issue in?
Understanding live migration

### What needs fixing?
The section ```Virtual machines must have a persistent volume claim (PVC) with a shared ReadWriteMany (RWX) access mode to be live migrated.```
Needs to be highlighted like in docs for 4.5

**
The lest part in the Note section: ```This might degrade its security.```
Cant be That hidden, its can stay in the N

[2021-10-21 09:44] germanparente opened #37845 "[enterprise-4.8] Issue in file web_console/odc-about-web-terminal.adoc"
### Which section(s) is the issue in?

https://docs.openshift.com/container-platform/4.8/web_console/odc-about-web-terminal.html#removing-the-web-terminal-operator-and-the-custom-resources-that-support-it

### What needs fixing?

we see some differences than in:

 https://github.com/devfile/devworkspace-operator/blob/main/doc/uninstall.md

More precisely, we are missing in the official doc:

"oc d

[2021-10-21 12:57] bergerhoffer commented on #36813
PR has been merged, closing!

[2021-10-21 12:57] #37011 closed

[2021-10-21 14:29] peterclauterbach opened #37869 "[enterprise-4.7] Issue in file monitoring/configuring-the-monitoring-stack.adoc"
### Which section(s) is the issue in?

https://docs.openshift.com/container-platform/4.7/monitoring/configuring-the-monitoring-stack.html#modifying-retention-time-for-prometheus-metrics-data_configuring-the-monitoring-stack

### What needs fixing?

MY understanding is that in an OCP cluster, the default retention is 3 days, which conflicts with this 15 days.
Please clarify and correct.

[2021-10-21 16:02] lgchiaretto commented on #37696
@tmalove Why don't you use 4.y.z?

[2021-10-21 18:33] #33489 closed

[2021-10-21 21:43] #36979 closed

[2021-10-25 14:27] Scotchman0 opened #37913 "[enterprise-4.8] Issue in file support/gathering-cluster-data.adoc - link to pipelines must-gather"
### Which section(s) is the issue in?
https://docs.openshift.com/container-platform/4.8/support/gathering-cluster-data.html#gathering-data-specific-features_gathering-cluster-data

### What needs fixing?
Please add link to pipelines gather:

registry link:
--image=quay.io/openshift-pipeline/must-gather

Purpose:
Data collection for Red Hat OpenShift Pipelines

source: https://github.com/openshift-

[2021-10-25 17:34] lautou opened #37929 "[enterprise-4.9] Issue in file installing/install_config/configuring-firewall.adoc"
### Which section(s) is the issue in?

Configuring your firewall for OpenShift Container Platform

### What needs fixing?

Remove port 80 on all arrays because all URL are https.

[2021-10-25 17:38] lautou opened #37930 "[enterprise-4.9] Issue in file installing/install_config/configuring-firewall.adoc"
### Which section(s) is the issue in?

Configuring your firewall for OpenShift Container Platform

### What needs fixing?

Section 1 / URL to whitelist
openshift.org --> should not be *.openshift.org ??? Can you check if wildcard is mandatory?

[2021-10-25 19:53] hupiper opened #37938 "[online] Issue in file adding_service_cluster/rosa-available-services.adoc"
### Which section(s) is the issue in?
Add-on services available for Red Hat OpenShift Service on AWS

### What needs fixing?
In 4.9 you can also add Red Hat OpenShift Data Science as a service.

[2021-10-26 12:16] dmc5179 opened #37972 "Unable to deploy docs to OpenShift Cluster"
### Which section(s) is the issue in?

Tools and setup: https://github.com/openshift/openshift-docs/blob/master/contributing_to_docs/tools_and_setup.adoc

### What needs fixing?

I attempted to deploy the docs to openshift using the steps from the docs link above:
[code]

No pods are created. I looked at the evens and tried to kickoff the builds manually:

[code]

I checked the cluster "OpenShift

[2021-10-26 13:55] thomasphall opened #37980 "[enterprise-4.9] Issue in file installing/installing_azure/installing-azure-user-infra.adoc"
### Which section(s) is the issue in?
OpenShift Azure documentation does not include supported machine types like AWS. Example: https://docs.openshift.com/container-platform/4.9/installing/installing_aws/installing-aws-customizations.html#installation-supported-aws-machine-types_installing-aws-customizations

### What needs fixing?
Additional section containing Azure supported machine types needs

[2021-10-26 16:38] KyWa opened #37994 "[enterprise-4.7] Issue in file nodes/nodes/nodes-nodes-rebooting.adoc"
### Which section(s) is the issue in?

https://docs.openshift.com/container-platform/4.7/nodes/nodes/nodes-nodes-rebooting.html#nodes-nodes-rebooting-gracefully_nodes-nodes-rebooting

### What needs fixing?

There needs to be an additional step after step 3 (oc debug node/nodename) to include a `chroot /host` otherwise `systemctl reboot` will not work and the user will receive this message:

[code

[2021-10-27 09:00] lukranawetter opened #38018 "[enterprise-4.8] Issue in file cicd/builds/running-entitled-builds.adoc"
### Which section(s) is the issue in?

https://docs.openshift.com/container-platform/4.8/cicd/builds/running-entitled-builds.html#builds-source-input-satellite-config_running-entitled-builds

Prerequisites

Sample repository configuration

### What needs fixing?

Incorrect repo-file:
Please remove spaces at the beginning of the lines:

[code]

[code]

[2021-10-27 11:49] m3adow opened #38021 "[enterprise-4.9] Issue in file nodes/clusters/nodes-cluster-overcommit.adoc"
### Which section(s) is the issue in?

First error in "Cluster-level overcommit using the Cluster Resource Override Operator", second error in "Configuring cluster-level overcommit"

### What needs fixing?

The examples show the required spec as

[code]

while it should be

[code]

Using the first way, the `ClusterResourceOverride` will not be working at all.

This also affects older documentation

[2021-10-27 12:56] freedge opened #38024 "[enterprise-4.9] Issue in file installing/installing_azure_stack_hub/installing-azure-stack-hub-user-infra.adoc publicly accessible blob"
### Which section(s) is the issue in?

https://docs.openshift.com/container-platform/4.9/installing/installing_azure_stack_hub/installing-azure-stack-hub-user-infra.html#installation-azure-user-infra-uploading-rhcos_installing-azure-stack-hub-user-infra

### What needs fixing?

I followed the doc (I think..) naively and ended up with the credentials of my service account, which are part of the boo

[2021-10-28 14:17] faermanj opened #38113 "[online] Issue in file rosa_getting_started/rosa-config-identity-providers.adoc"
### Which section(s) is the issue in?
Adding IdP to rosa clusters

### What needs fixing?
Missing documentation for non-interactive setup of IdP using the rosa CLI, as would be necessary in CI/CD pipelines.

[2021-10-28 14:26] stefaneri opened #38114 "[enterprise-4.9] Issue in file networking/openshift_sdn/configuring-egress-firewall.adoc"
### Which section(s) is the issue in?
https://docs.openshift.com/container-platform/4.9/networking/openshift_sdn/configuring-egress-firewall.html#nw-egressnetworkpolicy-about_openshift-sdn-egress-firewall
Red box labeled IMPORTANT

### What needs fixing?
The manifest points to k8s.ovn.org/v1. It should probably be network.openshift.io/v1 as this is in the openshift SDN section.

[2021-10-28 17:58] jamessevener opened #38141 "[enterprise-4.8] Issue in file authentication/understanding-identity-provider.adoc"
### Which section(s) is the issue in?
https://docs.openshift.com/container-platform/4.8/authentication/understanding-identity-provider.html#identity-provider-parameters_understanding-identity-provider
Mapping methods claim that add, generate, claim, and lookup are all supported, but the oauth config rejects generate.

### What needs fixing?
Error "Unsupported value: "generate": supported values: "

[2021-10-28 23:31] dlbewley opened #38167 "[enterprise-4.9] Issue in file authentication/managing_cloud_provider_credentials/cco-mode-sts.adoc"
### Which section(s) is the issue in?

Creating AWS resources with the Cloud Credential Operator utility

### What needs fixing?

For this to be successful there is a requirement for iam:CreateOpenIDConnectProvider permission.

I checked https://docs.openshift.com/container-platform/4.9/installing/installing_aws/installing-aws-account.html and I can not find this requirement documented anywhere.

[2021-10-28 23:43] mallmen opened #38168 "[enterprise-4.8] Issue in file networking/network_policy/multitenant-network-policy.adoc"
### Which section(s) is the issue in?
Configuring multitenant isolation by using network policy
for the procedure step 1a for allowing access from ingress

### What needs fixing?
The example uses syntax that the Release Notes https://docs.openshift.com/container-platform/4.8/release_notes/ocp-4-8-release-notes.html#ocp-4-8-network-policy-host-network-ingress-controllers references as legacy now an

[2021-10-29 01:59] sunsern-k opened #38169 "[dedicated] Issue in file osd_architecture/osd-understanding.adoc"
### Which section(s) is the issue in?
https://docs.openshift.com/dedicated/osd_architecture/osd-understanding.html#telemetry_osd-understanding
The OpenShift Dedicated is explained in this section that the internet access is required.

This is the "Important" section mentioning a restricted network installation where cannot have direct internet access.

### What needs fixing?
This section seems to

[2021-10-29 06:22] sunsern-k opened #38170 "[dedicated] Issue in file osd_planning/aws-ccs.adoc"
### Which section(s) is the issue in?
Following this document: https://docs.openshift.com/dedicated/osd_planning/aws-ccs.html#aws-policy-ebs-storage_aws-ccs, the IOPS on EBS are expected to be:

Control plane volumes
- Size: 350 GB
- Type: io1
- Input/output operations per second: 1000

Infrastructure volumes
- Size: 300 GB
- Type: gp2
- Input/output operations per second: 100

Worker volumes
- Si

[2021-10-29 06:48] lautou opened #38171 "[enterprise-4.9] Issue in file installing/install_config/configuring-firewall.adoc"
### Which section(s) is the issue in?

Configuring your firewall for OpenShift Container Platform

### What needs fixing?

Section 3:
`https://console.redhat.com/api/ingress` -> Remove the `https://` since explicitely mention port 443 and in order to make this item homogeneous with others items listed in the page (they don't have `https://` in front of each url)

[2021-10-29 06:50] lautou opened #38172 "[enterprise-4.9] Issue in file installing/install_config/configuring-firewall.adoc"
### Which section(s) is the issue in?

Configuring your firewall for OpenShift Container Platform

### What needs fixing?

Please merge table from section 5 (Allowlist the following URLs) into table in section 1 (Allowlist the following registry URLs) in order to make the *base* allow list readable and consistent.

[2021-10-29 06:56] lautou opened #38173 "[enterprise-4.9] Issue in file installing/install_config/configuring-firewall.adoc"
### Which section(s) is the issue in?

Configuring your firewall for OpenShift Container Platform

### What needs fixing?

Section 4:
For AWS Cloud, remove `oso-rhc4tp-docker-registry.s3-us-west-2.amazonaws.com` URL since we are already whitelisting, `*.amazonaws.com` above

[2021-10-29 07:06] lautou opened #38174 "[enterprise-4.9] Issue in file installing/install_config/configuring-firewall.adoc"
### Which section(s) is the issue in?

Configuring your firewall for OpenShift Container Platform

### What needs fixing?

`storage.googleapis.com/openshift-release` -> this URL should only apply on GCP context. Please check and remove it from the table because we are already whitelisting `*.googleapis.com`

[2021-10-29 07:32] lautou opened #38175 "[enterprise-4.9] Issue in file installing/install_config/configuring-firewall.adoc"
### Which section(s) is the issue in?

Configuring your firewall for OpenShift Container Platform

### What needs fixing?

Remove art-rhcos-ci.s3.amazonaws.com since we are no more retrieving RHCOS images from AWS.
As a replacement taking a look in https://raw.githubusercontent.com/openshift/installer/release-4.9/data/data/rhcos.json
the base URL is https://rhcos-redirector.apps.art.xq1c.p1.opensh

[2021-10-29 07:43] lautou opened #38176 "[enterprise-4.9] Issue in file installing/install_config/configuring-firewall.adoc"
### Which section(s) is the issue in?

Configuring your firewall for OpenShift Container Platform

### What needs fixing?

quay-registry.s3.amazonaws.com should be removed. What is the justification to whitelist this URL for OCP?

[2021-10-29 18:12] ChetRHosey opened #38217 "[enterprise-4.9] Issue in file cli_reference/openshift_cli/developer-cli-commands.adoc"
### Which section(s) is the issue in?

https://docs.openshift.com/container-platform/4.9/cli_reference/openshift_cli/developer-cli-commands.html#oc-secrets-link

### What needs fixing?

There's a reference to `limitSecretReferences`. This was a setting in 3.x but was removed from 3.11 and 4.x (see https://access.redhat.com/solutions/4124711 for reference).

The documentation for `oc secrets link`

[2021-10-29 18:19] jboxman-rh commented on #38217
cc @bergerhoffer

[2021-10-29 19:05] bergerhoffer commented on #38217
The CLI reference docs are automatically generated from the code, so we'll need to make the change there.

@soltysh I'm happy to submit the PR (looks to be in the oc repo luckily) to update this example description, but I'll need help with what to change it to. Suggestions?

[2021-10-29 19:43] TheRealJon opened #38233 "[enterprise-4.8] Issue in file rest_api/operatorhub_apis/clusterserviceversion-operators-coreos-com-v1alpha1.adoc"
### Which section(s) is the issue in?

The documentation for the following API properties should be more descriptive:

- `.spec.customresourcedefinitions.owned[].resources`
- `.spec.customresourcedefinitions.required[].resources`
- `.spec.apiservicedefinitions.owned[].resources`
- `.spec.apiservicedefinitions.required[].resources`

### What needs fixing?
The `resources` property referenced in the

[2021-10-29 19:45] #37994 closed

[2021-10-29 20:36] mburke5678 commented on #22601
@akostadinov Howdy. Cleaning out old issues. Does this section provide the information you are suggesting? If so, we can add a link to the docs to this section,
[Understanding managing application memory ](https://docs.openshift.com/container-platform/4.9/nodes/clusters/nodes-cluster-resource-configure.html#nodes-cluster-resource-configure-about_nodes-cluster-resource-configure)

[2021-10-29 21:00] mburke5678 commented on #32985
@tripod70 Thanks for bringing this up. I actually [changed the docs to add this output](https://github.com/openshift/openshift-docs/pull/14059/files#diff-8137b75546413c094e15268476b89b51152c6bc6f86c677bb2c76e9dad2032e3R44-R47). I'm not sure why. I will look into it on Monday.

[2021-10-30 14:24] jboxman-rh commented on #38233
@TheRealJon, so these are pulled from the OpenAPI spec and would need to be fixed elsewhere.

cc @adellape

[2021-10-30 21:25] #32999 closed

[2021-10-31 11:28] m3adow commented on #38021
Looks much better to me now. 👍

[2021-11-01 17:34] adityad97 opened #38275 "[enterprise-4.8] Issue in file monitoring/configuring-the-monitoring-stack.adoc"
### Which section(s) is the issue in?
Persistent storage prerequisites
https://docs.openshift.com/container-platform/4.8/monitoring/configuring-the-monitoring-stack.html#persistent-storage-prerequisites

### What needs fixing?
4th point where Note is mentioned. In the note, it is mentioned that Elasticsearch cannot use raw block volumes.
The documentation is for Monitoring where we have to configu

[2021-11-01 17:41] mburke5678 commented on #32985
@tripod70 Please take a look at my PR to see if it meets your expectations. Thank you!

https://github.com/openshift/openshift-docs/pull/38276

[2021-11-01 19:26] kmccarron-rh commented on #37292
Doc changes have been merged in  https://github.com/openshift/openshift-docs/pull/38265.
This PR can be closed.

[2021-11-01 20:17] kgibm opened #38286 "[enterprise-4.9] Issue in file scalability_and_performance/recommended-host-practices.adoc"
### Which section(s) is the issue in?

<https://docs.openshift.com/container-platform/latest/scalability_and_performance/recommended-host-practices.html#master-node-sizing_>

### What needs fixing?

I think the second sentence implies the answer is yes; but, to confirm, does "keep the overall resource usage on the control plane nodes" refer to both CPU and memory, or just CPU?

[2021-11-02 03:30] skuma342 opened #38295 "[enterprise-3.11] Issue in file architecture/networking/routes.adoc"
### Which section(s) is the issue in?

Passthrough routes can also have an insecureEdgeTerminationPolicy. The only valid values are None (or empty, for disabled) or Redirect.
--

### What needs fixing?

This does not hold true. Redirect with passthrough does not work for 3.11

[2021-11-02 11:40] martinkennelly opened #38299 "[enterprise-4.9] Incorrect Egress Firewall example for SDN"
### Which section(s) is the issue in?
Within network plugin SDN docs, https://docs.openshift.com/container-platform/4.9/networking/openshift_sdn/configuring-egress-firewall.html, there is an example of a firewall policy for network plugin OVN-kubernetes. It needs to be changed to a SDN example.

Example from the SDN doc:
[code]

### What needs fixing?
It needs to be changed to an SDN EgressNetwork

[2021-11-02 13:50] mjpytlak commented on #37929
@gpei Taking a moment to follow up on this ^^^. Thanks in advance.

[2021-11-02 14:40] jan--f opened #38321 "[enterprise-4.9] Issue in file monitoring/configuring-the-monitoring-stack.adoc"
### Which section(s) is the issue in?
https://docs.openshift.com/container-platform/4.9/monitoring/configuring-the-monitoring-stack.html#persistent-storage-prerequisites

### What needs fixing?

The `Note` box mentions: "Elasticsearch cannot use raw block volumes." Should read "Prometheus cannot use raw block volumes."

[2021-11-02 17:22] pamoedom commented on #27862
/remove-lifecycle stale

[2021-11-02 17:24] newgoliath opened #38355 "[enterprise-4.9] Issue in file machine_management/adding-rhel-compute.adoc"
### Which section(s) is the issue in?

Preparing the machine to run the playbook

### What needs fixing?

All mentions of RHEL 7 in the text referring to the "machine to run the playbook" should be replaces with RHEL 8.

This also includes updating the follow to 8:

[code]

[2021-11-02 17:33] codyhoag commented on #38355
@gpei we kept [this section](https://docs.openshift.com/container-platform/4.9/machine_management/adding-rhel-compute.html#rhel-preparing-playbook-machine_adding-rhel-compute) referring to RHEL 7 because we did not build openshift-ansible for RHEL8 a couple months ago (https://github.com/openshift/openshift-docs/pull/35928#discussion_r703107646). Is that still accurate?

[2021-11-02 18:11] stevsmit commented on #38321
PR submitted

[2021-11-02 18:47] stevsmit commented on #38275
PR at https://github.com/openshift/openshift-docs/pull/38354

[2021-11-02 19:38] gpei commented on #38355
I think so, I havn't seen a new user story or bug that's about adding RHEL-8 as the machine to run the playbook.

[2021-11-02 19:41] gpei commented on #37929
we keep the 80 port there since 4.1, I'm not sure if we need to remove it.

[2021-11-02 20:04] codyhoag commented on #38355
@newgoliath Since we still rely on RHEL 7 packages as documented for openshift-ansible, I don't think there's anything to update here currently. Please let me know if you know something otherwise. I will close this in the next few days if there's nothing else to report.

[2021-11-02 20:39] newgoliath commented on #38355
Hi Cody and Gaoyun,

I asked internally.  There's rumors about some work or new docs WRT running
the playbooks on RHEL8.  I just emailed mgmnt.  I'll keep you posted.

Thanks for the replies!

-judd

On Tue, Nov 2, 2021 at 4:04 PM Cody Hoag ***@***.***> wrote:

--
Judd Maltin
T: 917-882-1270

They all thought that the market was God, who made everything work with his
invisible hand. Before, it was

[2021-11-02 21:10] aireilly commented on #36143
@boris-deschenes @vikram-redhat This issue can be closed, the dev preview warnings were removed for all affected branches in a seperate PR.

[2021-11-03 00:29] matttarwater opened #38370 "[enterprise-4.7] Issue in file installing/installing_vsphere/installing-restricted-networks-vsphere.adoc"
### Which section(s) is the issue in?
Initial Operator Configuration 2

### What needs fixing?
Configure the Operators that are not available
No detail on how to "configure the operators that are not available".  For example, the cluster authentication operator.

[2021-11-03 06:42] lautou commented on #38171
LGTM

[2021-11-03 06:42] #38171 closed

[2021-11-03 15:09] mjpytlak commented on #37929
@staebler  Before installing OCP, we currently document that the firewall be configured to allow access to sites over ports 443 and 80. Looking to confirm that we can remove port 80 for each URL in all of the tables. The topic in question is https://docs.openshift.com/container-platform/4.9/installing/install_config/configuring-firewall.html#configuring-firewall

[2021-11-03 19:19] lautou commented on #38174
@codyhoag @wking The googleapis.com links does not work. Are we still using this URL?

[2021-11-03 22:02] mburke5678 commented on #36350
PR is merged

[2021-11-03 22:02] #36350 closed

[2021-11-03 23:33] liqcui opened #38413 "Change get packagemanifest command for SRO"
https://docs.openshift.com/container-platform/4.9/hardware_enablement/psap-special-resource-operator.html

### Which section(s) is the issue in?

Installing the Special Resource Operator by using the CLI
2. Install the SRO in the namespace you created in the previous step:
c. Run the following oc get command to get the channel value required for the next step:

Change:
oc get packagemanifest speci

[2021-11-04 00:18] mburke5678 commented on #27862
@pamoedom Can you please take a look at [my PR for this issue](https://github.com/openshift/openshift-docs/pull/38415) and let me know if it meets your expectations.

[2021-11-04 06:54] lautou commented on #37107
Hi any update?

[2021-11-04 16:07] pamoedom commented on #27862
Thanks @mburke5678, I've replied there with my suggestions.
Regarding OCP versions, I think it would be recommended to reflect that from 4.6 onwards.

[2021-11-05 00:34] tnk4on commented on #31786
It was updated to the correct link. Close this issue.

[2021-11-05 00:34] #31786 closed

[2021-11-05 03:23] shingo-a opened #38454 "[enterprise-4.8] Issue in file welcome/oke_about.adoc"
### Which section(s) is the issue in?
Table 2. Features in OpenShift Kubernetes Engine and OpenShift Container Platform

### What needs fixing?
"Jenkins Operator provided by Red Hat" is marked with "Included" in OpenShift Container Platform.

But the following release notes show that "Jenkins Operator" is deprecated after 4.8.
https://docs.openshift.com/container-platform/4.9/welcome/oke_about.htm

[2021-11-05 13:17] kmccarron-rh commented on #38413
This issue can be closed.
The change is now live here: https://docs.openshift.com/container-platform/4.9/hardware_enablement/psap-special-resource-operator.html#installing-the-special-resource-operator-using-cli_special-resource-operator

[2021-11-07 06:54] AssafKatz3 commented on #21979
/lifecycle stale

[2021-11-07 15:29] #30363 closed

[2021-11-07 15:29] #33327 closed

[2021-11-08 17:07] lautou commented on #37930
Hi can we move on this issue?

[2021-11-08 18:43] peterclauterbach opened #38499 "[enterprise-4.8] Issue in file post_installation_configuration/storage-configuration.adoc"
### Which section(s) is the issue in?

https://docs.openshift.com/container-platform/4.8/post_installation_configuration/storage-configuration.html#post-install-deploy-OCS
Deploy Red Hat OpenShift Container Storage

### What needs fixing?
There are stale links in the OCP docs point to older OCS docs.
Some of the links in here point to OCS 4.7, and some even point to older OCS 4.5.
I'd expect that

[2021-11-08 19:47] codyhoag commented on #35291
/remove-lifecycle stale

[2021-11-08 19:59] codyhoag commented on #37930
@staebler do you have an opinion on whether the `*.openshift.org` registry URL is needed for step 1 here: https://docs.openshift.com/container-platform/4.9/installing/install_config/configuring-firewall.html#configuring-firewall_configuring-firewall?

[2021-11-09 02:22] jboxman-rh commented on #38499
@peterclauterbach do we know what the correct links are for this?

[2021-11-09 02:29] peterclauterbach commented on #38499
I do not, but one of the OCS doc team or product managers should be able to help.

[2021-11-09 11:03] pneedle-rh opened #38509 "Blurry navigation bar when window minimised"
### Which section(s) is the issue in?

The left-hand navigation bar on https://docs.openshift.com/ for all collections.

### What needs fixing?

In Firefox on Fedora, the left-hand navigation bar is blurry when the window is reduced and I scroll and click on the hamburger to open the menu.

I am running `firefox-92.0-2.fc33.x86_64` on Fedora 33. I understand that this is also seen on Firefox 94 on

[2021-11-09 13:59] aireilly opened #38511 "[docs.openshift look and feel] - use standard breakpoints for responsive design"
### What needs fixing?

The docs.openshift look and feel has an arbitray breakpoint of 1425px for desktop/responsive layouts. This goes against standard practice.

Update the breakpoint sizes to follow the Microsoft suggested breakpoints: https://docs.microsoft.com/en-us/windows/apps/design/layout/screen-sizes-and-breakpoints-for-responsive-design

* Small - up to 640px
* Medium - 641 - 1007px
* L

[2021-11-09 14:06] aireilly opened #38512 "[docs.openshift look and feel] - use a standard UX interaction metaphor for small screen navigation"
### What needs fixing?

Currently, there is a small hamburger nav menu which is not intuitive for users when browsing on smaller screens.

### Suggested update

Create a sticky secondary nav bar for small screens only which contains search and hamburger nav buttons. On page scroll, the secondary nav should take over from the primary nav.  Illustrative example below:
![image](https://user-images.gi

[2021-11-09 15:07] jboxman-rh commented on #38499
@dmoessne, do you know what links should go here now? Thanks!

[2021-11-09 15:42] dmoessne commented on #38499
@jboxman-rh

Well, I am neither docs nor PM team, but surely I can share my view:

Generally speaking  OCS n supports OCP n and n+1 (*no longer* n-1), so for example OCS 4.7 supports OCP 4.7 and 4.8 no longer 4.6 (as per https://issues.redhat.com/browse/KNIP-1678)
So in my mind we should refer always to the same version in the OCS docs as OCP is (keeping in mind what Peter said that OCS is normall

[2021-11-09 16:51] aireilly opened #38533 "[docs.openshift look and feel] - toc navigation loses active highlight when you scroll past a [discrete] heading"
### What needs fixing?

The toc navigation loses the active highlighted item when you scroll past a [discrete] heading. This should be fixed by remembering the previous active item during scrolling, and only updating state when a new active item is scrolled past.

Example page that has the error (scroll to see the error):

https://docs.openshift.com/container-platform/4.9/monitoring/managing-alert

[2021-11-09 18:30] bobfuru commented on #38499
There is a proposed fix to remove the table in the OCP docs that is being tracked by the ODF/OCS docs team: https://issues.redhat.com/browse/OCSDOCS-515.

[2021-11-09 20:24] peterclauterbach commented on #38499
I understand maintaining this table can be painful to align all the semi-synchronous releases, or even that this table should be the first place that and admin would land in the ODF documentation, not OpenShift.
The reality I often hear from customers is that navigating our docs is a treasure hunt. The individual content is good, but scattered. I need to go to 3 different places to figure out this

[2021-11-09 21:41] cgwalters commented on #37930
This is correct, all documentation for 4.6 and above should be able to safely drop `openshift.org.`

[2021-11-09 21:47] cgwalters commented on #37930
@codyhoag You can check the required URLs yourself, see e.g.:
[release-4.5 branch](https://github.com/openshift/installer/blob/release-4.5/data/data/rhcos.json)
and [release-4.8 branch](https://github.com/openshift/installer/blob/release-4.8/data/data/rhcos.json).

But again [this comment](https://github.com/openshift/openshift-docs/issues/37930#issuecomment-954354744) correctly summarizes the sit

[2021-11-09 22:31] vikram-redhat commented on #38499
We don't track link clicks external to docs.openshift.com. These links to OCS docs goes to customer portal and someone from that docs team could give that data (as to how many links came from docs.openshift.com).

Since that page was launched (4.8 GA in late July), it has been viewed 1,162 times if that gives an indication.

This might be a good question to raise with the OCS/ODF BU team if they w

[2021-11-10 00:29] gaurav-nelson commented on #35767
Fixed by https://github.com/openshift/openshift-docs/pull/38505

@bergerhoffer Can you please close this?

[2021-11-10 02:33] #35767 closed

[2021-11-10 08:52] ugiordan opened #38551 "Document that the pathType of the Ingress object is required"
If a user create a route through an Ingress object by copying the example provided at [Creating a route through an Ingress object](https://docs.openshift.com/container-platform/4.7/networking/routes/route-configuration.html#nw-ingress-creating-a-route-via-an-ingress_route-configuration), the following error is thrown:

**Error "Required value: pathType must be specified" for field "spec.rules[0].h

[2021-11-10 15:11] asadawar opened #38558 "[enterprise-4.9] Issue in file updating/updating-cluster-rhel-compute.adoc"
### Which section(s) is the issue in?
https://docs.openshift.com/container-platform/4.9/updating/updating-cluster-rhel-compute.html#rhel-compute-updating-minor_updating-cluster-rhel-compute

### What needs fixing?
- We started supporting RHEL 8 as a compute node from OCP 4.9: https://docs.openshift.com/container-platform/4.9/release_notes/ocp-4-9-release-notes.html#ocp-4-9-machine-api-rhel8
- Howe

[2021-11-10 17:20] mburke5678 commented on #22779
I believe this issue was resolved in [Add the Thanos querier to the list of configurable components](https://github.com/openshift/openshift-docs/pull/22481/files). I am closing this issue. If this is not correct, please re-open.

[2021-11-10 17:20] #22779 closed

[2021-11-10 17:25] rolfedh commented on #19301
@mburke5678 Please assign @libander instead. Thanks.

[2021-11-10 18:19] mburke5678 commented on #38021
Pr is merged.

[2021-11-10 18:19] #38021 closed

[2021-11-10 18:38] mburke5678 commented on #32985
PR is merged. Closing

[2021-11-10 18:38] #32985 closed

[2021-11-10 18:43] #27686 closed

[2021-11-10 21:10] mburke5678 commented on #30986
@ikke-t Thank you for pointing this out. Sorry to have take so long to get around to it. Can you take a [look at my PR](https://github.com/openshift/openshift-docs/pull/38581/files#diff-0b5e69508ec8e718945927f50949de41b4f098bd73a9e4b716fd629efe54e5c7) to see if this is what you expect?

[2021-11-10 21:13] kenmoini opened #38582 "[enterprise-3.11] Issue in file install/example_inventories.adoc"
### Which section(s) is the issue in?

Example inventory under "Multiple Masters Using Native HA with Co-located Clustered etcd"

https://docs.openshift.com/container-platform/3.11/install/example_inventories.html#multi-masters-single-etcd-using-native-ha

### What needs fixing?

1. There are infra nodes specified in the [nodes] group for the co-located etcd+masters
2. The master+etcd nodes in the

[2021-11-10 21:17] flozanorht opened #38583 "[enterprise-4.9] Issue in file virt/virtual_machines/virtual_disks/virt-storage-defaults-for-datavolumes.adoc"
### Which section(s) is the issue in?

Example of multiple storage class defaults
https://docs.openshift.com/container-platform/4.5/virt/virtual_machines/virtual_disks/virt-storage-defaults-for-datavolumes.html#virt-example-kubevirtstorageclassdefaults_virt-storage-defaults-for-datavolumes

### What needs fixing?

The explanation and the corresponding code listing seem to be out of sync. One of th

[2021-11-11 11:36] stefanvogel65 opened #38586 "[enterprise-4.6] Issue in file post_installation_configuration/network-configuration.adoc"
### Which section(s) is the issue in?

Section https://docs.openshift.com/container-platform/4.6/post_installation_configuration/network-configuration.html#nw-networkpolicy-project-defaults_post-install-network-configuration, the sample yaml in Procedure, step 2

### What needs fixing?

After this part:

[code]

... two curly brackets need to be added after `podSelector:` so that it reads like thi

[2021-11-11 15:25] mburke5678 commented on #30986
/remove-lifecycle stale

[2021-11-11 15:37] mburke5678 commented on #34037
PR is merged. Closing

[2021-11-11 16:13] aglitke opened #38626 "[enterprise-4.9] Issue in file virt/install/uninstalling-virt-web.adoc"
### Which section(s) is the issue in?
Deleting the OpenShift Virtualization Operator Deployment custom resource

### What needs fixing?
In step 8 we are asked to run the following command:
oc delete apiservices v1alpha3.subresources.kubevirt.io -n openshift-cnv

This results in the following error:
warning: deleting cluster-scoped resources, not scoped to the provided namespace
Error from server (

[2021-11-11 16:29] codyhoag commented on #31521
/remove-lifecycle stale

[2021-11-11 16:45] #37930 closed

[2021-11-11 17:08] mburke5678 commented on #37505
@elmiko @TiloGit When you say these limits include the master nodes, does that mean that the limits are also applied to the master nodes, or the total of the resources is also spread across the master nodes?

[2021-11-11 17:38] elmiko commented on #37505
@mburke5678 when the cluster autoscaler looks at the total memory/cpu/gpu in the cluster, it does not differentiate between the type of nodes. so if a user sets the maximum memory resource limit, the autoscaler will include all nodes in the cluster when calculating the current memory usage, and then it will use that calculation to determine if it has the capacity to add more resources.

for exampl

[2021-11-11 20:41] mburke5678 commented on #37505
@elmiko @TiloGit Can you take a look at my PR? I added [elmiko's words](https://github.com/openshift/openshift-docs/issues/37505#issuecomment-966492645) and _on the worker and control plane nodes_ to the call out definitions 3-6.
As in: _Specify the minimum number of cores to deploy **on the worker and control plane nodes** in the cluster._

[2021-11-11 21:01] mburke5678 commented on #38286
@chaitanyaenr It appears [you added this paragraph to the docs](https://github.com/openshift/openshift-docs/pull/32230/files#diff-20cc7311e3ca9ba07f50068dd946123b147a3b421bb8e7e7914c06ba757cf8d1R29). Can you help answer @kgibm question? I think he is correct, as we uses _resoruces_ to mean both memory and CPU.

[2021-11-11 21:26] chaitanyaenr commented on #38286
@mburke5678 Right, it means both CPU and Memory. Thanks.

[2021-11-11 21:45] mburke5678 commented on #37505
@elmiko Thank you for reminding me.

Which type(s) of nodes are not managed by the cluster autoscaler? You mention in the PR that it doesn't manage the control plane nodes. Does it manage workers and infra?

[2021-11-11 21:58] elmiko commented on #37505
the autoscaler operates in openshift by utilizing machinesets. a user must specify which machinesets will be used by the autoscaler for its scaling activity. each machineset can have a minimum and maximum number of machines that can be created.

by default, when the cluster is first installed, there are no machinesets participating in autoscaling. at this point a user would specify which machinese

[2021-11-12 02:46] jboxman-rh commented on #38558
cc @stevsmit

[2021-11-12 07:00] apolymen commented on #34037
Hmm, it seems it has not been backported to 4.7 while 4.6 is ok.

[2021-11-12 15:36] ryandevlin-redhat opened #38678 "[enterprise-4.9] Issue in file machine_management/adding-rhel-compute.adoc"
### Which section(s) is the issue in?
[Preparing the machine to run the playbook](https://docs.openshift.com/container-platform/4.9/machine_management/adding-rhel-compute.html#rhel-preparing-playbook-machine_adding-rhel-compute)

### What needs fixing?
This section launches into an explanation about preparing a RHEL machine to run "the playbook". There is not introduction as to what this playbook

[2021-11-12 15:50] ryandevlin-redhat opened #38679 "[enterprise-4.9] Issue in file machine_management/adding-rhel-compute.adoc"
### Which section(s) is the issue in?

[Preparing a RHEL compute node](https://docs.openshift.com/container-platform/4.9/machine_management/adding-rhel-compute.html#rhel-preparing-node_adding-rhel-compute)

### What needs fixing?
When performing these tasks on a RHEL 8 machine, I ran the following (according to the docs):
[code]

At this point, I was **not** able to enable the repos in the documen

[2021-11-12 17:43] codyhoag commented on #38679
@gpei can you confirm this requested additional step?

[2021-11-12 19:16] mburke5678 commented on #32137
@vikram-redhat did we have a plan for doing a sweep for whitelist/blacklist in the repo?

[2021-11-12 19:17] mburke5678 commented on #32137
/remove-lifecycle stale

[2021-11-12 21:11] mburke5678 commented on #38679
@gpei can you confirm this requested additional step?

[2021-11-12 21:20] ehashman opened #38690 "[enterprise-4.8] Issue in file nodes/nodes/nodes-nodes-managing.adoc"
### Which section(s) is the issue in?

### What needs fixing?

1) This links to the upstream kubernetes code at HEAD, which probably don't correspond to the current version of OpenShift and are hard to read. We could at least link to the API docs, like so: https://kubernetes.io/docs/reference/config-api/kubelet-config.v1beta1/
2) It looks like featureGates also can't be set, but that's not documen

[2021-11-12 21:38] #33228 closed

[2021-11-12 21:38] #33461 closed

[2021-11-12 21:38] #33229 closed