[2017-04-12 15:08] jeremyeder commented on #4164
https://trello.com/c/CcjUgY2S/403-docs-resolve-confusion-in-networking-subnetting-section

[2017-04-12 15:45] nak3 commented on #4164
At least following two values in https://docs.openshift.com/container-platform/3.4/install_config/install/advanced_install.html should be clear .

osm_cluster_network_cidr ... 10.128.0.0/14 or 10.1.0.0/16
osm_host_subnet_length ... 9 or 8

[2017-04-13 01:18] bfallonf commented on #4164
Thanks. PR #4171 seems to solve this. If there's any comments, we can make them there, or in followup. I'll close this issue.

[2017-04-13 01:18] #4164 closed

[2017-04-13 14:35] jcantrill opened #4185 "Managing Container Logs should advise to use Journald for aggregated logging"
We should advise users to use journald instead of JSON logging as:

* There is an outstanding BZ with terminated pods related to busy resources and JSON logs
* The additional metadata we can get
* Openshift installer sets it to journald by default? @sdodson ??

Need to work with @portante to rewrite:

* https://docs.openshift.com/container-platform/3.5/install_config/install/host_preparation.html#

[2017-04-13 14:36] jcantrill commented on #4185
@bmcelvee It is urgent we resolve this for 3.5

[2017-04-13 16:03] Jooho opened #4186 "oadm new-project behaviour is different oc new-project"
Hi,

From this doc[1], in order to assign node-selector on new project, we have to use `oadm new-project myproject --node-selector='type=user-node,region=east' `. This command works well.

However, nobody expect the behaviour is different from `oc new-project`. Usually, projectRequestTemplate is used to set default limitRange or quota when new project is created. The default project template is wo

[2017-04-13 20:48] sdodson commented on #4185
Yes, in 1.5/3.5. It was json-file prior.

[2017-04-14 07:06] vikram-redhat commented on #4185
@jcantrill Since Brandi is out on PTO now, moving this to @ahardin-rh to look at.

[2017-04-17 19:17] #2739 closed

[2017-04-18 16:51] php-coder commented on #4186
Link to origin issue: https://github.com/openshift/origin/issues/13760

[2017-04-18 22:06] ahardin-rh commented on #4185
@vikram-redhat @jcantrill I will take a look ASAP. Thanks!

[2017-04-20 16:02] ahardin-rh commented on #4185
Sorry for the delay. I opened  https://github.com/openshift/openshift-docs/pull/4205 to address this.

[2017-04-20 20:51] #4185 closed

[2017-04-21 01:26] lpsantil opened #4209 "Default Docker subnet must not overlap with osm_cluster_network_cidr and openshift_portal_net"
Ran into this with a customer.  Contact me off-line for case number.

**Affected Docs:**
https://github.com/openshift/openshift-docs/blob/master/admin_guide/sdn_troubleshooting.adoc
https://github.com/openshift/openshift-docs/blob/master/install_config/install/prerequisites.adoc
https://github.com/openshift/openshift-docs/blob/master/install_config/master_node_configuration.adoc
https://github.com

[2017-04-21 01:32] lpsantil opened #4210 "`{product-title}` is not substituted in published docs for sdn_troubleshooting."
**Affected Docs:**
https://github.com/openshift/openshift-docs/blob/master/admin_guide/sdn_troubleshooting.adoc
https://docs.openshift.com/container-platform/3.5/admin_guide/sdn_troubleshooting.html#debugging-steps
https://docs.openshift.com/container-platform/3.4/admin_guide/sdn_troubleshooting.html#debugging-steps

**Issue:**
`{product-title}` is not substituted in published docs.

**Workaround:

[2017-04-21 14:16] ahardin-rh commented on #4210
Thank you! Closing this, as the issue is being addressed in https://github.com/openshift/openshift-docs/pull/4212

[2017-04-21 14:16] #4210 closed

[2017-04-21 15:11] php-coder commented on #3861
https://github.com/openshift/openshift-docs/pull/4208

[2017-04-21 20:09] tiwillia opened #4215 "Architecture web console CLI Downloads screenshot needs updating for online"
https://docs.openshift.com/online/architecture/infrastructure_components/web_console.html

The screenshot image 'CLI Downloads' needs to be updated for openshift-online. That page is wildly different in 3.5, which openshift online is using.

Here is a proper example:

![command_line_tools](https://cloud.githubusercontent.com/assets/5197933/25294337/af58e43e-26ac-11e7-92ef-7242f5797c37.png)

[2017-04-21 20:09] tiwillia commented on #4215
@ahardin-rh fyi

[2017-04-21 20:11] tiwillia opened #4218 "Browser Requirements are possibly outdated"
https://docs.openshift.com/online/architecture/infrastructure_components/web_console.html

Unsure if this is correct or not, but Fedora 23 and Windows 8 are the latest operating systems reportedly supported for accessing the webconsole.

@ahardin-rh fyi

[2017-04-23 01:33] juanluisvaladas opened #4222 "[F5] F5 routers don't have feature parity with HA proxy"
The docs say:

This statement is false:
1- F5 routers don't support idling pods.
2- Re-encrypt routes don't work https://bugzilla.redhat.com/show_bug.cgi?id=1431655
(from now on I might be wrong @rajatchopra to confirm)
3- wildcard routes (route.spec.wildcardPolicy) aren't supported at all
4- Some TLS options (for instance roue.spec.tls.certificate) aren't supported either.
5- AlternateBackends ar

[2017-04-23 01:44] juanluisvaladas opened #4223 "[F5] Native and ramp node integration need major changes"
1- According to the documentation openshift supports native integration from F5 BIG IP 11.4 which isn't true

Native integration works only for 12.1
Ramp node integration works, if I'm not mistaken from 11.4 to 12.1. @rajatchopra could you please confirm versions?

2- Missing license information for F5, the F5 integration requires the sdn plugin.

[2017-04-23 01:47] juanluisvaladas opened #4224 "[F5] The statement "openshift-sdn as the network plug-plugin" is technically incorrect"
In openshift-docs/architecture/additional_concepts/f5_big_ip.adoc is mentioned several times "openshift-sdn".
There isn't such a thing as "openshift-sdn" network plugin. It's quite easy to understand  it means either redhat/ovs-subnet, redhat/ovs-multitenant and redhat/ovs-network-policy, which would  be the correct thing to mention.

Despite of being easy to understand it's not correct and must b

[2017-04-23 02:08] rajatchopra commented on #4222
Almost correct on all the statements. We should remove that statement. It was probably put in at a time when they were matching, things have diverged over the releases.

[2017-04-23 02:11] rajatchopra commented on #4223
Correct on both counts. The native integration was developed together with f5 Dev team and it has not been backported in either products.
i.e. f5 v12.1 and openshift version 3.4

Furthermore, the sdn services license is needed for the F5 to avail of the native integration.

[2017-04-24 09:45] juanluisvaladas commented on #4152
Yes, 2 masters is the minimum for HA, 3 etcd is the minimum for HA.

The thing is if you're going to install  etcd and master on the same host normally you install masters on the 3 servers.

[2017-04-24 22:05] thrasher-redhat opened #4229 "Docker Volumes in Openshift Online"
https://github.com/openshift/openshift-docs/blob/master/creating_images/guidelines.adoc
https://docs.openshift.com/online/creating_images/guidelines.html

In the "Use Volumes for Persistent Data" section, it states that "Images should use a Docker volume for persistent data."  However, Docker Volumes are disabled for Openshift Online.

Not sure how much needs to be changed here - hopefully someone

[2017-04-25 15:59] miminar opened #4232 "pruning images - note the need for `--certificate-authority` flag when the registry is secured"
Emphasize that the `oadm prune images` need to be passed `--certificate-authority` flag if the registry is secured and the current user's authority doesn't match the one used for the secured registry.

Don't forget to mention, what error can be seen if this flag is omitted. List it among common pruning issues.

[2017-04-25 15:59] miminar commented on #4232
I'll submit a PR later. Feel free to assign to me.

[2017-04-25 19:55] thrasher-redhat opened #4237 "Custom Builds in the Creating Images pages"
There are a few references to custom builds and docker builds in the Creating Images/Testing S2I Images page, which are not going to be available for OpenShift Online.

The instructions for the basic testing workflow suggest using docker build.

This command needs a refresh.  The `sti`tool has since been renamed and can probably be rewritten using oc commands.

The instructions and example in this

[2017-04-25 20:05] ahardin-rh commented on #4229
@thrasher-redhat Thanks!
 @Miciah @tiwillia Thoughts? May just be that we need to add some ifdef/endif statements to differentiate what is relevant for Online and the other product flavors.

[2017-04-25 20:08] ahardin-rh commented on #4237
@tiwillia @Miciah thoughts?

[2017-04-25 20:08] tiwillia opened #4238 "Online free-tier resource restrictions need to be documented"
In OpenShift Online free-tier, resource specifications are restricted so that the only resource that users can specify is the memory limit.

Normally, users would specify a cpu request, cpu limit, memory request, and memory limit. However in openshift online, users can only specify the memory limit. The memory request, cpu request, and cpu limit will be automatically calculated based on the specif

[2017-04-25 20:18] tiwillia commented on #4237
In regards to the section on the sti tool, we can probably hold off on the refresh until after summit, as that affects all products. The rest of this seems right to me.

[2017-04-25 20:19] Miciah commented on #4237
"sti" was renamed to "s2i" July 2015: https://github.com/openshift/source-to-image/commit/20160b963a5a61dc89d44da23c945fccc0629696

[2017-04-25 20:19] Miciah commented on #4237
This is about building the image locally and then pushing to the cluster's registry, right? Is that prohibits? I thought we were just blocking the Docker build strategy.

[2017-04-25 20:20] tiwillia commented on #4229
I think "Images should use a volume for persistent data" is an acceptable change. By `docker volume`, I think they are referring to a volume mounted in the docker image.

[2017-04-25 20:23] thrasher-redhat commented on #4237
Not sure.  All I have for instructions is "Custom & Docker builds will be disabled".  Not sure if thats the commands themselves or something else.

[2017-04-25 20:30] Miciah commented on #4237
That refers to the build strategies.  That is, you cannot tell OpenShift to build something for you using the custom build strategy or Docker build strategy, but you can still build locally on your own machine, and AFAIK, you can then push your image to the image registry and start a pod using that.

[2017-04-26 01:07] ahardin-rh commented on #4218
@jwforres Can you please help us confirm? Thanks!

[2017-04-26 01:56] bfallonf commented on #4222
Thanks @juanluisvaladas . I can see you've submitted a PR to fix this as well as a few other issues. I'll merge that, close this, and make a BZ for the other F5 issues. Please let us know if there's anything more for this.

[2017-04-26 01:56] #4222 closed

[2017-04-26 02:02] bfallonf commented on #4223
Thanks!

BZ created for this issue: https://bugzilla.redhat.com/show_bug.cgi?id=1445571

I'll close this. Hopefully it can be worked on soon.

[2017-04-26 02:02] #4223 closed

[2017-04-26 02:02] bfallonf commented on #4222
BZ created for this issue: https://bugzilla.redhat.com/show_bug.cgi?id=1445571

[2017-04-26 02:03] bfallonf commented on #4224
Thanks. BZ created for this issue: https://bugzilla.redhat.com/show_bug.cgi?id=1445571

I'll close this issue. Hopefully it will be looked at soon.

[2017-04-26 08:27] sahildua2305 opened #4256 "Typo: Change `Kuberbetes` to `Kubernetes` on application health"
There's a typo on [this](https://docs.openshift.org/latest/dev_guide/application_health.html) page under headline - [Container Health Checks Using Probes](https://github.com/openshift/openshift-docs/blob/0ab326e0a433f2fd252c0bf5adf9ca9b922c8d21/dev_guide/application_health.adoc#container-health-checks-using-probes).

[2017-04-26 14:11] ahardin-rh commented on #4256
Thank you! This is now addressed via https://github.com/openshift/openshift-docs/pull/4259

[2017-04-26 14:11] #4256 closed

[2017-04-26 14:13] sahildua2305 commented on #4256
@ahardin-rh I submitted the PR here - #4257 🙂

[2017-04-26 14:15] ahardin-rh commented on #4256
@sahildua2305 Oh, thank you! I will close my PR and merge yours then. Thanks again! :smile:

[2017-04-26 14:19] sahildua2305 commented on #4256
Thanks @ahardin-rh 😄

[2017-04-26 22:21] ahardin-rh commented on #4215
Updates addressed inn https://github.com/openshift/openshift-docs/pull/4263

[2017-04-26 22:21] #4215 closed

[2017-04-27 00:56] Miciah opened #4272 "Missing JWS/Tomcat S2I documentation for Online"
We should document using [the jws30-tomcat8-mongodb-persistent-s2i template](https://github.com/openshift/openshift-ansible/blob/master/roles/openshift_examples/files/examples/v3.6/xpaas-templates/jws30-tomcat8-mongodb-persistent-s2i.json) for Online.

[2017-04-27 00:56] Miciah opened #4273 "Missing Redis template documentation for Online"
We should document using [the redis-persistent template](https://github.com/openshift/openshift-ansible/blob/master/roles/openshift_examples/files/examples/v3.6/db-templates/redis-persistent-template.json) for Online.

[2017-04-27 00:56] Miciah opened #4274 "Missing SSO template documentation"
We should document [the sso70-mysql-persistent template](https://github.com/openshift/openshift-ansible/blob/master/roles/openshift_examples/files/examples/v3.6/xpaas-templates/sso70-mysql-persistent.json) for Online.

[2017-04-27 07:40] andrewklau opened #4275 "Add java-1.8.0-openjdk-headless as dependency for ansible"
Metrics requires the command `keytool` which is provided by `java-1.8.0-openjdk-headless` otherwise the new metrics playbook will fail

[2017-04-27 09:47] Themodem commented on #1748
Any word on the doc? - Comment 10 has vanished

Even just a quick list of params for that file?

[2017-04-27 14:19] rhamilto opened #4276 "Line break in Configuring Catalog Categories example results in example not working when copy/pasted"
Need to change

[code]

to

[code]

or

[code]

in https://github.com/openshift/openshift-docs/blob/master/install_config/web_console_customization.adoc#configuring-catalog-categories

to resolve a bug where copy/pasting the example customization doesn't work because of the line break.

cc: @codrinbucur

[2017-04-27 14:29] codrinbucur commented on #4276
I can verify that the suggested solutioni fixed the issue on OCP 3.4. Thanks Robb!

[2017-04-27 15:34] #1052 closed

[2017-04-27 17:59] Miciah commented on #4274
I just learned that we will not provide templates for Starter.  We will only provide templates (or a template) for Professional.  We also provide templates in Dedicated.

We can link to the following webpage for documentation about Red Hat JBoss SSO for OpenShift: https://access.redhat.com/documentation/en-us/red_hat_jboss_middleware_for_openshift/3/html-single/red_hat_jboss_sso_for_openshift/

We

[2017-04-27 18:06] Miciah commented on #4273
Starter includes the redis-persistent template.  Dedicated includes redis-persistent template and redis-ephemeral.  Professional may include just redis-persistent or both.

We can link to the following webpage for the Red Hat Software Collections documentation for using Redis: https://access.redhat.com/documentation/en-us/red_hat_software_collections/2/html/using_red_hat_software_collections_conta

[2017-04-27 18:10] Miciah commented on #4272
Starter has the jws30-tomcat8-mongodb-persistent-s2i template.  Professional may have additional templates.  Dedicated has all the templates here: https://github.com/openshift/openshift-ansible/tree/master/roles/openshift_examples/files/examples/v1.4/xpaas-templates

We can link to the Red Hat JBoss Middleware for OpenShift documentation on Red Hat JBoss Web Server for OpenShift here: https://acce

[2017-04-28 00:24] bfallonf commented on #4275
Thanks @andrewklau . I've created a BZ for this:

https://bugzilla.redhat.com/show_bug.cgi?id=1446428

Hopefully it will can rectified soon.

[2017-04-28 00:24] #4275 closed

[2017-04-28 00:29] andrewklau commented on #4275
It's mentioned in openshift-ansible spec, but for those who are cloning the repository (origin users) it's not explicit:

https://github.com/openshift/openshift-ansible/blob/adcf22d4ecf506ebc7ea74346df0f35d4f7e688d/roles/openshift_metrics/tasks/install_support.yaml#L17
https://github.com/openshift/openshift-ansible/blob/2bba1017109db3fdc6aedac02e2069f79cea4c5f/openshift-ansible.spec#L25

[2017-04-28 06:50] Miciah commented on #4229
I'm not sure what "Docker volumes are disabled" means.

We're specifically talking about the `VOLUME` directive in `Dockerfile`, right? That directive in itself is fine, and it is used in images we provide for Online.

However, it might be worth providing a note on what actually happens when you use such an image:

* You can invoke `oc new-app` on an image with a `VOLUME` directive, and `oc new-ap

[2017-04-28 06:52] Miciah commented on #4229
Most likely, in that document, the phrase "Docker volume" (which links to Docker documentation) is just some really stale phrasing that doesn't apply to OpenShift or Kubernetes (we have a lot of that).

[2017-04-28 07:02] Miciah commented on #4229
I think "Docker volumes are disabled" is supposed to convey that if you create a pod with an image that was defined with a `VOLUME` directive, and you do *not* specify a volume in the podspec, then the pod will not start.  This is not a problem if you use `oc new-app` (which specifies an emptydir volume for you in the case of such an image), and it is not a problem if you *do* specify the volume i

[2017-04-28 18:42] tiwillia commented on #4274
Just to re-iterate, this template is **not** provided in starter and shouldn't be documented yet.

[2017-04-28 18:45] tiwillia commented on #4272
Starter appears only to have the **jws30-tomcat8-basic-s2i** template, not the jws30-tomcat8-mongodb-persistent-s2i template.

[2017-04-28 19:08] #4238 closed

[2017-04-28 19:22] Miciah commented on #4272
Yes, sorry.  Thanks for the correction!

[2017-04-29 02:41] #4276 closed

[2017-05-01 02:36] bparees opened #4290 "github webhook behavior isn't fully described"
The fact that our github webhooks will build the specific commit that was merged (and will ignore the event if the specific commit is not part of the branch associated with the buildconfig) is not discussed in our docs:
https://docs.openshift.org/latest/dev_guide/builds/triggering_builds.html#github-webhooks

They also don't make it clear that we only respect push events.

We should rectify that.

[2017-05-01 17:55] #4081 closed

[2017-05-01 21:21] ahardin-rh commented on #4108
@fgiloux Thanks for pointing this out! That work is being addressed via https://bugzilla.redhat.com/show_bug.cgi?id=1428288.

[2017-05-01 21:21] #4108 closed

[2017-05-03 08:53] php-coder opened #4319 "Document oc policy scc-review and scc-subject-review"
The very useful commands `oc policy scc-review` and `oc policy scc-subject-review` aren't documented at all. It would be extremely good to have them documented.

CC @soltysh @sdminonne in case you're interesting

[2017-05-03 22:22] #4290 closed

[2017-05-05 09:53] juanluisvaladas opened #4346 "Dangerous: Add warning, cron jobs may be executed more times than wanted"
From kubernetes docs:

https://kubernetes.io/docs/concepts/workloads/controllers/cron-jobs/

[code]

We don't add a warning, this can be **very** dangerous

[2017-05-05 12:48] php-coder opened #4347 "{product-title} is not substituted in published docs for Get Started with the CLI"
At the link https://docs.openshift.com/online/cli_reference/get_started_cli.html#basic-setup-and-login in the `oc login` output I see the following:
[code]

[2017-05-05 13:17] php-coder opened #4348 "Replace oc update by oc replace in examples"
I see that at least in one place (https://docs.openshift.com/online/cli_reference/basic_cli_operations.html#update) we're talking about `oc update` which is deprecated:
[code]

[2017-05-05 14:14] #4347 closed

[2017-05-05 14:18] ahardin-rh commented on #4348
@php-coder Thanks! Do you know when it was deprecated? Would it be correct to remove it from OCP 3.3 and later?

[2017-05-05 14:27] php-coder commented on #4348
As I can see it's deprecated in Kubernetes from Jun 27 2015 (see: https://github.com/kubernetes/kubernetes/commit/9b3d42c090aeab663bf42e38658a5f88fb4b5272). So, AFIU all our versions are affected.

[2017-05-05 14:29] ahardin-rh commented on #4348
@php-coder okay, thanks!

[2017-05-05 14:32] php-coder commented on #3889
This is a repository for OpenShift documentation and that's why you still didn't get any feedback. I'd suggest you to rather ask on:
- mailing list (http://lists.openshift.redhat.com/openshiftmm/listinfo/users)
- StackOverflow (http://stackoverflow.com/questions/tagged/openshift-origin)
- (as a last resort) OpenShift issue tracker (https://github.com/openshift/origin/issues)

[2017-05-05 15:21] ahardin-rh commented on #4348
https://github.com/openshift/openshift-docs/issues/4350 addresses this

[2017-05-05 15:21] #4348 closed

[2017-05-05 20:08] lpsantil commented on #4209
See https://github.com/openshift/openshift-ansible/pull/3972

[2017-05-08 18:50] mffiedler opened #4369 "Restore the content for adding new etcd member"
The steps for adding a new etcd member or replacing a failed etcd member were removed in PR #4049 (related to https://bugzilla.redhat.com/show_bug.cgi?id=1405338#c12).

This issue is to track updating the content to be clear, complete and accurate and restoring the section to the documentation.

[2017-05-09 08:53] james-poole opened #4376 "Utilizing attach_detach_controller.go"
I'm having issue getting the attach_detach_controller.go working on an existing Openshift cluster running 1.4. I can see entries in the log indicating it's being called at some point but when simulating a node failure the controller does nothing with any orphaned rbd locks.

I have the following entry in the node-config.yaml on each node and master in the cluster that from what I can tell should d

[2017-05-09 09:10] james-poole commented on #4376
As far as logs, from the master:
[code]

[2017-05-09 11:07] jiri-fiala opened #4378 "[online] update custom route hosts restriction"
The custom route host template restriction for OpenShift Online needs to be updated; it's still valid for the *Starter* plan, though [there's](https://github.com/openshift/openshift-docs/blame/1912bf58d1e88804816153e21def67a4b739bf5e/dev_guide/routes.adoc#L227) the old Dev Preview template `<route-name>-<namespace>.44fs.preview.openshiftapps.com`, which should be replaced with `<route-name>-<names

[2017-05-10 05:47] vikram-redhat commented on #4378
Fixed via: https://github.com/openshift/openshift-docs/pull/4396. Will be in the release next week. Thanks for reporting this @jiri-fiala .

[2017-05-10 05:47] #4378 closed

[2017-05-10 06:09] vikram-redhat commented on #4376
@james-poole : docs for this are coming via: https://github.com/openshift/openshift-docs/pull/4202. I am going to close this issue from the docs perspective. If you are still having an issue with the actual working of this controller, please create an issue here: https://github.com/openshift/origin/issues

[2017-05-10 06:09] #4376 closed

[2017-05-10 06:13] vikram-redhat commented on #4369
@mffiedler - I am gonna close this issue, as we already have https://github.com/openshift/openshift-docs/pull/4370 for tracking. If you feel otherwise, please reopen.

[2017-05-10 06:13] #4369 closed

[2017-05-10 06:16] vikram-redhat commented on #4346
@juanluisvaladas - what can users do to make sure cron jobs are not executed more than once? We can add the warning, but can we provide users with an alternative?

[2017-05-10 06:20] vikram-redhat commented on #4319
@php-coder : These are documented in the release notes here: https://docs.openshift.com/container-platform/3.5/release_notes/ocp_3_5_release_notes.html#ocp-35-can-i-command-and-scc-review-command. Do we need more information?

[2017-05-10 08:33] php-coder commented on #4319
Yes, we need. It should be placed near SCC topics and also we need more examples and explanation about differences between these commands.

[2017-05-10 08:40] juanluisvaladas commented on #4346
@vikram-redhat Schedule externally the job creation would be a suitable workaround, however I'm not sure it should be on the manual, I mean, it's pretty hacky.

If you ask me, as an OpenShift user a warning would be enough and then, I, the user, should think about how can I do it.

[2017-05-10 09:05] vikram-redhat commented on #4346
Thanks @juanluisvaladas. @soltysh - your thoughts on the text of the warning?

[2017-05-10 10:35] juanluisvaladas commented on #4346
The Kubernetes docs are Apache 2.0 and I see no flaws on their text, I'd use the same.

[2017-05-10 13:38] soltysh commented on #4346
👍 for using the same, it best describes how the controller is working.

[2017-05-11 04:34] vikram-redhat commented on #4319
Thanks @php-coder. Created a bug to track this: https://bugzilla.redhat.com/show_bug.cgi?id=1449878. Closing this issue.

[2017-05-11 04:34] #4319 closed

[2017-05-11 04:35] vikram-redhat commented on #4346
@bmcelvee  - can you please add this warning and then close this issue?

[2017-05-12 20:18] bmcelvee commented on #4346
I opened https://github.com/openshift/openshift-docs/pull/4410 to add the warning. I'll close this issue and continue this conversation in the PR. Thanks!

[2017-05-12 20:18] #4346 closed

[2017-05-12 20:59] lpsantil opened #4411 "OCP 3.3 metrics storage content snuck back into OCP 3.5/head"
The formula & tables for given in 3.3 version of the docs for metrics storage planning reappeared in 3.5.  They are less clear than the content in the 3.4 docs.

https://github.com/openshift/openshift-docs/blob/enterprise-3.5/install_config/cluster_metrics.adoc#capacity-planning-for-openshift-metrics

[2017-05-12 21:01] lpsantil opened #4412 "OCP 3.5 Docs list 3 different default values for the METRICS_RESOLUTION"
In one section, there are 3 different default values given for METRICS_RESOLUTION, 10s, 15s, 30s.  See [0].  I believe the default is actually 30s per the release notes. [1]

[0] https://github.com/openshift/openshift-docs/blob/enterprise-3.5/install_config/cluster_metrics.adoc#capacity-planning-for-openshift-metrics

[1] https://docs.openshift.com/container-platform/3.5/release_notes/ocp_3_5_rele

[2017-05-13 01:51] lpsantil commented on #4411
So it looks like someone removed the 3.4 content from head.  :/  I don't know if that is better.

[2017-05-16 06:28] codrinbucur opened #4428 "Unclear phrase in overcommit.adoc"
I find this phrase from overcommit.adoc hard to understand:

"It places pods on nodes with consideration to the pods' compute resource requests and nodes' available capacity to find for each pod the node that provides the best fit."

Can it be rewritten in a more clear fashion?

[2017-05-16 18:33] etsauer opened #4431 "Docs for OCP should point to supported integration matrix"
Something like the following should be linked/discoverable from docs.openshift.com. Perhaps in the release notes?

https://access.redhat.com/articles/2176281

[2017-05-16 19:17] adellape commented on #2866
FWIW, the [Audit Configuration](https://docs.openshift.org/latest/install_config/master_node_configuration.html#master-node-config-audit-config) now has an example block, but we still should add back in a full example master-config file.

[2017-05-16 23:57] christianh814 opened #4433 "Wrong ansible path in metrics deployment"
Docs mention

[code]

But should be

[code]

[2017-05-17 13:55] ahardin-rh commented on #4433
@christianh814 Thank you! This is addressed via https://github.com/openshift/openshift-docs/pull/4429. I will close this Issue in favor of that PR. Thanks again!

[2017-05-17 13:55] #4433 closed

[2017-05-17 16:18] mburke5678 commented on #4021
In prior versions, pod volumes remained attached until the pod resource was deleted from the master.  This prevented local disk and memory resources from being reclaim as a result of pod eviction.

[Trello](https://trello.com/c/Yr7TRKHr/578-5-node-promote-init-containers-to-ga)

[2017-05-17 16:24] mburke5678 commented on #4021
Init Containers
An init container is a container in a pod that is started before the pod’s app containers are started. Init containers can share volumes, perform network operations, and perform computation prior to the start of the remaining containers. Init containers can also block or delay the startup of application containers until some precondition is met.
[Trello](https://trello.com/c/y5h5Mh

[2017-05-17 19:25] mburke5678 commented on #4021
Pod tolerations and node taints have moved from annotations to API fields in pod specifications (PodSpec) and node specification (NodeSpec) files, respectively. Pod tolerations and node taints that are defined in the annotations will be ignored. The annotation keys: `scheduler.alpha.kubernetes.io/tolerations` and `scheduler.alpha.kubernetes.io/taints` have been removed.
[Trello](https://trello.com

[2017-05-18 04:13] bfallonf commented on #4431
Thanks @etsauer . I've added this to the list of questions to ask yourself when installing and created a PR:

https://github.com/openshift/openshift-docs/pull/4438

Let me know if there's any thoughts. I'll close this issue.

[2017-05-18 04:13] #4431 closed

[2017-05-18 04:35] bfallonf commented on #4428
Thanks @codrinbucur . I've created #4439 . Let me know if you have any further thoughts, but for now I'll close this issue.

[2017-05-18 04:35] #4428 closed

[2017-05-18 04:37] bfallonf commented on #4412
Thanks @lpsantil . I see you've created #4413 to fix this issue. There's a question there, but once that's done it can probably be merged. I'll close this issue.

[2017-05-18 04:37] #4412 closed

[2017-05-18 04:57] bfallonf commented on #4411
@lpsantil Thanks for this. I'm not actually sure what happened here. From what I can see, this is something that's changing every 3.X version.

@ahardin-rh @jeremyeder Have you got any thoughts here? I went through the history, and I was the one who changed it up for 3.4 with [this PR ](https://github.com/openshift/openshift-docs/pull/3499)and [this BZ](https://bugzilla.redhat.com/show_bug.cgi?id=

[2017-05-18 08:03] codrinbucur commented on #4428
@bfallonf Thanks! That was quick. The edits look good and clearer.

[2017-05-18 14:07] nnachefski commented on #1424
+1.  i ran into this when doing group sync to an IPA server.  I changed the user attribute to uid and everything started working.

thanks!
-Nick

[2017-05-22 03:13] siamaksade opened #4454 "Image registry url in Online docs is incorrect"
The integrated image registry url in the OpenShift Online docs refers to the "preview" url and needs to get updated to the url after GA:
https://docs.openshift.com/online/dev_guide/managing_images.html#accessing-the-internal-registry

Currently
[code]

Should be
[code]

[2017-05-22 15:47] ahardin-rh commented on #4117
@miminar Thanks! I created a docs BZ for this issue.
https://bugzilla.redhat.com/show_bug.cgi?id=1454397

[2017-05-22 15:47] #4117 closed

[2017-05-22 18:19] #4224 closed

[2017-05-22 18:32] #3889 closed

[2017-05-22 18:36] ahardin-rh commented on #447
@thoraxe Resurrecting this discussion. :ghost: Is this still valid? If so, I can create a docs BZ for better tracking.

[2017-05-22 18:38] ahardin-rh commented on #696
I think this is an outdated issue, so I am closing it. If we need to do more here, we can open a docs BZ for better tracking.

[2017-05-22 18:38] #696 closed

[2017-05-22 18:52] ahardin-rh commented on #3338
@luciddreamz @nhr Resurrecting this discussion. :ghost: Is this still an issue, or can this be closed?

[2017-05-22 19:01] luciddreamz commented on #3338
Still an issue.

Jacob Lucky
jlucky@redhat.com

On Mon, May 22, 2017 at 2:52 PM, Ashley Hardin <notifications@github.com>
wrote:

[2017-05-22 19:14] ahardin-rh commented on #3338
@luciddreamz Thanks. I created a docs BZ for better tracking: https://bugzilla.redhat.com/show_bug.cgi?id=1454451

[2017-05-22 19:14] #3338 closed

[2017-05-22 19:22] ahardin-rh commented on #1327
@smarterclayton Resurrecting this. Would you be able to offer guidance in how to make this topic more useful? Thanks!

[2017-05-23 14:54] liggitt opened #4462 "master/node config documentation lists incorrect field names"
All the field names in the tables on https://docs.openshift.com/container-platform/3.5/install_config/master_node_configuration.html#master-configuration-files use upper-case names, which do not correspond to the serialized names in the config files.

The json tag names in https://github.com/openshift/origin/blob/master/pkg/cmd/server/api/v1/types.go should be used for all field documentation

[2017-05-24 11:01] php-coder opened #4468 "SCC: add a few examples to illustrate how SCCs are chosen"
Would beneficial to add a couple examples from https://github.com/openshift/origin/issues/14164 to the SCC documentation. At this time we have only technical explanation of how it works, but real use-cases (in form of puzzlers?) could make documentation more lively and helpful.

[2017-05-25 11:43] #3687 closed

[2017-05-25 14:22] ahardin-rh commented on #4454
Addressed via https://github.com/openshift/openshift-docs/pull/4455 and the link is also fixed on the web console after discussion with the Online team.

[2017-05-25 14:22] #4454 closed

[2017-05-25 21:36] ahardin-rh commented on #2860
The REST API area of the documentation is auto-generated from the Origin code. A new guide that will provide end to end use cases for working with the OpenShift REST API is in the works. Thanks!

[2017-05-25 21:36] #2860 closed

[2017-05-26 09:35] jtudelag opened #4494 "Disconnected installation is not being pusblished in https://docs.openshift.org/latest/welcome/index.html"
Disconnected installation is not being published in https://docs.openshift.org/latest/welcome/index.html,
although is present in the repo:

https://github.com/openshift/openshift-docs/blob/master/install_config/install/disconnected_install.adoc

[2017-05-26 13:04] nstrug opened #4495 "Nuage SDN doc could do with a tidy up"
The Nuage SDN documentation e.g. https://docs.openshift.com/container-platform/3.5/install_config/configuring_nuagesdn.html could do with a tidy up. The page does not explain what Nuage is or why I would want or need to use it in preference to the default SDN. The page also uses undefined and unlinked initialisms (VSP, VSD). In general, the page seems to be written with a target audience that is a

[2017-05-26 15:37] ahardin-rh commented on #4495
@nstrug Thanks! I will start a PR soon to make some improvements. I will try to locate a Nuage SDN expert to provide some guidance.

[2017-05-30 13:06] thatdocslady opened #4500 "Some questions about doc guidelines"
As part of our work on Minishift[1] docs we are striving to align with OpenShift doc guidelines[2]. During the discussions with our engineering team, a few questions came up that we hope to clarify here so that we can implement the most effective set of conventions:

1. What is the context/background for the requirement to use xref tags[3] in internal cross-references as opposed to different ways

[2017-05-30 17:26] ahardin-rh commented on #4274
@Miciah @tiwillia Is this something that needs documented now?

[2017-05-30 18:33] ahardin-rh commented on #4237
Addressed via https://github.com/openshift/openshift-docs/pull/4286

[2017-05-30 18:33] #4237 closed

[2017-05-30 22:01] adellape commented on #4500
Deferring to @vikram-redhat on this one because I can't remember the specifics, but I believe there was a Customer Portal-related build reason why we wanted `xref`. We used to use `link` for internal references too, but then migrated all internal links to `xref` and now use `link` for external links for this reason that I can't remember. Another pro-`xref` reason could be that it's easier to grep

[2017-05-31 06:41] vikram-redhat commented on #4500
We used xrefs because it allowed us to construct/preserve those links in the different formats (single html, paged, PDF, etc...) that are used by the portal. If you use link:, you can only ever generate a paged html format, as if you generate anything else those links will no longer work. Also, the use of xref over <<>> was preferred because it was the general format for other tags (link:, image:,

[2017-06-01 08:28] maxandersen commented on #4500
To be clear our main beef is not between `xref` and `link` but that using `<<` as far as we can see translates to behave like an xref but have the advantage of being the more idiomatic and compact way to  make references in asciidoc. Is reason purely for cosmetic reference and there are no technical issues with `<<` ?

[2017-06-01 19:38] hferentschik commented on #4500
I am not quite sure what you mean here with preserve. In case you are concerned that <<>> does somehow tie you to an output format, then the behavior of <<>> is the same as xref. <<>> is a asciidoctor macro for an xref.

Ok, I get that. There is a certain unity in using xref. As a long time asciidoctor user it still feels awkward to me, so I am wondering whether this is something which really need

[2017-06-01 21:43] lpsantil opened #4525 "Broken OCP 3.5 Scaling Metrics Link"
If you click on the `Scaling and Performance Guide` link from here [0], the link will miss the target anchor.

[0] https://docs.openshift.com/container-platform/3.5/install_config/cluster_metrics.html#metrics-scaling-metrics-pods

[2017-06-01 21:57] lpsantil commented on #4525
See this PR [0].

[0] https://github.com/openshift/openshift-docs/pull/4526

[2017-06-01 23:33] bfallonf commented on #4525
Thanks for the PR @lpsantil . I've merged it. I'll close this issue. Thanks, again.

[2017-06-01 23:33] #4525 closed

[2017-06-02 17:13] adellape commented on #447
Closing this for now due to inactivity, but feel free to reopen.

@knobunc FYI on this in case you have any thoughts from the Networking team on how it could be addressed.

[2017-06-02 17:13] #447 closed

[2017-06-02 18:03] adellape commented on #723
These commands are doc'd individually in https://docs.openshift.com/container-platform/3.5/install_config/master_node_configuration.html, though not together as a single procedure. But I'm not sure that we need that given the documented (and for OCP, GSS-supported) installation methods we have currently?

Closing this for now but please reopen if needed.

[2017-06-02 18:03] #723 closed

[2017-06-02 18:13] ahardin-rh commented on #4021
Limited resources in quota is in Tech Preview for 3.6: https://github.com/openshift/openshift-docs/pull/4531

[2017-06-02 19:46] adellape commented on #759
(Not sure anymore what the state of the cited topics were when this was opened, but...)

The [Roles](https://docs.openshift.org/latest/architecture/additional_concepts/authorization.html#roles) section describes what the default roles can do, followed by [Security Context Constraints](https://docs.openshift.org/latest/architecture/additional_concepts/authorization.html#security-context-constraints

[2017-06-02 19:46] #759 closed

[2017-06-02 19:46] adellape commented on #732
Closing due to inactivity and since the linked Origin issue is also now closed. Referenced docs PRs merged long ago:

https://github.com/openshift/openshift-docs/pull/933
https://github.com/openshift/openshift-docs/pull/903

Please reopen if needed.

[2017-06-02 19:46] #732 closed

[2017-06-05 00:36] gaurav-nelson commented on #4021
Mount Options in Additional Concepts > Storage is in Technology Preview #4499

[2017-06-05 07:22] soltysh commented on #4462
Additionally, the current structure of tables does not reflect the actual structure of the file. One example of such error is in https://bugzilla.redhat.com/show_bug.cgi?id=1455479, where `maxImagesBulkImportedPerRepository` is mentioned in [Image Configuration](https://docs.openshift.org/latest/install_config/master_node_configuration.html#master-config-image-config) but actually there are *two*

[2017-06-05 20:23] #4495 closed

[2017-06-06 23:02] bparees opened #4547 "local role/policybinding documentation is broken"
The doc here seems to be broken and/or out of date:

https://docs.openshift.org/latest/admin_guide/manage_authorization_policy.html#manage-authorization-policy-creating-local-role

1) the "exampleview" role is misformatted

2) the instructions to use it don't actually tell you to/tell you how to create the role after you create the yaml file.

3) the "optionally annotate it w/ a description" comme

[2017-06-07 02:13] enj commented on #4547
@bparees all valid issues that need to be addressed.

To add the local role to a user (requires `role-namespace` so the command does not try to find a `ClusterRole` called `exampleview`):

[code]

However, in your specific case you are trying to add it to a service account (requires additional `-z`):

[code]

cc @benjaminapetersen @adellape

[2017-06-07 03:33] bparees commented on #4547
I thought -z was not necessary if you specify the full service account name as i did, i thought -z was just a shortcut for that full syntax.

[2017-06-07 03:35] liggitt commented on #4547
That is correct

[2017-06-07 10:24] thatdocslady commented on #4500
@adellape @vikram-redhat just a friendly ping to see if you had a chance to go through @hferentschik and @maxandersen responses, thanks!

[2017-06-07 10:48] enj commented on #4547
Sorry for the half correct `-z` information.  Just do not try to combine `-z` with the full SA name (https://bugzilla.redhat.com/show_bug.cgi?id=1425398).

[2017-06-07 12:18] vikram-redhat commented on #4500
There are no technical reasons to use one over the other. We wanted to be consistent in the use of this tag.

[2017-06-07 12:19] vikram-redhat commented on #4500
This seems out of context. I am saying here why we used xrefs over links and not why we used xref over <<>>.

[2017-06-07 12:22] ahardin-rh commented on #4021
In OCP 3.6, Daemon pods do respect taints and tolerations, but they are created with NoExecute tolerations for the node.alpha.kubernetes.io/notReady and node.alpha.kubernetes.io/unreachable taints with no tolerationSeconds. This ensures that when the TaintBasedEvictions alpha feature is enabled, they will not be evicted when there are node problems such as a network partition. (When the TaintBased

[2017-06-07 12:33] thatdocslady commented on #4500
@vikram-redhat I guess this was a miscommunication on my part, I wasn't asking about xref/link, but rather of non-prefix ways of tagging links, such as <<>>. I hope this clarifies the question.

[2017-06-08 12:45] bmcelvee commented on #775
Hey @sosiouxme! Since this issue was opened a couple of versions back, does this enhancement still need to be added to the documentation?

[2017-06-08 12:51] bmcelvee commented on #945
Looks like this has been documented: https://docs.openshift.org/latest/install_config/web_console_customization.html#customizing-the-login-page. I'm going ahead and closing this issue. Please let me know if additional documentation needs to be provided.

[2017-06-08 12:51] #945 closed

[2017-06-08 12:55] bmcelvee commented on #1019
Hey @nak3! This issue was opened several versions back, and it appears that the documentation has been updated appropriately. Please let me know if you think it is safe to close this issue. Thanks!

[2017-06-08 13:03] bmcelvee commented on #1022
Hey, @adellape! This was last updated a while back. Do you recall if we've done a mass audit? Is this something we should plan on for 3.7?

[2017-06-08 13:20] bmcelvee commented on #1040
Hey @soltysh! This issue was opened several versions back, and the Kubernetes link has moved to their docs pages. Do you think this issue is still applicable? If not, I'll go ahead and close it. Thanks!

[2017-06-08 13:29] bmcelvee commented on #1048
Hey @sdodson! Since this issue was opened for 3.1/1.1, do you think it's safe to go ahead and close it? Thanks!

[2017-06-08 13:43] bmcelvee commented on #1051
The documentation has been updated: https://docs.openshift.org/latest/install_config/master_node_configuration.html#node-configuration-files. Please let me know if additional documentation is needed.

[2017-06-08 13:43] #1051 closed

[2017-06-08 13:45] bmcelvee commented on #1083
Hey @nak3! Since this issue was opened several versions back, do you think it's safe to close out?

[2017-06-08 13:46] bmcelvee commented on #1083
Hey @nak3! Since this issue was opened several versions back, do you think it's safe to close out?

[2017-06-08 14:01] bmcelvee commented on #1119
This issue was opened several versions back, and from my preliminary search it appears `--pid=host` is included. I will continue to do a more thorough sweep.

[2017-06-08 14:06] bmcelvee commented on #1153
It looks like the documentation has been updated since this issue was opened: https://docs.openshift.org/latest/install_config/install/advanced_install.html. I going to go ahead and close this issue. If there is any additional documentation needed, please let me know.

[2017-06-08 14:06] #1153 closed

[2017-06-08 14:10] bmcelvee commented on #1151
Looks like it is safe to close this issue. If there is any additional documentation required, please let me know.

[2017-06-08 14:48] nak3 commented on #1083
Yeah... This PR is made in 2015... Actually I don't remember it.

[2017-06-08 14:48] #1083 closed

[2017-06-08 14:49] nak3 commented on #1019
Sure, let's close.

[2017-06-08 14:49] #1019 closed

[2017-06-08 17:25] bparees commented on #4547
with some help from @pweil- i learned that you must first create a policybinding object before you can create a rolebinding, so when this doc is updated, that should be part of the "how to create a local role" steps. (though i find the requirement baffling).

[2017-06-08 17:43] enj commented on #4547
@bparees no need, I will be loosening that requirement as a fix to https://github.com/openshift/origin/issues/14078

[2017-06-08 19:16] sdodson commented on #1048
Yeah, no need to fix 3.1 docs at this point.

[2017-06-08 19:16] #1048 closed

[2017-06-08 19:56] knobunc commented on #4021
The OpenShift router will no longer allow SSLv3 (to prevent the POODLE attack).  No modern web browser should require this.  https://github.com/openshift/origin/issues/7638

[2017-06-08 21:08] Miciah commented on #4274
@ahardin-rh, the sso template is not expected to ship in Online Professional at this time.  It is only in Dedicated.

[2017-06-08 21:10] ahardin-rh commented on #4274
@Miciah Thank you! Should I go ahead and close this issue?

[2017-06-08 21:14] Miciah commented on #4274
I guess we can.  We have a lot of templates that are in Dedicated but aren't documented, so presumably either we are tracking the general issue somewhere or just don't care.

[2017-06-08 21:23] ahardin-rh commented on #4274
@Miciah We definitely care. This particular issue was originally filed about Online. Perhaps we need to consult with our content strategist @aheslin. I think there needs to be a larger discussion about the possibility of adding information about this and other templates to our docs, and how that information would be maintained/kept up to date.

[2017-06-08 21:51] aheslin commented on #4274
Are most of the templates the same as the SSO template? Like they exist in the current xPaaS docs? If so, let me think about this. With the xPaaS transition of a central team to individual MW teams, we would want to think about how we present and maintain the templates.

[2017-06-08 21:59] ahardin-rh commented on #4274
@aheslin Not 100% sure. :thinking:  Here are some related doc requests on templates:

- https://github.com/openshift/openshift-docs/issues/4273
- https://github.com/openshift/openshift-docs/issues/4272

[2017-06-08 23:27] Miciah commented on #4274
I filed this and those requests because the three templates identified in the requests were going to be available in Starter.  However, aside from Starter, we have dozens of templates that get installed in Dedicated, and they appear to be mostly undocumented.  Specifically, all the templates under [db-templates](https://github.com/openshift/openshift-ansible/tree/master/roles/openshift_examples/fi

[2017-06-08 23:35] Miciah commented on #4273
Looks like Starter and Professional now include both redis-ephemeral and redis-persistent.

[2017-06-09 10:10] mar1ged opened #4561 "Docs are unclear how input secrets can be kept outside an image"
The docs at https://github.com/openshift/openshift-docs/blob/5f1e5a89b8b48cfd17baf9c7908c9e07538bdd71/dev_guide/builds/build_inputs.adoc#using-secrets-in-the-buildconfig mention this:

S2I takes care of this automatically, but for the docker strategy this has to be done manually. I didn't yet find a solution (perhaps a `rm foo.bar` in the right place does the job ?) so other people might run into

[2017-06-09 17:34] adellape commented on #1022
@bmcelvee It looks like we still have some hits on `docs/design` in master and some other old GoogleCloudPlatform and Kubernetes GH docs that we can update.

[2017-06-12 14:34] pecameron commented on #4021
oc admin router added --ciphers to allow the user to provide a specific cipher list to bind in haproxy. --ciphers creates the ROUTER_CIPHERS environment variable. More information is in PR 14505.

[2017-06-13 07:57] maxstepanov opened #4573 "Advanced installation docs don't link to Ansible"
I tried to follow Advanced install with Ansible but there is no link to actual Ansible repository for this type of install, not to mention a versions mess...

[2017-06-13 08:33] soltysh commented on #1040
@bmcelvee the issue still stands, I've updated the link from the description to point to a current docs.

[2017-06-13 13:11] thom-at-redhat commented on #682
https://access.redhat.com/solutions/3019011#comments has some additional information/commands we use

[2017-06-14 17:19] php-coder commented on #4573
@maxstepanov Interesting observation. First of all, Ansible installer repository is here: https://github.com/openshift/openshift-ansible

Also, documentation to what version and what "flavor" did you read? On which site (http://docs.openshift.com or http://docs.openshift.org)? :) Because different types assume a different approaches to get the installer, for example.

[2017-06-14 17:33] php-coder commented on #4561
Yes, secrets should be removed and removed in the same layer where they were added. In other words, they should be in a single directive: `RUN wget http://company.com/my-secret-key -O ~/my-key && use the key && rm ~/my-key`

CC @bparees

[2017-06-14 18:07] bparees commented on #4561
@php-coder that only works if your secrets are remotely accessible which is another whole host of problems (e.g. how do you authenticate to the service hosting your secret?  you need another secret, which means.....).

The docs section in question here is about using openshift secrets as part of what is available to the build context.  That means for a dockerbuild it has to be an "ADD"  (or some c

[2017-06-14 18:24] php-coder commented on #4561
@bparees Thank you, Ben!

[2017-06-14 18:33] bparees commented on #4561
@openshift/team-documentation
I think the only improvement here would be to update this section:
https://docs.openshift.org/latest/dev_guide/builds/build_inputs.html#using-secrets-docker-strategy

with an explicit example of the Dockerfile commands that would ADD, use, and remove, a secret.

[2017-06-14 18:42] mburke5678 commented on #788
@thoraxe Is this still an issue?
If we add a link from the Self-provisioning Projects topic
https://docs.openshift.com/container-platform/3.5/admin_guide/managing_projects.html#selfprovisioning-projects

that points to the creating a quota fro a project section?
https://docs.openshift.com/container-platform/3.5/admin_guide/quota.html#create-a-quota

[2017-06-14 19:02] mburke5678 commented on #791
@cgwalters In the PR you linked above (#3853), there is a suggestion that the document at the following link satisfy the request. Does that address your issue?
https://docs.openshift.org/latest/dev_guide/builds.html#using-private-repositories-for-builds

in 3.5:
https://docs.openshift.com/container-platform/3.5/dev_guide/builds/index.html

[2017-06-14 19:06] cgwalters commented on #791
@mburke5678 Yes.

(Though there's a larger issue about apps that need those certs at runtime, but I suspect most people are addressing that today by using custom base images)

[2017-06-14 19:06] #791 closed

[2017-06-14 19:17] mburke5678 commented on #801
@goern Is this still an issue?

[2017-06-14 19:30] mburke5678 commented on #807
@smarterclayton As of 3.1, the API reference guide contains a section on session tokens. Does this meet your concern here?
"...After logging in, the session token may be obtained with the oc whoami command:
$ oc whoami -t
dIAo76N-W-GXK3S_w_KsC6DmH3MzP79zq7jbMQvCOUo"
https://docs.openshift.com/enterprise/3.1/rest_api/index.html#rest-api-session-tokens

Forgive my ignorance if this does not help.

[2017-06-14 20:20] mburke5678 commented on #835
@smarterclayton A topic that *seems* to address your concerns was added in 3.2:
https://docs.openshift.com/enterprise/3.2/install_config/configuring_sdn.html

https://docs.openshift.com/container-platform/3.5/install_config/configuring_sdn.html

Does this topic meet your needs related to this PR?

[2017-06-14 20:43] mburke5678 commented on #810
Closing as this topic appears only in Origin 1.2, which we are not updating any longer.

Perhaps this issue can be brought up to the middleware team as they talk about Java S2I??
https://access.redhat.com/documentation/en-us/red_hat_jboss_middleware_for_openshift/3/html-single/red_hat_java_s2i_for_openshift/

[2017-06-14 20:45] mburke5678 commented on #810
@dsimansk It appears that this topic might have slipped into OpenShift Online 3.0. Do you know if the topic belongs there?
https://docs.openshift.com/online/using_images/s2i_images/java.html

[2017-06-14 20:45] #810 closed

[2017-06-14 20:56] mburke5678 commented on #935
@spadgett It appears these options were added in 3.1:
https://docs.openshift.com/enterprise/3.1/install_config/web_console_customization.html

3.5: https://docs.openshift.com/container-platform/3.5/install_config/web_console_customization.html

Please let me know if this meets your needs and we can close this PR.

[2017-06-14 21:31] mburke5678 commented on #884
@thoraxe @adellape Did we address the node port configuration issue?

This section was added in 3.2:
https://docs.openshift.com/enterprise/3.2/architecture/core_concepts/pods_and_services.html#service-nodeport

In 3.5: https://docs.openshift.com/container-platform/3.5/architecture/core_concepts/pods_and_services.html#service-nodeport

[2017-06-14 22:54] enj commented on #4021
The `ClusterPolicy`, `Policy`, `ClusterPolicyBinding` and `PolicyBinding` API types are deprecated.  Users will need to switch any interactions with these types to instead use `ClusterRole`, `Role`, `ClusterRoleBinding` or `RoleBinding` as appropriate.  The following `oadm policy` commands can be used to help with this process:

[code]

as well as the following `oc create` commands:

[code]

The u

[2017-06-15 08:45] maxstepanov commented on #4573
@php-coder Origin one
https://docs.openshift.org/latest/install_config/install/advanced_install.html

[2017-06-15 08:58] dsimansk commented on #810
@mburke5678 well, this issue is definitely obsolete now. No need to update anything, afaik.

The Online [guide](https://docs.openshift.com/online/using_images/s2i_images/java.html) points to current s2i java image and all config variables.

[2017-06-15 12:15] #935 closed

[2017-06-15 14:03] danwinship commented on #4021
When using the `redhat/openshift-ovs-networkpolicy` plugin (which is still in Tech Preview), NetworkPolicy objects now have the "NetworkPolicy v1" semantics from Kubernetes 1.7 (although they are still in the `extensions/v1beta1` API group; the new `networking.k8s.io/v1` API group is not yet available).

In particular, the `net.beta.kubernetes.io/network-policy` annotation on Namespaces to opt in

[2017-06-15 14:04] mburke5678 commented on #936
@thoraxe Is this still an issue that we want to pursue? If so, who might be a good resource for info?

[2017-06-15 14:12] mburke5678 commented on #1192
@thoraxe What is the status of these flags? These flags do not appear in the docs, from my quick search, and I do not see them in the 3.5 CLI help output. Are they still in the code?

[2017-06-15 14:21] mburke5678 commented on #1263
@tomason Is this still an issue? If so, do you have any guidance on required CPU?
This is what we have in 3.1 and similar in 3.5:
https://docs.openshift.com/enterprise/3.1/dev_guide/pod_autoscaling.html

[2017-06-15 14:35] mburke5678 commented on #1324
@php-coder There is information in the 3.1 docs (not sure when it was added) regarding `requests`, which is maintained in 3.5.
----
  type: "Recreate"
  resources:
    requests: (1)
      cpu: "100m"
      memory: "256Mi"
---
(1) The requests object contains the list of resources that correspond to the list of resources in the quota.
https://docs.openshift.com/enterprise/3.1/dev_guide/deployments.

[2017-06-15 14:43] mburke5678 commented on #1265
@tkramer-conversant
The current Origin docs contain the following:
_"OpenShift Origin includes a web console which helps you visualize your applications and perform common creation and management actions. You can use the test user we created above to log in to the console via https://<server>:8443/console."_
Does this address your concern?

[2017-06-15 14:59] thoraxe commented on #788
Almost. It's not entirely clear that you can add a quota object to the project request template unless you have a good/solid understanding of templates to begin with. So, just a link may not be sufficient for a person to put the two things together and then extrapolate that they can add a quota object to a template...

Same goes for limit ranges.

[2017-06-15 15:05] thoraxe commented on #884
I don't think these docs are complete.

* Who can request a nodeport on a service?
It mentions that "Setting a nodePort is a privileged operation." but doesn't specify what type of privilege. Is this an SCC-type privilege? Is this a cluster-admin privilege? It's unclear.

* What happens if someone requests a port for a service that is already requested/in-use?

And so on and so forth.

This is rel

[2017-06-15 15:06] thoraxe commented on #884
Sorry, didn't mean to hit close.

[2017-06-15 15:07] php-coder commented on #1324
@mburke5678 Looks like, yes. Thank you!

[2017-06-15 15:07] #1324 closed

[2017-06-15 15:08] thoraxe commented on #936
Not sure who a good resource would be. Someone on Group 1 for sure.

Whether or not we want to document this hinges on whether or not we want to support it. Probably want to talk to a combination of Productization and CEE.

[2017-06-15 15:09] thoraxe commented on #1192
https://github.com/openshift/origin/blob/master/pkg/cmd/infra/router/router.go#L64-L79

Now there are more...

[2017-06-15 15:10] mburke5678 commented on #1293
@brenton @sjwalter2 Is this work-around still required?

[2017-06-15 15:16] thoraxe commented on #1192
@rajatchopra @knobunc

[2017-06-15 15:17] mburke5678 commented on #1310
@rhcarvalho The associated PR is merged. Closing this reminder PR.

[2017-06-15 15:17] #1310 closed

[2017-06-15 15:24] mburke5678 commented on #1325
@php-coder There is a reference to `updatePeriodSeconds` and `intervalSeconds` here:
https://docs.openshift.org/latest/dev_guide/integrating_external_services.html#step-2-consume-a-service

Should we also have this info in the Deployment Strategies doc?
https://docs.openshift.org/latest/dev_guide/deployments/deployment_strategies.html#rolling-strategy

[2017-06-15 15:52] mburke5678 commented on #1418
Fixed. See:
https://github.com/openshift/openshift-docs/commit/d949c064b3c00aa31c5badaaba70055ff9047ebd

[2017-06-15 15:52] #1418 closed

[2017-06-15 15:53] php-coder commented on #1325
https://docs.openshift.org/latest/dev_guide/integrating_external_services.html#step-2-consume-a-service

This is just a reference without explanation and also it's located in the place where it's hard to find.

I believe that yes, they should be documented along with other Deployment fields.

[2017-06-15 16:02] mar1ged commented on #4561
@bparees: this would be perfect because I didn't find such an example

[2017-06-15 16:04] rhcarvalho commented on #1310
The reference was to comments in the PR that were not addressed before merge... but this is so old, might have lost the relevance, it is fair to simply close it.

[2017-06-15 16:22] brenton commented on #1293
My understanding from reading through a few related github PRs and https://bugzilla.redhat.com/show_bug.cgi?id=1297075 is that we have a work around in OpenShift that should handle this situation for the openstack provider.  The cloud provider can use the "hostname" or the externalID and I would think that as long as the hostname of the VM matches one of these this probably should no longer happen

[2017-06-15 16:22] #1293 closed

[2017-06-15 16:25] mburke5678 commented on #1325
Created a docs Bugzilla. Closing this issue.
https://bugzilla.redhat.com/show_bug.cgi?id=1461935

[2017-06-15 16:25] #1325 closed

[2017-06-15 16:35] mburke5678 commented on #1192
Created a docs Bugzilla. Closing this issue.
https://bugzilla.redhat.com/show_bug.cgi?id=1461938

[2017-06-15 16:35] #1192 closed

[2017-06-15 16:40] mburke5678 commented on #788
Created a docs Bugzilla. Closing this issue.
https://bugzilla.redhat.com/show_bug.cgi?id=1461940

[2017-06-15 16:40] #788 closed

[2017-06-15 16:51] mburke5678 commented on #884
Created a docs Bugzilla. Closing this issue.
https://bugzilla.redhat.com/show_bug.cgi?id=1461945

[2017-06-15 16:51] #884 closed

[2017-06-15 16:57] knobunc commented on #1192
Commented on the bug too:

The flags you are looking at are not oadm router flags.  They are the flags for the router command that runs inside the docker container.

The environment variables (which are the expected way to manipulate the settings) are documented at: https://github.com/openshift/openshift-docs/blob/master/architecture/core_concepts/routes.adoc#env-variables

Note that we do not doc

[2017-06-15 17:39] deads2k commented on #4021
The `metadata` volumesource https://github.com/openshift/origin/blob/master/vendor/k8s.io/kubernetes/pkg/api/v1/types.go#L338-L341 has been deprecated for multiple releases and will be removed in 3.7.

https://github.com/openshift/origin/issues/14677

[2017-06-15 18:34] thoraxe commented on #1192
Thanks, Ben! This issue is really old and was related to one of the new router features that wasn't previously documented. Sounds like the docs are much improved.

[2017-06-19 13:26] liggitt commented on #4021
API change: Unless explicitly documented otherwise, API fields containing lists of items no longer distinguish between `null` and `[]`, and may return either `null` or `[]` regardless of the original value submitted.

[2017-06-19 15:45] ashcrow commented on #4021
When using system containers with OpenShift the ``atomic`` command on hosts must be >= ``1.17.2``

[2017-06-19 19:33] gregswift opened #4603 "Community docs missing versioned releases"
If you browse to docs.openshift.org you are given the options of Latest and 1.2.  Shouldnt there be cut releases for each milestone version?

[2017-06-19 20:22] #4603 closed

[2017-06-20 15:33] adellape commented on #4021
Tech Preview: Deploying basic CFME as an OpenShift App https://trello.com/c/Zvrc7Qu4

[2017-06-21 02:14] georgegoh opened #4625 "Host preparation lists kexec as a package, but no such package exists."
Base packages listed here:

https://github.com/openshift/openshift-docs/blob/enterprise-3.5/install_config/install/host_preparation.adoc#installing-base-packages

**kexec** as a package does not exist. This should be **kexec-tools**, I believe.

[2017-06-22 10:18] vikram-redhat commented on #4625
@adellape - is this right? If yes, could you do a simple PR to fix the docs?

[2017-06-22 10:31] vikram-redhat commented on #4561
Thanks all. Created bug to track: https://bugzilla.redhat.com/show_bug.cgi?id=1464042

[2017-06-22 10:31] #4561 closed

[2017-06-22 10:32] vikram-redhat commented on #4547
@adellape - are you looking at this?

[2017-06-22 10:34] vikram-redhat commented on #4500
@thatdocslady - thanks Mikey. So the only reason we used xrefs over <<>> was to be consistent. Hope that clarifies. I am going to close this issue now, please reopen if otherwise.

[2017-06-22 10:34] #4500 closed

[2017-06-22 10:35] vikram-redhat commented on #4152
Hopefully @juanluisvaladas 's answer has helped you @soufiane8096 . I am going to close this issue. Please feel free to reopen if you don't have your answer.

[2017-06-22 10:35] #4152 closed

[2017-06-22 10:40] vikram-redhat commented on #4494
Hi @jtudelag - yes that is correct. The disconnected installation guide is enterprise only.

[2017-06-22 10:40] #4494 closed

[2017-06-22 10:50] vikram-redhat commented on #3783
Hmm - sorry for the delay. Yes, we do normally cover this. Looks like we may have missed a redirect here. @adellape - thought we had set these up when we broke the deployments guide?

[2017-06-22 13:14] bparees commented on #4021
Container launched by the build pod (e.g. the s2i assemble container or the "docker build" process) now run under the build pod's parent cgroup.

Previously the containers had their own cgroup and the memory/cpu limits were mirrored from the pod's cgroup limits.  With this change, the secondary containers will now be sharing the memory limit that is consumed by the build pod, meaning the secondary

[2017-06-22 21:25] adellape commented on #3783
Oof, looks like we did it for everything but Origin. :| Emailing.

[2017-06-23 01:32] vikram-redhat commented on #3783
Thanks @adellape. I am going to close this issue.

[2017-06-23 01:32] #3783 closed

[2017-06-23 09:48] jtudelag opened #4647 "Backup docker certs when working with External secured registries"
As the doc states, when working with external secured Registries, registry certs must be copied to the folder  /etc/docker/certs.d. [1]

This has to be taken into account when doing a backing up and restoring a cluster, otherwise, It won't be possible to pull images, so the cluster won't be fully functional after the restore.

https://docs.openshift.org/1.5/install_config/registry/securing_and_exp

[2017-06-23 15:13] adellape commented on #3783
This is done:

https://docs.openshift.org/latest/dev_guide/deployments.html

[2017-06-26 00:05] vikram-redhat commented on #4647
A bug [1] has been opened to track this. Closing this issue.

[1] https://bugzilla.redhat.com/show_bug.cgi?id=1464494

[2017-06-26 00:05] #4647 closed

[2017-06-27 18:17] tonykay opened #4660 "dev_guide/downward_api.adoc yaml example syntax error"
In the yaml example file at dev_guide/downward_api.adoc#using-the-volume-plug-in the volume-pod.yaml file the 2 annotation examples need to be quoted:

Currently is:

    annotation1: 345
    annotation2: 456

Should be:

     annotation1: "345"
     annotation2: "456"

Otherwise

fails:

[2017-06-27 18:52] adellape commented on #4625
@vikram-redhat Yeah, fixing via https://github.com/openshift/openshift-docs/pull/4661. Thanks @georgegoh!

[2017-06-27 18:55] #4625 closed

[2017-06-27 19:26] deads2k commented on #4021
SecurityContextConstraints are now also available via a groupified API at `/apis/security.openshift.io/v1/securitycontextconstraints`.  They are still available at `/api/v1/securitycontextconstraints`, but using the groupified API will provide better integration with tooling.

[2017-06-29 05:58] bfallonf commented on #4660
Thanks @tonykay . I've fixed this in PR #4671 . Closing this issue.

[2017-06-29 05:58] #4660 closed

[2017-06-29 06:04] bfallonf commented on #4209
Thanks @lpsantil . I've reported a BZ for this issue: https://bugzilla.redhat.com/show_bug.cgi?id=1466118

Hopefully will be updated soon. I'll close this issue. Please let us know if there's anything else.

[2017-06-29 06:04] #4209 closed

[2017-06-29 06:13] bfallonf commented on #1498
Established as an asciibinder issue and not specifically a docs issue. I'll close this for now.

[2017-06-29 06:13] #1498 closed

[2017-06-29 06:14] bfallonf commented on #1519
The above PR merged. Nodeselectors info is in the docs. I'll close this issue. If there's anything more here, let us know.

[2017-06-29 06:14] #1519 closed

[2017-06-29 06:15] bfallonf commented on #1570
With the above PR merged, I'll close this issue. If there's anything more needed, please let us know.

[2017-06-29 06:15] #1570 closed

[2017-06-29 06:21] bfallonf commented on #2158
Going to close this issue. It's an ongoing process with the docs team, rather than done in one job.

[2017-06-29 06:21] #2158 closed

[2017-06-29 06:22] bfallonf commented on #2455
The above docs PR covers this. Closing this issue.

[2017-06-29 06:22] #2455 closed

[2017-06-29 08:38] pweil- opened #4672 "Clarify glusterfs persistentVolumeReclaimPolicy"
https://docs.openshift.org/latest/install_config/persistent_storage/persistent_storage_glusterfs.html#gfs-creating-persistent-volume notes that `GlusterFS does not support the 'Recycle' recycling policy` and then later notes that the policy seems to be completely unsupported with `The Recycle policy is currently not supported with glusterfs`.

Also in the [example](https://docs.openshift.org/lates

[2017-06-29 11:25] thatdocslady opened #4673 "Incorrect xref format for top-level headings?"
While implementing the xref format we discovered in Minishift that if we used the anchor ID text for the H1 top-level heading then the links broke during the publication.

Currently in the doc guidelines [1] it says to write the anchor ID text, but we discovered that if we remove it and only use the hash sign (#) then the links work.

If this is something that doesn't interfere with other implemen

[2017-06-29 21:11] bparees opened #4681 "builds + imagestreams topic should be split"
not sure why we originally lumped these together, but they should be two separate topics:
https://docs.openshift.org/latest/architecture/core_concepts/builds_and_image_streams.html

[2017-07-04 19:32] php-coder commented on #1498
@bfallonf Could you share a link to this issue, please?

[2017-07-05 02:11] vikram-redhat commented on #4673
@thatdocslady - Hey Mikey. Publication to the portal broke or to docs.openshift.org?

[2017-07-05 05:15] bfallonf commented on #1498
@php-coder Was one reported? As I said, this isn't exactly a docs issue, but an asciibinder issue, and there's a workaround above. Unless I'm mistaken, tooling stuff is beyond the scope of the docs repo.

[2017-07-05 11:22] nhr commented on #1498
@php-coder - https://github.com/redhataccess/ascii_binder/issues/18

[2017-07-06 14:13] childsb commented on #4021
Openshift Volume Recycler is being deprecated.  Anyone using recycler should use dynamic provision and volume deletion instead.

[2017-07-07 14:13] jiri-fiala opened #4732 "incomplete cert chain on docs.openshift.org"
Incomplete cert chain is reported on docs.openshift.org:
https://www.ssllabs.com/ssltest/analyze.html?d=docs.openshift.org

[2017-07-07 14:29] adellape commented on #4732
FYI @nhr

[2017-07-07 14:33] adellape commented on #4021
https://bugzilla.redhat.com/show_bug.cgi?id=1464025 should be listed as a Known Issue per @sdodson.

[2017-07-07 14:57] nhr commented on #4732
This is low priority but I will add it to my backlog.

[2017-07-10 17:58] nhr commented on #4732
Issue is resolved.

[2017-07-10 17:58] #4732 closed

[2017-07-10 18:46] Jooho opened #4746 "The virt_sandbox_use_nfs boolean is defined by the docker-selinux package."
Same context but different value since 3.2 to latest:

```The virt_use_nfs boolean is defined by the docker-selinux package```
https://github.com/openshift/openshift-docs/blob/master/install_config/persistent_storage/persistent_storage_nfs.adoc

```The virt_sandbox_use_nfs boolean is defined by the docker-selinux package.```
https://github.com/openshift/openshift-docs/blob/master/install_config/st

[2017-07-10 19:03] Jooho commented on #4746
From this [issue](https://github.com/openshift/openshift-ansible/issues/2294),
detiber said " 3.2+, I don't think virt_sandbox_use_nfs is even needed."

[2017-07-11 09:24] thatdocslady commented on #4673
@vikram-redhat I think it's to docs.openshift.org, we don't publish directly to the CP yet.

[2017-07-11 20:06] ahardin-rh commented on #795
Closing this old issue since we have since added a lot of information on access modes and [persistent storage examples](https://docs.openshift.com/container-platform/3.5/install_config/storage_examples/index.html). Let me know if there is a need to reopen.

[2017-07-11 20:06] #795 closed

[2017-07-11 21:07] ahardin-rh commented on #1385
Looks like more information has been added to https://docs.openshift.com/container-platform/3.5/admin_solutions/master_node_config.html since this was opened, so I will close this. We can reopen if more is needed here.

[2017-07-11 21:07] #1385 closed

[2017-07-11 21:09] ahardin-rh commented on #1327
@smarterclayton Any guidance?

[2017-07-11 21:12] ahardin-rh commented on #1425
Looks like this was fixed via https://github.com/openshift/openshift-docs/issues/2310

[2017-07-11 21:12] #1425 closed

[2017-07-11 21:20] ahardin-rh commented on #1371
@liggitt Digging up this old issue. Is this still valid? Looks like some more content has been added since this was opened including https://docs.openshift.com/container-platform/3.5/admin_solutions/user_role_mgmt.html

[2017-07-11 21:42] ahardin-rh commented on #1454
Closing this oldie

[2017-07-11 21:42] #1454 closed

[2017-07-11 21:49] ahardin-rh commented on #1435
Thank you! I converted this to a BZ so that we can better track the work: https://bugzilla.redhat.com/show_bug.cgi?id=1469812

[2017-07-11 21:49] #1435 closed

[2017-07-11 21:53] ahardin-rh commented on #1449
Thanks! We document `oc get`, but could do more to explain use cases for `oc get images`. I created this bug to track the doc improvements: https://bugzilla.redhat.com/show_bug.cgi?id=1469818

[2017-07-11 21:53] #1449 closed

[2017-07-11 23:20] gaurav-nelson commented on #4746
Thank you @Jooho we are working on this one.

[2017-07-11 23:32] gaurav-nelson commented on #4681
![](https://github.trello.services/images/mini-trello-icon.png) ["Architecture" improvements](https://trello.com/c/lsCm60x7/29-architecture-improvements)

[2017-07-11 23:35] gaurav-nelson commented on #4681
Thanks @bparees this is a work in progress. I have added this to the related trello card.

[2017-07-12 01:27] gaurav-nelson commented on #4672
Thank you @pweil- We are working on this one.

[2017-07-12 01:28] gaurav-nelson commented on #4672
Closing this, please follow https://github.com/openshift/openshift-docs/issues/4760

[2017-07-12 01:28] #4672 closed

[2017-07-12 01:29] gaurav-nelson commented on #4746
Closing this, please follow https://github.com/openshift/openshift-docs/issues/4755

[2017-07-12 01:29] #4746 closed

[2017-07-12 02:59] gaurav-nelson commented on #4147
Thank you @fgiloux. Tracking this in PR# #4765

[2017-07-12 03:00] #4147 closed

[2017-07-12 03:07] gaurav-nelson commented on #3600
Not an issue anymore, fixed in the latest docs. https://docs.openshift.org/latest/dev_guide/application_health.html#container-health-checks-using-probes under *HTTP Checks* heading. The text now reads:

[2017-07-12 03:07] #3600 closed

[2017-07-12 04:20] gaurav-nelson commented on #3580
This seems like a software problem and not a docs specific thing. (Closing this)

@burhan as @brennv mentioned, please see  the upstream [origin-web-console issues for the registry](https://github.com/openshift/origin/issues?utf8=%E2%9C%93&q=registry%20). If none of those help feel free to create a new issue there.

[2017-07-12 04:20] #3580 closed

[2017-07-12 04:33] gaurav-nelson commented on #3553
@mazzystr Thank you for creating this.
`htpasswd`command adds a `username:password` key value pair at the specified pah. See [htpasswd](https://httpd.apache.org/docs/current/programs/htpasswd.html) for more details. It really doesn't matter whatever the path is. Closing this.

[2017-07-12 04:33] #3553 closed

[2017-07-12 04:44] gaurav-nelson commented on #3490
Thank you @jawnsy for the suggestion. I have addressed this in PR #4767

Closing this.

[2017-07-12 04:44] #3490 closed

[2017-07-12 08:21] juanluisvaladas commented on #4013
Fixed in https://github.com/openshift/openshift-docs/pull/4034

[2017-07-12 08:21] #4013 closed

[2017-07-13 01:23] liggitt commented on #1371
yes, still valid

[2017-07-14 09:22] adelton commented on #1845
The pull request https://github.com/openshift/origin/pull/8313 was closed / retracted because @smarterclayton in https://github.com/openshift/origin/pull/8313#issuecomment-203966425 casted his preference

[code]

The problem is, packages like https://github.com/openshift/origin/releases/download/v3.6.0-rc.0/openshift-origin-client-tools-v3.6.0-rc.0-98b3d56-linux-64bit.tar.gz or atomic-openshift-cl

[2017-07-14 09:39] adelton commented on #1845
Ah, so it looks like in http://lists.openshift.redhat.com/openshift-archives/dev/2017-May/msg00013.html we got the green light.

[2017-07-14 10:05] adelton commented on #1845
Giving it a try with https://github.com/openshift/origin/pull/15202.

[2017-07-14 10:25] adelton commented on #1845
And https://github.com/openshift/openshift-docs/pull/4785.

[2017-07-14 17:39] ahardin-rh commented on #1371
@liggitt Thanks. I created https://bugzilla.redhat.com/show_bug.cgi?id=1471219 to better track improvements.

[2017-07-14 17:39] #1371 closed

[2017-07-16 23:01] Jooho opened #4793 "ecuring_and_exposing_registry does not need some steps and need to add a steps"
Hi,

securing_and_exposing_registry.html show how to add cert for docker registry but I think from 3.2, default docker-registry template use HTTPS scheme with default generated cert.

So some steps are not needed and need to add 1 more step.

Useless:
-----------
1. Step 7,8,9 are not needed any more because **default scheme is HTTPS**
- 7.Enable TLS by adding the following environment variables t

[2017-07-17 15:27] Jooho commented on #4793
From my testing, I realise that default docker registry scheme is  HTTPS and registry-certificate secret is created when I deploy it with ansible.

So the doc don't need to change anything.

Close this ticket.

[2017-07-17 15:28] #4793 closed

[2017-07-20 12:31] sspeiche opened #4827 "Better information on proxy setting support for 'oc' command"
Customer had a hard time understanding how to configure the `oc` command to use their corporate proxy. The docs only talk about it from an admin point of view and proxy settings for nodes, etc.

It would be handy if the topic was covered at: https://docs.openshift.org/latest/cli_reference/get_started_cli.html
to describe the usage of HTTP_PROXY and HTTS_PROXY

/cc @spurtell @fabianofranz

[2017-07-24 12:31] php-coder commented on #1486
@thoraxe We have description of the fields here: https://docs.openshift.org/latest/architecture/additional_concepts/authorization.html#security-context-constraints Is it enough?

Do you still think that it's better to have a table like PSP does? (see https://kubernetes.io/docs/concepts/policy/pod-security-policy/#what-is-a-pod-security-policy?

CC @pweil-

[2017-07-24 12:51] php-coder commented on #775
I feel that yes, it still needed.

[2017-07-24 13:51] bmcelvee commented on #1040
Thanks, @soltysh!

[2017-07-24 13:52] bmcelvee commented on #775
Thanks, @php-coder!

[2017-07-25 14:18] #764 closed

[2017-07-25 15:37] ahardin-rh commented on #1327
Closing due to inactivity and lack of concrete guidance

[2017-07-25 15:37] #1327 closed

[2017-07-25 17:04] Jooho opened #4843 "openshift_logging_public_master_url should be openshift_logging_master_public_url"
Hi

The parameter "openshift_logging_public_master_url" from [aggregate logging doc](https://github.com/openshift/openshift-docs/blob/master/install_config/aggregate_logging.adoc) is different from ansible script variable "openshift_logging_master_public_url".

So if I use this variable "openshift_logging_master_public_url", it will set public master url in kibana but if I use "openshift_logging_p

[2017-07-25 18:16] Jooho opened #4846 "aggregate_logging default value linked to metric"
Hi
From this [aggregate_doc](https://github.com/openshift/openshift-docs/blob/master/install_config/aggregate_logging.adoc), the default value linked to metric
[code]
https://github.com/openshift/openshift-ansible/blob/master/roles/openshift_metrics/defaults/main.yaml[defaults]

This should be ..
==>https://github.com/openshift/openshift-ansible/blob/master/roles/openshift_logging/defaults/main.ym

[2017-07-26 14:36] Jooho commented on #4843
Found [bugzilla ticket](https://bugzilla.redhat.com/show_bug.cgi?id=1474169) about it.

[2017-07-27 20:51] adellape commented on #4021
@ahardin-rh FYI https://bugzilla.redhat.com/show_bug.cgi?id=1476012

[2017-07-27 21:07] Jooho opened #4859 "logging clean up ansible playbook name is wrong."
Hi

ansible playbook to clean up efk stack is wrong.
[3.5 doc](https://docs.openshift.com/container-platform/3.5/install_config/aggregate_logging.html)
[code]
But it should be ```/usr/share/ansible/openshift-ansible/playbooks/byo/openshift-cluster/openshift-logging.yml```

If I used the ansible playbook that is from doc, it occurs following error:
[code]

Thanks,
Jooho lee.

[2017-07-28 17:25] #1151 closed

[2017-07-28 17:41] bmcelvee commented on #4843
Thanks for finding this, Jooho! Since there is an open bug, we can track the updates there.

[2017-07-28 17:41] #4843 closed

[2017-07-28 18:49] bmcelvee commented on #4859
@Jooho I opened https://github.com/openshift/openshift-docs/pull/4864 with this change. PTAL

[2017-07-31 14:17] bmcelvee commented on #1447
Thanks! Closing issue.

[2017-07-31 14:17] #1447 closed

[2017-07-31 18:56] sferich888 opened #4878 "Developer Guide Overview (missing links)"
The developer guide overview does not link to any information that it says its is designed to help a developer with.

- [x] Monitor and browse projects with the web console (do we link to):
    - https://docs.openshift.com/dedicated/getting_started/developers_console.html
    - https://docs.openshift.com/dedicated/dev_guide/projects.html
    - All of the above
- [ ] Configure and utilize the CLI (

[2017-07-31 18:59] sferich888 opened #4879 "Developer Guide Overview (outline)"
The developer guide overview focus is on setting up a "set up and configure a workstation to develop and deploy applications" however it covers very little of this, or focus outlining the content to such a goal.

The content is more structured at providing / outlining what end users have control over, when working with the system. As such a re-design of the outline/sections is in order.

Current t

[2017-07-31 19:20] sferich888 opened #4880 "developing-on-openshift sections/content is confusing"
The header sections for https://docs.openshift.com/dedicated/dev_guide/application_lifecycle/development_process.html#devstrategy-developing-on-openshift are titled, "Using OpenShift Dedicated as Your Development Environment" and "Bringing an Application to Deploy on OpenShift Dedicated" however in each section we define a work flow that uses the same steps, just in a slightly differen order.

In

[2017-07-31 19:42] sferich888 opened #4881 "references to emptyDir should explain limitations for online/dedicated"
Links like:
- https://docs.openshift.com/online/dev_guide/application_lifecycle/new_app.html#new-app-output
- https://docs.openshift.com/dedicated/dev_guide/application_lifecycle/new_app.html#new-app-output

Talk about ***EmptyDir volumes*** and point to:
- https://docs.openshift.com/online/dev_guide/volumes.html#dev-guide-volumes
- https://docs.openshift.com/dedicated/dev_guide/volumes.html#dev-g

[2017-07-31 19:45] sferich888 opened #4882 "Provide more information in application_lifecycle guide on managing env vars"
https://docs.openshift.com/online/dev_guide/application_lifecycle/new_app.html#specifying-environment-variables
https://docs.openshift.com/dedicated/dev_guide/application_lifecycle/new_app.html#specifying-environment-variables

Should link to:

https://docs.openshift.com/online/dev_guide/environment_variables.html
https://docs.openshift.com/dedicated/dev_guide/environment_variables.html

[2017-07-31 20:07] sferich888 opened #4883 "application_lifecycle only show object manipulation using cli"
Link like: https://docs.openshift.com/dedicated/dev_guide/application_lifecycle/new_app.html#using-the-web-console-na are missing how to minuputlat objects using the web console (missing a sub section / images for minipulatin the sections) https://docs.openshift.com/dedicated/dev_guide/application_lifecycle/new_app.html#new-app-output

[2017-07-31 20:09] sferich888 commented on #4880
The sections here could also link to https://docs.openshift.com/dedicated/dev_guide/application_lifecycle/new_app.html or https://docs.openshift.com/dedicated/dev_guide/application_lifecycle/promoting_applications.html to provide the additional infromation.

[2017-07-31 20:11] sferich888 opened #4884 "Should api-objects be its own section in application_lifecycle"
Should the https://docs.openshift.com/dedicated/dev_guide/application_lifecycle/promoting_applications.html#dev-guide-promoting-applications-api-objects section be its own document?

This way it can be used for both https://docs.openshift.com/dedicated/dev_guide/application_lifecycle/promoting_applications.html#overview as well as https://docs.openshift.com/dedicated/dev_guide/application_lifecycl

[2017-07-31 20:12] sferich888 opened #4885 "Abstracting object manipulation out into its own section?"
Should this section be the header for https://docs.openshift.com/dedicated/dev_guide/application_lifecycle/promoting_applications.html#dev-guide-promoting-application-managing-api-objects for https://github.com/openshift/openshift-docs/issues/4883

Links to: https://github.com/openshift/openshift-docs/issues/4879

[2017-07-31 20:16] sferich888 commented on #4880
The https://docs.openshift.com/dedicated/dev_guide/application_lifecycle/development_process.html#devstrategy-developing-then-deploying-on-openshift section likely needs to focus / cut to the chase and link to https://docs.openshift.com/dedicated/dev_guide/application_lifecycle/promoting_applications.html#dev-guide-promoting-applications-scenarios

[2017-07-31 20:23] sferich888 opened #4886 "Online/Dedicated remove references to system:admin in favor of dedicated-admin (where applicable)"
Where ever possible (example: https://docs.openshift.com/dedicated/dev_guide/authentication.html) we should remove referances to system:admin as uses in online/dedicated are not given access to such a user.

In dedicated, we may want to reference: https://docs.openshift.com/dedicated/admin_guide/index.html#admin-guide-index-dedicated-admin-role

So for https://docs.openshift.com/dedicated/dev_guid

[2017-07-31 20:26] sferich888 opened #4887 "Missing web ui example (create project)"
https://docs.openshift.com/dedicated/dev_guide/projects.html#create-a-project is missing an image / referances on how to create a project using the web ui. We describe the flow in https://docs.openshift.com/dedicated/getting_started/developers_console.html#developers-console-creating-a-project so I question if this section is needed, or if an image needs to be provided to that section?

[2017-07-31 20:31] sferich888 opened #4888 "Missing cli example (Filtering by Labels)"
https://docs.openshift.com/dedicated/dev_guide/projects.html#filtering-by-labels has a web ui example but not a cli example.

[2017-07-31 20:32] sferich888 opened #4889 "Missing web ui example (delete project)"
https://docs.openshift.com/dedicated/dev_guide/projects.html#delete-a-project is missing a ui example.

[2017-07-31 20:35] sferich888 opened #4890 "Online/Dedicated Docs should provide a link to Migration Center"
We should link to https://www.openshift.com/get-started/migrate.html in our migration docs (https://docs.openshift.com/dedicated/dev_guide/migrating_applications/index.html) as a resouces for more examples and tutotials.

[2017-07-31 20:45] sferich888 opened #4891 "s2i docs need to be incorporated / linked to development flows"
If you use the following links, you can define a workflow for developing on openshift.

- Build: https://docs.openshift.com/dedicated/dev_guide/migrating_applications/S2I_tool.html
- ref (for upcomming link): https://docs.openshift.com/dedicated/dev_guide/managing_images.html#accessing-the-internal-registry
    - Push: https://docs.openshift.com/dedicated/dev_guide/managing_images.html#creating-an

[2017-07-31 20:47] sferich888 opened #4892 "Support Guide should link to Tested Configurations Matrix"
https://docs.openshift.com/dedicated/dev_guide/migrating_applications/support_guide.html should provide a link to https://access.redhat.com/articles/2176281

[2017-07-31 20:49] sferich888 opened #4893 "Support Guide should explain how to interact with support."
We should link to https://access.redhat.com/articles/3060001 and explain how to open a support case / interact with support.

[2017-07-31 20:51] sferich888 commented on #4893
The customer portal also has https://access.redhat.com/articles/280093 which we could link to.

[2017-08-01 14:00] mfojtik opened #4906 "OpenShift 3.7 Release Notes Tracker"
All notes related to the Origin / OCP 3.7 release

[2017-08-01 14:07] ahardin-rh commented on #4906
Notes are already being tracked via https://github.com/openshift/openshift-docs/issues/4021

Thanks!

[2017-08-01 14:26] mfojtik commented on #4906
@ahardin-rh sorry this was for 3.7 ;-) wrong copy/paste...

[2017-08-01 14:29] mfojtik commented on #4906
The 'generatedeploymentconfig' API endpoint will be removed: https://github.com/openshift/origin/pull/15585

[2017-08-02 17:18] mburke5678 commented on #796
@jorgemoralespou We are going through older issues.

I am not sure that we talk about bash-completion in the docs for master or other system, other than to install the package in the installation prerequisites. is this something that we should cover?

We have instructions for installing the CLI on Mac, starting around 3.0.
https://docs.openshift.com/container-platform/3.5/cli_reference/get_started

[2017-08-02 17:26] mburke5678 commented on #1269
We have a section on adding nodes, starting in 3.2. The issue reporter appears to no longer be at RH. Closing this issue.
https://docs.openshift.com/container-platform/3.5/install_config/adding_hosts_to_existing_cluster.html#adding-nodes-or-reinstalling-quick

[2017-08-02 17:26] #1269 closed

[2017-08-02 18:29] mburke5678 commented on #1287
@Miciah We are going through old issues.
I assume this is still a concern of yours? It appears that the command example we use is the same in 3.5 and 3.0, with no information around the {version} and {component} variables.
I am not clear on what you are asking regarding "variable interpolation"?
Should we at least put examples?

[2017-08-02 19:35] mburke5678 commented on #1470
NTP is currently a requisite 3.3 and forward. Closing
https://docs.openshift.org/latest/install_config/install/prerequisites.html#prereq-NTP

[2017-08-02 19:35] #1470 closed

[2017-08-02 19:40] mburke5678 commented on #1424
@pweil- We are culling through old issues and I am wondering about this one. Do we want to change the examples in the LDAP Example 5, 7, 10, and 13 use `userNameAttributes: [ mail ]`?
If so, can you suggest someone who might have proper examples we can use?

[2017-08-02 19:42] pweil- commented on #1424
@enj can you suggest some examples here?

[2017-08-02 19:57] #1430 closed

[2017-08-02 20:19] mburke5678 commented on #1469
This is in the docs as a prereq in:
https://docs.openshift.org/latest/install_config/install/host_preparation.html#preparing-for-advanced-installations-origin

[2017-08-02 20:19] #1469 closed

[2017-08-02 20:36] mburke5678 commented on #1486
@thoraxe Bump

[2017-08-02 20:51] mburke5678 commented on #1533
@nak3 @chouseknecht I did a quick search using the Atom text editor. It reported 88 instances of "nginx" across 13 docs in the OCP docs. Do we need to change all references? Is there another image type that we can find/replace without causing other problems?
I would appreciate any thoughts.
cc. @vikram-redhat

[2017-08-02 21:19] mburke5678 commented on #1539
@stevekuznetsov @tnguyen-rh

I think this has been fixed. The code example is different from above and renders correctly:
3.2: Example 11.13. LDAP Sync Configuration Using Active Directory Schema: active_directory_config.yaml
https://access.redhat.com/documentation/en-us/openshift_enterprise/3.2/html/installation_and_configuration/install-config-syncing-groups-with-ldap#sync-ldap-active-directory

[2017-08-02 21:19] #1539 closed

[2017-08-02 21:26] mburke5678 commented on #1499
BZ:
https://bugzilla.redhat.com/show_bug.cgi?id=1477765

[2017-08-02 21:26] #1499 closed

[2017-08-02 21:29] mburke5678 commented on #779
@thoraxe Can you provide some more info on this?

Do you mean that the spec::host parameter can take a path?
host: www.example.com/directory/file

[2017-08-03 14:33] mburke5678 commented on #1610
@sdodson Not sure whom to address this to.
We are going through old issues. Do you know if this is still a concern? It appears that there were changes to DNS in 3.2(?).
Thank you for any help.

[2017-08-03 15:15] mburke5678 commented on #1867
Addressed in PR https://github.com/openshift/openshift-docs/commit/0e2976981a02e40afb247bc2c0ba787c440492de
Closing

[2017-08-03 15:15] #1867 closed

[2017-08-03 15:16] mburke5678 commented on #1868
Added to https://bugzilla.redhat.com/show_bug.cgi?id=1477765

[2017-08-03 15:16] #1868 closed

[2017-08-03 15:36] mburke5678 commented on #2068
@kargakis @miminar
Issue [1] mentions that the command will change again "soon." Will `grep registry` work now? Which OCP versions?
[1]  soon grep registry

Also, do we support `oc rollout`? Which version?

[2017-08-03 15:56] mburke5678 commented on #2459
Closing. See fix in https://github.com/openshift/openshift-docs/pull/4929

[2017-08-03 15:56] #2459 closed

[2017-08-03 16:23] kargakis commented on #2068
The renaming is still outstanding: https://github.com/openshift/origin/issues/8849

Not sure what you mean with "which version". Openshift now moves in 3.7 as its latest version. We have been supporting `oc rollout` ever since 3.5 IIRC.

[2017-08-03 16:23] kargakis commented on #2068
Maybe 3.4

[2017-08-03 16:34] thoraxe commented on #779
Yeah. Path is now in the picture of the UI:

https://docs.openshift.com/container-platform/3.5/dev_guide/routes.html

But it's still not called out in the YAML example:

[code]

It might be nice to add more definitions and components to the docs here.

[2017-08-03 17:16] mburke5678 commented on #2068
@kargakis
So, `oc rollout` was added in 3.5 for certain.

Which OCP versions can we apply [1] and [2]? 3.3, 3.4. 3.5?

[2017-08-03 17:20] mburke5678 commented on #2068
@kargakis
Also, can you help with [5]? Not sure how to use a ConfigMap to apply config changes to the registry service.

[2017-08-03 17:30] sdodson commented on #1610
The option still exists but I don't think it's worth documenting.

[2017-08-03 17:30] #1610 closed

[2017-08-03 17:58] sosiouxme commented on #775
It's still needed, though SCCs might be deprecated by the time this happens...

[2017-08-03 18:10] mburke5678 commented on #779
@thoraxe What if we moved the _Further information on all types of TLS termination as well as path-based routing are available in the Architecture section._ note higher in the topic?
See:
https://github.com/openshift/openshift-docs/pull/4932

[2017-08-04 10:13] thoraxe commented on #779
That would probably be OK, but would it make more sense to link directly to the route types subsection?

https://docs.openshift.com/container-platform/3.5/architecture/core_concepts/routes.html#route-types

The reason I ask is that currently the routes section starts off by explaining routes, but then details a bunch of stuff specifically about routers, which a lot of regular users would not be ab

[2017-08-07 10:16] miminar commented on #2068
3.4 has `oc rollout {pause,resume,status}` as well.

For [1], all the mentioned [3.3](https://github.com/openshift/openshift-docs/blob/enterprise-3.3/install_config/install/docker_registry.adoc#file-storage), [3.4](https://github.com/openshift/openshift-docs/blob/enterprise-3.4/install_config/install/docker_registry.adoc#file-storage), [3.5](https://github.com/openshift/openshift-docs/blob/enterpr

[2017-08-07 15:33] sdodson commented on #4021
DNS changes for 3.6

Prior to 3.6 cluster dns was provided by the API server running on the master and the use of dnsmasq could be disabled by setting openshift_use_dnsmasq=false. Starting with 3.6 the use of dnsmasq is now mandatory and upgrades will be blocked if this variable is set to false. Also, when upgrading to 3.6 the playbooks will configure the node service to serve dns requests on 127.

[2017-08-07 16:24] sdodson commented on #4021
Known issue for 3.6 https://bugzilla.redhat.com/show_bug.cgi?id=1463393

When upgrading from a release of OCP less than 3.5.5.18 the upgrade process may remove data on persistent volumes that fail to unmount correctly. If you're running a version less than 3.5.5.18 than please perform the following steps prior to performing the normal upgrade process.

[code]

[2017-08-08 15:08] miminar commented on #4232
Will be resolved by #4471

[2017-08-09 07:42] scheng1 commented on #2131
`systemctl restart atomic-openshift-master-api atomic-openshift-master-controllers` instead.

[2017-08-09 16:23] ron1 opened #4982 "Re-add vSphere to dynamic provisioning"
OCP 3.6 supports vSphere dynamic provisioning. The documentation should be updated accordingly, PR https://github.com/openshift/openshift-docs/pull/3330 originally removed the vSphere dynamic provisioning documentation. This PR should be reverted.

[2017-08-09 18:35] mburke5678 commented on #779
Follow via
https://bugzilla.redhat.com/show_bug.cgi?id=1479919
https://github.com/openshift/openshift-docs/pull/4932

[2017-08-09 18:35] #779 closed

[2017-08-09 19:40] brenton opened #4986 "references to console.preview"
See https://docs.openshift.com/online/getting_started/basic_walkthrough.html#bw-creating-a-new-application.  The "Navigate to the welcome page" link takes you to the deprecated preview console. There are other references to console.preview if you grep the repo.

[2017-08-09 19:44] brenton commented on #4986
Closing in favor of https://bugzilla.redhat.com/show_bug.cgi?id=1479952.

[2017-08-09 19:44] #4986 closed

[2017-08-09 20:07] mburke5678 commented on #1603
The Builds section has been significantly reorganized. The material referenced in the second comment appears to be here and seems to cover the issue. Closing. LMK otherwise if you disagree.
https://docs.openshift.com/container-platform/3.6/dev_guide/builds/build_inputs.html#source-code

[2017-08-09 20:07] #1603 closed

[2017-08-09 21:00] mburke5678 commented on #1616
This issue being followed in:
https://bugzilla.redhat.com/show_bug.cgi?id=1436817
https://github.com/openshift/openshift-docs/pull/4988

Closing this issue.

[2017-08-09 21:00] #1616 closed

[2017-08-10 04:58] ron1 opened #4992 "Update vSphere Cloud Provider prereqs to include VMware tools dependency"
See the following vSphere Cloud Provider issue https://github.com/vmware/kubernetes/issues/223 and its proposed patch.

[2017-08-10 14:25] mburke5678 commented on #1648
Ansible SSH pipelining was added to 3.5+

https://docs.openshift.com/container-platform/3.6/scaling_performance/install_practices.html#scaling-performance-install-optimization

[2017-08-10 14:25] #1648 closed

[2017-08-10 14:34] mburke5678 commented on #1687
@spadgett @derekwaynecarr
I cannot find the phrase "Kubernetes compute units" in the current docs. It appears that the quota.html topic was re-worked for 3.2 into "Quotas and Limit Ranges". Perhaps the phrase was removed at that time.
Please re-open if I am incorrect.

[2017-08-10 14:34] #1687 closed

[2017-08-10 14:37] mburke5678 commented on #1684
@kargakis
I believe this was remedied in the 3.2+ docs. It is now:
"You can create unsecured and secured routes routes using the web console or the CLI."
https://docs.openshift.com/enterprise/3.2/dev_guide/routes.html

Please let me know if this does not address your concerns and we can re-open.

[2017-08-10 14:37] #1684 closed

[2017-08-10 14:39] mburke5678 commented on #1716
The flag was added in 3.1+
https://docs.openshift.com/enterprise/3.1/install_config/install/advanced_install.html

[2017-08-10 14:39] #1716 closed

[2017-08-10 14:45] mburke5678 commented on #1746
@sosiouxme Has your concern here been addressed? The earliest API guide 1.2 has the same info as the latest.
https://docs.openshift.org/1.5/rest_api/openshift_v1.html#v1-routestatus

[2017-08-10 14:55] mburke5678 commented on #1748
@mdshuai The `cloud-config` parameter was added to 1.3 docs. Does this meet your needs?
https://docs.openshift.org/1.3/install_config/configuring_gce.html#gce-configuring-masters-manual

[2017-08-10 17:11] mburke5678 commented on #1779
@php-coder Information on mid hooks was added to 3.2
https://github.com/openshift/openshift-docs/commit/5ea53ac1ec2925efcd580c18ac97a890e6cc4e4e#diff-bb64229c6f759cb3173e8feed89d827b

Closing the issue unless you feel that this does not address your issue.

[2017-08-10 17:11] #1779 closed

[2017-08-10 17:23] mburke5678 commented on #1802
@abutcher Is this still an issue that we should address in the docs? Has anything changed in the AWS or Kubernetes architecture that would eliminate this issue?

[2017-08-10 17:28] mburke5678 commented on #1843
@thoraxe @smarterclayton
Has this issue been addressed in the docs? There has been additions around registry storage:
https://docs.openshift.org/latest/install_config/registry/deploy_registry_existing_clusters.html#storage-for-the-registry

[2017-08-10 17:50] mburke5678 commented on #1853
@nak3 @adellape Is this still an issue that needs to be addressed? Or, can we close?

[2017-08-10 17:52] abutcher commented on #1802
@mburke5678 Yes, we don't cover these policies in the "Configuring for $cloud" topics. It looks like the AWS policies have changed slightly from the OC but they appear to still be pretty global in terms of the access required.

[2017-08-10 17:54] mburke5678 commented on #1912
There is a full section on backup and restore.
https://docs.openshift.com/container-platform/3.6/admin_guide/backup_restore.html

Closing this issue. @danmcp feel free to re-open, if needed.

[2017-08-10 17:54] #1912 closed

[2017-08-10 18:00] mburke5678 commented on #1895
Using Secrets
"The value associated with keys in the the data map must be base64 encoded."

Adding Secrets to Deployment Configurations from the Web Console
https://docs.openshift.com/container-platform/3.6/dev_guide/deployments/basic_deployment_operations.html#adding-secrets-to-deployment-config

[2017-08-10 18:00] #1895 closed

[2017-08-10 18:20] mburke5678 commented on #1842
@thoraxe Is this still an issue?
"For cluster metrics to work with persistent storage, ensure that the persistent volume has the ReadWriteOnce access mode. "

[2017-08-10 18:32] mburke5678 commented on #1802
Created [BZ 1480336](https://bugzilla.redhat.com/show_bug.cgi?id=1480336). Closing issue

[2017-08-10 18:32] #1802 closed

[2017-08-10 19:11] thoraxe commented on #1842
I guess not? You probably need to ask someone from the metrics team...

[2017-08-10 19:14] thoraxe commented on #1843
The list of supported drivers is now there, but only one of the object stores (S3) is documented. What about Google and etc?

[2017-08-10 19:57] mburke5678 commented on #1843
Opened https://bugzilla.redhat.com/show_bug.cgi?id=1480364

Closing this issue.

[2017-08-10 19:57] #1843 closed

[2017-08-11 10:01] nak3 commented on #1853
Actually, 3.1 docs did not fix this issue, but 3.5 fixed it. So, let's close. Nobody will update to 3.1.

[2017-08-11 10:01] #1853 closed

[2017-08-11 10:55] cben opened #5001 "Migrating Web Framework Applications: supported Node.JS versions wrong?"
https://docs.openshift.com/online/dev_guide/migrating_applications/web_framework_applications.html#dev-guide-migrating-web-framework-applications-node.js
https://github.com/openshift/openshift-docs/blob/master/dev_guide/migrating_applications/web_framework_applications.adoc#user-content-dev-guide-migrating-web-framework-applications-supported-Node.js-versions

- v2 and v3 both say "0.10".
  I'm tr

[2017-08-11 14:54] mwringe commented on #1842
We switched a while ago to be using ReadWriteOnce only.

[2017-08-11 19:31] #4021 closed

[2017-08-13 22:43] #3626 closed

[2017-08-14 12:45] mburke5678 commented on #1842
@thoraxe @mwringe Closing this issue based on Matthew's comment. Please advise if I am reading his comment incorrectly.

[2017-08-14 12:45] #1842 closed

[2017-08-15 12:12] ksemaev opened #5021 "Job's config lifecycle and restart command"
The documentation https://docs.openshift.org/latest/dev_guide/jobs.html  and https://docs.openshift.org/latest/dev_guide/cron_jobs.html lacks this information: what will happen to job config, after the job is done? How to restart it?

What I mean (steps to reproduce):
- after I created a job and it's done it's work, it is still avaliable in `oc get jobs`.
- when I make cronjob, it is leaving jobs

[2017-08-18 18:15] shanemcd commented on #775
I'm having trouble getting this to work with a `Deployment`. Here's what I'm trying:

[code]

With this I'm seeing:

[code]

I've also tried adding the annotation to the top-level `metadata` with no luck.

[2017-08-18 18:35] pweil- commented on #775
@shanemcd let's keep this issue to the docs improvement rather than troubleshooting.  For your case it looks like you're not specifying a specific service account for the pod so it is running with the default service account in your namespace.  Make sure that you've granted access to a SCC that can run as uid 0 to the `default` SA.  If you don't need `privileged` then the `anyuid` SCC should suffi

[2017-08-18 18:40] shanemcd commented on #775
@pweil- Oops, I didn't even realize I was in the docs repo. Thanks for the insight. I'll give it a shot and open a new issue if needed.

[2017-08-22 09:29] aditya-konarde opened #5057 "Incorrect placement of number icon in installation guide breaks installation command."
In the [Method 1: Running in a Container](https://docs.openshift.org/latest/getting_started/administrators.html#running-in-a-docker-container) section for the OpenShift installation guide, there is a misplaced number icon as seen in the screenshots, which introduces an additional space in the command if the command is copy-pasted directly to a terminal. The extra space causes the command to fail.

[2017-08-23 09:42] adelton commented on #1845
Could we have this reopened (GitHub does not allow me to do that)?

The change got into openshift/origin via https://github.com/openshift/origin/pull/15202.

But since this issue is against openshift/openshit-docs, we'd still need https://github.com/openshift/openshift-docs/pull/4785 merged, hence this issue should likely still be open.

[2017-08-24 00:45] bfallonf commented on #4878
Thanks @sferich888 . I made a PR about this. Added some links and a few more dot points. Let me know if you have any more thoughts.

[2017-08-24 00:45] #4878 closed

[2017-08-24 00:57] bfallonf commented on #4890
@sferich888 this page is essentially a list of components, and they all link straight to the docs anyway. The exceptions being some of the links in the "Other resources" section, with the rest of the links heading to other, similar resources. I think this one is OK as is. Thanks, and I'll close.

[2017-08-24 00:57] #4890 closed

[2017-08-24 01:33] bfallonf commented on #4891
Thanks @sferich888 I've created an improvements card in the docs trello board. I've added this one and a few others (I'll comment on those too).

Hopefully they can be worked on in the next sprint or two. I'll close this issue.

[2017-08-24 01:33] #4891 closed

[2017-08-24 01:33] bfallonf commented on #4885
Thanks @sferich888 I've created an improvements card in the docs trello board. I've added this one and a few others (I'll comment on those too).

Hopefully they can be worked on in the next sprint or two. I'll close this issue.

[2017-08-24 01:33] #4885 closed

[2017-08-24 01:33] bfallonf commented on #4884
Thanks @sferich888 I've created an improvements card in the docs trello board. I've added this one and a few others (I'll comment on those too).

Hopefully they can be worked on in the next sprint or two. I'll close this issue.

[2017-08-24 01:33] #4884 closed

[2017-08-24 01:33] bfallonf commented on #4880
Thanks @sferich888 I've created an improvements card in the docs trello board. I've added this one and a few others (I'll comment on those too).

Hopefully they can be worked on in the next sprint or two. I'll close this issue.

[2017-08-24 01:33] #4880 closed

[2017-08-24 01:33] bfallonf commented on #4879
Thanks @sferich888 I've created an improvements card in the docs trello board. I've added this one and a few others (I'll comment on those too).

Hopefully they can be worked on in the next sprint or two. I'll close this issue.

[2017-08-24 01:33] #4879 closed

[2017-08-24 01:57] bfallonf commented on #4846
Thanks @Jooho . I've created a PR for this: https://github.com/openshift/openshift-docs/pull/5064

If there's anything more please let us know.

[2017-08-24 01:57] #4846 closed

[2017-08-24 02:12] bfallonf commented on #3344
Thanks @jekader I've created a BZ for this issue: https://bugzilla.redhat.com/show_bug.cgi?id=1484614

Hopefully we can work on this in the next few sprints. Let us know if there's further issues. I'll close this issue.

[2017-08-24 02:12] #3344 closed

[2017-08-24 02:16] bfallonf commented on #3336
@mfojtik @kargakis Has something been submitted for this? There's this PR:

https://github.com/openshift/openshift-docs/pull/3185/files

But it was submitted before this issue. Is more work required here, or has this been sorted? Thanks.

[2017-08-24 03:48] bfallonf commented on #2010
Thanks @php-coder . Looks like the info still isn't in the docs. I've created a BZ for this: https://bugzilla.redhat.com/show_bug.cgi?id=1484630

Let me know if there's anything more for this issue. Closing.

[2017-08-24 03:48] #2010 closed

[2017-08-24 14:07] ksemaev opened #5066 "How to specify what oc version to install"
I want to install oc 1.5.1
openshift ansible installer from branch release-1.5 currently instals oc 3.6.0

How can I specify version for installation?

[2017-08-24 16:17] sosiouxme commented on #1746
Yeah - looks good now. Thanks for following up!

[2017-08-24 16:17] #1746 closed

[2017-08-24 21:29] ahardin-rh commented on #1786
Created a docs bug for this to better track the work: https://bugzilla.redhat.com/show_bug.cgi?id=1485028

[2017-08-24 21:29] #1786 closed

[2017-08-24 21:34] ahardin-rh commented on #1859
Looks like this is now documented in the [Securing and Exposing the Registry](https://docs.openshift.com/container-platform/3.6/install_config/registry/securing_and_exposing_registry.html) docs. Closing this, but feel free to reopen if you feel like more information is needed. Thanks!

[2017-08-24 21:34] #1859 closed

[2017-08-24 21:43] ahardin-rh commented on #2092
Looks like this content was reworked and expanded since this was filed:
https://docs.openshift.com/container-platform/3.6/dev_guide/deployments/deployment_strategies.html#lifecycle-hooks

Closing, but please reopen if you think more work is needed.

[2017-08-24 21:43] #2092 closed

[2017-08-24 21:45] ahardin-rh commented on #4886
I believe this is being addressed in the content audit for the Dedicated docs. @adellape @aheslin Is that the case?

[2017-08-24 21:54] ahardin-rh commented on #4889
@adellape @aheslin Will the Dedicated content audit address this?

[2017-08-24 21:54] ahardin-rh commented on #4888
@adellape @aheslin Will the Dedicated content audit address this?

[2017-08-24 21:54] ahardin-rh commented on #4892
@adellape @aheslin Will the Dedicated content audit address this?

[2017-08-24 21:55] ahardin-rh commented on #4887
@adellape @aheslin Will the Dedicated content audit address this?

[2017-08-24 21:55] ahardin-rh commented on #4883
@adellape @aheslin Will the Dedicated content audit address this?

[2017-08-24 21:59] ahardin-rh commented on #4827
@sspeiche Thanks! I opened a [docs bug ](https://bugzilla.redhat.com/show_bug.cgi?id=1485036)to track the work more closely.

[2017-08-24 21:59] #4827 closed

[2017-08-24 22:17] ahardin-rh commented on #3159
In a later release, we created the [Scaling and Performance Guide](https://docs.openshift.com/container-platform/3.6/scaling_performance/index.html) to centralize this information. Closing this, but feel free to reopen if necessary. Thanks!

[2017-08-24 22:17] #3159 closed

[2017-08-25 13:27] #3404 closed

[2017-08-25 14:02] ahardin-rh commented on #5021
@ksemaev Thanks!

@soltysh I created a [documentation bug](https://bugzilla.redhat.com/show_bug.cgi?id=1485380) to better track the work to improve the docs. Any advice here?

[2017-08-25 14:19] ahardin-rh commented on #3320
Thank you. I created this [documentation bug](https://bugzilla.redhat.com/show_bug.cgi?id=1485385) to better track improvements to that section of the docs.

[2017-08-25 14:19] #3320 closed

[2017-08-25 14:28] ahardin-rh commented on #3119
Looks like this work was addressed via https://github.com/openshift/openshift-docs/pull/2776

[2017-08-25 14:28] #3119 closed

[2017-08-26 07:33] ksemaev commented on #5021
Updates:
- sronjob stops to create jobs, when source image:tag chnges. You have to recreate the same cronjob once again to make it work.
- so the questions now are:
1) how to restart cronjob without deleting cronjob and making the same one from yaml?
2) how to start a job without importing the same yaml again?

[2017-08-26 07:40] ksemaev opened #5092 "Add parametr for default advanced installer"
Acording to https://github.com/openshift/openshift-ansible/issues/5169  installer should be started with extra option  -e deployment_type=origin, otherwise installation fails.

[2017-08-26 18:47] ksemaev opened #5094 "Incorrect tag for upgrading cluster metrics"
According to https://docs.openshift.org/latest/install_config/upgrading/automated_upgrades.html#automated-upgrading-cluster-metrics
you shoud specify

This setting gives error after installing:
[code]

Repo https://hub.docker.com/r/openshift/origin-metrics-heapster/tags/ does not have this tag.
Using tag **v3.6.0** fixes situation

[2017-08-26 19:08] Miciah opened #5095 "Missing list of supported PersistentVolume plug-ins for Online"
Under OpenShift Online 3 / Architecture / Additional Concepts / Persistent Storage, the section [Types of Persistent Volumes](https://docs.openshift.com/online/architecture/additional_concepts/storage.html#types-of-persistent-volumes) states, "OpenShift Online supports the following `PersistentVolume` plug-ins:", but the section ends after this sentence, with no enumeration of the supported plug-i

[2017-08-28 17:49] php-coder commented on #2933
Looks like this issue can be closed.

[2017-08-28 17:50] #2933 closed

[2017-08-28 17:52] php-coder opened #5105 "Broken or outdated links to the Kubernetes documentation"
1) https://docs.openshift.org/latest/architecture/infrastructure_components/kubernetes_infrastructure.html#node has the link to https://github.com/kubernetes/kubernetes/blob/master/docs/admin/node.md#node-management that doesn't exist.

2) https://docs.openshift.org/latest/architecture/infrastructure_components/kubernetes_infrastructure.html#kubelet has the link to https://cloud.google.com/contain

[2017-08-29 13:31] soltysh commented on #5021
Once all the moving pieces are merged in k8s 1.8 we should be able to address all those concerns in our docs as well. I'll make sure to update k8s docs and we'll just need to copy&paste those, hopefully :)

[2017-08-29 13:35] ksemaev commented on #5021
@soltysh maybe you know howto restart job in current 1.6 and 1.7 ? Or will it be possible only since 1.8 ?

[2017-08-30 14:10] ksemaev commented on #5021
@soltysh  TY!

[2017-08-30 14:10] #5021 closed

[2017-08-30 17:16] lpsantil commented on #4411
Ping! Can we get this & the larger issue resolved?  It seems that each tagged version of cluster_metrics.adoc is an independent branch now and that makes contributing corrections to it more fun than it has to be. :smile: I have another fix I want to get into the docs (replace the old Cassandra anti-pattern link with a current one) but I might have to submit 5 PRs if I want to get it into 3.3, 3.4,

[2017-08-31 03:39] gaurav-nelson commented on #5105
I am closing this one and tracking it in PR #5133

[2017-08-31 03:39] #5105 closed

[2017-08-31 04:14] gaurav-nelson commented on #5094
Hello @ksemaev
Thank you for pointing out this issue. I have made suggested changes and tracking this in PR# #5134.

Closing this, please follow the PR for updates.

[2017-08-31 04:14] #5094 closed

[2017-08-31 05:06] gaurav-nelson commented on #5001
Thank you @cben for pointing out this issue.

I am closing this issue, and we are tracking it with https://bugzilla.redhat.com/show_bug.cgi?id=1487015

[2017-08-31 05:06] #5001 closed

[2017-08-31 05:13] gaurav-nelson commented on #5057
@aditya-konarde Thanks for pointing out this issue.

I have created a bug for this at https://bugzilla.redhat.com/show_bug.cgi?id=1487017 and we are working on it. Closing this one as we are tracking it there.

[2017-08-31 05:13] #5057 closed

[2017-08-31 05:36] aditya-konarde commented on #5057
@gaurav-nelson ack; Thanks :+1:

[2017-08-31 05:59] gaurav-nelson commented on #4882
Thank you @sferich888 for pointing this out.

I have created a PR #5136 for tracking this, hence closing this one.

[2017-08-31 05:59] #4882 closed

[2017-08-31 10:16] ksemaev commented on #5066
Yep, experiments showed that the variable is openshift_release=v3.6

please provide information about this variable in "Advanced installation" section

[2017-08-31 11:27] php-coder commented on #5105
Typically we don't close the issues until PR is merged.

Also there is a special GitHub magic that allows to automatically close an issue after merging PR: https://help.github.com/articles/closing-issues-using-keywords/

[2017-08-31 11:28] php-coder commented on #5105
P.S. Except the cases when issue is created in a separate issue tracker (like Bugzilla).

[2017-09-03 20:22] Larzenegger opened #5147 "mongodb volume mount point differs between documentation and image readme"
According to the image repository READMEs, the data directory is the mount point.
Attempting to mount a physical volume claim on `/var/lib/mongodb` (according to the current origin documentation) does not seem to succeed in persisting data across re-deployments whereas mounting on `/var/lib/mongodb/data` does.

[2017-09-04 05:13] vikram-redhat commented on #4411
Hey @lpsantil - sorry for the delay.

I am trying to get my head around this issue, and I apologize if I haven't understood something here.

Here are my questions:

* Is the issue that, this document [1], that contains the capacity planning information for cluster metrics in our docs, needs to change for every version of OCP that comes out and that is hasn't been changed?

* As you point out, this

[2017-09-04 12:00] noelo opened #5159 "Taints and Tolerations - possible incorrect meaning"
In the docs @ https://docs.openshift.org/latest/admin_guide/scheduling/taints_tolerations.html
It says under the NoSchedule effect that

NoSchedule | New pods that do not match the taint are scheduled onto that node.

Based on my reading of https://kubernetes.io/docs/concepts/configuration/taint-and-toleration/ this should read

NoSchedule | New pods that do not match the taint are not scheduled o

[2017-09-04 13:06] ksemaev opened #5160 "Lack of any useful information regarding installing glusterfs"
After following steps in https://docs.openshift.org/latest/install_config/install/advanced_install.html#advanced-install-glusterfs-persistent-storage

We have two endpoints:
oc get endpoints
[code]

two services:
[code]

and one storage class:
[code]

But there is no information on how the heketi-db-storage-endpoints are used. Is their service used for pods for heketi-storage service? How are thes

[2017-09-05 01:44] #5147 closed

[2017-09-05 14:17] mburke5678 commented on #2068
@jianlinliu Can you suggest someone in QE to review these changes?

[2017-09-05 15:25] ksemaev commented on #5160
#nevermind figured out by myself

[2017-09-05 15:25] #5160 closed

[2017-09-05 21:05] sferich888 opened #5175 "Local Setup does not define workstation (OS) that we expect a user to run!"
https://docs.openshift.com/dedicated/dev_guide/app_tutorials/ruby_on_rails.html#local-workstation-setup

It seems to assume RHEL / CENTOS or Fedora, however it makes no statement about which.

[2017-09-05 21:13] sferich888 opened #5176 "rails example uses local source not remote (git) source"
https://docs.openshift.com/dedicated/dev_guide/app_tutorials/ruby_on_rails.html#creating-the-frontend-service

I wonder if this example should use a remote get source (or have an added section to explain this). If it is used / done in this way this example can then be used to expand on build / pipeline options (or provide a tutorial in this way).

You could tie into the following:
- https://docs.o

[2017-09-05 21:16] sferich888 opened #5177 "Missing Detailed Docs on Quickstarts"
All the following are missing detailed pages like: https://docs.openshift.com/dedicated/dev_guide/app_tutorials/ruby_on_rails.html

- CakePHP
- Dancer
- Django
- NodeJS

[2017-09-05 21:17] sferich888 opened #5178 "No supportability statement on Quickstarts"
Red Hat Global Support Services don't directly support Quickstarts, as they often provide / require code or resources that Red Hat does not directly test, ship or provide as part of its entitlement and service offerings.

All Quickstarts need a supportability statement that outlines the extent to which each quickstart is supported.

[2017-09-05 21:30] sferich888 opened #5179 "Build Troubleshooting should be a KCS on customer portal"
https://docs.openshift.com/dedicated/dev_guide/builds/build_troubleshooting.html

[2017-09-05 21:32] sferich888 opened #5180 "Build Troubleshooting should define steps / log locations for where / how a build can be examined / confirmed to be working.l"
We should provide links to https://docs.openshift.com/dedicated/cli_reference/basic_cli_operations.html#troubleshooting-and-debugging-cli-operations and notes on where build log are located, as well as logging paramiters can be adjusted (https://docs.openshift.com/dedicated/dev_guide/builds/basic_build_operations.html#accessing-build-logs).

[2017-09-05 21:36] sferich888 commented on #5180
https://access.redhat.com/solutions/1542293?band=se#builds is a good place to start when trying to define a troubleshooting page for builds.

[2017-09-05 21:51] sferich888 commented on #5179
https://access.redhat.com/solutions/3173081 is the replacement for this.

[2017-09-05 21:51] sferich888 commented on #5179
https://github.com/openshift/openshift-docs/issues/5180 should replace this section of the docs overall.

[2017-09-06 16:31] gnufied commented on #4982
@gaurav-nelson can you please revert that documentation PR? It should have been reverted prior to 3.6 but I think sooner we do this better.

[2017-09-06 16:50] gnufied commented on #4982
@gaurav-nelson @ron1 I have added the documentation back - https://github.com/openshift/openshift-docs/pull/5197 ptal.

[2017-09-07 06:48] adelton commented on #1845
@mfojtik, could you please reopen this issue?

[2017-09-07 10:52] php-coder commented on #3354
`awesome_bot` can do this. If it will be also integrated with Danger then it's possible to have comments like this: https://github.com/dkhamsing/awesome_bot#danger

[2017-09-07 10:56] php-coder opened #5207 "Broken links to API"
Initially reported here: https://github.com/openshift/origin/issues/16192

The following links are broken (404):
- https://docs.openshift.org/latest/rest_api/openshift_v1.html
- https://docs.openshift.org/latest/rest_api/kubernetes_v1.html

They're used in origin repo and also in documentation: https://docs.openshift.org/latest/rest_api/index.html

Could we add redirect for them? Or we need to upd

[2017-09-07 15:37] ironcladlou commented on #4906
We are deprecating two deployment environment variables: `OPENSHIFT_MASTER` and `KUBERNETES_MASTER`. The variables were scrutinized in a [Bugzilla report](https://bugzilla.redhat.com/show_bug.cgi?id=1468607).

Although the variables aren't documented and aren't used by OpenShift's supported deployment strategies, it's possible there are [custom deployer images](https://docs.openshift.org/latest/de

[2017-09-07 15:40] php-coder opened #5208 "admin_guide/manage_authorization_policy is outdated"
Most of the commands on the page https://docs.openshift.org/latest/admin_guide/manage_authorization_policy.html don't work because on the latest version of OpenShift there no `clusterPolicy`, `policyBindings`, and `clusterPolicyBindings`:
[code]
Yet another page that should be updated is https://docs.openshift.com/dedicated/getting_started/dedicated_administrators.html#gs-dedicated-admin-logging-i

[2017-09-07 16:47] php-coder opened #5209 "Document system:masters group"
Extracted from https://github.com/openshift/origin/issues/16092#issuecomment-327832066: documentation should mention about `system:masters` group (and probably about `system:cluster-admins`).

[2017-09-08 18:37] jeremyeder opened #5220 "Is this prometheus side-car method of exposing router metrics actually supported?"
I am told it is not, and it should be dropped from the docs.

https://github.com/openshift/openshift-docs/blob/081fd3ea8906653b491eae45413afea75175bd4e/install_config/router/default_haproxy_router.adoc#exposing-router-metrics

Aside from if we ever wanted to document this, the syntax in the prometheus config yaml is syntactically incorrect, meaning it does not work as written.

Is this page abando

[2017-09-11 16:01] ramr commented on #5220
@jeremyeder  it used to work and was supported a while back. That commit is almost 2 years old. Though that said, I've been out from OpenShift for about 7 months and am not sure if anyone's looked at it in the last year odd (I know I hadn't).
But its possible the QE folks might have tested this over the year - @zhaozhanqi  @bmeng  might know more on that front or be able to get you that informatio

[2017-09-11 17:36] enj opened #5230 "Add docs for ~ being aliased to the current user"
Per https://bugzilla.redhat.com/show_bug.cgi?id=1488910 we should have docs stating that the current user is aliased as `~`:

[code]

[2017-09-12 13:45] pweil- opened #5240 "404 link from admission control"
https://docs.openshift.org/latest/architecture/additional_concepts/admission_controllers.html#admission-controllers-customizable-admission-plug-ins

Restricting Role Bindings link

[2017-09-13 06:07] lpsantil commented on #4411
No.

But the issue is a bit complex as it relates to the multibranch nature of the doc's history.  There are 3 document features and I'll use a table show where and how things deviate.
[code]

[Calc A](https://github.com/openshift/openshift-docs/commit/7d2369f9528ca3f37170a5f4374fcc6a8ae5c365#diff-ca2a8ff7fac87b827ba21942e6b79bfbL165)
[Table Set A](https://github.com/openshift/openshift-docs/commi

[2017-09-13 07:26] dcaldwel opened #5253 "Running 'oc set env' inside a container doesn't work"
Unless I have totally misunderstood the line

[code]

then it doesn't work. The oc client is not (usually?) installed inside pods so executing 'oc' commands will fail. However, you _can_ run 'export' inside a container to view environment variables. If the objective of that line is to show people that you can enter a container and check the environment variables then I think it should read somethi

[2017-09-14 19:58] sspeiche opened #5264 "Simple example for deploying an image from a private repo on docker.io"
I've heard various feedback from customers that it is hard to navigate the docs for a common usage pattern for accessing their private images on docker hub.

The basic flow should be:

1. create an image pull secret
  (do you need to do an `oc import-image `?)
2. deploy / run using secret

Perhaps both from CLI and Web UI.

[2017-09-15 12:13] php-coder commented on #5240
This link is only available to OpenShift Enterprise. The fix is so trivial that I couldn't fix it and submitted #5271

[2017-09-16 23:20] mburke5678 commented on #1793
@stevekuznetsov Is this still an issue for you? I did a quick, quick test on my Android and I found several pages (including the page above) that had code blocks with non-wrapping code and I could scroll the text block (and tables).  It is not obvious that you can scroll, no scroll bar, until you scroll.

[2017-09-16 23:24] mburke5678 commented on #1941
@smarterclayton @danwinship What is the status of this issue? Is there still an issue in the docs that needs to be addressed or was the misconfiguration exowaucka talked about the problem?

[2017-09-16 23:38] mburke5678 commented on #1982
@liggitt Culling through older issues. Is this issue still relevant?
It _looks_ like you are asking for a procedure here, rather than just having the sections?
Are the steps above only for the `lookup` mapping method?
Should the info be here instead/also?
https://docs.openshift.org/latest/install_config/configuring_authentication.html#mapping-identities-to-users

[2017-09-17 01:20] stevekuznetsov commented on #1793
Do you have some specific pages I could look at? I'd be happy to test them out.

[2017-09-17 07:41] anthonyrisinger commented on #1941
I'm pretty confident the issue we encountered was self-inflicted. I don't
believe the network plugin switch had anything to do with the actual
problem at the time. We just scapegoated it before it became painfully
clear our registry wasn't properly configured for persistence. The symptoms
we saw looked like network resolution problems initially.

I've been through the related network plugin code q

[2017-09-18 12:17] mburke5678 commented on #2031
After discussing the matter with the team, I am told there is nothing in our production environment we can do to prevent this from occurring.  Please let us know if you have a solution. Closing.

[2017-09-18 12:17] #2031 closed

[2017-09-18 13:18] php-coder commented on #4468
Yet another example that could be interesting: https://bugzilla.redhat.com/show_bug.cgi?id=1492266

[2017-09-18 13:21] liggitt commented on #1982
yes, describing a procedure (three API creation steps)

[code]

it could be referenced from the mapping-identies-to-users section as well

[2017-09-18 14:57] mburke5678 commented on #1982
Closing issue. Making updates via https://github.com/openshift/openshift-docs/pull/5290

[2017-09-18 14:57] #1982 closed

[2017-09-18 16:17] mburke5678 commented on #2074
Fixed in https://github.com/openshift/openshift-docs/pull/3552

[2017-09-18 16:17] #2074 closed

[2017-09-18 16:22] mburke5678 commented on #2093
Fixed in https://github.com/openshift/openshift-docs/pull/2102

[2017-09-18 16:22] #2093 closed

[2017-09-18 16:39] mburke5678 commented on #2104
@aweiteka We are going through older issues. Is this still needed in the current doc set (3.4 and later)?

https://docs.openshift.com/container-platform/3.6/install_config/registry/index.html

[2017-09-18 16:46] #2131 closed

[2017-09-18 16:52] mburke5678 commented on #2159
@detiber We are going through older issues. Is this still an issue with the current doc set (3.4 and forward)?

[2017-09-18 17:12] mburke5678 commented on #2181
Fixed in the docs
https://github.com/openshift/openshift-docs/commit/96e7e886140910dde5985ca9cc99801a1ea84df3#diff-935cb90eb0ad3aa5bc7ff42db7ca1f8c

[2017-09-18 17:12] #2181 closed

[2017-09-18 17:16] #2182 closed

[2017-09-18 17:20] mburke5678 commented on #2110
Fixed in docs.

[2017-09-18 17:20] #2110 closed

[2017-09-18 18:47] mburke5678 commented on #2211
@abhgupta Is this still an issue in the current docs (3.4 and forward)?

[2017-09-18 18:50] mburke5678 commented on #2236
close this issue in favour of your PR above

[2017-09-18 18:50] #2236 closed

[2017-09-18 20:02] aweiteka commented on #2104
No, i'm not sure this is an important use case since the CA should be available from a separate trusted source.

[2017-09-18 20:02] #2104 closed

[2017-09-18 20:13] mburke5678 commented on #2249
RHEL issue

[2017-09-18 20:13] #2249 closed

[2017-09-18 21:04] mburke5678 commented on #2457
@stevekuznetsov The link that Owen is talking about, I think, went to a section in the _Contributing to OpenShift_ document (https://github.com/openshift/origin/blob/master/CONTRIBUTING.adoc#develop-on-virtual-machine-using-vagrant).

You removed the section in a commit here:
https://github.com/openshift/origin/commit/7fc5091c811436acc52e43ddcd521587dabb0a28#diff-bf6c05f66a41e4a8d614764c22eaf178

[2017-09-19 14:45] detiber commented on #2159
@mburke5678 I am not sure. @sdodson would know, though.

[2017-09-19 15:07] stevekuznetsov commented on #2457
@mburke5678 I'll take a look, thanks

[2017-09-19 21:50] sdodson commented on #2159
@mburke5678 yeah we should mention something to the effect of `The load balancer deployed via openshift-ansible is intended to illustrate the API server's HA mode however the load balancer itself is a single point of failure. If you're deploying to a cloud provider it's recommended that you deploy a cloud native TCP based load balancer or take other steps to provide a highly available load balance

[2017-09-19 23:10] mburke5678 commented on #2159
Do I have this right? I used the phrase "not recommended for production environments" to be more in line with other parts of the doc. Am I confusing the issue? Is the HAProxy load balancer a problem in cloud-based clusters only?

"This HAProxy load balancer is intended to illustrate the API server's HA mode and is not recommended for production environments. If you are deploying to a cloud provide

[2017-09-19 23:10] #2159 closed

[2017-09-19 23:11] mburke5678 commented on #2159
Closing in favor of https://github.com/openshift/openshift-docs/pull/5296

[2017-09-20 01:27] gaurav-nelson commented on #4992
@gnufied Can you check this one?

[2017-09-20 01:29] gaurav-nelson commented on #4982
Fixed by #5197

[2017-09-20 01:29] #4982 closed

[2017-09-20 17:17] dtaylor113 opened #5307 "Need to document Custom Notification"
Hi,
Need to document how to setup custom quota notification messages:

[code]

https://github.com/openshift/openshift-docs/blob/master/install_config/web_console_customization.adoc

Related PR: https://github.com/openshift/origin-web-console/pull/2116

[2017-09-20 17:17] dtaylor113 opened #5308 "Need to document how to configure Custom Quota Notification messages"
Hi,
Need to document how to setup custom quota notification messages:

[code]

https://github.com/openshift/openshift-docs/blob/master/install_config/web_console_customization.adoc

Related PR: https://github.com/openshift/origin-web-console/pull/2116

@spadgett

[2017-09-21 16:44] #2457 closed

[2017-09-22 18:37] adellape commented on #2458
This doesn't seem to be an issue any longer with the latest build, though I had to use `oc adm` instead of `oadm` (used the "Downloading the Binary" method):

[code]

Updating command via https://github.com/openshift/openshift-docs/pull/5339.

[2017-09-22 18:37] #2458 closed

[2017-09-22 19:30] adellape commented on #2463
Created a docs BZ for this work:

https://bugzilla.redhat.com/show_bug.cgi?id=1494677

[2017-09-22 19:30] #2463 closed

[2017-09-22 20:14] adellape commented on #2517
Created a docs BZ for this work:

https://bugzilla.redhat.com/show_bug.cgi?id=1494685

[2017-09-22 20:14] #2517 closed

[2017-09-22 20:24] adellape commented on #2550
We ended up removing the M4 docs from the site entirely via https://github.com/openshift/openshift-docs/pull/2819. The source is still available via https://github.com/openshift/origin-server/tree/master/documentation.

[2017-09-22 20:24] #2550 closed

[2017-09-28 14:45] rdebeasi commented on #1329
A basic icon list is available here: https://rawgit.com/openshift/openshift-logos-icon/master/demo.html

It'd be nice to have this in the official docs, but the information is at least out there! :)

[2017-09-28 15:30] sspeiche opened #5397 "Section formatting busted in dev guide"
In looking at https://docs.openshift.com/online/dev_guide/integrating_external_services.html

If you search for "===" you see some headers that aren't headers. Not sure what is busted

[2017-09-28 18:29] f-w opened #5403 "Clarify usage of s2i --scripts-url parameter"
[S2I Scripts](https://docs.openshift.org/latest/creating_images/s2i.html#s2i-scripts) doc says 1st script location is from `--scripts-url` but I have no idea where can the parameter be supplied. My hunch is `oc start-build` but oc rejected the option. `oc start-build --help` didn't mention it either. After googling extensively I found an example from a japanese site using it as an option of `s2i b

[2017-09-28 19:31] etsauer opened #5404 "Incorrect default storageclass annotation under dynamic provisioning doc"
The dynamic provisioning doc [1] instructs the use of the annotation `"storageclass.kubernetes.io/is-default-class": "true"` to set the default storage class. This does not work in 1.6/3.6, however `storageclass.beta.kubernetes.io/is-default-class: "true"` does seem to work. Is this a docs bug or openshift/kube bug?

[1] https://github.com/openshift/openshift-docs/blob/master/install_config/persis

[2017-09-28 21:28] jwforres commented on #1329
This is actually documented here https://docs.openshift.org/latest/dev_guide/templates.html#writing-description

See bullet 6

[2017-09-28 21:28] #1329 closed

[2017-09-29 19:21] bmcelvee commented on #5092
@ksemaev Should the command in 'Running the RPM-based Installer" (https://docs.openshift.org/latest/install_config/install/advanced_install.html#running-the-advanced-installation-rpm) be changed to the following:

`# ansible-playbook [-i /path/to/inventory] \
    ~/openshift-ansible/playbooks/byo/config.yml -e deployment_type=origin`

[2017-09-29 20:17] bmcelvee commented on #2820
Issue resolved, thanks!

[2017-09-29 20:17] #2820 closed

[2017-09-30 11:59] ksemaev commented on #5092
@bmcelvee Yes, indeed

[2017-10-02 01:38] dlbewley opened #5443 "release notes link to OCP 3.6 RHBA is 404"
[code]

[2017-10-02 12:28] dtaylor113 commented on #5308
Doc PR: https://github.com/openshift/openshift-docs/pull/5310

[2017-10-02 17:53] #5308 closed

[2017-10-04 15:35] mburke5678 commented on #2608
@soltysh We are going through old issues. Have we added to the docs what you were looking for here? If not, please let me know exactly what you are looking for and I can open a BZ to get this moving.

[2017-10-04 15:39] mburke5678 commented on #2613
Closing as duplicate of https://github.com/openshift/openshift-docs/issues/1793

[2017-10-04 15:39] #2613 closed

[2017-10-04 17:58] jatanmalde opened #5490 "Typos in documentation openshift-docs/admin_guide/service_accounts.adoc"
There is a typo in this documentation where there is multiple use of preposition.

*openshiftInfrastructureNamespace*` field in in the `

[2017-10-04 23:17] bfallonf commented on #5490
Thanks @jatanmalde . I can see a PR was submitted to solve this. I'll close this issue.

[2017-10-04 23:17] #5490 closed

[2017-10-05 00:26] gaurav-nelson opened #5514 "Fix broken links in Cluster Administration section"
FILE: admin_guide/out_of_resource_handling.adoc
Broken LINK: https://github.com/kubernetes/community/blob/master/contributors/design-proposals/resources.md#resource-quantities

FILE: admin_guide/sdn_troubleshooting.adoc
Broken LINK: http://kubernetes.io/v1.0/docs/user-guide/services.html#type-nodeport

PS: https://github.com/openshift/openshift-docs#contributing-to-openshift-documentation

[2017-10-05 00:30] gaurav-nelson opened #5515 "Fix broken links in Architecture section"
FILE: architecture/additional_concepts/overview.adoc
Broken LINK:  https://github.com/openshift/openshift-docs/blob/master/contributing_to_docs/doc_guidelines.html

FILE: architecture/additional_concepts/other_api_objects.adoc
Broken LINK: https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/design/admission_control_limit_range.md
Broken LINK: https://github.com/GoogleCloudPlatform/k

[2017-10-05 00:32] gaurav-nelson opened #5516 "Fix broken links in Contributing to Docs section"
FILE: contributing_to_docs/doc_guidelines.adoc
Broken Link:  https://github.com/openshift/openshift-docs/blob/master/contributing_to_docs/contributing.html#conditional-text-between-products

PS: https://github.com/openshift/openshift-docs#contributing-to-openshift-documentation

[2017-10-05 00:35] eiguike commented on #5515
I can tackle on this issue.

[2017-10-05 00:36] gaurav-nelson opened #5517 "Fix broken links in Creating Images section"
FILE: creating_images/metadata.adoc
Broken Link: https://docs.docker.com/userguide/labels-custom-metadata
Broken Link: https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/design/resources.md#resource-quantities

FILE: creating_images/guidelines.adoc
Broken Link: https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/user-guide/volumes.md
Broken Link: https://github.com/G

[2017-10-05 00:38] gaurav-nelson opened #5518 "Fix broken links in Dev Guide section"
FILE: dev_guide/projected_volumes.adoc
Broken Link: https://github.com/kubernetes/community/blob/master/contributors/design-proposals/all-in-one-volume.md

PS: https://github.com/openshift/openshift-docs#contributing-to-openshift-documentation

[2017-10-05 00:46] gaurav-nelson commented on #5515
Thank you @eiguike
Please go ahead and submit a PR. Only team members-can be assigned to issues, therefore I self-assigned this.

[2017-10-05 00:51] eiguike commented on #5515
@gaurav-nelson Thanks!

[2017-10-05 00:53] gaurav-nelson opened #5519 "Fix broken links in Installation and Configuration section"
FILE: install_config/persistent_storage/persistent_storage_nfs.adoc
Broken Link:  https://github.com/openshift/openshift-ansible/tree/master/roles/kube_nfs_volumes

FILE: install_config/syncing_groups_with_ldap.adoc
Broken Link: http://releases.k8s.io/HEAD/docs/devel/api-conventions.md#types-kinds
Broken Link:  http://releases.k8s.io/HEAD/docs/devel/api-conventions.md#resources

FILE: install_conf

[2017-10-05 00:55] gaurav-nelson opened #5520 "Fix Broken Links in Release Notes section"
FILE: release_notes/ocp_3_3_release_notes.adoc
Broken Link: https://github.com/docker/distribution/blob/master/docs/storage-drivers/gcs.md

FILE: release_notes/ocp_3_6_release_notes.adoc
Broekn Link:  https://access.redhat.com/errata/RHBA-2017:1716

PS: https://github.com/openshift/openshift-docs#contributing-to-openshift-documentation

[2017-10-05 00:57] gaurav-nelson opened #5521 "Fix broken links in Security section"
FILE: security/deployment.adoc
Broken Link: http://registry.access.redhat.com/content/sigstore/

FILE: FILE: security/container_content.adoc
Broken Link: https://www.open-scap.org/930492

PS: https://github.com/openshift/openshift-docs#contributing-to-openshift-documentation

[2017-10-05 02:28] VerteDinde commented on #5520
Happy to take this one - I'll submit a PR.

[2017-10-05 02:43] rhiroyuki commented on #5518
Can I take this issue?

[2017-10-05 02:50] gaurav-nelson commented on #5520
Thanks @VerteDinde :+1:

[2017-10-05 02:50] gaurav-nelson commented on #5518
Thank you @rhiroyuki Please go ahead.

[2017-10-05 02:52] gaurav-nelson commented on #5443
Closing this in favor of #5520

[2017-10-05 02:52] #5443 closed

[2017-10-05 03:08] VerteDinde commented on #5520
Thanks @gaurav-nelson ! Just submitted a PR (https://github.com/openshift/openshift-docs/pull/5524). I mentioned this in the PR summary, but the link to Red Hat's original 3.6.0 release seems to have been removed entirely. I relinked to 3.6's newest stable version (https://access.redhat.com/errata/RHBA-2017:2847), but please let me know if this is incorrect. Thanks for the great documentation!

[2017-10-05 07:27] raghav710 commented on #5521
I'd be happy to take this one :)

[2017-10-05 07:35] raghav710 commented on #5514
Shall i take up this one. Please let me know if you would like to reserve this for other people who are new to open source and coming in through hacktoberfest :)

[2017-10-05 10:32] iashok22 commented on #5517
Fixed - https://github.com/openshift/openshift-docs/pull/5534

[2017-10-05 13:37] #4232 closed

[2017-10-05 14:40] TremaineNeethling commented on #5514
i'm taking this one

[2017-10-05 14:50] TremaineNeethling commented on #5514
Broken LINK: http://kubernetes.io/v1.0/docs/user-guide/services.html#type-nodeport

@gaurav-nelson Do you still want to link to the v1 documentation or the new v1.8?

[2017-10-05 15:44] rhiroyuki commented on #5518
Hey, just to let you know I sended a PR a couple of hours ago solving this issue.  #5527

[2017-10-05 20:19] adellape commented on #4906
The `openshift_hosted_{logging,metrics}_*` Ansible variables used by the installer have been deprecated. Installation documentation has been updated to use the newer variable names. The deprecated variable names are planned for removal in the next minor release of OpenShift Container Platform.

(Per https://trello.com/c/6FsbeKeJ.)

[2017-10-06 00:03] gaurav-nelson commented on #5514
Thank you @raghav710 Its open to everyone. There is no PR linked to this yet, so who ever submits a PR first is what we will look at. Since the `Assignees` option is only limited to team members we cannot assign this to someone else who's not part of our team.

[2017-10-06 00:04] gaurav-nelson commented on #5514
@TremaineNeethling Latest ones

[2017-10-06 00:07] gaurav-nelson commented on #5521
Thank you @raghav710 Please go ahead and submit a PR!

[2017-10-06 05:03] gaurav-nelson commented on #5517
Thank you @iashok22

[2017-10-06 09:58] viswanathamsantosh commented on #5519
Hi, submitted a PR for first broken link. let me know if I replaced it with the right link.
https://github.com/openshift/openshift-docs/pull/5578

[2017-10-06 10:11] viswanathamsantosh commented on #5519
and one more https://github.com/openshift/openshift-docs/pull/5579

[2017-10-06 11:30] raghav710 commented on #5521
@gaurav-nelson I think the second link might require a vulnerability assesment to be done and the results available AFAIK. am i right?

[2017-10-06 11:39] raghav710 commented on #5519
Hi @gaurav-nelson I have raised a [PR](https://github.com/openshift/openshift-docs/pull/5580) for the links in install_config/syncing_groups_with_ldap.adoc

[2017-10-06 11:50] raghav710 commented on #5519
I've raised one more PR #5581 . Please let me know if I've set the correct link

[2017-10-06 14:17] mburke5678 commented on #2620
@danmcp If we were to create a project admin section, a call that is not mine, what would expect to see there? I did a quick scan of the table of contents and found these topics:

Architecture/Core Concepts/Projects
https://docs.openshift.com/container-platform/3.6/architecture/core_concepts/projects_and_users.html#projects

Cluster Admin/Managing Projects
https://docs.openshift.com/container-plat

[2017-10-06 14:40] danmcp commented on #2620
@mburke5678

I think I have changed my mind about this request since I opened it.  The problem still exists, but I think we should solve it a different way.  I am now of the opinion that the sections in the docs are fairly harmful.  The first thing I would want to do is get rid of the architecture section.  Then maybe consider getting rid of the dev vs admin sections.  The reason I am of this opin

[2017-10-06 14:41] mburke5678 commented on #2626
@jwforres @luciddreamz

Is this change as simple as:
Replacing the MONGO_URL string and adding a quick note about resolvable DNS names? Maybe an example?

$ oc set env dc/nodejs-mongodb-example \
MONGO_URL='mongodb://admin:secret@<service-name>:27017/sampledb'

Note: Services in the same project have automatically resolvable DNS names.

For example:
$ oc set env dc/nodejs-mongodb-example \
MONGO_U

[2017-10-06 15:00] mburke5678 commented on #2812
@bfallonf Did anything come of this?

[2017-10-06 15:11] luciddreamz commented on #2626
Doesn’t really matter that much. Either way you need to know the service
name.

On Fri, Oct 6, 2017 at 10:41 AM Michael Burke <notifications@github.com>
wrote:

--
Jacob Lucky
jlucky@redhat.com

[2017-10-06 16:09] mburke5678 commented on #2866
@ahardin-rh @adellape Did anything come of this issue?

[2017-10-06 18:41] mburke5678 commented on #2930
Associated issue is closed. https://github.com/openshift/openshift-docs/pull/2890
PR associated to the associated issue is merged. https://github.com/openshift/openshift-docs/pull/3149
Closing this issue. Please re-open, if needed.

[2017-10-06 18:41] #2930 closed

[2017-10-06 19:18] mburke5678 commented on #2931
@jim-minter Can you describe how these two topics are related? I am not seeing it. Where in the Global Builds page would the link make sense?
See https://github.com/openshift/openshift-docs/issues/2931

[2017-10-06 19:24] dtaylor113 commented on #5307
I believe this was implemented with  #5310

[2017-10-06 19:24] #5307 closed

[2017-10-06 19:25] mburke5678 commented on #2973
@stevekuznetsov @jim-minter It appears that this issue has been addressed? I am closing. Please let me know if https://github.com/openshift/openshift-docs/pull/3372 didn't address your concern

[2017-10-06 20:40] stevekuznetsov commented on #2973
The link I posted still looks like

![screenshot from 2017-10-06 13-40-13](https://user-images.githubusercontent.com/7328370/31297695-e99f2fb8-aa9b-11e7-868c-98d349737e89.png)

[2017-10-06 20:47] jim-minter commented on #2973
@mburke5678 it's the tables that are the issue, not the code snippet. Please re-open.

[2017-10-06 20:52] jim-minter commented on #2931
I think my point is that defining a hard limit on how long build pods can run for (i.e. via RunOnceDuration) is a relevant topic for an administrator who is considering defining hard CPU and memory resource limits for builds.  So, in the overview, after discussing BuildOverrides, I'd also cross-reference RunOnceDuration as an additional setting that may be relevant.

[2017-10-06 21:18] mburke5678 commented on #2931
"When defining hard CPU and memory resource limits for builds, you can define a hard limit
on how long build pods can run by using the
xref:../../admin_guide/managing_pods.adoc#manage-pods-limit-run-once-duration[RunOnceDuration plugin]."

[2017-10-06 21:23] jim-minter commented on #2931
You don't need one for the other - just a, "hey, since you're here you might also be interested in knowing that you can..." would be better.

[2017-10-06 21:54] mburke5678 commented on #2973
@jim-minter It appears that the tables need to be wide in order to accommodate the code block snippets in the right column. The column widths are set relative to one another. If I remove that mark-up, the code blocks become regular text.
@stevekuznetsov  Where is the issue with zooming? Are you looking at a cell phone?

[2017-10-07 00:22] stevekuznetsov commented on #2973
Maybe I've just got old-man eyes ;)

[2017-10-07 00:22] stevekuznetsov commented on #2973
I have a 4k monitor so I hover around 180% zoom to make my text larger. If you think that's not a use-case you need to support, feel free to close this!

[2017-10-07 00:38] Morecai commented on #5519
Hi @gaurav-nelson I have created a PR for the FILE: install_config/install/advanced_install.adoc
Broken Link: http://kubernetes.io/v1.1/docs/admin/kubelet.html
I don't believe it has been addressed yet.

[2017-10-08 23:38] mburke5678 commented on #2973
@vikram-redhat Came across this issue. What do you think? Should we close as the use case is an outlier?

[2017-10-08 23:55] vikram-redhat commented on #2973
@mburke5678 - yeah pretty much :)

[2017-10-09 00:20] #2973 closed

[2017-10-09 06:12] #5515 closed

[2017-10-09 06:26] #5516 closed

[2017-10-09 13:13] mburke5678 commented on #2626
@jwforres PTAL. Should we make this change or leave as-is?

[2017-10-09 13:35] luciddreamz commented on #2626
Sorry, I had forgotten the context of the example here. In this example we
were actually querying to find the IP address to set an env var. Yes, go
ahead and make the change to use the service name.

Jacob Lucky
jlucky@redhat.com

On Mon, Oct 9, 2017 at 9:13 AM, Michael Burke <notifications@github.com>
wrote:

[2017-10-09 16:27] jatanmalde opened #5599 "ingressIPNetworkCIDR issue in openshift-docs/admin_guide/tcp_ingress_external_ports.adoc"
When I use this variable `IngressIPNetworkCIDR` it is not able to assign the value provided to it, but if we use this variable starting with small "i" letter starting then it is able to assign the value provided to it where ever necessary.
  And same is the case with `ExternalIPNetworkCIDR` variable.

[2017-10-09 19:50] simo5 commented on #4906
We are deprecating a large number of policy related APIs and commands.
In 3.7 we completely removed the policy objects, so any command trying to directly manipulate a policy object will simply fail. Role and Rolebinding endpoints are still available, and they proxy the operation to create native RBAC objects instead.
The following commands do not work against a 3.7 server:
[code]
Note: a 3.7 clien

[2017-10-10 07:13] jatanmalde opened #5611 "Value of ingressIPNetworkCIDR error in openshift-docs/dev_guide/getting_traffic_into_cluster.adoc"
Using this variable `IngressIPNetworkCIDR`, the value assigned to it is not working and hence should be altered as using the same variable starting with small "i" works.

[2017-10-10 09:52] ksemaev opened #5613 "Deprected command oadm manage-node <node1> <node2> --evacuate"
For several versions already the command  `oadm manage-node <node1> <node2> --evacuate` is deprecated (https://docs.openshift.org/latest/admin_guide/manage_nodes.html#evacuating-pods-on-nodes ):

[code]

please change it to `oadm drain NODE`

[2017-10-12 05:31] #5517 closed

[2017-10-12 20:06] mburke5678 commented on #2626
Closing in favor of https://github.com/openshift/openshift-docs/pull/5598

[2017-10-12 20:06] #2626 closed

[2017-10-13 06:11] vikram-redhat commented on #4906
From Ben B: The odds of someone hitting this (https://bugzilla.redhat.com/show_bug.cgi?id=1500961) are so slim there's no point. Especially if we get the ostree update out in a day or two after 7.4.2.

**Where we might make a note is in the OCP docs for 3.7, stating that 7.4.2.1 or newer is required for a containerized install.**

@adellape @ahardin-rh - might need an update in both the release no

[2017-10-13 14:39] ksemaev opened #5701 "openshift_metrics_storage ansible variables confusion"
According to https://docs.openshift.org/latest/install_config/install/advanced_install.html#advanced-install-cluster-metrics-storage "There are three options for enabling cluster metrics storage":
openshift_metrics_storage_kind=nfs group,
openshift_metrics_storage_kind=nfs host
openshift_metrics_cassandra_storage_type=dynamic

But according to https://docs.openshift.org/latest/install_config/clust

[2017-10-13 15:18] ksemaev opened #5704 "PV for openshift metrics"
According to https://docs.openshift.org/latest/install_config/cluster_metrics.html#metrics-ansible-role  there is a "pv for persistent volumes, which need to be created before the installation", but there is no information on which parameters we need to setup for it: name, access mode, claimRef etc.

I have no idea what pv to make, so the ansible installation of cassandra would be able to mount it

[2017-10-13 21:36] ahardin-rh commented on #5397
Addressed in the referenced PRs and will be published with the weekly release

[2017-10-13 21:36] #5397 closed

[2017-10-13 21:53] ahardin-rh commented on #5611
Fully resolved in https://github.com/openshift/openshift-docs/pull/5710

[2017-10-13 21:53] #5611 closed

[2017-10-16 17:48] xsgordon opened #5730 "Cinder auto-detection fails for OpenShift on OpenStack without bs-version set."
In the "Configuring for OpenStack" content an example `/etc/cloud.cfg` is provided. Not mentioned is the fact that on newer OpenStack installs that expose a Cinder endpoint using paths rather than ports this configuration will result in an error along the lines of:

To resolve this until such time as OpenShift/Kubernetes properly support Cinder V3 and/or the auto-detection login in the K8S cloud p

[2017-10-16 19:52] robin-owen opened #5734 "Footer obscures content when printing"
When printing the latest online documentation, the footer content is malformed and often obscures relevant content on the page. This is readily apparent when generating a print preview or printing the content to a PDF file.

The footer content only appears on the first page being printed.

Attached: [screenshot from 2017-10-16 15-45-45](https://user-images.githubusercontent.com/32545387/31631939-5

[2017-10-18 10:25] jtudelag opened #5765 "Document new docker-registry route setup."
Document the new option for docker-registry route included in this PR [Refactor openshift_hosted's docker-registry route setup](https://github.com/openshift/openshift-ansible/pull/4254)

- route host
- route type & certs.

[2017-10-18 10:30] jtudelag opened #5766 "Document new registry-console route setup."
Document the new option for registry-console route included in this PR (not merged yet) [Refactor registry-console setup and add support for SSL](https://github.com/openshift/openshift-ansible/pull/4256)

- route host
- route type & certs.

[2017-10-18 10:30] soltysh commented on #2608
@mburke5678 what I would want to see is a description of an Image resource openshift provides, which is visible only to cluster admins and those responsible for pruning the images. In short Image is the actual metadata information about every image. Every image stream actually points to such an image (or to multiple), and normally users can't access all the images, unless through ImageStreamImage

[2017-10-20 08:34] jiri-fiala opened #5815 "suggest OpenShift Online Pro router address"
Please mention explicitly how OpenShift Online Pro users can figure out their router FQDN for their cluster (i.e. using the `*.openshiftapps.com` URL when creating a default route) and/or list all the available Pro routers, [somewhere here](https://github.com/openshift/openshift-docs/blame/master/dev_guide/routes.adoc#L314).
This is needed for users to understand how exactly their DNS records are

[2017-10-20 13:38] ahardin-rh commented on #5815
@jiri-fiala Thanks for your comments.

@tiwillia @Miciah What guidance can I add here? Thanks!

[2017-10-23 06:59] jiri-fiala commented on #5815
Here are suggested router FQDNs for Pro clusters; one of these - depending on what cluster (US/EU/APAC) they are on - is where the CNAME DNS record of a user's custom domain should point to:

    elb.b9ad.pro-us-east-1.openshiftapps.com
    elb.e4ff.pro-eu-west-1.openshiftapps.com
    elb.4b63.pro-ap-southeast-2.openshiftapps.com

[2017-10-23 14:04] jtudelag opened #5850 "Ansible Installer user (ansible_ssh_user) must include /sbin/ folder in Its PATH"
Currently, there is no specific note in the docs. We should warn explicitly that the user set in the variable ansible_ssh_user must include /sbin in Its PATH, otherwise, the installer will fail.

[2017-10-23 16:41] tiwillia commented on #5815
@wgordon17 @luciddreamz weren't we planning on implementing a way for users to get this information in the `About` section of the console? I don't see it there, was that work ever done?

[2017-10-23 17:10] sdodson commented on #4906
Starting with 3.7 versions of the installer if you've configured AWS provider credentials you must also ensure that all instances are labeled and then set `openshift_clusterid` variable to the cluster id. Please see https://github.com/openshift/openshift-docs/pull/5732 for more details.

[2017-10-23 17:14] wgordon17 commented on #5815
@tiwillia PR (https://github.com/openshift/online/pull/1465) is currently pending the release-ticket (https://github.com/openshift/online/issues/1466). The work on the release-ticket has *not* been performed yet from my understanding.

Additionally, the master-config needs to be updated with the following information (https://docs.openshift.com/container-platform/3.6/install_config/router/default_

[2017-10-23 17:20] wgordon17 commented on #5815
@tiwillia I have created release-ticket (https://github.com/openshift/online/issues/1508) for adding router-canonical-hostname to paid cluster router's

[2017-10-23 18:01] php-coder commented on #4906
Some SCCs became stricter and now drop the following capabilities:
- `nonroot` drops KILL, MKNOD, SETUID, and SETGID
- `hostaccess` drops KILL, MKNOD, SETUID, and SETGID
- `hostmount-anyuid` drops MKNOD
It's possible that the pods that previously were admitted by these SCCs and were using such capabilities will fail after upgrade. In this (rare) cases, cluster administrator should create a custom

[2017-10-24 23:38] #5514 closed

[2017-10-24 23:44] gaurav-nelson commented on #5518
Fixed in #5527

[2017-10-24 23:44] #5518 closed

[2017-10-24 23:54] gaurav-nelson commented on #5521
Closing this, not an issue anymore

[2017-10-24 23:54] #5521 closed

[2017-10-25 07:04] anjannath opened #5946 "Broken links in docs.openshift.org"
The following two links are not working.

- https://docs.openshift.org/latest/architecture/core_concepts/routes.html#architecture-core-concepts-routes

- https://docs.openshift.org/latest/architecture/core_concepts/templates.html#architecture-core-concepts-templates

[2017-10-25 16:00] ahardin-rh commented on #2842
Addressed in https://github.com/openshift/openshift-docs/pull/5706

[2017-10-25 16:00] #2842 closed

[2017-10-26 00:24] ghyde opened #5980 "Missing description for volume option "--configmap-name""
This [documentation](https://github.com/openshift/openshift-docs/blob/013c3372361885b6ec921f7ccb0c8473a775627b/dev_guide/volumes.adoc#adding-volumes) is missing a description for the option `--configmap-name`, which is required when `--type=configmap`.

[2017-10-26 15:27] #5980 closed

[2017-10-26 15:38] sspeiche opened #5989 "EFS missing from list of storage drivers in 3.6"
I find it it both in the [install docs](https://docs.openshift.com/container-platform/3.6/install_config/provisioners.html#deploying-the-aws-efs-provisioner) and [release notes](https://docs.openshift.com/container-platform/3.6/release_notes/ocp_3_6_release_notes.html#ocp-36-aws-efs-provisioner)

I was expecting to find it in [this list](https://docs.openshift.com/container-platform/3.6/install_co

[2017-10-28 11:35] saritha-infosys commented on #5946
1st link is not working, we can see the info in the below link

https://docs.openshift.org/latest/architecture/core_concepts/index.html

[2017-10-30 15:00] clemSeveillac commented on #5159
I agree and I've just submitted that fix :)

[2017-10-30 15:11] #5159 closed

[2017-10-30 16:43] Cameronwyatt opened #6022 "Update GlusterFS links to latest release Red Hat Storage release (3.3) for OpenShift 3.6"
The links [here](https://docs.openshift.com/container-platform/3.6/install_config/persistent_storage/persistent_storage_glusterfs.html) for Red Hat Storage point to an older release. There is a more current release (3.3) that has updated instructions for OpenShift 3.6, found [here](https://access.redhat.com/documentation/en-us/red_hat_gluster_storage/3.3/html/container-native_storage_for_openshift

[2017-10-30 20:25] adellape commented on #4906
Updated installer support for CFME 4.6 on OCP 3.7.

[2017-10-31 16:13] oybed opened #6054 "No documentation for how to open port 1936 for Default Router"
The default OpenShift router exposes port 1936 by default for statistics. However, this port isn't open in the firewall / iptables. After discussing this over with a few others, we agreed that this probably needs to be covered by documentation on how to set up - part of the admin guide for the router.

https://docs.openshift.com/container-platform/3.6/admin_guide/router.html

[2017-10-31 16:57] mburke5678 commented on #2931
Closing. See: https://github.com/openshift/openshift-docs/pull/5589

[2017-10-31 16:57] #2931 closed

[2017-10-31 21:20] dstockdreher opened #6076 "Add docs for openshift_disable_swap flag"
On Recent installs of 3.6 in environments with swap on, encountered issues with swapoff not working.  In some environments where folks actually want to leave swap on, It doesn't appear that the flag
openshift_disable_swap is documented as an option.  Though it appears to be coded for use in 3.6
https://github.com/openshift/openshift-ansible/blob/release-3.6/roles/openshift_node/tasks/main.yml

[2017-11-01 18:31] tdudgeon opened #6080 "Docs are inconsistent and inaccurate with regard to use of NFS for PVs for logging."
The 3.6.0 and latest advanced (ansible) installer docs [1] specifically describes how to define using NFS for persistent storage, but the docs for "aggregating container logs" [2] says that NFS should not be used (except in one particular scenario) and seems to suggest that the only really suitable scenario is to use a volume (disk) directly mounted to each logging node.

This needs clarifying and

[2017-11-02 12:07] anjannath commented on #5946
found one more broken link: https://docs.openshift.org/latest/dev_guide/getting_traffic_into_cluster.html#using-ingress-IP-self-service

[2017-11-02 16:22] syui opened #6086 "[online] The route is not accepting traffic yet because it has not been admitted by a router."
I am using OpenShift Online Starter.

However, errors are generated when creating Routes.

[code]

`The route is not accepting traffic yet because it has not been admitted by a router.`

https://docs.openshift.com/online/dev_guide/routes.html

[2017-11-02 16:23] ahardin-rh commented on #6086
@tiwillia @Miciah Please advise

[2017-11-03 04:25] #5519 closed

[2017-11-03 06:29] gaurav-nelson commented on #5946
Thank you @anjannath for creating this issue, can you please also share these links are broken on which pages?

[2017-11-03 07:07] anjannath commented on #5946
@gaurav-nelson More information can be found on this issue [openshift/origin#1593](https://github.com/openshift/origin/issues/17165)

[2017-11-03 08:40] dcaldwel opened #6113 "EFK Storage Considerations error in example scenario and calculations"
In the EFK Storage Considerations section (install_config/aggregate_logging_sizing), there appears to be an error in the given example scenario.

The example scenario is:

I think that the line

should read

Further, the table of example calculations seems to be wildly inaccurate because:
- a seconds-per-day multiplier is used when the given byte values seem to be per minute;
- the third line calc

[2017-11-03 16:18] syui commented on #6086
I solved the problem.

But this time a new problem has occurred.

[2017-11-03 16:22] syui commented on #6086
In addition, if you do not reload many times `Application is not available`.

example : http://cachet-tapp.1d35.starter-us-east-1.openshiftapps.com/

[2017-11-03 17:39] mrinx commented on #6086
@syui, can you tell me how did you solve the problem?

I still have a problem with my route, no matter how long I wait.

`... either the administrator has not installed a router or the router is not selecting this route.`

I'm also on `1d35.starter-us-east-1.openshiftapps.com`

[2017-11-03 18:19] syui commented on #6086
@mrinx sorry, I put timed.

The error disappeared the day after I wrote the issue.

[2017-11-04 20:49] enj commented on #4906
A 3.7 master will return an unstructured response instead of structured JSON when an action is forbidden.  This is a known issue (openshift/origin/issues/16731) and will be fixed in 3.8.

[2017-11-05 09:19] jkkj93 commented on #6086
I met the same problem as syui.

[2017-11-05 19:12] MartinMelis21 commented on #6086
Currently facing the same issue (using Starter plan). Having a Java application on Tomcat 7, built and deployed currectly (curl 0.0.0.0:8080 on the pod works fine), but unable to create the route.
Progress message: The route is not accepting traffic yet because it has not been admitted by a router.

After checking  oc adm router --dry-run error is returned: Router "router" service does not exist.

[2017-11-05 23:26] gaurav-nelson commented on #5946
Thank you @anjannath for the updates. This one is already fixed in the current version.

[2017-11-05 23:26] #5946 closed

[2017-11-05 23:28] gaurav-nelson commented on #3293
Closing this, no response from reporter.

[2017-11-05 23:28] #3293 closed

[2017-11-06 11:50] juanluisvaladas opened #6141 "Etcd backup and restore guide isn't valid for etcd data v3"
The current process [1] is only suitable for etcd data model 2 [2]. Since 3.6 we use data model 3 which backs up  differently [3]

1- https://docs.openshift.com/container-platform/3.6/admin_guide/backup_restore.html#etcd-backup
2- https://coreos.com/etcd/docs/latest/v2/admin_guide.html#disaster-recovery
3- https://coreos.com/etcd/docs/latest/op-guide/recovery.html

[2017-11-06 14:06] pweil- opened #6142 "Ingress IP Self-Service documentation results in a 404"
Missing target for link related to Ingress IP Self-ServiceAdditional Informationhttps://docs.openshift.org/latest/minishift/openshift/exposing-services.html links to a non-existent link https://docs.openshift.org/latest/dev_guide/getting_traffic_into_cluster.html#using-ingress-IP-self-serviceRelated issue; minishift/minishift#1651
--

@gbraad

[2017-11-06 14:06] pweil- commented on #6142
https://github.com/openshift/origin/issues/17165

[2017-11-06 14:25] Miciah commented on #6086
@syui and @jkkj93, custom domains is only included as part of the Pro plan, not Starter.  This is documented in the plan descriptions, but the restriction on custom domains was not consistently enforced on Starter, so confusion is understandable.  Besides that, are you still seeing problems?

@mrinx and @MartinMelis21, can you provide the output of `oc get routes -o json`? Perhaps there will be mo

[2017-11-06 15:27] mrinx commented on #6086
@Miciah, I have a working route now, it started working for me again on Saturday, I didn't mess with it since then. In my case it took longer than minutes, it was in hours. And before that I was waiting a whole day or so - without any success.

Do I understand correctly, that the `creationTimestamp` is the time I asked for the route to be created, and the `lastTransitionTime` is the time when the

[2017-11-06 18:13] syui commented on #6086
@Miciah No

[2017-11-06 18:36] sdodson commented on #4906
Known issue: The installer can not deploy system container based installations when the specified registry requires authentication credentials in order to pull the required system container images. The fix for this depends on an update to the `atomic` command which will be updated after 3.7 GA.

https://bugzilla.redhat.com/show_bug.cgi?id=1505744

[2017-11-07 02:34] jkkj93 commented on #6086
@Miciah Got it.Thank you for answering.

[2017-11-07 03:27] nii236 commented on #707
What happened to `--verbose`? It is no longer available in the `oc` command.

[2017-11-07 03:29] liggitt commented on #707
--loglevel=8 or --v=8

[2017-11-07 12:19] php-coder commented on #5403
CC @bparees

[2017-11-07 14:12] bparees commented on #5403
those docs are incorrect, they were carried too directly from the s2i repo.

what --scripts-url *should* be referring to is the value of the build.spec.sourcestrategy.scripts field in your buildconfig.

[2017-11-07 14:12] bparees commented on #5403
@csrwng can you please help clean up these docs?

[2017-11-07 18:44] bparees opened #6208 "topic consolidation recommendations"
the "installation+configuration" section has a bunch of sub-topics that i think can be grouped+nested.

1) Configuring the SDN, Configuration the Nuage SDN  (nest under configuring the SDN.  maybe the Nuage SDN bit even just becomes a section of the SDN doc)

2) Configuring for AWS, GCE, Azure, OpenStack, VMWare (these can all nest under "configuring for specific platforms" or something)

3) confi

[2017-11-07 18:54] bmcelvee commented on #6208
@bparees Thanks!  I opened a Documentation Trello Card for this issue.

[2017-11-07 21:33] #5403 closed

[2017-11-08 08:40] tsmetana commented on #4906
Known issue: The volume snapshot tech-preview feature may not be available to non-admin users by default due to API RBAC settings. When the volume snapshot controller and provisioner are installed and run, the cluster admin needs to configure the API access to the VolumeSnapshot objects by creating Roles/ClusterRoles and assigning them to the desired users or user groups.

https://bugzilla.redhat.

[2017-11-09 12:43] stanky91 opened #6266 "Application on OpenShift Online are not accessible(STARTER PLAN West-1-California)"
I can't access my application on OpenShift Online (STARTER PLAN West-1-California).But the pods are still running normally.I found some sites running on West-1-California servers through Google with the keywords "west   openshiftapps.com",And they are not available at all.

[2017-11-09 13:57] tiwillia commented on #6266
Hi @stanky91,

Thanks for bringing this to our attention. It does appear as though there are some problems with applications on the starter west-1 cluster. We are addressing this now.

[2017-11-09 14:09] wgordon17 commented on #6266
@stanky91 In the future, such issues would be better reported in our [community channel](https://help.openshift.com/forms/community-contact.html), as this repository is only used for documentation.

[2017-11-09 14:15] ahardin-rh commented on #6266
@tiwillia @wgordon17 Thanks!

[2017-11-09 14:15] #6266 closed

[2017-11-09 15:14] stanky91 commented on #6266
@tiwillia @wgordon17 @ahardin-rh  I see.Thank you.

[2017-11-09 15:26] IngridT1 opened #6272 "Change title from "Advanced Installation""
"Advanced Installation" isn't really what this document is about. Instead, it provides instructions for a custom installation.

Some possible alternate titles:

- Custom Installation
- Customizing your OpenShift Installation
- Installing OpenShift with custom options

Your ideas are welcome.

[2017-11-09 15:31] IngridT1 opened #6273 "Edits and suggested changes to the Overview section of the Advanced Installation doc"
This is a fairly complex edit, and I think it would be easier to work with one or more OpenShift writers to make sure this section is still technically correct. As a result, I'm going to provide this edit as an issue instead of a merge request.

The Overview as it currently stands is confusing and has both an **Important** warning and a separate **Note**. It would help readers more if the informat

[2017-11-09 17:20] enj commented on #4906
The node authorizer and admission plugin are used to manage and limit node's permissions in 3.7.  Thus nodes should be removed from the group that previously granted them broad permissions across the cluster:

`oc adm policy remove-cluster-role-from-group system:node system:nodes`

[2017-11-09 19:56] IngridT1 opened #6294 "Edits and suggested changes to the Before You Begin section of the Advanced Installation doc"
Could one of the OpenShift writers look at this rewrite of that section and see if it makes sense?
https://docs.google.com/a/redhat.com/document/d/1xKnzOQmcSRLu49mvXhbEA4VwieVwoUa8WJJjTgFRI2w/edit?usp=sharing

[2017-11-11 16:55] jaseemabid opened #6332 "Support docker builds"
It might be worth mentioning that the project can be almost? built with this single command (no local setup required) if you have docker installed already (which I expect most people working on openshift will have).

    docker run --rm -v $(pwd):/docs projectatomic/ascii_binder asciibinder build

Should I add this to README or the Makefile? The current setup is quite long and I really don't want

[2017-11-13 10:39] Tomsk73 opened #6333 "managing_networking shows incorrect example for 3.5 egressNetworkPolicy"
The Managing Network document has an example EgressNetworkPolicy which shows an entry for a dnsName rule. However, that rule definition was not added to the API spec until 3.6

[2017-11-13 13:52] e-minguez opened #6334 "Missing "> /etc/sysconfig/iptables" in adding a new etcd member"
https://github.com/openshift/openshift-docs/blob/master/admin_guide/backup_restore.adoc

Missing redirection to save iptables rules:

[code]

[2017-11-13 15:53] enj commented on #4906
@ahardin-rh In regard to the last release note (https://github.com/openshift/openshift-docs/issues/4906#issuecomment-343227034), we plan to perform this step automatically via Ansible as a post upgrade step once the cluster is upgraded to 3.8.  Specifically, since this a new feature, we want to give users a release (i.e. 3.7) before forcing it on for them.

[2017-11-13 19:52] knobunc commented on #4906
The `kube-service-catalog` namespace is now also made global (by ansible https://github.com/openshift/openshift-ansible/pull/4756), so if you want multicast to work in vnid 0, you have to set the `netnamespace.network.openshift.io/multicast-enabled=true` annotation on *both* namespaces (i.e. `default` and `kube-service-catalog`).

[2017-11-14 05:52] vikram-redhat commented on #6294
@adellape - can you take a look this week?

[2017-11-15 20:10] enj commented on #4906
**Migration to Kubernetes Role Based Access Control (RBAC)**

_Steps Taken During the 3.6 Release_

A custom migration controller was created to automatically migrate OpenShift authorization policy resources to the equivalent RBAC resources:

1. If an OpenShift authorization policy resource was created or modified or deleted, the action was automatically mirrored to the corresponding RBAC resource

[2017-11-16 07:44] jaseemabid opened #6390 "Suggestion: serve docs website without relying on assets.openshift.net"
I build the docs website locally but it fetches some assets like subdomain.js, subdomain.css etc from an external domain assets.openshift.net; which makes reading the docs offline impossible.

What is the rationale for this? Where can I find the source for the assets so that I can make it work locally without internet or send a patch?

[2017-11-16 07:58] jaseemabid opened #6391 "Is there an `openshift` command?"
[Admin CLI Overview](https://docs.openshift.org/latest/cli_reference/admin_cli_operations.html#overview) section mentions an `openshift` command, which I don't see documented anywhere else.

Is this really a thing or a historical artefact? The 'Get Started with the CLI' page only mentions `oc`.

[2017-11-16 08:00] jaseemabid opened #6392 "What is the difference b/w `oadm` and `oc adm`?"
The docs use both commands interchangeably.  Is one newer than the other? Which one is recommended? Why do we have both?

[2017-11-16 17:34] sspeiche opened #6397 "Tidy up EAP migration docs"
https://docs.openshift.com/online/dev_guide/migrating_applications/web_framework_applications.html#dev-guide-migrating-web-framework-applications-jboss-eap

To align with EAP roll out due any day.

**Current docs have**
If the repository includes pre-built .war files, they need to reside in the deployments directory off the root directory of the repository.

Create the new application using the JB

[2017-11-17 03:45] guangxuli opened #6406 "Should updated the description of distribution api"
update: https://docs.openshift.org/latest/rest_api/index.html

The OpenShift Origin distribution of Kubernetes includes the` Kubernetes v1 REST API` and the `OpenShift v1 REST API.`  Please update the link or description.

[2017-11-17 09:37] dcaldwel opened #6408 "using-a-service-external-ip-to-get-traffic-into-the-cluster - typos and general misinformation"
RE: https://github.com/openshift/openshift-docs/blob/master/dev_guide/expose_service/expose_internal_ip_service.adoc#using-a-service-external-ip-to-get-traffic-into-the-cluster

There are typos on this page ("curl:" should not have the colon and there is inconsistency with the "192" addressing used which is very confusing).

The section that adds routes makes no sense from a technical perspective

[2017-11-17 21:17] thesteve0 commented on #6397
Hey @sspeiche and @wgordon17 I can help with this. Is this for OCP or for Online Pro?

[2017-11-17 21:18] wgordon17 commented on #6397
@thesteve0 This is for the Online Pro launch of EAP

[2017-11-17 21:43] thesteve0 commented on #6397
Ok there is a bunch of work happening on the templates now. Since we are no
longer exposing raw builders, we are going to have to supply the template
paramters. I think the first draft of the EAP 7 templates can be found here:

https://github.com/redhat-middleware-hackathon/openshift-files/tree/master/eap

They were made for the hackthon.

On Fri, Nov 17, 2017 at 1:18 PM, Will Gordon <notification

[2017-11-17 22:27] adellape commented on #6397
So we can't just make the change as @sspeiche described?

[2017-11-18 07:27] ThomasSteinbach commented on #1498
Any news on how to compile the documentation to ePub or PDF? Why does redhat provide both formats on its downloading page ( https://access.redhat.com/documentation/en-us/openshift_container_platform ) when there is no official way to compile the docs of this repo to ePub/PDF?

[2017-11-19 08:14] thesteve0 commented on #6397
@adellape according to @knrc using the raw builder images was removed from the catalog per request by @sspeiche. The command line should still work (I think, though I haven't tested). But they will not show up in the catalog.

I think we can quickly do 7.0 like @sspeiche said.

[2017-11-19 14:35] sspeiche commented on #6397
@adellape Yes, changes as I described. Which are an immediate need.

[2017-11-20 02:38] vikram-redhat commented on #4411
@bmcelvee - can you please bring this issue up in the next sprint meeting?

[2017-11-20 15:07] bparees opened #6430 "document adding trusted CAs/certs to the internal registry"
When doing pullthrough, it is necessary to add trust certs to the internal registry pod, for any external registry that the internal registry will be pulling from.

This means putting the certs in the right location within the registry pod (somewhere under /etc/pki, not sure the exact path) and possibly running update-ca-trust.

it also means the certs should probably be on a PV in order for the c

[2017-11-20 15:23] bparees commented on #6430
(see also https://github.com/openshift/origin/issues/1753)

[2017-11-20 15:24] bparees commented on #6430
in particular https://github.com/openshift/origin/issues/1753#issuecomment-300612122 indicates that `/etc/pki/ca-trust/extracted` is probably the right path, and if you use that path update-ca-trust should not be necessary i don't think)

[2017-11-21 01:33] muppsy007 opened #6438 "Document oc rsync watch with exclude"
There are various posts and info floating around including the man page found here: https://www.mankier.com/1/oc-rsync. But it's really light on examples for using oc rsync with almost any of the commands options. Searching closed history in this repo also yields nothing.

Currently I am trying to set up a rsync watch that also excludes an entire directory (multiple if possible). I've tried multip

[2017-11-21 20:42] mwithrow commented on #4906
is the catalog api opened back up in 3.7?  I can't find any info on it.

[2017-11-22 07:00] chengzhang1016 commented on #4906
@mfojtik
We(svc-catalog & asb QE) hit a issue in ocp3.6 - ASB bootstrap failed while apb registry exist images of 3.7
https://bugzilla.redhat.com/show_bug.cgi?id=1515211

That means if apb registry only have 3.6 apb images, asb work well. But, will have problem while we upgrade to ocp3.7.

@jwmatthews @pmorie Please help to confirm this issue and decide if need to add release note. Thanks.

[2017-11-22 19:24] liggitt opened #6458 "OpenShift 3.8/3.9 Release Notes Tracker"

[2017-11-22 19:24] liggitt commented on #6458
* The autoscaling/v2alpha1 API group has been removed
* batch/v2alpha1 SchedueldJob objects are no longer supported. Use CronJobs instead.
* `openshift start node` requires swap to be disabled. This is already done as part of the ansible node install.

[2017-11-23 17:33] JoaoJoia commented on #2728
There is someone that can help me with the upgrade of OpenShift Origin cluster from 1.2 to 1.3. the v3_4 upgrade?
Someone can guide me?
I want to get up to date to the new OpenShift Origin cluster version.

Cumps, João

[2017-11-27 12:04] jiri-fiala opened #6491 "missing link: architecture/core_concepts/index"
The [architecture/core_concepts index page](https://github.com/openshift/openshift-docs/blob/master/architecture/core_concepts/index.adoc) links nonexistent document in the *"Routes"* bullet point (`xref:routes.adoc#architecture-core-concepts-routes[Routes]`).

[2017-11-27 16:07] nhr commented on #1498
@ThomasSteinbach - single-volume output support needs to be added to AsciiBinder in order to make this possible. The feature request is here: https://github.com/redhataccess/ascii_binder/issues/108

[2017-11-27 16:57] dstockdreher opened #6494 "Update to match text."
In the Network Policy Section for the 3.6 enterprise docs.

The following:

Only allow HTTP and HTTPS traffic based on pod labels

To enable only HTTP and HTTPS access to the pods with a specific label (role=frontend in following example), add a NetworkPolicy object similar to:

kind: NetworkPolicy
apiVersion: extensions/v1beta1
metadata:
  name: allow-http-and-https
spec:
  podSelector:
  ingress

[2017-11-28 15:15] akram opened #6499 "Document how to set labels and labels on deployer pod"
Hi,
this could fit in section: /dev_guide/deployments/deployment_strategies.html

Can you please document the use of
dc.spec.strategy.annotations
dc.spec.strategy.labels

to let people know how to set custom labels on deployer pods

Thanks

[2017-11-30 01:43] wkulhanek opened #6558 "Wrong flag to install Logging"
The advanced install documentation says to install logging this flag needs to be set:
openshift_metrics_install_logging=false

However according to the openshift-ansible repo the correct flag is this:

openshift_logging_install_logging=True

Location: https://github.com/openshift/openshift-docs/blob/master/install_config/install/advanced_install.adoc#advanced-install-cluster-logging

[2017-11-30 06:10] lpsantil opened #6561 "Preprocessor skipping {production-title}"
Preprocessor is skipping a {production-title} in

https://docs.openshift.com/container-platform/3.6/scaling_performance/optimizing_storage.html#general-storage-guidelines

Also affect 3.7 & latest.

[2017-11-30 09:15] e-minguez opened #6563 ""N00b is now able to prune images" in OCP 3.7 release notes"
I think this is a mistake right?

https://docs.openshift.com/container-platform/3.7/release_notes/ocp_3_7_release_notes.html#ocp-37-bug-fixes -> search for "N00b"

[2017-11-30 10:50] miminar commented on #6563
I'm not a native speaker, but I find the description accurate :smile:

[2017-11-30 14:40] bparees commented on #6563
@openshift/team-documentation we need to get this fixed.......

[2017-11-30 14:44] bmcelvee commented on #6563
Thanks! On it.

[2017-11-30 15:13] bmcelvee commented on #6563
Tracking changes in https://github.com/openshift/openshift-docs/pull/6565.

[2017-11-30 15:13] #6563 closed

[2017-12-01 08:08] bingli7 commented on #6397
As EAP 6 imagestreams/templates were removed from Online Pro, how to migrate EAP 6.4 to v3? Should we highlight this in the docs? Thanks!

[2017-12-01 22:40] knrc commented on #6397
Note the hackathon templates were only done for Steve's hackathon and are not official, some of these changes have already been made to the official templates and we are looking at alternative ways to simplify them further.

[2017-12-04 09:14] budhram opened #6604 "Unable to render ditaa diagram in Minishift when its image is available"
It seems that when the ditaa digram image is available in an `images` folder on the folder containing `.adoc` file with ditaa syntax, the image is unable to render in openshift-docs.

See http://artifacts.ci.centos.org/minishift/minishift/docs/ondemand/minishift-master/openshift-origin/latest/minishift/using/basic-usage.html#basic-usage-overview.

**Steps to reproduce**
[code]

Above steps are doc

[2017-12-05 09:07] juanwolf opened #6608 ""Configuring Ansible Inventory Files" Section missing in advanced installation section"
On the page https://docs.openshift.org/latest/install_config/install/advanced_install.html the "configuring-ansible" section is missing.

I was able to find these pages yesterday.

Let me know if I can help in any way.

[2017-12-07 12:13] juanwolf commented on #6608
Seems that [this commit](https://github.com/openshift/openshift-docs/commit/3ca26da9ee50da4beecd8461541057e57e650714#diff-fe94157edddadf88425cf07b556a00a3) fixed the issue.

Thanks for the quick fix!

[2017-12-07 12:13] #6608 closed

[2017-12-08 14:40] bparees opened #6664 "clarify how the sync plugin handles configmap slave pod definitions"
Two things need to be clarified when using the configmap mechanism to define jenkins slave pods:

1) that you should not edit the slave definition in jenkins (any changes you make will be overridden by the configmap on the next sync)

2) that you can update the slave definition by modifying the configmap content (which will trigger an update of the jenkins slave definition).

[2017-12-08 15:04] codrinbucur commented on #6664
Thanks for this!

[2017-12-11 22:12] thrasher-redhat opened #6701 "Missing oc version on online's Basic CLI Operations page"
The warning box at the bottom of the oc common operations section has a note that is not displaying the actual version #.

https://github.com/openshift/openshift-docs/blob/master/cli_reference/basic_cli_operations.adoc#oc-common-operations
https://docs.openshift.com/online/cli_reference/basic_cli_operations.html#oc-common-operations

[2017-12-11 22:12] thrasher-redhat commented on #6701
@ahardin-rh FYI

[2017-12-11 22:22] thrasher-redhat opened #6703 "Minor link errors on Basic CLI Operations page"
There are a few links on the [basic CLI operations](https://docs.openshift.com/online/cli_reference/basic_cli_operations.html) page that seem to be slightly incorrect (though they resolve).

* https://docs.openshift.com/online/dev_guide/secrets.html#dev-guide-secrets
* https://docs.openshift.com/online/dev_guide/pod_autoscaling.html#dev-guide-pod-autoscaling
* https://docs.openshift.com/online/dev

[2017-12-11 22:23] thrasher-redhat commented on #6703
@ahardin-rh FYI

[2017-12-12 13:03] vikaschoudhary16 commented on #4229
@Miciah  documentation should be updated with your above comment.
I recently investigated the following issue:
https://github.com/openshift/origin/issues/16211

And the behavior is consistent with what you described above. post hook container fails if "-v" is not passed, but regular container created fine because template adds emptydir volume.

[2017-12-12 20:16] thrasher-redhat opened #6724 "Confusing note about nodejs versions"
https://docs.openshift.com/online/using_images/s2i_images/nodejs.html#nodejs-versions

This sections says:

Which is then immediately followed by an important notice box:

This is confusing.  It seems to imply that nodejs 0.10 is provided by Openshift Online v2, and that this documentation applies to v2 as well.  If 0.10 is depreciated and no longer available, shouldn't it simply be removed from t

[2017-12-12 20:16] thrasher-redhat commented on #6724
@ahardin-rh FYI

[2017-12-12 20:25] spadgett opened #6726 "Advanced Installation logging variable incorrect"
The logging variable documented here looks incorrect.

https://docs.openshift.org/latest/install_config/install/advanced_install.html#advanced-install-cluster-logging

This is documented:

[code]

but I believe it should be

[code]

cc @ahardin-rh @jcantrill

[2017-12-12 20:27] spadgett commented on #6726
@jcantrill Is it really true by default?

https://github.com/openshift/openshift-ansible/blob/master/roles/openshift_logging/defaults/main.yml#L10

[2017-12-13 09:58] jtudelag opened #6743 "Har prunning images is available since 3.6. 3.4 and 3.5 does not support this feature."
Docs state that we support Hard Pruning images since 3.4, but It was shipped in 3.6.
So 3.4 and 3.5 don't have this feature.

We have to remove it from the docs.

- https://docs.openshift.com/container-platform/3.4/admin_guide/pruning_resources.html#hard-pruning-registry
- https://docs.openshift.com/container-platform/3.4/admin_guide/pruning_resources.html#hard-pruning-registry

As you can see her

[2017-12-13 09:59] #6743 closed

[2017-12-13 14:36] #5613 closed

[2017-12-13 19:27] thrasher-redhat opened #6754 "Minor link errors on 'using images' pages"
https://docs.openshift.com/online/using_images/s2i_images/customizing_s2i_images.html

At the end of this page, there is a link to "use `exec` for invoking it":

The "general-docker-guidelines" section doesn't exist.  It should perhaps be to:

https://docs.openshift.com/online/creating_images/guidelines.html#general-container-image-guidelines

[2017-12-13 19:27] thrasher-redhat commented on #6754
@ahardin-rh FYI

[2017-12-13 22:33] varac commented on #5208
Please update the docs to reflect recent (?) changes. I stumbled across the same problem like @php-coder  trying to follow https://docs.openshift.com/dedicated/admin_guide/manage_authorization_policy.html#viewing-local-policy.

[2017-12-14 01:59] dinhxuanvu opened #6761 "Update Docker/K8S external references URLs"
Under Creating Images - Guidelines [1] [2], even though Docker external references are still working as Docker redirects those URLs. However, there is no guarantee that it will continue to do that forever. As a result. those URLs should be updated to current valid URLs:

1. https://docs.docker.com/engine/userguide/basics/ -> https://docs.docker.com/engine/docker-overview/
2. https://docs.docker.co

[2017-12-14 01:59] dinhxuanvu commented on #6761
@ahardin-rh PTAL.

[2017-12-14 17:08] lancejjohnson opened #6764 "Warnings present in Origin docs missing in Online docs"
The Pods section in "pods and containers" of the online docs is missing the two warnings that are present in the Origin docs.

Compare:

* [Online](https://docs.openshift.com/online/architecture/core_concepts/pods_and_services.html#pods)
* [Origin](https://docs.openshift.org/latest/architecture/core_concepts/pods_and_services.html)

Origin has these warnings:

* > The recommended maximum number of

[2017-12-14 17:12] lancejjohnson opened #6765 "Incomplete sentence in Projects section of Online documentation"
The third to last sentence in the [Projects section of the Online docs](https://docs.openshift.com/online/architecture/core_concepts/projects_and_users.html#projects) is incomplete. It states:

The comparable sentence in the same section of the Origin docs has:

The link in the Origin documentation does not have a corresponding section in the Online documentation (that I could find anyway), so my

[2017-12-14 20:15] #6664 closed

[2017-12-14 20:35] thrasher-redhat commented on #6754
Adding on to this, the first link under https://docs.openshift.com/online/using_images/db_images/mysql.html#creating-a-database-service-from-a-template has a link to:

https://docs.openshift.com/online/dev_guide/templates.html#dev-guide-templates

Where the dev-guide-templates section doesn't exist.

[2017-12-14 20:46] damemi opened #6775 ""Web Browser Requirements" link for web console does not link to right section"
On https://docs.openshift.com/online/dev_guide/authentication.html, the link to "Browser Requirements" links to [1] when it should probably link to [2]

[1] https://docs.openshift.com/online/architecture/infrastructure_components/web_console.html#architecture-infrastructure-components-web-console

[2] https://docs.openshift.com/online/architecture/infrastructure_components/web_console.html#browser

[2017-12-14 20:58] thrasher-redhat opened #6779 "MongoDB link error"
In table 2 under the [environment variables](https://docs.openshift.com/online/using_images/db_images/mongodb.html#environment-variables) section, the link for `MONGODB_TEXT_SEARCH_ENABLED` is incorrect.  This link currently points to the mongodb v2.6 Text Indices page, however this variable is only available in v2.4.  The link should be updated to the one below:

https://docs.mongodb.com/v2.4/cor

[2017-12-14 20:58] thrasher-redhat commented on #6779
@ahardin-rh FYI

[2017-12-14 21:03] thrasher-redhat commented on #6754
On the [mongodb page](https://docs.openshift.com/online/using_images/db_images/mongodb.html#creating-a-database-service-from-a-template) the 'template' and 'instructions' links both link to the missing section:

https://docs.openshift.com/online/dev_guide/templates.html#dev-guide-templates

Likewise, the 'template' link in [this section](https://docs.openshift.com/online/using_images/db_images/mon

[2017-12-14 21:06] thrasher-redhat commented on #6754
On the [mariadb page](https://docs.openshift.com/online/using_images/db_images/mariadb.html#creating-database-service-from-template), the 'template' and 'instructions' links both link to the same page:

https://docs.openshift.com/online/dev_guide/templates.html#dev-guide-templates

[2017-12-14 21:07] damemi commented on #6775
@ahardin-rh

[2017-12-14 21:08] damemi opened #6781 "Authorization may not want to include cluster role info"
On https://docs.openshift.com/online/architecture/additional_concepts/authorization.html there is some info about cluster roles and cluster admins, which are probably not relevant to online users

@ahardin-rh

[2017-12-14 21:14] damemi opened #6783 "Broken link on Persistent Storage docs"
https://docs.openshift.com/online/architecture/additional_concepts/storage.html contains 2 links to https://github.com/kubernetes/kubernetes/blob/master/docs/design/resources.md, which does not exist

@ahardin-rh

[2017-12-14 21:17] thrasher-redhat commented on #6754
On the [jenkins images page](https://docs.openshift.com/online/using_images/other_images/jenkins.html#jenkins-creating-jenkins-service-from-template), the 'template' and 'instantiate' links both point to the same incorrect section:

https://docs.openshift.com/online/dev_guide/templates.html#dev-guide-templates

[2017-12-14 21:19] damemi opened #6784 "Broken link on "Other API Objects" page"
https://docs.openshift.com/online/architecture/additional_concepts/other_api_objects.html contains a link to https://github.com/kubernetes/kubernetes/blob/master/docs/design/admission_control_limit_range.md, which does not exist

@ahardin-rh

[2017-12-14 21:44] jamiejackson opened #6786 "Basic Walkthrough - Scaling Issue"
https://docs.openshift.com/online/getting_started/basic_walkthrough.html#bw-scaling-the-app

Which is it? This is confusing to a noob. Should I be able to scale the up to 3 replicas as a free tier user? (Because I can't seem to.)

\* Note `Stater` typo, too.

[2017-12-14 22:37] ahardin-rh commented on #6786
@jamiejackson Thanks for this!

@markturansky @tiwillia can you please offer guidance on how I should update the docs? Thanks!